[2018-09-20 03:20] ryanfitzer opened #1144 "Isolating RSG Dependencies from Root package.json"
I'd like to keep the dependencies that I use for RSG separate from my root `package.json`. Doing so results in a ` FAIL  Failed to compile` error.

My basic directory looks like the following:

[code]

When RSG and `styleguide.config.js` are in the root, everything works fine. But when installed in a subfolder, I'm not able to compile jsx:

[code]

I've looked through all the config options but I

[2018-09-20 06:57] sapegin commented on #750
I think your approach with extension checking is the right one!

[2018-09-20 06:59] sapegin commented on #750
I'm not sure about that after looking at the code ;-/

[2018-09-20 07:05] sapegin commented on #1143
I guess it's TypeScript specific, that it shows this error, but anyway your solutions sounds good. I think we can set a flag here to know that it's a recompilation:

https://github.com/styleguidist/react-styleguidist/blob/dbb690241a6a5d273573287861bf1885e775194b/bin/styleguidist.js#L149

But I'd also check what we have in `stats` here, maybe webpack sends this information already:

https://github.

[2018-09-20 07:06] sapegin commented on #1143
And yeah, feel free to send a pull request, it would be awesome!

[2018-09-20 07:07] sapegin commented on #1144
How do you run Styleguidst? I think you need to `cd` to that folder first:

[code]

[2018-09-20 07:11] okonet commented on #750
Yep, we should resolve the path carefully.

[2018-09-20 07:32] ryanfitzer commented on #1144
I forgot to mention that am running the command from that directory.

[2018-09-20 07:56] sapegin commented on #1144
Styleguidist doesn't have any relation to babel, it's your project's Babel that you have in your project's webpack config, so you should debug that.

I don't know what problem you're trying to solve with a separate `package.json` though — personally I'd start here, you likely don't need it ;-)

[2018-09-20 07:59] #1137 closed

[2018-09-20 08:07] #1129 closed

[2018-09-20 08:09] sapegin commented on #1123
I'm rereading this and shouldn't we just ignore this plugin as we ignore `html-webpack-plugin`?

[2018-09-20 08:09] #1119 closed

[2018-09-20 08:09] sapegin commented on #1106
I'm going to close this for now, feel free to open a more actionable issue, or better send a pull request.

[2018-09-20 08:10] #1083 closed

[2018-09-20 08:11] sapegin opened #1145 "Make page per section configuration less confusing"
We have quite a lot of issues related to sections configuration, especially the new `sectionDepth` option. It seems hard to understand (and honestly I don't understand it too).

@okonet @bebraw @rafaesc How can we improve this API? It would probably make more sense to have an option on each section that will define whether this section should be rendered with all subsections or not. But I don't ha

[2018-09-20 11:20] gazpachu opened #1146 "Local server not working with styled component"
[code]

`<Container>` is a styled-component:

[code]

I've tried adding `/** @component */` as per [the docs](https://react-styleguidist.js.org/docs/thirdparties.html#styled-components) and other things but no luck :/

Any ideas?

[2018-09-20 11:46] sapegin commented on #1145
Yeah, I like it too! I think `codeSamples` and `propsMethods` are already working this way, so we should make `separatePage` work the same way.

[2018-09-20 11:47] sapegin commented on #1146
The error message may be the key what to do:

[2018-09-20 11:57] okonet commented on #1145
After thinking about it a bit more I think the root problem is with naming of `sections`. Also the fact that `components` property "generates" sections per component makes the whole more complex.

What if instead of bolting this on top of current structure we would introduce `pages` concept to styleguidist? Pages would become distinguished and uniq URLs automatically. Example:

[code]

Another thi

[2018-09-20 11:59] sapegin commented on #1145
I like the idea of starting from an ideal API, if we're going to make a breaking change anyway.

[2018-09-20 12:03] okonet commented on #1145
@sapegin do you have something in mind? What about my proposal with `pages` and `sections`? One problem I can see already is that it can be tricky to mix `pages` and `sections` inside one `page` for example...

[2018-09-20 12:35] bbr-yp commented on #1108
@MrKou47  Have you done it?
I have the same issue... And I'm a little stuck :/

Your help would be greatly appreciated.

[2018-09-20 12:45] sapegin commented on #1145
I'm not really sure what's the difference between page and section ;-/

[2018-09-20 13:28] okonet commented on #1145
We can change the names if we feel they don’t fit but my idea was to distinguish between isolated pages and parts of one page (anchors)

[2018-09-20 15:18] gazpachu commented on #1146
I don't think there's any issue with the loaders, as it works fine when I don't use a symbolic link to the place where the components are. Plus it's a styled-component, what could possibly a webpack loader do with it that cannot do already?

[2018-09-20 15:22] #1146 closed, assigned to nobody

[2018-09-20 15:27] n8agrin commented on #1143
@sapegin I started a vanilla JS create-react-app and Styleguidist and now see what you mean about this only being an issue with Typescript. I'm guessing it might be the way ts-loader raises messages. I'll start there before modifying Styleguidist and see if I can fix the problem at the loader layer first.

[2018-09-20 15:28] MrKou47 commented on #1108
@bbr-yp aha, I used the `React.createContext` api to achieve switch components theme use global theme switch button.All of my components will be wrapped in a hoc component,and this component can get the theme prop form the `window.location.query` and update theme context. Then i customize <SideBar /> component for switch global theme,just redirect website, like `http://mycomponent.com?theme=light`

[2018-09-20 19:08] tmf commented on #910
Hi everyone,
I just ran into the same issue...
https://github.com/styleguidist/react-styleguidist/issues/910#issuecomment-377588489 did have 2 deprecation warnings: at `react-styleguidist\scripts\utils\StyleguidistOptionsPlugin.js:15:12` and `html-webpack-plugin\lib\compiler.js:48:17`.
I get an additional warning with:
[code]
so, according to https://webpack.js.org/api/compilation-hooks/
https://g

[2018-09-20 19:55] omninonsense opened #1147 "No way to annotate `styled-components` prop types with flow alone"
### The problem

When using `styled-components` and flow, there is no way to document prop types (that I am aware off).

What I have tried:

[code]

`Hello.defaultProps` works to an extent - It creates the "props and methods" table with names and defaults, but no types or descriptions.

---

This example works fine, but it requires creating an "useless" component solely for the purpose of document

[2018-09-21 01:45] ryanfitzer commented on #1144
@sapegin Thanks for your quick responses!

For some reason, I assumed that Styleguidist was responsible for loading the root Babel config, even though this is not stated anywhere in the documentation. Once I realized that, I updated `styleguide/styleguide.config.js` to set the `babel-loader` `root` option correctly and everything worked:

[code]

[2018-09-21 01:45] #1144 closed

[2018-09-21 04:37] rafaesc commented on #1145
I agree with `separatePage` approach, it will be easier to understand with a boolean flag.

Although I would like to standard the name of pages, sections, content and components.

[2018-09-21 06:41] sapegin commented on #1147
I don't really see how we can detect which type are you using to describe component props. So maybe something like this could work:

[code]

But I don't know how to implement that, so will appreciate any help.

[2018-09-21 06:45] sapegin commented on #1145
@okonet So your idea is that the page is a separate route with a separate URL and pages can have sections inside and sections are headings with anchors inside a page? And we're replacing `sections` config option with `pages`? If my understanding is correct, then I like the idea ;-)

We'll need to fit external links somehow into this model.

[2018-09-21 09:34] omninonsense commented on #1147
I am aware there's no way to detect the flow type being used. That is why one of the suggestions was to simply expose the props described in JSDoc comments via `@arg`/`@param`, which would have special meaning in conjugation with `/** @component */`.

I like this idea a lot! A more succinct way might be  `/** @component Props */`. I wonder how difficult that would be to implement.

[2018-09-21 09:34] omninonsense commented on #1147
Another idea is to have another JSDoc tag called `/** @props */`, used like this:

[code]

[2018-09-21 09:39] omninonsense commented on #1147
BTW, I realise this is _quite_ an uncommon edge case. Also, there is an easy workaround of wrapping the styled component into a functional component.

So, I won't be too surprise if the issue gets put on the back burner or even closed. :)

[2018-09-21 13:19] omninonsense commented on #1147
Ah, this issue is closely related to #1104.

[2018-09-24 22:19] elevatebart commented on #127
@artola a quick serch in github just in case put me [here](https://github.com/alfa-laboratory/arui-feather/blob/master/styleguide.config.js)

[2018-09-24 22:27] artola commented on #127
@elevatebart Thanks a lot!

[2018-09-24 23:30] tizmagik commented on #127
@konradk wow that is a really beautiful styleguide -- mind sharing the config/customizations you made for that? I especially like how the sample code is offset to the right column like that. 😍

[2018-09-25 14:30] gazpachu opened #1150 "Ref not working in example"
I've been following [this example](https://github.com/styleguidist/react-styleguidist/blob/master/docs/Cookbook.md#how-to-use-refs-in-examples) but I always get `undefined` on the console.log of the `example` ref. What could be wrong?

[code]

[2018-09-25 14:48] pawelogrodnik opened #1151 "I have error regarding redux store being undefined even through it works okay in APP i'm making documentation for."
Hey folks,
I'm using your flawless package with typescript and redux
Looks like redux store is the main problem  but I cant figure it out how to fix it.

![zrzut ekranu 2018-09-25 o 16 47 39](https://user-images.githubusercontent.com/13498275/46022374-c2508980-c0e2-11e8-8a04-604d37aa6ffe.png)

Server compilation runs okay, no error here, but after it starts I am getting following error in browser'

[2018-09-25 20:19] mealeyst commented on #127
I have been slowly migrating our react components to styled components and I am using styleguidist to have easy to view documentation for our components!

https://mealeyst.github.io/mirage/

[2018-09-25 20:57] mealeyst commented on #127
I am starting to move our components at our organization over to styled components and I am using styleguidist as our organization's pattern library.

https://rocketsofawesome.github.io/mirage/

[2018-09-26 08:52] sapegin commented on #1150
My guess that it _is_ undefined when you render the tooltip. In the cookbook example we access the ref inside the click handler, not in the render.

I'd try to create a class component inside an example — it may help.

[2018-09-26 08:54] sapegin commented on #1151
No idea, and unless you make a repro, I wouldn't be able to say anything useful.

[2018-09-26 08:55] sapegin commented on #1151
I've also replaced “guys” with “folks” in your comment — please use more inclusive language, some folks my consider “guys” offensive.

[2018-09-26 10:47] pawelogrodnik commented on #1151
Hey,
that's repository with error
https://github.com/pawelogrodnik/styleguidist-err
As I noticed, the Map Component is causing this error.

[2018-09-26 14:36] afraser opened #1152 "resolver not invoked when propsParser is provided"
I'm writing a thin wrapper around MaterialUI in TypeScript. I've managed to get react-styleguidist working happily enough _except_ for parsing out props/interfaces.

As soon as I add the following to my config:
[code]
all components that are wrapped in the MUI `withStyles` HOC stop appearing in styleguidist.

So I added the following hoping I could figure out how to fix the component resolution my

[2018-09-26 14:55] afraser commented on #1152
Nevermind, managed to get props to show by typing the result of `withStyles`:

[code]

[2018-09-26 14:55] #1152 closed

[2018-09-27 19:44] siddharthkp commented on #917
@peroperje react-docgen only understands React components (not styled components)

Reference: https://github.com/styled-components/styled-components/issues/945

TL;DR: You'd have to use like this:

[code]

[2018-09-28 10:49] gazpachu commented on #1150
Thanks, that worked!

[code]

[2018-09-28 10:49] #1150 closed

[2018-09-30 10:51] jochec opened #1153 "Can't install using npm"
I am not able to install react-styleguidist using `npm install --save-dev react-styleguidist` with following error:
`npm ERR! code E404
npm ERR! 404 Not Found: styleguidist@latest
`
Installing other packages works without problem. I have tried to remove node_modules and install them all again, but with no luck.

Full npm log:
[2018-09-30T10_44_51_768Z-debug.log](https://github.com/styleguidist/rea

[2018-10-02 05:13] teddybradford opened #1155 "Request: Hide "Props & Methods" button and table for components with no props"
**The problem**

For components that have no props, I don't think there's any reason to show a blank props table nor the "Props & Methods" button.

e.g.:
<img width="946" alt="image" src="https://user-images.githubusercontent.com/3684553/46330126-550b8f80-c5df-11e8-9ca7-41c72c495e82.png">

**Proposed solution**

Hide the "Props & Methods" button and table if the component has no props defined.

**

[2018-10-02 08:26] yoerivdm opened #1156 "Component naming clash"
I have a component named Date.jsx ... just found out the name is causing an error while starting Styleguidist:

I placed a breakpoint which leads me to:
![image](https://user-images.githubusercontent.com/2699806/46337029-cfaecc00-c62c-11e8-9f92-2f825bba439f.png)

When hovering Dat in the closure, it says Date.jsx which is a ref to a component instead of to the built-in Dat object.

I didn't find n

[2018-10-02 13:12] sapegin commented on #1153
Please report issues with npm to npm.

[2018-10-02 13:12] #1153 closed

[2018-10-02 13:13] sapegin commented on #1155
Feel free to send a pull request to fix that ;-)

[2018-10-02 13:14] sapegin commented on #1156
This will be fixed in the next major release.

[2018-10-02 15:35] teddybradford commented on #1155
@sapegin If I can find some time I'll take a stab at it. Do you know if this bug occurs in JS environments as well as TypeScript ones?

[2018-10-02 20:20] sapegin commented on #1155
I believe it's TypeScript only — likely react-docgen returns different data.

[2018-10-02 20:43] akramer24 opened #1157 "Problem displaying components in section where one component shares section name"
I have a section named `Form`, which has several components. One component is named `Form.js`. No matter which component I click on in the sidebar, I always see `Form.js` and not the component I'd expect. The URL changes accordingly but the page does not (pictured at the bottom). For other sections, I have no problem rendering the appropriate component documentation.

This is my config for the `Fo

[2018-10-03 10:20] catamphetamine commented on #874
So, the solution would be:

[code]

But it throws:

chunk main [entry]
build/bundle.js
Conflict: Multiple assets emit to the same filename build/bundle.js

I guess there's no way then.

[2018-10-03 10:27] vysinsky commented on #765
Hi, did you solve the problem? I have similar problem when running styleguide inside docker (via docker-compose).

It loads main.bundle.js for about 50 seconds. When I reload the page it looks like it transpiles it again.

Without docker it is loaded in half a second.

What is weird that after some time (few minutes) it loads quickly also in Docker image. I don't understand it...

[2018-10-03 17:08] sapegin commented on #1155
I guess it's just not smart enough, and is triggered by using the `props` name. Maybe we can use `_.isEmpty` here instead of `Array.isArray` and the length check.

[2018-10-03 17:12] teddybradford commented on #1155
Ah, okay. I'll give that a try.

[2018-10-03 17:27] teddybradford commented on #1155
It worked! Thanks for suggesting to use `_.isEmpty`. I've made a PR with the changes.

[2018-10-04 05:44] #1155 closed

[2018-10-04 13:28] jklemm commented on #915
Is this PR related to this warnings?

[code]

I'm using `webpack==4.17.2`, `webpack-dev-server==3.1.9`.

[2018-10-05 01:43] ProLoser opened #1159 "react-native example for Babel 7.x"
The example is for Babel 6.x and unfortunately half the install targets in the example will be for Babel 7.x and the other half for 6.x

It would be nice if we either updated the example to work with the latest babel version or documented what dependencies are needed for use with babel 6

For example there's now `metro-react-native-babel-preset`, `@babel/core`, `@babel/preset-env` and other variat

[2018-10-05 14:05] sapegin commented on #1159
Feel free to send a pull request with updates!

[2018-10-05 16:15] arshadkazmi42 commented on #1141
I am taking this up

[2018-10-05 17:30] arshadkazmi42 commented on #1141
@sapegin I have made the changes you suggested, but many test cases are failing. Below is the error message and code changes snapshots

<img width="1680" alt="screen shot 2018-10-05 at 10 58 14 pm" src="https://user-images.githubusercontent.com/4654382/46550334-5ba54a00-c8f2-11e8-90b3-8a5a6d649950.png">
<img width="719" alt="screen shot 2018-10-05 at 10 58 27 pm" src="https://user-images.githubuse

[2018-10-05 17:47] sapegin commented on #1141
@arshadkazmi42 It's impossible to see what changes you did on these screenshots and why other five tests are failing. The first failure: if this changes is desired, you need to updated the snapshot — https://github.com/styleguidist/react-styleguidist/blob/master/.github/Contributing.md#development-workflow

[2018-10-05 17:51] arshadkazmi42 commented on #1141
@sapegin updating the snapshot fixed it. all tests are passing now. creating a PR

[2018-10-05 17:57] arshadkazmi42 commented on #1141
Oh. I think I created a branch from `master`, it was supposed to be from `next` thats why its giving these many conflicts.

Is there a way to update that? Or should I go for a new PR?

[2018-10-05 18:51] DavidHenri008 opened #1162 "CRA 2.0 generates a warning"
**Current behavior**

When I call the `yarn styleguide` the styleguidist process is launched but I get the following warning message:

According to the documentation, since I am using create-react-app the config should be "already included".
As a note, my application is based on create-react-app but I ejected it. However, I did not made major changes to the webpack config.

**To reproduce**

1- Cr

[2018-10-05 19:12] sapegin commented on #1162
Feel free to send a pull request with a fix.

[2018-10-05 19:41] sapegin commented on #1145
@yakunins What issues do you see with the current implementation of the `href` option?

[2018-10-05 20:43] DavidHenri008 commented on #1162
Well I'd like to but I am fairly new to webpack and react and I have no idea of the root cause. Moreover, at the moment styleguidist throws an error with my setup (cra 2.0) and I want to try a bit more before filing a new issue.

[2018-10-06 00:35] SavePointSam commented on #915
Create React App 2.0 has been released with Webpack 4 support.

[2018-10-06 04:39] jsg2021 opened #1164 "[Feature] Source examples from jsdoc comment code blocks"
This project is awesome. Thank you for this!

It would be cool if we could write examples in a jsdoc code block in the class comment block instead of needing to make a sibling markdown file. Some examples are very short, making the markdown file feel silly. 😊

Again, this tool is amazing!

[2018-10-06 11:49] viljamis commented on #1145
@sapegin This sounds like a good idea. Even though I’ve been now using `sectionDepth` option extensively (or I think so at least) on Vue Design System, I still don’t always quite understand what it is supposed to do as using f.ex. the `components` option always anyway adds another level of “depth” even when I don’t want it to.

[2018-10-08 11:38] danvoyce commented on #327
Has any body had any luck with moving this forward? This is my first time playing with Styleguidist and this seems like such an obvious feature that is missing, unless I'm missing something?

[2018-10-08 13:38] sapegin commented on #1164
I guess you can extend the `@example` tag to support code:

https://react-styleguidist.js.org/docs/documenting#external-examples-using-doclet-tags

[2018-10-08 13:44] danvoyce commented on #327
Why is this marked as off topic?

[2018-10-08 13:53] sapegin commented on #327
This doesn't adds anything to the discussion and generates lots of spam emails to everyone subscribed to issue. I'm locking the issue now. Feel free to send a pull request or open a new, more constructive, issue.

[2018-10-08 14:08] jsg2021 commented on #1164
I was imagining something like this:
[code]

The docs for `@example` show it pointing to another file. Which is fine, but this feature request is about inlining the example with the component.:)

[2018-10-08 18:56] benwiley4000 opened #1168 ""you can't wrap the whole styleguide""
**The problem**

The docs say ["you can't wrap the whole styleguide because every example is compiled separately in a browser"](https://github.com/styleguidist/react-styleguidist/commit/ad96db8f6587bdbdee97fa724d3d3d6c937e3b7b#diff-1e290ac8433d555bce009b162cb869d0R267). How dramatic of a change would it be to change this so you *can* wrap the whole styleguide? I would *really* like to be able to d

[2018-10-08 18:59] benwiley4000 commented on #1168
Hm, actually it seems like this works, haha.

[2018-10-08 20:13] sapegin commented on #1164
That's what I'm saying: if you need that, you _can_ make `@example` tag to support code, not just a path.

[2018-10-08 20:59] benwiley4000 commented on #1168
Hmm, so my original problem turned out to be that I just wasn't overriding components correctly, but contrary to what I said earlier, the flagged issue isn't fixed. The note in the docs is correct.

I was able to hack around this using some global variables. But it would be great if there could be first class support for this sort of thing.

[2018-10-09 09:00] yakunins commented on #1145
@sapegin It is not issues, looks more like features... Tested!

- [x] href="#section" (works fine)
- [x] href="http://google.com" (works fine)
- [x] href="http://google.com" external: true (works fine)
- [ ] href=false (not a plain text, renders href="#/name" instead)
- [ ] href="" (not good, renders href="#/name" instead)

[2018-10-09 11:36] okonet commented on #1145
@yakunins I like the idea with `href` especially the fact it already exists and doesn't need a breaking change. Am I correct in thinking that it will cover all edge cases? Can you post an example config?

[2018-10-09 12:38] sapegin commented on #1168
If you know a way to do that without changing _each example is a separate React app_, feel free to send a pull request ;-)

[2018-10-09 12:52] yakunins commented on #1145
Privet, @okonet!

That what I wish to have:
[code]
Some examples of plain text sections:

-   https://www.audi.com/ci/en/renewed-brand.html#
-   https://react.semantic-ui.com/

Collapsable sections headers:
-  http://carbondesignsystem.com/
-  https://www.lightningdesignsystem.com/getting-started/

[2018-10-09 13:37] benwiley4000 commented on #1168
Aha - I guess the isolation is intentional. Nevermind then! :)

[2018-10-09 13:37] #1168 closed

[2018-10-09 13:42] DavidHenri008 opened #1169 "Examples not found"
**Current behavior**
In some conditions, the examples are not found by Styleguidist.

The examples are found when:
- the component filename is ComponentName.js and the example filename is ComponentName.md
- the component filename is index.js and the example filename is Readme.md

The examples are **not** found when:
- the component filename is index.js and the example filename is ComponentName.md

[2018-10-09 14:10] DavidHenri008 commented on #1162
I finally figured this out...
First, it has nothing to do with CRA 2.0, the issue was reproducible with CRA 1.0.
The issue is related with the ejected CRA. Once ejected the webpack config cannot be found.
The solution is simple: add a styleguidist config file `styleguide.config.js` with the following content:
[code]

[2018-10-09 14:10] #1162 closed

[2018-10-10 12:32] DavidHenri008 commented on #1169
I will add a demo today.
Thanks.

[2018-10-10 14:07] DavidHenri008 commented on #1169
@sapegin I added a link to a fork in the **To reproduce** section of my initial entry.

[2018-10-11 09:34] jkarttunen opened #1170 "Documenting design systems: Support for tabs in component pages / more examples for layouts"
**The problem**

When using styleguidist for design system docs, not just as a component library, there is a lot of additional content that one want's to add to styleguidist.  See article from Nathan Curtis here: https://medium.com/eightshapes-llc/documenting-components-9fe59b80c015
Styleguidist default templates are a bit tuned towards documenting component api and code examples. Eg. having props

[2018-10-12 04:05] unknown24 opened #1172 "How to use multiple export component?"
How to use multiple export component in same file?
Why only take single component per file?

For example:
[code]

[2018-10-12 06:52] jgillick commented on #1164
@jsg2021 I'm also interested in this and have started looking into how to update the code to make this work (I'm stuck at getting around the loaders). Are you trying to do the same? We could collaborate.

[2018-10-12 10:46] jgillick commented on #1164
The challenge I'm running into is to run the source code through the `example-loader` and have the result of that rendered in the examples.

Doing this, the `example-loader` function returns a string which is expected to be processed by `require`. So now I need to figure out how to appropriately execute this code. When I try to just run it through an `eval`, it throws the exception `this.props.eva

[2018-10-12 13:15] sapegin commented on #1172
For now you can't, at least you can't have props table for each component, though you can use multiple components in examples.

[2018-10-12 13:15] #1172 closed

[2018-10-12 13:39] jsg2021 commented on #1164
I haven't looked into it. I've been happy with the external example file so far.

[2018-10-12 14:48] jgillick commented on #1164
If you're interested, I've gotten over the hurdle. Here's the rough version of the update, so far (I still need to clean it up and add unit tests and such):
https://github.com/styleguidist/react-styleguidist/pull/1171/files

[2018-10-12 15:48] tomi commented on #1164
This would be very beneficial for me as well.

[2018-10-13 15:08] eragon512 commented on #1170
hey, is this issue available? I'd like to take it up

[2018-10-13 15:34] eragon512 commented on #1159
hey, is this issue available? if so, id like to take it up

[2018-10-14 07:13] eragon512 commented on #1170
@sapegin i am assuming from the links given that the new doc page should have 3 sections - colors, whitespace and typography.
However, I'm not sure what each section should contain.

[2018-10-14 21:27] avionbg commented on #1164
@jgillick your code breaks styleguidist markdown formatting, for example ```` ```jsx static / noeditor ```` doesn't work any more. Beside that there is no simple way to just show example code without rendering it in react (one could make an example like ```` ```html````, but that has another side-effect, examples are displayed twice. Only solution to this issues is to add an flag to the examples,

[2018-10-14 21:32] jgillick commented on #1164
@avionbg Thanks for the feedback. The code is still just a working prototype. I'll give your suggestions a try this week.

Also, if anyone wants to assist me with this feature enhancement, I would love the help.

[2018-10-15 06:57] avionbg commented on #1164
@jgillick if you need any help or feedback just let me know, I like the idea of inline examples.

[2018-10-15 13:56] akramer24 commented on #1157
Can anyone please help? @sapegin?

[2018-10-16 06:57] #1159 closed

[2018-10-16 07:25] sapegin opened #1175 "Upgrade / replace uglifyjs-webpack-plugin"
uglifyjs-webpack-plugin 1.x (the version we use) uses uglify-es, which is [no longer maintained](https://github.com/mishoo/UglifyJS2/issues/3156#issuecomment-392943058). uglifyjs-webpack-plugin 2.x uses uglify-js again. We can't upgrade to this version because it'll fail on ES6 syntax, and such things shouldn't be hardcoded.

So the most promising option is to migrate to [terser-webpack-plugin](ht

[2018-10-16 09:55] okonet commented on #1145
First of all, I don't like the presence of `pagePerSection` and `sectionDepth`. That's exactly the reason this issue exist.

Try answering the following question: What would be your preferred way of doing this if you could start from scratch?

To me, this still feels ambiguous: what exactly `href: false` is affecting? The page `Visual`? So how do I navigate there?

[2018-10-16 13:25] Ziinc opened #1176 "Hot Reload not working on 7.3.10"
**Current behavior**
Browser does not reload automatically upon editing a file and saving.

Webpack compile is shown and successful.

However, browser does not refresh to show changes, and requires either:
- restart of dev server
- refresh of page

The only solution I have found is to pin the react-styleguidist version to `7.1.0`

**To reproduce**
example repo: https://github.com/Ziinc/example

**

[2018-10-16 19:29] matthew-dean opened #1177 "Latest react-styleguidist only works with a very narrow dependency on react-docgen"
**Current behavior**

Since updating Styleguidist to the latest version, I've been getting these errors:

[code]
I found that if I tried a different react-docgen dependency, (Beta 6 AND RC 1), they both fail.

**To reproduce**

Run `npm install react-docgen@3.0.0-rc.1`. Try to build the Styleguide

**Expected behavior**

Styleguidist should work with newer versions of react-docgen other than just

[2018-10-16 19:39] matthew-dean commented on #1177
Confirmed (by installing different versions of Styleguidist) that Styleguidist started failing with versions of react-docgen other than beta12 at react-styleguidist version 7.1. 7.0 does not have this issue.

[2018-10-17 06:52] sapegin commented on #1177
Not sure we can do anything on our side ;-/

[2018-10-17 15:18] testower commented on #764
I'm unable to view styleguidist in IE11. Any pointers? The workaround here doesn't work for me either: https://github.com/styleguidist/react-styleguidist/issues/764#issuecomment-357543200

[2018-10-17 15:21] joeljeske commented on #1075
I agree is a problem, although I do not necessarily like the proposed solution. I do not want to have to `require()` or `import` each other component that I want. Additionally, I think it would be expected that it this pseudo-loader works exactly like the user's configured loader which of course is not realistic given the vast array of loader configurations. Because it likely cannot work exactly t

[2018-10-17 15:38] sapegin commented on #1075
I don't know what you mean by _pseudo-loader_, it uses webpack loaders of your project. Nothing has changed here.

[2018-10-17 16:58] matthew-dean commented on #1177
@sapegin Well, maybe. But Styleguidist 7.0 didn't have this issue. So, yes, it may be a `react-docgen` bug, but 7.0 didn't trigger it, or Styleguidist is calling something in `react-docgen` which is causing an error, but only for those other versions. So that could be something to look at; what changed after 7.0. Because, considering `react-docgen` is on RC1, it's likely that this will continue to

[2018-10-17 19:43] joeljeske commented on #1075
I don’t know if it’s fair to say that it is very minor, I think it depends on the architecture of the given project. In a component centered framework, (especially when using css in js patterns) I think it can be more common to have a file that exports multiple components, especially those that are very small and work together and therefore should be documented together.

Examples

- text typograp

[2018-10-17 20:03] AndreyGladkov commented on #915
Remove webpack-dev-server warning https://github.com/styleguidist/react-styleguidist/pull/1180

[2018-10-18 12:53] #1175 closed

[2018-10-22 09:33] philiiiiiipp opened #1181 "Updating from 7.3.10 to 7.3.11 throws ReferenceError: returntrue is not defined"
**Current behavior**

After updating from 7.3.10 to 7.3.11 I see this error when going to the our styleguidist website.

[code]

the console is also full of them:

[code]
I double verified, it works with 7.3.10 but not with 7.3.11.

**To reproduce**

I am not sure what triggered this other than the update. The examples seem to work fine.

We are using:
[code]

Let me know what other information I

[2018-10-22 09:44] philiiiiiipp opened #1182 "Updating from 7.3.10 to 7.3.11 throws ReferenceError: returntrue is not defined"
**Current behavior**

After updating from 7.3.10 to 7.3.11 I see this error when going to the our styleguidist website.

[code]

the console is also full of them:

[code]
I double verified, it works with 7.3.10 but not with 7.3.11.

**To reproduce**

I am not sure what triggered this other than the update. The examples seem to work fine.

We are using:
[code]

Let me know what other information I

[2018-10-22 12:38] boxcee commented on #1182
You have duplicated the issue.

[2018-10-22 20:29] stonebk commented on #1181
This only appears to be an issue with `webpack@4.22.0`. Using `webpack@4.21.0` seems to work.

[2018-10-22 23:53] ammmze commented on #1181
Pinning webpack back to `4.21.0 also worked for me. (Also had to pin buble to `0.19.4`...currently `0.19.5` is causing a different [issue](https://github.com/Rich-Harris/buble/issues/159))

[2018-10-23 06:43] sajadweb opened #1183 "Problem using "emotion""
I use the components of "emotion"
1. example one
[code]
2. example two
[code]
and output
## StyledOtherComponent
```src\components\Alert\Alert.tsx```
### React component example:
```ReferenceError: Alert is not defined```
view code
[code]

If I use this, the output is correct
3. example three
[code]
## There's a way I can use the example two or just use the example three?

[2018-10-23 07:27] philiiiiiipp commented on #1182
Sorry, I think this was during the GitHub outage madness.

Closing this in favour of #1181

[2018-10-23 07:27] #1182 closed

[2018-10-23 07:35] sajadweb commented on #1183
@sapegin why?

[2018-10-23 07:53] sapegin commented on #1183
You've ignored important parts of the issue template.

[2018-10-23 08:04] #1176 closed

[2018-10-23 08:29] sapegin commented on #1123
Looks like the issue was fixed on the CRA side, so closing it.

[2018-10-23 08:29] #1123 closed

[2018-10-23 08:37] sapegin commented on #1151
This should be fixed in the next next major release.

[2018-10-23 08:41] sapegin commented on #1028
This is expected behavior, see more details here:

https://react-styleguidist.js.org/docs/development.html#styles-1

[2018-10-23 08:41] #1028 closed

[2018-10-23 11:17] eemeli commented on #1181
Pinning webpack isn't working for me. For a proper fix (which works at least with react-styleguidist 8.0.0), you need to pin its `markdown-to-jxs` dependency to 6.7.4 or earlier, as its 6.8 release added an (undocumented!) output minification step that's causing this issue.

The upstream issue probablyup/markdown-to-jsx#224 was closed, probably incorrectly. Not really sure what's the original sour

[2018-10-23 13:03] marcofugaro commented on #1123
@sapegin does react-styleguidist support webpack 4 now?

[2018-10-23 15:13] ruchern commented on #936
@gergely-nagy I tried with `portfinder` and am unable to increment the port if the previous port is used. There seems to be a Promise issue where the styleguidst server will finish launching the server before the Promise could finish. Would you like to help me on this?

[2018-10-23 17:20] probablyup commented on #1181
Hi folks, please try markdown-to-jsx 6.8.2

[2018-10-24 06:40] danez commented on #1177
Can anyone share an example of a file which fails? I tried reproducing this error in react-docgen, but so far had no luck.

[2018-10-24 06:42] sapegin commented on #914
Could you publish a demo project? I don't know what's html-webpack-plugin-before-html-processing but it's something from your project, not styleguidist.

[2018-10-24 16:28] yorthehunter commented on #1181
Pinning `markdown-to-jsx` to `6.8.2` worked for me.

FYI, here's what it looks like in my `package.json` (I'm using Yarn):

[code]

[2018-10-25 04:33] probablyup commented on #1181
@sapegin this can be closed now - definitely fixed with 6.8.2

[2018-10-25 06:50] #1181 closed

[2018-10-25 12:43] jkarttunen opened #1186 "Highlight currently selected page on sidebar"
**The problem**

On styleguides with a lot of content, it easy to get lost on where you were on the sidebar.

**Proposed solution**

A minimum useful solution would be highlighting (e.g. using background color) the currently selected page.

**Alternative solutions**

Related solutions would be
- Supporting collapsible sections to enable better browsing of the main sections only.
- Scrolling the si

[2018-10-25 13:55] sapegin commented on #1186
Feel free to send a pull request for that! ;-)

[2018-10-25 16:18] Spenc84 opened #1187 "Support for anchor tags within page per section"
Hi I've gone through all of your documentation multiple times and searched the web quite extensively and have not been able to find an answer to the following question:

With page per section enabled, while on a component's page, how do you link to anchor tags on that page?

Some of our components have quite a bit of documentation and it would be really helpful to be able to display links at the t

[2018-10-26 06:31] sapegin commented on #1187
I think your feedback will be useful in this issue — #1145. Page per section feature is far from perfect now.

[2018-10-26 06:47] #1169 closed

[2018-10-26 20:04] akramer24 commented on #1157
@sapegin here's the reproduced problem https://github.com/akramer24/example

[2018-10-26 22:31] Spenc84 commented on #1145
@okonet If I am understanding @yakunins correctly, href: false would mean that the section title 'Visual' would still appear in the sidebar with various components listed under it, but clicking on the word 'Visual' wouldn't do anything since 'Visual' itself doesn't have any content of it's own other than the Components listed under it which in this case seem to each have pages of their own.

I per

[2018-10-29 10:42] tomasruud opened #1188 "Create React App + Hot Reloading not working?"
**Current behavior**
When I try to use react-styleguidist with CRA, without changing the config, it seems like hot reloading are not working properly. Whenever I update my code, I am able to see the source refresh in the inspector, but nothing changes on the page. However, when I add
[code]
to my styleguide-config file, it's working as expected.

**To reproduce**
Here are my current set of depende

[2018-10-29 13:57] gazpachu commented on #720
I've just run on this one too. The fix worked but I still get this error `TypeError: styled is not a function`.  The module is loading correctly using `const styled = require('styled-components');` so I don't know what's wrong. Anyone had this before? @pke @okonet @sapegin

[2018-10-29 14:30] gazpachu commented on #720
Fixed `const {default: styled } = require("styled-components");`

[2018-10-29 15:33] sapegin commented on #1188
Could you make a demo project?

There's not much details about the `cache` option in the docs: https://webpack.js.org/configuration/other-options/#cache — I suspect it may share some cache between Styleguidist and CRA, but it's only a guess.

[2018-10-30 19:04] jaller94 opened #1189 "Inline JavaScript comments don’t work in template.body.raw"
Trimming template’s white spaces messes with JavaScript inline comments.

https://github.com/styleguidist/react-styleguidist/blob/e59671d4d4f1d57e89e5d731942d616458f492b4/scripts/make-webpack-config.js#L29

The line above removes all white spaces, including new lines. This comments every line after `//` inside a `<script />`.

Demo: https://github.com/jaller94/demo-react-styleguidist-js-inline-com

[2018-10-31 14:22] sapegin commented on #1189
The templates are usually to small to care about whitespace I think. Feel free to send a pull request!

[2018-10-31 20:13] wwwebman commented on #1145
Hi, guys! Here short example how we  try to manage our sections:
[code]

**Current state:**
So,  as you can se from config it will put all components on separate page.  Also when we click 'Components' we will get empty page.

**Desire state:**
1. **href** -> false
We would like to be able to disable this link at all and be able to open nested components pages. So, for us @Spenc84 point makes sense

[2018-11-03 00:33] danez commented on #1177
We released react-docgen@3.0.0-rc.2, it has the latest version of recast and babel and some fixes. Let me know if that makes it any better.

[2018-11-03 18:45] sapegin commented on #987
This was fixed on CRA side, closing.

[2018-11-03 18:45] #987 closed

[2018-11-05 20:43] milesj opened #1191 "Passing custom data throughout the app/config"
**The problem**

I'm using `git log` to display new/updated/experimental features, but I'm unable to set/access this data anywhere in SG components.

I tried passing it in each section in `sections`, but the data is lost here: https://github.com/styleguidist/react-styleguidist/blob/master/loaders/utils/getSections.js#L62

I tried passing it as a property in `styleguide.config.js`, but the config s

[2018-11-07 07:50] sapegin commented on #1191
What kind of data you’re passing? There was a proposal to support frontmatters for Markdown files. Will that work for you?

[2018-11-07 18:54] milesj commented on #1191
Not really, I need it global really. I'm basically running `git log` to extra all the recent commits, and I need to access this data with SG components, like `ComponentsListRenderer`. Right now it's very hacky to do this.

[2018-11-09 18:06] eemeli opened #1194 "Styleguidist server runs out of memory due to symlinks to directories"
**Current behavior**

If the component search path of Styleguidist includes at least three directories that symlink to each other (either directly or via subdirectories), running `styleguidist server` leads to a loop that'll terminate when node runs out of memory.

This took a while to determine; I came across the bug in a real-life project that's using Lerna to manage multiple packages, with a si

[2018-11-12 23:47] mhelvens commented on #840
Any chance this could be made to work when the example code starts with some initialization?

[code]

This still gives me the `Adjacent JSX elements must be wrapped in an enclosing tag` error.

[2018-11-13 10:18] sapegin commented on #1194
Feel free to send a pull request with a fix!

[2018-11-13 10:51] eemeli commented on #1194
I haven't had time at least yet to look into this more deeply; it may well be that the actual issue is in webpack-dev-server or some other dependency.

[2018-11-13 11:01] arezooalipanah opened #1198 "how set to pick up props without propTypes"
my props in component are :
const { Display, Type, AlertText } = this.props;
how can i set  to pick up props and display in table ?
tnx

[2018-11-13 13:42] #1198 closed

[2018-11-13 14:13] sapegin commented on #840
It's just a convenience, you can sill use fragments manually:

[code]

[2018-11-14 11:14] dinukadesilva opened #1199 "Is there a way to add static html pages to the documentations"
I need to have a page with some details of my project. It includes drop downs which is the only reason I cannot use a md file. Is there any possibility of adding an html page instead of a md.

[2018-11-14 18:43] mcconkiee commented on #1055
What was the resolve on this? i have the same issue, but i am not clear on the comment from @sapegin on the fix

[2018-11-14 19:15] macintoshhelper commented on #1177
@danez Hi, thanks! `react-docgen@3.0.0-rc.2` fixes the issue for me, have opened a PR to update to it.

[2018-11-14 19:51] mcconkiee opened #1201 "React Native example- The node type SpreadProperty has been renamed to SpreadElement"
**Current behavior**
when running the demo for react-native i get  the following several times over
[code]

**To reproduce**
clone the repo for react native, per the ReadMe
[code]
then run the server:
`npx styleguidist server`

**Expected behavior**
see the demo in working order

[2018-11-14 19:53] mcconkiee commented on #1159
i'm still seeing this
[code]
is there possibly a conflict from my environment?

[2018-11-14 19:59] ProLoser commented on #1159
@mcconkiee you're seeing this when using @eragon512's version? It may make sense to create a new issue (can always reference this one) but I am unclear what steps you took to encounter this error.

[2018-11-14 20:01] mcconkiee commented on #1159
done: [#1201](https://github.com/styleguidist/react-styleguidist/issues/1201) - @ProLoser --- thanks

[2018-11-15 12:42] usamamashkoor commented on #171
@neutraali did you find a way to include local css in your react app i am facing the same issue here ..?

[2018-11-15 14:22] neutraali commented on #171
Hey @usamamashkoor, not with **react-styleguidist** at least. I was only trying to get a quick look on how the lib would work. It didn't - So I quickly moved on to other solutions. :cat:

[2018-11-16 17:55] theeheng commented on #1201
i'm having the same issue today when i try to run the demo

[2018-11-18 22:13] hainessss opened #1203 "dynamic examples?"
Hello,

I would like to add dynamic examples to the documentation. i.e. examples that a viewer of the docs can interact with by changing the props via buttons, events, and other async interactions.

Right now i can only seem to generate doc examples like this in markdown

[code]

Is there away around this, I would like to be able to document and develop at the same time and not have to also use re

[2018-11-19 05:21] dinukadesilva opened #1204 "Is there a way to inject an external variable to a component in md file"
What I'm looking for is a kind of below
[code]

[2018-11-19 08:10] sapegin commented on #1204
You can `require` them from another module:

[code]

[2018-11-19 08:40] dinukadesilva commented on #1204
@sapegin That's cool

But, then it displays these to the live example code as well. Is there a way to avoid that too.

Actually my requirement is, I have a set of component consuming a service that has different environment (staging, development, production etc.). So, that some of the parameter values are veried based on the environment. But, I want these to be displayed as plain component paramet

[2018-11-19 15:22] gazpachu opened #1205 "Styling text within back-ticks also affects the component props' styles"
They should have different styles, so that the props will not show a border around them.

<img width="493" alt="screen shot 2018-11-19 at 16 20 42" src="https://user-images.githubusercontent.com/1721288/48716201-170e0d80-ec17-11e8-87fc-2c356e85b36c.png">

<img width="503" alt="screen shot 2018-11-19 at 16 21 02" src="https://user-images.githubusercontent.com/1721288/48716229-23926600-ec17-11e8-870

[2018-11-19 18:59] sapegin commented on #1205
Feel free to send a pull request with a fix 👾

[2018-11-20 01:35] malyzeli commented on #1188
Hello, HMR really does not work by default, and actually it is not related to CRA, the same thing happens in clean project as well. I created **[minimal example project](https://github.com/malyzeli/styleguidist-issue-1188-example)** so anybody can look further into it. I can also confirm that setting `dangerouslyUpdateWebpackConfig` in styleguide config file as noted by @tomasruud enables hot relo

[2018-11-20 02:13] malyzeli opened #1206 "Hot module reloading does not work in 8.0.x"
**Current behavior**

Hot module reloading does not work in default configuration, tested in minimal project environment.

Seems it is caused by some Webpack caching bug. HMR works again when `cache: false` option is added to `webpackConfig` section. I'm not sure what are the consequences of that.

**To reproduce**

I created minimal example project so anybody can look further into it.

Project li

[2018-11-20 08:15] tomasruud commented on #1188
I would assume the `webpackConfig` and `dangerouslyUpdateWebpackConfig` options pretty much does the same thing when you're only changing the caching option? `webpackConfig` is probably safer to use though.

[2018-11-20 09:14] sapegin commented on #1188
Feel free to send a pull request with a fix 👾

[2018-11-20 09:14] sapegin commented on #1206
Duplicate of #1188. Feel free to send a pull request with a fix 👾

[2018-11-20 09:14] #1206 closed

[2018-11-20 12:51] malyzeli commented on #1206
@sapegin Honestly, I would argue that **this** is the real issue, while #1188 should be labeled as duplicate. My reasoning is that description of #1188 suggests that the problem affects Create React App projects only, while the problem is much more essential because **hot module reloading does not work by default** as I reported here (while the official documentation says Styleguidist provides liv

[2018-11-20 14:36] gazpachu opened #1207 "Assets in production not loading when the publicPath in webpackConfig.output is defined"
This is related with #403

When `publicPath` is defined in the `webpackConfig.output` object, the assets path in production lack the `publicPath` string.

The path should be: http://domain.tld/publicPath/assetName but it's rendering as http://domain.tld/assetName

[code]

[2018-11-20 15:18] gazpachu commented on #1207
Maybe we need something like an `assetsPublicPath`?

[2018-11-20 16:36] gazpachu commented on #1205
I'm looking at the `export function CodeRenderer(_ref2) {` in `lib/rsg-components/Code/CodeRenderer.js`. The _ref2 parameter seems to contain always the same class for both elements, the text within back-ticks and the component props text.

I wonder if we could pass an extra field inside `_ref2` to indicate that we want to style it a bit differently?

[2018-11-20 19:53] creaux opened #1208 "ReferenceError: global is not defined"
**Current behavior**

The build is triggered and page loaded in the browser. We are getting this in the console.

**To reproduce**

We have specific way of bundling webpack configuration by webpack. So it would be slightly difficult to make reproduction of issue at this point as we are working in monorepo.

So far what I know that issue is coming from `es6-promise` bundle. I'm looking at least for

[2018-11-20 19:56] creaux commented on #1208
Accidentally opened as bug. As I don't know if it is bug I will open first some support with dev.

[2018-11-20 19:56] #1208 closed

[2018-11-20 19:57] creaux opened #1209 "Uncaught ReferenceError: global is not defined"
**Current behavior**

The build is triggered and page loaded in the browser. We are getting this in the console.

**To reproduce**

We have specific way of bundling webpack configuration by webpack. So it would be slightly difficult to make reproduction of issue at this point as we are working in monorepo.

So far what I know that issue is coming from es6-promise bundle. I'm looking at least for s

[2018-11-20 19:58] creaux commented on #1208
https://github.com/styleguidist/react-styleguidist/issues/1209

[2018-11-20 20:12] sapegin commented on #1205
Please don't look at the compiled code ;-)

I think you need to use custom styled instead of the `Code` component here:

https://github.com/styleguidist/react-styleguidist/blob/78db4281a915474aa8b4edc0c8883d3e2f93335e/src/rsg-components/Type/TypeRenderer.js#L16

And here:

https://github.com/styleguidist/react-styleguidist/blob/78db4281a915474aa8b4edc0c8883d3e2f93335e/src/rsg-components/Name/NameR

[2018-11-20 20:13] creaux commented on #1209
Resolution in my case:

config item `target` has to contain value `web`.

I don't do [dangerouslyUpdateWebpackConfig](https://github.com/styleguidist/react-styleguidist/blob/master/docs/Configuration.md#dangerouslyupdatewebpackconfig) but using our own config. I would expect that this is driven by Styleguidist anyway.

[2018-11-20 21:07] Fcog commented on #430
Can someone give a solution to this please? The `MemoryRouter` solutions is not working.

[2018-11-20 22:13] hainessss commented on #1203
Answer form docs `Each example has its own state that you can access as state variable and change with setState() function. Default state is {} and can be set with initialState.`

[2018-11-20 22:13] #1203 closed

[2018-11-20 23:28] ryanmitts opened #1210 "Remove dependency on "walkes""
Starting in version 8 of the package it looks like "walkes" was added as a project dependency, although I cannot find out where it is used. I am not sure if this is needed?

That library is LGPL-3 licensed and can make this project unusable in certain licensing situations starting in version 8.

[2018-11-21 09:15] sapegin commented on #1210
Thanks for pointing this!

It's used in the next (9.x) version actually:

https://github.com/styleguidist/react-styleguidist/blob/next/src/client/utils/transpileImports.js
https://github.com/styleguidist/react-styleguidist/blob/next/src/loaders/utils/getImports.js

Do you know of a better alternative?

[2018-11-21 09:16] sapegin commented on #1209
Yeah, make sense. Mind sending a pull request with a fix?

[2018-11-21 09:17] sapegin commented on #1207
I'm not sure there's an issue with Styleguidist, unless you see an easy fix.

[2018-11-21 15:21] #1205 closed

[2018-11-21 16:39] gazpachu commented on #1205
We missed fixing one item that still has the code styles:

<img width="584" alt="screen shot 2018-11-21 at 17 38 24" src="https://user-images.githubusercontent.com/1721288/48855459-62a9ee00-edb4-11e8-8b68-a81cff3717e7.png">

[code]

[2018-11-21 18:43] sapegin opened #1212 "9.0.0-beta1 regression: no syntax highlight for `diff` language"
**Current behavior**

![image 2018-11-21 at 7 36 02 pm](https://user-images.githubusercontent.com/70067/48861765-b7edfb80-edc4-11e8-833e-e5e43db48807.png)

**To reproduce**

Add a code example with the `diff` language:

[code]

**Expected behavior**

![image 2018-11-21 at 7 35 50 pm](https://user-images.githubusercontent.com/70067/48861782-bfada000-edc4-11e8-8939-c5157169b176.png)

We need to add

[2018-11-22 09:30] KristoferMyhre opened #1213 "Problem: Development build"
**Current behavior**

I want to make a development build for my project. According to the documentation
https://github.com/styleguidist/react-styleguidist/blob/master/docs/Cookbook.md#how-to-use-production-or-development-build-of-react all you have to do is to add:
 `"build": "cross-env NODE_ENV=development react-styleguidist build"`
However it still runs a production build.

**To reproduce**

Add

[2018-11-22 09:57] michaeltrilford opened #1214 "Secondary navigation for the main content view."
Provide an easy way for the user to navigated between content under a main navigation section.

If this is possible today, please accept my apology.

Please review the attached image:
<img width="1571" alt="screen shot 2018-11-22 at 8 52 32 pm" src="https://user-images.githubusercontent.com/2483515/48895297-d7eeef00-ee98-11e8-8c22-be3fffe13b41.png">

[2018-11-22 10:53] sapegin commented on #1213
The doc explains how to include a development build of React in your style guide production build.

What problem you're trying to solve?

[2018-11-22 10:55] sapegin commented on #1214
I guess it's possible if you implement it for your style guide using custom components. I don't think this should be supported out of the box, because these aren't headings but just text paragraphs and they can be quite long.

[2018-11-22 12:22] KristoferMyhre commented on #1213
Yes, i am aware that the docs explain how to make a development build. But for me it is not working properly. When I do as it is written in the docs, it still makes a production build, no a development build.

Am I misunderstanding something here?

[2018-11-22 13:02] KristoferMyhre commented on #1213
I know it is production build because in you webpack config you have the following code:
[code]

`env` is always `'production'`, not matter what I do. Which always makes this a production build.

**What problem you're trying to solve?**
`styleguidist server` doesn't work for me, because of issue #1194 . Therefore I use http-server to serve my build. I dont want to serve a production build, but a d

[2018-11-22 13:08] sapegin commented on #1213
**This is development build of React, not Styleguidist, please read the docs carefully.**

https://meta.stackexchange.com/questions/66377/what-is-the-xy-problem

[2018-11-22 13:08] #1213 closed

[2018-11-22 20:44] michaeltrilford commented on #1214
Perfect, thanks for the tip 😂

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Artem Sapegin <notifications@github.com>
Sent: Thursday, November 22, 2018 9:55 pm
To: styleguidist/react-styleguidist
Cc: Mike Trilford; Author
Subject: Re: [styleguidist/react-styleguidist] Secondary navigation for the main content view. (#1214)

I guess it's possible if you implemen

[2018-11-23 13:51] sapegin commented on #1212
This change removes the warning but there's still no syntax highlight ;-/

[2018-11-23 20:53] malyzeli commented on #1188
This problem is not related to CRA, please consider reopening #1206 and mark this issue as duplicate instead.

You can read the argumentation in my last [comment](https://github.com/styleguidist/react-styleguidist/issues/1206#issuecomment-440262602)

[2018-11-28 00:48] MeghaMaheshwari opened #1217 "Fails when user's webpack config has html-webpack-plugin-before-html-processing"
On trying to run this command, I get the following error and not sure how to resolve it

Loading webpack config from:
node_modules/react-scripts/config/webpack.config.dev.js

Plugin could not be registered at 'html-webpack-plugin-before-html-processing'. Hook was not found.
BREAKING CHANGE: There need to exist a hook at 'this.hooks'. To create a compatibility layer for this hook, hook into 'this._

[2018-11-28 08:36] #1064 closed

[2018-11-28 08:36] #1096 closed

[2018-11-28 08:36] #1074 closed

[2018-11-28 08:36] #1075 closed

[2018-11-28 08:36] #1076 closed

[2018-11-28 08:38] sapegin commented on #1217
Feel free to add it to the list of ignored webpack plugins:

https://github.com/styleguidist/react-styleguidist/blob/34f3c83e769542157c72d0e055ad8850d22b6001/src/scripts/utils/mergeWebpackConfig.js#L13-L22

[2018-11-28 13:39] parshwamehta13 opened #1218 "Displaying Non-React Components"
Can we render vanilla js components in styleguidist

[2018-11-28 18:12] MeghaMaheshwari commented on #1217
I already have this list in the file react-styleguidist/src/scripts/utils/mergeWebpackConfig.js  and yet I am getting this issue.

When i run npx styleguidist build , it points to another location

node_modules/react-scripts/config/webpack.config.dev.js .

Contents of this file is

`
'use strict';

const autoprefixer = require('autoprefixer');
const path = require('path');
const webpack = require(

[2018-11-28 19:24] hastebrot opened #1220 "Upgrade kleur dependency to 3.0.0."
Dependency `kleur@^2.0.2` is causing a Yarn warning:

[code]

An upgrade to kleur@3 contains breaking changes. Per release notes one can also replace `kleur@2.x` with `ansi-colors` without any code/syntax changes.

I'm using latest `react-styleguidist@9.0.0-beta2`.

[2018-11-29 00:18] ryanmitts commented on #1210
Would a package like this work?

https://github.com/estools/estraverse

[2018-11-29 07:59] sapegin commented on #1218
I guess it depends on your use case.

* You can't have a nice props table unless [you render it yourself](https://github.com/sapegin/stack-styled/blob/master/src/Stack.md) for each component.
* You may have to generate table of contents yourself.
* You'll need to find a way to render examples, right now they are React components.

I'm not sure it all make sense though ;-)

[2018-11-29 08:02] sapegin commented on #1220
Feel free to send a pull request with an update to Kleur 3 ;-)

[2018-11-29 08:31] sapegin commented on #1210
Nah, it's much much bigger. So we either need to find something similar to walkes or write our own simple function.

[2018-11-29 09:31] sapegin commented on #1212
This is insanity ;-£ It works after I navigate to another page and back. And the issue is only with `diff` language.

![screen recording 2018-11-29 at 10 28 am](https://user-images.githubusercontent.com/70067/49212231-d30ecb80-f3c1-11e8-981f-265be7715fc2.gif)

[2018-11-29 10:06] #1212 closed

[2018-11-30 06:06] kopax commented on #445
@sapegin I've just tried some test with the link you given documentation.js and it is satisfying for our use case.

I have one only probleme, with the `@example` within the JSdoc, for instance :

[code]

I was expecting to just have markdown generated, instead I got this surprise:

![image](https://user-images.githubusercontent.com/1866564/49271467-56065380-f4a0-11e8-951b-64480610c22e.png)

react-

[2018-12-03 23:18] amandakoster commented on #305
Hello,  can someone point me to an example of how to import components using es6 code in example markdown file? I see it in the change logs but am unable to make it work. I am suing `styleguidist v7.2.5` with `create-react-app`  and `react v16.4.2` and keep getting the error `CompileError: import is not supported (3:0)`. Thanks!

[2018-12-04 00:51] MeghaMaheshwari commented on #1217
I have fixed the issue. It was because of the version of react. I was using react- 1.5 and upgrading it to react 2.0 solved the issue

[2018-12-04 07:32] #1217 closed

[2018-12-04 21:22] reintroducing commented on #1177
this actually caused my SG to stop working when I upgraded to v8.0.5 (v8.0.4 works perfectly fine). This is what I started to see with v8.0.5:
[code]

[2018-12-04 21:30] reintroducing commented on #1177
I am not, but this is: https://github.com/siddharthkp/react-docgen-external-proptypes-handler/issues/5

Good callout, thanks.

[2018-12-05 05:16] arshadkazmi42 commented on #1141
@reintroducing I got busy, haven't got a chance to look into this again.
It can be made open for other contributors to grab.

[2018-12-05 05:30] informa opened #1223 "View Code editor"
Hi I am using `8.0.6`having trouble changing the colour of the code editor.

In a markdown file this renders as seen the the image:
`<pre>import { Icons, Dropdown } from "@myob/myob-widgets";</pre>`

using the config
[code]
![screen shot 2018-12-05 at 4 22 44 pm](https://user-images.githubusercontent.com/726265/49491926-3741fb80-f8aa-11e8-922d-fd5665cda83d.png)

But the example component in the sa

[2018-12-05 05:49] informa commented on #1223
My colleague and I found the solution `editorConfig: { theme: 'cobalt' }` in the config.

[2018-12-05 05:49] #1223 closed

[2018-12-05 11:02] kopax commented on #661
Simple opinion but I am hitting a case where react-styleguidist is a dependency of another module which has webpack.

Any case, if I install this last module, I still must have webpack installed, while I am not using anywhere in my project. Can we arrange the error message not to force webpack to be installed at the latest level?

[2018-12-05 15:39] FezVrasta opened #1224 "Double title rendered"
**The problem**

I use styleguidist in a monorepo, each package contains some react components that are all served by styleguidist.

Each package has a `README.md` file that gets rendered in styleguidist using the `content` of its section.

Each section has as `name` the package name.

When I open styleguidist, each section has two titles, this because in my READMEs I include the title to make sur

[2018-12-05 20:46] sapegin commented on #1224
Feel free to send a pull request with an alternative solution.

[2018-12-06 05:04] dinukadesilva commented on #1204
May be if there's a way to define some variables through styleguide config and refer them here.

[2018-12-07 08:20] schadenn opened #1225 "Custom prop type label"
**The problem**

Using Typescript we often have a situation in which we use enums as React props. Example:

[code]

Styleguidist with react-docgen-typescript will then display the prop like:
[code]

Now we are looking for a way to clarify that the user should use the Prop like:
[code]
And also list all the looks there are.

**Proposed solution**

Add a way to create custom props.look.type.name via

[2018-12-07 09:26] kopax opened #1226 "How to use JSdoc and @Example to conditionnaly render the example code mirror"
@sapegin , following [#1188](https://github.com/documentationjs/documentation/issues/1188),

We've added documentationjs to generate our jsdoc. We got really surprised when we saw our example rendered in code mirror. Lot's of error so we disabled that behavior by default

I want to know if `@example` annotation in jsdoc can be tweak in order to optionally render the example.

[code]

This utility,

[2018-12-08 15:33] BTMPL opened #1227 "Knobs support"
I'd like to revisit the topic of adding knobs controls to Styleguidist - is this something there's community intrest in still?

I've started prototyping something that can be seen here:

https://www.youtube.com/watch?v=-6gldWa7DZ8

edit: taking it a bit further now:

![image](https://user-images.githubusercontent.com/247153/49689140-3f55a180-fb1d-11e8-8733-8f9fbf3cb8ba.png)

It does not require an

[2018-12-08 18:17] BTMPL commented on #1227
I've also tried experimenting with auto generating knobs, but would need to be able to access the prop types data generated by docgen - don't think those are available anywhere in playground scope?

[2018-12-10 09:12] sapegin commented on #1226
Probably we should render `@example` as a static code by default, but then how to enable the editor?

I don't understand the second and third points though ;-/

[2018-12-10 10:06] BTMPL commented on #1227
Also, this would mean that styleguidist would require 16.7+, right? Which would be a hard requirement (e.g. our project, when I use styleguidist, is at 15.3)

[2018-12-10 11:35] kopax commented on #1226
@sapegin, you got the most important point. We should be able to render `@example` static and non static. I don't know how.

- Point 2: The live code must return a valid component, so if our function is just returning a string, we must return `<div>{str}</div>` in order to get the result displayed. Fixing point 2 will consist of automatically wrap the return with a div.

- Point 3: This point mean

[2018-12-10 21:07] BTMPL commented on #1227
I went on ahead and created https://github.com/BTMPL/styleguidist-knobs if you want to have a look at it.

I might be abusing a few things (webpack api and global namespace) but couldn't find a way to make the integration easier ;)

[2018-12-11 13:11] sapegin commented on #1227
I think adding something like `useAllKnobs` to Retoggle will be a simpler solution than recreating 85% the same things yourself ;-)

If you keep the knob thingy separate from Styleguidist, which I thing is the right approach, then the required versions of both will be separate.

That's a great start anyway, thank you for doing that!

[2018-12-12 13:21] aldelank opened #1228 "Problem with Third party library in Create react app project"
Hello i'm trying to add my ui-kit library from another repo to styleguidist project created with create-react-app but for some reason transpiler jsx doesn't work and browser loaded raw jsx

[code]

according to docs i didn't create styleguide.config.js and if i use simple react-native components it works fine.

--------------^ Click “Preview”!

If you have a support question, ask it on [Stack Over

[2018-12-12 15:11] gibbitz commented on #762
Yeah not working for me either. FWIW, I am currently more-or-less doing this:
[code]
The possibility of bleed is disgusting though...

[2018-12-12 17:51] aldelank commented on #1228
I decided it my self)
Here is the answer https://stackoverflow.com/questions/44114436/the-create-react-app-imports-restriction-outside-of-src-directory#

[2018-12-12 17:51] #1228 closed

[2018-12-13 05:04] dinukadesilva opened #1229 "Enabling the readme.md to be templates compiled from the data provided in styleguide.config.js"
**The problem**

For a component as below which are written for consuming APIs, also having different environments in API, it required to display the string url rather variable.
[code]

**Proposed solution**

readme.md
[code]

styleguide.config.js
[code]
(env is passed based on the environment specified)

So, when this template is compiled it would be as
[code]

**Alternative solutions**

For now,

[2018-12-13 05:06] dinukadesilva commented on #1204
@sapegin Thanks and yes this is also an alternative. I raised another issue with more context on what I'm referring. Closing this.
https://github.com/styleguidist/react-styleguidist/issues/1229

[2018-12-13 05:06] #1204 closed

[2018-12-13 12:37] FezVrasta opened #1230 "@component comment + Flow types give "unknown" property type"
**Current behavior**

If you define a component using Emotion (or any styled components lib I guess) like the following:

[code]

The generated "props & methods" list will mark all the property types as "unknown":

![image](https://user-images.githubusercontent.com/5382443/49938976-c323db00-fedb-11e8-8c66-2ff6f0965a43.png)

**To reproduce**

https://github.com/FezVrasta/styleguidist-emotion-bug-re

[2018-12-14 14:14] sittmannkatia opened #1231 "Module not found: Can't resolve 'rsg-components/Examples"
**Current behavior**

When I run `npx styleguidist server`, the application fails to compile with the error: `Module not found: Can't resolve 'rsg-components/Examples'`

**To reproduce**

I have a react application (not using CRA) and installed `react-styleguidist`. My `styleguid.config.js` looks like the following:

[code]

When I look in the `node_modules\react-styleguidist` folder, I don't see

[2018-12-14 15:34] JelteF opened #1232 "Imports in the basic example don't work"
I was trying to convert my repo to 9.0.0-beta3, but couldn't figure out how to import other components in the scope. So I tried to use the example and that gave the same error.

**Current behavior**
The examples where an import takes place error out in the basic example.
![errors](https://i.imgur.com/HVUQoKW.png)

**To reproduce**
[code]

**Expected behavior**
None of the examples have an error.

[2018-12-15 13:35] sapegin commented on #1231
You need to update `rsg-components/` to `rsg-components/client/`.

If you see the old path anywhere please send a pull request with an update ;-)

[2018-12-15 13:36] sapegin commented on #1232
Examples likely use the old version, feel free to send a pull request with a fix.

[2018-12-15 13:38] sapegin commented on #1229
This should be possible with the updateExample function:

https://react-styleguidist.js.org/docs/configuration#updateexample

[2018-12-15 15:07] JelteF commented on #1232
My point was that I don't know how to fix it. I was looking at the examples
for how to fix it in my own project. Als the basic example actually uses
9.0.0-beta1, so afaik it should be up to date with the latest version.

On Sat, 15 Dec 2018, 14:36 Artem Sapegin <notifications@github.com wrote:

[2018-12-15 18:39] Sheparzo commented on #1232
I’ve tried basic example with beta 1, 2, and 3 and found that none of them work always showing the reported error above. The example code all looks right. Could this be a problem with the implementation? Has something caused a regression of this awesome feature?

[2018-12-15 19:43] sapegin commented on #1232
There may be a problem with running examples _from_ the example folder because of some conflict with either `package.json` or Babel config or something else in the root folder. I'm using beta3 in a project without any issues and it does work when you run `npm start` in the root folder.

Feel free to fix the example though, or remove the incorrect instructions from its readme.

None of these issue

[2018-12-15 19:43] #1232 closed

[2018-12-16 13:47] informa commented on #1084
I overrode the component in the config
[code]
and broght in some `state` from `v9`

[code]

Which works well, but when I am making a change in the editor, the cursor jumps to the end of the code snippet.

I think the lifecycle method causes a re-render.

![editor](https://user-images.githubusercontent.com/726265/50054336-f775f080-0194-11e9-9c66-5946ec93379b.gif)

Not sure why this isn't occuring i

[2018-12-17 04:52] dinukadesilva commented on #1229
@sapegin
Yes it does.

How about if some parameters are passed at the run time. May be in a query string.

[2018-12-17 11:53] mahmoud-zakria-sociomantic opened #1234 "Third-party warning: doesn't export a component"
I'm using styleguidist with a third-party UI-component library `nessie-ui`.
https://github.com/mahmoud-zakria-sociomantic/nessie-style-guide .

`PropTypes` doesn't generated unless I re-write the components from scratch in a new file and re-define propTypes.

I don't see full solution for the provided third-party page.

![image](https://user-images.githubusercontent.com/37908294/50085525-9bde4e00-

[2018-12-19 03:12] zhgbin0501 commented on #1234
I hava the same question, and  I don't know  how to solve this problem.
![2018-12-19 11 06 25](https://user-images.githubusercontent.com/24954017/50196663-f4d6ef00-037e-11e9-9962-4bce3a03d109.png)

[2018-12-19 09:25] jEnbuska opened #1235 "react-styleguidist does not recognize forwardRef components"
**Current behavior**
react-styleguidist does not recognize React.forwardRef:s as components, and the examples representing forwardRef components do not get listed in the styleguidist page.

During build react-styleguidist prints this warning:
[code]

**To reproduce**

Create forwardRef button:
[code]
Create example and add MyButton to styleguide.config.js sections

[code]

[2018-12-19 10:16] mahmoud-zakria-sociomantic commented on #1234
@zhgbin0501 Looks like there is only one solution for it at least for now which is creating your own components from scratch instead of importing them from external path.

Check this example https://github.com/everydayhero/constructicon/tree/master/source/components

[2018-12-19 22:50] mnaughto commented on #1164
Is [this](https://github.com/jgillick/react-styleguidist/pull/2) something like what you had in mind @avionbg? I'm not sure if that was the right way to handle the case where there isn't a proper modifier.

I've been working with @jgillick on this, but we haven't had much time for it due to higher priorities.

[2018-12-21 13:34] ibrambe opened #1236 "Disable the aggregate view of all the components on one page"
**The problem**

Rendering of the landing page takes a long time because all the components are rendered with their examples. `pagePerSection` is enabled, so the component detail pages are loading fast, but there seems no way to disable or overwrite the landing page of the styleguide.

**Proposed solution**

A way to disable the aggregate view of all the components.

**Additional context**

I'm us

[2018-12-22 18:12] seanlaff commented on #1188
Is the `dangerouslyUpdateWebpackConfig` workaround still working for you guys? Im on CRA 2.1.1 with styleguidist 8.0.6 and it does not seem to work for me.

[2018-12-23 13:34] seanlaff commented on #1188
@malyzeli Hot Reload works as I'd  expect in your https://github.com/malyzeli/styleguidist-issue-1188-example repo (I'm on mac mojave), so I think the designation of CRA is correct in this issue.

I dug in some more and realized that as some as styleguidist loads in a CRA repo, this message is output to the console
[code]
which explains why I don't see updates. Not sure what  causes the disconnect

[2018-12-23 17:49] seanlaff commented on #1188
I've found the problem. Styleguidist HMR is broken by webpack-dev-server > 3.1.10 for both CRA and non-CRA rrepos.

The reason it appeared to be working in @malyzeli repo was because their yarn.lock had `webpack-dev-server` pinned `3.1.10`, however if you install styleguidist in a fresh repo, you'll get `3.1.12` since styleguidist specifies `^3.1.10`.

[2018-12-23 17:58] tomasruud commented on #1188
@seanlaff I've not been working on the project that much lately, so I don't know to be honest. But I would assume the issue is still there.

@malyzeli If this was a problem for all users of Styleguidist, more people would probably have noticed. Which in turn would have produced more activity on this issue and yours as well. I would assume in your case, that it's a rare edge case that by chance mat

[2018-12-23 18:10] seanlaff commented on #1188
Looking at the updates to dev-server, I suspect this is probably what did it https://github.com/webpack/webpack-dev-server/pull/1603

[2018-12-23 19:13] seanlaff commented on #1188
Here's my workaround. It works by short-circuiting the header check that webpack-dev-server added. This poses a security risk.

`styleguide.config.js`
[code]

This leads me to believe https://github.com/webpack/webpack-dev-server/pull/1603 is in-fact the root cause, but I still don't have a good explanation of why we don't see the invalid host errors.

[2018-12-23 21:59] timbergus commented on #547
Thanks, @reintroducing. I was starting to bump my head against the table. I feel so dumb 😩

[2018-12-24 08:51] sapegin commented on #1236
There's no "landing page" in Styleguidist, add a section without components and render it by default. Like this:

https://component-driven.github.io/component-driven-development/styleguide/

[2018-12-24 19:01] sapegin opened #1237 "Incorrect current section highlighting on partial match"
**Current behavior**

Several sections are highlighted when the current section contains part of a name of a section in the sidebar.

**To reproduce**

<img width="370" alt="image 2018-12-24 at 7 57 53 pm" src="https://user-images.githubusercontent.com/70067/50405538-77641200-07b6-11e9-9a64-e1e21e2094f9.png">

**Expected behavior**

Only one section is highlighted.

[2018-12-25 09:03] ibrambe commented on #1236
Okay, maybe landing page is the wrong word. The thing is, I don't want all my components rendered on the root of the components list. In your example, that's this page: https://component-driven.github.io/component-driven-development/styleguide/#/Components

[2018-12-28 02:34] overcastsky opened #1238 "Component animation has a carton"
**Current behavior**

**To reproduce**

**Expected behavior**

[2018-12-28 07:56] #1238 closed

[2018-12-28 08:52] #1010 closed

[2018-12-28 10:54] kopax commented on #947
it is still unfixed

[2018-12-28 16:57] guyius commented on #1237
Hey @sapegin !
I started looking into this issue and found the root cause, Do you mind if I work on this?
It's going to be a first-time open source PR for me.

[2018-12-28 17:59] sapegin commented on #1237
That would be awesome! Let me know if you need any help :-)

[2018-12-28 21:50] guyius commented on #1237
Okay so the issue lies in the fact that the ComponentsListRenderer sets the isSelectedItem const according to the hasHash function, which checks for indexof, Thus Nav returns true for routes like NavLink. I reproduced it by changing CounterButton to ButtonCounter for example and colliding with Button.
IMO we can simplify this and check in ComponentsListRenderer for equality by comparing the 2 stri

[2018-12-29 14:57] guyius commented on #1237
PR with fix can be found here
https://github.com/styleguidist/react-styleguidist/pull/1239

[2018-12-31 01:40] xsnakeex commented on #1220
Hello!
Where should I replace the codes?

[2018-12-31 01:42] xsnakeex commented on #1220
Hello! Where should I replace the codes? I could not understand and correct the mistake when I create a new project.

This error appears:

npm WARN deprecated kleur@2.0.2: Please upgrade to kleur@3 or migrate to 'ansi-colors' if you prefer the old syntax. Visit <https://github.com/lukeed/kleur/releases/tag/v3.0.0\> for migration path(s).
npm ERR! code ENOGIT
npm ERR! Error while executing:
npm ERR

[2018-12-31 07:54] #1237 closed

[2018-12-31 10:48] hastebrot commented on #1220
@xsnakeex Your error message is not releated to the `kleur` deprecation warning.

`npm` could not find the `git` binary in the `PATH`.

[code]

[2019-01-04 09:09] #426 closed

[2019-01-04 09:09] #565 closed

[2019-01-04 09:09] #950 closed

[2019-01-04 09:09] #948 closed

[2019-01-04 09:09] #990 closed

[2019-01-04 09:09] #1066 closed

[2019-01-04 09:09] #1079 closed

[2019-01-04 09:09] #1085 closed

[2019-01-04 09:09] #1092 closed

[2019-01-04 09:09] #1101 closed

[2019-01-04 09:09] #464 closed

[2019-01-04 09:09] #1104 closed

[2019-01-04 09:09] #1134 closed

[2019-01-04 09:09] #1139 closed

[2019-01-04 09:09] #1147 closed

[2019-01-04 09:09] #133 closed

[2019-01-07 08:51] oakis opened #1240 "Update webpack-dev-server to 3.1.11 due to vulnerability"
**Current behavior**

This is happening in 8.0.6 but I can also see that 9.0.0-beta4 is using the same version of webpack-dev-server.

[code]

**To reproduce**

Run `yarn audit` in project.

**Expected behavior**

Update webpack-dev-server to 3.1.11

No warnings should be present.

[2019-01-07 23:04] dankreft opened #1242 "Support `@ignore` to prevent cataloging "private" component files"
We use a modular project structure which is an adaptation of that which is described in [this article](https://medium.com/@alexmngn/how-to-use-redux-on-highly-scalable-javascript-applications-4e4b8cb5ef38). For any given component directory, there are some files that are "public" and others that are considered private implementation details. By convention, only those components exported by the `in

[2019-01-08 00:39] dankreft commented on #947
I'm experiencing a similar problem, I think...

My parent component says this:

[code]
The child component:

[code]

In the generated documentation for `SnackBarIcon` I see this:

![image](https://user-images.githubusercontent.com/42359759/50801627-69c08900-129a-11e9-9079-7f020b8347f9.png)

But in the generated docs for `SnackBar`, I get this:

![image](https://user-images.githubusercontent.com/42

[2019-01-08 08:51] byrne-greg opened #1243 "Webpack config not found with create-react-app react-scripts 2.1.3"
**Current behavior**

When a user starts web app development using create-react-app, installs react-styleguidist, and attempts to create a styleguide build, they are informed that:
[code]

**To reproduce**

Steps
[code]

package.json
[code]

This does not happen when `react-scripts` is set to version 2.1.1

**Expected behavior**

Webpack config to be loaded from `react-scripts`.
e.g.
[code]

[2019-01-08 10:01] tung-eh commented on #1243
I've met exactly the same problem with `react-scripts` v2.1.2, so I need to fix by adding `webpackConfig` to `styleguide.config.js`:
[code]
Hope it will be fix soon.

[2019-01-09 07:48] #1240 closed

[2019-01-10 12:58] ibrambe commented on #1243
@tung-eh, your fix works, unless when using TypeScript.

When running `yarn styleguide:build` I get errors in *.jsx files like `Module parse failed: The keyword 'interface' is reserved`. Downgrading to react-scripts 2.1.1 fixes the build.

[2019-01-10 21:10] melMass commented on #1243
Thanks @tung-eh it can be shortened to the cleaner:

[code]

[2019-01-11 19:37] joeycozza commented on #1243
The PR for a fix exists. https://github.com/styleguidist/react-styleguidist/pull/1241

[2019-01-11 20:49] dbrelovsky opened #1246 "hot reloading broken on windows"
**Current behavior**

Hot reloading is not working on a windows machine for all versions after 7.3.7.

I tracked it down to this change: https://github.com/styleguidist/react-styleguidist/pull/1133
On my machine all paths produced by ```getComponentFiles``` contain forward slashes as separator (in v7.3.8) and backslashes in v7.3.7.

If I change
[code]
to
[code]

hot reloading works again.

[2019-01-11 21:10] jgalazm opened #1247 "Error when running build: "Cannot read property 'endsWith' of undefined""
**Current behavior**
When trying to build the styleguide with `npx styleguidist build` after `create-react-app` and copying the `cra` example components folder I'm getting this error:

[code]
**To reproduce**
From my fork repository:
https://github.com/jgalazm/react-styleguidist

run
[code]
and you will get the error
[code]

From scratch, inside the repo's folder run:
[code]

Then create `stylegui

[2019-01-14 08:12] sapegin commented on #1242
`skipComponentsWithoutExample` option could be another alternative:

https://react-styleguidist.js.org/docs/configuration#skipcomponentswithoutexample

[2019-01-14 08:14] sapegin commented on #1246
Feel free to send a pull request with a fix 👾

[2019-01-14 17:12] cake-jnorman commented on #1236
I gave the v9 beta4 a trial run today and found that the rendering is VERY slow on what I also call the 'landing page.' (the page that lists all examples, at the root of the built styleguidist site) As a FYI, v8.0.6 runs much faster @ibrambe.  I'm going to have to put off the v9 upgrade until this is resolved.

[2019-01-14 19:50] iamtyce commented on #1235
Experiencing a similar issue where props and methods are not being rendered for components with `forwardRef`

[2019-01-14 19:56] iamtyce commented on #1235
Can confirm that updating to `react-styleguidist@^8.0.0` and `webpack@^4.0.0` fixed this for me (was on previous majors for both)

[2019-01-15 06:35] pwnn opened #1250 "Embed code block in markdown resulting in: Uncaught TypeError: predicate is not a function"
**Current behavior**

Embed a live code example via markdown code blocks resulting this error:

[code]

**To reproduce**

The markdown code block looks like this:

[code]

styleguidist version: 8.0.6

**Expected behavior**

The live code example should just work, and not throwing any errors.

[2019-01-15 06:52] pwnn commented on #1250
Seems like this is an issue with the LoadashWebpackPlugin.

enable `shorthands` option solved this problem.

[2019-01-15 06:52] #1250 closed

[2019-01-15 20:01] kopax opened #1251 "Is there a way to fix prismJS synthax highlighting for JS and JSX"
We are using `react-styleguidist`, `v8.0.6`.

This is an example of documentation made with `react-styleguidist`.

We know it use prism JS, and we thought this would have been improved with the time but we still experience bad highlight:

![image](https://user-images.githubusercontent.com/1866564/51206598-fde5bc80-193a-11e9-9a69-4bd9859c71f2.png)

Source: https://yeutech-lab.github.io/react-router

[2019-01-15 21:48] osbornm commented on #1247
I'm running into this same problem...

[2019-01-16 04:03] osbornm commented on #1247
## TL:DR
put the following add the following [dangerouslyupdatewebpackconfig](https://react-styleguidist.js.org/docs/configuration.html#dangerouslyupdatewebpackconfig) to your [`styleguide.config.js`](https://react-styleguidist.js.org/docs/configuration) file
[code]

## Root Cause
Okay, I've tracked down the problem. With the newer version of `create-react-app` they use [`react-dev-utils`](react-d

[2019-01-16 09:43] sapegin commented on #1247
Thanks for the investigation! I have some concerns on passing the app’s path or `/`. Will this work fine when the style guide is deployed to a folder? For example `http://example.com/styleguide/`.

[2019-01-16 14:54] osbornm commented on #1247
@sapegin I'll need to verify but create-react-app "expects" this pattern with its config so if you are using their webpack config you should be okay. I dug through all the code paths to figure out what `publicPath` was getting set to. That said if you needed to change to a different path you could do something like `PUBLIC_PATH=/foo styleguide build` in your package.json. That said styleguidist co

[2019-01-16 15:35] osbornm commented on #1247
I'm not suggesting a required option just the ability to add one if you need since it's dependent on the webpack config you are using. This way instead of having to use `dangerouslyUpdateWebpackConfig` you would just set an optional config called, I don't know, `publicPath`. If the user sets it then we use that otherwise set it to empty string.

[code]
then in make-webpack-config.js [L37-L41](http

[2019-01-16 15:54] sapegin commented on #1247
Again: you’re suggesting to introduce an option for a feature that already works out of the box.

[2019-01-16 16:08] osbornm commented on #1247
It does not work out of the box with the latest versions of `create-react-app` you have to manaully write a webpack config and you cannot take advantage of the webpack config that ships with the app. it is perfectly acceptable if you do not want to support `create-react-app`.

[2019-01-16 16:08] FezVrasta commented on #1147
This is still an issue for me. I think the actual place where this should get fixed is the docgen, it should allow to do:

[code]

and expose the `Props` passed to the Foo type.

[2019-01-17 09:59] sapegin commented on #1251
You need to use `jsx` language, not `javascript` if you want it to highlight JSX.

[2019-01-17 09:59] #1251 closed

[2019-01-17 10:00] #1243 closed

[2019-01-17 10:22] FezVrasta commented on #1114
@gazpachu how do you decide when to show a given badge?

[2019-01-17 10:35] FezVrasta commented on #1114
Oh I see, thanks

[2019-01-17 11:41] ranjeetkjha123 opened #1252 "out of 20 components from my projects first three comes in disabled state"
--------------^ Click “Preview”!

If you have a support question, ask it on [Stack Overflow](https://stackoverflow.com/questions/tagged/react-styleguidist) using the `react-styleguidist` tag.

Before submitting a new question, make sure you:

- Searched existing [Stack Overflow questions](https://stackoverflow.com/questions/tagged/react-styleguidist).
- Searched opened and closed [GitHub issues](h

[2019-01-17 22:13] kopax commented on #1251
I see, beside we need to confirm that because we have this issue at many places, see for examples all the documentations of this namespace http://github.com/bootstrap-styled because I believe there is something wrong with the synthax even for jsx, I will confirm this asap.

Also, the problem with `jsx` language is that it does work if it render, there is still no way to use JSdoc annotation and re

[2019-01-18 08:14] jkeruzec opened #1253 "Decorator are not supported"
**Current behavior**

Running styleguidist server over my app sources. I'm using React + create app + customize-cra
It's start parsing files and fail onto :

[code]

**To reproduce**

Use I think any decorator on component class...

**Expected behavior**

Have a way to parse this decorator and integrate it into documentation.

[2019-01-18 15:03] lawwantsin opened #1254 "Where does the raw code live?"
I've searched and asked on SO.
https://stackoverflow.com/questions/54256139/how-would-i-get-the-raw-code-in-a-code-component

I'm trying to build a custom Code component so I can include a Copy to Clipboard button on the code examples.

But none of the props in `<Code/>` include the actual code.  Just a HLJS ready bunch of html markup.  How much higher do I need to go to reach the raw code so I ca

[2019-01-20 01:59] vforge opened #1255 "Custom Wrapper fires the onMouseEnter twice"
**Current behavior**

A very simple custom `Wrapper` causes component's `onMouseOver` to fire twice.

**To reproduce**

Check console when you hover over Button example on https://vforge.github.io/react-styleguidist-mouse-enter-bug/

Source code: https://github.com/vforge/react-styleguidist-mouse-enter-bug

**Expected behavior**

`onMouseEnter` should fire only once.

[2019-01-21 16:45] #1252 closed

[2019-01-21 17:32] skystash opened #1256 "2 warnings about invalid sourcemaps issued when building"
**`styleguidist build` returns:**
<img width="1136" alt="screenshot 2019-01-21 17 21 01" src="https://user-images.githubusercontent.com/12685308/51489704-00b03980-1da1-11e9-8669-8d5091f7bb56.png">

**`styleguidist server` runs fine:**
<img width="1136" alt="screenshot 2019-01-21 17 24 55" src="https://user-images.githubusercontent.com/12685308/51489886-83d18f80-1da1-11e9-938c-5179a79f69ca.png">

-

[2019-01-21 18:09] sapegin commented on #1254
It’s possible today, feel free to send a pull request with a feature _you_ need.

[2019-01-25 10:53] wilsonmsalberto commented on #1055
Just FYI, added a config that's working for me here: https://github.com/yannickcr/eslint-plugin-react/issues/1203#issuecomment-457530681

[2019-01-25 16:10] dtuyenle commented on #817
Having the same issue. @viraths  how did you solve this ?

[2019-01-28 09:10] #1095 closed

[2019-01-28 09:10] #1156 closed

[2019-01-28 09:10] #1151 closed

[2019-01-28 17:03] heatherbooker commented on #1224
Tags: duplicate multiple header

[2019-01-31 07:55] kopax opened #1259 "config.components as in the example doesn't produce any documentation"
We are using react-styleguidist 8.0.6, this is what we have in configuration:

[code]

We expect to see components documented as we have this file in `src/components/Converter.js`:

[code]

Instead, we have nothing documented.

Are we doing correctly? Or does `components` only work within `section` ?

[2019-01-31 12:57] gazpachu commented on #127
Hiya!,

I've just released `sugUI`, a design system template based on `Styleguidist` that uses the sugUI components library: https://gazpachu.github.io/sugui-design-system/

![](https://gazpachu.github.io/sugui-design-system/img/screenshot.jpg)

[2019-01-31 16:36] #1187 closed

[2019-01-31 21:07] #1157 closed

[2019-02-01 14:56] tdiluzio opened #1261 "Module parse failed: Unexpected token static Proptypes (with class properties installed)"
Hi,

First of all thank you for having created react-styleguidist 👍

##### My issue:
https://github.com/styleguidist/react-styleguidist/issues/1055 didn't help me solve this issue so I'm posting a new issue.

Although _"@babel/plugin-syntax-dynamic-import"_ is properly installed - and working since I'm using _static_ keyword in the project -

When launching `npx styleguidist server` the app is cra

[2019-02-02 08:33] kopax commented on #1259
@mitsuruog I think you used `content` instead of `components` for your UI components section.

Also, I am trying to specify this without any section, as this example :

![image](https://user-images.githubusercontent.com/1866564/52161985-cd09d380-26ff-11e9-9ef3-7f18d5c63b4a.png)

I expect to have the section automatically created, but again, I wonder if the doc is stating things correctly or if I u

[2019-02-02 12:48] mitsuruog commented on #1259
ahh, sorry. That is my mistake. I used `components` in `sections`.

[2019-02-02 13:21] kopax commented on #1259
That is still a different configuration than the screenshot posted

[2019-02-02 22:22] kopax opened #1262 "[Bug] TypeError: Cannot read property 'minify' of undefined"
We are having issue when trying to build our documentation `npm run styleguide:build`:

[code]

Reproducible demo:

  1. https://travis-ci.org/bootstrap-styled/rsg-components/jobs/487979269
  1. https://travis-ci.org/bootstrap-styled/bootstrap-styled/jobs/487978461
  1. https://travis-ci.org/bootstrap-styled/v4/jobs/487976677

It seems that we use a deprecated dependency but I can't find which one

[2019-02-02 22:45] kopax commented on #1262
https://github.com/webpack-contrib/terser-webpack-plugin/issues/66

[2019-02-02 22:45] #1262 closed

[2019-02-03 02:21] ohtanya commented on #259
@stinoga did you end up resolving this issue? I was able to import `PanelHeader` within my `Panel` but I'm losing the props for `PanelHeader`. Are you able to display the props for both components?

[2019-02-04 17:04] gazpachu opened #1263 "Transform sidebar into a full-screen menu in mobile views"
I've managed to add a bit of CSS to transform the sidebar into a full-screen menu (with a hamburger and close buttons) in mobile views, but now I need a way to close this menu when any of the menu items is tapped.

GIF demo of the mobile menu: https://cl.ly/082113da0fe3

ATM, the `active` state of the full-screen menu is stored in the `StyleGuideRenderer` component, which works fine with the hambu

[2019-02-04 17:10] smashercosmo opened #1264 "react-styleguidist doesn't work in IE11"
**Current behavior**

react-styleguidist doesn't work in IE11 due to untranspiled code in node_modules

**To reproduce**

Try running examples/basic in IE11. It won't work because of fat arrow in 'strip-ansi' package.

**Expected behavior**

react-styleguidist should work in IE11

P.S. I thought this PR https://github.com/styleguidist/react-styleguidist/pull/1105 was supposed to fix this kind of i

[2019-02-05 11:30] gazpachu commented on #1263
I've fixed it like this:

[code]

[2019-02-05 11:30] #1263 closed

[2019-02-05 15:35] sapegin commented on #1264
#1105 only babelifies the Styleguidist code, not dependencies.

Styleguidist doesn't support IE11 officially, but feel free to send a pull request with a fix.

[2019-02-05 15:39] sapegin opened #1265 "Upgrade react-group"
[New major release](https://github.com/sapegin/react-group/releases/tag/v3.0.0) has a few breaking changes but won't generate an unnecessary DOM node which is good.

- [ ] Update dependency in `package.json`
- [ ] Update and test all usages of `react-group` according to release notes

[2019-02-05 21:39] milesj commented on #1191
I'll look into submitting a PR.

[2019-02-06 16:57] dzimmerman902 opened #1266 "Module parse failed: 'import' and 'export' may only appear at the top level (36:3)"
**Current behavior**

When I run the command styleguidist server, I receive an error in regards to a module parse failed. It asks for the appropriate loader. I have tried multiple configurations with my webpack and babel file and still no solution.

![screen shot 2019-02-06 at 9 47 42 am](https://user-images.githubusercontent.com/18602363/52358015-713b9500-29f4-11e9-9c28-3a8bc8878add.png)

**To re

[2019-02-06 21:13] jonascript opened #1267 "Links to source on docs site not working"
Links to source on docs site not working

**To reproduce**
1. Go to:
https://react-styleguidist.js.org/docs/cookbook.html#how-to-change-the-layout-of-a-style-guide

2. Click on " check the source"

Link is a github 404

**Expected behavior**
Should load github page for file.

*Apologies in advance if this is not the correct forum for this bug.

[2019-02-06 23:59] caseycallow commented on #1070
@sibamohanty995 Did you have any luck overriding not just a tab button but `slots` itself? I was doing this successfully prior to 7.2.3 in order to add my own HTML tab button, alongside the current React one. Now I get a `Cannot find module 'rsg-components/slots/IsolateButton'` error in my browser, even though I'm not importing it into the new `slots` override file. Let me know if you have any ide

[2019-02-07 01:30] dougmackenzie commented on #1265
I'll take this on as a first issue, will let you know how I go :)

[2019-02-07 02:49] benwiley4000 opened #1268 "Moved component locations should be marked as breaking changes"
When upgrading to the beta I got this error:

[code]

When I change the path to `react-styleguidist/lib/client/rgs-components...` it compiled.

Since these module locations have been treated as public API (for overrides), their change in location should be documented as a breaking change.

[2019-02-07 03:14] benwiley4000 opened #1269 "Adjacent top-level elements don't render if other code included in excerpt."
**Current behavior**

Multiple adjacent top-level elements don't render correctly if ~an `import` statement~ anything else is included in the code. Version 9.0.0-beta4.

For example this works:
[code]

But this..
[code]
produces an error:
[code]

**To reproduce**

I tried following your instructions to fork the example repo or my issue will be closed, but that repo is using an old version (7) of s

[2019-02-07 03:18] benwiley4000 commented on #1269
Apparently this isn't directly related to imports. Anything at all besides React elements (such as code comments) will cause the error as well.

[code]

[code]

[2019-02-07 10:04] sapegin commented on #1265
Awesome, thanks! 👾

[2019-02-07 21:51] rajdee commented on #1266
@dzimmerman902 Why did you close this issue. Have you solved this behavior ?

[2019-02-08 00:44] dzimmerman902 commented on #1266
Hey,

My bad for not writing anything. I started the project over and for some reason it decided to work. I don't know for sure what I did differently. The only thing I can think of was switching the file name from babel.config.js to .babelrc.

[2019-02-08 01:56] arizonatribe commented on #1177
I ran into this tonight as well. I'm using `react-styleguidist` version 8.0.6 in a multi-package repo. One of the adjacent packages has a custom build script that uses and installs `react-docgen` directly, but an older version (2.2.1), so I tried to upgrade the version it's requiring.

Even though `react-styleguidist` is asking for that 3.0.0-rc.2 (and I confirmed it's installed in the `node_modul

[2019-02-08 07:35] mickatron commented on #947
Have you tried using named exports rather than defaults?

I've had a similar problem in a style guide using higher order components in a Typescript styleguisidt implementation and found that just using named exports made things a heap easier.

I think the issue is more related to `react-docgen`. There's a few reports about this over in that repo.

You can also look at;
https://github.com/jmeyering

[2019-02-08 08:38] #1265 closed

[2019-02-08 08:40] sapegin commented on #1268
We can't guarantee that locations or APIs of internal component will never change, and we can't treat them as breaking change ether. Feel free to send a pull request to the docs to clarify that.

[2019-02-08 08:41] sapegin commented on #1269
This is expected, we wrap examples in a Fragment only for convenience and when we know it won't break your code.

[2019-02-08 08:41] #1269 closed

[2019-02-08 08:42] sapegin commented on #1267
The link should be https://github.com/styleguidist/react-styleguidist/tree/master/src/client/rsg-components

Mind sending a pull request with a fix?

[2019-02-08 12:20] FezVrasta opened #1271 "Add support for babel-plugin-flow-react-proptypes"
**The problem**

flow-docgen isn't very reliable, and doesn't work at all with styled components.

**Proposed solution**

Allow to generate the documentation from React PropTypes autogenerated with `babel-plugin-flow-react-proptypes` starting from the Flow types.

**Alternative solutions**

Fix flow-docgen, but it's not trivial.

**Additional context**

I think it's a low hanging fruit that will i

[2019-02-08 17:27] jonascript commented on #1267
Looks like this has been fixed on master already. I guess it hasn't been pushed to the actual styelguide site yet.
https://github.com/styleguidist/react-styleguidist/pull/1219/commits/9dc529ede000550d4a083d015a05464928130f2a

[2019-02-08 23:53] dougmackenzie commented on #1189
I've managed to reproduce this with the basic example, but changes to the make-webpack-config.js file don't seem to have any effect (so removing the `trimWhitespace: true` doesn't fix it)- what am I missing? 🤔

[2019-02-10 12:04] mickatron commented on #947
I can only provide a working example in Typescript for documenting a HOC wrapped component. Exporting it as a default will result in the props not being defined in styleguidist, but named exports work just fine. Typescript handles named exports better too particularly when assigning namespaces.

[code]

@dankreft Is it just the 'custom' type def that was a concern? I think that is the standard typ

[2019-02-11 23:57] vforge commented on #1255
Is there anything else I can provide in order to reproduce this bug?

[2019-02-12 20:17] NoahFisher opened #1274 "react-styleguidist should work with create-react-app without config"
**Current behavior**

`react-styleguidist` does not work with latest `create-react-app`. The error I am receiving is below:

[code]

**To reproduce**

Create a new create-react-app repo:
[code]

Add `react-styleguidist`
[code]

Add component to `src/Components` and run `yarn styleguidist` (I added a dumb `Button` component to `src/Components/Button/`).

Example repo here:
https://github.com/NoahFi

[2019-02-12 22:59] tinaboyce commented on #1274
I have the same issue. I am currently using create-react-app@2.1.4

[2019-02-13 09:22] simonedavico commented on #1247
I also have this issue, `styleguidist server` with the latest `react-scripts` runs ok, but `styleguidist build` produces the above error.

I agree with @osbornm, as of today it does not work out of the box.

[2019-02-13 11:07] simonedavico commented on #1256
@prjctnxt did you solve this? I am having the same issue.

[2019-02-13 17:10] gsantiago commented on #1274
Same issue here with CRA 2.15

[2019-02-14 06:33] lucifer1004 commented on #1274
@NoahFisher @tinaboyce @gsantiago

As a temporary workaround:

In `styleguide.config.js`

[code]

For TypeScript projects,

[code]

[2019-02-14 11:31] dougmackenzie commented on #1224
I could do a PR for this feature. Presumably we'll just do a new styleguide.config var that allows you to remove the title from all pages?

[2019-02-14 12:11] lucifer1004 commented on #1247
@simonedavico

The difference between `styleguidist server` and `styleguidist build` is the `webpackEnv` variable, which is `development` when using `styleguidist server`, and `production` when using `styleguidist build`.

I have found another workaround, that is to set

`webpackConfig: require('react-scripts/config/webpack.config')('development'),`

in `styleguide.config.js`.

This will force `we

[2019-02-14 16:01] FezVrasta commented on #1224
I think  @sapegin wants the suggested alternative solution to be implemented

[2019-02-14 20:10] idanlo opened #1276 "npx styleguide build -> build error exit code 1"
![image](https://user-images.githubusercontent.com/28350511/52814621-3d700780-30a5-11e9-82e5-796925c5f8fe.png)
for some reason it has an error running `MSBuild.exe` and i have no idea what `libyaml` is

[2019-02-18 09:33] justb opened #1278 "How can I import 'antd' or any other lib ?"
**Version**
9.0.0-beta4

**Current behavior**
![image](https://user-images.githubusercontent.com/22002343/52940937-ac4da900-33a2-11e9-86fb-99d9246d3461.png)

**To reproduce**
![image](https://user-images.githubusercontent.com/22002343/52941040-e159fb80-33a2-11e9-950e-583914f33295.png)

**Expected behavior**
I can use antd Button in ButtonGroup

[2019-02-20 04:49] GraySmith00 commented on #1234
I was getting this problem when styleguidist was trying to import my test files. In my styleguide.config.js, I had my components as /button/*.js . I fixed it by explicitly naming the component files.

[2019-02-20 08:51] sapegin commented on #1271
Feel free to send a pull request for that!

[2019-02-20 08:53] sapegin commented on #1278
The code on the screenshots is different and the error message may explain what's wrong.

[2019-02-20 09:34] sapegin opened #1279 "Upgrade react-docgen to 4.0.0"
They've added support for user's Babel configs and looks like this is the cause of the error I see when I try to upgrade:

Though I'm not sure how to fix it — it need further investigation.

[2019-02-20 10:48] kopax opened #1280 "Recommendation for upgrading rsg-components from 8.0.6 to 9.0.0"
Hi and thanks again for react-styleguidist.

Congratulations for v9.0.0 release, I would like to get some advice on how to migrate one of our packages to enjoy all the newest features.

We are maintaining https://github.com/bootstrap-styled/rsg-components which is react-styleguidist UI component made with styled-components.

We usually lock react-styleguidist version and sometimes upgrade it follo

[2019-02-20 13:02] smashercosmo opened #1281 "Named exports are not supported"
I don't know if it's a bug or by design, but...

**Current behavior**

Named component exports are not supported even with ```@component``` annotation

**To reproduce**

try to load component with named export in styleguidist

**Expected behavior**

It used to work before. And should still work, considering that named exports are gaining more popularity over default exports (https://humanwhocodes.

[2019-02-20 16:24] FezVrasta commented on #1271
@sapegin may you point me to the right direction? What are the functions I will most likely need to change?

[2019-02-20 16:35] sapegin commented on #1280
There's a migration guide:
https://github.com/styleguidist/react-styleguidist/releases/tag/v9.0.0

I don't know this myself ;-) I have no personal plans yet, so it all depends on contributions.

Checking the commit log would be the best way to learn about _all_ changes.

[2019-02-20 16:36] sapegin commented on #1271
Unfortunately I have no idea how to approach this ;-£ I'd look into [react-docgen 4.0.0](https://github.com/styleguidist/react-styleguidist/issues/1279) because they've added some support for user's Babel config files. It could be useful here.

[2019-02-20 16:49] SerdarSanri commented on #400
@sapegin I am not sure why this issue is closed. The example link you posted also refers to using imports but using imports in examples throws `"import is not supported (1:0)"` error.

[2019-02-20 16:57] sapegin commented on #400
Imports _are_ supported in 9.0.0.

[2019-02-20 18:46] kopax commented on #1280
Thanks for the quick reply. I've just gone through the migration guide, and it is still unclear, what happened to the `rsg-components` folders? It seems that you throw everything away.

[2019-02-20 19:01] sapegin commented on #1280
It should be `lib/client/rsg-components`. We've just moved everything into one folder to run Babel on all files, not just client side.

https://github.com/styleguidist/react-styleguidist/tree/master/src/client/rsg-components

[2019-02-20 19:52] #1199 closed

[2019-02-21 02:53] paibamboo commented on #1266
I got the same problem. So for anyone that ends up here, in my case it was because webpack@4.29.x triggered an old `peerDependency` npm bug, downgrading to webpack@4.28.4 should fix or do one of the following listed [here](https://github.com/webpack/webpack/issues/8656#issuecomment-456713191)

[2019-02-21 08:54] hfuuss opened #1283 "react-docgen version is low"
![Uploading image.png…]()

react-docgen latsed version is 4.0.0 now ，when i use react-styleguidist version 9.0.0 ，it warning：

RangeError: Maximum call stack size exceeded

[2019-02-21 16:15] robertaird commented on #1278
I'm having this same issue in version 9.0.0. I can't seem to import other components into examples, or anything from node_modules. The acorn error is thrown on all components, whether it renders successfully or not. Same thing if I try require instead of import.
<img width="508" alt="screen shot 2019-02-21 at 10 05 34 am" src="https://user-images.githubusercontent.com/29717800/53183137-64a46880-35

[2019-02-21 18:35] af commented on #1278
I'm having the same issue as @robertaird when trying to upgrade from v8.0.6 to v9.0.0. Any import statement in my example (jsx inside a markdown file) results in this error being rendered in the browser:

[code]

(here $importName is a placeholder for whatever I tried to import). There is also an error in the console whenever this happens, screenshot below with the full traceback:

![screen shot 2

[2019-02-21 21:06] a-x- commented on #1264
ie11 is dead ;) why not edge?

[2019-02-21 21:26] smashercosmo commented on #1264
ie11 is far from being dead

[2019-02-21 21:37] ibrambe commented on #1278
Similar issue here with v9.0.0:

`styleguide.config.js`
[code]

`AppBar.md`
[code]

Error:
_Error: import or require() statements can be added only by editing a Markdown example file: @mycompany/react-components_

[2019-02-21 22:48] robertaird commented on #1278
I tried tracking down what was happening (under the assumption that I was doing it wrong) but I didn't have much luck. By the time the example hits [this file](https://github.com/styleguidist/react-styleguidist/blob/master/src/loaders/utils/client/requireInRuntime.js), none of the imported filepaths are present in the 'requireMap' object. It seems like Acorn is choking on the jsx the first time ar

[2019-02-22 00:20] kopax commented on #1280
Great thank you, this was worrying me :)

If I can get a few last advices before proceeding to migration of https://github.com/bootstrap-styled/rsg-components/tree/master/src:

We are really happy to see that you use the same prismjs `highlight` for all the styleguide.

This is the major reason why we want to upgrade, but also, the ES6 import in examples to make them copy/pastable is really great.

[2019-02-22 00:44] eduardoinnorway opened #1284 "TypeError: kleur is not a function??"
Anyone else experienced this? Did a totally new installation to try out new things, cant build or start server, same result.

$ styleguidist server
TypeError: kleur is not a function
TypeError: kleur is not a function
    at printErrorWithLink (/Users/vsasero/IdeaProjects/solid-react-styleguidist/node_modules/react-styleguidist/lib/bin/styleguidist.js:204:20)
    at Object.<anonymous> (/Users/vsas

[2019-02-22 15:13] #1284 closed

[2019-02-22 15:14] sapegin commented on #1283
Duplicate of #1279.

[2019-02-22 15:14] #1283 closed

[2019-02-22 20:28] cj commented on #1186
@jkarttunen @sapegin according to this pull request https://github.com/styleguidist/react-styleguidist/pull/1195 it should be highlighting the sidebar.  Did this merged pull request get removed at some point?

[2019-02-23 02:59] gwuhaolin commented on #1278
I debug react-styleguidist and find this issuse cause by acorn getAst fail in `react-styleguidist/lib/loaders/utils/getImports.js`:
![image](https://user-images.githubusercontent.com/5773264/53280824-dc59cb00-3759-11e9-9e07-e401915b0a53.png)

[2019-02-25 00:50] jure opened #1286 "CompileError: import is not supported"
This is something I've stumbled on, but also already figured out (was kind of tricky). As it's likely a somewhat common configuration issue, I've decided to quickly document it here and then close the issue. Hope that's alright!

So if you were using `react-styleguidist` before version 9.0.0, and `styled-components`, you likely had a thing like this in your styleguidist config:

[code]

If you hav

[2019-02-25 00:50] #1286 closed

[2019-02-25 04:50] jure commented on #1186
There's something funky going on on line https://github.com/styleguidist/react-styleguidist/blob/master/src/client/rsg-components/ComponentsList/ComponentsListRenderer.js#L51. Probably the link/href format has changed since then? You can temporarily fix this bit by overwriting the ComponentsListRenderer and changing this bit of the functionality.

[2019-02-25 10:22] viraths commented on #817
@dtuyenle I just used the given example in above post.

[2019-02-25 15:35] kopax opened #1287 "[Bug] npm i react-styleguidist@8.0.6 is broken"
We are trying to install react-styleguidist 8.0.6 but it is now broken:

[code]

It can be solved if we fix the version:

[code]

This is highlight.js issue not respecting semver, but perhaps you will agree to fix the version and tag a 8.0.7 version?

This cause issue in all our projects which are using fixed version of react-styleguidist@8.0.6.

[2019-02-25 19:19] benoitgrasset opened #1289 "[bug] npx styleguidist server -> Plugin could not be registered at 'html-webpack-plugin-before-html-processing'. Hook was not found."
**Current behavior**

"webpack": "^4.29.5"
with a create-react-app

Plugin could not be registered at 'html-webpack-plugin-before-html-processing'. Hook was not found.
BREAKING CHANGE: There need to exist a hook at 'this.hooks'. To create a compatibility layer for this hook, hook into 'this._pluginCompat'.
(node:3364) DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instea

[2019-02-26 02:29] kopax commented on #1287
We decided to migrate to v9 :p

[2019-02-26 02:29] #1287 closed

[2019-02-26 13:18] simonedavico commented on #1247
@lucifer1004 thank you, it works! Not sure what is the implication of always forcing the `development` config though.

[2019-02-26 15:24] osbornm commented on #1247
@simonedavico you can use my [suggested workaround](https://github.com/styleguidist/react-styleguidist/issues/1247#issuecomment-454644352) and then you wont be in DEV all the time. I have a fork of a fix that does this for folks. HOWEVER, @sapegin claims this is not an actually issue and has stoped responding to my comments.

[2019-02-27 01:29] wachunga opened #1290 ""Copy to clipboard" fails for non-https sites in Chrome 72"
**Current behavior**

Clicking the "Copy to clipboard" button on the path line fails for non-https sites.

**To reproduce**

See https://github.com/feross/clipboard-copy/issues/30 and https://github.com/feross/clipboard-copy/issues/32

**Expected behavior**

The copy should work.

Just need to bump clipboard-copy to v3.

[2019-02-27 02:15] arizonatribe opened #1291 "Unable to use Node API in v9.0.1"
**Current behavior**

I'm not sure what happened between 8.0.6 and 9.0.1, but when I updated today I'm no longer able to import certain files. At first I figured there was just some shuffling of files, but I believe it's more than that.

Following [the docs on using the Node API](https://react-styleguidist.js.org/docs/api.html) I should be able to see (at minimum) this working:

[code]
But that fa

[2019-02-27 12:30] sapegin commented on #1291
Feel free to send a pull request with a fix! ;-)

[2019-02-27 12:31] sapegin commented on #1290
Feel free to send a pull request with a fix! ;-)

[2019-02-27 15:30] arizonatribe commented on #1291
Really? That's all you're gonna give me? So is it a bug even, or is that like, my opinion man?

[2019-02-27 16:10] arizonatribe opened #1292 "Docs show config options that appear to have been removed"
**Current behavior**

While working with the Node API for React Styleguidist, I noticed a couple of times where I was receiving the "Something is wrong with your style guide config", but no other info. Tracing that [in the code](https://github.com/styleguidist/react-styleguidist/blob/master/src/scripts/config.js#L49) it looks like there's just situations where there is no `exception.message` and `

[2019-02-27 16:35] sapegin commented on #1292
The `moduleAliases` was introduced in 9.x, so we need to update the TOC in the docs ;-/

Does it work fine with `exception.toString()`? I'm fine with any solution if it improves the experience.

[2019-02-27 16:46] arizonatribe commented on #1292
Actually one minor change to that recommendation. I noticed the constructor for the `StyleguidistError` expects `(message, extra, anchor) -> *`, but the way it's being used in the `scripts/config.js` might be expecting `(fallback, message, extra) -> *`?

Editing the `node_modules/react-styleguidist/lib/scripts/config.js` locally like this seemed to work best:
[code]

[2019-02-27 16:48] sapegin commented on #1292
Sounds good! Mind sending a PR with this change?

[2019-02-27 16:54] arizonatribe commented on #1292
Yeah, but I can't seem to find 9.0.1. When I fork and pull the latest `master` it's still at 9.0.0

[2019-02-27 16:55] arizonatribe commented on #1292
I can go ahead and bump to 9.0.2 and submit that as the PR

[2019-02-27 16:58] sapegin commented on #1292
Ah, that's because of semantic-release. It doesn't change the version number in `package.json` (it should be `0.0.0-development`) and I've published 9.0.0 manually. So you don't need to care about versions.

[2019-02-27 17:00] arizonatribe commented on #1292
Okay great; submitted the PR for those two

[2019-02-27 19:09] sheldonHua commented on #1278
Has anyone solve this problem? I'm also getting the error:
```Error: import or require() statements can be added only by editing a Markdown example file:```
When I try to import other components into the markdown file.

[2019-02-27 20:08] milesj opened #1294 "Cant resolve rsg-components in v9"
**Current behavior**

I'm in the process of upgrading to v9 but am consistently hitting walls trying to get `rsg-components` to resolve correctly. For example:

[code]

I have many custom styleguide components that render the rsg components. The styleguide in question imports the following:

[code]

Yet is throwing the error above.

**To reproduce**

Code base is internal so cannot create a demo,

[2019-02-27 21:24] #1214 closed

[2019-02-28 04:15] devonmitton commented on #1255
I can confirm I'm seeing the same thing. I have a tooltip component that was firing mouseEnter twice when it should only happen once. Only happens when the component is in Styleguidist. Using the component in an app works as expected.

I'm on Styleguidist 7.3.11. I'm in the process of upgrading to the latest version, and I'll follow-up once I've done that.

[2019-02-28 08:33] wkillerud opened #1295 "Examples don't support named imports with trailing comma"
Hi! I'm in the process of upgrading to version `9.0.1` and encountered this odd issue.

**Current behavior**

An example importing multiple exports from the same file while using a trailing comma in the import statement will break the example.

[code]

Chrome produces the following error:

`SyntaxError: Unexpected token =`

Firefox produces the following error:

`SyntaxError: missing variable name

[2019-02-28 08:39] wkillerud commented on #1295
A workaround is to don't use trailing commas in import statements in examples. Some projects (like mine) enforce the trailing comma using Prettier, even in Markdown examples. It would be nice to get this fixed, particularly since it's a valid syntax ([[1](https://github.com/eslint/espree/issues/148)], [[2](https://tc39.github.io/ecma262/#prod-NamedImports)] and produces seemingly unrelated errors.

[2019-02-28 09:12] wkillerud commented on #1295
The problem seems to be caused by `rewriteImports` and its handling of the commas in named imports.

![image](https://user-images.githubusercontent.com/1223410/53554855-01c34c00-3b41-11e9-9821-5d8402d75460.png)

The `req.split(',')` statement produces an array where the last element is the empty string. `generate` assumes all entries in the array have a valid name, so it produces the statement tha

[2019-02-28 14:43] luzzif opened #1297 "Lots of Webpack 404 errors"
**Current behavior**

Using `react-styleguidist` 9.0.1 I see a **lot** of 404 errors in console.
Multiple non-existent files are requested to the server which then answers back with a 404.

An example of a request URL is `http://localhost:6060/__get-internal-source?fileName=webpack-internal%3A%2F%2F%2F.%2Fnode_modules%2Freact-styleguidist%2Flib%2Floaders%2Futils%2Fclient%2FrequireInRuntime.js`. Lo

[2019-02-28 22:24] rgrwkmn opened #1298 "9.0.1 npm package does not support require/import in Markdown examples"
**Current behavior**

When installing v9.0.0 or v9.0.1 from npm, I am not able to use require or import to include other JS files in Markdown examples. If I git clone the react-styleguidist repo directly (master branch) and npm link it to my project, then it works.

**To reproduce**

https://github.com/rgrwkmn/styleguidist-require-import-bug

**Expected behavior**

I want to import other JS files

[2019-03-01 06:57] aislanmaia opened #1299 "Hot Reload doesn't working"
**Current behavior**
Just trying learn some libs with React, I noticed that the HMR is not working. So I grab the scaffold project with CRA (`npx create-react-app demo`) and trying to change content into `App.js` causes the webpack server disconnects with:
[code]

Code line webpackHotDevClient.js:65 referenced in the console.

However, changing some css properties the hot reload seems working fine

[2019-03-01 15:06] stepankuzmin commented on #1298
Same issue here. But I could import external libraries, but couldn't import local components.

[2019-03-01 15:23] bricss opened #1300 "'Parser' is not exported from 'acorn'"
Hi everyone,

I'm trying to use Styleguidist within one of current React + TS projects.
And getting this error in console, right after `npx styleguidist server`:
[code]
Config file looks like this:
[code]
Versions:
[code]
Does anyone have an idea what it can be or how to fix it?

[2019-03-01 16:11] devonmitton commented on #1255
This is still an issue in 9.0.1

[2019-03-01 17:11] arqex opened #1301 "Loading .web.js files"
I am creating a react-native-web app, and I have some components with a specific version for the web.

Those components finish with the `web.js` extension instead of with just `.js`

With my webpack configuration I am have the extension loaded:
```resolve: { extensions: ['web.js', '.js']}```

It's working ok when building the app, but when building the style guide, doing `import Button from './But

[2019-03-02 08:48] ersel commented on #212
We use styleguidist at work for our multi-product component library with a few hundred components. As you can imagine, it is quite slow to render! I was going to open an issue to suggest adopting `react-virtualized` or maybe `react-in-viewport`, glad to see this issue already exists.

https://www.npmjs.com/package/react-in-viewport

I would be happy to look into this issue if someone familiar with

[2019-03-03 13:14] stepankuzmin commented on #1298
Well, in my case this issue was resolved by completely removing `prettier` dependencies from my project:

[code]

That's pretty strange behavior, though.

[2019-03-04 00:59] dougmacknz opened #1303 "Server start script errors when attempting to run concurrently with compile"
**Current behavior**

Running the `npm run compile:watch & npm run test:cypress:startServer` command from https://github.com/styleguidist/react-styleguidist/blob/master/.github/Contributing.md#user-content-integration-tests-cypress results in the following:
![image](https://user-images.githubusercontent.com/1811583/53704315-deb1d880-3e6f-11e9-80b4-4af09016a82f.png)

The server start script errors

[2019-03-04 06:34] dinukadesilva commented on #1234
Having the same issue. Anybody who found a solution for this?

[2019-03-04 09:37] #1290 closed

[2019-03-04 12:56] #1291 closed

[2019-03-04 13:22] sapegin commented on #1294
Use `styleguideComponents` option instead of custom webpack config:

https://react-styleguidist.js.org/docs/configuration.html#styleguidecomponents

[2019-03-04 13:24] sapegin commented on #1298
Feel free to send a pull request with a fix 👾

[2019-03-04 13:26] sapegin commented on #1303
Yeah, it used to work when the `scripts` folder wasn't babelified. Feel free to update the docs to run commands separately.

[2019-03-04 17:13] rgrwkmn commented on #1298
@sapegin what commands do you run to generate the build for NPM?

[2019-03-04 18:29] milesj commented on #1294
They worked together before, but do they not in v9 now?

[2019-03-04 20:02] milesj commented on #1294
I removed all my custom webpack config except for `module.rules` and `resolve.extensions` (because we use TS), and it still errors.

[2019-03-04 22:14] stonebk commented on #737
Also looks like you can use `template.head.raw`:
https://react-styleguidist.js.org/docs/configuration.html#template
https://github.com/vxna/mini-html-webpack-template#readme

[2019-03-05 08:17] valleywood commented on #1298
I had the same issue and I can confirm that removing dependencies to prettier solved the problem, would be grateful if someone could provide a fix for it though.

Here is the error that i get:
Error: import or require() statements can be added only by editing a Markdown example file

[2019-03-05 08:44] #1303 closed

[2019-03-05 11:10] Meguminrt opened #1307 "React app and styleguidist not work HMR"
Purpose:
I want to create my own component library of react in npm.
Problem:
When I start the Styleguidist server, my components are not updated after the build.
What am I doing:
I launch styleguidist server or npm start in the npx console (by changing the "scripts": {
    "start": "styleguidist server",
    "styleguide: build": "styleguidist build"
  }
) "
Тhen in the console I see it
You can now

[2019-03-05 12:41] pervezfunctor opened #1308 "class name clash with Bulma"
Bulma has a class name of 'tag'. Unfortunately, it clashes with 'tag' class name used by react-simple-code-editor used by react styleguidist. This messes up code editor in react-styleguidist.

The problem does not happen with the example project. As the example project uses old version of styleguidist, which uses codemirror instead of react-simple-code-editor.

[2019-03-05 18:24] rgrwkmn commented on #1298
@valleywood are the prettier dependencies of your project or of react-styleguidist? [My bug reproduction repo does not have any other dependencies](https://github.com/rgrwkmn/styleguidist-require-import-bug/blob/master/package.json).

[2019-03-05 18:38] valleywood commented on #1298
I had a reference to "prettier-eslint-cli": "4.7.1" in my project (not a dependency of react-styleguidist). I removed it, removed the node_modules folder and and re-run yarn and everything started working again.

Strange that it doesn't work for you despite not having this dependency 🤔

[2019-03-05 18:53] rgrwkmn commented on #1298
@valleywood can you clone my repro repo and try it? It should only take a minute to verify. Afaik nobody has confirmed that it also reproduces the bug for them:
[code]

[2019-03-05 19:23] valleywood commented on #1298
@rgrwkmn Tried but got permission denied when cloning

[2019-03-05 20:05] rgrwkmn commented on #1298
@valleywood thanks for trying! I updated the commands to use HTTPS instead of SSH, try that if you have a minute.

[2019-03-05 20:27] valleywood commented on #1298
@rgrwkmn Confirmed, I can repeat the error with your solution. I also see that your node_modules folder doesn't contain prettier-eslint-cli (a lot of other stuff though :))

[2019-03-06 03:13] timsnadden commented on #1298
What fixed this for me was adding the following to `devServer` in the styleguidist config.

[code]

[2019-03-06 03:17] timsnadden commented on #1278
For me this problem was solved by modifying `devServer` in the styleguide webpack config.

[code]

[2019-03-06 08:52] #1218 closed

[2019-03-06 09:18] #1246 closed

[2019-03-06 13:29] ikhudo opened #1309 "Missing styles using styled-components"
trying to setup a lib of react components using styled components and react-styleguidist, I've created 3 components like this

[code]

and when I run styleguidist server there only last component on the page is styled (has red text on yellow background).

[code]

[code]

but it works if i run styleguidist build

[2019-03-06 16:43] rgrwkmn commented on #1298
@timsnadden thanks for the report! That must be having some interaction with other configs you're using because I added it to the styleguidist webpackConfig in my repro repo and it didn't fix the issue there. I also upgraded to 9.0.3 and the outcome is the same.

There is a difference in the package served by NPM and the code from running `npm compile` in the cloned github repo. If @sapegin can gi

[2019-03-06 18:57] timsnadden commented on #1298
@rgrwkmn I cloned your repo, deleted `package-lock.json` and ran `npm install && npm run styleguidist` and it worked. It appears that it's a transitive dependency that has been updated and fixed the issue

[2019-03-06 20:48] rgrwkmn commented on #1298
Thanks @timsnadden, I just tried the same and it worked with react-styleguidist version 9.0.3! I pushed the updated package-lock.json to my repo if anyone cares to try to find the root cause.

[2019-03-06 20:48] #1298 closed

[2019-03-07 10:16] SimonSomlai commented on #209
Just removing react-docgen didn't work for me. But ;

**downgrading styleguidist from v9 to ^8.0.6** AND **removing react-docgen from package.json** solved the problem for me.

[2019-03-07 11:49] kopax opened #1310 "[Regression v8 to v9] Example can't import itself anymore. moduleAliases/WebpackConfig.resolve.alias is broken => import or require() statements can be added only by editing a Markdown example file"
## Upgrade to v9

Following #1280 @sapegin we finally migrated our [UI lib](https://github.com/bootstrap-styled/rsg-components/releases/tag/v2.0.3) to work with the latest react-styleguidist v9.

Now our `webpack.alias` is broken. We use to have in our `webpackConfig`:

[code]

I have tried to set [`moduleAliases`](https://react-styleguidist.js.org/docs/configuration.html#modulealiases):

[code]

[2019-03-07 11:50] kopax commented on #1309
Hi, we already have made a library for this, check out https://github.com/bootstrap-styled/rsg-components

[2019-03-07 12:22] kopax commented on #1075
Hi, we are now experiencing issue in #1310  not being able to use `require` or `import` at all.

Could this be related?

[2019-03-07 13:23] kopax commented on #1280
@sapegin , we have found that v9 is breaking `resolveAliases` in example, using `webpackConfig.resolve.alias` also does not help.

[2019-03-07 14:31] kopax commented on #1310
I am preparing a reproduction, this is the full configuration:

[code]

This is the markdown we expect to import correctly:

[code]

[code]

[2019-03-07 14:52] kopax commented on #1280
I am closing in favor of #1310

[2019-03-07 14:52] #1280 closed

[2019-03-07 17:36] davidpaley opened #1312 "Error: import or require() statements can be added only by editing a Markdown"
I'm trying to make an example of my component in the Markdown file (.md). The problem is when I try to import something inside this markdown file:

[code]

When I go to the component it says:
Error: import or require() statements can be added only by editing a Markdown example file: ../../utils/validation

![image](https://user-images.githubusercontent.com/4527780/53976091-14abc280-40e5-11e9-91c7-

[2019-03-07 17:41] kopax commented on #1312
I think this is the same as #1310, we are currently invistagating for the root cause but we couldn't find, let us know if you get why. To me, all the module aliases are not working within examples.

The one think we can import is `react`. Can you please confirm that you can't import dependencies listed in `package.json` `dependencies` ?

[2019-03-07 17:44] kopax commented on #1310
#1312 #1278

[2019-03-07 17:47] santaclauze commented on #1278
Confirmed. @robertaird 's super hack works. But as expressed, it is a bit 'harcore'.

Any followup on this? It seems to be quite a recurrent problem.

[2019-03-07 18:05] davidpaley commented on #1312
Yes, me too. I have the error if I tried to import any of the package.json dependencies except for react.

[2019-03-07 18:07] timsnadden commented on #1278
I have had success fixing this problem by deleting `yarn.lock` (or `package-lock.json` for npm users) and reinstalling. I'm not sure what the cause was but one of the dependencies, perhaps transitive, is updated to fix this issue

[2019-03-07 18:28] kopax commented on #1278
@timsnadden how can deleting the lock file can help solving the import issue?

I am also investigating and we dowgraded to v8.0.6 our documentation because of that. Can somebody help me point to the commint that changed the behavior in react-styleguidist? I can't find **what change** between v8 and v9

[2019-03-07 18:34] timsnadden commented on #1312
Try deleting `yarn.lock/package-lock.json` and reinstalling. I'm not sure which dependency is causing the issue but this fixes it

[2019-03-07 18:58] kopax commented on #1312
@timsnadden I don´t know where you got this. I am a package maintainer and we allow the wider range of semver for our users, We want to see things break and we do not use lock file for that reason (except in app). The only thing it could have change on your side is that it  upgraded version on your particular host. To me, I already have the latest version and this bug is still present. You´re advi

[2019-03-07 18:59] timsnadden commented on #1310
@kopax The commands above should include running `npm install` after switching branches to update the packages that have changed in package.json. I tried this and was able to see the problem you raise here.

As an experiment I tried running `yarn` instead and it appears that there is a difference in the dependency resolution as the error doesn't occur when installed via yarn. I did seeing another

[2019-03-07 19:06] kopax commented on #1310
Can you please clarify what you mean by ` the problem you raise` and `the error` ?
Are you the one man who can achieve external imports within examples using any import from `pkg.dependencies` ?

[2019-03-07 19:28] amakely-da commented on #1289
I have the exact same issue.

[2019-03-07 22:08] Spenc84 commented on #1300
I am also getting the same error.

I recently upgraded Styleguidist from v7.3.11 to v9.0.3.
This in turn required me to upgrade Webpack (from v2 to v4.29.6).

Upgrading Webpack required me to upgrade many of my other dependencies as well, so I went ahead and upgraded everything to their latest versions, though this issue seems to only pertain to Styleguidist, Acorn, and potentially Webpack.

I rem

[2019-03-07 23:50] Spenc84 commented on #1300
It looks like the issue has something to do with the fact that Acorn is using the new .mjs file extension.
I updated my webpack config file to include .mjs before .js in resolve > extensions, and I added mjs to the list of extensions my babel-loader tests and that seems to resolved the issue.

[2019-03-08 07:41] #1295 closed

[2019-03-09 00:54] timsnadden commented on #1312
@kopax For me the issue was resolved by removing `yarn.lock` and reinstalling. It's a hacky solution but can perhaps provide a clue to identify the root cause. I'm sorry it didn't resolve the issue for you

[2019-03-09 03:46] timsnadden commented on #1310
@kopax  "The problem you raise" is this git issue and "the error" is `Error: import or require() statements can be added only by editing a Markdown`. I checked out the branch and installed via npm and could see the error but when I installed via yarn the error wasn't there and instead it showed `[object Object]`. This is what I expect to see as `fontawesome.config.js` doesn't export anything.

I d

[2019-03-09 06:02] kopax commented on #1310
That is not important, it should be `undefined`, the issue come because the improtMap is wrong.

Thanks for insisting even with doubt, I will investigate on buble and see what I can get.

[2019-03-09 06:38] kopax commented on #1312
Ok, now I got it and you are right. Let's continue in #1278

[2019-03-09 06:40] kopax commented on #1278
/cc @sapegin :+1:

https://github.com/styleguidist/react-styleguidist/issues/1310#issuecomment-471142372
https://github.com/styleguidist/react-styleguidist/issues/1310#issuecomment-471149417

I think timsnadden got the cause, I have a similar case, can we get your opinion about it? I think you have a clue for us. We will get the reason and the fix.

[2019-03-10 09:16] sapegin commented on #1278
Maybe try to upgrade Buble and Acorn, if the problem is related to one of them. Though there's a problem with Buble — https://github.com/bublejs/buble/issues/171, the fix wasn't yet released.

[2019-03-10 10:54] kopax commented on #1278
I've been trying to update `acorn`:

[code]

After `npm i acorn@6.1.1`:

[code]

I did the same with buble, before:

[code]

After `npm i buble@0.19.6`:

[code]

[2019-03-10 22:23] kopax commented on #1226
Hi @stale bot, we have found the fix to use `javascript` as static` by default, because this is what `@example` generate.

If we want code editor, we just do it inside `@description`, but this can be inconveniant to read in the jsdoc code and require to modify the default.

Should we keep this open?

[2019-03-11 02:35] kopax commented on #1278
I have found a way without yarn:

Add to your dev dependencies:

[code]

Rerun `npm install` and it should be working.

[2019-03-11 04:26] kopax commented on #1310
Close in favor of #1278

[2019-03-11 04:26] #1310 closed

[2019-03-12 03:32] shenshanyoumu commented on #1278
it works for me,thanks

[2019-03-12 15:05] arqex commented on #1301
Hey, any thoughts on this? Would you be interested in a PR with the changes?

[2019-03-13 13:07] FezVrasta commented on #1230
Still valid, very valid.

[2019-03-14 03:41] leahprin commented on #1170
@jkarttunen I would love to see something like this. It's exactly the issue we're facing at the moment.

[2019-03-14 10:17] #1225 closed

[2019-03-14 16:11] chrisbobbe commented on #1201
I've encountered this problem when using /babel-plugin-transform-object-rest-spread (an older version of @babel/plugin-proposal-object-rest-spread), which is required by babel-preset-react-native.

I was able to fix it by removing `react-native` from my babel presets and adding the plugin "@babel/plugin-proposal-object-rest-spread". Without the react-native preset, you may need "@babel/preset-reac

[2019-03-14 18:23] EvHaus commented on #1278
For me, doing a full clean re-install helped. ie:

[code]

Seems like something in the dependencies is indeed the culprit here.

[2019-03-15 11:54] Gisleburt commented on #1147
As a temporary work around, I've manually adding a table to the example markdown file.

README.md:
[code]

This is undesirable as it does not match the style of the styleguidists tables, and would need to be kept up to date manually, but at least the information is given.

[2019-03-18 14:28] #1227 closed

[2019-03-18 14:30] apfelbox opened #1314 "Error: "Cannot set property 'rsg-components' of undefined""
**Current behavior**

[code]

**To reproduce**

Here is an example project: https://github.com/apfelbox/styleguidist-example

**Expected behavior**

It should work, I guess?

---

Basically, I want to run styleguidist ideally with TypeScript and Preact, but I can use React as well.
However I always get this one error without any context.

`--verbose` doesn't add more context, unfortunately.

[2019-03-19 12:12] ryosuke-hujisawa commented on #413
how about hisi ?

[code]

[2019-03-20 06:28] kopax opened #1315 "DocumentationJS generated link in markdown does not render in HTML through react-styleguidist"
We have the following markdown generated with [documentationjs](https://github.com/documentationjs/documentation).

    ## camelizePath

    This utility convert a path to a camelCase dotted string.
    Every parameter within the path will see the colon replaced with a dollar sign.

[code]

    ### Parameters

    -   `path` **[string][1]** A valid react router path
    -   `extensions` **[array][

[2019-03-20 13:49] GuillaumeJasmin opened #1316 "v9 doesn't work with typescript"
It seems that v9 doesn't work with typescript. I just update from `v8.0.6` to `v9.0.4`, and my examples don't show anything.

**Current behavior**

With `v9.0.4`:

![Screen Shot 2019-03-20 at 14 32 26](https://user-images.githubusercontent.com/3513444/54687952-0c0faf00-4b1d-11e9-948c-be39bdf7b96e.png)

**To reproduce**

migrate from `v8.0.6` to `v9.0.4`

**Expected behavior**

With `v8.0.6`:

![Sc

[2019-03-20 14:11] #1316 closed

[2019-03-20 14:36] GuillaumeJasmin opened #1317 "Breaking change webpack config v8 to v9"
After migration from `v8.0.6` to `v9.0.4`, live example doesn't work on markdown files if we use a custom webpack config.

this is my `styleguide.config.js`:

[code]

I have a simple example with `div`:
[code]

`v8` show that:

![Screen Shot 2019-03-20 at 15 14 31](https://user-images.githubusercontent.com/3513444/54691023-e4234a00-4b22-11e9-8228-c4f3af420f11.png)

but with `v9`, example disappear

[2019-03-20 15:17] GuillaumeJasmin commented on #1317
I found the bug, it come from `resolve.modules`

[code]

[2019-03-20 15:17] #1317 closed

[2019-03-20 16:03] trollepierre opened #1318 "Upgrade to react-icons 3"
**Current behavior**
When I run `yarn install`, I got
error https://registry.yarnpkg.com/react-icons/-/react-icons-2.2.7.tgz: Extracting tar content of undefined failed, the file appears to be corrupt: "ENOENT: no such file or directory, open '/Users/myUserName/Library/Caches/Yarn/v4/npm-react-icons-2.2.7-d7860826b258557510dac10680abea5ca23cf650/node_modules/react-icons/lib/fa/sort-alpha-desc.js'"

[2019-03-20 22:31] myles-sigsci opened #1319 "Make dangling semicolon after imports optional, if possible"
**The problem**

Now that the components are no longer located in the global namespace (nice job by the way!), the prescribed way to import extra components is as follows:

[code]

**Proposed solution**

Would it be possible to import in the following style instead? I feel like it would be just a little bit more clear, and would represent the actual code that consumers would want to copy-paste.

[

[2019-03-20 23:20] ammmze opened #1320 "assetsDir as an array breaks styleguidist build"
**Current behavior**

When `assetsDir` is configured as an array, the `styleguide:build` script fails like this...

[code]

**To reproduce**

I've forked the example repo and made [this](https://github.com/ammmze/example/commit/310e059cc15bd9a4c8f1cf458cc0bb0fe5391a50) change and then run `npm run styleguide:build` which triggers the error.

**Expected behavior**

The build should be successful as

[2019-03-21 18:40] tsiq-jeremy commented on #750
I was doing a little bit of research on this and it looks like [react-docgen is trying to support typescript](https://github.com/reactjs/react-docgen/issues/325), but it seems to be in early stages. If they did support TS there would not be a need for react-docgen-typescript anymore.

Seems doable, just update props-loader.js to check if TS is supported then use react-docgen-typescript if it is.

[2019-03-22 06:31] paibamboo commented on #1278
@kopax
I think this might be the same problem of `npm` + `webpack` + `acorn`. See this [comment](https://github.com/webpack/webpack/issues/8656#issuecomment-456713191)

[2019-03-22 07:01] kopax commented on #1278
@paibamboo fixing version solved the issue for the moment. And yes it's related with `npm`+`acorn`, not sure how webpack is related.

[2019-03-23 14:52] #1084 closed

[2019-03-24 05:52] #1229 closed

[2019-03-26 07:48] sapegin commented on #1319
Buble won't compile this code:

https://buble.surge.sh/#import%20%7B%20Button%2C%20List%20%7D%20from%20'library-a'%0Aimport%20%7B%20Icon%20%7D%20from%20'library-b'%0A%0A%3CDropdown%0A%20%20trigger%3D%7B%0A%20%20%20%20%3CButton%0A%20%20%20%20%20%20purpose%3D'neutral'%0A%20%20%20%20%20%20appearance%3D'outlined'%0A%20%20%20%20%20%20iconAfter%3D%7B%20%3CIcon%20glyph%3D'ArrowDropDown'%20%2F%3E%20%7D%0A

[2019-03-26 07:48] #1319 closed

[2019-03-26 07:53] sapegin commented on #1312
This should be

[2019-03-26 07:53] #1312 closed

[2019-03-26 07:54] sapegin commented on #1318
This looks like a network issue on your end, but feel free to send a pull request with update.

[2019-03-27 09:31] #1164 closed

[2019-03-27 10:01] Sly36 opened #1321 "Unexpected token in code example"
I had to install react-styleguidist with yarn (vs npm) to have PROPS & METHODSi working.

Now it works but i have Syntax errors for all my components (with defaultExample set to true and components with their own examples too):

in the .md file
[code]

results in

[code]

and
[code]

results in

[code]

here is an example of a simple component code :

[code]

[2019-03-27 10:29] Sara2009 opened #1322 "How to forbid react-styleguidist to run the code block in the md file?"
In the md file, I don't want react-styleguidist to run a code block. I just want to show this code source. But now it occurs an error.

I don't want the code block(const dialog = Modal.show(config);...) to run with react-styleguidist. I just want it to run the ModalExample code block.

The md file is as blow:

Basic Usage
Modal.show(config)
[code]

[code]

Error:
Uncaught ReferenceError: Modal is

[2019-03-27 22:08] vollmerr commented on #1321
I am getting this same error. Everything works fine on version 9.0.4, but get the above error on 9.0.5 for all my components.

[2019-03-27 22:24] myles-sigsci opened #1323 "Set autofocus attribute on "Filter by name..." input by default"
For easier searching/filtering 👍

[2019-03-28 09:45] Sly36 commented on #1321
Thank you, downgrading to 9.0.4 fix the problem

[2019-03-29 08:02] tizmagik commented on #1322
Hello! Have you tried adding the `static` modifier to the code block in md? https://react-styleguidist.js.org/docs/documenting.html#usage-examples-and-readme-files

[2019-03-29 22:14] stonebk opened #1324 ""sections" anchor broken on configuration documentation"
**Expected behavior**

Going to https://react-styleguidist.js.org/docs/configuration.html#sections should bring me to the `sections` documentation.

Going to https://react-styleguidist.js.org/docs/configuration.html and clicking on the "sections" link in the ToC should bring me to `sections` documentation.

Looks like the generated ID is incorrect:
https://react-styleguidist.js.org/docs/configurat

[2019-03-29 22:58] stonebk commented on #1137
@Acesmndr, a workaround I found is to add an empty object to the sections array:

[code]

[2019-03-30 19:59] #1188 closed

[2019-04-01 06:05] xuelq007 commented on #422
is there any solution for that? I also get the problem when export HOC.

[2019-04-01 18:14] s-h-a-d-o-w commented on #750
In case you are still considering this, I would recommend you run react-docgen-typescript against some slightly complex cases such as a formerly Flow-typed FC that destructures props, assigns default values to them and uses typed objects for some of the props - some of which are optional.

Unfortunately, none of that works well, as I have discovered today, after migrating our UI component library

[2019-04-01 20:15] s-h-a-d-o-w commented on #750
The beautiful thing is... possibly due to babel magic (gotta love it), it looks like people who need TS support right now can actually already have it. I've played around with the `Button` component in the "basic" example:
https://github.com/s-h-a-d-o-w/react-styleguidist/tree/basic_TS_example

Looks just wonderful to me. Not sure whether it has any flaws but... I'll definitely try this out on our

[2019-04-02 08:39] tuchk4 commented on #453
I am working with lerna and one of the packages is styleguidist and its configs.
I need to include components from dependencies. Like this
[code]

But this does not work. There are two solution to fix it

### 1.  Use require resolve

[code]

### 2 Patch [src/loaders/utils/getComponentFiles.js](https://github.com/styleguidist/react-styleguidist/blob/34f3c83e769542157c72d0e055ad8850d22b6001/src/load

[2019-04-02 08:50] sapegin commented on #1323
This will cause accessibility problems:

https://medium.com/@gavyn/til-autofocus-inputs-are-an-accessibility-problem-32ced60c3109

Also not everyone is using search every time.

[2019-04-02 08:50] #1323 closed

[2019-04-02 08:53] sapegin commented on #1324
Feel free to send a pull request with a fix.

[2019-04-02 08:54] sapegin commented on #1320
Feel free to send a pull request with a fix.

[2019-04-02 20:09] juandata commented on #277
[code]

[2019-04-03 08:35] JayaKrishnaNamburu commented on #1318
Hey @sapegin is this still available ?

[2019-04-03 08:50] sapegin commented on #1318
Sure!

Artem Sapegin, sapegin.me

On 3. Apr 2019, 10:35 AM +0200, Jaya Krishna Namburu <notifications@github.com>, wrote:

[2019-04-03 08:53] JayaKrishnaNamburu commented on #1318
Thank you, will update with a PR shortly 👍

[2019-04-03 12:14] JayaKrishnaNamburu commented on #1318
Hey @sapegin  update regarding this

1. The package react-icons with version number 2.2.7, is still available via the same link that is mentioned in the issue and with npm and yarn as well.

2. When i tried to upgrade the test cases were failing, because it turns out in version 3 they have made some major changes and files like ``react-icons/lib/md/fullscreen`` are not available in the same path,

[2019-04-03 15:15] SammyM commented on #1281
I've also encountered this issue. A workaround is to import the component into each example in the markdown file like so:
[code]
But this isn't ideal, and also wouldn't work for people who use the `defaultExample: true` setting.

[2019-04-03 17:01] romgain commented on #1308
@pervezfunctor I'm having the same issue.

If that helps, I added this to my `styleguide.config.js` to work around it until we can figure out a long-term solution:

[code]

[2019-04-03 18:22] yugandhar-pathi commented on #981
What kind of config should we use in webpack ? Does react styleguidist compile my react code ? I am using rollup with typescript.

[2019-04-03 20:50] apulley commented on #1264
@smashercosmo This doesn't necessarily help you with react-styleguidist@9.x, but on Styleguidist 8.x, this exclude regex in my babel-loader config got me going in IE11.
[code]

[2019-04-03 21:19] smashercosmo commented on #1264
@apulley this is awesome) I have also found these problematic packages, but for some reason haven't come up to this simple solution. Thank you. I think it's worth documenting. @sapegin what do you think?

[2019-04-03 22:14] apulley commented on #1264
@smashercosmo great news! just to confirm again, did that babel-loader config work for you with react-styleguidist 9.x?

[2019-04-03 22:16] smashercosmo commented on #1264
@apulley I haven't yet tried, but I'm pretty sure, it will work) I'll try tomorrow.

[2019-04-04 08:43] evrenakar commented on #1289
I have the exact same issue. :/

[2019-04-04 08:49] evrenakar commented on #445
What do you plan to do about React hooks?

[2019-04-04 11:45] sapegin commented on #1264
Sure, feel free to send a pull request. Though I don't understand why it helps: none of these modules are used in the browser.

[2019-04-04 11:47] smashercosmo commented on #1264
They are not used, but they are still in the bundle and IE can't handle modern syntax.

[2019-04-04 13:14] apulley commented on #1264
@smashercosmo The last config I was using worked and rendered in IE11, but was still getting console errors. Again, here's a cleaner config that's working for Styleguidist 8.x
[code]
New method was more or less ripped from the following project who more or less was having the same issues with `ansi-styles`.
https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/config/webpack.com

[2019-04-04 13:20] smashercosmo commented on #1264
@apulley I checked styleguidist v8 today. And I managed to get it work in IE11 by only transpiling these three packages ```/ansi-styles|react-dev-utils|chalk/```. I will check styleguidist v9 later.

[2019-04-04 13:34] kopax commented on #445
What do you mean?

[2019-04-04 19:57] evrenakar commented on #445
How do i implement styleguidist when using react hooks?

[2019-04-05 14:38] FezVrasta opened #1326 "HTML comments visible as plain text"
**Current behavior**

Markdown files containing HTML comments (``) are visible as plain text since the upgrade to 9.x (9.0.5).

**To reproduce**

Sorry I don't have time to create a repro, but it's straight forward to reproduce.

**Expected behavior**

The HTML comments should be hidden when rendered.

[2019-04-05 14:54] smashercosmo commented on #1264
Alright, here you are https://github.com/styleguidist/react-styleguidist/pull/1327. This example is for v9.

[2019-04-05 17:11] sapegin commented on #1326
Feel free to send a pull request with a fix.

[2019-04-08 11:42] #1247 closed

[2019-04-08 14:30] adriankremer commented on #1281
since i've updated to 9.x importing on the same module name as the Markdown file produces: SyntaxError: Identifier 'Button' has already been declared.

[2019-04-09 05:03] korziee commented on #1281
I'm getting the same error, without looking at the source code I'd assume that the identifier was previously set using `var`/`let` and since has been changed to `const`.

We've been using this method of importing the component into every readme through a named export. Has anyone had any success in mitigating this?

It would be great if we could turn off auto import by default.

[2019-04-10 05:03] shadowae opened #1329 "help wanted: I am having issues with using styleguidist with react-bootstrap"
Hi,

I had created my react app using CRA so its now in webpack 4 with react 16.

Furthermore, i have ejected my application and then proceeded to use react-bootstrap in my UI components.

At this point, i have tried using react-styleguidist to document my components and have run into an issue.

[code]
this is my styleguide.config.js
[code]
this is my webpack.config.js
[code]
Below is the screensh

[2019-04-10 06:28] shadowae commented on #1234
#1329 Having same problem

[2019-04-10 10:06] snorrekim opened #1330 "Section can not have same name as component when pagePerSection: true"
**Current behavior**

If `pagePerSection: true` and a section has the same name as one of it's components, that component is the only one that is shown, all other components are hidden. And the section title is not shown either.

**To reproduce**

1. in `styleguide.config.js` set `pagePerSection: true`.
2. add a section with more than one component (you might neeed 2 sections, so create a second s

[2019-04-11 07:16] SimeonC commented on #1194
I too am using a styleguidist with a lerna repo. TLDR Fix is to add this into you `styleguide.config.js` (or similar):
[code]

I found this out when my node crashed with a full GC stack. It looks like this is due to `watchpack` trying to resolve the circular dependency when starting a watcher up here: https://github.com/webpack/watchpack/blob/master/lib/DirectoryWatcher.js#L238

Forcibly disabling

[2019-04-11 18:25] stonebk opened #1332 "pagePerSection links break when section name includes a "/""
**Current behavior**

If you have a forward slash in your section name, the `pagePerSection` links are all broken, resulting in "Page not found". Removing the forward slashes in the names fixes the issue.

**To reproduce**

Simple `styleguide.config.js`:

[code]

**Expected behavior**

Links should work for any text in a section name field. Probably just need to urlencode the string.

[2019-04-11 21:06] avespoli-bf commented on #1300
Still experiencing this issue. Even after following @Spenc84 s comment above. I can build all of my components with webpack and babel just fine but trying to build the styleguide gives me the error above.

[2019-04-12 02:36] SimeonC commented on #1194
OK, the only way I worked around this was by using super hack powers to permanently disable nested watchers in `watchpack`. This stops the crashing and for now, seems to be working correctly and hotloading. This will work until webpack upgrades watchpack or stops using it for something else so it almost definitely will break at some point.

### `package.json`
[code]

### `hackWatchpack.js`
[code]

[2019-04-12 14:06] danoc93 opened #1334 "Excluding all components which have no examples"
By default we are including all the tsx components recursively (via a basic glob expression).

However, we have a bunch of these which are mostly helpers or wrappers around regular HTML components. Some of these are also just styles. We do not want to see these on our style guide. We do not add an md file for these.

The way our app is built means we cannot easily restructure it to add naming conv

[2019-04-12 14:11] #1334 closed

[2019-04-12 14:11] danoc93 commented on #1334
skipComponentsWithoutExample

[2019-04-12 16:12] #1329 closed

[2019-04-12 16:12] shadowae commented on #1329
Sorry, my bad there was bad import.

[2019-04-13 14:44] martinburford commented on #1088
I have exactly the same issue as of April 2019. Please advise how to make a state change within StyleguideRenderer and for that to be available (and passed) to the Wrapper renderer and all demo components.

[2019-04-15 08:22] MJingv opened #1336 "how to render docs with config of myself"
hi~i wanna render my component docs.
it is impossible to rewrite my component ,but i have the config as your data structure like this
[code]
the problem is any api or plugin can help me render component docs with the config ?

ps:i had trouble in reading  the source data , is there any key points in the loaders?

[2019-04-16 11:14] eemeli opened #1338 "PR #1116 broke simple getExampleFilename customisation"
**Current behavior**

Previously, the [documented `getExampleFilename` configuration](https://react-styleguidist.js.org/docs/configuration.html#getexamplefilename) allowed for just returning the path to where an examples file was expected to be found, but following #1116 a custom function now needs to return `false` or `null` if the file does not exist, because the `fs.existsSync()` check [was rem

[2019-04-17 00:39] quentez commented on #1281
We're also stuck on v8 because of the above.

[2019-04-17 05:07] adityakuna92 opened #1339 "Can we able to change UI for react-styleguidist default theme ?"
Currently we are using react styleguidist in one of our component architecture framework but we want to change the existing UI.

[2019-04-18 09:53] MattAndDev commented on #1281
Hi there, stuck in a smiliar not-upgradable condition.

What we have named exports for functional components:
`components/component-name.jsx`
[code]

This works beautifully in `8.x.x` but breaks in resolving correctly the components in `9.x`
I played around a bit with propsParser and resolver options, but it does not seem a react-docgen issue (it resolves the correct docs for the given named expor

[2019-04-18 12:04] sapegin commented on #1338
I don't remember why it was removed ;-)

But we have a similar condition here:

[2019-04-18 12:05] sapegin commented on #1332
Feel free to send a pull request with a fix.

[2019-04-18 12:17] eemeli commented on #1338
The code fix itself is pretty simple and I can do that, but updating the [`getExamples` tests](https://github.com/styleguidist/react-styleguidist/blob/master/src/loaders/utils/__tests__/getExamples.spec.js) is trickier. Any guidance on how to mock the `fs.existsSync` calls there?

[2019-04-18 23:51] konsumer opened #1342 "Headers conflict with navigation link IDs"
**Current behavior**

I have config like this:

[code]

In `docs/components/Button.md` I have a `### colors` to talk about how to color buttons.

When I click on `Colors` in side-menu (from `docs/concepts/colors.md` it links to the `Button.colors` section, because it's the first item with an ID of `colors`.

Should I configure this differently, or is this a bug?

If there isn't a configuration-opt

[2019-04-19 03:29] konsumer commented on #767
I am also having same issue. Things like h-tags have your `rsg-heading-*` classes applied, which makes the markdown look different from our styles.

Here is an example using [Bootstrap's `h*` classes](https://getbootstrap.com/docs/4.0/content/typography/), which look the same without those classes, but don't match with them:

![Screenshot_2019-04-18_20-25-33](https://user-images.githubusercontent.

[2019-04-19 05:08] sapegin commented on #1338
Historically we use real files in tests instead of mocking the file system. It's not ideal and I did mocking with https://github.com/streamich/memfs on another project. So both would be fine.

[2019-04-19 05:14] sapegin commented on #1342
Yeah, I think we should prefix auto generated headings with something like I don't know, maybe `section-HEADING_NAME`, so links to components and sections are short and nice.

A pull request would be super cool, thanks!

[2019-04-19 19:43] drublic commented on #1210
Any news or plans on this issue?

[2019-04-21 09:43] #1242 closed

[2019-04-21 18:09] #1236 closed

[2019-04-21 20:09] #1235 closed

[2019-04-22 06:32] devongovett commented on #750
FYI, I'm working on TypeScript support for react-docgen here. Feel free to test it out: https://github.com/reactjs/react-docgen/pull/348

[2019-04-23 16:24] eragon512 commented on #1170
@jkarttunen regarding the code-design view mix, the Medium link @sapegin contains an interesting way of implementing it: having a Design/Code toggle to switch between the views
Thoughts?

Link: http://uniform.hudl.com/components/forms/checkbox/code/

[2019-04-24 09:34] sapegin opened #1343 "Support Hooks in examples"
**The problem**

Hooks could be a better way to use state in examples, than our custom `initialState`. But they don't work right now because we're wrapping example code in a class component, and hooks only work in a function component.

[code]

**Proposed solution**

Wrap examples in a function component and pass state from the current wrapper class component as a prop.

**Alternative solutions**

[2019-04-25 11:02] sterowney commented on #1253
Did anyone find a solution to this?

[2019-04-26 18:37] FDiskas opened #1344 "web components"
**The problem**

I have custom elements / web components developed using [stenciljs](https://stenciljs.com) and I want to have documented them using styleguidist

**Proposed solution**

React can render web components. So it should be possible to implement.

**Alternative solutions**

Stenciljs automaticly generates readme.md files on each component and it looks like
[code]

And styleguidist could

[2019-04-26 21:42] myles-sigsci opened #1345 "Error when importing component in Markdown file"
**Current behavior**

Hello, I am attempting to import a JSX component into a Markdown documentation file. I'm creating an alias for these styleguide-only view components in my `styleguide.config.js`:

[code]

`console.log`'ing the path shows it to be as expected, and when I import a component in my Markdown file, it throws no errors:

[code]

Here is the `<Do />` component, for reference:

[code]

[2019-04-27 10:22] eragon512 commented on #1141
I'd like to take up this issue if its available

[2019-04-27 10:55] eragon512 commented on #1326
@FezVrasta @sapegin I want to take up this issue, however, I am unable to reproduce this issue with the mentioned version `react-styleguidist@9.0.5`. Any idea on how to reproduce it?

[2019-04-27 16:22] FezVrasta commented on #1326
Can you look at https://github.com/quid/refraction please? You can reproduce it in that repository, you just need to comment out the manual workaround I added.

I'm sorry but my home is without electricity until Monday so I can't be more helpful 😞

[2019-04-27 19:21] eragon512 commented on #1326
@FezVrasta  the issue seems to be with the `markdown-to-jsx` dependency => this dependency failes to recognise multiline (comments internally spaced with `\n`) HTML comments.

@sapegin This is a live demo of the dependency, for confirmation: https://probablyup.com/markdown-to-jsx/. You can confirm the issue by trying to enter any multiline HTML comment on the demo input.

[2019-04-28 05:32] #1141 closed

[2019-04-28 20:05] eragon512 commented on #1326
@sapegin sent a PR with a test to reflect this issue

[2019-04-28 20:09] #1254 closed

[2019-04-28 20:25] eragon512 commented on #1210
could this be an alternative replacement? https://github.com/Rich-Harris/estree-walker

[2019-04-29 14:49] tata81 commented on #1230
@FezVrasta Did you found what exactly the issues is ?

[2019-04-29 14:58] FezVrasta commented on #1230
No, I'm sorry. 😞

[2019-04-30 05:21] J-Kallunki commented on #1145
Hi! I have a problem using pagePerSection. If I want to have one section and components-function under that - it is not showing them per page. But if put another section under the first section is working properly (and adding **sectionDepth: 2 that cannot be added for top level sections-array**). So I end up having empty sub-sections with name-link and url-paths for nothing.

https://codesandbox.i

[2019-05-02 23:41] JonathanLehner commented on #1321
downgrading works, but doesn't seem like a nice solution. what is the underlying issue?

[2019-05-03 07:08] dysticus opened #1350 "Use Styled Components themeprovider markdown"
**Current behavior**

I'm not sure if it's a bug, feature request or undocumented feature, but here goes.

Our styleguide will serve as a library for multiple brands. These brands share the same components, but their design tokens differ.

According to [the docs](https://react-styleguidist.js.org/docs/thirdparties.html#styled-components) you can use styled-components ThemeProvider to provide a the

[2019-05-03 12:54] sapegin opened #1351 "Drop Node 6"
[Node 6 is dead](https://github.com/nodejs/Release) since May 1.

- [ ] Update version to Node 8 in `package.json`.
- [ ] Remove Node 6 from `.travis.yml`.
- [ ] What else? ;-)

[2019-05-03 16:20] #1259 closed

[2019-05-03 23:57] JonathanLehner commented on #1278
I added
+    "acorn": "^6.0.2",
+    "acorn-jsx": "^5.0.0",
to the dev dependencies, but somehow it still shows the error

[2019-05-04 08:21] eragon512 commented on #1343
hey, I would like to work on this issue

[2019-05-04 11:30] sapegin commented on #1343
@eragon512 That's awesome! 👍

[2019-05-04 12:34] sapegin opened #1352 "Migrate codebase to TypeScript"
**The problem**

Recently I've added Flow to some of the files (not many) but it looks like TypeScript is more favourable now among React developers. Also full codebase conversion would help us find bugs.

**Proposed solution**

Steps to do it, all can be done one by one as separate pull requests:

- [x] Add TS as an option.
    - [x] Add `typescript` as a dependencey
    - [x] Add `tsconfig.json`

[2019-05-04 13:03] eragon512 commented on #1343
Opened a PR which implements the proposed solution, as it seemed to be the simplest way to support both legacy and new applications.

If dropping React < 16.8 support is an option, then I would be happy to refactor the wrapper class to implement hooks

[2019-05-04 18:32] eragon512 commented on #1326
Created a corresponding issue in probablyup/markdown-to-jsx#246 for this, will need follow-up

[2019-05-04 18:34] eragon512 commented on #1343
@sapegin Closing this issue, as it has been addressed in #1353

[2019-05-04 18:34] #1343 closed

[2019-05-04 19:38] eragon512 commented on #1326
Um, updated the above test PR with a fix to close out this issue #1347

[2019-05-05 10:38] #1326 closed

[2019-05-05 11:03] smashercosmo commented on #1352
Do you want to use TS only as a type checker?

[2019-05-05 14:12] Sara2009 commented on #1322
Wow. Thank you very much.
Your reply works well. That's just what I want.

[2019-05-05 14:12] #1322 closed

[2019-05-06 06:08] sapegin commented on #1352
Yup, I'd like to keep Babel setup as is for now.

[2019-05-06 06:20] sapegin opened #1354 "Upgrade react-docgen to 5.0.0 beta"
[A new version](https://github.com/reactjs/react-docgen/releases/tag/v5.0.0-beta.1) has TypeScript support, so no need to extra plugins anymore.

- [ ] Use `tsType` similar to `flowType`.
- [ ] Update docs, remove all mentions to react-docgen-typescript.

**This is a breaking change.** Should be based on #1288.

[2019-05-06 12:47] smashercosmo commented on #1354
So are we going to merge #1288 first? Or maybe I can just add additional commits to #1288?

[2019-05-06 13:01] sapegin commented on #1354
Merging will block master for other possible releases, and since both changes are breaking it would be better to continue in the same PR. This would be super cool actually ;-)

[2019-05-06 13:05] smashercosmo commented on #1354
ok, I'm on it

[2019-05-06 22:50] #1191 closed

[2019-05-07 12:17] andrewpeterprifer commented on #1339
Yes, you can either modify the theme variables or the style of the components all in the config file:
https://react-styleguidist.js.org/docs/cookbook.html#how-to-change-styles-of-a-style-guide

[2019-05-07 13:26] andrewpeterprifer opened #1356 "Custom CSS can break Styleguidist's styles"
**Current behavior**

`requiring` a custom CSS in the config can break Styleguidist's styles. In my case the CSS is semantic-ui and the Styleguidist styles are section headers and bodies. Would there be a way to fix this? I imagine quite some scenarios require using a custom CSS.

This is getting into feature request territory and I'm really just guessing about stuff I know very little about, but

[2019-05-07 15:21] sapegin commented on #1356
That's what we're trying to do but it's not that easy ;-/

https://react-styleguidist.js.org/docs/development.html#styles-1

This can help with some other things too, like responsive testing. I'm not sure about performance, but worth trying, if you have some time and want to contribute ;-)

[2019-05-07 18:05] andrewpeterprifer commented on #1356
@sapegin no promises yet but I will look into the iframe solution when I have some time. I wouldn't worry about performance, it seems to work well in other similar projects and otherwise people can always split their style guides into multiple pages.

[2019-05-08 13:32] kopax opened #1357 "./node_modules/typeface-oswald/files/oswald-latin-700.woff2 1:4 Module parse failed: Unexpected character '' (1:4) You may need an appropriate loader to handle this file type."
I am using react-styleguidist v9.0.9

I am having issue with the package `typeface-oswald` when I try to run my react-styleguidist documentation.

I have checked and `typeface-oswald` package is installed with `rollup-plugin-visualizer` package.

[code]

This is the error:

[code]

I have tried to downgrade to older version and it seems that it is not related with `rollup-plugin-visualizer` so I a

[2019-05-08 13:38] #1357 closed, assigned to nobody

[2019-05-08 20:23] kopax opened #1358 "[Bug] build in directory public is conflicting with create-react-app public folder"
**Current behavior**

When I do `npm run styleguide:build` it produce a `public` directory with the builded app.

I am using create-react-app and the `public` folder is already used by it.

This cause react-styleguidist build to override `public/index.html` of the create-react-app application

Is there a way to trigger the build in another folder?

[2019-05-09 14:16] scousino commented on #1300
Could you post a link to your webpack and styleguide config files? I did what you described above, and am still seeing the issue.

[2019-05-09 17:24] #1261 closed

[2019-05-10 20:39] Spenc84 commented on #1300
@scousino Well I don't believe I have current versions of either posted to any publicly available space at the moment, but my resolve looks like this:

`resolve: {
            extensions: [
                '.web.mjs',
                '.mjs',
                '.web.js',
                '.js',
                '.json',
                '.web.jsx',
                '.jsx'
            ],
            ...
}

[2019-05-14 10:45] Joe1220 commented on #1253
Did anyone find a solution to this?

[2019-05-14 14:33] dysticus opened #1360 "Webpack environment variables passthrough"
**The problem**

When re-using the `webpack.config.js` in your project, you might want to pass environment variables to that file, when running `styleguidist server` or `styleguidist build` like this: `styleguidist server --foo=bar]`. This way you can use those environment variables in your webpack config.

**Proposed solution**

I'm not a webpack hero, but the best solution would be to pass those

[2019-05-15 07:04] tuntuntutu opened #1361 "Can react-styleguidist support markdown metadata？"
I want to get the metadata of markdown docs，For example，

[code]
and  I can get the metadata in `SectionRenderer`, just like
[code]

[2019-05-15 23:23] karsai5 commented on #1321
Having the same issue. Also 9.0.4 gets picked up as having vulnerabilities by npm audit which doesn't make it a super viable alternative.

[2019-05-16 07:12] #1338 closed

[2019-05-16 07:41] sapegin commented on #1361
This was proposed couple of times before and seems like a useful feature — feel free to send a pull request.

[2019-05-16 08:30] J-Kallunki opened #1363 "HTML-element does not contain lang-attribute"
**Current behavior**

<html>-element does not contain lang-attribute

**To reproduce**

https://react-styleguidist.js.org/examples/basic/

**Expected behavior**

`<html lang="en">` for default or changed with:
[code]

Feature already merged to `mini-html-webpack-plugin` that needs a new release and update dependecy to that (https://github.com/styleguidist/mini-html-webpack-plugin/pull/8)

[2019-05-17 06:40] sapegin commented on #1363
That's expected _for now_. I need to release the **major** version of mini-html-webpack-plugin, and then include into a **major** version of Styleguidist, because Node 6 support removal is a breaking change.

[2019-05-17 15:44] Betree commented on #1321
It seems that this issue doesn't affect everyone so maybe we can get more info by sharing our configs. Below is ours, we use it with the following libraries (see the full list [here](https://github.com/opencollective/opencollective-frontend/blob/master/package.json)):
- `@babel/cli`: `7.1.2`
- `@babel/core`: `7.1.2`
- `@babel/node`: `7.0.0`
- `next`: `8.1.0`
- `react`: `16.8.6`

---

[code]

[2019-05-17 16:52] lensbart opened #1365 "Component that returns an array is not recognised"
**Current behavior**

Components that return an array lead to the following error:

`Warning: some/folder/index.jsx matches a pattern defined in “components” or “sections” options in your style guide config but doesn’t export a component.`

`It usually happens when using third-party libraries, see possible solutions here:
https://react-styleguidist.js.org/docs/thirdparties.html`

**To reproduce**

[2019-05-17 17:39] mendrew commented on #1342
Hi all.

I've tried to fix this issue in this PR https://github.com/styleguidist/react-styleguidist/pull/1364
I hope that this is what you were talking about.

[2019-05-17 18:40] queicherius opened #1366 "Component export not recognised if using React.memo"
**Current behavior**

Right now, if there is a component exported wrapped with `React.memo`, that component gets ignored.

![2019-05-17_19-32-29](https://user-images.githubusercontent.com/4615516/57948806-90db3700-78da-11e9-8576-ece315cf498d.gif)

**To reproduce**

https://github.com/queicherius-error-reporting/example

**Expected behavior**

Components wrapped with `React.memo` to just work.

**M

[2019-05-18 05:33] #1342 closed

[2019-05-18 13:34] eragon512 commented on #1361
Hey, I'd like to take up this issue, how should the metadata be made available to the user?

[2019-05-18 15:03] #947 closed

[2019-05-19 05:47] #1320 closed

[2019-05-19 05:49] #325 closed

[2019-05-19 05:51] sapegin commented on #1361
There's an undocumented feature to load JSON files which we need to replace with a frontmatter:

https://github.com/styleguidist/react-styleguidist/blob/0ef7ff38a550b7b049bd0b82d87bd2ec97af3fce/src/loaders/utils/processComponent.js#L9-L18

[2019-05-19 13:04] kopax opened #1370 "[Support] How to screenshot a markdown into JPG/PDF ?"
I am looking for a way to do a selectable scrolling preview of everypage, as in a PDF preview, in order to make the JPG of the page selectable to scroll down in the menu.

I've looked at some markdown pdf processor and unfortunately they don't deal with react.

- https://github.com/shd101wyy/markdown-preview-enhanced

I would generate those JPG during release stage by reading the `sections` so the

[2019-05-19 13:05] #1370 closed

[2019-05-20 07:24] gargroh opened #1371 "Compilation error on using 'async' and 'await' in readme.md"
**Current behavior**

When using async functions in readme.md then getting compilation error, before upgrading to 9.x.x it was working fine.
Error :-
![image](https://user-images.githubusercontent.com/42495927/58002894-32da6980-7afd-11e9-82e2-d67ffd1c69ec.png)

Simplified code :-
![image](https://user-images.githubusercontent.com/42495927/58003423-5eaa1f00-7afe-11e9-9aa4-bece1f55f449.png)

**To re

[2019-05-21 06:29] J-Kallunki commented on #750
Should this also include support for customizing rsg-components? Got typescript working fine for presented components, but creating custom rsg-components with `styleguideComponents` seems to be a bit harder when using TS.

[2019-05-21 07:04] sapegin commented on #1371
Feel free to send a pull request with a fix.

[2019-05-21 07:18] sapegin commented on #750
@J-Kallunki which problems do you have? There shouldn't be any difference ;-/

[2019-05-21 07:27] sapegin commented on #1365
Likely should be reported at https://github.com/reactjs/react-docgen

[2019-05-21 07:27] sapegin commented on #1366
Likely should be reported at https://github.com/reactjs/react-docgen

[2019-05-21 07:32] sapegin commented on #1345
I was trying to setup similar aliases recently and had issues too. I don't remember if it was the same error or a different one, but I couldn't find the reason.

This sounds like some issues with our [`import`s compilation](https://github.com/styleguidist/react-styleguidist/blob/master/src/client/utils/rewriteImports.js). Worth adding some `console.log`s there to see the output.

[2019-05-21 07:46] sapegin commented on #1354
@smashercosmo Did you have time to work on that? Need any help? 🦄

[2019-05-21 07:51] smashercosmo commented on #1354
Started working on it. Haven't finished yet ( I'll try to finish on weekends

[2019-05-21 08:58] lensbart commented on #1365
Okay, I posted it there. Thanks

[2019-05-21 08:58] #1365 closed

[2019-05-21 11:31] J-Kallunki commented on #750
I'm using Webpack and awesome-typescript-loader.

`ComponentsList.tsx`:
[code]

Typings (minimal):
[code]

Result:
[code]

So I would need to configure babel just for it and use only non-TS custom components?

[2019-05-21 11:44] sapegin commented on #750
I don't think you need to configure Babel, everything in `lib` is already compiled. But you need to configure TypeScript for your `ComponentsList.tsx`.  Or you many need to define typings for `rsg-components/ComponentsList/ComponentsListRenderer` too, I don't know TypeScript enough unfortunately.

[2019-05-21 14:50] scousino commented on #1300
Are we going to get any sort of feedback on when this will be fixed in the library?

[2019-05-21 16:15] Spenc84 commented on #1300
@scousino Unfortunately I don't think that there is a fix coming. To be honest, I don't think it's a Styleguidist issue so I'm not sure that there would even be anything for them to fix. The error is produced by Webpack during it's build process, and primarily because it doesn't know how to handle the .mjs files used by Acorn. If you're pointing Stylegudist to a custom Webpack configuration file t

[2019-05-21 16:20] scousino commented on #1300
@Spenc84 I wonder if this still occurs if you don't point Styleguidist to a custom Webpack config. If that's the case then I'd say it would be a Styleguidist problem. But also, if my custom Webpack configuration file needs to support handling .mjs files that should be outlined in the documentation somewhere. I think this problem would easily be fixed by changing how they import acorn in the getAst

[2019-05-21 19:00] mendrew commented on #1255
I've tried to do research and found that it's true if component has **padding** applied.
I've been able to reproduce this directly on component with div around + padding on wrapper div, wrapper component didn't have styles.

I'm not sure, but I've seen an issue in react which is not the same but might be relevant https://github.com/facebook/react/issues/10906 and it says that some onMouseEnter inc

[2019-05-21 19:36] scousino opened #1372 "String pattern support for section content"
**The problem**

I think it would be useful to have the `content` property in the `section` object be able to accept a string pattern similar to how `components` works.

**Proposed solution**

For each file it would create a subsection of that section and use the name of the file as the visibleName.

[2019-05-21 19:38] scousino commented on #1267
This seems to be live on the actual site now

[2019-05-22 01:51] kopax opened #1373 "How to serve static folder using Gitlab page and a nginx reverse proxy?"
I am using [`react-styleguidist`](https://github.com/styleguidist/react-styleguidist/) to write my documentation using markdown.

I have the following markdown:

[code]

This work fine in development, but because the Gitlab-Page is served under a subpath, I have issue in production.

Instead of fetching http://myapp.com/communication/static/pdficon.png, it tries to fetch http://myapp.com/static/pd

[2019-05-22 03:29] vvkee commented on #1354
@smashercosmo Cool!!

[2019-05-22 05:57] J-Kallunki commented on #750
I got the earlier example working just by defining to `moduleAliases`:
[code]

Is it the best way to do it - it is the simplest - or should it be also documented how to use custom srg components with TS?

[2019-05-22 08:03] #1274 closed

[2019-05-22 09:46] WaldoJeffers commented on #1321
I can confirm this, but it does not seem to be related to v9.0.4 or v9.0.5. I had the same issue without updating _any_ dependencies in my project. I simply did `rm -rf node_modules` followed by `yarn install`.

After some digging, it seems to be related to:
- https://github.com/acornjs/acorn/issues/792,
- which is itself related to https://github.com/eslint/eslint/issues/11018
- which was reporte

[2019-05-22 10:26] stepancar opened #1374 "Preview provides empty context to rendered components"
**Current behavior**

Preview renders by reactDom.render method, which not pass root react context to rendered components

https://github.com/styleguidist/react-styleguidist/blob/master/src/client/rsg-components/Preview/Preview.js#L79

**Expected behavior**

Rendered components should have the same react context as demo.

In my case I faced with this problem when switched demo theme. All except re

[2019-05-22 11:39] matsgm commented on #1321
It looks like this fixed it :)

[2019-05-22 14:01] sapegin commented on #750
Have you tried this?

[2019-05-22 14:05] sapegin commented on #1374
That's expected behaviour, each example is really a separate React app. But it would be a good thing to have a way to define context for examples.

[2019-05-22 21:03] #1276 closed

[2019-05-23 12:02] J-Kallunki commented on #750
Yeah tried that with the same way as it works for the `ComponentsList` but not helping for that.

It is clearly saying that cannot find `ComponentsListRenderer` when `ComponentsList`is called from the customwrapper `ComponentsList`-component:
[code]

[2019-05-24 00:30] karsai5 commented on #1321
Unfortunately upgrading eslint didn't fix it for me. But it seemed to be related to the version of `acorn` I had. Running the following worked for me:

* `npm update acorn --depth 20`
* `npm dedupe`

I suspect I had some dependency that was using the old version of acorn that was causing the problem.

[2019-05-24 11:32] mcenkar opened #1375 "Highlighting currently selected page on sidebar broken with sections"
**Current behavior**

Highlighting currently selected section works well with [basic](https://github.com/styleguidist/react-styleguidist/tree/master/examples/basic) example:

![image](https://user-images.githubusercontent.com/11230749/58324752-0c337000-7e28-11e9-8faa-3b193a103b7a.png)

However when using [sections](https://github.com/styleguidist/react-styleguidist/tree/master/examples/sections) e

[2019-05-24 15:05] poteirard commented on #127
In [Zopa](https://www.zopa.com/) we just released our first open source project. Our react-components library using this amazing tool ❤️ Still a lot work to be done but here's our first version :) https://github.com/zopaUK/react-components

<img width="1385" alt="React_components" src="https://user-images.githubusercontent.com/7198934/58337421-077db480-7e46-11e9-8460-ee591acb3611.png">

[2019-05-25 20:52] stepancar opened #1376 "How to create playground with all components?"
I try to migrate to latest styleguidist and faced that not all components available in playground.
In old versions of styleguidist we used this functionality to implemented [playground](https://alfa-laboratory.github.io/arui-feather/styleguide/#playground/code=%3Ch1%3EHello,%20@sapegin%20!%3C/h1%3E)
In this playground you can use all components from arui-feather.

How can we do it now?

[2019-05-26 14:02] mendrew commented on #1371
### The error explanation
We have the error here because styleguidinst has updated version of [bublé](https://github.com/bublejs/buble) ([from v0.9.4 to v0.9.7](https://github.com/mendrew/react-styleguidist/commit/48f72208d6cfb19e34654f22b47c86d8531e2b71#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R34)) which does actual code transformation.
In latest version of bublé they throw this error because right

[2019-05-26 14:55] mendrew commented on #1366
Here the issue in react-docgen: https://github.com/reactjs/react-docgen/issues/342
And PR which hasn't been merged yet: https://github.com/reactjs/react-docgen/pull/343

[2019-05-26 17:46] stoff commented on #1321
Seeing this in a nascent project, currently very basic deps/config:
**package.json:**
[code]
**styleguide.config.js:**
[code]

[2019-05-27 12:07] FruitieX commented on #1376
Hi,

I've had some success by doing the following in `setup.js`:

[code]

While not the cleanest of solutions, it works. :-)

[2019-05-27 19:33] stepancar commented on #1376
@FruitieX thanks for your suggest.
We haven't entrypoint with all components.

[2019-05-29 19:04] jenniesyip commented on #127
Our design system for Udacity is using Styleguidist! https://veritas.udacity.design/

![image](https://user-images.githubusercontent.com/1864971/58583899-dfa59c80-8209-11e9-8635-a4779b2b45f4.png)

[2019-05-30 10:57] smashercosmo commented on #1354
Seems like https://github.com/Jmeyering/react-docgen-annotation-resolver doesn't work with react-docgen@5.0.0. So first we need to submit PR there.

[2019-05-31 12:52] smff opened #1377 "Can you clarify the moment in your documentation?"
In documentation we are able to find the various way of use ";" symbol in the code examples.
For example at page https://react-styleguidist.js.org/docs/documenting.html
1)
<img width="925" alt="1" src="https://user-images.githubusercontent.com/3962132/58706933-0d324780-83bc-11e9-88e6-1cfb26541899.png">
2)
<img width="1176" alt="2" src="https://user-images.githubusercontent.com/3962132/58706934-0dc

[2019-05-31 22:59] ianmstew commented on #1308
I'm in the same boat since our components depend on a global stylesheet that inclues a `token` style.  I'm waiting on this before we migrate to 9.

[2019-06-02 21:47] stepancar commented on #1376
found solution.

[code]

[2019-06-02 21:48] #1376 closed

[2019-06-02 21:48] stepancar commented on #1376
@sapegin  fyi

[2019-06-03 06:35] xudihui opened #1378 "how to highlighting java、ruby language in *.md files"
first of all,react-styleguidist is amazing! thanks very much!

this problem:
Warning: Syntax highlighting for “java” isn’t supported

[2019-06-03 17:34] sapegin commented on #1377
All are right, it doesn't matter. Use Prettier.

Try to remove it and it won't compile.

This isn't related to Styleguidist in any way: that's how Buble, that we use to compile JavaScript, works.

[2019-06-03 17:34] #1377 closed

[2019-06-03 21:28] mendrew commented on #1281
### Possible problematic place

I've been experimenting with this and found that these lines are responsible for example code imports
https://github.com/styleguidist/react-styleguidist/blob/f43cb8ae6eab0b2b5a016bcdab2430a1f2c3b3af/src/loaders/examples-loader.js#L74-L90

And comments are valid.
First we do

and then

So, for component which we export like
[code]

and import in example index file is

[2019-06-04 12:51] wzup commented on #1188
@malyzeli

No, it does not work

[2019-06-04 22:38] #1292 closed

[2019-06-05 06:50] mendrew commented on #1324
We can close this one as it has been fixed by https://github.com/styleguidist/site/pull/8.

[2019-06-05 08:29] sapegin commented on #1281
`const name = name$0.default || name$0;` should be probably extended to `const name = name$0[name] || name$0.default || name$0;`. Which is probably what you were trying to do ;-) but I'm not sure why it breaks other imports. Could you make a PR with this change? I could help with debugging.

[2019-06-05 08:30] mendrew commented on #1281
Yep, will do!

[2019-06-05 10:17] sapegin commented on #750
@J-Kallunki I may have fixed that in 9e29c10dfa97cf56b5aa55f0483de5c3dad3bb5b, at least I had the same error ;-)

[2019-06-05 14:47] #1297 closed

[2019-06-05 16:09] eragon512 commented on #1224
hey @sapegin did this issue get resolved in #1368 or does it still need work?

[2019-06-05 16:47] sapegin commented on #1224
I didn't have this issue so I can't test it, but let's close it for now ;-)

[2019-06-05 16:47] #1224 closed

[2019-06-06 08:46] #1299 closed

[2019-06-06 13:22] okonet opened #1381 "Component name capitalization issue"
**Current behavior**

I've named my component `ButtonTS` but in the styleguide I see `ButtonTs`. It also affects auto-import of this component. In the `ButtonTS.md` I have

[code]

and this isn't working with the error `ReferenceError: ButtonTS is not defined` being shown.

If I change the example to

[code]

then it works.

**To reproduce**

https://codesandbox.io/s/github/component-driven/compon

[2019-06-07 06:59] #1371 closed

[2019-06-09 13:38] mendrew commented on #1324
Friendly ping @sapegin ☝️  https://github.com/styleguidist/react-styleguidist/issues/1324#issuecomment-498960856

[2019-06-10 12:57] #1307 closed

[2019-06-11 08:37] sapegin commented on #1324
@mendrew Feel free to close next time — you should be able to do it ;-)

[2019-06-11 08:37] #1324 closed

[2019-06-11 15:12] #1281 closed

[2019-06-11 19:16] nathanmarks commented on #1186
are you guys using `pagePerSection`? it doesn't seem to work with that option properly

[2019-06-12 09:53] plumpNation commented on #750
I am not certain this is the same issue, apologies if not. I'm using **create-react-app**, I made a tsx `styleguideComponents` Wrapper, and setup `propsParser: require('react-docgen-typescript').parse`.

[code]

I created the smallest reproduction of this that I could and made a repo here.

https://github.com/plumpNation/cra-styleguidist-typescript

Thanks for the excellent tool, I will just switc

[2019-06-12 13:41] #1309 closed

[2019-06-12 14:06] mendrew commented on #1381
I think that I found the reason, it is this function.
https://github.com/styleguidist/react-styleguidist/blob/5ff72d8c82d11ce70c6449a77343e2cc5462c037/src/loaders/utils/getNameFromFilePath.js#L4-L11

It is used here to define `displayName`
https://github.com/styleguidist/react-styleguidist/blob/5ff72d8c82d11ce70c6449a77343e2cc5462c037/src/loaders/utils/getProps.js#L136-L139

We do `_.camelCalse` f

[2019-06-12 15:39] diegodesouza opened #1382 "Support for Angular"
**The problem**

Is there a plan to support using styleguidist with Angular in the pipeline?

**Proposed solution**

Having support for Angular

**Alternative solutions**

N/A

**Additional context**

N/A

[2019-06-12 20:32] malyzeli commented on #1188
@wzup

Well, it's been half a year, of course everything is probably different today - that's JavaScript, dude!

[2019-06-13 12:49] romaluca opened #1383 "Is possible use examples typescript and execute them?"
Hi, in my company we are using Typescript, and i started to use styleguidist for write guidelines of our components.

The problem is that Typescript in the example is not supported.

For every feature every component i'm writing the code in js without editor ex:
[code]

And the code in Typescript that is visible to user:
[code]

Do you know any better method for do that withour rewrite the code 2

[2019-06-13 19:01] okonet commented on #1381
Why do even need to modify the component's name? Is it when the parser failed to infer it from the component? I'd say in this case it should be less obtrusive and only convert if necessary.

Probably we should warn users about that behavior in the console?

[2019-06-13 21:07] mendrew commented on #1381
Yes, it is.
As I can see from the PR which has implemented this (https://github.com/styleguidist/react-styleguidist/pull/672)
here the quote:

What about a warning like: `propsParser can't recognize the component. The displayName will be guessed based on the file name.`?

[2019-06-14 20:32] ManishBobde commented on #1321
Hi All,
Do we have any fix for the open issue ?

[2019-06-15 09:45] #1332 closed

[2019-06-15 23:23] #1226 closed

[2019-06-17 12:38] okonet commented on #1381
@mendrew it say it should display the warning. I'm wondering if we should make it more explicit in this case? Also, I think the algorithm change proposed by @sapegin in the PR is the root cause of the problem. In the original implementation it would not change capitalized characters AFAIK:

https://github.com/nerdlabs/react-docgen-displayname-handler/blob/8cd141064910eb429f18e03e631a25cec371330a/s

[2019-06-17 14:32] mendrew commented on #1381
Yes, I do want to submit a PR.

So, you are suggesting
1.  to replace
[code]
  By something like this
[code]

Yes, it will fix your case.

2. display an explicit warning for this case.
If you have an idea about the proper format I'd love to see.
What exactly would be valuable to show to the user? The fact that parser is failed. And that the component displayName is guessed based on the file name,

[2019-06-17 20:02] okonet commented on #1381
I'd double check 2 and if there is a warning already I wouldn't touch it. In other words, I'd only focus on the bugfix (since it's a bug) and would keep the surface of the changes as low as possible. I'd also add a test for this edge case.

Thanks!

[2019-06-17 20:19] mendrew commented on #1381
Ok, I got it, thank you!

[2019-06-18 17:36] stonebk commented on #1332
This appears to have fixed the top level section link, but any sub-links within that section are still unencoded and result in "Page not found".

[2019-06-18 17:43] mendrew commented on #1332
@stonebk could you please give an example of the config file to get an exact idea of sub-links you are talking about?
I was able to reproduce your problem by applying your config from the description on Styleguidist sections example. I'd be glad to fix this as well.

[2019-06-18 18:17] stonebk commented on #1332
@mendrew it looks something like this:

[code]

[2019-06-18 19:34] mendrew commented on #1332
Awesome, thank you, I'll take a look.

[2019-06-19 14:20] dysticus commented on #1378
@xudihui The warning message says it all:
`Warning: Syntax highlighting for “java” isn’t supported. Supported languages are: clike, markup, xml, html, mathml, svg, markdown, md, css, scss, javascript, js, flow, typescript, ts, jsx, tsx, graphql, json, bash, shell, diff.
`
A workaround would be to edit this file https://github.com/styleguidist/react-styleguidist/blob/master/src/loaders/utils/highli

[2019-06-19 14:31] sapegin commented on #1378
Sure, feel free to send a pull request.

[2019-06-19 16:07] #1315 closed

[2019-06-19 20:15] #1210 closed

[2019-06-19 21:13] magicmark opened #1385 "[webpack config] Support .mjs files"
**The problem**

[graphql](https://www.npmjs.com/package/graphql) uses `.mjs` files, which when using in a component build with styleguidist produces the following errors:

[code]

See the following for similar issues:
- https://github.com/apollographql/apollo-link-state/issues/302
- https://github.com/graphql/graphql-js/issues/1272

**Why?**

Take a look at the `package.json` for graphql - https:

[2019-06-20 07:45] hcz commented on #1264
I found recently added documentation for this case: you can specify
[code]
 in the `styleguide.config.js` https://react-styleguidist.js.org/docs/configuration.html#compilerconfig

[2019-06-20 07:50] sapegin commented on #1385
Makes sense! Feel free to send a pull request 👾

[2019-06-20 07:51] #1385 closed

[2019-06-20 07:52] sapegin commented on #1385
Oh, you did already, nice ;-)