[2017-03-30 11:19] okonet commented on #365
GitHub actually can present front matter very nicely as a table. See https://github.com/okonet/colorsnapper-website/blob/master/_pages/faq.md for example so this isn't an issue IMO.

[2017-03-30 11:22] theodorosploumis commented on #302
Hi, I could help with this if you like. I am not a logo designer but I like creating logos and graphics for open source projects. Should I proceed?

Thanks in advanced!

[2017-03-30 11:46] sapegin commented on #302
@theodorosploumis Sure! Do you have any ideas already?

[2017-03-30 11:48] sapegin commented on #365
It can be optional in a way that you don’t have to use front matters. So Styleguidist will just ignore them but actual reading front matters and generation of a config object would be up to the user.

[2017-03-30 12:02] theodorosploumis commented on #302
Will come back asap with some proposals.

[2017-03-30 17:54] theodorosploumis commented on #302
I was thinking about something like this. A **butterfly combined with the React logo**. Some logos are not pixel perfect but for initial proposals they are OK. Personally I prefer most No1 and No5.

![proposals_1-8](https://cloud.githubusercontent.com/assets/1315321/24518488/d831070c-158a-11e7-84f3-f9513aaba1ee.png)

[2017-03-30 18:13] frontend-3 commented on #259
Hey @sapegin I just found this [section](https://github.com/styleguidist/react-styleguidist/blob/master/docs/FAQ.md#how-to-hide-some-components-in-style-guide-but-make-them-available-in-examples) on FAQ, I used in that way and worked perfectly ✨

[2017-03-31 09:24] sapegin commented on #362
@davidbucka Can we close this or you still have some issues?

[2017-03-31 09:25] sapegin commented on #352
Closing this for now. Feel free to reopen with more information.

[2017-03-31 09:25] #352 closed

[2017-03-31 09:28] sapegin commented on #191
CRA is supported in 5.0.0, I’ll send a new PR to CRA later.

[2017-03-31 09:28] #191 closed

[2017-03-31 09:28] sapegin commented on #223
[5.0.0 is out](https://medium.com/@sapegin/react-styleguidist-5-bf399305e34d)!!

[2017-03-31 09:28] #223 closed

[2017-03-31 09:29] sapegin commented on #282
Closing this for now. Feel free to reopen if you still have this issue.

[5.0.0 is out](https://medium.com/@sapegin/react-styleguidist-5-bf399305e34d) by the way ;-)

[2017-03-31 09:29] #282 closed

[2017-03-31 09:31] sapegin commented on #324
Can we do anything here? Update the docs or something for example? If not I’d close it.

[2017-03-31 09:32] sapegin commented on #333
So if anyone wants to send a pull request for that it would be super cool ;-)

[2017-03-31 09:33] sapegin commented on #346
Closing this for now. Feel free to reopen with more information.

[2017-03-31 09:33] #346 closed

[2017-03-31 09:41] Knorcedger commented on #333
@sapegin I'm working on this. Hopefully a PR will come in late next week :)

[2017-03-31 09:42] sapegin commented on #333
@Knorcedger Awesome! 🍕

[2017-03-31 10:12] zz-james opened #366 "Change default Port Number"
For some reason port 6060 seems unreachable on my server (but 3000 works for example when I run using create-react-app script) since I probably wont run both together is it possible to change the 6060 to 3000 since I know at least that port is working. I looked around in the config and searched through folders but can't see where the port number is set.
many thanks

[2017-03-31 10:33] zz-james commented on #366
found in
 react-styleguidist/scripts/schemas/config.js

[2017-03-31 10:33] #366 closed

[2017-03-31 11:34] sapegin commented on #366
We also have nice docs: https://github.com/styleguidist/react-styleguidist/blob/master/docs/Configuration.md#serverport — no need to search in the code ;-)

[2017-03-31 12:23] zz-james commented on #366
Thanks - that's the nicest RTFM reply I've had 👍

[2017-03-31 13:47] zz-james opened #367 "Help Wanted : running styleguidist (in development) on shared http server"
I have an react app created with create-react-app on our linux http server and when I run the development server (using npm start) this works fine on the domain at port 3000.

However I can't seem to get react-styleguidist dev server to launch in a way that is access able to the outside world, the project runs and there is no errors but the server is not accessible at 6060.

At first I thought thi

[2017-03-31 13:50] sapegin commented on #367
Try to change `serverHost` to `0.0.0.0`.

[2017-03-31 13:53] zz-james commented on #367
This works.

THANK YOU

[2017-03-31 13:53] #367 closed

[2017-03-31 15:20] robcaldecott opened #368 "Problems with stateless functional components that return null"
I'm using v5 with create-react-app 0.9.5 which does not like one of my stateless functional components that returns null using a ternary based on a prop setting (a pattern that is common with material-ui components.)

[code]

An example component looks something like this:

[code]

If I change the code to look like this then it works and includes my component:

[code]

Not a big deal but a little

[2017-04-02 04:28] timurista commented on #277
https://github.com/styleguidist/react-styleguidist/blob/master/docs/FAQ.md#how-to-change-the-layout-of-a-style-guide is out of date. It is now: https://github.com/styleguidist/react-styleguidist/blob/master/docs/Cookbook.md#how-to-connect-redux-store. Specifically for adding the store.

[2017-04-02 08:56] sapegin commented on #368
Looks like react-docgen doesn’t support it. It’s hard to detect all possible ways of defining stateless components without false positives (which would be worse — in your case you could just rewrite the component).

[2017-04-02 08:56] #368 closed

[2017-04-03 07:15] davidbucka commented on #362
you can close it- thank you for your help!

[2017-04-03 07:15] #362 closed

[2017-04-03 08:40] KatGr opened #370 "Locating markdown via doclet tag: @example, isn't working anymore."
Hi,
I just updated to the latest version of react-styleguidist but now it  can't find markdown files using doclet tags anymore. It worked perfectly fine before the update and I didn't change a thing :/

It only shows "Add example to this component".

My doclet comment looks like this:

[code]
It also prints the "Some basic-card".

Was there any change for doclets or is it just not working anymore?

[2017-04-03 08:45] sapegin commented on #370
It’s obviously a bug ;-)

[2017-04-03 09:57] #370 closed

[2017-04-04 17:23] green-arrow opened #371 "Hash JS assets in production"
When deploying a styleguide to production, the JS assets are not hashed / fingerprinted. When using a CDN, this means the assets are difficult to update since you have to manually expire the assets.

Relevant lines: https://github.com/styleguidist/react-styleguidist/blob/master/scripts/make-webpack-config.js#L27-L30

Below the above lines, there is a section for `isProd`. Adding a hash to the file

[2017-04-05 06:26] chardos commented on #171
Would love to see the solution, link seems to be broken?

[2017-04-05 06:29] sapegin commented on #171
@chardos I’ve updated a link.

[2017-04-05 06:35] #371 closed

[2017-04-05 06:39] chardos commented on #171
@sapegin That was an incredibly fast response. Thanks man!

[2017-04-05 06:40] sapegin commented on #171
@chardos Morning coffee works very well ☕️🚀

[2017-04-05 18:40] green-arrow opened #373 "Unable to access styleguide outside of local machine"
In `scripts/schema/config.js`, the default `serverHost` is set to `localhost`. When using this host with express, it means that only the local machine can access the site. If users want to connect from another device, like a phone or a table, to test the style guide, they are unable to unless setting the `serverHost` manually to `0.0.0.0`.

Is this a case where the default should be changed to `0.

[2017-04-05 19:11] sapegin commented on #373
Chrome had issues with this but looks like it works fine now, so we could change it.

[2017-04-06 00:47] chardos opened #375 "Components don't display in IE10"
I'm trying to view my styleguide in IE10 to make sure everything displays correctly however I'm seeing this:

![image](https://cloud.githubusercontent.com/assets/4082442/24732779/723a62be-1ab6-11e7-92bb-0fb414cd055d.png)

Not sure of the root cause, will have to investigate at some point.

[2017-04-06 06:06] sapegin commented on #375
I’m not sure [Buble](https://buble.surge.sh/) supports it. We’re officially support (at least we try ;–) IE11 but pull requests to improve support are welcome ;-)

[2017-04-06 06:14] chardos commented on #375
No worries

[2017-04-06 06:14] #375 closed

[2017-04-06 13:54] #373 closed

[2017-04-07 13:14] MoOx opened #378 "What is version 4.7.0?"
I were currently using `^4.6.3` in my package.json. I saw that 5.x is out but don't want to upgrade yet (time). I used `yarn upgrade` this morning and see that styleguidist is now not happy with my config, like if I were using 5.x...
I cannot find in releases/changelog a reference this version. Is this normal that a minor version brings breaking change?

[2017-04-08 21:40] kulakowka opened #380 "Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead."
I updated the react to version 15.5.0 and saw an error in the console:

[code]

We need to update components to use [prop-types](https://www.npmjs.com/package/prop-types) package. More info in official blog: https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html

[code]

[2017-04-10 06:34] n1313 commented on #350
@sapegin In fact, even just having a shape with an enum field is enough to find yourself in a situation where something like recursive rendering is needed, because you don't get to see the allowed values for that field:

![capture](https://cloud.githubusercontent.com/assets/632081/24848725/b2b29d60-1dfa-11e7-933c-6c112e38de0c.PNG)

[2017-04-10 18:13] fdaciuk commented on #359
@imathews did you solve it? Could you share what did you do? =)

[2017-04-10 21:31] handonam commented on #380
With the update to using the `PropTypes` package, this also leads to the documentation showing "custom" in the "type" field, and nothing in the "default" field.  At least for me anyway.

[2017-04-11 02:13] n1313 commented on #359
@fdaciuk I would guess he removed the unneeded dependency from his project and pruned/updated node_modules.

[2017-04-11 02:19] fdaciuk commented on #359
Thanks @n1313! I'm overriding the default webpack behavior, and that is the cause of my issue :|

[2017-04-11 04:02] motleydev opened #382 "Example of "Editor Alias" for ```example code fence?"
The title more or less explains it, I know this is not an issue with the package, but I was curious if you had more information on how to alias an editor's code fence syntax to javascript? So that when I add the \`\`\`example I get \`\`\`javascript ~~(omitting the third tick for obvious reasons)~~ :)

I am specifically using Visual Studio Code but maybe there's a generic abstraction that explains

[2017-04-11 05:22] imathews commented on #359
@fdaciuk — yea I ended up being to solve this pretty quickly by removing the dependency that was requiring the old version of acorn. You can try an `npm ls` to get a sense of what might be requiring the old version of acorn. You'll also want to empty node_modules and rerun `npm install`

[2017-04-11 19:03] sapegin commented on #378
It was a mistake and I immediately unpublished this version, so yarn shouldn’t offer this version for upgrade. 4.7.0 was identical to 5.0.0.

[2017-04-11 19:06] sapegin commented on #380
@kulakowka Would you mind sending a pull request? ;-)

@handonam You mean updating in your components, not in Styleguidist itself (this issue is about Styleguidsit’s component but thanks for mentioning it anyway ;–)

[2017-04-11 19:26] sapegin commented on #382
I’ve never tried it personally ;-/

[2017-04-11 20:30] motleydev opened #383 "Variable passed to propTypes renders as string, validates correctly"
I have a component like this:

[code]

Which validates correctly in the code, but the displayed "Props" gives me:
color  enum  blue  colorChoices

Where as I would expect it to be:
color  enum  blue  grayDark,gray

[2017-04-11 20:59] stepancar opened #384 "Render preview in Iframe"
For some components we need to render component in iframe to demostrate responsibility, body styles loader. For example, page component or maybe footer/header.
For this case wee need to load component and it dependencies (styles and another components).
I tried to wrap your Preview with own implementation which just render to ifrme, but styles loaded in parent window context, but i need to loade i

[2017-04-11 21:19] kulakowka commented on #380
@sapegin yes, i can do it

[2017-04-11 21:54] kulakowka commented on #384
https://github.com/ryanseddon/react-frame-component

[2017-04-12 05:56] stepancar commented on #384
@kulakowka, I already tried this component, but it not allow to use any styleloader

[2017-04-12 06:31] kulakowka commented on #384
@stepancar try to use [JSS](https://github.com/cssinjs/jss) %)

[2017-04-12 06:44] stepancar commented on #384
@kulakowka, it's not a solution for common task, cause not all developers can switch their components to jss. As I understand , more right, and more complex solution is build preview scripts separately to static and load it in iframe

[2017-04-12 07:20] okonet opened #387 "Better copy for the empty state message"
Right now, if SG wasn't able to locate components at the provided paths, it will try to locate them in the default path. If this also fails, the empty message will be displayed saying:

`We couldn't find any components defined in your style guide config or using the default pattern src/components/**/*.js.`

I believe this is a bit confusing since it displays only the default path explicitly. This

[2017-04-12 07:50] sapegin commented on #383
It won’t work with a variable, not sure [react-docgen](https://github.com/reactjs/react-docgen) will ever support it but try to fill an issue there.

[2017-04-12 07:50] #383 closed

[2017-04-12 07:54] okonet commented on #384
@stepancar you can create your own Preview component and use it with SG: https://github.com/styleguidist/react-styleguidist/blob/master/examples/customised/styleguide.config.js#L51

[2017-04-12 08:15] sapegin commented on #384
I’d try to avoid iframes ;-)

![](http://wow.sapegin.me/0509270m1y0L/Screen%20Recording%202017-04-12%20at%2010.14%20AM.gif)

[2017-04-12 08:26] sapegin commented on #387
Yeah, that was the plan, just didn’t have time to implement it yet ;-) It won’t use the default value if you have your own patterns in the config.

[2017-04-12 08:38] okonet commented on #387
So this means the message is even more confusing then :)

[2017-04-12 08:39] sapegin commented on #387
Yeah 😬

[2017-04-12 08:39] sapegin commented on #387
Call it MVP ;-)

[2017-04-12 17:37] joris974 opened #390 "Support for flowtype exact object notation"
I receive a parsing error when using the [exact object notation](https://flow.org/en/docs/types/objects/#toc-exact-object-types) in my props types in Flow.

[code]
The error I receive when running `styleguidist server` is
[code]
It works like a charm when removing the exact object notation:
[code]

Is there a special config to make this work with the exact object notation?

[2017-04-12 18:18] sapegin commented on #390
I’m afraid [react-docgen](https://github.com/reactjs/react-docgen) doesn’t support it, try to file an issue there.

[2017-04-12 18:18] #390 closed

[2017-04-13 00:14] ankri opened #393 "Support @param in props description"
I was looking for a solution to have `@param` support in my props description, not only in public methods. My use case is that I want to document the parameters of my `PropType.func` props so the user of my component can see the arguments I will pass along to the function he provides.

Sadly react-docgen does not apply any specific treatment to the docblock of propTypes. [react-docgen#141](https:/

[2017-04-13 07:12] sapegin commented on #393
I think it’d be a good feature! We already do some description parsing [here](https://github.com/styleguidist/react-styleguidist/blob/master/loaders/utils/getProps.js#L37) so I’d start there ;-)

[2017-04-13 08:08] okonet commented on #393
@sapegin that's a lot of copy-paste. Should we include it by default?

[2017-04-13 08:32] ankri commented on #393
Thanks to @sapegin's tip I am working on a PR right now.

So far I have implemented support for
- [X] `@param`
- [X] `@deprecated`
- [ ] `@see`

Do you have suggestions for other [tags](http://usejsdoc.org/)?

[2017-04-13 09:45] MoOx commented on #378
How I ended up being able to have it?

[2017-04-13 09:46] sapegin commented on #378
Maybe you were unlucky to update before it was unpublished. Could you reproduce it now?

[2017-04-13 09:49] sapegin commented on #378
Looks like unpublishing doesn’t work ;-(

[2017-04-13 09:53] sapegin commented on #378
Now it’s unpublished.

[2017-04-13 09:53] #378 closed

[2017-04-13 12:14] sapegin commented on #393
@okonet That’s exactly what I’m suggesting ;-)

[2017-04-13 12:14] sapegin commented on #393
And I’ve pointed you to a wrong place, it should be [here](https://github.com/styleguidist/react-styleguidist/blob/32345a0b4bac346acec8d9cfa05a7d8f1b14760b/loaders/utils/getProps.js#L48-L58) ;-)

[2017-04-13 14:33] Knorcedger commented on #333
Created a PR here https://github.com/styleguidist/react-styleguidist/pull/394

Need some help to run the tests, looks like `react-addons-test-utils` is no more.

[2017-04-13 14:41] sapegin commented on #333
Yeah, I’m trying to merge #389 but it still doesn’t work as it should and I’m not sure why ;-|

[2017-04-13 19:05] kevinfez opened #396 "Q: contextTypes"
react-docgen has a [pull request](https://github.com/reactjs/react-docgen/pull/130) about parsing contextTypes, but I was wondering if this project has any plans to parse them on its own or would wait for react-docgen to officially support it.

contextTypes snippet for fun:

[code]

[2017-04-13 19:32] sapegin commented on #396
No, we’re not parsing code and relying on react-docgen for 95% of hard work. So I’d wait for this PR and then send a PR to Styleguidist ;-)

[2017-04-14 13:53] #387 closed

[2017-04-14 18:21] kohlmannj opened #397 "Using `import()` in a component produces parse / syntax errors"
- Your style guide config: [`styleguide.config.js`](https://github.com/nytpi/styleguidist-v5.0.6-webpack-dynamic-import-parse-error/blob/master/styleguide.config.js)
- Webpack version: 2.4.1
- Styleguidist version: 5.0.6
- Operating system, browser and version: macOS Sierra 10.12.4, Safari 10.1
- Reproducible demo: [nytpi/styleguidist-v5.0.6-webpack-dynamic-import-parse-error](https://github.com/n

[2017-04-15 04:25] forabi opened #398 "Error parsing files containing template string literals with interpolation"
Using interpolation in template string literals (for things like theming in `styled-components`) produces the following error:

[code]

Removing the interpolation fixes the issue but it prevents theming the component.

Webpack version: 2.3.3
`styleguide.config.js`:

[code]

Example file:
[code]

[2017-04-15 07:33] n1313 commented on #398
RSG only supports components that can be parsed by [react-docgen](https://github.com/reactjs/react-docgen). As far as I can see, it does not support typescript (and [doesn't plan to](https://github.com/reactjs/react-docgen/issues/67)), and I am not sure if they support tagged template literals.

[2017-04-15 07:46] forabi commented on #398
As far as I understand, RSG uses the Webpack pipeline so components are first transpiled to JS by Webpack and only then they are processed by RSG. Some TS components are already listed in my RSG. Only those with template strings cannot be processed.

[2017-04-16 11:05] sapegin commented on #398
No, react-docgen works with source files. You should use [react-docgen-typescript](https://github.com/pvasek/react-docgen-typescript).

[2017-04-16 11:05] #398 closed

[2017-04-16 11:10] sapegin commented on #397
Looks like [react-docgen](https://github.com/reactjs/react-docgen) doesn’t support it, try to file an issue there.

[2017-04-16 11:51] forabi commented on #398
@sapegin So how come some TS components are parsed and displayed in my styleguide? That's weird.

[2017-04-16 12:32] sapegin commented on #398
Rendering components (webpack) is not the same as parsing sources for props documentation (react-docgen).

[2017-04-17 05:19] #380 closed

[2017-04-17 16:02] stinoga opened #400 "Requires/Imports in Markdown"
What is the best way to use `require` or `import` in section markdown files?

We have sections in our style guide that use CSS modules, which we need to import to use, for example:

**markdownFile.md**
[code]
FYI, we aren't on v5 yet. Using the latest v4 version.
Thanks!

[2017-04-18 06:47] sapegin commented on #400
You can only use `require` in examples: https://github.com/styleguidist/react-styleguidist/blob/master/docs/Documenting.md#writing-code-examples

[2017-04-18 06:47] #400 closed

[2017-04-20 11:44] okonet opened #402 "HTML in Markdown rendered incorrectly"
This snippet in the markdown document:

[code]

is rendered to:

![2017-04-20 at 13 43](https://cloud.githubusercontent.com/assets/11071/25229117/52b63c96-25cf-11e7-992d-27ea1f5ac8d5.png)

which isn't correct.

To reproduce, create a styleguide config with

[code]

and update README to have such snippet.

[2017-04-20 13:12] sapegin commented on #402
I think you should report it to [markdown-to-jsx](https://github.com/probablyup/markdown-to-jsx).

[2017-04-21 15:57] robcaldecott opened #403 "Images in markdown not working in production"
I am using create-react-app and have some markdown files in a root `docs` folder that are including images that are located in the same folder, something like this:

`![logo](/docs/styleguide_icon.png)`

In dev mode (`styleguidist server`) this works perfectly. But when I build a static site using `styleguidist build` the images are not included in the bundled files. Is there a way to coerce the c

[2017-04-21 17:32] sapegin commented on #403
Have you tried to change [assetDir](https://github.com/styleguidist/react-styleguidist/blob/master/docs/Configuration.md#assetsdir) option?

[2017-04-23 05:55] MicheleBertoli commented on #354
+1 for tabs, it seems a great starting point to me.

[2017-04-23 10:05] cef62 commented on #354
I agree with @okonet, I would love have both possibilities:

- add isolated features/plugins in tabs (around content)
- extend/augment rendered content (inside content)

While working on `snapguidist` I had some idea on that. Now that I've closed a very important deadline at work I can finally work on it. Next days I will share more about this with you!

[2017-04-24 08:01] robcaldecott commented on #403
Yes. I tried this but images reference in markdown are still not included in a static build. Even if I move the markdown files and images to the `src` folder. It's as if the default create-react-app webpack config is not working for markdown images.

Anything else I can try?

[2017-04-24 08:02] sapegin commented on #403
Please make an example as [described here](../blob/master/Issue_Template.md) so I could debug it.

[2017-04-24 09:05] robcaldecott commented on #403
OK, try this:

https://github.com/robcaldecott/styleguidist-images

Clone it, `npm install` and then run `npm run styleguide:build`.

[2017-04-25 06:24] kulakowka opened #405 "Invalid prop `patterns` of type `boolean` supplied to `StyleGuide`"
I updated to the latest version and got an error in the console:

[code]

![2017-04-25 9 17 14](https://cloud.githubusercontent.com/assets/557190/25371193/0de07fec-2998-11e7-827f-715befa633a3.png)

https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/StyleGuide/StyleGuide.js#L15

[2017-04-25 06:32] sapegin commented on #405
Could you show your style guide config?

[2017-04-25 07:22] kulakowka commented on #127
We finally started using it in production.

![2017-04-25 10 20 06](https://cloud.githubusercontent.com/assets/557190/25373098/eb0dd466-29a0-11e7-8350-b120b91063a1.png)

[2017-04-25 07:25] sapegin commented on #127
@kulakowka Awesome!

[2017-04-25 08:33] kulakowka commented on #405
[code]

[2017-04-25 09:06] kohgpat opened #407 "Broken link in Documenting.md"
Hello, I just found broken link in Documenting.md (https://github.com/styleguidist/react-styleguidist/blob/master/docs/Documenting.md) file in the repo.

To be exactly "See examples" link in this quote.

Thank you for the project!

Sincerely,
Nikolay.

[2017-04-25 09:29] #407 closed

[2017-04-25 09:29] sapegin commented on #407
Thanks, fixed!

Please submit a pull request right away next time — it’s faster then filing an issue ;-)

[2017-04-25 18:45] sapegin commented on #403
Yeah, `assetDir` only affects dev server. What would be the right behavior here? Copy everything from `assetDir` to `styleguideDir`?

[2017-04-25 18:57] robcaldecott commented on #403
Copying the assets should work, easy enough to try. I'll report back.

[2017-04-25 18:58] sapegin commented on #403
Do you want to try to implement it an submit a pull request? ;-)

[2017-04-25 19:00] #405 closed

[2017-04-25 19:05] robcaldecott commented on #403
I'm a PR virgin! But it's about time I gave back... and this product is super useful. :)

[2017-04-25 19:07] SaraVieira opened #408 "Add Server restart warning when no Readme.md file is present"
Issue:

When I am creating a new component and no Readme.md file is present it gives me the warning to create a file but then when I do I need to restart the server for it to work.

Maybe adding a message telling the person to restart would be great

[2017-04-25 19:11] sapegin commented on #403
Awesome! I recommend you to watch this course by @kentcdodds: https://egghead.io/courses/how-to-contribute-to-an-open-source-project-on-github

[2017-04-25 19:11] sapegin commented on #408
Would you mind sending a pull request? ;-)

[2017-04-25 19:12] SaraVieira commented on #408
https://github.com/styleguidist/react-styleguidist/pull/409 💃

[2017-04-25 19:13] sapegin commented on #408
See it already — awesome! 👾

[2017-04-25 19:14] SaraVieira commented on #408
@sapegin What do you think about adding jest test to the lintstaged ?

[2017-04-25 19:20] sapegin commented on #408
How would that work? lint-staged works only with changed files — does Jest support that?

[2017-04-25 19:27] SaraVieira commented on #408
I found this article about it:
https://benmccormick.org/2017/02/26/running-jest-tests-before-each-git-commit/

It totally works:
https://www.dropbox.com/s/0nm6f764amgj1wu/Screenshot%202017-04-25%2020.27.38.png?dl=0

[2017-04-25 19:30] sapegin commented on #408
That’s interesting! If it’s fast enough we may try to add it: make sense for open source.

[2017-04-25 19:31] SaraVieira commented on #408
I can add it and you test it , for small changes it's pretty fast :)

[2017-04-25 19:33] sapegin commented on #408
Deal ;-)

[2017-04-25 20:17] #408 closed

[2017-04-25 20:41] SaraVieira commented on #302
![rs](https://cloud.githubusercontent.com/assets/1051509/25406737/aa0d6508-29ff-11e7-843f-765783ac41e0.png)

You guys like ?

Used a free logo that only needs credit and changed according to my idea

[2017-04-25 20:42] SaraVieira commented on #302
![rs2](https://cloud.githubusercontent.com/assets/1051509/25406837/0a13fa16-2a00-11e7-9147-e204455a4e6a.png)

[2017-04-25 20:43] SaraVieira commented on #302
![res2](https://cloud.githubusercontent.com/assets/1051509/25406883/32ec37f0-2a00-11e7-92db-0d9b7a19a5e1.png)

I made him more evil

[2017-04-26 05:58] sapegin commented on #302
@SaraVieira Cool, I like it! 🐊

[2017-04-26 06:48] SaraVieira commented on #302
@spagin Awesome! Let's get some more feedback then :)

[2017-04-26 07:13] n1313 commented on #302
Where is this logo from?

[2017-04-26 07:22] sapegin commented on #302
Yeah, I’m also interested in licensing and attribution. It may be an issue.

[2017-04-26 07:22] #402 closed

[2017-04-26 07:23] #397 closed

[2017-04-26 07:24] sapegin commented on #396
Closing this for now. Feel free to reopen or send a PR when react-docgen is merged ;-)

[2017-04-26 07:24] #396 closed

[2017-04-26 07:24] #384 closed

[2017-04-26 08:24] timsnadden opened #410 "jss-isolate vs theming"
It appears that jss-isolate is clobbering the theming functionality. I modified the
[basic example](https://github.com/timsnadden/react-styleguidist/tree/jss-isolate-issue) and added a base colour and font to the styleguidist config.

[code]

The font is being applied but the colour is being overridden by jss-isolate to use `color: initial`.

[2017-04-26 08:39] timsnadden commented on #410
For my own project I forked react-styleguidist to use jss with [jss-preset-default](https://github.com/cssinjs/jss-preset-default). This doesn't include jss-isolate.

[2017-04-26 08:42] sapegin commented on #410
We need jss-isolate so it’s not an option. We just need to use color explicitly everywhere.

[2017-04-26 09:06] timsnadden commented on #410
`fontFamily: 'inherit'` is added to the jss setup. One option is to also add `color: 'inherit'`. If this breaks the intended isolation model of jss-isolate then fontFamily should probably be pulled out of there and added explicitly to each rsg component as well. I see that a new version of jss-isolate has just been released too so `setupjss.js` could be updated to remove the customisations.

[2017-04-26 09:18] SaraVieira commented on #302
I checked and here is their license: http://file000.flaticon.com/downloads/license/license .it says we can change it and use it wherever we want.

And the website:http://www.flaticon.com/free-icon/octopus_371706#term=octopus&page=1&position=6

[2017-04-26 09:22] sapegin commented on #410
`font-family` inheritance was added to pass `font-family` from `body` to user’s components. We shouldn’t rely on style inheritance in Styleguidist UI.

[2017-04-26 09:24] sapegin commented on #410
So there are to separate issues:

* Ability to pass some styles (like `font-family`) from `body` to user’s components.
* Isolation of Styleguidist UI from any user styles.

[2017-04-26 09:27] sapegin commented on #302
Sounds a bit complicated for a logo that can be used anywhere: http://support.flaticon.com/hc/en-us/articles/207248209-How-I-must-insert-the-attribution-

(And I actually like your version more ;–)

[2017-04-26 09:42] SaraVieira commented on #302
It does , but I think the idea is just to put a link on the footer, or just use mine :)

[2017-04-26 09:44] sapegin commented on #302
Maybe you can redraw it using the original as inspiration? That would solve the issue and we’d have an original logo ;-)

[2017-04-26 10:38] okonet commented on #302
Yay for having an original logo.

I'd also spend some more time exploring the typography part. Generally, I think the logo (sign) is enough for OSS projects since it will be problematic to use on GitHub and still keep the type as text.

[2017-04-26 10:56] SaraVieira commented on #302
Okay , most of it I already redraw , as you can see from the link there were a lot of retouches on it , it is original , not just a copy and paste so I can work a little more in it and make it more unique is that okay @sapegin @okonet ?

Maybe the typo can go , right ?

[2017-04-26 11:15] sapegin commented on #302
Sounds good! For the text I think we need to choose I nice readable font and use it everywhere on a site.

@okonet @SaraVieira I’ll need your help with the site: especially colors, typography, etc. Will show you something soon ;-)

[2017-04-26 12:19] SaraVieira commented on #302
![rs4](https://cloud.githubusercontent.com/assets/1051509/25434111/ed848fcc-2a82-11e7-8f46-24f8dc663a28.png)

Simpler version

[2017-04-26 12:23] sapegin commented on #302
I actually liked that I don’t know what behind the legs ;-) I’d rather remove dots on the head. But that’s just option of an amateur. What @okonet would say? ;-)

[2017-04-26 12:24] SaraVieira commented on #302
That is a fast change I can put them side by side 👍

One sec

[2017-04-26 12:25] SaraVieira commented on #302
![group 3](https://cloud.githubusercontent.com/assets/1051509/25434334/cc0c494c-2a83-11e7-9b5e-60a7bdb0704e.png)

Comparision of with or without dots

[2017-04-26 12:28] SaraVieira commented on #302
![type](https://cloud.githubusercontent.com/assets/1051509/25434423/29ae4ac8-2a84-11e7-8106-76112748fe44.png)

Some type ideas , I used raleway that is a free font and can be used on the website easily

[2017-04-26 16:07] okonet commented on #302
Some comments from me:

![2017-04-26 at 18 05](https://cloud.githubusercontent.com/assets/11071/25444330/016f06d4-2aab-11e7-8f8a-eac2677566c5.png)

I'm not sure about the second row of legs and about the secondary color. Can you try drawing separate legs (octopus should have 8, right?) and different colors perhaps?

[2017-04-26 16:11] SaraVieira commented on #302
Great feedback @okonet !

I will take a look at that as soon as I get home :)

If you want to play with it and have sketch I shared it on dropdbox: https://www.dropbox.com/s/ld2z44umba1fu3c/rs.sketch?dl=0

[2017-04-26 16:16] okonet commented on #302
@sapegin I like those dots on the head.

Some suggestions:
- Try to add suckers to the arms
- More armssss :)
- Less evil look probably?

[2017-04-26 16:46] robcaldecott commented on #403
OK, it works if I store all my markdown images in an assets folder and reference them with `./assetfilename` in the markdown as long as I copy the contents of the assets folder to the final `styleguide` folder. The `./` is required if you want to host the static site in a sub-folder btw (which is essential for me.) This seems to work OK in dev and production builds.

So, regarding how to actually

[2017-04-26 17:05] sapegin commented on #302
@okonet Now I like them too ;-)

And I like the idea of extra legs — would fill empty “armpits” after removal of the “back legs”.

[2017-04-26 17:07] sapegin commented on #403
Sounds good! Thanks for the research ;-)

[2017-04-26 19:36] timsnadden opened #411 "Monospace font preference not applied from theme"
In the code editor the font is set to `monospace` rather than the monospace font set in the styleguidist config's theme object.

[2017-04-26 19:40] sapegin commented on #411
I think it’s coming from CodeMirror styles. PR to fix that would be very cool ;-)

[2017-04-26 21:40] SaraVieira commented on #302
https://www.dropbox.com/s/60ghwby45ah523o/Screenshot%202017-04-26%2022.40.05.png?dl=0

Is this beter ? @sapegin @okonet

[2017-04-27 08:28] kulakowka opened #413 "Module not found: Error: Can't resolve 'markdown-to-jsx'"
Today I started the styleguidist and got an error:

[code]
This probably happened because of the [markdown-to-jsx package update to 5.3.0](https://github.com/probablyup/markdown-to-jsx/releases)

I was able to fix the problem by installing the package in my project

[code]

However, this should not be considered as a solution.

------

About my package.json:
[code]

**Does anyone have a similar er

[2017-04-27 08:31] n1313 commented on #413
Yep, markdown-to-jsx v5.3.0 is broken: https://github.com/probablyup/markdown-to-jsx/issues/104.

[2017-04-27 08:33] sapegin commented on #413
Let’s wait for this PR: https://github.com/probablyup/markdown-to-jsx/pull/105

If they won’t merge it today, I’ll fix the previous version in our dependencies.

[2017-04-27 09:18] #413 closed

[2017-04-27 09:28] sapegin commented on #413
~~Hacked~~ temporarily fixed in [5.1.6](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.1.6).

[2017-04-27 09:29] sapegin commented on #302
I think it’s a bit too busy now — maybe make legs thinner? 🐙

[2017-04-27 09:38] okonet commented on #302
Yes, it's definitively a step back. I'd try placing arms lower.

[2017-04-27 09:39] okonet commented on #302
We should probably match 🐙 emoji colors :)

[2017-04-27 09:40] sapegin commented on #302
I actually like this turquoise color… but, wait, isn’t it the same as in React logo? ;-)

[2017-04-27 09:41] sapegin commented on #302
But I like combination of turquoise and orange anyway ;-)

![](https://s-media-cache-ak0.pinimg.com/originals/e5/6b/a6/e56ba656c14c26ef0f29a5693dfb92cc.jpg)

[2017-04-27 09:43] SaraVieira commented on #302
Yes, the torquise is the react color 💃

My sketch skills are being put to the test here :p

[2017-04-27 09:45] sapegin commented on #302
We’re all learning that’s why we do open source ;-)

[2017-04-27 09:48] SaraVieira commented on #302
https://www.dropbox.com/s/hktwcx7li4ogsbb/Screenshot%202017-04-27%2010.48.35.png?dl=0

Something like this side ?

[2017-04-27 10:14] okonet commented on #302
I was more thinking about something like this:

![2017-04-27 at 12 14](https://cloud.githubusercontent.com/assets/11071/25478863/14567370-2b43-11e7-8a37-a81d957fa6dd.png)

[2017-04-27 10:16] SaraVieira commented on #302
I fell like the first legs are too thin, what do you think @sapegin ?

[2017-04-27 10:17] SaraVieira commented on #302
you took his mean eyes :(

[2017-04-27 10:19] okonet commented on #302
Sorry was just a draft :)

I've simplified the Sketch file a bit if it helps: https://www.dropbox.com/s/yozmu8h7mhh4onn/rs.sketch?dl=0

Just an idea: by looking at it, I'm wondering if arms could mimic RS (react-styleguidist) somehow.

[2017-04-27 10:22] SaraVieira commented on #302
What do you mean by this ?

[2017-04-27 10:27] SaraVieira commented on #302
https://www.dropbox.com/s/ukvc2umjp1e4y0q/Screenshot%202017-04-27%2011.27.03.png?dl=0 I think arms like this make it look a little fuller.

And great job making this simpler :D

[2017-04-27 10:32] timsnadden commented on #411
See #415

[2017-04-27 10:38] SaraVieira commented on #302
https://www.dropbox.com/s/kt6b07xh0w2e6x3/Screenshot%202017-04-27%2011.37.31.png?dl=0

[2017-04-27 11:14] okonet commented on #302
@SaraVieira can you please upload images directly to GitHub (drag-n-drop them). Clicking links is pain and it would be great to have different versions visible in this thread without need top open separate tabs.

To the latest version: it still feels too busy to me. Can it be simplified even further?

[2017-04-27 11:44] sapegin commented on #302
I think this one is very close but need a bit of polishing. Maybe make this inner legs more round?

[2017-04-27 12:09] okonet commented on #302
I could polish it a bit later if @SaraVieira don't mind :)

[2017-04-27 12:30] SaraVieira commented on #302
@okonet Of course I don't mind , use them sketch skills 🎉

[2017-04-27 20:17] #411 closed

[2017-04-28 20:46] timsnadden commented on #410
See #418

[2017-04-28 20:59] okonet commented on #302
Okay, spent some time on it tonight. Thoughts?

![2017-04-28 at 22 58](https://cloud.githubusercontent.com/assets/11071/25547164/38eb360c-2c66-11e7-94bf-f7498817a566.png)

[2017-04-28 21:05] sapegin commented on #302
Cooool! Super clean and he’s (or is it a girl?) smiling now :-) I also like it more in one color. (Do we want to use React color or something else?)

[2017-04-28 21:07] okonet commented on #302
It's an evil smile, you know 😈

I think the reference to React through color is good.

[2017-04-29 10:46] sapegin commented on #302
Just notices that eyes are transparent — was that intentional?

[2017-04-29 15:05] SaraVieira commented on #302
That looks amazing @okonet ! I think we may have a winner here 🎉

[2017-04-29 15:31] varya opened #419 "[question] How to require webpack config if it's in ES6?"
My webpack config is written in ES6. I require it in `styleguide.config.js` as the documentation suggests. But this give an error when running:

[code]

What is the right way to require ES6 webpack config?

[2017-04-29 15:37] sapegin commented on #419
I’d suggest you to rewrite it without `import`s. Most of other ES6 features are supported by Node 6+.

[2017-04-29 15:38] sapegin commented on #419
[babel-register](https://babeljs.io/docs/usage/babel-register/) in style guide config should work too but I haven’t tried it.

[2017-04-29 15:41] varya commented on #419
I tried `es6-require`. It works. But not sure if it can be officially recommended. Anyways, I guess issue can be closed. Thank you :-)

[2017-04-29 15:52] sapegin commented on #419
The recommended way is rewriting ;-)

[2017-04-29 15:52] #419 closed

[2017-04-29 17:12] okonet commented on #302
Eyes: no, it was not. Need to fix.

Sara: thanks to you! I would not do this if you haven't started working on it. And since It's not a competition but a collaboration you deserve same credit for it! 👏

[2017-04-29 17:14] okonet commented on #302
And I just realized we met in Amsterdam recently 🙌

[2017-04-29 17:18] SaraVieira commented on #302
@okonet thank you! I'm trying to improve them sketch skills, I'm a not designer but I really like to work in stuff so it's awesome I helped :D

Yes we did, I was the girl that chased you and asked if we could use lint staged with flow :p
Such a small world!

[2017-04-29 17:51] sapegin commented on #302
Looks like everyone was at React Amsterdam except me 😢

[2017-04-29 17:58] SaraVieira commented on #302
@sapegin I'll be in Amsterdam again from 15 to 21 of may, we should meet there :D
Ill be speaking at codemotion amsterdam

[2017-04-29 18:07] sapegin commented on #302
@SaraVieira So far I’m going to ReactiveConf in Bratislava in October ;-)

[2017-04-29 18:26] SaraVieira commented on #302
@sapegin Why not speak about styleguidist there ?

[2017-04-29 18:30] sapegin commented on #302
I’m going to start from local meetups — big conferences are too scary 👨🏻‍🌾

[2017-04-29 20:30] SaraVieira commented on #302
@sapegin My first talk was at front ends so don't fear 😃

[2017-04-29 20:54] stepancar opened #420 "Help with building"
Hello!
I can't install project dependencies
error An unexpected error occurred: "https://registry.yarnpkg.com/@semantic-release/condition-travis/-/condition-travis-5.0.2.tgz: Request failed \"404 Not Found\"".
The same with npm.
Maybe you know what's happening?
Whats's yarn/ npm/ node you use?
what's registry you use?

[2017-04-29 22:54] olegshilov commented on #302
New logo reminds me Hydra logo from Agents of S.H.I.E.L.D. series (=
![image](https://cloud.githubusercontent.com/assets/930121/25559647/db0f074c-2d47-11e7-80e0-033c8a81c7c3.png)

[2017-04-30 00:52] SaraVieira commented on #302
That's not even a bad thing, I'm actually impressed :p
The bad boys of atyoeguides xD

[2017-04-30 07:06] sapegin commented on #420
What exactly are you doing?

[2017-04-30 07:46] stepancar commented on #420
@sapegin
$ yarn
or
$ npm i

[2017-04-30 07:55] sapegin commented on #420
Where? In the `master` branch?

Just did

[code]

works fine.

[2017-04-30 07:56] sapegin commented on #420
And I can download file from your error message so it’s most probably network issues or something was wrong with npm.

[2017-04-30 08:08] stepancar commented on #420
I can download it too by direct link
Hm, looks like i faced with the same issue
 https://github.com/yarnpkg/yarn/issues/2738

[2017-04-30 08:32] sapegin commented on #420
Yeah, looks like a Yarn issue. Not sure we can do anything on our side ;-(

[2017-04-30 08:33] #420 closed

[2017-04-30 08:34] stepancar commented on #420
@sapegin, thank you!

[2017-05-01 09:44] SaraVieira commented on #302
@spagin Is the logo decided?

[2017-05-01 10:19] okonet commented on #302
Just FIY: I'd like to polish it a bit more.

[2017-05-01 10:22] SaraVieira commented on #302
I think maybe we should work on typography a little too since we will be working the website later

[2017-05-01 10:29] sapegin commented on #302
That’s what I have so far, pretty drafty though ;-)

![image 2017-05-01 at 12 26 49 pm](https://cloud.githubusercontent.com/assets/70067/25577889/d6b7a10e-2e69-11e7-8f0c-73121f2caa59.png)

Will share the code in a few days I think so you could play with it.

[2017-05-01 13:51] sapegin commented on #354
@cef62 Ping ;-) Do you have some time now?

[2017-05-01 19:12] tiagojsalmeida opened #422 "Can't export HOC component?"
First of all awesome work with Styleguidist!

I'm having issues with High order components (HOC).
Basically one of my component files is something like this:

[code]

As you can see i'm exporting a function, hence getting this Issue:
`Warning: test.js matches a pattern defined in ”components” or “sections” options in your style guide config but doesn’t export a component.`

My handers are the same

[2017-05-01 19:40] sapegin commented on #422
Try to export `Test` component.

[2017-05-01 19:58] tiagojsalmeida commented on #422
But that's not the purpose. Also Test depends on `WrappedComponent`.

[2017-05-01 20:09] sapegin commented on #422
You need to export a component, otherwise react-docgen couldn’t make documentation for it. Otherwise you can create a section and describe your HOC using regular Markdown.

[2017-05-01 22:18] okonet commented on #302
I've spent some more time tonight. It feels that we're close to me.

Decided to play with colors a bit. Can revert to the blue one if this is too much but I thought the resemblance with the 🐙 emoji wouldn't hurt.

![logo](https://cloud.githubusercontent.com/assets/11071/25596975/6520f8e8-2ecc-11e7-91bc-445844c6241e.png)

Here is also my take on typography. I'm using https://fonts.google.com/specim

[2017-05-02 00:43] n1313 commented on #422
@tiagojsalmeida the important thing to understand how RSG works is that in its core is react-docgen, which takes your files and parses them *as strings* without executing them. It cannot follow an import and it doesn't understand how HOCs work, but in exchange it can read your code comments. An approach I personally find useful when working with "wrapped" components is to export both wrapped and u

[2017-05-02 06:39] sapegin commented on #302
I sill prefer the blue one ;-) But I like this gradient background though ;-)

I’ve tried the Montserrat on a home page:

![screencapture-localhost-6601-1493707089301](https://cloud.githubusercontent.com/assets/70067/25606646/d05c20c4-2f12-11e7-8034-c277e9c47933.png)

Any feedback?

[2017-05-02 07:14] Sector22 opened #423 "Examples are not published"
Let me start off with that I think this is a great project and I'm really enjoying it so far! (:

I have been using it for some time now, but I've run into a bug I have some trouble figuring out what is going wrong.

I have a config that seems to be working just fine. The server and build commands are working and everything seems to be build correctly. That is until I try to build the styleguide i

[2017-05-02 07:16] Sector22 commented on #423
Just in case it help I uploaded my styleguide.config.js as well:

https://gist.github.com/Sector22/184e10ac7435e62da24d797a77c9ddba

[2017-05-02 07:22] sapegin commented on #423
Could you publish the generated style guide somewhere? Is Node version different inside the container?

[2017-05-02 07:33] Sector22 commented on #423
It is running in a node 7.2.0 container, locally I'm running 7.3.0
Also using webpack 2.2.1

You can view the styleguide here: [http://test.snailhousecampervans.com.s3-eu-central-1.amazonaws.com/styleguide/index.html](http://test.snailhousecampervans.com.s3-eu-central-1.amazonaws.com/styleguide/index.html)

[2017-05-02 07:37] sapegin commented on #423
Is your files named `README.md` in upper case?

[2017-05-02 07:49] Sector22 commented on #423
yes, they are.

[2017-05-02 07:52] sapegin commented on #423
That’s the reason I think. You’re using case-insensitive file system at home (Mac, Windows) and your Docker container has case-sensitive one (Linux). The default [getExampleFilename](https://github.com/styleguidist/react-styleguidist/blob/master/scripts/schemas/config.js#L60-L77) only checks for `Readme.md`.

A fix to make the check case-insensitive is very appreciated ;-)

[2017-05-02 07:57] Sector22 commented on #423
Ah there we go! Nice catch! I might have some time this weekend to fix it. (: Thanks for your help!

[2017-05-02 08:09] okonet commented on #302
Okay, back to blue.

![logo](https://cloud.githubusercontent.com/assets/11071/25609282/d6911876-2f1e-11e7-9f71-3b957bd5556f.png)

![logotype](https://cloud.githubusercontent.com/assets/11071/25609286/dbbe1a24-2f1e-11e7-8daf-376544b2a933.png)

I've tried another font for the typography: https://fonts.google.com/specimen/Bree+Serif Feels more cheerful to me.

I don't really like the Monteserrat as a

[2017-05-02 08:11] sapegin commented on #302
@okonet Awesome! I like more curvy legs ;-) Could you send me an SVG — I’d try to put it on a main page as well as other font.

[2017-05-02 09:42] SaraVieira commented on #302
@okonet The blue with the gradient looks amazing! Great work

@sapegin about the website I thinks it needs more spacing between the sections :/

[2017-05-02 09:43] sapegin commented on #302
@SaraVieira yeah, I think you’re right ;-)

[2017-05-02 09:48] SaraVieira commented on #302
@sapegin Are you designing this in the browser or using any software?

[2017-05-02 09:51] okonet commented on #302
It's now official: https://github.com/styleguidist/brand 🙌

I'm closing this one.

[2017-05-02 09:51] #302 closed

[2017-05-02 09:55] SaraVieira commented on #302
@okonet Holly crap! We should totally get stickers!

[2017-05-02 10:09] SaraVieira opened #424 "Improve Responsive navigation"
When on mobile navigation should be a pop up menu on the side but in this case it just gets pushed to the bottom in a somewhat weird way.

![screenshot_20170502-110514](https://cloud.githubusercontent.com/assets/1051509/25613856/abb5d354-2f27-11e7-98fb-ca8c4394fadd.png)

Open to suggestions here but I think having slide out menu when there is no more room would be the way to go, thoughts?
.I will

[2017-05-02 10:11] sapegin commented on #302
All in the browsers, so it’s a real site already ;-)

Yes!!!

[2017-05-02 10:19] SaraVieira commented on #302
@sapegin Ready for GH pages anytime! Awesome!

[2017-05-02 11:50] sapegin commented on #424
There are two things:

1. We’ve never spend much time on mobile experience so it’s very simplistic now.

2. There’s more generic UI issue: we’re keep adding things to the UI and right now it’s a bit cluttered and inconsistent.

So any improvements in both are very appreciated but try not to fix just one issue but think a bit broader ;-)

[2017-05-02 12:22] SaraVieira commented on #424
I'll try add a pixel grid to this to make the elements more evenly spaced.
Also put the logo in the header would be awesome :)

Should I just work with freedom and put the screenshots here?

[2017-05-02 14:13] tiagojsalmeida commented on #422
What about when my component is generated by a function call?

So per example, some of my components are like:

[code]
while `makeIcon` return a component.

So in theory i'm exporting a component but react-docgen doesn't detect it..

[2017-05-02 14:15] sapegin commented on #422
It does static analysis which is far from magic and can’t really understand your code. If you believe it could be implemented please file an issue in react-docgen repo.

[2017-05-02 14:15] #422 closed

[2017-05-02 14:16] sapegin commented on #410
Out in [5.1.9](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.1.9).

[2017-05-02 14:16] #410 closed

[2017-05-02 14:19] n1313 commented on #422
@tiagojsalmeida react-docgen works with files. It reads files From your hard drive. It does not execute them. It does not run Javascript. If there is no file to parse, then it doesn't work.

[2017-05-02 17:39] sapegin commented on #424
I was thinking about adding something [like this](https://medium.freecodecamp.com/css-in-javascript-the-future-of-component-based-styling-70b161a79a32) (see *Define spacing constants*).

Yeah! 🍕

[2017-05-02 18:35] SaraVieira commented on #424
That is a great idea , that's exactly what I was thinking about, using a 8px grid and everything 😄

Thank you for the push acess 🎉

[2017-05-03 06:59] sapegin commented on #127
@kulakowka Could I add your company logo to a site? ;-)

@zecaptus Are you still using Styleguidist? ;-)

@mik01aj Do you know if they are still using Styleguidist?

[2017-05-03 09:03] zecaptus commented on #127
@sapegin Yes, I still use it, moreover I will update it to make it work for [`react-native`](https://facebook.github.io/react-native/) with [`exponent`](https://snack.expo.io/), probably in 2018.

[2017-05-03 10:36] SaraVieira commented on #424
@sapegin The designer in my team sent me this and I think this would be awesome:

![kapture_2017-05-02_at_18 24 48](https://cloud.githubusercontent.com/assets/1051509/25657229/bfb5dcdc-2ff4-11e7-9108-c50eecc0ab13.gif)

[2017-05-03 10:54] sapegin commented on #424
But we already have almost the same, but without animation ;-)

I have a proposal for UI improvements but I need some time to write it, will try to open an issue today.

[2017-05-03 10:54] SaraVieira commented on #424
@sapegin If you create it today I can just close this ticket and just work in the other one 👍

[2017-05-03 10:55] SaraVieira commented on #424
@sapegin It's the theme that makes it look awesome

[2017-05-03 11:04] sapegin commented on #424
If you mean dark editor theme, you can change theme for your style guide ;-)

[2017-05-03 11:05] SaraVieira commented on #424
I know you can change it but I think it would be a better default

[2017-05-03 11:06] sapegin commented on #424
No, sorry, I won’t make a dark theme a default choice — so much harder to read than a light one ;-)

[2017-05-03 11:08] SaraVieira commented on #424
true , it looks nicer but it is harder to read

[2017-05-03 11:15] sapegin commented on #424
For many developers it’s not but I think for a style guide it’s a better default ;-)

[2017-05-03 12:27] sapegin opened #426 "UI improvements proposal (UI 2.0)"
We keep adding new function and new “buttons” to the UI and right now it’s inconsistent and far from perfect. Adding more features (and there are plans and wishes to do that) will most likely destroy user experience completely. I was thinking about that for a long time and here are my thoughts.

Goals I want to solve in this issue:

* Improve developer experience (component development process);
*

[2017-05-03 13:32] n1313 commented on #426
Call me biased but I think that current UI is alright and with exception of [#350](https://github.com/styleguidist/react-styleguidist/issues/350) I don't see any obvious places that need improvement. Ease of access to information, speed and responsiveness of the application and code parsing features like JSDoc support play a much bigger role on the developer experience than UI bells and whistles,

[2017-05-03 13:44] sapegin commented on #426
These are not bells and whistles, these things are *required* for the plugin API, not something that we can do after that. There are needed as well for almost any new feature that requires a new UI (some of them are listed in the issue). And we already have issues like #235 that cannot be solved by just moving links around.

Plugin API has a very high priority because the more users we have the mo

[2017-05-03 15:10] lukehedger opened #427 "Upgrade jss-isolate to v3.0.0"
Dependency `jss-isolate@2.0.1` is causing a Yarn warning:

[code]

v3.0.0 of `jss-isolate` depends on `jss@^7.0.0`, which should fix the warning.

Happy to submit PR if no unintended consequences expected.

[2017-05-03 16:33] sapegin commented on #427
Yeah, it wasn’t yet published when I did update to JSS 7. PR will be good of course but it’s a bit more complicated, ideally:

1. Update jss-isolate to 3.0.0 (it’s not used anywhere in the code now, see 2).
2. Remove [our fork](https://github.com/styleguidist/react-styleguidist/tree/master/src/styles/jss-isolate) (but keep in mind that the list of non-inherited properties was removed from jss-isol

[2017-05-03 19:54] sapegin commented on #426
/cc @okonet @SaraVieira @MicheleBertoli @stepancar @Knorcedger @aaronjensen @skidding

[2017-05-03 20:56] eduardoinnorway commented on #360
Confirm that require in webpack config works for external libraries

[2017-05-03 21:02] eduardoinnorway opened #428 "Indent sub components in menu?"
Just started and really like the setup, but I have a huge amount of components so I have grouped them, for example

-Header
--Logo
--Toggle
-Foo

Is there a way to make the menu indent automatically for my subcomponents with some decorator or something? Would be cream on the top of one could add a toggle also :)

[2017-05-04 02:05] n1313 commented on #428
There is no toggle but you may want to use [sections ](https://github.com/styleguidist/react-styleguidist/blob/master/docs/Components.md#sections) for grouping.

[2017-05-04 06:55] sapegin commented on #428
And you can generate sections based on folders.

[2017-05-04 07:29] cef62 commented on #354
I've started digging through the new 5.x implementation. I really like the new  AST based parsing, great job @sapegin!
At the moment the part bugging me the most is that there's no effective way to assign a unique ID to every parsed snippet. This is something very important to support a plugin API in my opinion, in `snapguidist` for example we could use it to avoid unnecessary execution of unchang

[2017-05-04 07:36] sapegin commented on #354
I think unique ID generation should be part of the core but I don’t know how to do expect use just indexes like Jest does itself.

About HOCs: sounds like a good idea, do you know how we could easily implement that? I also think that we should start from predefined extension points (toolbars and tabs) like I describe in #426 — it should be easier to implement and would be enough for many plugins,

[2017-05-04 07:43] cef62 commented on #354
`Jest` use the assertion title as unique ID but we don't have it. This is why I'm thinking of a `front matter` approach. That approach would also open up snippet-level configuration of plugins.

I've a couple of ideas and it's what I hope to share in more detail asap.

I definitely agree with you!

[2017-05-04 07:46] sapegin commented on #354
Front matter is a nice idea but I’m afraid we can’t require users to write it for each example just to be able to use Snapguidist. We could use the text in a paragraph in front of the example. It’s not perfect but probably better than indexes.

[2017-05-04 07:52] cef62 commented on #354
Yep, this is my exact feeling about it. But could/should be optional. I mean the plugin author could support an explicit title/ID/whatever to support specific features, if the user doen't care about those features (like test execution optimization) can simply skip the front matter.

That is a nice idea to avoid unnecessary repetitions on every snippet.

[2017-05-04 07:59] sapegin commented on #354
So, yeah, we could generate these IDs in the core and pass them to your plugin’s tab component or whatever ;-)

[2017-05-04 08:01] cef62 commented on #354
Yes and no. We can just recognize snippet positional index and their content. If the user change the snippet order and the content we don't have any way to be sure of which snippet whas assigned to which ID.

[2017-05-04 08:03] sapegin commented on #354
If we use text than most likely the text will be moved with the snippet and we don’t have a better idea anyway ;-)

[2017-05-04 08:24] MicheleBertoli commented on #354
We can't assume there's always going to be a text above the snippet, right?

Jest is using [a combination of name + index](https://github.com/facebook/jest/blob/master/packages/jest-snapshot/src/utils.js#L84), and [we are doing the same](https://github.com/styleguidist/snapguidist/blob/master/src/components/PlaygroundRenderer.js#L8) at the moment.
I can't see why we can't keep on doing it.

Afaik

[2017-05-04 08:40] cef62 commented on #354
No we can't

I was thinking not only about `snapguidist` but also to possibly more heavy integration that could benefit from more optimization.

Anyway I agree with you that is not fundamental, but a nice addition to have anyway.

[2017-05-04 10:29] Knorcedger commented on #426
From a usability perspective, having an always visible but unobstructive toolbar is in my opinion superior to links that appear on hover. I like and support the idea.

P.S. The specific icons are not the best :)

[2017-05-04 11:27] sapegin commented on #426
@Knorcedger I hate these links ;-)

Icons are just to show the idea, from Font Awesome. Any better candidates? There’s the whole list of actions in the issue description (some of them are new like toggling props (I really want this) :–)

[2017-05-04 12:15] kulakowka commented on #127
@sapegin We just started developing our components. They will be released in a couple of weeks. Unfortunately, we can not open the source code. No one will be able to see our documentation, except for employees of our company. Does it make sense then to place a logo?

[2017-05-04 12:16] sapegin commented on #127
@kulakowka No, it doesn’t ;-)

[2017-05-04 19:05] gregorskii commented on #269
This would work great for inlining external CSS as well.

[2017-05-04 19:18] MicheleBertoli commented on #426
I love the current UI, and I agree icons would make it more scalable.

[2017-05-05 08:40] SaraVieira commented on #426
@sapegin Icons sound like a great idea.

By toggling the props you mean that the user would be able to collapse the props ?

[2017-05-05 08:43] sapegin commented on #426
@SaraVieira Yes, because you don’t need them when you’re developing a component. And for some components they occupy a lot of space.

[2017-05-05 08:44] sapegin commented on #426
@MicheleBertoli I mostly like it too except this ugly isolation mode links ;-)

[2017-05-05 08:46] SaraVieira commented on #426
You mean like this:
<img width="1069" alt="screenshot 2017-05-05 09 45 18" src="https://cloud.githubusercontent.com/assets/1051509/25738954/a2bbdac6-3177-11e7-8d37-f2357558b03f.png">

I can start with this small fix 👍

I will start working on this tomorrow

[2017-05-05 08:49] sapegin commented on #426
@SaraVieira Yeah, exactly 😬

It will be a small fix as soon as we implement a global toolbar where we could put that switch — do you want to help with that too? 😊

[2017-05-05 08:50] SaraVieira commented on #426
@sapegin Sure, tell me where to start 👍

[2017-05-05 08:52] sapegin commented on #426
I think we can start from simple things like components for toolbar, toolbar button and global toolbar itself (I think it should be fixed in the bottom left corner inside the sidebar if we have a sidebar or just floating)

[2017-05-05 08:56] SaraVieira commented on #426
What will be the links there ?

[2017-05-05 08:58] sapegin commented on #426
These are all I can imagine:

So we can start from home and then add props toggle.

[2017-05-05 09:16] SaraVieira commented on #426
Sure, I'll start by adding the buttons to go home and create a nifty
animation for the sidebar and I can also pick up the individual dropdown of
the props and then we can talk about the better way to do the all props
dropdown.

Should we put the new logo on the header?

On Fri, 5 May 2017, 09:58 Artem Sapegin, <notifications@github.com> wrote:

[2017-05-05 10:01] sapegin commented on #426
What do you mean by “dropdown of the props”? ;-)

I’m not sure about the logo because the text can be changed but would be nice to have it somewhere.

[2017-05-05 20:34] kulakowka opened #430 "How to use Link from react router?"
I added the `<Link>` component from [react-router-dom](https://reacttraining.com/react-router/) to my `<Button>` component and got an error:

[code]

This happens because the UI components do not get the context from `<Router>`.
Is there any way to fix this?

[2017-05-06 08:16] sapegin commented on #430
This should work: https://github.com/styleguidist/react-styleguidist/blob/master/docs/Cookbook.md#how-to-connect-redux-store

[2017-05-08 14:50] eduardoinnorway commented on #428
Thanks, this actually solves the issue, just make more sections and group more.

[2017-05-08 14:50] #428 closed

[2017-05-10 08:44] dotcs opened #436 "Add metadata to describe components + tag support"
I've opened PR #435 that adds metadata to components.

This PR also includes a tag system that is based on the components metadata. Please see the PR for details on this.

Are there any further ideas of what other functionality based on metadata support should be provided out-of-the-box?

Some ideas:

- categories: components could be organised in sub-categories, so that the sidebar can use this i

[2017-05-10 09:32] ankri opened #438 "Print to terminal when using a defaultProp that is not listed in props?"
While fixing #437 I realized that the styleguidist would be able to print an info message when the user uses a `defaultProp` that is not listed in `propTypes`

In `getProps.js line 73` it could look something like this:
[code]

What do you think? Is it an helpful addition or not the task of the styleguidist to analyze the users code in this way?

[2017-05-10 09:39] sapegin commented on #438
I’m sure eslint-plugin-react can do that as well as many other things. I think it’s way out of scope of Styleguidist and other tools already exist that do that much better.

[2017-05-10 17:12] dotcs commented on #436
Features in question should be implemented as plugins (see https://github.com/styleguidist/react-styleguidist/pull/435#issuecomment-300475263).

PR in question will only cover metadata.

[2017-05-10 17:12] #436 closed

[2017-05-10 17:26] Sashkan opened #439 "webpack dependecy issue"
I'm using ```react-create-app```. As mentionned in the documentation, I installed StyleGuidist using

[code]
When starting the StyleGuide server, I get the following critical error:
[code]

Server immedialty crashes. I thought it might come from webpack somehow missing, so I used the other way around:

[code]

which raises the following non-critical error:
[code]
Which apparently comes from these

[2017-05-10 18:03] sapegin commented on #439
How are you installing CRA with TypeScript? Could you help me reproduce it?

[2017-05-13 06:50] stereobooster commented on #324
Any plans to support `import` in the code instead of `require()`? Related: https://gitlab.com/Rich-Harris/buble/issues/59

[2017-05-13 07:05] stereobooster commented on #324
Have similar issue. Source code https://github.com/stereobooster/react-mapbox-gl/tree/styleguidist

[code]

[2017-05-13 08:26] ankri commented on #438
Closing since eslint-plugin-react is clearly the better way to approach this kind of thing

[2017-05-13 08:26] #438 closed

[2017-05-13 14:39] sapegin commented on #324
@stereobooster We can discuss it as soon as Buble implements them ;-) So far I don’t see we can do anything here.

[2017-05-13 17:12] stereobooster commented on #327
Maybe JSON like structure with editable value (inline editor, enables when you click it)

Some inspiration for UI:

- http://worrydream.com/Tangle/
- Example of "JSON like structure" https://uber.github.io/react-map-gl/#/interactivity
- Example of inline editor http://kaivi.github.io/riek/

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/179534/26027522/896f2a98-380f-11e7-8abb

[2017-05-15 02:02] magicmark opened #441 "position: relative causes component position to be wrong"
Hi, thanks for this awesome project!

I'm writing a hovercard component that uses absolute positioning. When rendering it in a styleguidist example, the component breaks, because it takes its initial position values from a parent div with `position: relative` specified. (http://i.imgur.com/Q4iwmIT.png)

Any suggestions as to how to get around this? Thanks again!

(To give more context, here's what

[2017-05-15 07:22] sapegin commented on #441
I think we could get rid of `position: relative` as soon as we finish #426.

[2017-05-15 18:19] fatso83 opened #442 "Errors in the example style guide router"
What happens:
When going into the isolation mode and trying to go back I end up on the root page.

What should happen:
I would expect to happen on the overview that I was on before pressing "Back"

To reproduce,
1. go to https://react-styleguidist.js.org/examples/basic/#button
2. Hover over "Button" to view "Open isolated"
3. Press "Open isolated"
4. In the newly opened page, press "Back"
5. Obser

[2017-05-15 20:14] sapegin commented on #442
Yeah, funny bug ;-) Thanks for the report!

Should be easy to fix if you of anyone want to submit a pull request ;-)

[2017-05-17 14:33] Giulico opened #445 "Documenting pure functions and utilities"
Hello,
I'm using this tool since a couple of day and I really like it! :)

Trying to keep my project as "functional" as possible, I tend to use many pure functions. I wonder if there's a way to document those pure functions with react-stylguidist.

I noticed the waring in my console:
`Warning: app/assets/js/shared/utils.js matches a pattern defined in ”components” or “sections” options in your sty

[2017-05-17 14:58] sapegin commented on #445
Styleguidist is not a JS documentation engine, now it works for react component. I’d recommend you to use something like [Documentation.js](http://documentation.js.org/) and include generated Markdown as a section in Styleguidist.

[2017-05-17 14:59] sapegin commented on #439
Closing this for now. Feel free to reopen with more data.

[2017-05-17 15:03] sapegin commented on #393
This was released in [5.2.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.2.0).

[2017-05-17 15:03] #393 closed

[2017-05-18 14:45] sapegin commented on #354
To start working on the API something very simple: adding buttons to component toolbar. What do you like more 1 or 2?

[code]

[code]

[2017-05-18 15:35] sapegin commented on #442
Will be fixed in #447.

[2017-05-18 15:40] #439 closed

[2017-05-18 15:40] #430 closed

[2017-05-18 18:07] eduardoinnorway opened #448 "Exclude from sections?"
Is there a way to exclude files?

I would really like  to be able to do:

[code]

[2017-05-18 22:28] marty-wang opened #449 "Write examples in JavaScript/Typescript"
It seems that the way to create examples is to embed example code in markdown files. I am wondering if it is possible to write examples in JavaScript/TypeScript. The benefit is that we can leverage type checking and  refactoring will be a lot easier.

[2017-05-19 06:25] sapegin commented on #448
https://react-styleguidist.js.org/docs/cookbook.html#how-to-exclude-some-components-from-style-guide

[2017-05-19 06:30] sapegin commented on #449
The only way to do it now is to `require` external files from Markdown but it’s ugly and style guide users won’t see the source.

This would be a nice to have feature if you have any ideas how that would look. Some related issues: #257, #269, #324.

[2017-05-19 06:32] sapegin commented on #449
Actually #269 is about exactly this problem so let’s keep all discussion there.

[2017-05-19 06:32] #449 closed

[2017-05-19 18:38] okonet commented on #354
IMO always go with functions since it's much more flexible in a long-term.

[2017-05-19 18:59] sapegin commented on #354
@okonet Both are functions. The difference is only in an array placement: inside the function or outside. I like the second one more because it‘s just a component.

[2017-05-19 19:36] cef62 commented on #354
I also like the 2nd variant.
If I understand correctly any plugin it will produce an object containing several configuration hooks (`toolbarButtons` is the only one at the moment). `react-styleguidist` will chain all configurations from all registered plugins in the given order. Is that right? I like the approach!

[2017-05-19 20:00] sapegin commented on #354
@cef62 Yeah, that’s the idea for simple things like toolbar buttons. And after that we can think what else we need.

[2017-05-19 20:02] cef62 commented on #354
I agree! Do you have a working branch or is just an idea? I'd love to help on this ;)
I'm finally done with conferences for a little while and I'll finally be able to contribute to `snapguidist` and `styleguidist`.

[2017-05-19 20:05] sapegin commented on #354
@cef62 There’s the `ui` branch, right now I’m working on a component / section toolbar. I hope I could finish it on the weekend and commit. So far there’s not much to see ;-)

[2017-05-19 20:07] cef62 commented on #354
Ok thanks! I'll look at it and I'll see how I can contribute to move toward the API you proposed!

[2017-05-19 20:09] sapegin commented on #354
@cef62 I think I need to implement the first version of the API with only component toolbar extension and then you could help with things we’ll need for Snapguidist.

[2017-05-19 20:37] sapegin commented on #426
![screen recording 2017-05-19 at 10 31 pm](https://cloud.githubusercontent.com/assets/70067/26265948/8ac366ba-3ce3-11e7-99c3-9f1f58162ca7.gif)

[2017-05-20 00:33] davidsims9t opened #450 "Unexpected token :"
I'm getting an error in my readme file where JSON is presumably not recognized/loaded. The error is:

[code]

My style guide config looks like:

[code]

I'm using Webpack 2.2.1.

[2017-05-20 07:55] sapegin commented on #450
Please make an example as [described here](../blob/master/Issue_Template.md) so I could reproduce the error..

[2017-05-20 20:36] marcel-k opened #451 "Need to explicitly require component in markdown file"
Hi,

I'm trying out react-styleguide and so far i'm impressed and getting there :)

I'm using typescript (with the react-docgen-typescript package) and webpack 2.

It compiles fine and i can get it to work but I need to explicitly require the component in my Markdown file before I can use it:

[code]

[code]
When I check the component that is provided on the window object via chrome console it giv

[2017-05-21 07:31] sapegin commented on #451
It worked for me when I did it exactly as shown in react-docgen-typescript readme. One thing I see here (not sure it’s important at all): `tileExample` is not a component name, it should be CamelCase.

[2017-05-21 07:32] sapegin commented on #451
/cc @pvasek

[2017-05-21 08:47] sapegin commented on #426
@cef62 @SaraVieira The new toolbar is in the `ui` branch ;-) I’m going to work example toolbar + tabs and then on the plugins API proof of concept.

[2017-05-21 19:12] stepancar commented on #442
@sapegin , this bug fixed. How to rebuild https://react-styleguidist.js.org?

[2017-05-21 19:19] sapegin commented on #442
It’s not released yet.

[2017-05-21 21:18] pvasek commented on #451
@sapegin I don't think so this is typescript related.

This would be same for javascript. But you are right the problem here is that example uses the component `TitleExample` in markdown file but defines component with the name `titleExample`. Then, in this case, of course the `TitleExample` cannot be found. Once the import is used, it's aliasing `titleExample` as `TitleExample` and that's the rea

[2017-05-22 04:40] Nosherwan opened #453 "Need to include components from another project"
we maintain our common components in another project, normally that is included via npm link in main projects.
I have created a project for react-styleguidist, now How can I include the common components in it.

[2017-05-22 07:13] sapegin commented on #453
Could you elaborate what exactly you want to achieve? Do you want to use these component or do you want to show them in the style guide?

[2017-05-22 08:58] Nosherwan commented on #453
I want to show them in the style guide that has its own project

On Mon., 22 May 2017, 5:13 pm Artem Sapegin, <notifications@github.com>
wrote:

[2017-05-22 09:23] Nosherwan commented on #453
I want to show them in the style guide that has its own project.
I suppose instead of giving a static location via config like so:

[code]
I would like to provide the path via require or something along those lines:

[code]

[2017-05-22 09:27] sapegin commented on #453
That’s what I would try to do.

[2017-05-22 09:29] Nosherwan commented on #453
so you are suggesting only the static location woulr work for components, and not dynamic?

[2017-05-22 09:34] sapegin commented on #453
I don‘t know what you mean by static and dynamic location. Something like this should work:

[code]

[2017-05-22 11:59] sapegin commented on #426
One more sneak peek:

![screen recording 2017-05-21 at 09 11 pm](https://cloud.githubusercontent.com/assets/70067/26307787/a3c16e04-3ef6-11e7-9369-cf574df4b495.gif)

I’m also thinking about using the same tabs UI for showing props/methods, hidden by default (possible to change by config option) and possible to extend by plugins.

[2017-05-22 13:41] okonet commented on #426
I think the "link" icon should be connected with the heading. I really like how GitHub shows them. Do you think we still could show them together?

[2017-05-22 13:47] sapegin commented on #426
@okonet We can make header a simple link but I don’t want to show anything on the left side, it didn’t really work for Styleguidist (can be hidden on small screens, having something on both sides of the header was strange).

[2017-05-22 17:38] davidsims9t commented on #450
@sapegin Sure I wrote a simple component and failing test.

[code]

Test:

    <Test test={{"key": "value"}} />

I'm getting the same error as I mentioned above. I'm testing it on Google Chrome 59.0. I'm using React 15.4.2.

Here's what my webpack.config file looks like:

[code]

Hopefully this is enough context.

[2017-05-22 18:24] sapegin commented on #450
I can’t reproduce it in an example style guide.

[2017-05-22 23:17] Nosherwan commented on #453
Tried that but I get the following error:
`Error: Cannot find module 'sws-ui-common'`
Seems like require.resolve && require are unable to find the npm linked module.

[2017-05-23 00:58] davidsims9t commented on #450
I was able to eliminate the error by removing my resolver/resolveLoader properties from my Webpack build. This seems to be causing the error. Unfortunately I need custom resolvers. Is there a way to get around this?

[2017-05-23 06:25] sapegin commented on #450
Looks like you have the same issue as #359. Maybe try to use `node_modules` instead of `${__dirname}/node_modules`.

[2017-05-23 07:19] sapegin commented on #453
I don’t really understand why you use npm links, for your use case installing an npm package from Git seems more appropriate. If nothing works you’d probably have to hardcode a path.

[2017-05-23 11:26] marcel-k commented on #451
For our project we have the convention to camelCase the stateless component functions, but either way I get the same result :)

The issue here is that the result generated and provided on the window object is not the function React.CreateClass expects, but some es6module wrapper object.

I can achieve the same result by using the object provided on the window (I am presuming that react-styleguidis

[2017-05-23 11:26] #451 closed

[2017-05-23 11:47] pvasek commented on #451
@marcel-k sorry, that was my mistake in previous comment (I removed "so").

__I don't think that this is typescript related__.

I think the problem is that you have `titleExample` component but you are trying to use `TitleExample`. This couldn't work event in the same file.

[2017-05-23 17:00] sapegin commented on #133
I think [Sizzy](http://sizzy.co/) integration is the right thing to do here (without adding Sizzy to the core of course). The very simple implementation (just open the current component in upcoming non-chrome mode in Sizzy) will be possible with the plugin API soon.

/cc @kitze

[2017-05-23 17:02] sapegin commented on #355
I’m closing this for now. Feel free to submit a pull request if you need this ;-)

[2017-05-23 17:02] #355 closed

[2017-05-23 17:26] sapegin commented on #257
I have an idea how to solve at least some of this issues:

1.  `javascript` `js`, `jsx` fenced code blocks are rendered as playgrounds by default.
2. Fist line can have a comment to change default behavior:

[code]

Possible modifiers (names could be changed):

* noeditor — just renders a component, without code editor or any controls like an isolated mode button.
* static — just renders highlight

[2017-05-23 20:26] davidsims9t commented on #450
@sapegin That was the same issue I had. It's working perfectly now. Thanks for the help!

[2017-05-23 20:26] #450 closed

[2017-05-24 02:28] n1313 commented on #257
What will happen to non-tagged code blocks?

[2017-05-24 02:55] Nosherwan commented on #453
No worries seems like hardcoding the path is the only solution for us at the moment. We do not publish our packages to npm, hence we use npm link to include them in other projects.

[2017-05-24 06:22] sapegin commented on #257
Nothing, I think but we won’t recommend them anymore. Will make transition easier.

[2017-05-24 08:04] sapegin commented on #453
You can install an npm package from Git, that’s what we do ;-) `npm link` is supposed to be used for testing only.

[2017-05-24 08:44] kitze commented on #133
Yeah @sapegin we have to think of the right way to do this. Styleguidist will have to show the components in isolation in order for the integration to make sense.

[2017-05-24 08:50] sapegin commented on #133
We have a basic isolated mode but it has too much chrome and stuff now. So I’m thinking about totally no-chrome mode — just all examples, or just one example.

[2017-05-24 08:53] eduardoinnorway opened #454 "Unknown plugin "transform-es3-member-expression-literals""
Updated my styleguidist and now I get, when I try to "yarn styleguide":

Module build failed: ReferenceError: Unknown plugin "transform-es3-member-expression-literals" specified in "/Users/foo/IdeaProjects/foo/node_modules/jss-default-unit/.babelrc" ..

[2017-05-24 08:58] sapegin commented on #454
You have the same issue as #304:

1. Do not run Babel on `node_modules`.
2. I’ll send a PR to jss-default-unit to remove `.babelrc` for their package.

[2017-05-24 08:58] #454 closed

[2017-05-25 12:45] #453 closed

[2017-05-26 09:12] benedyktdryl opened #456 "Using devtools with react-stylegudist"
Hi,

I know that `devtools` are ignored along with some other configuration keys.

**My question is:**

- Is there any particular reason for that? Is it breaking `react-stylegudist` entirely or there are some edge cases?
- Can we disable ignoring somehow or you will consider PR with disabling it optionally feature?
- Is there kind of recipe for having sourcemaps on development when using your libr

[2017-05-27 07:49] sapegin commented on #456
For `devtools` it should not be necessary, so feel free to send a pull request ;-)

[2017-05-27 21:05] benedyktdryl commented on #456
So I should go with optional disabling ignoring or I can just remove devtools from ignored keys list?

[2017-05-29 20:55] stereobooster opened #458 "Error with CRA 1.0.7"
When something isn’t working, include:

- `styleguide.config.js` none.
- webpack "2.6.1"
- MacOS
- Reproducible demo:

[code]

[code]

[2017-05-30 07:20] #458 closed

[2017-05-30 07:37] sapegin commented on #458
Thanks for the repro! I’ll make a new release as soon as I figure out why CI is failing ;-|

[2017-05-30 11:08] sapegin commented on #458
Should be fixed in [5.3.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.3.0).

[2017-05-30 11:11] sapegin commented on #442
Should be fixed in [5.3.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.3.0).

[2017-05-30 11:11] #445 closed

[2017-05-30 11:12] #448 closed

[2017-05-30 11:12] sapegin commented on #456
@n1313 Did you want to be able to change `devtools`? What should we do for production build?

[2017-05-30 11:20] n1313 commented on #456
Hmmm, no, I don't think devtools matters for what I do.

Sent from my iPhone

[2017-05-30 11:22] sapegin commented on #456
@n1313 Sorry, it was @cef62 ;-)

[2017-05-30 17:51] magicmark opened #460 "Why 'Readme.md' vs 'README.md'?"
`README.md` seems to be more standard (https://en.wikipedia.org/wiki/README)

Should styleguidist be able to read `README.md` files as well as `Readme.md` files?

[2017-05-30 18:14] sapegin commented on #460
Unfortunately it’s more common and yes, it should ;-) And soon will — #440

[2017-05-31 06:08] nsmag opened #461 "v5.3.0 CRA Example not working"
Running CRA example in v5.3.0 and got this page:

[2017-05-31 07:14] #461 closed

[2017-05-31 07:15] sapegin commented on #461
Ah, such an embarrassing bug 😢  A new version will be published in the next few minutes, and I’ve added test to prevent regressions here. Thanks for the report! :shipit:

[2017-05-31 08:08] sapegin commented on #426
I’m going to release these changes next with (with slight modification):

![screen recording 2017-05-30 at 10 25 pm](https://cloud.githubusercontent.com/assets/70067/26621965/ff1dbd7c-45e8-11e7-8dbe-e5c6214e2b0d.gif)

Do you have any feedback? You can try it in the `ui` branch.

[2017-05-31 08:15] sapegin commented on #426
Thing I know I’m going to change:

1. Add links to component headers.
2. Probably remove the link button from component toolbar.
3. Think more about buttons outlines (appreciate any ideas here).
4. Maybe change title of Props & Methods tab if I could find a better one.
5. Try to move example tab (Code) and toolbar outside the example border.

[2017-05-31 08:29] iamstarkov commented on #426
@sapegin how does it look on small screens? we used to hide sidebar and props for small screens

[2017-05-31 08:30] iamstarkov commented on #426
and make preview container as wide as possible

[2017-05-31 08:31] sapegin commented on #426
No changes for small screens so far bug I should test it again ;-)

What do you mean? Remove `max-width`?

[2017-05-31 08:50] iamstarkov commented on #426
i checked it now, nvm preview component seems good

[2017-05-31 18:14] kof opened #462 "Create an option for a compiler"
If someone has a certain babel configuration and wants to use the same code in the styleguide readme, we need to enable swaping out buble for babel.

[2017-05-31 19:08] sapegin commented on #462
We need an option to swap Buble for anything, not for Babel. I will be happy to accept a pull request ;-)

[2017-05-31 23:55] kulakowka commented on #127
I started a new project: [react-bulma](https://github.com/kulakowka/react-bulma) - React.js components for Modern CSS framework based on Flexbox - [https://bulma.io](bulma.io)

![2017-06-01 2 52 24](https://cloud.githubusercontent.com/assets/557190/26658839/5da1e0f8-4675-11e7-8c24-3cf7c9a92275.png)

Docs created with styleguidist: https://kulakowka.github.io/react-bulma/

[2017-06-01 05:25] oieduardorabelo opened #463 "webpack 2 with parser rules requireEnsure breaks react-styleguidist"
Hi guys!

I searched in the issues with these keywords: `require`, `ensure`, `require.ensure`, and nothing related to my problem came in the result.

**I already fixed it**, but, I did a bit of googling, and there's no issues/topics with that, so, my intention here is to share my findings. For someone searching about it, or facing the same problem.

### My problem

I was working in a project and i

[2017-06-01 07:41] sapegin commented on #463
Thanks for a detailed bug report! I’ll think what we can do to improve this ;-)

[2017-06-04 13:21] kof commented on #427
I never published the version non-inherited props list, I guess you started using it from the master.

Also I will soon work on the next version of jss-isolate which will bring them back in a better quality using a database + isolation against cascades.

[2017-06-04 13:24] kof opened #464 "Automated Visual Testing"
We spoke about it once, I though it might be good to at least kick off  the discussion here.

So the idea is that we can trigger visual snapshot testing which will essentially create graphics for each demo so that next time you run it it can compare and report mismatches.

I think react-styleguidist is a good place to do this because it already has lots of configured components if one uses it havi

[2017-06-04 13:40] okonet commented on #464
I was thinking about this lately and would be interested in this. @kof let's pair on the implementation?

[2017-06-04 14:26] kof commented on #464
Lets do the research, which tools are the best, who is maintaining them, maybe they can help integrating.

[2017-06-05 15:15] sapegin commented on #464
Looks like you need an API to return all examples for this?

[2017-06-06 09:55] n1313 commented on #464
You're looking for something like backstopjs and you want to address examples by using existing data-attributes. They are there precisely for the purposes of integration RSG with external tools like this.

[2017-06-06 13:05] sapegin commented on #427
That’s exactly what I said ;-)

[2017-06-06 17:35] pasupuletics opened #465 "Adding custom handler is not listing components in webpage"
Adding a custom handler causes not to generate/list the components, server is up and running on configured port, but it is not listing any components in left nav(no console errors in the browser). once I remove `handlers` attribute from config its working fine. As per styleguidist [docs](https://github.com/styleguidist/react-styleguidist/blob/master/docs/Configuration.md) which is valid. Any thoug

[2017-06-06 17:37] sapegin commented on #465
Please make an example as [described here](../blob/master/Issue_Template.md).

[2017-06-06 17:37] lucasfeliciano opened #466 "index.js matches a pattern but doesn’t export a component"
I'm having problems to add `index.js` component export

components/listings/Seller/Seller.js
[code]

components/listings/Seller/index.js
[code]

`Warning: components/listings/Seller/index.js matches a pattern defined in ”components” or “sections” options in your style guide config but doesn’t export a component.`

[2017-06-06 17:40] sapegin commented on #466
You need to exclude `index.js` from you style guide: https://react-styleguidist.js.org/docs/components.html (see the first example).

[2017-06-06 17:40] #466 closed

[2017-06-06 17:45] lucasfeliciano commented on #466
That works, but then the path doesn't show what I would expect

`components/listings/Seller/Seller.js` instead of `components/listings/Seller`

[2017-06-06 17:50] sapegin commented on #466
Then change it: https://react-styleguidist.js.org/docs/configuration.html#getcomponentpathline

[2017-06-06 19:34] sapegin opened #467 "Back / forward browser buttons don’t work properly"
Was found by @n1313:

1. Click on "open isolated" button for the first example of the Button component.
2. Click "back" in the browser — **see that the "Lick me" example is no longer displayed on the page, and that the "open isolated" button for the first example has the wrong icon**.
3. Click "forward" in the browser — **the page shifts to the left (??) and nothing happens**.

There is also an er

[2017-06-07 02:41] Jmeyering commented on #133
100% no chrome isolated makes complete sense to me and is just what I came here tonight to request. "Isolated" mode is not isolated at all.

[2017-06-07 08:50] oieduardorabelo commented on #463
@sapegin I could make a PR's using [babel-plugin-syntax-dynamic-import](https://www.npmjs.com/package/babel-plugin-syntax-dynamic-import) to fix this bug,

since is just one file using `require.ensure`, I don't know if worth it,

another question I've is: which of them, webpack or react-styleguidist, should throw a warning about the disabled syntax?

[2017-06-07 08:55] sapegin commented on #463
@oieduardorabelo I don’t really understand what this plugin does an how it would solve the issue.

I think we should fix the “polyfill” so it won’t fail silently at least:

[code]

[2017-06-07 09:24] benedyktdryl commented on #456
Any updates on that?

CC: @cef62 @sapegin

[2017-06-07 09:29] sapegin commented on #456
I think it should explicitly disable `devtool` in production, otherwise it would complicate style guide configuration and will be easy to miss.

[2017-06-07 09:46] lucasfeliciano commented on #466
That is pretty smart :)
Thank you

[2017-06-07 09:51] sapegin commented on #466
Would be cool to add Algolia search to the site ;-)

[2017-06-07 12:53] sapegin opened #468 "Do not overwrite NODE_ENV"
`NODE_ENV` variable is [explicitly set](https://github.com/styleguidist/react-styleguidist/blob/master/bin/styleguidist.js#L105-L107) in the CLI — it should not overwrite any existing value the same way it’s don in [webpack config](https://github.com/styleguidist/react-styleguidist/blob/master/scripts/make-webpack-config.js#L20), so you should be able to run Styleguidist like this:

`NODE_ENV=foo

[2017-06-07 13:08] sapegin opened #469 "Add eslint-plugin-import"
* [ ] Add [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import)
* [ ] Steal rules from [Airbnb config](https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb-base/rules/imports.js)

[2017-06-07 13:09] SaraVieira commented on #469
I gots this @sapegin 👍

[2017-06-07 13:11] sapegin commented on #469
@SaraVieira Awesome!

[2017-06-07 13:13] SaraVieira commented on #469
@sapegin why isn't the eslint file in js ?

[2017-06-07 13:15] sapegin commented on #469
JSON is much easier to [automate](https://github.com/sapegin/mrm) and it’s not that complicated to use JS ;-)

[2017-06-07 13:21] sapegin opened #470 "Improve terminal output on style guide server start"
I like how it’s done in Create React App:

![](https://facebook.github.io/react/img/blog/cra-better-output.png)

* [ ] Show the URL only after successful compilation
* [ ] Show network URL
* [ ] Improve the UI

Most likely we can reuse some functions from [react-dev-utils](https://github.com/facebookincubator/create-react-app/blob/dc4ce606ef8b4c97aec0c80c20f8116e9795bb21/packages/react-dev-utils/W

[2017-06-07 13:22] SaraVieira commented on #469
Never thought of it that way , just curiosity really :)

330 problems (330 errors, 0 warnings) -> This may take a while :p

[2017-06-07 13:23] sapegin commented on #469
What kind of problems it found? Maybe we should just change the config ;-)

[2017-06-07 13:29] SaraVieira commented on #469
Most of them are this : 'rsg-components' should be listed in the project's dependencies. Run 'npm i -S rsg-components' to add it

[2017-06-07 13:33] sapegin commented on #469
You can’t “fix” that, it’s a feature ;-) We should probably add it to `external-module-folders` (they are not external though but I don’t see a better way).

[2017-06-07 13:45] okonet commented on #469
Just add them to `devDependencies` exclusion list like here: https://github.com/okonet/eslint-config-okonet/blob/master/index.js#L47-L61

[2017-06-07 13:47] sapegin commented on #469
@okonet That’s probably better, thanks!

[2017-06-07 13:53] SaraVieira commented on #469
None if the worked and even if I turn the feature off I keep getting:

[code]

[2017-06-07 13:58] sapegin commented on #469
Looks like we need [a webpack resolver](https://github.com/benmosher/eslint-plugin-import/tree/master/resolvers/webpack) here.

[2017-06-07 13:59] sapegin opened #471 "Copy path button"
To be able to quickly copy import statements. Something like this:

![image 2017-06-07 at 3 51 27 pm](https://user-images.githubusercontent.com/70067/26881923-3197404c-4b99-11e7-813e-f9df9f8bc6dc.png)

* [ ] Choose an icon, [MdContentCopy](https://gorangajic.github.io/react-icons/md.html) should be good enough
* [ ] Add a button using [copy-text-to-clipboard](https://github.com/sindresorhus/copy-t

[2017-06-07 14:41] sapegin opened #472 "Make logging customizable"
Right now Styleguidist uses `console.log` to show some potentially useful messages like:

[code]

We should do it only when Styleguidist is started from CLI, not from the API (or tests). Would be nice to be able to customize the logging somehow — I don’t really know what would be the right approach — maybe pass a logging function ~~everywhere~~ or something like that.

[2017-06-07 14:52] sapegin opened #473 "Replace PhantomJS with headless Chrome"
We have a [script](https://github.com/styleguidist/react-styleguidist/blob/master/test/phantom.js) that loads a production build of a style guide and checks that there’s no JavaScript errors. We run in [on Travis CI](https://github.com/styleguidist/react-styleguidist/blob/master/.travis.yml#L46-L53) to check that production bundles actually work.

Now the script uses PhantomJS which has some issue

[2017-06-07 16:33] sapegin commented on #468
Has PR: #474.

[2017-06-07 17:42] pasupuletics commented on #465
@sapegin, this issue got resolved after adding display handler along with my custom handler. It's better to document this specific step or else better to incorporate in stypeguidit itself. I mean if handlers attribute is configured then we should also contact display handler to existing handlers. Thanks for you time and stuleguidist is awesome.

[2017-06-07 18:14] sapegin commented on #465
The docs are [already mention](https://react-styleguidist.js.org/docs/configuration.html#handlers) it, feel free to send a pull request though.

[2017-06-08 00:13] bluetidepro opened #475 "Theme font in examples"
**Here is two example screenshots:**

<img width="506" alt="screen shot 2017-06-07 at 7 10 39 pm" src="https://user-images.githubusercontent.com/410701/26906882-0cc194f4-4bb5-11e7-9c0b-fe17b7b6f1c7.png">
<img width="502" alt="screen shot 2017-06-07 at 7 13 30 pm" src="https://user-images.githubusercontent.com/410701/26906945-6f3fd76c-4bb5-11e7-846d-825b19cd4fc6.png">

**In my config, it looks like

[2017-06-08 00:13] timsnadden opened #476 "Docs pointing to master?"
The documentation site appears to be referencing a config option (`showUsage`) that is not available in `v5.3.2`

[2017-06-08 06:13] pasupuletics commented on #465
@sapegin , You mean do you want me to create pull request for the below scenario:
  Concating `react-docgen-displayname-handler` handler to be part of stylegudist(internal implim) when user configured `handlers` property? please confirm I am more happy to do that.

[2017-06-08 07:02] sapegin commented on #475
Theme is a style guide UI theme, it should no affect you app’s code (that would be a bug ;–)

More info here: https://react-styleguidist.js.org/docs/development.html

[2017-06-08 07:02] #475 closed

[2017-06-08 07:05] sapegin commented on #476
I’ll make a release probably tomorrow, sorry for confusion ;-)

[2017-06-08 07:14] sapegin commented on #465
I’m wondering if it can break existing style guides. I think it would be better to remove mentions of HOCs in the docs and check if component has `displayName` in props-loader.

[2017-06-08 07:58] sapegin commented on #464
https://screener.io/ — visual testing for Storybook.

[2017-06-08 08:15] kof commented on #464
Looks nice, but a service …

[2017-06-08 08:22] sapegin commented on #464
But Storybook I’d say :-)

[2017-06-08 11:17] kof commented on #464
More questions:

1. Where would you want to store the images? Repository?
1. How big can this grow?
1. How can we snapshot in different browsers? Karma?

[2017-06-08 11:41] n1313 commented on #464
I'm not sure if I understand the topic correctly. Are we talking about implementing a new feature into RSG, or about making RSG work well with existing third-party tools?

Sent from my iPhone

[2017-06-08 11:45] kof commented on #464
Depends on how we want it to work. A third-party tool might be also used as  a dependency and integrated into sg as well as sg might provide whatever is required to work with third-party tools nicely.

[2017-06-08 11:46] sapegin commented on #464
@n1313 I think both would work ;-) Do you know any third-party tools that we can use? Most likely it will be a plugin anyway ;-)

[2017-06-08 12:37] aga5tya opened #478 "Integration with other CSSinJS libraries like fela"
I'm trying to get styleguidist integrated to render [fela](https://github.com/rofrischmann/fela) derived components. What i have now is that i could get the components to render styles by injecting custom template and an alias that has fela's provider component wrapping children.(ref to cookbook redux example)

I'm stuck with the following:
1) When i export a component created by react-fela bindin

[2017-06-08 12:42] raavanan commented on #478
I am facing the Same issues

[2017-06-08 12:46] Guru107 commented on #478
I tried integrating with `glamor` getting the same issue

[2017-06-08 12:49] sapegin commented on #478
Could you please make an example as [described here](../blob/master/Issue_Template.md)? It will require some debugging ;-)

[2017-06-08 12:50] aga5tya commented on #478
@sapegin , I'm on it, will push to a repo in some time.

[2017-06-08 13:44] aga5tya commented on #478
@sapegin I have pushed the [repo](https://github.com/aga5tya/styleguidist-fela/tree/master) sample. Also missed out to add an important info, i have been setting this up with preact-compact. Not sure if this issue depends on it.

https://github.com/aga5tya/styleguidist-fela/tree/master

[2017-06-08 15:25] n1313 commented on #464
RSG already has everything it needs to integrate with external visual regression tools: #238 #334. I don't know what a plugin would be needed for. Integrating an external tool into RSG sounds like a massive feature creep to me.

[2017-06-08 16:07] sapegin commented on #464
Has everything *is not* integration. I have no idea what to do for example ;-)

Nobody is saying that and it won’t happen. That’s why the plugin API is so important.

[2017-06-08 19:53] sapegin commented on #441
Should be fixed in [5.4.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.4.0).

[2017-06-08 19:53] #441 closed

[2017-06-08 19:54] sapegin commented on #235
Should be fixed in [5.4.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.4.0).

[2017-06-08 19:54] #235 closed

[2017-06-08 19:54] sapegin commented on #426
The first part is done in [5.4.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.4.0)! 🦆

[2017-06-08 20:47] iamstarkov commented on #426
@sapegin its very nice

[2017-06-08 22:28] mshwery commented on #333
I agree that there are reasons one may want to display only one section (and/or component) at a time. This encapsulates the focus and provides visual boundaries to the documentation a user may care about at one time.

Many component libraries with a similar layout (sidebar navigation for sections & components) will only display one thing at a time. I think this could be exposed as a simple `styleg

[2017-06-09 07:46] stefanheine opened #480 "5.4.0 not pulling propTypes doc any more"
I just updated from 5.3.2 to 5.4.0 and realized that all the propTypes doc is missing.

this is a part of my jsx code:

[code]

This is how it looks in 5.4.0:
![image](https://user-images.githubusercontent.com/19835327/26965910-30a28402-4cf8-11e7-98c4-838efb713f58.png)

This is how it looks in 5.3.2:
![image](https://user-images.githubusercontent.com/19835327/26965984-8aeeeaa4-4cf8-11e7-98cc-6085a

[2017-06-09 08:16] a-ignatov-parc commented on #480
Props and methods are now hidden by default under "PROPS & METHODS" button. Try to press it or add [`showUsage`](https://react-styleguidist.js.org/docs/configuration.html#showusage) param in `styleguide.config.js` to restore old behaviour ;)

[2017-06-09 08:25] okonet commented on #480
I just realized that upgrading my projects will basically break how they look so this should have been a major bump IMO.

[2017-06-09 08:28] sapegin commented on #480
I think major / minor here is very subjective here. We may change it in the future if it annoys majority of the users and we find a better way to solve issues with props visible by default.

[2017-06-09 08:31] a-ignatov-parc commented on #480
@okonet this is what you should expect when you set you dependency with wildcard on minor updates (`^`). So if you expect consistency you should or set wildcard only to patch versions (`~`) or use version lock (`yarn.lock` or something similar).

[2017-06-09 08:43] stefanheine commented on #480
I didn't even realize that this was a button - I just assumed this to be a headline/ placeholder only.

setting `showUsage: true` doesn't make any difference. the `showCode` parameter works ok, though.

[2017-06-09 08:45] sapegin commented on #480
Try to hover on it ;-) It looks and behaves the same as the code button in examples.

This should be fixed in [5.4.1](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.4.1).

[2017-06-09 08:59] stefanheine commented on #480
I'll get used to it... it was just not intuitive initially.

thanks for the quick fix. working ok now.

[2017-06-09 09:08] okonet opened #481 "Global font setting isn't appied in props & methods section"
In the new collapsable props & methods table default user agent font is being used instead of the theme one.

![2017-06-09 at 11 06](https://user-images.githubusercontent.com/11071/26968851-e04243d8-4d03-11e7-8290-661879c14379.png)

[2017-06-09 09:45] sapegin commented on #481
Yeah, looks like `fontFamily` is missing somewhere ;-|

[2017-06-09 09:47] sapegin commented on #480
I’m still not 100% sure that hiding them by default is the best solution. Probably we should improve developer experience in isolated mode (there are too much unnecessary thing on the screen) and revisit this decision.

[2017-06-09 09:55] okonet commented on #480
I agree. I don't really like additional toggle button on screen for each component.

[2017-06-09 09:56] sapegin commented on #480
It will stay anyway ;-) but the default value could be changed.

[2017-06-09 11:26] n1313 commented on #464
I thought @kof was saying precisely that. "I think react-styleguidist is a good place to do this", "used as a dependency and integrated into sg as well". Are you sure you and @kof share the same definition for the word "integration"?

[2017-06-09 11:33] sapegin commented on #464
Totally agree with that ;-) It doesn’t imply it should be in the core.

The second quote is out of context, you’ve removed important “might be”.

We don’t have any concrete plans yet and there’s no point in arguing about the words — it doesn’t add anything to the discussion. If you have any ideas how to implement it in an easy to use way please share them ;-)

[2017-06-09 11:54] n1313 commented on #464
The point I'm trying to make is that RSG already has everything that a visual regression testing tool like backstopjs to work. I know that because I was using them together pretty successfully for several months. It's quite simple: you serve your built docs (or a live server url) to the tool, it takes screenshots of component previews and compares them with previous screenshots. That's it. The onl

[2017-06-09 11:57] sapegin commented on #464
Could write a blog post or something like that on how to do that? So far it doesn't look simple and user friendly ;-)

[2017-06-09 12:12] sapegin opened #483 "Simpler way of replacing Styleguidist components"
Right now [to use](https://react-styleguidist.js.org/docs/cookbook.html) Redux providers, React Intl, Relay etc. you need to use webpack aliases like this:

[code]

I think we have enough use cases to add a special config option for that. It could look like this:

[code]

* [x] Add a new config option to the schema (scripts/schemas/config.js)
* [x] Generate webpack aliases based on the new option

[2017-06-09 12:40] aga5tya commented on #478
@sapegin,, the see that aliasing the wrapper isn't injecting the context. It's always undefined and fela needs this context to render components created or to render style classNames. Doesn't the wrapper enclose each component or am i missing something ? Took similar approach to the redux example from cookbook.

[2017-06-09 12:44] sapegin commented on #478
That’s how it supposed to work ;-| I’ll try to debug it a bit later.

[2017-06-09 14:15] kof commented on #464
@n1313 I think you would be creating screenshots of the entire document with styleguidist, which means if styleguidist changes the ui, your tests will all break. Am I wrong?

[2017-06-09 14:29] n1313 commented on #464
Yes, if you don't configure your tool to target individual HTML nodes for your screenshots(or if it can't do that)  then yes, you will be screenshotting the entire document.

Sent from my iPhone

[2017-06-09 14:58] n1313 commented on #464
It's not "each component", it's "each test". In simplest case a test is a code block, but it could also be a result of some scripted interaction like a click or typing into a textfield.

Sent from my iPhone

[2017-06-09 15:01] kof commented on #464
Each code block in styleguidist at the end renders one react component. So visually you always end up with one component. But you can call it whatever you want, I think you know what I mean.

So those visual testing tools provide API's for interactions to be made before a screenshot will be taken?

[2017-06-09 16:04] n1313 commented on #464
Usually they provide a way to call PhantomJS APIs directly or provide a reasonable substitution for that.

Sent from my iPhone

[2017-06-09 18:44] stepancar commented on #483
I think ,we don't need config option for that.
Webpack aliases is simple to understand.
And i think that aliases like this (with full path)
[code]
is more simple to understand and more simple for override.
when i see 'rsg-components/Wrapper' i can't understand what is rsg-components wrapper.
It looks like another package

[2017-06-09 19:05] sapegin commented on #483
That’s a good reason to have a simple to understand option ;-)

[2017-06-09 19:06] aga5tya commented on #478
@sapegin ,, second point i mentioned, was because the fela renderer was reinitialized on each component mount. Making it a single instance fixes the issue and different styles are injected. Still wondering why first point is happening. I'l update the sample repo in a moment.

[2017-06-09 19:07] stepancar commented on #354
i like 1st variant

[2017-06-09 19:14] sapegin commented on #354
@stepancar Any particular reason why?

[2017-06-09 19:17] stepancar commented on #483
:D

[2017-06-09 19:37] stepancar commented on #354
@sapegin, because in function we can implement any logic to select which buttons shold be placed to example. For example, we want to add theme switcher button for several components which support theme switching using context.

[2017-06-09 19:46] sapegin commented on #354
@stepancar In the second you could return null ;-) Maybe you have some other ideas?

[2017-06-09 22:09] SaraVieira commented on #481
@okonet I'm not being able to reproduce this locally :(

It's super weird that only some of them are missing the font :(

[2017-06-10 08:04] sapegin commented on #354
What if we make it more explicit like this?

[code]

[2017-06-10 09:06] okonet commented on #354
@sapegin I like this ↑

[2017-06-10 09:09] okonet commented on #481
You can reproduce it in my repo: https://github.com/okonet/react-dropzone/blob/master/styleguide.config.js

[2017-06-10 12:45] sapegin opened #486 "Do not show Props & Methods tab when there’s no props and methods"
![](http://wow.sapegin.me/2L2R0P1T1E0c/Screen%20Recording%202017-06-10%20at%2002.44%20PM.gif)

[2017-06-10 14:20] SaraVieira commented on #486
I can give this a shot  🍕

[2017-06-10 14:37] sapegin commented on #486
@SaraVieira Awesome!

[2017-06-10 15:41] sapegin commented on #481
One more:

![image 2017-06-10 at 5 41 25 pm](https://user-images.githubusercontent.com/70067/27004121-157e9d8e-4e04-11e7-9974-a2c05dc117e0.png)

[2017-06-10 20:04] #481 closed

[2017-06-11 08:25] sapegin commented on #481
Should be fixed in [5.4.2](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.4.2).

[2017-06-11 08:26] sapegin commented on #476
[5.4.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.4.0) is here!

[2017-06-11 08:26] #476 closed

[2017-06-11 09:34] SaraVieira commented on #470
<img width="676" alt="screenshot 2017-06-11 10 33 09" src="https://user-images.githubusercontent.com/1051509/27009921-8ce863e0-4e91-11e7-89b5-3c98d981431b.png">

In this case what is the lan URL ?

[2017-06-11 09:49] sapegin commented on #470
Take a look at CRA implementation (link in the description), they have all the code (and we probably can reuse it).

[2017-06-11 11:56] SaraVieira commented on #470
That's exacly the code I have use, I just need to get the ip address of the
computer

On Sun, 11 Jun 2017, 10:49 a.m. Artem Sapegin, <notifications@github.com>
wrote:

[2017-06-11 12:00] sapegin commented on #470
But they already have it ;-/

https://github.com/facebookincubator/create-react-app/blob/dc4ce606ef8b4c97aec0c80c20f8116e9795bb21/packages/react-dev-utils/WebpackDevServerUtils.js#L38-L88

[2017-06-11 12:06] SaraVieira commented on #470
Le copy and le paste shall be made then :p

---

Thank You and Best regards

Sara Vieira

Front End Developer 

http://iamsaravieira.com
http://twitter.com/NikkitaFTW

On Sun, 11 Jun 2017 at 13:00 Artem Sapegin

<
mailto:Artem Sapegin <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

But they already have it ;-/

https://github.com/facebookincubator/crea

[2017-06-11 12:07] sapegin commented on #470
Try to reuse their code first ;-)

[2017-06-11 15:40] SaraVieira commented on #470
Oh yeah , i'm still on master , just want to show the ui before I start working on it and get that approved first :)
<img width="486" alt="screenshot 2017-06-11 16 40 09" src="https://user-images.githubusercontent.com/1051509/27012279-a5ee33dc-4ec4-11e7-93ab-7ad44ebb171b.png">

[2017-06-11 18:07] sapegin commented on #470
Looks cool! Could we remove this `npm run compile` notice? It’s incorrect anyway ;-)

* Style guide → style guide
* On Your Network →  On your network

[2017-06-11 18:13] SaraVieira commented on #470
Sure! I'll create a branch and start working on this tonight :)

On Sun, 11 Jun 2017, 7:07 p.m. Artem Sapegin, <notifications@github.com>
wrote:

[2017-06-11 18:32] sapegin commented on #470
Sounds good, thanks! 🍕

[2017-06-12 05:54] n1313 commented on #471
This looks like a great candidate for a plugin.

[2017-06-12 06:00] n1313 commented on #333
I have a potentially similar use case: I have a bunch of simple components and a smaller number of more complex components and currently I keep them separated in two sections of a single RSG document. I would very much like to be able to split it into two separate (but cross-linked in the sidebar) RSGs with separate bundle files.

[2017-06-12 07:51] sapegin commented on #333
@n1313 So you want the sidebar to show a combined tree of two independent style guides?

[2017-06-12 07:59] n1313 commented on #333
This would be the perfect goal, yes. My team is considering splitting our big project into separate smaller packages and moving to a mono-repo structure, and having something that would allow developers to focus on one small thing at a time while being able to travel to another small thing reasonably quickly would be fantastic. At the moment the rough plan is to run separate styleguidist instances

[2017-06-12 08:50] n1313 commented on #473
https://github.com/OnetapInc/chromy

[2017-06-12 08:50] sapegin commented on #473
Haha, I forget to link it in the latest sentence ;-)

[2017-06-12 09:46] n1313 opened #491 "input::placeholder selector breaks display in Chrome 55"
Some elements of UI are looking weird in Chrome 55 (Windows) because of this [`input::placeholder`](https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/TableOfContents/TableOfContentsRenderer.js#L28) selector. It should either be vendor-prefixed or separated from the rest.

[2017-06-12 11:57] sapegin commented on #491
The problem is that it breaks jss-isolate, because of that unsupported pseudo element Chrome 55 discards the whole jss-isolate selector:

[code]

So we need to disable isolation for rules with ``:

[code]

[2017-06-12 12:09] #486 closed

[2017-06-12 12:54] ambidexterich opened #493 "Using JSDocs @example without an example file breaks compilation"
We use JSDocs to generate API documentation which includes some React components. When those components contain `@example` doclets for JSDocs purposes, react-styleguidist compilation errors out with `Module not found: Can't resolve 'true' in <PATH_TO_COMPONENT>`.

Example:
[code]

I traced the problem to a truthy check one [line 57](https://github.com/styleguidist/react-styleguidist/blob/ab32c5cb3

[2017-06-12 12:57] sapegin commented on #493
I think your fix should be enough, what’s the error *with* this fix?

[2017-06-12 13:03] sapegin commented on #493
I think we need to validate the path (`<caption>JSX</caption>`) and check existence of the file (and show useful warning in that case).

[2017-06-12 13:03] aga5tya commented on #478
@sapegin I have pushed the code that replicates this at https://github.com/aga5tya/styleguidist-fela/tree/export-fela-components, kindly let me know what i am doing wrong, whenever you are free and time permits. For now i am wrapping them and using these.

[2017-06-12 13:53] ambidexterich commented on #493
The fix _without_ `<caption>` doesn't cause an error. The fix _with_ `<caption>` errors with `Module not found: Can't resolve '<caption>JSX</caption>`

[2017-06-12 14:30] sapegin commented on #493
Yup, I’ve reread your comment and wrote my second comment after that ;-)

[2017-06-12 16:55] chrisdrackett commented on #333
I also would love a way to show a single component at a time. We've run into the issue where our styleguide is so large that it won't even load unless you go directly to an isolated component.

[2017-06-12 17:07] mshwery commented on #333
Sounds like a lot of people might benefit from a simple way to have more control over the router to help achieve this.

[2017-06-12 17:15] n1313 commented on #333
The question is not just about routing, this is about splitting a massive multi-megabyte js bundle into smaller chunks so that the browser doesn't die trying to parse it, and then either showing these chunks one by one or loading them on demand.

[2017-06-12 17:20] mshwery commented on #333
You are right that it may not be solved wholly by routing, although that might be a logical split for async on-demand bundles (when using webpack). So each route for a component or section would load it's bundle and the common/shared bundles.

You are right @n1313 that routing wouldn't necessarily solve anything for your goals, outright.

[2017-06-12 17:41] sapegin commented on #333
Yeah, both features would be great (I’ll try to create an issue to track it and discuss possible implementation). I think proper routing would be the first step to achieve that.

[2017-06-12 17:51] sapegin opened #494 "Improve routing"
Right now all routing is hardcoded into [index.js](https://github.com/styleguidist/react-styleguidist/blob/master/src/index.js) — it’s hard to maintain end extend. It also doesn’t support browser back / forward buttons (#467). We have to have several new features that would benefit from the proper router:

* Single-component mode (or single-component mode by default) — basically start style guide

[2017-06-12 17:52] sapegin commented on #333
Here it is: #494 ;-)

[2017-06-12 23:06] ambroselittle commented on #462
If I understood Buble correctly, it has a nice singing voice, but it won't do things like decorators or imports. So that means styleguidist is a non starter for projects using those, correct? Until/if it supports Babel or the like? Am I missing anything.

[2017-06-13 06:10] sapegin commented on #462
@ambroselittle We’re using Buble only for Markdown example. Your app code — your webpack loaders ;-) Styleguidist won’t support Babel *by default* again — it’s just to big to load on the frontend.

[2017-06-13 06:38] ndelangen commented on #257
Non-tagged code blocks can't have comments, because if the parser can't know the language, it can't know the syntax for comments.

Just tag your code blocks 👍

[2017-06-13 06:40] sapegin commented on #257
@ndelangen Non-tagged code blocks is the current way of writing comment, we’ll leave them as is and change the behavior of the fenced ones ;-)

[2017-06-13 09:41] sapegin commented on #472
This look very close: https://github.com/js-cli/glogg

[2017-06-13 13:31] ambroselittle commented on #462
Ah, I was getting a compiler error after pulling in a few components to test this out in the create-react-app approach. My main project doesn't use webpack for reasons beyond my control. So I guess I just need to find webpack config that uses babel and whatnot? Thanks.

[2017-06-13 13:34] sapegin commented on #462
@ambroselittle With CRA it should just work — Styleguidist should load CRA webpack config automatically. Could you make a demo somewhere that I could debug?

[2017-06-13 14:06] ambroselittle opened #495 "Unable to Use Decorators with Default Create-React-App Config"
Steps:
1. Follow guide here: https://react-styleguidist.js.org/docs/getting-started.html
2. Install something that uses decorators (e.g., mobx/mobx-react).
3. Add a testComponent that uses a decorator to /src/components
4. Run

Repro Repo:
https://github.com/ambroselittle/styleguidist-test

Error I am seeing when running (`npm run styleguide`) on latest macOS:
[code]

[2017-06-13 14:06] ambroselittle commented on #462
Okay, I created a separate issue for this with the repo: https://github.com/styleguidist/react-styleguidist/issues/495

[2017-06-13 14:08] sapegin commented on #495
First link in Google: https://github.com/facebookincubator/create-react-app/issues/214

[2017-06-13 14:08] #495 closed

[2017-06-13 14:26] ambroselittle commented on #462
I couldn't comment on 495, but just by way of explanation/clarity for future folks new to the project who might land on this, I didn't understand (as I now have read [explained here](https://react-styleguidist.js.org/docs/development.html)) the interaction between styleguidist and the hosting app. I was assuming that styleguidist was the source of the compilation error here and thought it needed t

[2017-06-16 15:07] ambidexterich opened #497 "Auto fence @example without a path to an example file"
When an @example doclet has an example and not a path to a file:
[code]
The contents of the example gets appended to the description which causes strange rendering

![image](https://user-images.githubusercontent.com/675222/27232145-e6bb919a-5282-11e7-8617-d8ac02ce7c09.png)

If you add the fence as part of example as is supported, JSDocs will render the fence inside it's own code block.

Adding the

[2017-06-16 15:08] ambidexterich commented on #493
I have a fix for this that checks that the example file actually exists, I will issue a pull request once I get the test working properly

[2017-06-16 21:59] xli1000 opened #498 "inst.render is not a function for React 0.14"
I am using react-styleguidist on an app that's on React 0.14.9 and I get an exception where it looks for a render method on a stateless component.

The style guide starts correctly but the page throws the following and does not render:
```Uncaught TypeError: inst.render is not a function```

and also gives the warning:
```Warning: JsDoc(...): No `render` method found on the returned component inst

[2017-06-17 06:51] sapegin commented on #498
Yeah, we should be fare and update the `package.json` — React 15 is more than year old anyway. Thanks for the bug report!

[2017-06-17 06:52] sapegin commented on #493
@ambidexterich Awesom!

[2017-06-17 06:53] sapegin commented on #497
Would you mind send a pull request for that? Doesn’t look very complicated you already know what to do ;-)

[2017-06-17 06:58] sapegin opened #499 "Deprecate webpack 1"
Show a warning that webpack 1 support will be removed in the next (?) major release.

https://twitter.com/iamsapegin/status/856846088447414273

Do not remove support until:

* [x] Create React App supports webpack 2
* [ ] [webpack-blocks 1.0](https://github.com/andywer/webpack-blocks/tree/release/1.0) final release
* [x] [Webpack 3](https://github.com/webpack/webpack/releases) final release

[2017-06-18 15:50] tkssharma commented on #135
ERROR in ./~/entities/maps/entities.json
Module parse failed: /Users/tarunsharma-xft/UBMAS/ubmas-frontend/node_modules/entities/maps/entities.json Unexpected token (1:9)
You may need an appropriate loader to handle this file type.
SyntaxError: Unexpected token (1:9)
    at Parser.pp$4.raise (/Users/tarunsharma-xft/UBMAS/ubmas-frontend/node_modules/webpack/node_modules/acorn/dist/acorn.js:2221:15)

[2017-06-19 17:21] kasperoo opened #501 "Working with CSS Modules"
I'm trying to make this work with our project that is using both TypeScript and CSS Modules:

example component code:

[code]
When running styleguidist, problem is that the default export is wrapped with CSSModules.

[code]

Another thing is that we use styleName instead of className - that's the way that CSSModules applies its own scoped classes to the elements.

It all works if I export just the

[2017-06-19 17:59] sapegin commented on #501
What *doesn’t* work in this case?

[2017-06-19 18:50] #493 closed

[2017-06-19 18:54] apennell commented on #501
🙌 This is _exactly_ the problem I'm wrangling with right now!

The issue is that in order to use [react-css-modules](https://github.com/gajus/react-css-modules#extending-component-styles), at the bottom of the file you call `export default CSSModules(Table, styles);` instead of just `export default Table;`.

From their example:
[code]

Like @kasperoo, in trying to make a Button component with both

[2017-06-19 19:11] apennell commented on #501
React Styleguidist does work with the original [CSS Modules](https://github.com/css-modules/css-modules) because that doesn't need a `CSSModules` decorator on export, so that's what I'm implementing for now. However, react-css-modules was created specifically for the use case of CSS Modules in React and improves the use of the package in that context.

I think this may be a feature request, but it

[2017-06-19 19:17] sapegin commented on #501
It’s a limitation of react-docgen that we use to parse source code, you can read more [in the docs](https://react-styleguidist.js.org/docs/components#limitations). I’m not sure there’s a simpler way to solve this than writing custom react-docgen resolver like suggested [here](https://github.com/reactjs/react-docgen/issues/177).

I’ve never tried to do that but I suppose it could be not that hard t

[2017-06-19 19:27] apennell commented on #501
@sapegin Thanks for your quick response! I'll look into this more now that I know what the issue is on the Styleguidist side and see if I'm able to find a solution, although I may settle on sticking with the basic CSS Modules.

[2017-06-19 19:31] sapegin commented on #501
@apennell Awesome!

Personally I don’t see any benefit in react-css-modules and use CSS Modules directly ;-)

[2017-06-19 19:39] apennell commented on #501
Yeah, I was trying to figure the benefits out initially and decided to go with that because CSS Modules recommended it for use with React. As far as I can tell, the main difference is that it's easier to work with and have multiple classNames, which isn't a huge deal.

[2017-06-19 19:41] sapegin commented on #501
For multiple class names I use [classnames](https://github.com/JedWatson/classnames) — works well ;-)

[2017-06-20 16:24] #499 closed

[2017-06-20 20:21] #498 closed

[2017-06-20 20:43] sapegin commented on #483
There‘s a PR: https://github.com/styleguidist/react-styleguidist/issues/504 ;-)

[2017-06-21 19:51] apennell commented on #426
I think it would be great to add a [carat icon](http://fontawesome.io/icon/caret-square-o-down/) or something like that on the Props & Methods link, and possible also the Code button, to indicate more clearly that clicking it will expand more information. I like keeping them hidden (as noted earlier, this list can get long), but it's very important information and I think the link may be too easy

[2017-06-21 19:56] sapegin commented on #426
@okonet @SaraVieira What do you think? (See the previous comment) ;-)

[2017-06-22 19:15] sapegin commented on #354
I’ve created a PR with some experiments: #505.

[2017-06-22 22:58] stepancar opened #507 "how to override examples-loader"
I want to override examples-loader. How to do this?

[2017-06-22 23:04] hmontes opened #508 "Document Actions and Reducers (redux)"
Can i document actions and reducers? (Redux)

This is because we have a lot of actions. We want to put easily in the docs instead of search in the code for any action or reducer.

Thank you

[2017-06-22 23:39] hmontes commented on #508
Okey. Temp solution.

1. Create a doc folder in your actions and reducers folder.

2. Create a Markdown of your files. Example. Actions/doc/ModalActions.md

[code]

3. Put this in styleguide.config.js

[code]

Is not the ideal but works.

[2017-06-23 02:25] n1313 commented on #508
I think for now documenting your non-component code such as Redux actions with Markdown (manually or by using something like https://github.com/jsdoc2md/jsdoc-to-markdown/) is your only option. RSG is primarily focused on dealing with individual components and not React-Redux apps as a whole, but I can see how this could be a useful future feature.

[2017-06-23 04:27] tizmagik commented on #501
One important benefit of react-css-modules is that it will warn you when trying to apply an undefined style, whereas with "pure" CSS Modules those undefined are just silently swallowed. It's a nice benefit for larger codebases. But I agree, perhaps not worth adding yet another layer of abstraction 😄

[2017-06-23 04:56] tizmagik commented on #494
This is an interesting problem. I think it _should_ be doable to make dynamic routes in RRv4. I'll think through this a bit and post back/create a PR when I get a chance.

[2017-06-23 05:06] adityavohra7 commented on #472
Not having `react-styleguidist` output anything when its tests run definitely makes sense, but I wonder if there are situations wherein people may want the API to output stuff similar to what the CLI does?

Say I wanted to abstract away or package up my JS infra (build + configs), sort of like what `create-react-app` does, and provide the consumers of this JS infra package with an npm run script l

[2017-06-23 06:59] sapegin commented on #472
@adityavohra7 That’s exactly what I want to do! I just not sure about the API and implementation.

Probably pass a logger object to the API like this:

[code]

[2017-06-23 07:01] sapegin commented on #494
I’m not sure we need a RR here because we don’t really have real routes — we have a component filter. So we need a way to parse URL and call different filtering functions and react to URL changes. And allow extension by plugins.

[2017-06-23 07:02] #491 closed

[2017-06-23 07:03] sapegin commented on #508
Yeah, generating Markdown documents with something like [documentation.js](http://documentation.js.org/) is the best way for now.

[2017-06-23 07:06] sapegin commented on #507
Could you please explain the use case? Most likely you could use [resolveLoader](https://webpack.js.org/configuration/resolve/#resolveloader) to put your own loader in front of the Styleguidist’s one.

[2017-06-23 07:13] n1313 commented on #494
Would having "real" routing make it easier to potentially split the bundle into lazily loaded chunks, one component per chunk?

[2017-06-23 07:18] sapegin commented on #494
I’m not sure, probably not or it won’t be the hard part anyway.

[2017-06-23 07:38] stepancar commented on #507
@sapegin, I need in mardown eslint plugin for lint examples.
It required point language for exampe 'js | jsx | javascript | node'. But styleguidist render preview of example if code block haven't language. I need to override styleguidist examples-loader for preprocess .md files.

[2017-06-23 07:47] sapegin commented on #507
We’re actually going to change that soon — https://github.com/styleguidist/react-styleguidist/milestone/6, you can help make it happen sooner ;-)

[2017-06-23 12:12] sapegin commented on #472
There’s a PR: #510.

[2017-06-23 14:28] sapegin commented on #257
Awesome news, we have an implementation from @stepancar — #511. I’m not sure how flexible (read *complex*) the API should be so feel free to have a look and leave you comments on the PR.

[2017-06-23 17:43] #471 closed

[2017-06-23 18:21] #427 closed

[2017-06-23 21:15] tizmagik commented on #494
Hmm but isn't that what a router such as RR essentially do? Would also take care of browser back button semantics, deep linking and isolation, no?

Happy to explore other approaches. What did you have in mind?

[2017-06-24 07:29] sapegin commented on #494
RR is mostly used to render different components depending on a route which we don’t need — we alway render the same component but with different props. I think we need something like [Navigo](https://github.com/krasimir/navigo).

[2017-06-24 07:30] #472 closed

[2017-06-24 13:43] tizmagik commented on #494
Right, but I think that might be part of the perf problem when you have a large number of components. This is the refactor I was alluding to in #212

I'll take a look at Navigo though, it would probably be less of a refactor, I'm assuming.

[2017-06-24 14:04] #460 closed

[2017-06-25 21:09] stepancar commented on #507
close issue, because not actual

[2017-06-25 21:09] #507 closed

[2017-06-26 07:50] sapegin commented on #501
I’m trying it right now and it works fine. Am I missing something?

[code]

![image 2017-06-26 at 9 50 22 am](https://user-images.githubusercontent.com/70067/27529469-e7d02918-5a54-11e7-8a96-b759cf801fde.png)

[2017-06-26 08:09] sapegin commented on #478
@aga5tya It works for me without any warnings and I see some styled components. Am I missing something?

[2017-06-26 08:25] sapegin commented on #478
@Guru107 Could you please make an example as [described here](../blob/master/Issue_Template.md) for Glamor?

[2017-06-26 08:27] sapegin commented on #478
@aga5tya I think you’re doing the right thing now, that’s the recommended way of using Styled components as well: https://react-styleguidist.js.org/docs/cookbook#how-to-use-react-styleguidist-with-styled-components

[2017-06-26 11:33] #508 closed

[2017-06-26 11:35] sapegin commented on #333
Was released in [5.3.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.3.0).

[2017-06-26 11:35] #333 closed

[2017-06-26 11:36] sapegin commented on #480
Closing this for now — we may revisit it in the future.

[2017-06-26 11:36] #480 closed

[2017-06-26 11:40] sapegin commented on #269
So do we have any ideas how it should look? I’d like to include this feature in the next major release.

[2017-06-26 11:54] sapegin opened #512 "Remove webpack 1 support"
**This is a breaking change.**

**That’s a lot of work but most of the items are relatively easy and could be done separately, that’s why this issue is marked as easy — ping me if you have any questions.**

Webpack 1 is deprecated in Styleguidsit (#499) — no complaints so far ;-)

* [x] Remove webpack conditions from `make-webpack-config.js`
* [x] Remove webpack conditions from `.travis.yml`
* [x]

[2017-06-26 11:57] sapegin commented on #512
@andywer Any estimates on webpack-blocks 1.0 final release?

[2017-06-26 12:23] okonet commented on #269
What do you mean by "look"? API-wise? I think it would be great to have a fenced block with some additional parameters like file path to highlight for example. Front matter as a format should work just fine. As for remark parsing — I think it can be extended?

[2017-06-26 12:27] sapegin commented on #269
Yes, API. So something like this would work?

[code]

In this case we could reuse @stepancar code from #511. But I’m not sure it would work with non-JS code.

[2017-06-26 13:28] okonet commented on #269
I'd prefer front matter YAML format TBH since this make it more human readable.  I've commented on #511

[2017-06-26 14:47] sapegin opened #513 "Document usage with styling libraries"
I’m sue Styleguidist works with most of CSS in JS and styling libraries our of the box but set up could be not obvious. Would be nice to try all of them, find a working set up and document it.

* [x] [Styled Components](https://www.styled-components.com/) (already documented but could be improved, see also https://github.com/reactjs/react-docgen/issues/187 and https://github.com/styled-components/

[2017-06-26 18:57] apennell commented on #501
PERFECT @sapegin ! Adding that second `export` on the `function` line (`export const Button = ({}) => {  /* ... */  }`)was what fixed it for me.

I've been lost in the weeds of the web, trying to patch together docs, examples, blogs, and tutorials--none of which, of course, are using the exact same stack and approach as I am. The `Button.js` files in your examples introduced me to stateless functi

[2017-06-26 19:52] andywer commented on #512
No concrete one, but we are quiet close. Let's say about one more month maybe 😉

The release candidate will be out very soon and that's pretty much the deprecation of webpack-blocks 0.x.

[2017-06-27 02:21] n1313 commented on #269
This seems like a good candidate for a plugie, with appropriate support from RSG core API or in some other roundabout way.

[2017-06-27 02:26] n1313 commented on #513
I'm using CSS Modules together with [themr](https://github.com/javivelasco/react-css-themr), I'll try to find time to write a few words about my setup.

[2017-06-27 03:57] Jmeyering opened #514 "Not re-building when new component is added"
If I add a new component to my components directory, react styleguidist does not recompile until I change some other file that it previously known about.

Is there any way around this issue or is this simply a side effect of how the file watcher works

If there isn't, is there any way to manually trigger a change, without opening an unrelated file and making a edit?

[2017-06-27 05:41] n1313 commented on #514
I think this is just how file watching works. Another way would be to restart it, but that's probably slower than forcing a re-read by modifying a known file.

[2017-06-27 06:40] sapegin commented on #514
Yeah, sometimes it does, sometimes it doesn’t, I’m not really sure why and how to fix that it it’s possible at all.

[2017-06-27 06:41] sapegin commented on #269
@n1313 I think you’re right and it shouldn’t be hard to implement support for any custom modifiers.

[2017-06-27 08:50] esphen opened #515 "Support Vagrant with VirtualBox"
Hi,

I just tried to make styleguidist work with Vagrant, and it mostly works. There is a pretty deal-breaking issue with hot reloading, however.

When using the VirtualBox provider (which most people do because it's cross-platform) in Vagrant, you need to set `devServer: { poll: true }` for it to work because file system events do not work properly. See https://webpack.js.org/guides/development-v

[2017-06-27 08:55] sapegin commented on #515
Yeah, PR is a great idea! I think we can use webpack-merge here instead of manually merging `watchOptions`.

[2017-06-27 13:01] sapegin opened #517 "6.0.0 release"
It’s all about Markdown examples improvements:

- [x] Modifiers for fenced code examples (#257, #511)
- [x] Default modifiers: `static` and `noeditor`
- [x] Ability to add custom modifiers via style guide config (#269)
- [x] Make modifiers case-insensitive
- [x] Update docs

Optional:

- [x] Remove webpack 1 support (#512)

Not sure about the last one because it turned out to be a lot of work. If

[2017-06-27 13:09] n1313 commented on #517
Why the major bump?

[2017-06-27 13:10] sapegin commented on #517
Because we’re changing default behavior for fenced code blocks with js/jsx/javascript language.

[2017-06-27 13:49] n1313 commented on #517
How much time do you think it'll take this branch to be fully done, and would it be possible to coincide it with initial offering of plugin API?

[2017-06-27 13:54] sapegin commented on #517
Depends on (1) how many people will want to help, (2) will we include webpack removal (I guess not ;-) and (3) what we want to include in initial plugins API.

I guess it’s possible to have *some* undocumented plugin API ;-)

[2017-06-27 14:10] #515 closed

[2017-06-27 14:35] zecaptus commented on #494
As I wanted to have a single component / page, I have done something that probably can help you.
Take a look here : https://github.com/zecaptus/styleguide

[2017-06-27 15:51] stepancar commented on #517
@sapegin  , what reason to "Make modifiers case-insensitive"?

[2017-06-27 15:57] stepancar commented on #517
"Ability to add custom modifiers via style guide config"
Just merge modifiers from styleguide.config with passed to example in .md?

[2017-06-27 19:52] sapegin commented on #517
I would ask for a reason to make it case-sensitive ;-) It improves the UI — users don’t have to remember the correct casing. But I think it’d be enough to make space-separated modifiers case-insensitive.

I mean some kind of filters or transformers that could be defined in the config (and later in plugins) that would allow users to implement thing like this file loader. Something like this could w

[2017-06-27 20:20] adityavohra7 opened #518 "Default prop values don't show when using Flow for typing props"
Here's my component file:
[code]
And here's what its "PROPS & METHODS" table looks like:
![screen shot 2017-06-27 at 1 22 44 pm](https://user-images.githubusercontent.com/1359298/27608292-c2531fc8-5b3b-11e7-9200-e0b466eab7f0.png)

I'd like to use Flow to type component props. So here's what I tried:
[code]
The "PROPS & METHODS" table now looks like:
![screen shot 2017-06-27 at 12 59 28 pm](https:/

[2017-06-27 20:25] sapegin commented on #518
Thanks for a detailed bug report! I’ll take a look later but I’m afraid it may be a react-docgen issue.

[2017-06-27 20:36] adityavohra7 commented on #518
Okay this was my bad 😥

When I do the following, it works as expected:
[code]
I just had to type `foo` as a [maybe type](https://flow.org/en/docs/types/maybe/). Which makes sense I guess haha. Using `defaultProps` works too! Closing this issue. Apologies for the noise.

[2017-06-28 08:27] sapegin commented on #501
@apennell I’ve added a [new guide](https://react-styleguidist.js.org/docs/thirdparties.html) to the docs — I hope it explains how this works better.

Feel free to improve it further ;-)

[2017-06-28 08:44] sapegin commented on #513
I’ve added a new guide to the docs to document usage with third-party libraries. Feel free to submit a pull request if you have experience with libraries not described in the guide yet.

https://react-styleguidist.js.org/docs/thirdparties.html

[2017-06-28 09:42] birjolaxew opened #519 "Run console.clear() when components are reloaded"
It's a bit irritating to see an error in your console and not know if it's from the current component that was hot-loaded in or from an older version.

This would be solved by running `console.clear()` once a component has been reloaded (or if multiple components are being reloaded, after they're all reloaded).

[2017-06-28 11:31] sapegin commented on #519
Sounds like a good feature. Feel free to send a pull request ;-)

[2017-06-28 11:44] peterlenagh opened #520 "jsdocs for methods using arrow functions"
jsdocs for methods written using arrow functions aren't pulled through currently.

works:
[code]

doesn't work:
[code]

[2017-06-28 12:42] stepancar commented on #520
@peterlenagh , it's a limitation of http://buble.surge.sh/guide/ which we use

[2017-06-28 13:26] gaearon opened #521 "Empty output on compile error"
CRA shows build errors in the browser:
![screen shot 2017-06-28 at 2 25 49 pm](https://user-images.githubusercontent.com/810438/27639314-b7701bce-5c0d-11e7-83ad-b15e904f068d.png)

It would be nice if RS could do the same instead of showing a blank screen:
![screen shot 2017-06-28 at 2 24 16 pm](https://user-images.githubusercontent.com/810438/27639325-c144cd8e-5c0d-11e7-934f-113959369093.png)

[2017-06-28 13:56] sapegin commented on #520
We’re using Buble on client side only, so it must be limitation of either react-docgen that we use to extract this documentation.

[2017-06-28 14:05] sapegin commented on #521
That would be nice indeed! Is it possible to reuse this code? We already using some packages from CRA.

[2017-06-28 14:14] gaearon commented on #521
The build overlay is currently tightly integrated with our webpack client. You can try using that client: https://github.com/facebookincubator/create-react-app/tree/master/packages/react-dev-utils#webpackhotdevclient

[2017-06-28 14:16] sapegin commented on #521
OK, I’ll try as soon as we get rid of webpack 1 support (#512) ;-)

[2017-06-28 16:11] stepancar commented on #520
https://github.com/reactjs/react-docgen/issues/190

[2017-06-29 07:04] #520 closed

[2017-06-29 07:05] sapegin commented on #483
Released in [5.5.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.5.0).

[2017-06-29 07:05] #483 closed

[2017-06-30 19:08] aga5tya commented on #478
@sapegin Awesome. Thanks for documenting this. 👍 🎉

[2017-06-30 20:44] adityavohra7 commented on #518
Actually, reopening this issue because Flow seems to have issues with annotating `props` that are in `defaultProps` with maybe types 😔

 Here is some discussion: [1660](https://github.com/facebook/flow/issues/1660) and [3512](https://github.com/facebook/flow/issues/3512).

[2017-06-30 20:52] sapegin commented on #518
If it’s a Flow issue then we can’t fix it on our side and probably should close this issue ;-)

[2017-06-30 20:58] adityavohra7 commented on #518
Totally fair, [this comment](https://github.com/facebook/flow/issues/1660#issuecomment-302469877) recommends suppressing the error until its fixed in Flow. Closing!

[2017-06-30 20:58] #518 closed

[2017-07-03 07:23] a-ignatov-parc commented on #513
We are using react-jss and there is no extra setup needed. At least for current release. There is refactoring in progress to fix SSR issues in JSS but I don't think that it will change something in configuration.

[2017-07-03 19:39] esphen opened #524 "Improve printing of objects as `defaultProps`"
Hi,

Before continuing, I would just like to say that I love react-styleguidist. it's an amazing product, very well put together. We evaluated many styleguide-libraries, but yours was by far the better in terms of producing something that was easy for the team to consume while working.

On to the issue at hand. My suggestion is quite simply to improve the rendering of `defaultProps` that are shape

[2017-07-03 19:54] sapegin commented on #524
That’s a good idea and we’re already doing this for functions! So that would already increase usability here. Would you mind sending a pull request with this print?

Do you have any ideas how to do that? Or some time to experiment? ;-)

[2017-07-03 20:02] esphen commented on #524
Cool, didn't know that!

I may have some time to look at this at some point, but I need to know if there are any corner cases I need to keep in mind. Do I need to handle other `propParsers` or otherwise alternative output syntaxes? Anything else you can think of?

[2017-07-03 20:16] sapegin commented on #524
I don’t think so. If someone has its own `propParsers` it should return data in the same format, otherwise nothing will work ;-)

https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/Props/PropsRenderer.js#L65-L80

[2017-07-04 08:13] stepancar commented on #517
@sapegin, I dont like idea with case-insensitive. Because if implement something like loop on example settings object keys and override all keys with lowercase in example plugins(read as preprocessors) developers will should work with case insensitive parameters.
[code]

[2017-07-04 08:17] sapegin commented on #517
You’re thinking only about your own use case with JSON ;-) For most users it would be space-separated list and there’s no point in memorizing if it’s `showcode` or `showCode` — both should work the same.

[2017-07-04 08:59] stepancar commented on #517
@sapegin case-insensitive pushed to https://github.com/styleguidist/react-styleguidist/pull/525

[2017-07-04 09:39] mru2 opened #526 "Cannot launch styleguidist server on a clean create-react-app application : "you may need an appropriate webpack loader to handle this file type""
## How to reproduce

Bootstrap a new app w/ create-react-app
[code]

Follow the [getting started](https://react-styleguidist.js.org/docs/getting-started.html) guide to add styleguidist :

### package.json
[code]

### src/components/Button/index.js
[code]

### src/components/Button/Readme.md

[code]

## Expected Behavior

Running `yarn run styleguide` launches the styleguidist dev server

## Actual

[2017-07-04 11:48] sapegin commented on #526
That’s weird: when I do all the steps you describe manually — it works fine, but not when I clone your repo ;-|

[2017-07-04 11:52] sapegin commented on #526
When I run `yarn run styleguide -- --verbose` I see than webpack configs are different. The only difference I see so far is that `react-scripts` in `dependencies` in your repo and in `devDependencies` in mine.

[2017-07-04 12:00] sapegin commented on #526
It actually was the reason, but I have no idea why.

[2017-07-04 14:13] mru2 commented on #526
Thank you !

Seems like this is a new feature, since 1.0.8, `create-react-app` migrated `react-scripts` out of the `devDependencies`: https://github.com/facebookincubator/create-react-app/pull/2657 😄

[2017-07-04 14:18] sapegin commented on #526
Then it looks like a bug ;-(

[2017-07-04 14:21] sapegin commented on #526
I was using the old version, that’s why it was in `devDependencies`. But I have no idea why it doesn’t work with `dependencies` — it shouldn’t be any different ;-|

[2017-07-04 15:30] stepancar commented on #517
@sapegin could you please update docs and, i think, we can release 6.0.0?

[2017-07-05 09:14] #526 closed

[2017-07-05 09:38] sapegin commented on #517
Yeah, I’ll do that! Thanks for the work on that release!! 🍕

[2017-07-05 09:55] sapegin commented on #526
Should be fixed in [5.5.2](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.5.2).

[2017-07-05 12:43] misantronic opened #527 "Code-Editor won't work: "There are multiple modules with names that only differ in casing""
When starting the server, I get the following error:

[code]

This leads to a problem with the code-editor:

![screen shot 2017-07-05 at 14 41 10](https://user-images.githubusercontent.com/6033531/27864726-04ee4c68-6190-11e7-90d6-a8380bb0e4e7.png)

![screen shot 2017-07-05 at 14 42 38](https://user-images.githubusercontent.com/6033531/27864776-3b6cd746-6190-11e7-9428-41c66d375255.png)

I am on a m

[2017-07-05 12:54] sapegin commented on #527
Looks like it’s a react-codemirror issue: https://github.com/JedWatson/react-codemirror/issues/108

[2017-07-05 12:54] #527 closed

[2017-07-05 13:56] misantronic commented on #527
I opened an issue:
https://github.com/JedWatson/react-codemirror/issues/123

[2017-07-05 23:30] kof opened #529 "[idea] Fence with js to get highlighting on github"
I was thinking lately what could we do to allow having ```js and still to know when it is an sg example and when not and one idea came in mind - magical comment same like @flow or esilnt is using

E.g.

[code]

[code]

[2017-07-06 06:37] sapegin commented on #529
It’s almost done and will be released as a new major version very soon: https://github.com/styleguidist/react-styleguidist/issues/517 ;-)

[2017-07-06 06:37] #529 closed

[2017-07-06 08:46] n1313 opened #531 "Display component name in <title> when opening a component in isolated mode"
I spend most of my time with RSG switching between a handful of components in isolated mode. Unfortunately, page title doesn't change when I do that, so my browser history consists of the same page name repeated many times. Not very helpful. I would like my page `<title>` to display component name when I open it in isolated mode: `React Style Guide Example - Button` or something similar.

[2017-07-06 08:47] n1313 commented on #531
https://github.com/gaearon/react-document-title?

[2017-07-06 08:52] sapegin commented on #531
That’s an amazing idea! I’m using react-document-title and can recommend it.

“Button — React Style Guide Example”, otherwise you won’t see component names if you have many open tabs ;-)

[2017-07-06 09:08] n1313 commented on #531
I'm not too familiar with react-document-title -- would it be difficult to make it add/remove the component name prefix and leave the static "React Style Guide Example" part untouched? There isn't much documentation in the repo.

[2017-07-06 09:11] sapegin commented on #531
It should be something like that:

[code]

But maybe it’s an overkill for our case, react-document-title is good when you nest components with different titles (the deepest one wins).

[2017-07-06 09:13] sapegin commented on #531
Probably it’s better to just set title here: https://github.com/styleguidist/react-styleguidist/blob/master/src/index.js#L67

[2017-07-06 09:17] n1313 commented on #531
The problem also is that the static part can be customised by the user, so it can't be hardcoded.

[2017-07-06 09:18] sapegin commented on #531
But that’s a config option that we can pass to the frontend.

[2017-07-06 09:35] n1313 commented on #531
Actually, it is already there: https://github.com/styleguidist/react-styleguidist/blob/master/src/index.js#L70 :) Let me make a quick stab at this.

[2017-07-06 11:05] #531 closed

[2017-07-07 09:59] stepancar commented on #517
@sapegin , do you need any help?

[2017-07-07 11:24] n1313 commented on #517
How about a beta release?

[2017-07-07 11:25] sapegin commented on #517
@stepancar I need more time ;-)

@n1313 Yup, will try to do it in the next few days.

[2017-07-07 12:44] #469 closed

[2017-07-07 15:21] adambowles opened #534 "Remote stylesheet"
Is it possible to import a remote stylesheet?

I'm migrating from [bluekit](https://github.com/blueberryapps/react-bluekit) and there I was able to include a remote stylesheet in the HTML, so I could use a custom webfont.

I know this is technically possible using the `styles` directive in `styleguide.config.js`, but I don't want a 350kb config file, nor a local copy of the stylesheet.

[2017-07-07 15:39] n1313 commented on #534
Would [modifying the template file](https://react-styleguidist.js.org/docs/configuration.html#template) to include that stylesheet work?

[2017-07-07 15:42] adambowles commented on #534
Yeah that's done it

[2017-07-07 15:42] #534 closed

[2017-07-07 20:55] gaastonsr opened #536 "Change line-height from normal to inherit"
**styleguide.config.js**
[code]

webpack version: ^3.0.0
OS, browser version: OS X, Chrome 58.0.3029.110 (64-bit)

Hi! I like react-styleguidist a lot.

I'm trying to set up a page where I showcase how headers, lists and other elements look by importing the library (and its stylesheet).

Currently it looks like this

![screen shot 2017-07-07 at 3 40 44 pm](https://user-images.githubusercontent.com

[2017-07-07 20:57] SaraVieira commented on #536
@gaastonsr I got you bro, doing the PR

[2017-07-08 10:35] pueue opened #538 "Inherited component does not show"
[code]

[2017-07-08 16:17] stepancar commented on #538
@pueue , its a limitation of react docgen which  styleguidist use.
Try to install package library-utils.
[code]
Then in your styleguide.config.js
[code]

[2017-07-09 02:19] pueue commented on #538
@stepancar Thank you!

[2017-07-09 02:19] #538 closed

[2017-07-12 06:43] mertyesin opened #541 "Module not found: Can't resolve 'jquery-mobile'"
styleguide.config.js:
[code]
- Webpack version: 2.3.3
- MacOS, Chrome
- "react-docgen": "^3.0.0"
- "react-docgen-typescript": "0.0.15"
- "react-styleguidist": "^5.0.0"

I don't know it is a bug or not but i stucked here for days. Also adding my import statement of jquery mobile in my component and error:

[code]
**ERROR : Module not found: Can't resolve 'jquery-mobile' in '/Users/mert/Works/data-v

[2017-07-12 08:01] stepancar commented on #541
@mertyesin is jquery-mobile installed?

[2017-07-12 08:04] mertyesin commented on #541
@stepancar Yes. Like all other required modules or libraries, jquery-mobile is in node_modules folder under the '/Users/mert/Works/data-visualization/trunk/packages/dv-web/'.

[2017-07-12 08:15] stepancar commented on #541
@mertyesin , did you try looking for something like https://codedump.io/share/GP0jLasiJZqu/1/using-jquery-mobile-with-webpack
?
looks like webpack configuration problem, not React-styleguidist.
Try this https://stackoverflow.com/questions/36357283/using-jquery-mobile-with-webpack
if not help, please, provide full example, and i try to help you with configuration

[2017-07-12 08:24] mertyesin commented on #541
You're right! It looks like a webpack problem.
I had tried your suggestions before, i tried one more time now. Nothing changes.
[code]

[2017-07-12 09:14] sapegin commented on #541
`externals` will be ignored: https://react-styleguidist.js.org/docs/configuration#webpackconfig

[2017-07-12 14:12] #536 closed

[2017-07-12 17:42] gaastonsr commented on #536
Thanks sis!

[2017-07-13 13:51] drewdecarme commented on #110
I was having the same issues as well with compiling imported .scss files into each component using a derivation of CSS Modules called Babel Plugin React CSS Modules. I read @AoDev suggestion and realized that I didn't have an exclude in my Style Loader for Webpack 2. Here was my solution

[code]

[2017-07-14 11:37] stepancar commented on #517
@sapegin, when we can publish six version of RSG?

[2017-07-14 11:38] sapegin commented on #517
As soon as I can — you can use the branch already.

[2017-07-14 16:50] sapegin commented on #517
🍕 [6.0.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.0.0-beta.1) beta is out!!  🍕

[2017-07-14 16:50] sapegin commented on #257
🍕 [6.0.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.0.0-beta.1) beta is out!!  🍕

[2017-07-14 16:50] sapegin commented on #269
🍕 [6.0.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.0.0-beta.1) beta is out!!  🍕

[2017-07-14 16:51] sapegin commented on #324
Try the new [6.0.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.0.0-beta.1) beta — it may solve some of this issue.

[2017-07-14 16:53] sapegin commented on #382
In [6.0.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.0.0-beta.1) (now in beta) you can you use `js`, `jsx` or `javascript` languages with fenced code blocks for interactive examples.

[2017-07-14 16:53] #382 closed

[2017-07-17 02:46] n1313 commented on #517
I have a question after reading https://github.com/styleguidist/react-styleguidist/releases/tag/v6.0.0-beta.1: is there a difference between "live editable preview" and "interactive preview"? If these are the same things then I think they should be described using the same terms to avoid confusion.

[2017-07-17 19:25] ethanh1223 commented on #519
@sapegin Brand new to open-source and trying to get my first few commits with you guys, so bear with me :)

I've played with a few options and clearing the console seems to work best in the PlaygroundRenderer. When re-compiling multiple components, errors from prior compilations are cleared but errors from _all_ components in current compilation are visible.

Any objections to this method? Tried t

[2017-07-17 19:31] ethanh1223 commented on #497
Looks like PR was merged -- this closed?

[2017-07-17 19:32] sapegin commented on #497
@ethanh1223 Yup :shipit:

[2017-07-17 19:32] #497 closed

[2017-07-17 19:38] sapegin commented on #519
@ethanh1223 Awesome! 🍕

I think [Preview](https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/Preview/Preview.js) would be a better place.

For ESLint you need to disable this check for a specific line:

[code]

Conscious use of `console.log` is OK, ESLint guards us from committing accidental debug code ;-)

[2017-07-17 22:00] apennell commented on #501
I'll update my experience after going in some loops around this issue. I got `react-css-modules` working (in a project started with Create React App), but once I tried testing I found that there were issues with Jest. This led me to [this issue](https://github.com/gajus/react-css-modules/issues/196) in the react-css-modules repo and the creator says in a comment that while he isn't deprecating the

[2017-07-18 10:23] kumarabhishek opened #545 "Preview not updating when editing initialState."
When changing initialState in code editor, its not updating the preview.
For example in code editor of Button let's write following:
[code]
Now when we edit code to following, it does not reflect in Button preview:

[code]

[2017-07-19 03:46] kumarabhishek commented on #545
It seems I do not have permission to push. Getting following error:

[code]

[2017-07-19 03:54] kumarabhishek commented on #545
@sapegin I got fix for https://github.com/styleguidist/react-styleguidist/issues/519 also. If you provide me privilege, i will include even this fix in same PR.

[2017-07-19 04:36] n1313 commented on #545
@kumarabhishek please fork the repo, push your fix to a branch in your fork and send a PR from your fork to the main repo.

[2017-07-19 06:39] sapegin commented on #545
@kumarabhishek Thanks! There’s a PR for #519 already: #544.

[2017-07-20 09:33] #403 closed

[2017-07-20 09:43] #545 closed

[2017-07-21 17:02] reintroducing opened #547 "skipComponentsWithoutExample Docs Clarification"
I'm using the 6.0.0 beta 2 and i had `skipComponentsWithoutExample` set to true. When looking at the docs I'm seeing this line:

`Ignore components that don’t have an example file (as determined by getExampleFilename). These components won’t be accessible from other examples unless you manually require them.`

In one of my examples for a Form component I wanted to use a FormElementError component

[2017-07-21 17:34] reintroducing commented on #547
disregard, just discovered the cookbook and saw this: https://github.com/styleguidist/react-styleguidist/blob/master/docs/Cookbook.md#how-to-hide-some-components-in-style-guide-but-make-them-available-in-examples

[2017-07-21 17:53] reintroducing commented on #547
Actually, I just tried this and got the following:
`Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. Check the render method of PreviewComponent.`

Here is my example file:
[code]

All of these components live in the same directory. What am I doing wrong?

[2017-07-21 18:00] reintroducing commented on #547
ugh, had to add `.default` to the require.

[2017-07-21 18:00] #547 closed

[2017-07-21 20:27] reintroducing opened #548 "Display destructured props from separate files"
In my UI component library I export components but I also export some PropTypes. Here is an example:

IconPropTypes.js
[code]

This gets used in my Icon component.

Icon.jsx
[code]

I export this because I can extend the icon set on a per project basis by using the same IconPropTypes (but really the explanation here is not important).  The output in react-styleguidist only shows the `role` and `si

[2017-07-21 21:15] reintroducing opened #549 "Component being omitted from output for no reason"
I'm using 6.0.0 beta.2 and I have a single component out of all of my UI kit that is not being shown for no apparent reason. I don't have any settings in my config that would ignore this component. Every single other component in my project that's in the same directory structure as this one is outputting correctly in my SG.

NotificationContainer.jsx
[code]

NotificationContainer.md
[code]

I can'

[2017-07-22 04:04] tizmagik commented on #548
Curious why you don't export the Icon proptypes from the same file? Not sure if it would solve your issue, but might be worth a try?

[2017-07-22 04:46] reintroducing commented on #548
I guess it's a habit where we only have one export per file like this. That being said I'm not sure it would solve it anyway but I'd rather not export multiple items out of a component file.

[2017-07-22 18:20] stepancar commented on #548
Give a look at our project https://github.com/alfa-laboratory/arui-feather/blob/master/src/email-input/email-input.jsx#L20
We reuse proptypes from another component. See how it looks in react-styleguidist demo https://alfa-laboratory.github.io/arui-feather/styleguide/#emailinput
If you open props section - you can see that props equal to input component props.
But we use custom propsParser https:/

[2017-07-23 22:55] stepancar commented on #517
I migrated our project to six styleguidist.
Works fine.
Also i added linter for .md files using https://github.com/eslint/eslint-plugin-markdown
It's very helpful linter plugin for styleguidist users

[2017-07-24 03:37] n1313 commented on #549
Does it work if you roll back to v5? And the "jsx static" bit in the middle of your .md file looks weird -- is this is a formatting error or...?

[2017-07-24 08:02] sapegin commented on #549
Please make a demo project that we can debug based on this repo: https://github.com/styleguidist/example

[2017-07-24 13:56] reintroducing commented on #549
So i went ahead and made a demo and nailed it down to the line that is causing the issue. My PropTypes are:
[code]

NotificationPropTypes is:
[code]

This is causing an issue as follows when I compile in the example project:
`Warning: Cannot parse lib/components/Notification/NotificationContainer.js: Error: [{type: ImportDefaultSpecifier, start: 195, end: 216, loc: [object Object], local: [object

[2017-07-24 13:57] reintroducing commented on #549
I should also point out that this is related to my question here: https://github.com/styleguidist/react-styleguidist/issues/548

[2017-07-24 13:58] sapegin commented on #549
This looks like a react-docgen issue and should be reported in their repo.

[2017-07-24 14:01] sapegin commented on #517
@n1313 Nope, but you’re right we should choose one. Which one do you like more? The second looks simpler ;-)

[2017-07-24 14:05] reintroducing commented on #549
Looks like this is already a long standing issue there: https://github.com/reactjs/react-docgen/issues/33

Closing this and following there, thanks.

[2017-07-24 14:05] #549 closed

[2017-07-24 14:05] reintroducing commented on #548
Looks like this is a known issue in react-docgen: https://github.com/reactjs/react-docgen/issues/33

Closing this and following there.

[2017-07-24 14:05] #548 closed

[2017-07-24 14:14] sapegin commented on #541
Closing this for now. Feel free to reopen if you still have this issue.

[2017-07-24 14:14] #541 closed

[2017-07-24 14:15] sapegin commented on #470
@SaraVieira Do you have anything to pull request here? ;-)

[2017-07-24 15:00] n1313 commented on #517
@sapegin I agree

[2017-07-24 19:26] SaraVieira commented on #470
Damn @sapegin no :(
I'll get on this tomorrow, I'll use my new cli skills to make it awesome! 🎉🎉

_Sent from my Bq Aquaris M5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-24 20:03] stepancar commented on #468
@sapegin, it should be closed

[2017-07-25 06:47] #468 closed

[2017-07-25 10:19] natearn commented on #195
Is this change still desired? I'd like to contribute and I'm looking for an easy place to start.

[2017-07-25 11:15] sapegin commented on #195
@natearn Yes, please do it! Feel free to ping me on Gitter if you have any questions ;-)

[2017-07-26 11:56] sapegin commented on #517
Is there anything we should do before the stable release?

[2017-07-26 15:42] tizmagik commented on #517
This is great! Congrats 😁

[2017-07-26 21:26] stepancar commented on #517
I think No

[2017-07-27 17:18] pasupuletics opened #551 "Doc is not getting updated when changes are not from react component file"
@sapegin , I have a scenario that react component imports `propTypes` from external file and doc is not getting generated which is expected, And I have written a [react-docgen](https://github.com/reactjs/react-docgen) custom handler, which would generate a doc for external `propTypes` and everything went smooth. Now the issue with live reload, When I made any changes to external `propTypes` file c

[2017-07-27 18:01] dchambers commented on #171
Is there a way to import CSS directly into the index page without using a `require` as this doesn't seem to be compatible with the webpack config used by create-react-app?

[2017-07-28 08:29] sapegin commented on #551
Maybe `contextDependencies` could help here: https://react-styleguidist.js.org/docs/configuration#contextdependencies

[2017-07-28 20:29] pasupuletics commented on #551
@sapegin , Thanks for your quick response, But configuring `contextDependencies` didn't serve my purpose. But I got the root cause that the issue with webpack HMR(not really an issue, its an expected behaviour). HMR has enabled for all the files and working as expected. When component file changes  webpack re-builds and pushes updated file into browser same happens for external imported files as w

[2017-07-28 20:40] sapegin commented on #551
Could you try to implement it? I don’t really understand how it should work ;-|

[2017-07-29 04:35] pasupuletics commented on #551
Sure @sapegin will give it a try. Could you please clarify me on below:
When component file changes how the props-loader.js is pitching in(might be because of HMR), could you please help me to find where that peace of code reside(actual logic).

[2017-07-31 08:30] pasupuletics commented on #551
@sapegin , As you mentioned `contextDependencies` works for us with the minimal changes to `props-types.js`. We should introduce below peace of code to `props-loader.js` as you already did it for [styleguide-loader.js](https://github.com/styleguidist/react-styleguidist/blob/master/loaders/styleguide-loader.js#L59)
[code]

Thanks for being with me and for your timely responses, you are AWESOME.

[2017-07-31 09:26] dchambers opened #553 "First example doesn't use a code fence"
This tiny doc issue caused me to waste loads of time, so maybe it will help others. The first example of [documenting your components](https://react-styleguidist.js.org/docs/documenting.html) doesn't currently use a code fence, and although this did work for me, it prevented the styles from working. I spend hours after that fighting with Webpack config when it was actually just as simple as puttin

[2017-07-31 09:44] sapegin commented on #553
I’m not sure what you’re talking about, because there’s absolutely no difference between indented code blocks and fenced without a language.

Please make a demo project that we can debug based on this repo https://github.com/styleguidist/example if you think there’s a bug somewhere.

[2017-07-31 09:48] #524 closed

[2017-07-31 09:50] sapegin commented on #551
Could you send a pull request with this change?

[2017-07-31 10:21] pasupuletics commented on #551
Sure @sapegin, will issue a PR ASAP.

[2017-07-31 11:18] dchambers commented on #553
HI @sapegin, maybe Im doing something stupid then since I didn't even know code blocks could be indented like that, but [here's a repo](https://github.com/dchambers/styleguidist-cra-test/commits/master) to show how using that style of code block doesn't work for me.

Thanks 👍

[2017-07-31 12:04] sapegin commented on #553
It’s 4 spaces, not 2 ;-)

[2017-07-31 12:04] #553 closed

[2017-07-31 12:05] sapegin commented on #553
And it’s better to use fenced blocks, we’re changing all example to use them in the next major release: https://github.com/styleguidist/react-styleguidist/blob/six/docs/Documenting.md#usage-examples-and-readme-files

[2017-07-31 12:09] dchambers commented on #553
Doh, thanks @sapegin!

[2017-07-31 13:15] dylankiss opened #554 "Nested section titles have the same font size"
I am using the following `styleguide.config.js`:

[code]

I have two nested sections: `Sample Section` and `Other Sample Section`. When my docs get rendered, the titles of these nested sections have the same font size as their parent section titles. I would expect these to be smaller. Is there an easy way I can change that?

<img width="958" src="https://user-images.githubusercontent.com/5985577/2

[2017-07-31 13:16] sapegin commented on #554
Feel free to send a pull request to fix that ;-)

[2017-07-31 14:13] dylankiss commented on #554
@sapegin Took a shot for a simple fix, by only making the top level sections "primary". It's good enough for me.

[2017-07-31 14:58] sapegin commented on #517
🍕 [6.0.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.0.0) is out!!!! 🥓

[2017-07-31 14:58] #517 closed

[2017-07-31 14:58] sapegin commented on #512
🍕 [6.0.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.0.0) is out!!!! 🥓

[2017-07-31 14:58] #512 closed

[2017-07-31 14:58] sapegin commented on #257
🍕 [6.0.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.0.0) is out!!!! 🥓

[2017-07-31 14:58] #257 closed

[2017-07-31 14:59] sapegin commented on #269
🍕 [6.0.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.0.0) is out!!!! 🥓

[2017-07-31 14:59] #269 closed

[2017-08-01 03:40] pasupuletics commented on #551
@sapegin , I have created [PR](https://github.com/styleguidist/react-styleguidist/pull/557) as per over conversation, please take a look.

[2017-08-01 09:17] #554 closed

[2017-08-01 10:33] konojunya opened #559 "example/basic is did not work by default."
I thought about trying the example.

but did not work by default.

I think `babel-core` is necessary for the `package.json`

<img width="481" alt="2017-08-01 19 27 33" src="https://user-images.githubusercontent.com/12035578/28821348-0b4d1f88-76f0-11e7-85e9-d2f4f48e74bb.png">

webpack version and `styleguide.config.js` is [example/basic](https://github.com/styleguidist/react-styleguidist/tree/maste

[2017-08-01 12:02] sapegin commented on #559
You’re right, should be fixed now ;-)

[2017-08-01 12:02] #559 closed

[2017-08-01 15:06] aversini opened #560 "v6+ "static" requirement is breaking GitHub Enterprise 2.7 markdown rendering"
I know it's a long shot because the issue is only on GitHub enterprise...

Our RSG configuration loads our README.md file as an introduction section, and then loads all our components API examples. Here is an extract of our configuration:
[code]

In our README.md file, we have the following lines:
<pre>
You can then import our components:

[code]
</pre>

As of RSG 6.x, these lines are now trying t

[2017-08-01 15:37] sapegin commented on #560
And I still don’t understand how exactly it breaks rendering in GitHub Enterprise.

[2017-08-01 16:01] aversini commented on #560
No, this was my attempt to show how GitHub Enterprise is rendering our lines.

Basically adding "static" next to "js" is having an effect on GHE where 3 lines are all merged into one.

As for the updateExample option, it creates the same issue on GHE. Basically, adding anything after the lang tag is breaking the markdown rendering 😢

[2017-08-01 16:24] sapegin commented on #560
I mean you can add any modifiers *inside* updateExample.

[2017-08-01 16:31] #551 closed

[2017-08-01 16:50] aversini commented on #560
Oh got it! Yes let me try that avenue! Thanks

[2017-08-01 18:20] TimothyKrajewski commented on #169
I am having the same error

[2017-08-01 21:32] aversini commented on #560
@sapegin so I tried to use updateExample, using 2 different approaches:

1. if lang is set to `js`, `jsx` or `javascript`, change the lang to `coffeescript` or `typescript`
2. if lang is set to `js`, `jsx` or `javascript`, set `settings.static` to true

The first approach works: it prevents RSG from interpreting code fences marked with these lang as a React component, and the code highlighting is

[2017-08-02 02:43] konojunya opened #561 "showCode do not work well"
I thought about trying `showCode` , but it was not adapted even if I set the configuration to `styleguide.config.js`.

I found the following two things.
Is there something missing?

If you are writing in the document, please let me know.

I have read this document [docs/configuration#showcode](https://react-styleguidist.js.org/docs/configuration.html#showcode)

1. I can not see the code by default

[2017-08-02 07:41] sapegin commented on #561
The first bug should be fixed now.

I’m not sure how to reproduce the second: seems to work fine in your repo.

[2017-08-02 07:44] sapegin commented on #560
Not really if we won’t find any serious issues with the new approach.

Would you mind adding this example to the docs?

[2017-08-02 07:58] konojunya commented on #561
👍

Normal:
1. `git clone git@github.com:konojunya/styleguidist-example-typescript.git`
2. `npm i`
3. `npm run styleguide:build or npm run styleguide`
4. show your browser index.html or [localhost:6060](http://localhost:6060)

Bug:
1. `git clone git@github.com:konojunya/styleguidist-example-typescript.git`
2. `npm i`
3. change `showCode: true` in `styleguide.config.js`
4. `npm run styleguide:build

[2017-08-02 08:11] sapegin commented on #561
Please try with 6.0.6 and see if it fixes both issues or just the first one.

[2017-08-02 08:37] konojunya commented on #561
thank you.
first issue is resolved 💯
but, second one is not solved 😢

[2017-08-02 08:41] sapegin commented on #561
You’re using react-styleguidist 5.5.9, please try with 6.0.6.

[2017-08-02 08:50] konojunya commented on #561
not yet :(

https://github.com/konojunya/styleguidist-example-typescript/blob/master/package.json#L22

[2017-08-02 09:25] #561 closed

[2017-08-02 09:26] sapegin commented on #561
Should be fixed in the next patch release.

[2017-08-02 11:02] mmsbrggr opened #562 "`decorator is not a function` error when requiring components in examples."
At first, thank's for your awesome documentation tool. I got one issue today:

Although the decorators-transformer is included in the styleguide config and installed, it does not seem to work, when requiring a component using decorators in a Readme file.

[code]
In my specific example I am trying to require a component using mobx decorators. The error I get in the browsers console is: `Uncaught Ty

[2017-08-02 11:32] mmsbrggr commented on #562
I don't think this is an issue specific to styleguidist. Sorry for any inconvenience caused. Keep up the good work :)

[2017-08-02 11:32] #562 closed

[2017-08-02 12:49] aversini commented on #560
Great, thanks! Yes I can do that. Do you prefer I add that to the cookbook or as a second example to `updateExample`?

[2017-08-02 12:53] sapegin commented on #560
I’d add it as an example to the `updateExample`, thanks!

[2017-08-02 12:54] aversini commented on #560
Will do, PR coming up...

[2017-08-02 13:24] #560 closed

[2017-08-02 13:33] sapegin commented on #517
@stepancar Thanks for making this release possible!! 🍕🍦🦄

[2017-08-02 17:45] stcherenkov opened #564 "Default prop evaluated in global scope"
[This commit line](https://github.com/styleguidist/react-styleguidist/commit/ded79c82cf1e609bf7e0f07cc820743927ceda32#diff-bf5c71c0b1dcaa51081c3d9b36ba5c00R103) introduced a bug: we have default object-like value in local scope (inside IIFE, in example), but styleguidist is evaluating it in global scope and eval throws.

Possible solution is to wrap eval in try-catch statement with rendering defau

[2017-08-02 17:55] esphen commented on #564
Hi, thanks for reporting. That's a good point, we didn't think of that. I can fix this tonight

[2017-08-02 18:45] esphen commented on #564
Should be fixed in 63b3369, will be a part of the next version @sapegin releases

[2017-08-02 18:45] #564 closed

[2017-08-02 18:47] sapegin commented on #564
@esphen Thanks! Fixes are released automatically, so expect a new version in ~10 minutes ;-)

[2017-08-02 22:33] apennell opened #565 "How does your team use Styleguidist?"
I'd love to hear how folks are actually implementing the components developed with React Styleguidist! How is your app configured? What's your build pipeline? Did you make it an NPM package for use in other apps? How are you packaging it for external use? How are you compiling your components? Do you use CSS Modules? Are your styles tied to their individual component and used with a simple `import

[2017-08-03 03:01] n1313 commented on #565
The team I'm in is using RSG to develop a set of UI components for a fairly large international company. We distribute it internally via our private npm repository. RSG is used by us during development as an interactive playground, and the compiled documentation bundle is published to an internal website so that our potential users can take a look at it and see how it looks and works in real life.

[2017-08-03 07:35] sapegin commented on #565
Our approach is very similar to @n1313. The main difference is that we only transpile ES6 to ES5 (TypeScript in the future) and keep CSS Modules as is. Which means we need to include component library’s package folder into `css-loader?modules`. But it allows us to include into the app bundle only CSS and JS of components that we actually use.

![image 2017-08-03 at 9 29 42 am](https://user-images.

[2017-08-03 14:05] joergklein commented on #565
Is it possible to see the the Kao Style Guide Repo?

[2017-08-03 14:07] sapegin commented on #565
@joergklein No, sorry, it’s not public. But I can share some configs.

[2017-08-03 16:23] joergklein commented on #565
Is it possible to publish a running basic system and the Button components in a separate Github repo? Readme.md, Button.css, Button.js and index.js. It would be very helpful.

[2017-08-03 16:24] n1313 commented on #565
@joergklein there are examples in this repo, are they not enough?

[2017-08-03 21:37] stepancar commented on #565
@apennell @joergklein
You can see our base [webpack config](https://github.com/alfa-laboratory/arui-presets/blob/master/webpack.base.js) for web application based on [our ui-library](https://alfa-laboratory.github.io/arui-feather/styleguide/) [arui-feather](https://github.com/alfa-laboratory/arui-feather)
Also all another configs like postcss, babel, eslint, stylelint, tslint, tsconfig which we us

[2017-08-04 22:28] dkaoster commented on #133
A fairly critical feature for an implementation I've been working on is to be able to render things in iframes as well as the ability to easily resize the component to have the ability to see all the different responsive variations of the component.

I've built a very crude modification to get components to render in iframes via [`react-frame-component`](https://github.com/ryanseddon/react-frame-c

[2017-08-04 23:06] Jmeyering commented on #565
We have implemented RSG in conjunction with [Styled Components](https://www.styled-components.com). Right now we are waiting on https://github.com/reactjs/react-docgen/pull/198 to get merged into `react-docgen` so that we are able to use styled components natively, however we have shimmed a patched fork into our system to enable it to work for now.

Styled Components are really great for packaging

[2017-08-07 12:31] sapegin commented on #478
I’ve linked your example from the docs — https://react-styleguidist.js.org/docs/thirdparties.html#fela

Thank you very much!

[2017-08-07 12:31] #478 closed

[2017-08-07 12:31] sapegin commented on #513
Fela has an official example now: https://react-styleguidist.js.org/docs/thirdparties.html#fela

[2017-08-07 19:24] stepankuzmin commented on #84
Hi there! Thanks for this project! I have the same problem with `mapbox-gl`. It works with development environment but fails after building minified version.

The project is located here: https://github.com/urbica/react-map-gl
webpack.config.js: https://github.com/urbica/react-map-gl/blob/master/webpack.config.js
styleguide.config.js: https://github.com/urbica/react-map-gl/blob/master/styleguide.c

[2017-08-07 19:35] sapegin commented on #84
@stepankuzmin Works fine for me, except this warning:

[code]

Please open a new issue, most likely it’s not related to this one.

Very good, you should not make a production build with `development` ;-)

[2017-08-07 19:44] stepankuzmin commented on #84
@sapegin thanks for the reply! Project setup requires `MAPBOX_ACCESS_TOKEN` (https://www.mapbox.com/help/define-access-token/) but the problem is not with it.

Everything works fine on `styleguidist server`, but styleguide build brokes on `styleguidist build` due to UglifyJS plugin. Probably there is a problem with minifying `mapbox-gl`. My workaround is to manually disable UglifyJS plugin on buil

[2017-08-07 19:49] sapegin commented on #84
@stepankuzmin I’d better fix a bug if there is one ;-) But I can’t even reproduce it in your repo. Do I need access token to reproduce the issue?

[2017-08-07 22:49] hmontes commented on #430
this code (Obviously the React-router store). Where i put? in .md file associated to my component ? (I have the same issue with Link)
[code]

[2017-08-08 07:37] sapegin commented on #430
@hmontes Yup, exactly, as any other component example.

If you have any issues, please make a demo project that we can debug based on this repo: https://github.com/styleguidist/example and open a new issue.

[2017-08-09 05:20] kidkuro opened #566 "The borderRadius, maxWidth, and sidebarWidth theme config variables cannot be overridden"
The `borderRadius`, `maxWidth`, and `sidebarWidth` theme config variables cannot be overridden.

- Styleguidist version 6.0.8
- Webpack version 3.0.0
- Applicable styleguide config:
[code]

in `styles/createStyleSheet.js` it has:
[code]
[lodash merge](https://lodash.com/docs/4.17.4#merge) will attempt to modify the properties of `theme` with the values in `config.theme`, however the top level prop

[2017-08-09 06:45] sapegin commented on #566
Fell free to send a pull request to fix that ;-)

[2017-08-09 16:02] kulakowka opened #567 "No matching version found for function.name-polyfill@^1.0.5"
I have an error when i try to install Styleguidist:

[code]

[code]

Anybody have similar error?

[2017-08-09 16:54] sapegin commented on #567
Nope, I’ve just tried it. Did you try to clear npm cache? Could be some network issue too.

[code]

[2017-08-09 22:19] apennell commented on #565
Thanks for your input everyone! It seems like @n1313 was pointing me in the right direction with the suggestion of no ExtractTextPlugin. I made [a new config](https://gist.github.com/apennell/8c068a2d43efb1a0336e423be83d9201) based on [the gist](https://gist.github.com/sapegin/301605a325b17c74022d612aabe3ae78) that @sapegin posted and [this sample webpack.config](https://github.com/css-modules/web

[2017-08-09 22:50] hmontes opened #568 "Subcomponents. How to document?"
Hi

I have Subcomponents in my project (Like Semantic-ui React, Bootstrap react and many frameworks). Like these.

[code]

But i can't see the propTypes or the main documentation from Input. I only see the documentation from Forms. How can i deal with this?

Thank you

P.D: Separate is not an option because i'm implementing Form.label, Form.input, Form.select (Like any css framework).

[2017-08-10 07:20] sapegin commented on #568
Looks like we don’t have a good (any?) solution for that now. For now Styleguidist supports only one component per file.

Any ideas how it could be implemented? And how it could look? Should we show “subcomponents” as normal components or differently somewhere inside the main component docs?

[2017-08-10 08:38] sapegin commented on #565
OK, I’ll try ;-)

First, the component library:

[code]

No webpack, not touching CSS Modules, just transpiling ES6 and copying CSS files as is.

Now, the app:

[code]

The actual set up is more complicated so it may not work if you try to use this code as is.

[2017-08-10 10:09] #566 closed

[2017-08-10 10:53] smashercosmo opened #572 "Implement smarter way to resolve components"
Currently react-styleguidist heavily rely on glob patters. And for 90% of cases it's ok. But sometimes there could me more complicated cased for which glob patterns are not enough. For example user could have several components in one folder, but wants to document only one of them. Imagine the following folder contents:
[code]
User wants to colocate ListItem component with List component, because

[2017-08-10 11:26] sapegin commented on #572
There’s a way to do that — pass a function to `components` option: https://react-styleguidist.js.org/docs/configuration#components

[2017-08-10 11:26] #572 closed

[2017-08-10 12:03] smashercosmo commented on #572
Yeah, figured out how to do it) Thx

[2017-08-10 12:05] sapegin commented on #572
@smashercosmo Feel free to improve the docs if have a good example ;-)

[2017-08-10 14:55] smashercosmo commented on #527
This is pretty critical issue. May be as a workaround we can temporally downgrade react-codemirror?

[2017-08-10 15:09] sapegin commented on #527
@smashercosmo Feel free to send a pull request if that would solve the issue.

[2017-08-10 15:09] sapegin commented on #527
There’s an unmerged PR at react-codemirror: https://github.com/JedWatson/react-codemirror/pull/124

[2017-08-10 15:11] smashercosmo commented on #527
Yeah, I saw the PR, but react-codemirror is not under active development

[2017-08-10 18:34] #456 closed

[2017-08-11 07:37] sapegin commented on #521
Looks like it just works in 6.x after react-dev-tools update:

![image 2017-08-11 at 9 36 09 am](https://user-images.githubusercontent.com/70067/29204659-9d26cda2-7e78-11e7-84f3-11813651c6fe.png)

[2017-08-11 07:37] #521 closed

[2017-08-14 09:36] sapegin opened #573 "Migrate to react-codemirror2"
Since the original react-codemirror is not maintained anymore and the author isn’t responding even to direct messages, and there’s a bug that [affects our users](https://github.com/styleguidist/react-styleguidist/issues/527).

https://github.com/scniro/react-codemirror2

/cc @scniro @misantronic @smashercosmo

[2017-08-14 15:31] boldfacedesign opened #575 "Cannot require CSS polyfill"
I'm trying to include a stylesheet as per https://react-styleguidist.js.org/docs/cookbook.html#how-to-add-custom-javascript-and-css-or-polyfills

Whilst this seems to work for `.js` files I get the following error with `.css` requires:

[code]

Appears to be related to #323

[2017-08-14 15:39] boldfacedesign commented on #575
Figured this out. My project uses `less` and my main webpack config (which is used by styleguidist by default) only has a test and loader setup for `.less` and not `.css`

[2017-08-14 17:41] sapegin commented on #575
Looks like we have a bug in a function that should print a messages that you don’t have a loader ;-?

[2017-08-14 17:56] #575 closed

[2017-08-14 20:00] sapegin opened #576 "Incorrect margins on error message of noeditor example"
![image 2017-08-14 at 9 51 26 pm](https://user-images.githubusercontent.com/70067/29288887-d8275998-813a-11e7-8416-45c2610032ec.png)

Right now the negative margin is [in the PlaygroundErrorRenderer](https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/PlaygroundError/PlaygroundErrorRenderer.js#L7) which is not good but used to work before we’ve introduced `noeditor` m

[2017-08-16 09:47] #573 closed

[2017-08-16 13:37] boldfacedesign opened #578 "Wrapper component not compiling"
I'm trying to implement a Wrapper component via the config as per https://react-styleguidist.js.org/docs/thirdparties.html#redux

Wrapper component code is as follows:

[code]

According to the docs this should work. My webpack config should have no problem parsing/understanding this yet I'm met with the following error:

[code]

I've tried restructuring the component to not use a static field for

[2017-08-16 13:44] sapegin commented on #578
Looks like it’s complaining about the `class` keyword but I’m not sure. What loader are you using for this file?

Please make a demo project that we can debug based on this repo: https://github.com/styleguidist/example

[2017-08-16 14:06] boldfacedesign commented on #578
For reference here's a copy of my webpack config (minus any sensitive data):

[code]

[2017-08-16 14:09] sapegin commented on #578
Looks like you don’t have any loaders for this file. Try to add it to `include` of babel-loader.

[2017-08-16 14:20] boldfacedesign commented on #578
Whoa! Nice catch.

Updated config to include doc dir:
[code]

Working like a dream. Thanks.

[2017-08-16 14:20] #578 closed

[2017-08-16 15:06] XOP opened #579 "updateExample and relative paths"
This might be a feature as well, not sure.

What I'm trying to achieve is ability to include corresponding samples in every component: optionally embed a `samples.js` file into `.md`, but it won't work.

The structure I have is pretty common:

[code]

config:

[code]

and `md` contents look simply like this:
[code]

Is there a workaround, other than providing file path in the settings in `.md` fil

[2017-08-16 22:30] stepancar commented on #579
@sapegin , lets extend props with filePath?

[2017-08-17 06:16] boades commented on #350
Any luck with this?

[2017-08-17 06:56] sapegin commented on #579
Please use fenced blocks with language tags (for example ```` ```js````) to make code examples more readable.

[2017-08-17 06:58] sapegin commented on #579
@stepancar I think the first is better because it’s immutable and everything inside the `props` you can change.

Are you guys interested in sending a pull request to fix that? ;-)

[2017-08-17 12:24] skube opened #582 "Filter components in Main content area, not just sidebar"
This is more of an idea...I'm just wondering if anyone else would find it useful if the filtering of components in the sidebar also affected the main content area.  That would allow one to easily scroll through the filtered components.

I **really** like the filtering, I just thought it could be _more_ useful.

[2017-08-17 12:54] sapegin commented on #582
I’m afraid it could be very slow when you have many components.

[2017-08-17 13:38] skube commented on #582
🙁 Oh well just a thought.

[2017-08-17 13:38] #582 closed

[2017-08-18 03:30] boades commented on #121
Only some bots execute js (google spider does for example), but most of them don't wait for ajax calls to finish. I say most because I don't know any of them that do wait.

Static rendering is the MUST for SEO optimization if you fetch data from a server using ajax and dynamically generate HTML afterward. Otherwise, it can improve the first-time-loading experience and allow your page to be cached

[2017-08-18 06:14] okonet commented on #121
We have an unfinished branch #330 but I think @kof didn't have time last time. I'd like to push it, though.

[2017-08-18 07:38] #579 closed

[2017-08-19 16:42] papasmurf17 opened #584 "CSS EM unit is not isolate"
In my react components I use `EM` as font size unit, and when the components are rendered all font sizes are wrong.

I know that `EM` is relative unit and if the container changes font-size all childs inherit this change, but the final aim of react-styleguidist is:

My workaround to bypass this problem was add this piece of configuration to the **styleguide.config.js**

[code]

[2017-08-19 19:02] sapegin commented on #584
Please use fenced blocks with language tags (for example ```` ```js````) to make code examples more readable.

[2017-08-19 19:04] sapegin commented on #584
Looks like we need to add font-size here:

https://github.com/styleguidist/react-styleguidist/blob/master/src/styles/setupjss.js#L21-L23

Feel free to send a pull request for that ;-)

[2017-08-21 08:53] hueyhe opened #586 "How to add favicon to styleguide document?"
Hi, I'm trying to add a favicon to my styleguide document via HtmlWebpackPlugin. However, in [Configuring webpack](https://react-styleguidist.js.org/docs/webpack.html) it mentioned that `HtmlWebpackPlugin` would be ignored cause styleguidist also has this plugin. So how can I add favicon to the generated html page? Is there another way to achieve it?

[2017-08-21 09:13] sapegin commented on #586
1. Just put a `favicon.ico` file if you deploy your style guide into the server root folder.

2. Add a custom HTML template using the [template](https://react-styleguidist.js.org/docs/configuration#template) option.

[2017-08-21 09:42] #584 closed

[2017-08-21 15:10] okonet opened #587 "skipComponentsWithoutExample should respect imports from other components"
I think I'm hitting an interesting edge case with `skipComponentsWithoutExample`.

This is how the component's structure looks like in my project:

[code]

Please note that not every component in DataGrid has an example, but only topmost components are: i.e.  `DataGrid.md` and `SortedDataGrid.md`. At the same time, they require the underlying components from this directory in their source code i.e

[2017-08-21 15:35] sapegin commented on #587
This feature is super stupid — there’s not dependency graph at all ;-| If you require a component from the source of another component, it should work. It won’t work if you try to use this component in an example of another component.

Do you have any ideas how we can fix it?

As a workaround you could manually import all components you need like this:

[code]

And then use this file in `require` 

[2017-08-22 03:22] hueyhe commented on #586
@sapegin Thanks for reply. I ended up with adding a template file and specified a favicon link in template. I think it would be best if there is a `favicon` config option in styleguidist configuration since `HtmlWebpackPlugin` also has this config option.

[2017-08-22 03:22] #586 closed

[2017-08-22 06:03] shantp opened #589 "Support for flow 53"
New changes to how to define Components in flow 53: https://medium.com/flow-type/even-better-support-for-react-in-flow-25b0a3485627

Moving props out of Component class breaks styleguidist.

[2017-08-22 06:38] sapegin commented on #589
It should be fixed in react-docgen: https://github.com/reactjs/react-docgen/issues/207

[2017-08-22 06:38] #589 closed

[2017-08-22 21:51] Jack-Barry opened #590 "Changes in .scss Require Server Restart"
The background:
I want to use Sass to set color and text styling variables that are all in one place
I want CSS modularity for components to prevent pollution of global namespace
It's working beautifully, except...

When I'm running the Styleguidist dev server, it compiles fine and I can load the app in the browser.  When I make changes to any .scss files, it shows `Compiled successfully!` but the

[2017-08-23 06:43] okonet commented on #587
One idea would include leveraging of the webpack dependency tree but as you mentioned, this probably will require a major rewrite :/

[2017-08-23 06:43] #587 closed

[2017-08-23 06:54] sapegin commented on #590
Please use fenced blocks with language tags (for example ```` ```js````) to make code examples more readable.

[2017-08-23 06:56] sapegin commented on #590
And, just an idea, try to remove `ExtractTextPlugin` and see if it helps.

[2017-08-23 11:56] Jack-Barry commented on #590
I added the `js` to code examples to make for easier reading.

Looks like the example project won't be needed, removing `ExtractTextPlugin` worked!  I'll probably just go the route of customizing the Webpack config for Styleguidist so that Webpack is still able to emit a CSS via `ExtractTextPlugin` or maybe `extract-loader` for production build but won't interfere with Styleguidist.  Once I find o

[2017-08-23 11:56] #590 closed

[2017-08-23 20:06] Jack-Barry commented on #590
Got some time today to get this running nice and smoothly if anyone else wants a similar setup.

The trick is to get some separate configs set up for development and production.  I like to keep things as DRY as possible so I made use of `webpack-merge` to share commonality between the configs.  Here they are:

`webpack.common.js`

[code]

`webpack.dev.js`

[code]

`webpack.prod.js`

[code]

`style

[2017-08-24 00:03] sabhyankarxactly opened #591 "Support for font-awesome icons"
How do I get the font-awesome library to load in the styleguidist? I tried the method for loading external CSS (see below) but it does not load the font-awesome icons.

- Your style guide config (`styleguide.config.js`).
[code]
- Webpack version.
2.2.1
- Operating system, browser and version if it’s a layout bug.
Windows 10, Chrome v60

- Reproducible demo:
I can add a reproducible demo if require