[2015-09-07 08:25] sapegin opened #1 "0.1"
* [x] Component preview.
* [x] Live editor.
* [x] Markdown examples rendering.
* [x] Markdown examples hot reload.
* [x] PropTypes documentation.
* [x] Sane styles.
* [x] CLI.
* [x] Ability to extend Webpack config.
* [x] Ability to specify config location via CLI.
* [x] Improve example project.
* [x] Production build.
* [x] Publish example to gh-pages.
* [x] Readme.
* [x] ESLint.
* [x] Travis CI.

[2015-09-24 09:48] #1 closed

[2015-09-29 09:04] tp opened #5 "ERROR in multi main: Module not found: Error: Cannot resolve 'file' or 'directory'"
This looks like a great project and I just wanted to try it out, but sadly I seem to have an error in my config.

[code]

Any hint would be appreciated.

My config looks like this:

[code]

And my file tree like this:
![screen shot 2015-09-29 at 11 03 43](https://cloud.githubusercontent.com/assets/52437/10159659/cef56cb0-6699-11e5-99cd-9fb66c234524.png)

Any help is appreciated :-)

[2015-09-29 09:11] sapegin commented on #5
Would you mind to send me your code at artem@sapegin.ru so I could debug it?

[2015-09-29 09:46] tp commented on #5
Thanks a lot for taking the time. I have send you a copy.

[2015-09-29 12:35] sapegin commented on #5
Published a new version, now it should work. Let me know if you encounter any other issue.

[2015-09-29 12:50] tp commented on #5
Still failing here:

[code]

[2015-09-29 12:52] sapegin commented on #5
Do you have something in `/Users/timm/Projects/ui-toolbox/node_modules/react-styleguidist/node_modules/webpack-hot-middleware`? Also try to check `npm ls` if something is missing.

[2015-09-29 13:06] tp commented on #5
`npm ls` looks fine, no errors:

[code]

`node_modules/react-styleguidist/node_modules/webpack-hot-middleware` does not even exist.

`react-styleguidist` is probably missing the `webpack-hot-middleware` package, but why?

[2015-09-29 13:08] tp commented on #5
When I move the `webpack-hot-middleware` manually to that place it works fine..

[2015-09-29 13:13] sapegin commented on #5
Probably because it’s installed as a dependency of your project.

[2015-09-29 13:30] tp commented on #5
So is this an npm bug, or should this project just use the top-level one?

[2015-09-29 13:31] tp commented on #5
This new line is probably the culprit: https://github.com/sapegin/react-styleguidist/blob/18041bf8919a6605e97bc8205a0ec26b22756531/src/make-webpack-config.js#L107

[2015-09-29 13:50] tp opened #6 "Adding webpack loader requires hack"
I needed to add the `json-loader` because the `color` npm package imports some JSON config files and those break web pack without it.

In order to get this working with `styleguidist` I had to move the `colors` package to `node_modules/react-styleguidist/node_modules` though..

This is how I configure webpack:

[code]

There seems to be a path issue with require in this project.

[2015-09-29 13:54] sapegin commented on #5
Most probably it’s my misunderstanding of how npm and Webpack work ;-)

I’ve changed the path to absolute because it didn’t work with relative path. Do you have webpack-hot-middleware in your package.json? Which version?

[2015-09-29 14:01] tp commented on #5
I had webpack-hot-middleware@^2.3.0 installed in root, but then moved it to the styleguidist's `node_modules` folder as a workaround.

This is probably related to #6 as well, so I will try to also have a look at the web.pack config

[2015-09-29 14:29] sapegin commented on #6
Yeah, I think I know how to fix it.

[2015-09-29 14:34] sapegin commented on #6
Please try with 0.1.4.

[2015-09-30 07:15] tp commented on #6
:+1: Thanks a lot, it works now. Now that the basis is stable I hope to contribute some enhancements!

[2015-09-30 07:15] #6 closed

[2015-09-30 07:41] sapegin commented on #6
Great to hear it!

:shipit:

[2015-09-30 07:41] sapegin commented on #5
Can we close this issue too?

[2015-10-02 15:18] mik01aj opened #9 "Trying styleguidust out on an existing project"
Hi, first I wanted to say that your project looks impressive! :)

But I just tried styleguidist on my existing project, and it failed with a lot of errors. From what I understand, `react-styleguidist/loaders/props.loader.js` tried to parse my `*.jsx` files as ordinary JS (error message is mostly `Unexpected token <`). I don't know why exactly this happens, but it seems to me that styleguidist has

[2015-10-02 15:36] mik01aj commented on #9
I managed to get rid of errors with my files with this config:

[code]

But it still fails with this error:

[code]

[2015-10-02 18:33] reintroducing opened #10 "Not working :/"
This looks like a fantastic little module but I can't seem to get it working.  I'm using Browserify normally as my bundler (not webpack for local dev) with ES6 React components.  Here is my config:

[code]

If I run the build script and nothing else, the resulting HTML page shows this error:

[code]

If I try to run the server for local dev I just get:

[code]

When I look at my Terminal window I

[2015-10-03 06:14] sapegin commented on #10
Sure, I forget to add .jsx extension.

[2015-10-03 14:12] reintroducing commented on #10
I'm not familiar with Webpack but is this something I should do myself extending the config or needs to be added to the project by you?

[2015-10-03 14:14] sapegin commented on #10
You can do something like [this](https://github.com/sapegin/react-styleguidist/issues/9#issuecomment-145065708) but I’ll add .jsx support soon.

[2015-10-03 14:16] sapegin commented on #9
I’ll add .jsx support but the last error is strange. Looks like Babel ignored settings in `.babelrc`. Would you mind sending me your code at artem@sapegin.ru so I can debug?

[2015-10-03 14:17] reintroducing commented on #9
I actually got to this point as well after adding the jsx loader in my config and after seeing this I gave up yesterday :)  I'll be watching this issue closely.

[2015-10-03 19:04] #5 closed

[2015-10-03 20:08] #10 closed

[2015-10-03 21:05] sapegin commented on #9
Please try 0.1.5.

[2015-10-03 21:09] sapegin opened #11 "Ability to ignore components"
Array of regexp masks or function.

[2015-10-03 21:43] reintroducing commented on #9
Just tried it and got the following:

[code]

[2015-10-04 06:47] sapegin commented on #9
At least is’s something new ;-) I can reproduce it, so I’ll try to fix it soon.

[2015-10-04 08:00] sapegin commented on #9
Should work in 0.1.7.

[2015-10-04 13:26] reintroducing commented on #9
Just tried it. New error :)

[code]

Also of note is I'm seeing this when first running it:

[code]

[2015-10-04 14:38] sapegin commented on #9
I had both of them before 0.1.7. Try to reinstall the dependencies:

[code]

If it doesn’t help I’ll need some code to debug because I can’t reproduce these errors anymore.

[2015-10-04 15:01] reintroducing commented on #9
Here you go: http://dev.reintroducing.com/2014/stylist.zip

This is as small as possibly I could make the project so its easy to share and still shows the errors I'm experiencing.  Let me know if you need anything else.

[2015-10-04 15:15] sapegin commented on #9
Works with this config:

[code]

rootDir shoudn’t point to the project root with node_modules etc. It drives Webpack mad when it tries to compile stuff inside node_modules. I should clarify in the docs and improve config validation.

[2015-10-04 15:28] reintroducing commented on #9
Well that's completely embarassing :)  Thanks alot, this is now working great, really appreciate all the help.  Keep up the great work.

[2015-10-04 15:36] sapegin commented on #9
I’m glad to hear it ;-)

[2015-10-04 15:36] #9 closed

[2015-10-04 16:44] tp commented on #5
Yes, sorry forgot about this. No more custom shenanigans needed iirc.

[2015-10-05 11:27] mik01aj commented on #9
@sapegin, thanks for your work! I can now run styleguidist, and it can display the props for one component, but when I add another one, it fails:

![image](https://cloud.githubusercontent.com/assets/3027415/10279275/92bb7de6-6b64-11e5-8d1a-002fc7921aee.png)

Here are the `propTypes` of the relevant component:

[code]

[2015-10-05 12:13] reintroducing opened #12 "Suggestions"
I wasn't sure where to post this so I'm just putting it in an issue. After having worked with this awesome tool a bit over the weekend here are some suggestions which I think would make it more extensible for larger projects:

- [x] Set path to styleguide.config.js
- [x] Set path to template for output
- [x] Set a different syntax highlighter
- [x] If a type is "union" list out the possible types

[2015-10-05 12:30] reintroducing commented on #12
I just realized that you're using CodeMirror and took a look at it. It's actually really nice so I would say instead of a different syntax highlighter that would change to different theme for the syntax highlighting.

[2015-10-05 12:41] sapegin commented on #12
Thanks for your comments! Pull request or an issue with any ideas on how to better implement each of these would be very cool.

[2015-10-05 12:46] sapegin commented on #9
@mik01aj could you please move this to a new issue? I’ll look at it.

[2015-10-05 13:07] mik01aj opened #13 "Exception when having an enum in propTypes"
(originally reported in https://github.com/sapegin/react-styleguidist/issues/9#issuecomment-145516722)

I can now run styleguidist, and it can display the props for one component, but when I add another one, it fails:

![image](https://cloud.githubusercontent.com/assets/3027415/10279275/92bb7de6-6b64-11e5-8d1a-002fc7921aee.png)

I think it's because of the enum in the other component's `propTypes`

[2015-10-05 13:09] reintroducing commented on #12
I was looking at the code earlier and will look at it some more to see if I can figure out some good ideas for it or open some PRs that would add this functionality.  As I mentioned in another issue I'm not a webpack user though I have wanted to try it out for some time now so maybe this would be a good way for me to do that.  I think the first five items I mentioned would be relatively trivial wi

[2015-10-05 13:25] sapegin commented on #12
Thank you very much, I appreciate any help. If you need to discuss something feel free to [contact me](http://sapegin.me/).

[2015-10-05 13:26] sapegin commented on #12
And for the first item I think it’s [already there](https://github.com/sapegin/react-styleguidist#--config).

[2015-10-05 13:43] reintroducing commented on #12
Yep, you're absolutely correct, it is there. :)

[2015-10-05 23:20] reintroducing commented on #12
I opened a PR for the template. Let me know if this works for you.

I was thinking a bit more about the ability to switch the syntax highlighting theme.  The catch here is that I don't know how to pull the config variables into the Editor component so that it can be set in the config and then read in there to set the theme.  I think (althought I don't really know, I thought I remember reading it s

[2015-10-06 08:26] sapegin commented on #12
I already [pass the title](https://github.com/sapegin/react-styleguidist/blob/master/loaders/styleguide.loader.js#L45) from config to React so it’s easy to extend this to other options (or the whole config).

[2015-10-06 12:39] reintroducing commented on #12
Fantastic! That answers my email question as well (and I did see your response, thanks).

[2015-10-06 18:44] sapegin commented on #13
I can’t reproduce it:

![](http://wow.sapegin.me/image/1u2p0m40413n/Image%202015-10-06%20at%208.43.07%20PM.png)

Maybe there are some other fields like `defaultProps`…

[2015-10-07 15:19] mik01aj commented on #13
I don't have `getDefaultProps` in this component. What else is checked?

[2015-10-07 15:21] sapegin commented on #13
I don’t know what react-docgen is returning for your component. If you show me the full component code, I could debug it.

[2015-10-08 08:40] sapegin opened #16 "Replace JSXTransformer with Babel"
JSXTransformer is deprecated.

[2015-10-09 13:16] mik01aj commented on #13
A ha! I got it!
So well, actually my enum was generated from some other data. This is the output from `react-docgen`:

[code]

`coverWidths` is a variable defined in that file. In runtime it's generated correctly, but `react-docgen` can't parse it.

[2015-10-12 18:05] onemanstartup commented on #12
@sapegin is there a plan to automatically setup prop toggles to change state? It will be great for discovery how component behave if you have many props.

[2015-10-12 18:07] sapegin commented on #12
@onemanstartup Not a plan but a wish ;-) Pull request are very welcome.

[2015-10-13 05:36] sapegin opened #18 "Add babel-plugin-react-display-name"
To [preserve `displayName`](https://github.com/gaearon/babel-plugin-react-transform#installation) when using `React.createClass()`.

[2015-10-13 12:07] sapegin opened #19 "Proper JSX support in the code editor"
Try something [like this](https://github.com/timbur/codemirror-jsx).

[2015-10-13 12:13] sapegin opened #20 "Add support for PropTypes.arrayOf and/or PropTypes.shape"
This does not render correctly:

[code]

Expected result:

[code]

Actual result:

[code]

[2015-10-20 15:24] sdemjanenko opened #21 "Improve scoping of css"
This file is resetting styles across the board.  Im finding that my inputs don't have borders, my selects look like text with no select styling at all.

[2015-10-20 17:23] sapegin commented on #21
What file?

[2015-10-20 18:19] sdemjanenko commented on #21
`src/styles.css`

[2015-10-23 19:49] psachs21 commented on #12
Hi all, I've spent some time fiddling with this repo and it's shown really great promise but I had an idea that may help with all the above. Right now the repo allows us to specify a relatively limited html template. What I am suggesting is that the user could provide their own StyleGuide component and add whatever flavor of filtering/grouping that they feel necessary.

This requires that the proj

[2015-10-23 19:55] sapegin commented on #12
@psachs21 That could be useful but I have no idea how to implement it in a good way.

[2015-10-23 19:58] psachs21 commented on #12
I have figured a way to allow us to specify a component which works fine, I just need to figure out how we want to expose it. Right now, requiring the tool just provides the build function (from build.js) but we could make it instead return an object that has the build function and the components. The only question is how to make sure their in a format that is compatible with the user's component

[2015-10-23 19:59] psachs21 commented on #12
But I'm still thinking about it, so maybe i'll come up with something more resilient.

[2015-10-23 20:04] sapegin commented on #12
@psachs21 Probably we can specify a module with the custom StyleGuide component, require it in `src/index.js` and render instead of the standard one. Not sure if it works ;-)

[2015-10-23 20:04] psachs21 commented on #12
It does, but it needs to do it in the styleguide loader (config isn't available in index.js) that's what my fork is doing.

[2015-10-23 20:05] psachs21 commented on #12
Just need to figure out the best way to import the styleguide's components into my custom components.

[2015-10-23 20:14] psachs21 commented on #12
We'd probably need a lib directory that would contain the components in a compiled state (ES5) and add an install step that compiles them.

[2015-10-23 20:17] sapegin commented on #12
@psachs21 Not sure it’s good idea. I’ll look at your fork later, maybe I’ll came up with something.

[2015-10-23 20:21] psachs21 commented on #12
@sapegin I haven't done the dist directory, just poking the idea. But any comments would be hugely appreciated. I'm still really just playing with these ideas.

[2015-10-24 08:11] jeroenverfallie commented on #12
Perhaps it might be a clean solution to just extract the entire styleguide loader part, then anyone is free to use the data in any way they want.

[2015-10-24 08:15] sapegin commented on #12
@jeroenverfallie There are three loaders but it’s a good idea, I thought about that.

[2015-10-26 21:17] psachs21 commented on #12
@jeroenverfallie @sapegin I was intrigued by the idea of separating the loaders but I liked what the makeWebpackConfig utility provides. I've updated my fork to move all the components into the example. I am not in love with the way everything is organized but it is working. I will likely refine the organization of the configurations. Also, I'll likely trim the library's dependencies now that the

[2015-10-27 14:41] sapegin opened #22 "Update to React 0.14"
And drop React 0.13 support.

[2015-10-28 15:16] sapegin commented on #22
Done in 1.0.0.

[2015-10-28 15:16] #22 closed

[2015-10-28 15:22] sapegin commented on #12
I’ve tried another approach to extending style guide and it could be enough some use cases. In my case it was [react-intl](https://github.com/yahoo/react-intl) integration. I’ve added two container components `StyleGuide` and `Wrapper` where you can inject your code using Webpack’s aliases.

`styleguide.config.js`:

[code]

`lib/styleguide/Wrapper.js`:

[code]

[2015-10-28 15:34] psachs21 commented on #12
Hmm, interesting. I should have tried that myself, it would have required
less hacking and slashing. It may be enough for what I need to do. I added
a few other things to my fork (multiple component directories) but these
modifications may be sufficient.

Thanks.

On Wed, Oct 28, 2015 at 11:22 AM, Artem Sapegin <notifications@github.com>
wrote:

[2015-10-29 19:43] panayi opened #23 "Need to restart server for previewing changes"
Development server isn't working properly with the included example. After `git clone git@github.com:sapegin/react-styleguidist.git` I run the example with:

[code]
`http://localhost:3000/`works fine. I make some change (either to the components or `Readme.md`) but hot reload isn't working. I manually reload the page but still don't get the changes.

My environment:

[code]

And `npm list` output

[2015-10-29 20:27] panayi commented on #23
Tried fresh `npm cache clean && rm -rf ./node_modules && npm install --verbose` and it hangs to

[code]

So most probably not an issue with this package

[2015-10-29 22:09] panayi commented on #23
So I solved the issues with `npm install` and now [`npm ls`](https://gist.github.com/panayi/314800ccdb7dbb841719) shows no errors, but still having the same issues with dev server. Webpack is not re-building when code changes and, obviously, hot reload isn't working.

[2015-11-04 16:28] mik01aj commented on #19
+1. It looks ugly :)

![image](https://cloud.githubusercontent.com/assets/3027415/10944432/71cb85a0-8319-11e5-83b6-290f4059a16b.png)

[2015-11-04 16:52] mik01aj opened #24 "HTML output from marked is not always valid"
The following produces invalid HTML:

[code]

...and if the HTML is invalid, I get this error in console:

![image](https://cloud.githubusercontent.com/assets/3027415/10944924/baf3be9e-831b-11e5-9fff-37f045774af8.png)

...and all the code examples after the invalid HTML part are broken.

I guess we could either:

a) report this as bug in `marked` (but they could say - well, you give inavlid html i

[2015-11-05 06:30] sapegin commented on #24
What’s more important is that it’s invalid Markdown ;-)

But this commonmark looks very promising, I’ll try it.

[2015-11-05 06:51] sapegin commented on #23
Just checked: everything is working for me.

[2015-11-05 07:12] sapegin commented on #19
Looks like it doesn’t help much :-(

![](http://wow.sapegin.me/image/3n2I2E0e0a1W/Image%202015-11-05%20at%208.11.13%20AM.png)

[2015-11-06 07:34] sapegin commented on #16
https://github.com/FormidableLabs/component-playground/blob/master/src/components/preview.jsx

[2015-11-06 20:32] sapegin commented on #19
I’ve tried these, all of them don’t work:

* https://github.com/timbur/codemirror-jsx/blob/master/jsx.js
* https://github.com/rarous/brackets-jsx/blob/master/main.js
* https://gist.github.com/jquense/265b46c740da4d20a718
* https://github.com/codemirror/CodeMirror/pull/3605

[2015-11-06 21:24] sapegin commented on #19
The best I could achieve so far:

![](http://wow.sapegin.me/image/0C0R100J1E0p/Image%202015-11-06%20at%2010.23.50%20PM.png)

[2015-11-07 17:05] mik01aj commented on #19
Much better than it was. Thanks :+1:

[2015-11-09 10:59] #13 closed

[2015-11-09 11:26] mik01aj commented on #18
:+1: This is currently the #1 issue for my styleguide.

[2015-11-09 13:28] sapegin commented on #18
Did you try babel-plugin-react-display-name?

[2015-11-09 15:32] mik01aj commented on #18
No. I don't really know how and where to add it.

I did some dirty workaround just for me:

![image](https://cloud.githubusercontent.com/assets/3027415/11037711/6c6675cc-86ff-11e5-843b-154efc7e0af7.png)

[2015-11-09 16:03] mik01aj opened #28 "Better navigation UI in the styleguide"
Originally suggested by @reintroducing in #12:

I love this idea. My current codebase has around 20 components now, so it's not big, but navigating the page is hard already. I think that it's OK to keep it all on one page, we just need some better navigation. Imho the [Bootstrap documentation](http://getbootstrap.com/components/) is a great example of this.

Possibly related issue that might be us

[2015-11-09 16:03] mik01aj commented on #12
@reintroducing I opened #28 to discuss your last point.

[2015-11-09 16:32] mik01aj commented on #28
Possibly related issue that might be useful: https://github.com/react-bootstrap/react-bootstrap/issues/51

[2015-11-09 16:56] sapegin commented on #28
We have 21 and I already started thinking about that too ;-)

I like how it’s done in Bootstrap. I think we don’t need nesting for the first version, it could be just a list of components with position:fixed with or without scrolling spy.

[2015-11-09 17:54] psachs21 commented on #28
I achieved this functionality by added metadata support to the examples loader. This allows who ever is writing the examples add custom data which can be used by the app to sort/exclude however they want. Just need to replace 'marked' with 'meta-marked' and change the API usage a smidge.

[2015-11-10 06:41] #23 closed

[2015-11-10 06:41] #16 closed

[2015-11-10 09:32] mik01aj commented on #19
Have you tried https://github.com/antimatter15/codemirror-jsx?

And https://github.com/codemirror/CodeMirror/issues/3122 is still open, we might get something useful from there later.

[2015-11-10 15:11] mik01aj opened #30 "Lists in Markdown look like plain text"
Readme says it shoud work:

![image](https://cloud.githubusercontent.com/assets/3027415/11065770/6f1650a0-87c5-11e5-8beb-9e0edc795801.png)

but this code:

[code]

renders like this:

![image](https://cloud.githubusercontent.com/assets/3027415/11065816/b02b6d78-87c5-11e5-8cfd-bb5718fdec68.png)

And even the output HTML doesn't look valid, either:

![image](https://cloud.githubusercontent.com/asset

[2015-11-10 15:16] mik01aj commented on #30
Looks like a bug in Marked: https://github.com/chjj/marked/issues/530

So we just need to fix styles in Styleguidist.

[2015-11-10 16:10] sapegin commented on #28
I also like a search field [like here](http://gaearon.github.io/react-hot-loader/).

[2015-11-10 16:13] sapegin commented on #19
They highlight most of the JSX in one color:

![](http://wow.sapegin.me/image/101U2V1E2r3t/Image%202015-11-10%20at%205.12.06%20PM.png)

But we can apply the same hack with hiding error.

[2015-11-10 19:45] psachs21 commented on #28
With the meta-data support and using your own custom styleguide components, that's entirely doable.

[2015-11-10 19:46] sapegin commented on #28
I don’t really understand why we need meta data support for that.

[2015-11-10 19:48] psachs21 commented on #28
You're right, you don't. I guess just lumped tags into my idea of search.

[2015-11-10 19:49] sapegin commented on #28
Of course it could be useful for other things like grouping.

[2015-11-10 19:51] psachs21 commented on #28
Yes, no doubt about that.

On Tue, Nov 10, 2015 at 2:49 PM, Artem Sapegin <notifications@github.com>
wrote:

[2015-11-11 09:59] mik01aj commented on #28
I think that grouping based on directory structure would be enough while not adding new complexity. And I think it's out of scope of this ticket anyway.

So, who's going to implement it? I think I could try, but not this week.

[2015-11-11 10:01] sapegin commented on #28
@mik01aj Agree on both of your points ;-) I’m trying to reduce the number of open bugs now, so can’t start right now too.

[2015-11-11 10:22] mik01aj commented on #11
Or maybe a glob pattern? See: https://github.com/isaacs/node-glob#options

Then, instead of:
[code]
you could do:
[code]

[2015-11-11 10:23] sapegin commented on #11
Nice, didn’t know about that!

[2015-11-11 10:50] mik01aj commented on #11
And maybe even this feature is not necessary at all as you can use a function directly in the config. We'd just need to add an example to the README.

[2015-11-11 10:51] sapegin commented on #11
That’s even better. Can you make a PR for that?

[2015-11-11 10:52] sapegin commented on #11
(Actually you can commit directly to the repo now ;–)

[2015-11-11 14:17] mik01aj opened #31 "Possibility to add plain Markdown pages as documentation"
Right now the structure is very strongly component-oriented. It's a good idea for component libraries, but in real world projects there is a need for overview/explanation pages. Being able to add some introduction, higher-level explanation, documentation of data fetching/processing or just a pile of random snippets of html/jsx would be cool.

Additionally, I'd like to be able to define the order o

[2015-11-11 14:19] sapegin commented on #31
That’s useful but right now I have no idea how to implement that.

[2015-11-12 09:44] sapegin opened #32 "Themes"
Nice default design is great but ability to customize it for particular project is even better.

Possible solutions:

1. Replace CSS Modules with regular BEM: users will be able to add custom CSS via Webpack config.
2. Fix CSS Modules class names (remove hash): same as 1 but easier for Styleguidist development.
3. Other solution I don’t know about?

[2015-11-12 10:07] mik01aj commented on #32
Or maybe add some classes to the existing elements?

I guess that the users will want to style not only the styleguide headers or prop tables, but also the markdown output (which is not styled by our css modules anyway).

[2015-11-12 10:10] sapegin commented on #32
I don’t want to have two sets of classes. But we can add add many classes as needed, we don’t have to use all of them internally ;-)

[2015-11-12 13:03] mik01aj opened #33 "Bad things happen when there are multiple components with the same name"
Basically, the page breaks because of `key`s here:

	renderComponents() {
		let { highlightTheme, components } = this.props;

		return components.map((component) => {
			return (
				<ReactComponent highlightTheme={highlightTheme} component={component} key={component.name}/>
			);
		});
	}

I think we could detect it in `styleguide.loader.js` and then either fix it (`component #1`, `component #2`,

[2015-11-12 13:11] sapegin commented on #33
Or we can just append component path to key.

[2015-11-12 13:12] mik01aj commented on #28
So I tried it, and in the simplest variant it's really simple: https://github.com/lovelybooks/react-styleguidist/commit/c5d486827e37f8081e934c34532a6c4c862c9d52 ;)

[2015-11-12 13:14] sapegin commented on #28
Great!

[2015-11-12 13:30] mik01aj commented on #31
It's kind of tricky because right now documentation "chapters" are "components". A component may have some examples in markdown. We have a function to get these filenames, so it's a one way relation.

I was thinking that in a general case, it'd be nice to have a structure like this somewhere:

[code]

But there's the question, how to design a config API that would be both easy to use and would let

[2015-11-12 13:59] sapegin commented on #31
Few things:

1. Do we need to mix components and plain documents in one section?
2. Do we need to “link” to particular components instead of folders of components?

It could be something like this:

[code]

`toc` config option and `folder` attribute are optional (so it backwards compatible).

[2015-11-12 14:27] mik01aj opened #34 "Generating a test based on source examples"
It would be cool if we could have a task to run all the code examples from the docs and check that they don't throw exceptions both when used with `ReactDOM.render` and `ReactDOMServer.renderToString`. I'd like to put it in  `npm test` task for my project and have it checked with CI.

We just need to get the examples using `examples.loader`, and do it for all the `code` chunks.

I would even imple

[2015-11-14 15:56] operatino opened #35 "Example fails with `config not found`"
[code]

[2015-11-14 16:01] panayi commented on #11
An additional configurable option that may be useful, is to be able to include components only when a sibling `.md` file is present.

[code]

[2015-11-14 16:02] sapegin commented on #11
@panayi Yeah, pull request for that would be very helpful.

[2015-11-14 16:02] operatino commented on #35
Seems like CLI requires to explicitly define config through `--config`, which is a bit confusing. Making UX a bit better, it's probably better to look for standard config name `styleguide.config.js` in the folder, before failing with error.

[2015-11-14 16:15] sapegin commented on #35
Of course it does it. But I don’t understand how you run `styleguidist`. Did you install it globally?

Works fine for me:

[code]

[2015-11-14 16:17] panayi opened #37 "No suitable component definition found"
![image](https://cloud.githubusercontent.com/assets/707005/11164476/43f71f3e-8afa-11e5-80b7-fd164fd0c439.png)

I know this is not an issue specifically with react-styleguidist, for example: https://github.com/reactjs/react-docgen/issues/29

This happens in a lot of cases: when extending/composing components, or when using Redux and the [ `connect()` wrapper](http://redux.js.org/docs/basics/UsageWi

[2015-11-14 16:23] sapegin commented on #37
That’s what I wanted to ask you :-| No ideas right now.

[2015-11-14 16:29] operatino commented on #35
I've installed it globally, and run as a CLI.

[2015-11-14 16:31] sapegin commented on #35
Never tried that and not sure it works. Actually I don‘t see any reason to do it :-)

[2015-11-14 16:33] operatino commented on #35
Strage, because it's described in the documentation of the project https://github.com/sapegin/react-styleguidist#cli-commands-and-options

[2015-11-14 16:34] #35 closed

[2015-11-14 16:35] sapegin commented on #35
Right now it says:

[code]

If you see any value in working global installation and can fix it I’ll be happy to merge a PR.

[2015-11-14 17:02] panayi commented on #11
I'm thinking of two options:

1. A config option `includeOnlyComponentsWithExampleFile:true|false`.
2. A webpack-loader type of syntax: `hasExample` that can be passed in `components`

[code]
In case `components` is a function we can also provide a helper `hasExample` function:

[code]

[2015-11-14 17:04] sapegin commented on #11
Not sure the second options has any benefits but it’s much more complicated.

includeOnlyComponentsWithExampleFile → skipComponentsWithoutReadme?

[2015-11-14 18:10] panayi commented on #11
You are right that the 2nd option is unnecessary complex. Implemented 1st option: https://github.com/sapegin/react-styleguidist/pull/38

[2015-11-14 23:32] mik01aj commented on #11
imho `skipComponentsWithoutReadme` name is not so relevant, because the `Readme.md` name can be changed in the config to anything else. We have `getExampleFilename` in config, so why not `skipComponentsWithoutExample` (or `...examples` - the pluralization is not consistent anyway)?

[2015-11-15 06:40] sapegin commented on #11
@mik01aj good point, I didn’t think about that.

[2015-11-15 10:05] panayi opened #39 "React.findDOMNode is deprecated. Please use ReactDOM.findDOMNode from require('react-dom') instead"
Upgrading `react-codemirror` to `0.2.0` will probably fix it.

See https://github.com/JedWatson/react-codemirror/commit/5bf2a20de8649cae2a521173834d56fda7dc86f5#diff-903ef30e8a234bfe0d0d7900f041e618L8884

[2015-11-15 11:00] #39 closed

[2015-11-16 11:11] mik01aj commented on #33
And later, when we add ids like I did in https://github.com/lovelybooks/react-styleguidist/commit/bb024de001526dcbd7c8befa82ab42d54357152d, shall we also use them for the navigation? (I mean `relativePath`)

[2015-11-16 11:13] sapegin commented on #33
Yeah, I think so.

[2015-11-16 12:17] mik01aj opened #40 "Add docs about using require() in examples."
https://github.com/sapegin/react-styleguidist/pull/25 was merged, but I forgot to add the related documentation. TODO :)

Draft:

---

# Writing usage examples

The examples are extracted from markdown code blocks. They can use any components defined on the page (all the components are exposed as global variables) without requiring them. If you need anything else, you can `require` it just like yo

[2015-11-16 13:51] sapegin commented on #40
:+1:

[2015-11-16 20:00] sapegin opened #41 "Ability to customize comonent path line"
Provide a function (as a config option) that will receive a file path and a component name and return a new string.

For example this will allow to have `import Button from 'components/Button';` instead of `components/Button/Button.js`.

[2015-11-17 08:21] mik01aj commented on #11
I guess this ticket can be closed now.

[2015-11-17 08:23] sapegin commented on #11
We should document ignoring. I think we can add a section like *Recipes* for such things. So I’ll leave it open for now ;-)

[2015-11-17 08:59] operatino commented on #11
In SourceJS, during navigation tree build I only search for component folders with some hook inside, like `info.json`. Maybe in this case it also be wise to include by default only those components, which have `readme.md` next to it?

[2015-11-17 09:01] sapegin commented on #11
There’s an option to do that — skipComponentsWithoutExample ;-)

[2015-11-17 10:25] sunesimonsen opened #42 "Problem with webpack components alias"
Hi this is more a question than a issue. I'm trying to use react-styleguidist on a project that as a webpack alias for `components`, that seems to class with react-styleguidist that is also loading things from `components` as well: `import Layout from 'components/Layout'`

Do you know a way around this problem?

Kind regards
Sune

[2015-11-17 10:27] sapegin commented on #42
I think I should use something like `react-styleguidist/components` instead.

[2015-11-17 10:37] operatino opened #43 "Re-using core parts with sourcejs-react-styleguidist implementation"
Hi,

As I noticed before in twitter, I've recently made a fork of this repo, creating [SourceJS](http://sourcejs.com) integration plugin - https://github.com/sourcejs/sourcejs-react-styleguidist. This allows to combine all the best from styleguidist features, and SourceJS platform. Demo example of how it works could be found here https://github.com/sourcejs/sourcejs-react-bundle-example.

I change

[2015-11-17 10:47] sunesimonsen commented on #42
That would make my life easier, thanks for the awesome software by the way.

[2015-11-17 10:49] sapegin commented on #43
I’ve added a todo of things that can be done.

Overriding particular components are [already possible](https://github.com/sapegin/react-styleguidist/issues/12#issuecomment-151879901) but not documented.

[2015-11-17 10:56] operatino commented on #43
Thanks, looking forward! After polishing upcoming releases, I will come back to it, and will try to help improving re-usability on styleguidist side.

[2015-11-17 11:27] mik01aj commented on #42
and why not `import Layout from '../Layout'`?

[2015-11-17 12:31] operatino commented on #42
Imho without aliases is better, IDE's also help to resolve relative deps in `import`  and `require`.

[2015-11-17 12:52] sapegin commented on #42
@mik01aj I couldn’t make aliases work with relative paths. For [components overriding](https://github.com/sapegin/react-styleguidist/issues/12#issuecomment-151879901).

[2015-11-17 14:16] sunesimonsen opened #44 "Upgrade to the latest react-docgen"
The latest version of react-docgen supports React stateless components, it would be really nice if they was also supported by react-styleguidist:

https://github.com/reactjs/react-docgen/commits/v2.4.0

I tested the new version on our style guide and it works great.

[2015-11-17 14:18] sapegin commented on #44
Thanks, I’ll do that. Pull request would be even better ;-)

[2015-11-17 14:19] sunesimonsen opened #45 "More advanced examples for our sample styleguide (stateful demo components, external mocks)"
I have a modal that I would like to showcase, but it need to be closed from the beginning. I created a hack to support this, but it would be really nice if react-styleguidist would support something similar out of the box:
[code]

[2015-11-17 14:25] mik01aj commented on #40
We'll need to say that all the components are exported to global variables (https://github.com/sapegin/react-styleguidist/blob/master/src/index.js#L18) and that many components have the same name, it will cause problems (or maybe let's throw an error instead? https://github.com/sapegin/react-styleguidist/issues/33)

[2015-11-17 14:26] sunesimonsen commented on #44
I'll do that :-)

[2015-11-17 14:27] mik01aj commented on #45
Imho it's fine what you did. I have even more complex examples in my styleguide. And if they get really big you can move the example to a separate jsx file and `require` it from the examples md file.

[2015-11-17 14:29] sapegin commented on #40
We can throw an error and suggest to ignore the component.

[2015-11-17 14:35] sunesimonsen commented on #45
@mik01aj maybe you are right that this should just live in the examples.

[2015-11-17 14:54] mik01aj opened #47 "FAQ for the Readme: any questions?"
I will start it here, please post some useful questions/answers that you already have answered when using styleguidist. We can move them to the README when we have more of them.

If you believe that this should not be a FAQ and would better be merged into the main documentation, please comment. :)

Here's one from me:

Just open your developer tools and type `debugger;` in your code example.

[2015-11-17 14:58] mik01aj commented on #37
Maybe the [update of react-docgen](https://github.com/sapegin/react-styleguidist/pull/46) will fix this.

If not, I believe this bug should be reported to react-docgen, as it is thrown from https://github.com/reactjs/react-docgen/blob/c94b7689484be5fb5b573d24d4d7c04833d03fd8/src/parse.js

[2015-11-17 14:59] sapegin commented on #45
@mik01aj Would be nice to see your styleguide. Ours is quite simple so far.

[2015-11-17 15:00] #44 closed

[2015-11-17 15:54] mik01aj commented on #47
Maybe it would be better to actually integrate it with the example styleguide, so that anyone can see how it works ;)

[2015-11-17 15:55] panayi commented on #37
I have worked a bit on this, and react-docgen will search for a "suitable" component definition in any of the exports. So,

Before:
[code]

After:
[code]

However when doing the latter `react-styleguidist` fails since it expects that a single default component is exported, see https://github.com/sapegin/react-styleguidist/blob/master/loaders/styleguide.loader.js#L26.

I think `react-styleguidist`

[2015-11-17 15:57] #42 closed

[2015-11-18 10:58] mik01aj commented on #11
@sapegin could you create `documentation` label for this kind of tickets? We have several, I'd like to group them.

[2015-11-18 11:03] mik01aj commented on #45
Okay, so the TODO here is: add more advanced examples to our sample style guide.

[2015-11-18 11:13] sapegin commented on #45
@mik01aj :+1: :shipit:

[2015-11-18 14:17] mik01aj opened #49 "sanitize.css breaks components' styles - let's get rid of it"
![image](https://cloud.githubusercontent.com/assets/3027415/11243210/0a8cd012-8e07-11e5-8062-89bd6a344482.png)

The `background-color: inherit;` breaks stuff for me, because my styles expect stuff to be transparent by default (so that the parent `background-image` is visible).

In general, while rules like this would be ok for a newly-starting product, they are not acceptable for a library that sh

[2015-11-18 14:25] mik01aj commented on #49
I got it. My project has `"react-styleguidist": "^0.1.8"` in package.json. Upgrade fixed this.

[2015-11-18 14:25] #49 closed

[2015-11-18 15:18] sapegin commented on #49
Styleguidist styles isolation is related to theming and I don’t have a good solution yet.

[2015-11-18 15:37] mik01aj opened #50 "When there are no props, the prop table shouldn't be visible."
Right now an empty table is rendered:

![image](https://cloud.githubusercontent.com/assets/3027415/11245352/9c2b3d28-8e12-11e5-81f1-c9f78e16bfa4.png)

[2015-11-18 16:07] mik01aj commented on #28
This is getting more and more important for my codebase, and I think that actually we might need some quick design/prototyping phase for this. The point is, the default styleguide is cool for 5 components, but it's hard to navigate it when there are 20 components, and with 50 it's almost impossible. And it is actually a good practice to have lots of tiny components, so I believe we should support

[2015-11-18 16:11] sapegin commented on #28
It’s definitely enough for the first version because it’s million times more useful that the navigation we have now ;-)

[2015-11-18 16:56] sapegin commented on #18
Looks like I should remove this from the Styleguidist because I have an error:

[code]

Looks like we don’t need to require this plugin because it already a dependency of babel-core 5.8 and babel-preset-react (for Babel 6).

[2015-11-18 19:15] #18 closed

[2015-11-18 20:47] sapegin commented on #49
And I removed sanitize.css ;-)

[2015-11-18 20:48] operatino commented on #28
As an option, you can always build some abstraction on top of styleguidist. In example with SourceJS integration https://github.com/sourcejs/sourcejs-react-bundle-example, I combine powerful playground from styleguidist with platform integrated navigation options with search and ability to break components into separate pages.

Also, it's a really nice feature, being able to extract only one compo

[2015-11-18 20:48] sapegin commented on #21
Should be better after 1d819cdb16ace614fdd1c26aa5397875eb512583.

[2015-11-18 20:48] #21 closed

[2015-11-18 20:52] sapegin commented on #28
There are infinite number of possibilities unfortunately (for tools developers)

All your points are good though ;-)

[2015-11-18 20:56] sapegin commented on #30
There are two bugs:

1. Bug in Markdown that puts paragraphs.
2. Bug in Styleguidist that do not have proper styles for bullets.

The latter should be fixed now. So I’m closing this issue — the former bug will be fixed (hopefully) after some future Marked update.

[2015-11-18 20:56] #30 closed

[2015-11-18 21:02] #50 closed

[2015-11-18 22:39] chrisdrackett opened #51 "Changing state re-renders the component in a way that breaks animation"
First off I want to say I'm pretty excited about this project. I've been working on my own styleguide based on much of the same tech, so I'm excited to potentially work along side others.

One thing I'm currently doing is letting example files be either markdown or full on react components. This way if I need to store state or similar to show examples of how a component works I can. I'm still digg

[2015-11-19 06:17] sapegin commented on #51
So you want to be able to use (kind of) `Readme.jsx` instead of `Readme.md` for some components? It’s not possible but you can use `require()` in examples so you can share code between examples, etc.

But it would be nice to be able to store particular examples in files.

[2015-11-19 06:30] mik01aj commented on #50
:+1:

[2015-11-19 08:20] mik01aj commented on #32
I like the change a lot! I already started writing some custom styles for my style guide :)

I'll be picky: why `ReactStyleGuidist` if the name of the project is `react-styleguidist`? Directly "translated" to camelCase it would be `ReactStyleguidist`...

[2015-11-19 08:25] sapegin commented on #32
No reason, we can change it ;-)

[2015-11-19 09:42] sapegin commented on #32
The next thing is better Markdown rendering. Would be nice to have CSS classes for everything in Markdown instead of using cascade and global classes.

[2015-11-19 10:08] mik01aj commented on #32
Yes! :+1:  And I'd like the component and prop descriptions to be rendered as markdown too!

[2015-11-20 08:13] mik01aj commented on #47
One more:

[2015-11-20 12:37] mik01aj commented on #47
@sapegin, what do you think about "similar projects" link section? I'd list at least 2:

* https://github.com/insin/react-heatpack#readme
* https://github.com/jaredly/demobox

[2015-11-20 12:41] sapegin commented on #47
Great idea especially if the have a single line descriptions not just links. There’s also Source-compatible fork for the Styleguidist — https://github.com/sourcejs/sourcejs-react-styleguidist.

[2015-11-20 13:54] mik01aj commented on #47
okay! see my edited comment above.

[2015-11-20 13:55] sapegin commented on #47
Coooool!

[2015-11-20 21:19] sapegin commented on #32
It wasn’t easy. I hope I didn’t make it worse ;-|

[2015-11-21 08:29] mik01aj commented on #32
I can do some code review on Monday.

[2015-11-21 08:31] sapegin commented on #32
Good, I’ll try it on my project on Monday.

[2015-11-21 08:32] sapegin commented on #24
Right now HTML is disabled in Markdown, not sure if we need to enable it.

[2015-11-21 08:35] sapegin commented on #41
@mik01aj Are you working on it already?

[2015-11-21 08:42] sapegin commented on #43
Changing entry file is also possible via Webpack config but is a bit complicated. Something like that:

[code]

[2015-11-21 15:40] #20 closed

[2015-11-21 20:21] mik01aj commented on #41
not yet.

[2015-11-21 20:23] mik01aj commented on #24
I think not. Maybe at some point we'll need plain HTML code blocks, but that's a different story.

[2015-11-21 20:25] sapegin commented on #24
Then I’ll close this.

[2015-11-21 20:25] #24 closed

[2015-11-21 20:52] #41 closed

[2015-11-23 10:22] smashercosmo opened #52 "Problem with handling imports in scss"
When I try to run react-styleguidist I get this error
[code]
It doesn't know how to deal with imports in scss. Webpack itself handles all these stuff correctly.

[2015-11-23 10:24] smashercosmo commented on #52
A, ok, I got it. I need to modify webpack config for styleguide.

[2015-11-23 10:24] #52 closed

[2015-11-26 19:44] sapegin commented on #47
@mik01aj I’ve added a FAQ (merged your two questions in one) and a list of similar projects. Would cool if you could proofread it.

[2015-11-26 21:32] sapegin commented on #40
I’ve added an example component that uses require(). Could you add this docs to the Readme?

[2015-11-27 07:25] sapegin commented on #45
I was trying to find a simpler way to do what you want but couldn’t so I’ve added state to examples:

![](http://wow.sapegin.me/image/2C2t270m1t0v/Screen%20Recording%202015-11-27%20at%2008.19%20AM.gif)

I’ll add an example and docs later.

[2015-11-27 08:12] mik01aj commented on #47
@sapegin thank you, I couldn't find time for this.

The debugger instruction, however, is wrong, because you should put `debugger;` first (so that the execution is stopped at the beginning of your example code) and **then** you press ![screenshot 2015-11-20 09 12 08](https://cloud.githubusercontent.com/assets/3027415/11294827/cbedcea4-8f66-11e5-931a-2730251d2802.png), so that when you continue the

[2015-11-27 08:13] sapegin commented on #47
Sorry it wasn’t obvious ;-|

[2015-11-27 08:17] sapegin opened #53 "Add more examples to the example style guide"
Current examples are too simple.

* [x] `require()` usage.
* [x] `state` and `setState` usage — #45

Any other ideas?

/cc @mik01aj @sunesimonsen @panayi @reintroducing

[2015-11-27 08:21] mik01aj commented on #45
That's cool! :+1:

I understand that the default state is `{}`, right?

[2015-11-27 08:23] sapegin commented on #45
Yes. I’m not sure whether we need a way to define the default state and how to do that. Right now you can do something like this:

[code]

[2015-11-27 08:41] panayi commented on #53
Perhaps a more advanced example that shows how to switch between themes (dark, light, etc.).

Each presentational component (`Button`, `Dropdown` etc) is wrapped inside a `Theme` component. `Theme` passes the current theme in [this.context.theme](https://facebook.github.io/react/docs/context.html) to children components.  `ThemeSelector` is used for selecting the current `theme`.

[code]

[code]

[2015-11-27 08:43] sapegin commented on #53
@panayi Interesting, thanks! Could you point me to some examples of this technique ~~where I could steal the code~~?

[2015-11-27 08:57] panayi commented on #53
@sapegin [material-ui](https://github.com/callemall/material-ui) is using `context` for passing the theme. See http://www.material-ui.com/#/customization/themes.

I'm doing something similar, however I'm using redux. What I do:
- Define variables for each theme: `themes/dark.js`, `themes/light.js`
- `Theme` reads the current `theme`. This is where I use redux - it grabs it from the store state. Pe

[2015-11-27 09:04] sapegin commented on #53
@panayi Thanks, I’ll try to make something ;-)

[2015-11-27 09:10] sapegin commented on #47
I’ve just noticed that lodash is available in examples. Worth noting that somewhere in the Readme.

[2015-11-27 09:45] mik01aj commented on #47
:+1:

[2015-11-27 09:47] mik01aj commented on #45
`{}` is fine, I believe. Just don't forget to document it :)

[2015-11-27 16:38] sunesimonsen commented on #45
@sapegin the state access is exactly what I want. We made our own solution, but we will switch to this when it is available. Thanks.

[2015-11-27 16:40] sapegin commented on #45
:+1:

[2015-11-30 07:05] sapegin commented on #37
`react-docgen` do not export any information about the component object. I think we can add a custom resolver function to the config. Like this:

[code]

Any better ideas?

[2015-11-30 07:28] #40 closed

[2015-11-30 07:28] #45 closed

[2015-11-30 07:35] #47 closed

[2015-11-30 07:51] panayi commented on #37
However [it exports the resolver](https://github.com/reactjs/react-docgen/blob/c94b7689484be5fb5b573d24d4d7c04833d03fd8/src/main.js#L58). I think something similar to [this](https://github.com/reactjs/react-docgen/blob/c94b7689484be5fb5b573d24d4d7c04833d03fd8/src/parse.js#L53-L54):

[code]

[2015-11-30 08:34] sapegin commented on #37
Yeah, that might work.

[2015-11-30 08:49] mik01aj commented on #40
LGTM, sorry @sapegin I didn't find time for this.

[2015-11-30 09:56] #32 closed

[2015-11-30 09:58] sapegin commented on #40
No worries ;-) I’m going to release 1.3 soon (I hope before my vacation that star), so I’m trying to add missing docs before that.

BTW, will you have time for #28 soon? I’d like to have it in 1.4.

[2015-11-30 18:31] sunesimonsen commented on #45
This is great, when do you plan to do a new release?

[2015-11-30 18:47] sapegin commented on #45
In the next few days.

[2015-11-30 18:51] sunesimonsen commented on #45
Awesome, looking forward to it.

[2015-12-01 06:52] sapegin commented on #51
Now examples [can have a state](https://github.com/sapegin/react-styleguidist#usage-examples-and-further-documentation). Will it solve your issue?

[2015-12-01 06:53] sapegin commented on #19
I’m closing it until CodeMirror has proper support.

[2015-12-01 08:58] mik01aj commented on #40
This week I'm busy with other (non-react) stuff... I recommend that you just cherry-pick https://github.com/lovelybooks/react-styleguidist/commit/bb024de001526dcbd7c8befa82ab42d54357152d for now.

[2015-12-01 09:00] sapegin commented on #40
Thanks, I already have a sticky sidebar, so I can just copypaste an actual TOC code from your commit ;-)

[2015-12-01 18:39] panayi opened #54 "Suggestion: Support Array rootDir"
[code]

This way it becomes easy to use 3rd party components in examples.

[2015-12-02 09:06] mik01aj commented on #54
I'll show you what I use (well, actually it's for `components`, but I guess it will solve your problem too) :)

    components: './scripts/{' + [
        'mobilePages/[A-Z]*',
        'ui/BookCoverBox',
        'ui/BookDetails',
        'ui/Button',
        'ui/Avatar',
        'ui/Rating',
        'ui/Review',
        'ui/ShareButton',
        // 'ui/[A-Z]*',
        // 'ui/developerUtils/[A-Z]*'

[2015-12-02 10:16] sapegin commented on #45
@sunesimonsen It’s here! ;-)

[2015-12-02 10:17] sunesimonsen commented on #45
Awesome thanks for letting me know.

[2015-12-02 12:52] sunesimonsen opened #55 "Can't run the server after upgrading to 1.3.0"
I get the following error:

[code]

I'm running version 1.2.1 right now and it also warning me about the multi export:

[code]

But everything works fine with version 1.2.1.

Do you have any idea what this could be about?

Kind regards
Sune

[2015-12-02 13:11] sapegin commented on #55
No, and I’d like to have some code to debug it. Could you send me something at artem@sapegin.ru?

[2015-12-02 13:46] sunesimonsen commented on #55
My code it not open, but I can see if I can make a minimal failing example. I'm a bit busy right now, but I'll just get back to you when I have something. I just wanted to know if this was something you guys had run into.

[2015-12-03 18:39] sapegin opened #56 "Document extending Webpack configuration"
How to add loaders, existing loaders, etc.

[2015-12-03 18:48] okonet opened #57 "Webpack loaders conflicts"
If the project already has rules with loaders defined in webpack config, they might conflict with loaders  from styleguidist (CSS and JSON loaders for instance).

I'd suggest to keep the styleguidist webpack config minimal and extend the project's webpack config, adding only loaders required for styleguidist to work properly.

[2015-12-03 18:55] okonet opened #58 "Existing babel-plugin-react-transform causing errors"
If existing project's `.babelrc` already uses `babel-plugin-react-transform` when it will throuw following error:

[code]

This can be fixed by setting `BABEL_ENV ` for instance to `BABEL_ENV=styleguidist` in `package.json`. But I think this can be handled by this package itself. I'll try to submit a PR soon.

[code]

[2015-12-03 18:59] sapegin commented on #58
Yeah, it’s not cool to ask users to do that ;-)

[2015-12-03 19:02] sapegin commented on #57
It is minimal ;-) But we need to `include` only the necessary folders.

But more difficult question: should we enable JS loader for project’s code by default?

[2015-12-03 19:11] okonet commented on #57
For instance this

[code]

might and will affect project's CSS pipeline (which also might have different set of postcss plugins etc.)

But react-styleguidist needs its own CSS pipeline, so I think it should be limited to only its own styles and not make any assumptions about userland css processing.

JS loaders: same issues here. In my setup everything works fine since I also use Babel, but this c

[2015-12-03 19:12] okonet commented on #57
I also have issues with this one

[code]

since I'm using `require(json!myJSONFile.json)` in my code.

[2015-12-03 19:53] sapegin commented on #58
Other solution could be (in `make-webpack-config.js`):

[code]

[2015-12-04 09:05] okonet commented on #58
Yes, I was also thinking of this.

[2015-12-07 18:35] Pink401k opened #59 "TypeError: Illegal kind "string" for plugin """
Getting the title'd error why trying to run styleguidist.

I'm not sure what's going on.  I tried to troubleshoot myself, but was unsuccessful.

[code]

[2015-12-08 16:15] CurtisHumphrey commented on #55
I believe something like this will trigger the issue:

in es6

export class Example extends React.Component {
  render() {
    return ( <div>Hi</div> );
  }
}

export default Example; //image the default alters the Example is some way

[2015-12-08 17:47] sunesimonsen commented on #55
Sorry for not investigating this. I'll see if I can get time soon. Feel free to close the issue, I can reopen it when I have some more information.
Kind regards
Sune

[2015-12-08 21:23] chrisdrackett commented on #31
I like that layout, seems really flexible and easy to create.

[2015-12-08 21:27] sunesimonsen commented on #55
I have a bit more information. I tried to log some information in the place that exploits:

[code]

I'll see if I can dig a bit further.

[2015-12-08 21:30] sunesimonsen commented on #55
@CurtisHumphrey good idea, but that is not the case, we don't export in the examples.

[2015-12-08 21:52] sunesimonsen commented on #55
I tried to log the alias map in the ModuleAliasPlugin (/node_modules/webpack/node_modules/enhanced-resolve/lib/)

There is an empty codemirror alias in there, I'll see if I can figure out why.

{ codemirror: '',
  ...
}

[2015-12-08 22:00] sunesimonsen commented on #55
I figured it out. I did the following to add our project aliases in the webpack config:

[code]

But the `webpackConfig.resolve.alias` contains `codemirror: ''`.

Now I'm just overriding it, that seems to work. Now I'm running into problems with my postcss setup conflicting with the styleguide, but that is another story.

[2015-12-08 22:36] sunesimonsen commented on #55
I found out that the problem was that `var codeMirrorPath = getInstalledPath('codemirror', true);` returns an empty string if I don't have codemirror install on the top level or globally.

[2015-12-08 22:37] sunesimonsen commented on #55
Now everything works.

[2015-12-09 05:12] sapegin commented on #55
What npm version do you use?

[2015-12-09 06:50] sunesimonsen commented on #55
@sapegin I'm using v2.14.7, but npm the npm v3 dedupe and hoisting will only save the situation if there is not a conflicting version of CodeMirror (to my knowledge).

[2015-12-09 07:23] mik01aj commented on #31
@sapegin there will be confusion between `components` on top level in config and `components` in each TOC. For your questions:

1. My example referred to the current behaviour. For each component, there is a React component definition (parsed by docgen) and an optional markdown file with examples.
2. I'm not sure but I'd say that's not important, since a list with just one element is still a list

[2015-12-09 09:04] operatino commented on #31
As I mentioned in other related issue, the best solution I see is to use some tooling abstractions on top of styleguidist generator, keeping it a specific tools for only components documentation.

For example in [SourceJS](http://sourcejs.com) integration bundle with styleguidist https://github.com/sourcejs/sourcejs-react-bundle-example, you both can get cool generator features for React component

[2015-12-09 09:33] mik01aj commented on #31
@operatino I don't want to pull SourceJS with all its dependencies (phantomjs, grunt with plugins...) and create all the file structure sourceJS needs just to add markdown pages to my styleguidist-powered styleguide.

[2015-12-09 09:36] operatino commented on #31
@mik01aj That's a fair point, but abstraction comes at a price.

BTW in 0.6.0 Phatomjs is already removed from deps, as all the other heavy deps like JSDom. I also will clean-up all the build tools, so the set-up will be much lighter then in was in 0.5.x.

[2015-12-09 21:14] sdemjanenko opened #61 "Upgrade webpack to 1.12.9"
The extract-text-webpack-plugin has a bug which is fixed in newer webpack: https://github.com/webpack/extract-text-webpack-plugin/issues/132

[2015-12-10 09:15] sunesimonsen opened #62 "User components are being processed by the react-styleguidist loaders"
I found that my components are being styled by the react-styleguidist postcss loader, which is suboptimal, as my project also uses CSS modules with other capabilities than the ones supplied by react-styleguidist. @sapegin seems to agree: https://github.com/sapegin/react-styleguidist/pull/60#issuecomment-163391103

Ideally I would like react-styleguidist not to use any kind of special loaders for m

[2015-12-10 20:59] chrisdrackett commented on #55
I'm running into this same error, but I'm not sure if I know how to debug it. @sunesimonsen what is it that you did to narrow it down from the initial error?

[2015-12-10 21:38] zachkadish commented on #59
same issue here

[2015-12-10 22:26] sunesimonsen commented on #55
@chrisdrackett try `npm install codemirror` and see if that helps.

[2015-12-10 22:56] chrisdrackett commented on #55
@sunesimonsen that seems to have done the trick! thanks :) (is there an issue for this?)

[2015-12-11 00:38] chrisdrackett opened #63 "ReferenceError: Can't find variable from example (problem with component displayName, "ProxyClass" is used)"
I'm trying to get up and running and I think I'm getting pretty close. However I'm having an issue with my first component. I'm using a file called `Button.jsx` that has a `const Button = React.createClass({` and `export default Button;` at the bottom. I have styleguidist setup like so:

    rootDir: './src',
    components: './components/**/*.jsx',
    skipComponentsWithoutExample: true,
    getE

[2015-12-11 00:40] chrisdrackett commented on #63
also strange, I just added a second component (by adding an example for it) but I don't see it in the listing even after restarting the server. I wonder if it also is coming in as `ProxyClass` so I'm only seeing one thing in the style guide?

[2015-12-11 09:33] mik01aj commented on #63
did you try explicitly adding `displayName: 'Button'` in your component?

[2015-12-11 09:46] mik01aj commented on #59
I just upgraded from `1.2.1` to `1.3.0` and can reproduce the problem.

[2015-12-11 10:04] mik01aj commented on #59
The bug is in https://github.com/sapegin/react-styleguidist/blob/c3b030083c9a0cb4f911d32d27e65184ba2b6d5a/src/make-webpack-config.js#L153 - reactTransformPath is `""`.

[2015-12-11 10:22] mik01aj commented on #59
And this is probably because `process.cwd()` is not the folder of `react-styleguidist`, but the folder of the project that is using it. `getInstalledPath` expects the library to be installed in `${process.cwd()}/node_modules/babel-plugin-react-transform` and this is not true with npm 2.x.

@sapegin could you fix it?

[2015-12-11 10:24] mik01aj commented on #55
Looks like it's actually the same problem as in https://github.com/sapegin/react-styleguidist/issues/59.

[2015-12-11 10:34] mik01aj commented on #59
@sapegin we could use [`require.resolve(...)`](https://nodejs.org/api/modules.html) instead of `get-installed-path`.

[2015-12-11 10:40] sapegin commented on #59
@mik01aj Thanks for the investigation, I’ll try it soon.

[2015-12-14 12:41] mik01aj commented on #56
:+1: I'd add one more related thing to think about: how should one integrate a project using webpack with styleguidist? How about project using babel? It would be cool to move these 2 to peerDependencies and thus make styleguidist less of a standalone and more of a tool that integrates tightly with the existing project config.

[2015-12-14 12:44] sapegin commented on #56
Yeah, you’re right probably :-)

[2015-12-14 12:44] mik01aj commented on #54
@panayi did this solve your problem?

[2015-12-14 12:45] mik01aj commented on #51
@chrisdrackett any feedback? I'd like to close this ticket.

[2015-12-14 12:46] mik01aj commented on #56
@sapegin Maybe let's plan this for 2.0 (whenever it might be)?

[2015-12-14 12:47] sapegin commented on #56
Writing an issue right now ;-)

[2015-12-14 12:55] sapegin opened #64 "2.0"
**:boom: [2.0.0](https://github.com/sapegin/react-styleguidist/releases/tag/2.0.0) is out. :boom: **

There are some breaking changes planned (or needs discussion) for the next release:

* [x] Disable all Webpack loaders for project’s code by default (#57, #60, #62).
* [x] Show warning when project uses different version of Webpack or Babel.
* [x] Render fenced blocks with language flag as regular

[2015-12-14 13:04] panayi commented on #54
@mik01aj yes this works great. Thanks!

[2015-12-14 13:04] #54 closed

[2015-12-14 13:30] mik01aj commented on #64
I'd add: ...and use existing `webpack.config.js` and `.babelrc` (or `babel` config in `package.json`) by default.

[2015-12-14 13:32] sapegin commented on #64
`.babelrc` should be used now (now way to disable it as far as I know).

But using `webpack.config.js` is more complicated and I’m not sure we should do it. I’m afraid it will cause more problems than fixes.

[2015-12-14 17:59] chrisdrackett commented on #51
I'll work on this today so you guys can close the ticket. Thanks for checking in, and sorry for the delay!

[2015-12-14 18:06] chrisdrackett commented on #63
nope, I'll give that a try. I didn't see that in the examples, but not sure what I'm doing differently. Does it work in the examples because components are in folders?

[2015-12-14 18:11] chrisdrackett commented on #63
yep, this fixes things

[2015-12-14 18:12] mik01aj commented on #63
I don't know what exactly you do differently, but if you see `ProxyClass` this means that there is some problem with figuring out the name of your component. And if I'm right, the workaround with `displayName: 'Button'` should work. AFAIK file names have currently nothing to do with it (maybe they should, btw).

Still note that what I'm saying is only a workaround and we should still fix the under

[2015-12-14 18:13] chrisdrackett commented on #63
no worries! I'm happy to help debug where I can. I'm primarily a designer so my javascript knowledge isn't as deep as it could be.

[2015-12-14 18:14] mik01aj commented on #63
okay, so if adding `displayName` helps, then you should check your babel settings, in particular check whether you have [`babel-plugin-react-display-name`](https://www.npmjs.com/package/babel-plugin-react-display-name) properly configured.

@sapegin, should configuring this be the responsibility of styleguidist (makeWebpackConfig) or the user config?

[2015-12-14 18:30] chrisdrackett commented on #63
I didn't see anything about that plugin in the setup or the example project, but maybe I'm missing where its defined.

[2015-12-14 21:04] chrisdrackett commented on #51
ok, so I hooked this up on one of my components today. this is a switch component that animates between two states. For some reason in the styleguide the component jumps between its two states without animation. Its almost like its being re-rendered from scratch on state change?

[2015-12-15 08:15] sapegin commented on #51
That’s how it works now.

[2015-12-15 08:18] sapegin commented on #63
It’s explained [here](https://github.com/sapegin/react-styleguidist/issues/18#issuecomment-157777618).

[2015-12-15 09:08] mik01aj commented on #51
@sapegin, could you explain this further? I see that [the example styleguide modal](https://github.com/sapegin/react-styleguidist/tree/master/example/lib/components/Modal) uses `state` and `setState`, but the [examples loader](https://github.com/sapegin/react-styleguidist/blob/master/loaders/examples.loader.js) passes only `setState` to it.

---

Ah, I got it, it's done in [the `Preview` component

[2015-12-15 09:10] sapegin commented on #51
I should try to do it, or you can try if you have time ;-)

[2015-12-15 09:11] mik01aj commented on #51
P.S. I realized one thing: indepentently of what I've written above, the way you pass `state` and `setState` is inconsistent. Imho it's better to either pass both of them as a function argument, or to append them both to the code. Mixing these 2 methods is confusing.

[2015-12-15 09:15] mik01aj commented on #63
2: So let's do it! Do you think it's better to try to detect the name ([like I did someday](https://github.com/lovelybooks/react-styleguidist/commit/86dd878785b364ce75a57252674abe16bde62f0a)), or to throw an `Error`?

[2015-12-15 11:24] mik01aj commented on #59
@sapegin will you fix it or shall I try? This issue hits anyone using npm 2.x (so, most of devs imho)

[2015-12-15 11:34] sapegin commented on #59
It’d be cool if you try.

[2015-12-15 11:50] mik01aj opened #65 "Babel 5 and 6 incompatibility issue (plugin ... didn't export a Plugin instance)"
Styleguidist currently uses Babel 5, and my project uses Babel 6.

I have babel config in my `package.json`, containing the following:
[code]

Then when I start `styleguidist server`, I get:

    Module build failed: TypeError: The plugin "transform-react-jsx" didn't export a Plugin instance

This happens because Styleguidist webpack config uses Babel 5, it loads plugins as specified in `make-webp

[2015-12-15 12:02] mik01aj commented on #65
I found a workaround for now - it seems to work when I add `../` to stuff in my `styleguide.config.js`, and run the server like this:

    (cd node_modules; ./react-styleguidist/bin/styleguidist server --config ../styleguide.config.js)

Normally I would just run it with:

    ./node_modules/react-styleguidist/bin/styleguidist server --config styleguide.config.js

We depend way too much on `process

[2015-12-15 13:41] mik01aj commented on #65
Another workaround is to move the babel config from `package.json` or `.babelrc` to other files where it's needed (like test runner, webpack config, ...). **But it's still a workaround, not a fix.**

[2015-12-15 13:50] sapegin commented on #65
Will moving Babel to peerDependencies helps here?

[2015-12-15 14:04] mik01aj commented on #65
Not sure. If you move it to peerDependencies, it's like saying "this version of styleguidist works only with babel 5" (or only 6). (or, we would have to move all the needed babel plugins to peerdependencies too). But... AFAIK even when the peer dependency can not be met, npm will still install the package. It's complicated...

I think there's a bigger decision to make: do we want styleguidist to *

[2015-12-15 14:09] sapegin commented on #65
Isolation is definitely better as much as possible. I’m not sure we can use totally independent version of Babel but it would be the best option.

[2015-12-15 14:28] mik01aj commented on #59
Turns out I can't today, sorry. Maybe tomorrow... :(

[2015-12-15 18:44] chrisdrackett commented on #63
so I'm guessing that my error is that I'm using an older version of babel? I'll try updating and see if that helps.

[2015-12-15 19:46] mik01aj commented on #63
No, I don't think so. And styleguidist is using the old (5) version anyway.

Could you post your class definition? (I mean the lines around `React.createClass` or `class ... extends Component`).

[2015-12-15 20:24] chrisdrackett commented on #63
`const Button = React.createClass({`

and then

`export default Button;` at the bottom

[2015-12-16 07:56] mik01aj commented on #63
Hmm, so, as [you can see in the Babel REPL](https://babeljs.io/repl/#?experimental=true&evaluate=true&loose=false&spec=false&code=%0Aconst%20Button%20%3D%20React.createClass(%7B%0A%20%20render%3A%20()%20%3D%3E%20%3Cdiv%20%2F%3E%0A%7D)%3B%0A%0Aexport%20default%20Button%3B), this should add the displayName. Maybe you could check if the `displayName` is really added in your webpack output?

[2015-12-16 11:33] mik01aj commented on #59
@sapegin, please have a look at the PR :)

[2015-12-16 13:52] #59 closed

[2015-12-16 14:17] mik01aj commented on #59
@Pink401k and @zachkadish, we fixed this, please check if `1.3.1` works for you.

[2015-12-16 15:03] subsumo commented on #59
I'm getting it on a fresh install;
![screen shot 2015-12-16 at 10 03 34 am](https://cloud.githubusercontent.com/assets/164204/11844336/4cd760fa-a3dc-11e5-9ae8-4f29bb32d53a.png)

[2015-12-16 16:34] chrisdrackett commented on #63
so when I build the styleguide I see display names:

    Button=_react2["default"].createClass({displayName:"Button"

but when running npm run styleguide-server I get the following for button (from the top of the component):

    ProxyClass
    components/Button.jsx

and from the console:

    var Button = _wrapComponent('_$Unknown')(_react2['default'].createClass({\n\n  propTypes:

[2015-12-16 17:10] mik01aj commented on #63
I think I got it. It's https://github.com/gaearon/babel-plugin-react-transform/issues/19...

[2015-12-17 03:13] Pink401k commented on #59
That seems to have done it! Thank you.

[2015-12-17 08:56] sapegin commented on #63
I’ll try to add `["react-transform:after"]`. `babel-plugin-react-display-name` is loaded from `babel-core`.

[2015-12-23 16:14] jamieholliday commented on #11
So I have skipComponentsWithoutExample: true in config but just noticed a weird behaviour when having nested components
I have these 3 components:
Grid
Row
Column
In Grid/Readme.md I have this:
[code]
It now doesn't matter if I have Readme.md files in any of the other component folders or not I get the entries for all 3 components in the styleguide and duplicate example code for each. I'd like to

[2015-12-27 11:51] okonet commented on #64
I think most poeple who are using webpack have custom pipelines for non-js files. It should be easier tointegrate them with styleguidist config. This is why I also think that project-related `webpack.config` should be used by default (with some sane defaults as a fallback, probably?)

[2015-12-27 15:32] sapegin commented on #64
@okonet What do you mean by “project-related webpack.config”? How can we find it?

[2015-12-28 10:19] okonet commented on #64
Usually it's in a root of the project. But this should be a configurable property, like it is now in `styleguide.config`

[2015-12-28 10:25] sapegin commented on #64
@okonet The problem is: it can be anywhere and it can be anything. So it’s the wrong way to assume particular project structure. It’s better to have an easy way to import and extend project’s Webpack config.

Maybe we can do something like that (this can be the default implementation):

[code]

Then we’ll extend this config using [webpack-merge](https://github.com/survivejs/webpack-merge) (see Sma

[2015-12-28 10:38] okonet commented on #64
I even think that this is too complex. IMO just a path or a resolved path would suffice.

I don't think that it's just loaders section. webpack allows you to pass configurations to loader using arbitary objects in the config. See postcss-loader for instance: https://github.com/postcss/postcss-loader#usage. So this should be also copied to the final webpack config.

[2015-12-28 10:41] okonet commented on #64
One thought I recently had is to convert styleguidist configuration to a webpack plugin which will then added to a user's webpack config. Do you think this could solve some of the issues?

[2015-12-28 10:43] sapegin commented on #64
Maybe. But it should be a function anyway like:

[code]

It’s not *just loaders section*, webpack-merge merges everything. Merging of other sections just doesn’t require magic.

Not sure I understand 8-) Can you show it?

[2015-12-28 10:58] okonet commented on #64
Okay then. From your first response I understood it like you would just merge loaders section into your webpack config.

Not sure either. Was just a thought if using webpack plugin architecure could help simplify configuration of the styleguidist.

[2015-12-29 02:27] torvalde commented on #64
For me it would be best not to use the existing webpack config of the project, I already have some differences between my prod config, dev config and karma config so I need to separate them, one more place to update would not matter too much for me. These files do not change so much anyway, and it is more important for me to have some flexibility in configuring the styleguide pipeline/avoid situat

[2015-12-29 07:52] sapegin commented on #64
@torvalde You’ll be able to use `updateWebpackConfig` but there will be no default loaders for project’s code.

[2015-12-29 09:28] mik01aj commented on #64
Imho the current approach with implementing some custom `updateWebpackConfig` function in config is OK. It isn't very friendly, but it is flexible. We could try to do some smart config detection, or just recommend doing something like:

[code]

If you want to discuss this further please let's open a new issue for this; this one is just for collecting stuff we'd like to have in 2.0.

[2015-12-29 09:44] mik01aj commented on #63
Looks like [this will be fixed with the next Babel release](https://github.com/gaearon/babel-plugin-react-transform/issues/67). We would just need to update to Babel 6...

[2015-12-29 11:10] mik01aj opened #68 "We need to change our flexbox layout to something else (poor rendering performance)"
The single reason is: performance.

![image](https://cloud.githubusercontent.com/assets/3027415/12033557/a292869e-ae24-11e5-9f97-e746cec59805.png)

In this recorded timeline I'm playing with a simple progress bar component. And it seems that anything that *might* become bigger than page width would cause a full page layout recalculation and re-render (I mean browser rerender, not react). (Renderin

[2015-12-29 11:45] sapegin commented on #68
Could you try it please?

[2015-12-29 11:53] mik01aj commented on #68
![image](https://cloud.githubusercontent.com/assets/3027415/12034011/1d32beae-ae2b-11e5-9199-4d9e7770604f.png)

Disabling this single rule makes animations smooth as silk.

[2015-12-30 10:34] mik01aj opened #69 "npm warnings about fstream"
Each time I do `npm install <anything>` in my project (using npm 2), I get these annoying warnings:

[code]

Is this fixable?

[2015-12-30 12:29] sapegin commented on #69
Not sure. The only thing we can do is to update dependencies.

[2016-01-05 07:34] petetnt commented on #19
@sapegin @mik01aj Just pinging you that CodeMirror has proper support as of https://github.com/codemirror/CodeMirror/commit/b3f9487046e37facd64196380ebdd8639efc57b5

[2016-01-05 07:35] sapegin commented on #19
@petetnt Cooooooool! Thanks!

[2016-01-05 07:37] petetnt commented on #19
Oh yeah forgot to add that https://github.com/codemirror/CodeMirror/issues/3745 tracks the issues the mode still might have (it has gotten some great updates in the past few days too)

[2016-01-12 11:35] operatino commented on #43
Hi,

Could somebody please re-check todo list of things to be done? I'll be updating my integration plugin around the end of the month, could help with improving your codebase following chosen strategy.

[2016-01-12 11:38] sapegin commented on #43
Looks like we have the first and the last.

[2016-01-12 20:08] stinoga opened #70 "Add ability to change bundle directory prefix"
Some users need to call the bundle file using an environment prefix, or path to a CDN. Would like to see a config option to add this prefix to the bundle path.

If this is something you'd like to see in the main repo, I can submit a pull request.

[2016-01-12 20:22] sapegin commented on #70
You can change it via `updateWebpackConfig` or I miss something? Not sure that such options in the config will be good because there are so many thing that can be changed in the Webpack config ;-)

[2016-01-12 23:19] stinoga commented on #37
Any work-arounds for this until version 2 comes out?

[2016-01-13 08:00] sapegin commented on #37
@stinoga I think ignoring such components is the only way now.

[2016-01-13 11:04] mik01aj opened #71 "Chars like < and & are displayed as &lt; and &amp;"
I have this in my `examples.md`:

[code]

And this is rendered as:

![image](https://cloud.githubusercontent.com/assets/3027415/12292498/bc5797b6-b9ed-11e5-86cf-1349a9ef589d.png)

[2016-01-13 11:12] sapegin commented on #71
Probably it was introduced after moving to MarkdownIt.

[2016-01-13 12:33] mik01aj commented on #71
For reference - `markdown-react-js` handles this correctly:

![image](https://cloud.githubusercontent.com/assets/3027415/12294371/279833da-b9fa-11e5-9e91-6b0070d75f08.png)

[2016-01-13 12:39] sapegin commented on #71
Then it’s somewhere in the examples loader.

[2016-01-13 16:59] stinoga commented on #37
@sapegin Does Radium cause this issue as well? I've got a simple button component with this same error:
[code]

[2016-01-13 17:02] stinoga commented on #37
@sapegin Does Radium cause this error as well? I've got the same error as above with a simple button component:

[code]

[2016-01-14 09:48] mik01aj commented on #71
Related: `` comments that I used for [separating consecutive code blocks](http://meta.stackexchange.com/a/152359/147841) are now displayed as plain text (and they shouldn't).

[2016-01-18 17:48] withgallantry opened #72 "You many need an appropriate loader to handle this file type"
When starting the server I get the following error:
[code]

Wondering if babel isn't transpiling the import.

[2016-01-18 19:43] sapegin commented on #72
Can you share your style guide config?

[2016-01-19 08:05] withgallantry commented on #72
Currently it's
[code]

[2016-01-19 08:10] sapegin commented on #72
Strange, it should work. It would be nice to have some code to debug.

[2016-01-19 09:17] mik01aj commented on #72
@withgallantry could you tell us your node version, npm version and your `.babelrc`?

[2016-01-19 10:22] withgallantry commented on #72
Sure,
Node version is 4.1.1
NPM is 3.3.4
.babelrc is as follows:
[code]

[2016-01-19 10:32] mik01aj commented on #72
Looks like related to https://github.com/sapegin/react-styleguidist/issues/58 and https://github.com/sapegin/react-styleguidist/issues/65.

Does running the server as follows work for you?

    (cd node_modules; ./react-styleguidist/bin/styleguidist server --config ../styleguide.config.js)

[2016-01-19 10:56] withgallantry commented on #72
thanks @mik01aj but I get the same issue, I also have to run it as
` (cd node_modules; BABEL_ENV=styleguidist ./react-styleguidist/bin/styleguidist server --config ../styleguide.config.js)` to stop collisions with 'babel-plugin-react-transform'

[2016-01-19 11:03] mik01aj commented on #72
@withgallantry if it's just `babel-plugin-react-transform`, I would close this issue in favour of https://github.com/sapegin/react-styleguidist/issues/58...

[2016-01-19 11:21] withgallantry commented on #72
@mik01aj
I  still get
[code]
when running
[code]
so I don't think it's just `babel-plugin-react-transform'

[2016-01-19 11:23] sapegin commented on #72
What version of Babel do you use?

[2016-01-19 11:26] withgallantry commented on #72
5.8.29 - that's quite old. I'll try updating.

[2016-01-19 11:27] sapegin commented on #72
Styleguidist still uses Babel 5, so it’s not a problem I think.

[2016-01-19 11:29] mik01aj commented on #72
@withgallantry what happens when if you remove (or move) your `.babelrc`? Still the same problem?

[2016-01-19 11:30] withgallantry commented on #72
@mik01aj I'll test now

[2016-01-19 11:32] mik01aj commented on #72
Hmm, I removed my previous comment (where I asked what happens when you remove .babelrc) because I now suspect it's some problem with Webpack config...

[2016-01-19 11:37] withgallantry commented on #72
Here is my config if it helps.
[code]
incase anything jumps out.

[2016-01-19 11:42] sapegin commented on #72
I assume that this is a config of your project and you don’t use it for the style guide?

Could you also try to run Styleguidist in verbose mode:

[code]

and copy the output?

[2016-01-19 11:48] withgallantry commented on #72
It is my config. I used a boilerplate and built on top of it.
Here is verbose output:

[code]

[2016-01-19 11:52] sapegin commented on #72
Looks fine. My only guess is some missing npm packages.

Try to run `npm ls` (it should show if anything is missing), and then `rm -rf node_modules; npm cache clean; npm install`.

[2016-01-19 12:01] withgallantry commented on #72
[code]

[2016-01-19 12:04] withgallantry commented on #72
@mik01aj
Also tried reducing .babelrc to just `{ stage: 0 }` and that still gave me the same errors.
Appreciate the effort and time guys. Thanks.

[2016-01-19 13:06] sapegin commented on #72
Any missing packages (like «npm ERR! missing…») is not OK.

[2016-01-19 13:34] withgallantry commented on #72
Yeah, I've just removed the package needing them as I didn't need it. Thanks @sapegin. I'm just about try again, then update babel and see how that fairs.

[2016-01-19 14:10] kgoggin commented on #72
FWIW I'm getting the same error. Similar configs as @withgallantry in that I'm not doing anything fancy with react-styleguidist and that I'm already using Babel@5 with react-transform-hmr in my app. Haven't had a ton of time to troubleshoot it because I'm on a deadline this week, but thought I'd bring it up because, whatever the issue is, it's not isolated.

[2016-01-19 14:33] mik01aj opened #73 "Format shape[] just as nicely as shape in the propTypes table."
Current behaviour for `PropTypes.shape({...})`:

![image](https://cloud.githubusercontent.com/assets/3027415/12421281/bf5770e8-bec1-11e5-95c7-ab05f8dca175.png)

Current behaviour for `PropTypes.arrayOf(PropTypes.shape({...}))`:

![image](https://cloud.githubusercontent.com/assets/3027415/12421302/e0884c4c-bec1-11e5-8126-1f1ba87ea4be.png)

[2016-01-21 13:17] jamieholliday opened #74 "Styleguide failing after build."
Styleguide is working fine on dev server but fails after build with this error:

I have done a little poking around and the array of components that are the argument to setComponentsNames() in src/utils/utils.js look like this when running build (in Chrome Devtools):

[code]

but are like this when running the dev server:

[code]

So as far as I can tell the function that is module and the name pr

[2016-01-21 13:20] sapegin commented on #74
Can you share some code that I can debug?

[2016-01-21 13:28] mik01aj commented on #74
Maybe it's because you have `.../` instead of `../`.

[2016-01-21 14:36] jardakotesovec commented on #63
Is there some workaround until its fixed? Except put displayName everywhere..

[2016-01-21 14:46] sapegin commented on #63
Don’t know. Can anyone try to update to Babel 6 and check and/or send PR?

[2016-01-21 15:30] jamieholliday commented on #74
I added the .../ so as not to write out the full path to the files in the example above. Sorry if its a bit confusing. The filepath is actually the correct full path to the file.
@sapegin - I've made a test case in this repo:
https://github.com/jamieholliday/react-styleguidist-testcase
It only includes one component called <Test />
This will demonstrate the error. I was thinking maybe was somethin

[2016-01-22 14:58] jardakotesovec opened #75 "Wrap in wrapper"
We are using [react-intl](https://github.com/yahoo/react-intl) in many components. These components access intl features via context.

I could wrap it in every example, but thats not nice solution. So would be nice to have that as option. My quick hardcoded fix looks like:
[code]

So what I basically needs is to have option in `styleguide-config.js` that would be function that can do the wrapping.

[2016-01-22 15:24] sapegin commented on #75
I don’t understand how it’s differ from [the Wrapper component](https://github.com/sapegin/react-styleguidist#how-to-change-the-behaviour-of-a-style-guide).

[2016-01-22 15:30] jardakotesovec commented on #75
@sapegin I apologize.. I just went through the config options and missed that wrapper component can be replaced like this - which is exactly I need.

Thanks!

[2016-01-22 15:30] #75 closed

[2016-01-25 20:06] nikgraf opened #76 "Upgrade to Babel6"
I couldn't get it up & running due issues with Babel5/6

[code]

[2016-01-25 20:06] mxstbr commented on #76
:+1:

[2016-01-25 21:57] gregz67 commented on #76
+1

[2016-01-25 22:29] kazooie commented on #76
I forked to use styleguidist with Babel 6, but it is very, very hacky since you now have to compile your own babel to give to the web browser for live previews. I first tried the babel-standalone project (https://github.com/Daniel15/babel-standalone), but couldn't get it working with webpack.

I made the babel compilation a separate step in bin/styleguidist and pushed a precompiled version that co

[2016-01-26 07:43] sapegin commented on #76
Pull request are welcome.

[2016-01-27 13:56] jardakotesovec opened #77 "Missing propTypes for getDefaultProps results in tricky exception"
I was getting
[code]

And could not figure out why. Apparently reason was that one of values that was returned from `getDefaultProps` was not defined in `propTypes` in one of my components.

Maybe just some warning instead of 'unknown' exception. Alternatively exception with better explanation would also be good.

Very cool tool btw :+1:  .

[2016-01-27 14:01] mik01aj commented on #77
I just experienced the same problem and I can tell it's damn hard to debug this. The error looks like this:

![screenshot 2016-01-27 14 59 25](https://cloud.githubusercontent.com/assets/3027415/12615557/aa8e1662-c506-11e5-8245-631f5c80a68c.png)

Most importantly, there's no information about which component caused the error. (That stacktrace is pretty useless, btw. Maybe we should get rid of `redb

[2016-01-28 13:43] sapegin commented on #77
redbox is cool ;-) But probably we can do something with this error.

[2016-01-28 16:17] mik01aj commented on #77
@sapegin when you have a big red screen and no idea what caused this, it's not cool. It's much better to show the error in context, so that it's clear what caused the error. Like this:

![image](https://cloud.githubusercontent.com/assets/3027415/12650383/e80faf32-c5e2-11e5-9085-54a7bbc4c2c3.png)

[2016-01-28 17:29] sapegin commented on #77
@mik01aj It’d be cool if you can do it ;-)

[2016-01-28 20:51] jonathanp commented on #74
I just ran into the same error, haven't had time to debug it yet though.

[2016-01-28 21:17] mik01aj commented on #74
You can try specifying the `displayName` explicitly. (See also https://github.com/sapegin/react-styleguidist/issues/63)

[2016-01-29 15:27] jamieholliday commented on #74
Explicitly adding displayName appears to fix the issue

[2016-02-05 07:52] jardakotesovec commented on #72
I have my components in `components` folder and got same error, when I was referencing out of this components folder, like to utils or constants.

I solved this problem by adding these folders to webpack config in `updateWebpackConfig`, so they get processed by babel.

[code]

[2016-02-08 08:40] #58 closed

[2016-02-08 08:43] sapegin commented on #76
Please try [2.0.0-rc](https://github.com/sapegin/react-styleguidist/releases/tag/2.0.0-rc).

[2016-02-08 08:43] #76 closed

[2016-02-08 08:45] sapegin commented on #63
Please try [2.0.0-rc](https://github.com/sapegin/react-styleguidist/releases/tag/2.0.0-rc) with Babel 6.

[2016-02-08 08:45] #70 closed

[2016-02-08 08:46] sapegin commented on #69
Do you still have that?

[2016-02-08 08:48] sapegin commented on #65
[2.0.0-rc](https://github.com/sapegin/react-styleguidist/releases/tag/2.0.0-rc) uses Babel 6. I’m closing this for now, feel free to reopen if you still have issues or have ideas how to make it better.

[2016-02-08 08:48] #65 closed

[2016-02-08 08:50] sapegin commented on #62
I’m closing this issue because that’s what we plan to do in the future, see #64 for details. And pull requests are welcome ;-)

[2016-02-08 08:50] #62 closed

[2016-02-08 08:58] sapegin commented on #61
extract-text-webpack-plugin was removed some time ago ;-)

[2016-02-08 08:58] #61 closed

[2016-02-08 09:01] sapegin commented on #55
#59 was fixed, can we close this one too?

[2016-02-08 10:32] gregmuellegger opened #82 "Using webpack file-loader doesn't work with styleguidist"
Hi, thanks for this nice tool!

I tried to integrate a webfont into my styles and configured webpack (also the styleguide webpack config) to load fonts like this:

[code]

This works well for my normal webpack setup in developmernt but fails when using `styleguidist server` and `styleguidist build`. When I view the styleguide, it just doesn't pick up my custom webfont, but uses the system fallback

[2016-02-08 11:10] sapegin commented on #82
Could you please share your Styleguidist config and `styleguidist server --verbose` output?

[2016-02-08 13:09] #74 closed

[2016-02-08 13:27] sapegin commented on #74
Please try 2.0.0-rc3.

[2016-02-08 18:45] gregmuellegger commented on #82
`styleguide.config.js`:

[code]

`styleguidist server --verbose`:

[code]

[2016-02-08 20:23] sapegin commented on #82
Could you try 2.0.0-rc3? It’s possible the we have a fix for that:

[2016-02-08 21:33] gregmuellegger commented on #82
I get a new error, probably because I'm on Babel 5 so far and styleguidist 2 requires Babel 6.

[code]

I hope to get the time migrating to Babel 6 sometime soon.

[2016-02-09 08:04] sapegin commented on #82
Yeah, it should be because of Babel 5. Not sure we can detect it and show a meaningful warning.

[2016-02-15 13:16] gregmuellegger commented on #82
I won't be able to migrate anytime soon on this project. So I'm happy if you want to close the ticket. Otherwise I might report back here in a few months how things turned out.

[2016-02-15 13:16] sapegin commented on #82
Feel free to reopen if you have issues in the future.

[2016-02-15 13:42] oliverturner opened #83 "Consider using lodash-es modules"
Any interest in migrating to lodash-es? Could be nice from a Webpack2 / tree-shaking perspective (dependent on statically analysable imports)

Example here: https://github.com/reactjs/redux/pull/1372/files

[2016-02-15 13:50] mik01aj commented on #83
As far as I understand, this would help reduce the bundle size a bit. Is there any other impact that I'm missing?

[2016-02-15 13:53] oliverturner commented on #83
Better support in IDEs that perform inline static analysis (Atom + Tern.js, IDEA-based, etc.) is another up-side. Not aware of any negative impacts.

[2016-02-15 14:40] sapegin commented on #83
Good idea. But I don’t like this Lodash plugin, I think just importing modules as `lodash-es/func` is enough.

[2016-02-16 11:13] pekala opened #84 "Webpack UglifyJs plugin breaks the bundle"
When using the `styleguidist build` functionality, I get the following error in the browser console:

    bundle.js:26 Uncaught TypeError: Cannot read property 'name' of undefined

I did some investigation, and it seems to be caused by the `UglifyJsPlugin` used in the webpack "production" config. Removing it solves the problem (also, increases the bundle size 3 times). It's quite hard to debug wha

[2016-02-16 11:20] pekala opened #85 "Project's .babelrc overrides styleguidist Babel settings"
I had a following `.babelrc` file in my project:
[code]
I couldn't generate or serve the styleguide, as I was getting errors like
[code]
It turns out that it was because I didn't use `stage-0` preset in my `.babelrc`. It seems that styleguidist should specify that it needs this preset in its own configuration, or the docs should be updated to reflect this requirement.

[2016-02-16 11:23] sapegin commented on #84
I didn’t see this on the demo page or in my project. Probably it’s a conflict with your project’s code so I’d like you to help me debug it.

Also: which version of react-styleguidist do you use?

[2016-02-16 11:25] sapegin commented on #85
Yeah, I’m going to disable reading user’s `.babelrc` files as [suggested here](https://github.com/sapegin/react-styleguidist/commit/522b825029d9dbad1216c65ccfb91ca97d8cb790#commitcomment-16029891).

[2016-02-16 12:27] pekala commented on #84
I was on the `2.0.0-rc` but now I moved to `2.0.0-rc3` and the error is slightly different. It comes from this line https://github.com/sapegin/react-styleguidist/blob/736ccab8a73f3977b9f8916649c973843271dd6d/src/utils/utils.js#L6
It is most probably because I don't have `displayName` in my components. It's weird that it comes up only after the minification.

[2016-02-16 13:14] sapegin commented on #84
Looks like Uglify removes it for some reason.

[2016-02-16 13:39] sapegin commented on #84
Can you share your component definition? I can’t reproduce it.

[2016-02-16 15:11] mik01aj commented on #77
@sapegin how about using https://github.com/travelio/fineway-react-error instead of redbox?

[2016-02-16 15:13] sapegin commented on #77
I can’t answer until they add readme and license.

[2016-02-16 16:06] mik01aj opened #86 "Optimizing page rendering via hiding or deactivating CodeMirror until interaction"
Oringinal title for this issue was: **Rendering the styleguide in Chrome is awfully slow (because of CodeMirror)**

That's a screenshot of the timeline initial render:

![image](https://cloud.githubusercontent.com/assets/3027415/13081819/7b6e3ad8-d4ce-11e5-9d5e-7de6ad317fb1.png)

Note that the first render is shown only after 45 seconds. The styleguide has around 40 components.

I looked at the ti

[2016-02-16 17:49] sapegin commented on #86
Maybe autogrowing height of CodeMirror is the reason?

[2016-02-16 18:25] pekala commented on #84
The reason is that I am using `babel-plugin-transform-react-display-name`. I thought it would be adding display name for me, but apparently this doesn't work for functional stateless components.

Interestingly this only failed for built version after minification but not for non-minified or server version.

Would it make sense to allow components without `displayName` and take it from the file nam

[2016-02-16 18:53] sapegin commented on #84
Not sure about filename but if it works for unminified version I could try to disable name mangling in UglifyJS.

[2016-02-16 19:00] #85 closed

[2016-02-16 19:01] #82 closed

[2016-02-16 19:03] sapegin commented on #83
@oliverturner Do you want to make a PR for that?

[2016-02-16 19:21] operatino commented on #86
What do you expect, putting 40 components on one page.

[2016-02-16 19:22] sapegin commented on #86
We can make editors collapsed by default.

[2016-02-16 19:24] operatino commented on #86
It's also possible to activate the editor on click, so the source code will be shown always.

[2016-02-16 19:27] sapegin commented on #86
The we’ll have to highlight it and pray that it want jump too much on enabling ;-)

[2016-02-16 19:51] sapegin commented on #84
Hm, mangling is already disabled.

[2016-02-16 20:04] pekala commented on #84
Yes, I also tried `UglifyJsPlugin` without any plugins... It's just odd. But you should be able to reproduce it for any component without `displayName`.

[2016-02-16 20:34] sapegin commented on #64
Not sure about `peerDependencies` because it’s not just Webpack and Babel but:

[code]

Should we move everything?

[2016-02-16 20:58] oliverturner commented on #83
Happ to :)

Sent from my iPhone

[2016-02-17 08:45] mik01aj commented on #64
It's a hard question :)

If we really need these exact version numbers, it's good not to force the users to use the same version for their projects via `peerDependencies`. If we use `dependencies` it's possible to use different versions.

On the other hand, if users really use different version than of webpack than styleguidist, then the configs are incompatible and they have bigger problems. The

[2016-02-17 09:20] sapegin commented on #64
Anyway it’s not possible (as far as I know) to work with different major versions of Babel or Webpack so `peerDependencies` looks like over-complication.

[2016-02-17 09:30] mik01aj commented on #64
Maybe we could have them all in `dependencies`, just like now, and *detect* version of webpack and Babel that is used in the parent project so that when they are different we could display a warning like "You use Babel 5 in your project, but Styleguidist uses Babel 6, hence your configuration in .babelrc can't be used to build the styleguide.". (Note that if the versions are compatible and npm@3 i

[2016-02-17 09:34] sapegin commented on #64
Yep, that’s the best solution I think.

[2016-02-17 09:50] sapegin commented on #84
The only way I can reproduce it is `export default function(...)` but it doesn’t work in dev-server too.

[2016-02-17 10:05] #84 closed

[2016-02-17 10:15] mik01aj commented on #86
@operatino, it *can* be fast. Look at https://react-bootstrap.github.io/components.html for example. I do agree that it would be nice to be able to select some component and view it separately, but that's an independent feature request. It should be fast even when they are all displayed on one page.

@sapegin, I think enable-on-click could be a good idea. But maybe there's a simpler solution (e.g.

[2016-02-17 10:19] operatino commented on #86
@mik01aj you're comparing plain CSS bootstrap vs complex single page app with lot's of JS base components on it.

Fixing "some widths in CSS" is just a temp hack. This also limits any client side code features, since if you're already at full capacity, there's no place for adding some more advanced stuff.

[2016-02-17 10:20] sapegin commented on #86
It’s fast because they do not show editors by default.

But there are three things we can do:

1. Make editors collapsible, good to have anyway.
2. Improve performance, alway good to do.
3. Activate editors on click, only if there’s an easy way to do it.

@operatino They do exactly the same thing: show bunch of React components on a single page, they just hide editors.

[2016-02-17 10:21] mik01aj commented on #86
@operatino that's react bootstrap, rendered via JS (the doc page is a huge react component) and all the code examples are editable. It's pretty similar.

The problem here is not JS code, JS is fast (15.4% of the run time), it's the DOM and layout calculations that are so slow (83.5%).

[2016-02-17 10:27] operatino commented on #86
Okay, I've missed that you shown React Bootstrap, but look deers. Every component there is server side rendered, which boosts the performance a lot.

Also, it's still Bootstrap, which is a set of simple components. In a decent project, you get a lot more complex components with more functionality, which again, doesn't scale at all.

[2016-02-17 10:28] mik01aj commented on #86
@operatino would you mind opening a new ticket for separate-pages-per-component feature?

[2016-02-17 10:30] sapegin commented on #86
It’s much bigger feature: grouping components + table of contents + something else :-)

[2016-02-17 10:31] operatino commented on #86
I even have a solution already - https://github.com/sourcejs/sourcejs-react-bundle-example ;)

Which is a higher level wrapper on top of styleguidist. Treat it as an idea for scaling, not the promotal of some specific implementation.

[2016-02-17 10:35] sapegin commented on #69
Feel free to reopen if you still have this issue.

[2016-02-17 10:35] #69 closed

[2016-02-17 10:37] operatino commented on #86
In first React implementation https://github.com/szarouski/sourcejs-react (quite limited)  we also had server side rendering, which I would really like to pair up with styleguidist somewhere in future.

[2016-02-17 10:37] sapegin commented on #72
Please try [2.0.0-rc4](https://github.com/sapegin/react-styleguidist/releases/tag/2.0.0-rc4). It has many breaking changes but should fix such problems. Or at least make things more explicit.

[2016-02-17 10:38] sapegin commented on #86
@operatino That would be cool!

[2016-02-17 10:40] sapegin commented on #63
Feel free to reopen if you still have this issue.

[2016-02-17 10:40] #63 closed

[2016-02-17 10:45] sapegin commented on #55
Closing this for now. Feel free to reopen if you still have this issue.

[2016-02-17 10:45] #55 closed

[2016-02-17 10:46] sapegin commented on #57
[2.0.0-rc4](https://github.com/sapegin/react-styleguidist/releases/tag/2.0.0-rc4) should fix all this problems.

[2016-02-17 10:46] sapegin commented on #64
[2.0.0-rc4](https://github.com/sapegin/react-styleguidist/releases/tag/2.0.0-rc4) includes most of the planned changes. Please test it and leave feedback.

[2016-02-17 12:50] mik01aj commented on #71
@sapegin, is there any chance for having this fixed in 2.0?

[2016-02-17 13:01] sapegin commented on #71
There is a chance but pull request will make it 100% ;-)

[2016-02-18 14:37] sapegin commented on #71
Even if I enable html in MarkdownIt and rules for that it’s displayed as regular text probably [because of this](https://github.com/alexkuz/markdown-react-js/blob/8693337bf00a71f9fcd35aa6e2cfee99ffeb0a09/src/index.js#L56-L62).

[2016-02-18 14:56] mik01aj commented on #71
Okay, but I understand that the bug with `&lt;Avatar size=&quot;42&quot; /&gt;` is fixed anyway, right?

[2016-02-18 14:58] sapegin commented on #71
Yep! So I’d like to close it for now and suggest using fenced blocks to separate code blocks.

[2016-02-18 15:00] mik01aj commented on #71
Great, thanks! :+1:

[2016-02-18 15:00] #71 closed

[2016-02-18 21:51] sapegin commented on #64
[2.0.0-rc6](https://github.com/sapegin/react-styleguidist/releases/tag/2.0.0-rc6) is out. I do not plan any changes except possible bug fixes and going to release 2.0.0 on Monday.

[2016-02-21 15:04] oliverturner opened #88 "Is .babelrc redundant?"
Since Babel is configured via the Webpack loaders does it make sense to retain the root-level `.babelrc` file?

[2016-02-21 16:18] sapegin commented on #88
Mocha use it.

[2016-02-21 16:18] #88 closed

[2016-02-22 09:26] sapegin commented on #72
Closing this for now. Feel free to reopen if you still have this issue.

[2016-02-22 09:27] sapegin commented on #64
[2.0.0](https://github.com/sapegin/react-styleguidist/releases/tag/2.0.0) is out.

:shipit: :shipit: :shipit:

[2016-02-22 09:27] #64 closed

[2016-02-22 09:31] mik01aj commented on #64
@sapegin, :+1: :tada:

Could you elaborate on this? That's not very clear, because this can mean either:

* Styleguidist uses Babel 6. (and the dependency will be installed automatically, so why should I care?)
* If I want to use Styleguidist, my project must use Babel 6. (What if I don't use babel at all? What if I have Babel 6?)

Also, I think that we should also explain that the examples always

[2016-02-22 09:36] sapegin commented on #64
Yes.

Yes.

Yes.

No problem, but you should configure proper Webpack loaders for your project.

Upgrade to Babel 6 or use Styleguidst 1.x.

If you can improve the docs, please do it ;-)

[2016-02-22 09:38] sapegin commented on #57
Closing this for now. Feel free to reopen if you still have this issue.

[2016-02-22 09:38] #57 closed

[2016-02-22 09:38] #56 closed

[2016-02-22 11:44] mik01aj commented on #64
See #89.

[2016-03-01 13:19] sapegin opened #90 "Real world example"
I’m going to make a React versions of [components for my framework](http://tamiadev.github.io/tamia/modules.html). Looks like it’d be a good real world example.

[2016-03-01 13:22] sapegin commented on #28
Looks like this is already done in basic form.

[2016-03-01 13:22] #28 closed

[2016-03-01 13:24] #72 closed

[2016-03-01 14:03] oliverturner commented on #90
Nice!

[2016-03-01 14:03] oliverturner commented on #90
I need to do likewise

[2016-03-02 03:01] karlbright commented on #77
Thanks for opening this issue @jardakotesovec. I too ran into this issue and wasn't able to work it out across the large application codebase. I'm interested to see how this progresses.

[2016-03-02 08:43] sapegin commented on #77
If someone could submit a fix I’ll be very happy ;-)

[2016-03-02 10:51] #77 closed

[2016-03-02 12:55] mik01aj commented on #68
Closed in #92.

[2016-03-02 12:55] #68 closed

[2016-03-02 15:57] vyorkin opened #94 "Unable to run customised example"
Module build failed: TypeError: Cannot read property 'sync' of undefined

[code]

[2016-03-02 16:03] mik01aj commented on #94
Could you share your config? What versions of webpack (and loaders) do you use?

[2016-03-02 16:14] vyorkin commented on #94
I've just cloned the repo and ran `npm install && run start:customised`

[2016-03-02 16:29] oliverturner commented on #94
I'll take a look

[2016-03-02 16:35] #94 closed

[2016-03-02 16:35] sapegin commented on #94
Didn’t check but should work ;-)

[2016-03-02 16:41] oliverturner commented on #94
Just checked with a fresh install: works for me

[2016-03-02 17:28] vyorkin commented on #94
yes, it works :+1: thank you

[2016-03-03 13:33] mik01aj opened #96 "Update the GIF in the README."
We had a lot of changes in 2.0 and 2.1, it'd be cool to show them off. ;)

[2016-03-03 13:35] sapegin commented on #96
Yeah, I need to do it. And maybe make a tiny (~1 minute) screencast or something.

[2016-03-03 14:10] zammer commented on #51
I'm having issues with controlled form components losing focus onChange which means you can only type in one letter at once.

![losefocus](https://cloud.githubusercontent.com/assets/754039/13496654/5a08767e-e149-11e5-8888-e507a58db1cf.gif)

Although this example is using a custom form input the behaviour is the same with native inputs.
It seems like its related to this issue or am I doing somethin

[2016-03-03 14:13] mik01aj commented on #51
Seems like related.

@sapegin, so how about using `React.createClass` like I suggested above?

[2016-03-03 14:14] sapegin commented on #51
@mik01aj @zammer Could you try it?

[2016-03-03 14:17] zammer commented on #51
Yes, I'll have a look at that.

[2016-03-03 15:18] ahmed1490 opened #97 "styleguidist command not found"
<img width="708" alt="screenshot" src="https://cloud.githubusercontent.com/assets/623510/13498759/916526b4-e15b-11e5-9f8d-211a873d6658.png">

[2016-03-03 15:26] mik01aj commented on #97
You didn't read the README:

[2016-03-03 15:26] #97 closed

[2016-03-03 15:27] sapegin commented on #97
Reading is hard 8-)

[2016-03-03 16:10] ahmed1490 commented on #97
somehow i missed ` If you want to run them directly, use ./node_modules/.bin/styleguidist`
my bad!

[2016-03-03 16:51] zammer opened #98 "Add routing to Styleguidist"
For the project I'm working on we implemented simple routing (not including react-router because we didn't need the more advanced functionality).

We have a homescreen then each component has it's own page.
Is this something you may interested in?
If so would you want to use react-router?
Also should there be an option to have a one page or multi page app? (Not thought how to implement this)

[2016-03-03 16:58] sapegin commented on #98
Not sure about one page per component but routing is definitely a good thing to have because we want to add components grouping (by tag or function or whatever) and ability to add random Markdown and HTML documents to style guide.

Also check this issues: #31, #12.

[2016-03-04 01:22] hokuma opened #99 "Module build failed when starting styleguidist server"
This is a project where error happens.
https://github.com/hokuma/sample-styleguide

Mac OX El Capitan 10.11.3
node: 4.2.4
npm: 2.14.12

[code]

[2016-03-04 07:16] sapegin commented on #99
It says unknown option `stage`. Which Babel version do you use?

[2016-03-04 08:55] hokuma commented on #99
I am using v6.6.4.

[code]

[2016-03-04 08:58] sapegin commented on #99
For Babel 6 [you need to use presets](https://medium.com/@malyw/how-to-update-babel-5-x-6-x-d828c230ec53#.phkaxw7t8).

[2016-03-04 08:58] #99 closed

[2016-03-04 09:30] mik01aj commented on #86
@sapegin do we have any decision on this one? If we decide that we should hide CodeMirror initially, i'd rename this issue and close #12 in favour of this one.

[2016-03-04 09:31] sapegin commented on #86
Yes, with an option to change default visibility. But I’m not sure about the default value.

[2016-03-04 09:33] mik01aj commented on #12
Quoting first post:

Will be done in #86.

So #28 didn't really end up with grouping, but maybe #98 will do.

So, as these issues are reported elsewhere, I close this one.

[2016-03-04 09:33] #12 closed

[2016-03-04 15:30] hokuma commented on #99
I have already used presets, but I have resolved this problem by excluding project dependent node_modules from module.loaders.

IMHO:
`react-styleguidist` itself is dependent on `markdown-react-js' which works for babel5. When staring styleguidist server, babel6 tries to process `markdown-react-js` in node_modules and fails.

Thanks.

[code]

[2016-03-04 15:47] oliverturner commented on #99
can you post your `.babelrc`?

[2016-03-04 16:03] sapegin commented on #99
If you use `include` you won't need `exclude`. Why it tries to read anything in `node_modules`?

[2016-03-04 16:05] sapegin commented on #99
It doesn’t matter which version of Babel `markdown-react-js` uses because styleguidist uses transpiled files. But they shouldn’t publish `.babelrc` to npm I think.

[2016-03-04 16:07] mik01aj commented on #99
@sapegin I can't see why it would be invalid to use both `include` and `exclude`. See [the webpack docs](https://webpack.github.io/docs/configuration.html#module-loaders). I usually use `exclude:  /node_modules/,` to exclude all the not-my-project code.

[2016-03-04 16:09] sapegin commented on #99
It’s valid but not very useful. But `include: __dirname` in readme is a mistake, I’ll fix it ;-) It should be `'src/' + __dirname`

[2016-03-04 16:28] mik01aj commented on #99
and what if I have toplevel files? `exclude: /node_modules/` is more robust imho.

[2016-03-04 17:19] oliverturner commented on #99
@mik01aj it's more robust because it's a looser definition of what to include. `include` reduces the surface area of what's being parsed and is therefore a more accurate implementation of your intent.

[2016-03-04 17:20] sapegin commented on #99
Yeah, `include` is more explicit.

[2016-03-06 03:26] hokuma commented on #99
@oliverturner
This is my .babelrc.

[code]

@sapegin
Change my webpack config following this comitt(9569354), and it works.

Thanks!

[2016-03-07 15:26] qur2 opened #100 "Missing stringify in the loader?"
Hi,

I was trying to build a styleguide for my project and it was failing with a JSON.parse error:
[code]

I fixed it by modifying the `processComponent` of the styleguide loader like so:
[code]

Any thought on that? I obviously would like to avoid forking for that, since I assume it's an isolated problem.

Those are my webpack packages:
[code]

Thanks for your help,
Aurélien.

[2016-03-07 15:37] qur2 commented on #100
I just the same for the example readme file loading:

[code]

In the same way, if I wrap the `requireIt` call in the `processComponent` function, I get passed this error. However, in this case, it later fails when the components are rendered with:

[code]

[2016-03-07 16:27] sapegin commented on #100
Instead of fixing it’ll break style guide even more ;-) I also don’t understand why do you load JavaScript with JSON loader.

What version of react-styleguidist do you use? Can you show your style guide config?

[2016-03-07 19:23] qur2 commented on #100
Oh!! Thank you, I actually misconfigured the JSON loader, I completely omitted the test key for that loader (mistakenly, not on purpose at all):
[code]

It works fine for dev & build, but only started to fail with styleguidist. I changed the loader config to:
[code]

And it works as expected. Thank you for your hint, it did put me on the correct track.

[2016-03-07 19:23] #100 closed

[2016-03-08 08:30] mik01aj commented on #100
@qur2 thanks for reporting what your problem actually was. It can be helpful for others.

[2016-03-08 09:26] sapegin commented on #100
@mik01aj Maybe we can show more warnings?

I think we can also use [webpack-validator](https://github.com/kentcdodds/webpack-validator) but right now it’s very basic.

[2016-03-08 09:50] mik01aj commented on #100
@sapegin No, I don't think so. We can think about it if more people have this problem.-

[2016-03-08 21:37] kazooie opened #101 "No CSS class to render tag "li""
I get this warning when I use a list (*, +, or -) in a markdown example.

[2016-03-09 07:46] #101 closed

[2016-03-10 01:22] TigerC10 commented on #37
@stinoga - I think I'm having the same problem.  None of my Radium wrapped components are detected as suitable components.

[2016-03-10 08:08] sapegin commented on #37
@TigerC10 If you or anyone could submit a pull request to fix that it would be very cool.

[2016-03-14 16:48] shubhamsizzles opened #103 "ERROR in ./~/react-codemirror/src/codemirror.js Module parse failed"
I'm following the guide, but I can't get past this error. My config file looks like:
[code]

This is the error summary :

[code]

[2016-03-14 17:42] sapegin commented on #103
I think that’s because you have `src` in `modulesDirectories`. So any `require('codemirror')` will try to load `src/codemirror.js` first. Try to use absolute path.

[2016-03-14 17:42] #103 closed

[2016-03-15 01:19] shubhamsizzles commented on #103
@sapegin My project already relies on `moduleDirectories` for importing subcomponents within components. I'm afraid its not something I can change. Surely, there must be some way around this?

[2016-03-15 01:34] shubhamsizzles commented on #103
I fixed that error by added `node_modules` to `wepackConfig.exclude`. Webpack now runs successfully, but now the client has problems with hot reloading.

`module.exports = require("webpack-hot-middleware/client");
require not defined`

[2016-03-15 08:33] sapegin commented on #103
You really shouldn’t rely on hacks like this ;-)

[2016-03-15 12:53] shubhamsizzles commented on #103
@sapegin It isn't a hack. Writing
`import "components/componentA.jsx/"`
is neater than
`import ../../../../components/componentA.jsx"`,
 if I add "src" to moduleDirectories.

[2016-03-15 12:57] sapegin commented on #103
It is a hack because you’re just creating problems for yourself and anyone who will support your code later. In your case you should use `alias`. Anyway this issue isn’t related to React Styleguidist.

[2016-03-15 14:37] shubhamsizzles opened #105 "Syntax highlighting not working in codemirror"
What could I be doing wrong?

<img width="974" alt="screen shot 2016-03-15 at 8 03 52 pm" src="https://cloud.githubusercontent.com/assets/8946207/13781365/18b250ce-eae9-11e5-9169-394779e80cfa.png">

My markdown looks like:

[code]

Config:

[code]

[2016-03-15 14:39] sapegin commented on #105
Does it work with the default theme?

[2016-03-15 14:49] shubhamsizzles commented on #105
@sapegin it doesn't.

[2016-03-15 14:52] sapegin commented on #105
Strange, it works fine for everybody else.

[2016-03-15 14:57] mik01aj commented on #105
@sapegin I also noticed that highlighting doesn't work when you build (rather then use server).

[2016-03-15 14:58] sapegin commented on #105
@mik01aj But it works [on the example page](http://react-styleguidist.js.org/).

[2016-03-15 15:05] shubhamsizzles commented on #105
Hmm... Isn't the highlighting applied by codemirror library itself? What could be possibly going wrong? Don't see any console errors.

[2016-03-15 15:08] sapegin commented on #105
It is. Does it generate classes for highlighting?

![](http://wow.sapegin.me/1A3G2l1O3r0e/Image%202016-03-15%20at%204.07.51%20PM.png)

[2016-03-15 15:18] mik01aj commented on #105
@sapegin mist. I checked it in my build and it turned out it's about props rather then code in CodeMirror, and they don't have the colour because of some strange CSS issue - this is the computed style:

![image](https://cloud.githubusercontent.com/assets/3027415/13782919/71803a9c-eac9-11e5-80a7-467bbe67393d.png)

I have no idea why it ends up being black. But this on seems to be some other issue t

[2016-03-15 15:20] sapegin commented on #105
It maybe because Webpack applies CSS snippets in unpredictable order. Have no other explanation now.

[2016-03-15 15:22] mik01aj commented on #105
@sapegin I figured out in my case it's overridden by `.ReactStyleguidist-common__reset {all: initial;}`.

[2016-03-15 15:25] sapegin commented on #105
@mik01aj Could you fix that? Because I can’t reproduce it.

[2016-03-15 15:30] mik01aj commented on #105
I'd just remove [this line](https://github.com/sapegin/react-styleguidist/blob/0ff2b2f93dffe30046d8c20c819bf9aeb28b209e/src/styles/common.css#L28)...

[2016-03-15 18:08] oliverturner commented on #103
@shubhamsizzles my experience is that - as much it feels elegant to be able to reference your deps like this - it just leads to issues and confusion down the line. Not sure I'd go so far as to call it a hack (since webpack allows you to do this)... maybe an anti-pattern? I'd recommend being as explicit as possible.

[2016-03-16 00:54] shubhamsizzles commented on #105
@sapegin  In my case, the only classes I see are ` CodeMirror-line ` and ` CodeMirror-code ` . No other classes, although identifiers have their own span/div tags.

[2016-03-16 09:05] mik01aj commented on #103
[StackOverflow folks recommend `alias`.](http://stackoverflow.com/questions/30084723/webpack-resolve-moduledirectories). :)

[2016-03-23 23:21] sompylasar opened #107 "Reuse react-styleguidist as a React component, not a separate app?"
Like this:
https://github.com/skidding/react-component-playground

Is this possible?

I'd like to plug it into my app on a separate route.

[2016-03-23 23:24] sompylasar commented on #43
Probably related #107.

[2016-03-24 07:11] ericmuyser commented on #72
Hey @sapegin
Could use some guidance. Having the same problem as above, I think.
https://gist.github.com/ericmuyser/59dfa16812e393dc97ea
Tried everything in this SS:
![image](https://cloud.githubusercontent.com/assets/156768/14010689/c0055850-f154-11e5-88fe-e399400093ea.png)

Also tried `plugins`:
![image](https://cloud.githubusercontent.com/assets/156768/14010693/cdd056ce-f154-11e5-9680-393a06b07

[2016-03-24 07:47] sapegin commented on #72
@ericmuyser `test: /\.js?$/,` means `.js` or `.j`, you need `.jsx?`.

[2016-03-24 07:58] ericmuyser commented on #72
Wooow. I guess my other one I copied it from works because of this:
![image](https://cloud.githubusercontent.com/assets/156768/14011410/826e5fd0-f15b-11e5-82b8-4f9fff9966f5.png)

No more copy/paste for me this week.

[2016-03-24 08:02] sapegin commented on #72
`resolve.extensions` is for requiring modules without extensions, but loader `test` fails it won’t be transpiled. That’s why you have “Unexpected token” instead of module not found.

[2016-03-24 08:17] sapegin commented on #107
I’m not sure it’s possible because we have a lot of stuff in Webpack loaders. It might work with a lot of copy-pasting from Styleguidist to your app so you can use components from Styleguidist but I’m not sure it’s worth it.

[2016-03-24 08:18] sapegin commented on #107
Maybe better solution is just to publish it as a static page and have a link in your app. And use Styleguidist server to develop new components.

[2016-03-24 08:43] mik01aj commented on #107
@sompylasar I think you could actually try this way: try to modify the webpack config (that one for static website, produced from `makeWebpackConfig`) to build a bundle with just the root component exposed.

[2016-03-24 08:43] ericmuyser commented on #72
Oh okay I see what happened. I started out following the guide, copied over my working line `test: /\.js?$/`, couldn't get it working, so I tried changing the extension to `.jsx` thinking perhaps styleguidist didn't support `.js`, and didn't change that copied line back, so it was never matching on jsx when after fixing the root problem (which I still dont know was).

Anyway thanks again for the h

[2016-03-24 09:14] sompylasar commented on #107
OK, then, I think, I will have to run `styleguidist server` as a child process and expose it on a routed page in an iframe.

For future, it would be very useful to expose a JS API to take a config object and start the server, not just the CLI with the file-based config.

[2016-03-24 09:16] sapegin commented on #107
Yeah, and I’ll be happy to merge such pull request ;-)

[2016-03-24 09:18] #107 closed

[2016-03-29 18:46] talexand commented on #52
@smashercosmo: What was your fix? Can you post a code snippet?

[2016-03-29 19:27] talexand opened #110 "SCSS webpack loader example"
React-styleguidist has very specific opinions about where component source, style, and documentation should go. This is very useful (and preferable), but makes it a little bit difficult to figure out how to add things like an SCSS loader. An example of this would be a big help, as I can't get SCSS working with the docs as is.

Here is my `styleguide.config.js` webpack config:

[code]

SCSS files a

[2016-03-29 19:37] sapegin commented on #110
I have no problems with Sass on my work project. Will check the config tomorrow.

One question: do you `import` your SCSS files in your components?

[2016-03-29 20:31] talexand commented on #110
Thanks for the quick reply. I had not, but adding `require('./Component.scss')` with the following loader works:

[code]

I'm guessing that each component should require its stylesheet, rather than expecting a CSS bundle to be available across the guide (excepting the styleguidist sheets in `src/`)?

[2016-03-29 20:38] sapegin commented on #110
You can [add CSS bundle to Webpack entries list](https://github.com/sapegin/react-styleguidist#how-to-add-custom-js-and-css) but hot reload for CSS will not work.

Or you can import root SCSS file somewhere from your JavaScript.

[2016-03-29 20:44] talexand commented on #110
Got it! If it would help, I might be able to adapt this to an example for the README later.

[2016-03-29 20:45] sapegin commented on #110
That would be awesome, the docs are far from great now ;-)

[2016-03-30 11:09] marklundin opened #111 "Union elements share same key"
React is raising the `Encountered two children with the same key, '.$instanceOf'` warning when attempting to render a component with multiple `PropType.instanceOf`s.  It seems that the component keys aren't properly assigned.

Here's a test component that causes the error

[code]
[code]

I've had a look through the code and think it could be [this](https://github.com/sapegin/react-styleguidist/blo

[2016-03-30 11:15] marklundin commented on #111
Further info on this. Whilst the above throws the warning, the modified code below does not.

[code]

[2016-03-30 11:35] sapegin commented on #111
Yeah, looks like we shouldn’t use name alone as a key. Could you please submit a pull request with a fix?

[2016-03-30 12:18] marklundin commented on #111
opened a PR

[2016-03-30 12:56] #111 closed

[2016-03-30 14:28] Guria opened #113 "Avoiding separate webpack loader configs for styleguide and "normal build""
[code]
It would help to use already builded components for demo purposes and sources to parse with `react-docgen`

[2016-03-30 14:46] sapegin commented on #113
Not sure I understand what do you need. Could you explain your use case?

[2016-03-30 15:14] mik01aj commented on #113
@Guria I don't understand your example, but you can use `require` in your `examples.md` to show some external demo components.

[2016-03-30 17:40] Guria commented on #113
`react-docgen` doesn't requires component, but parses component source as text. Moreover, it is not being able to parse transpiled builded files. Live examples must be builded to be able to run, on the other side.

Documentation recommends to extend webpack config with appropriate loaders to build components.

In my case I have several libs with both sources and transpiled build in node_modules. I

[2016-03-31 07:28] mik01aj commented on #113
I read your comment 3 times and I still don't understand what you're trying to do and what is your problem.

[2016-03-31 07:29] sapegin commented on #113
Looks like it out of scope of the Styleguidist.

[2016-03-31 09:59] Guria commented on #113
### Using dist build
[code]
* ok for `styleguidist` to use for demo purposes
* but not ok for parsing with `react-docgen`: `Error: No suitable component definition found.` for Stateful components transpiled from es6 class definition.

### Using sources
[code]
* ok to parse with `react-docgen`
* but not ok to direct require for demo purposes.`You may need an appropriate loader to handle this file t

[2016-03-31 10:11] mik01aj commented on #113
The "current solution" is what we recommend in the docs.

If you don't want 2 configs, you can use `.babelrc` for babel (will only work with babel 6) and re-use some parts of your webpack config via `require('./webpack.config')` and putting them where needed.

[2016-03-31 10:32] Guria commented on #113
I know about recommendation. In my case it will be bunch of libraries. It will be really a mess of require('some-lib/webpack.config') with per library hacks to patch include, exclude pathes, etc.

[2016-03-31 11:26] mik01aj commented on #113
If you need some special Webpack config to use some libraries, then it's a problem with these libraries.

[2016-03-31 11:43] sapegin commented on #113
I’m going to close it because it’s out of the scope of the Styleguidist and you already have a working solution.

[2016-03-31 11:43] #113 closed

[2016-03-31 12:22] Guria commented on #113
It is definitely not a problem of a library. Library is distributed with compiled build. Library consumer doesn't have to no anything about build tools used. And my suggestion was to allow `styleguidist` to consume built files, while also providing path to sources to make `react-docgen` to generate docs for components.

[2016-03-31 12:34] mik01aj commented on #113
Ah, I think that now I finally understand your point.

You want to **compile your `jsx` to `js` with some tool outside styleguidist (be it webpack, babel or anything), and then you want styleguidist to consume these compiled files** instead of compiling them  again. Correct?

That's a fair point, and it should be possible to do it by rewriting some paths for webpack. But on the other hand, I'm not

[2016-03-31 17:03] MoOx opened #115 "Support for Flow types"
This is more a question. [react-docgen support for flow](https://github.com/reactjs/react-docgen#flow-type-support), but I am not sure that react-styleguidist does.
As a workaround, [there is a babel plugin to transform flow types as props ](https://github.com/brigand/babel-plugin-flow-react-proptypes).

[2016-03-31 17:04] MoOx commented on #115
From what I see it should be ok as the result seems following the same format.

[2016-03-31 17:10] sapegin commented on #115
It would be nice if you or anyone could check that because I don’t use Flow anywhere.

[2016-04-01 18:57] Guria commented on #113
Exactly. it already compiled and published to internal npm server

Yes. I just install them from local npm and want styleguidist to be able use already compiled one for demo purposes and sources for docgeneration.

It expected to be opt-in, so shouldn't affect general public. If you are not ready to spent time for not common case, I understand you. I can do it on my own with your permission and gu

[2016-04-01 19:21] sapegin commented on #113
Don’t forget about maintaining this code and docs. Every new feature makes code and docs harder to understand and modify. And every new feature we’d add later should take this one into account in order not to break it.

So if you can make an external library for that it would be great. If you need some hooks and API in Styleguidist for that — we could add it it think.

[2016-04-01 19:34] Guria commented on #113
what about option just like `getExampleFilename`, but for compiled source?

[2016-04-01 20:07] sapegin commented on #113
Can you show an example? Might work.

[2016-04-01 20:57] Guria commented on #113
[code]

[2016-04-02 07:51] sapegin commented on #113
Looks good for me.

[2016-04-05 07:27] zammer commented on #115
We use flow in our project and everything works fine. :)

[2016-04-05 10:21] MoOx commented on #115
I confirm this is working like a charm, without any propTypes (only flow annotation) and no plugin to generate those.
You can safely add a note in the README ;)

[2016-04-08 08:48] vslinko opened #116 "Update react to version 15.0"
Today is the day when [first stable version of React is released](https://facebook.github.io/react/blog/2016/04/07/react-v15.html).
I hope that all popular instruments like this will support the new version soon.

But first we should wait for some of dependencies to update:

* [x] Wait for https://github.com/JedWatson/react-codemirror/issues/42 and update react-codemirror.
* [x] Wait for https://g

[2016-04-08 08:53] sapegin commented on #116
What doesn’t work now?

[2016-04-08 08:57] vslinko commented on #116
I'm trying it right now and I'll share results soon.

[2016-04-08 09:05] vslinko commented on #116
No issues found. Just warnings from npm:
[code]

[2016-04-08 09:07] sapegin commented on #116
We can update babel-preset-react-hmre right now, they don’t have React in peer dependencies anymore: https://github.com/danmartinez101/babel-preset-react-hmre/commit/73924d08da9d553b03505867357ac0d868563936

[2016-04-09 05:34] JedWatson commented on #116
Just published an update to `react-codemirror` as well.

[2016-04-09 15:54] sapegin commented on #116
@JedWatson Thanks!

[2016-04-09 18:57] vslinko opened #117 "Using TypeScript interfaces to describe props — is it ever possible?"
I'm using React Styleguidist with TypeScript and I don't want to write `propTypes` but I want to have components API described on Styleguidist page.

[2016-04-09 21:21] vslinko commented on #117
For future seekers: you can override internal `props` loader and implement your own parser.
https://github.com/sapegin/react-styleguidist/blob/master/loaders/props.loader.js

[2016-04-09 21:21] #117 closed

[2016-04-11 18:47] marklundin opened #121 "Use `renderToStaticMarkup` in when running build."
Not sure how feasible this is, but could the style guide be statically rendered into the index.html using `ReactDOMServer` when compiled with the build option? Then rendered again via `ReactDOM` to hook up the events.

This could be useful to have static output.

[2016-04-11 19:17] marklundin opened #122 "Stateless components do not output in build"
Stateless components such as `export default props => 'text'` are not included in the output when  running `styleguidist build`. I've narrowed it down and found that if the [UglifyJsPlugin](https://github.com/sapegin/react-styleguidist/blob/master/src/make-webpack-config.js#L110) is removed then it works correctly. I guess Uglify may be mangling something with the component somewhere

[2016-04-11 19:34] sapegin commented on #121
How is it better than `styleguidist build`?

[2016-04-11 19:36] sapegin commented on #122
Stateless components work if you define them [like this](https://github.com/sapegin/react-styleguidist/blob/master/examples/basic/lib/components/Button/Button.js):

[code]

[2016-04-11 20:06] marklundin commented on #121
I guess load time for end users would be a factor for a large number of complex components. Also so bots can crawl. I guess for the same reasons as you'd want to pre-render on the server.

[2016-04-11 20:07] sapegin commented on #121
I don’t ;-) But feel free to submit a pull request if it’s not very complicated to implement.

[2016-04-12 07:34] mik01aj commented on #121
@marklundin in React 15, the HTML should be more lightweight. Do you use it?

And I think that long load time is caused mostly by #86. (If the page opens significantly faster in FF, then it's this one)

[2016-04-12 08:47] marklundin commented on #121
@mik01aj good point, I'll take a look.
I'd still be interested to see how much better a static page loads though. As @sapegin said, if it's a fairly straightforward update I'll submit a PR.

I'm not sure if theres any real SEO impact thought. React does state you'd use `renderToStatic` for this very reason, but my understanding is that most bots execute js and wait for the page to load anyway, so

[2016-04-12 16:20] O4epegb opened #125 "package.json missing in examples folder"
Could you please add package.json to each separate example, so you could run them independently from main project? I can't figure out what deps they need. Or if you are too busy to do it yourself, can you tell what deps are needed and i make PR with package.json?
Thank you in advance.

[2016-04-12 16:41] O4epegb opened #126 "Problems with documenting components from separate library"
So, the case:
1. There is a libary on react and typescript
2. I want to make documentation for it
3. But, none of the methods for documenting components does not work for some reason
I'm getting this error every time
[code]
 (i cant use propTypes method, but i tried all the other ones, including getExampleFilename method)
4. Main thing: i'm just reexporting react-component, like this:
[code]
If i

[2016-04-12 18:14] sapegin commented on #125
You can install main project dependencies:

[code]

But it’d be nice to make examples independent too.

~~If you have time please submit a pull request.~~ Just did it in aca5ae472b8d1dfc67dbe7cf08f79e2ccd551431 ;-)

[2016-04-12 18:14] #125 closed

[2016-04-12 18:17] sapegin commented on #126
Looks like react-docgen don’t support TypeScript: https://github.com/reactjs/react-docgen/issues/67

[2016-04-12 18:23] O4epegb commented on #126
The thing is than everything working if I'm using regular file with code, even in typescript, but not working with reexport. And I checked the same scenario without typescript it didn't worked too.
I checked your examples, there is regular file with component, like Button.jsx and index.js file with reexport too, and you are using component file but if I reconfigure system to work with reexported i

[2016-04-12 18:25] O4epegb commented on #126
You can try to recreate this case, just use index.js files from examples, instead of directly using component files.

[2016-04-12 18:25] sapegin commented on #126
I thinks it’s because react-docgen don’t analyze imports and it couldn’t find a component in your file because there’s no component in this file.

[2016-04-12 18:31] O4epegb commented on #126
That might be the case. Is it hard to implement this feature? That would be killer feature, with it you could make docs for independent libraries, without touching any internal source code.

[2016-04-12 18:53] sapegin commented on #126
Try to ask in [react-docgen repo](https://github.com/reactjs/react-docgen).

[2016-04-12 21:48] O4epegb commented on #126
Hm. This is quite strange, I think react-docgene actually analyzes imports, because if you import some other component inside yours - then everything is ok, like in your examples with modal, otherwise it would not work, if I understand correctly. So, if I just make dummy wrapper-component and import my component inside, it should work. I'll test this tomorrow.

[2016-04-13 12:39] O4epegb commented on #126
Hey, again!
I tried again today, with version from npm this time, and everything suddenly works!
But i have a question, why props.loader.js in npm version is different from the one in github repo? Someone forgot to commit it? New version of this file fixed all issues, but you need to synchronize them, i think.
Anyway, thanks for the answers, version from npm works well so far, you can close this i

[2016-04-13 12:43] sapegin commented on #126
The new version is of course in the repo. Actually there are quite a lot of changes since the last release and I’m not sure which causes a regression: https://github.com/sapegin/react-styleguidist/commits/master/loaders/props.loader.js

[2016-04-13 12:51] O4epegb commented on #126
This is the version from npm package
http://puu.sh/ogFky/1b319c4749.png

The one in the github repo looks completely different, no? It is also not working, in my case.

[2016-04-13 12:52] sapegin commented on #126
Feel free to send a pull request with a fix.

[2016-04-14 07:17] sapegin opened #127 "Who uses React Styleguidist?"
Do you use React Styleguidist in your project? Let us know about that! It’d be great if you can share some details: screenshot, link, number of components, etc.

We use it at [Here](https://company.here.com/here/) for a component library that we use to develop internal tools. Right now we have 41 component and it’s growing:

![](http://wow.sapegin.me/1Y0D2C442y3D/Image%202016-04-14%20at%209.16.07%

[2016-04-14 10:11] operatino commented on #127
Interested in [sourcejs-react-styleguidist](https://github.com/sourcejs/sourcejs-react-styleguidist) users? I know @ndelangen uses it quite extensively.

[2016-04-14 10:12] sapegin commented on #127
@operatino Yep ;-)

[2016-04-14 11:16] ndelangen commented on #127
Me and my team are using [sourcejs-react-styleguidist](sourcejs-react-styleguidist) as @operatino says.
We currently document 58 spec pages, ranging from _Utilities/Colors, Utilities/Fonts, Atoms/Buttons, Atoms/Image, Molecules/Map, Molecules/ProductList, Modules/Hero, Modules/StoreLocator, Scaffolds/Header, Scaffolds/Footer_.

Spec pages are grouped together according to a somewhat [atomic design

[2016-04-14 14:02] sapegin commented on #127
@ndelangen Cool, thanks!

[2016-04-14 21:23] albertfdp commented on #116
@sapegin would it be possible to upgrade to [babel-preset-react-hmre](https://github.com/danmartinez101/babel-preset-react-hmre) 1.1.1? Current version requires it as a peer dependency and blocks the upgrade to 15 unfortunately

[2016-04-15 07:28] sapegin commented on #116
@albertfdp Done in #128.

[2016-04-18 14:00] AoDev opened #129 "[question] Section feature is not available on latest npm"
Hello,

Not sure if the section feature is a work in progress?
Checking the docs, it explains the section feature, but 2.1.0, which is latest from npm, does not have this feature yet.

Could you tell us the status?

[2016-04-18 14:09] sapegin commented on #129
There are quite a lot of changes since 2.1.0:
https://github.com/sapegin/react-styleguidist/compare/2.1.0...master

But I’d like to wait for #124 before a new release.

[2016-04-18 14:09] #129 closed

[2016-04-20 07:24] #122 closed

[2016-04-20 07:24] #116 closed

[2016-04-21 07:10] bstream opened #130 "No CSS class to render tag "tr"/"tbody""
Hi, I just started using react-styleguidist and I noticed that there are some missing classes for markdown parsed tables. The table renders fine but I got some hints in the console that I should report it here.

![console image](https://www.dropbox.com/s/yqqsf55i08f6ocl/Screenshot%202016-04-21%2009.01.21.png?dl=1)

### Example:

[code]
**Table name**

| Column1   | Column2   | Column3   |
| :-----

[2016-04-21 09:37] #130 closed

[2016-04-21 09:38] sapegin commented on #130
Thanks! That’s fine if you don’t want to change styles of this tags.

[2016-04-21 09:43] mik01aj opened #131 "Styleguidist not working with npm 2 (error in make-webpack-config.js)"
The problem is here: https://github.com/sapegin/react-styleguidist/blob/3a7271fc59ada1bcb959d62d174d64fecdc69645/src/make-webpack-config.js#L73

`getPackagePath('entities')` breaks, because `entities` is not a dependency of styleguidist. `entities` is a dependency of `markdown-it`, which is a dependency of styleguidist, so:
* when installed with npm 2, the `entities` module is not accessible from

[2016-04-21 09:51] sapegin commented on #131
1. It’s needed because Markdown It uses some JSON files.
2. We shouldn’t enable any loaders that could affect user’s code.

But do we actually need to support npm 2?

As a quick fix we could try to replace `getPackagePath('entities')` with:

[code]

[2016-04-21 10:16] mik01aj commented on #131
Yes, because of Node 4.x LTS releases. [They are pretty new and they still use npm 2](https://nodejs.org/en/download/releases/).

And your quick fix will not work, because `getPackagePath('entities')` fails with an exception.

I'm actually surprised that Webpack doesn't support json by default. On the other hand, [it would be nice if `entities` wouldn't require json files](https://github.com/fb55/

[2016-04-21 10:21] sapegin commented on #131
Looks good for me.

[2016-04-21 10:28] mik01aj commented on #131
On the other hand, we already force users to use ES6+JSX in examples, with Lodash 4 and React 15. Anyone using other versions of these libraries, or other Babel config might have problems with writing practical examples. I think that this is more important then avoiding enabling the json loader for user files.  ;)

As for the fix - I'll make a PR. But I've seen this:

[code]

Shall I add `include:

[2016-04-21 10:30] sapegin commented on #131
But there’s no easy fix if it’s possible to fix at all.

Yeah, I think so.

[2016-04-21 11:30] mik01aj commented on #127
Hello from [LovelyBooks](http://lovelybooks.de)! :)

![screenshot 2016-04-21 13 27 36](https://cloud.githubusercontent.com/assets/3027415/14707398/ea190c46-07c4-11e6-9a24-23193c95790d.png)

Right now we have 50 components.

[2016-04-21 11:59] mik01aj commented on #110
I do it too. I'll just paste the relevant part here, maybe it will be helpful for someone:

    updateWebpackConfig: function (webpackConfig) {

        webpackConfig.entry.push('./app/scripts/globalConfig.js');

        webpackConfig.entry.push('./app/styles/bootstrap.scss');
        webpackConfig.entry.push('./app/styles/application.scss');
        webpackConfig.entry.push('./app/styles/stylegui

[2016-04-21 13:50] #131 closed

[2016-04-21 14:31] sapegin commented on #127
@mik01aj Awesome!

[2016-04-21 15:04] MoOx commented on #51
I am stuck with this issue as well. It's pretty annoying to have a state that break all the rendering :/
Anything I can do to help?
Does anyone have fixed this locally?

[2016-04-21 15:19] vslinko commented on #51
I'm using my own wrapper to store state:
[code]

Usage:

[code]

[2016-04-21 16:06] MoOx commented on #51
@vslinko Thanks for sharing this.

Here is my simpler version (flow)

[code]

[2016-04-21 16:13] sapegin commented on #51
@MoOx If you can try what @mik01aj suggests above and send us a pull request that would be awesome.

[2016-04-21 16:22] MoOx commented on #51
Sorry didn't understand what to do :/

[2016-04-25 06:16] sapegin commented on #127
[Rumble Charts](http://rumbleinc.github.io/rumble-js-charts/), React components for building composable and flexible charts.

![](http://wow.sapegin.me/3W3X1P0B003G/Image%202016-04-25%20at%208.15.54%20AM.png)

/cc @rosko

[2016-04-25 12:06] XOP opened #133 "Emulate responsive behaviour"
In the very basic implementation there is no common ability to test components against various breakpoints in `@media`-queries - by resizing the browser window or using DevTools.
Generally, if we hide sidebar and adjust paddings of the components wrapper there is a good approximation for what we are targeting.
Do you have plans to implement the feature in some different way (iframes etc.) or shoul

[2016-04-25 12:52] sapegin commented on #133
Looks useful for me. I’ll be happy to merge a pull request with this feature.

[2016-04-26 11:37] XOP commented on #133
I'll take a look into this, but can't promise anything :(
I'm thinking about incorporating react-styleguidist for the project needs, but apparently there's no chance to 'just use it' without this feature and perhaps something else

[2016-04-26 17:06] rewmike opened #135 "Error: Cannot find module "entities/maps/entities.json""
Latest 2.2.1 release throws error in console:

    Error: Cannot find module "entities/maps/entities.json"

Release 2.2.0 works fine, related to changes in #131.

I am running Node v5.0.0 and npm v3.3.6.

[2016-04-26 21:09] pke commented on #127
I stumbled over this project a couple of weeks ago, starred it and then forgot how it was named and that I had it starred. Last week I was desperately googling anything with *react component documentation by example example.md* but did not find this project. *react components in example.md* finally lead me back to this repo.

Now I can work on our example files for about 80 components/containers a

[2016-04-26 21:24] pke commented on #53
@panayi

How are those components aware of context changes? Does context change trigger a whole re-render?

[2016-04-27 08:27] mik01aj commented on #135
My fault (see [this commit](https://github.com/sapegin/react-styleguidist/commit/7e182ba2ae01a9b735e2a6b5163d240f575a96ac)).

But on the other hand, I don't understand why that `/node_modules\/entities\/.*\.json$/` regex doesn't match that JSON module. Maybe we should replace it with `/entities\/maps\/.*\.json$/`?

[2016-04-27 08:47] sapegin commented on #135
Works fine for me: Node 5.10.1, npm 3.8.3. Could you try to remove `node_modules` folder and reinstall all dependencies?

[2016-04-27 09:10] sapegin commented on #127
@pke Would be interesting to see the result ;-0

[2016-04-27 19:05] rewmike commented on #135
Same issue if starting fresh, running on Windows 10.

[2016-04-27 19:07] rewmike commented on #135
[code]

[2016-04-28 07:17] mik01aj commented on #135
Hmmm. From https://webpack.github.io/docs/troubleshooting.html#windows-paths:

So shall the regex be `new RegExp(path.join('node_modules', 'entities', '.*\\.json$').replace('\\', '\\\\'))`?... Ugly. 😦

[2016-04-28 07:21] sapegin commented on #135
Ugly as Windows ;-( Maybe there’s some npm module to do that in cross-platform way?

[2016-04-28 07:22] sapegin commented on #135
But they say that `path.join` returns the correct path separator so we don’t need to replace it.

[2016-04-28 07:23] sapegin commented on #135
I think we can use `_.escapeRegExp` here.

[2016-04-28 07:33] mik01aj commented on #135
or we could use `/[/\\]/` regex to match any path separator.

[2016-04-28 16:09] stepancar commented on #131
@mik01aj, error when i use  2.2.1 and npm 3.8.6
![screenshot_1](https://cloud.githubusercontent.com/assets/2854910/14892661/96ebc760-0d74-11e6-8848-34f136628c3c.jpg)

[2016-04-29 06:36] mik01aj commented on #131
Yes, this was already reported in #135.

[2016-04-29 06:39] sapegin commented on #135
Could anyone with Windows try this solutions and send a pull request if it works?

[2016-04-29 07:11] naltatis opened #136 "Why is production bundle.js so big?"
I've noticed that the production `bundle.js` for the `basic` example is ~2,5mb. This seems quite huge to me. The `bundle.js` from the demo at http://react-styleguidist.js.org/ is _only_ 1mb. Is the deployed example maybe build with an older version?

What does make the bundle so big? From my understanding it should only contain `react`, `codemirror`, `the components` and a little bit of glue code.

[2016-04-29 09:19] mik01aj opened #137 "Section content option path is relative to the project root (and should be relative to config file location)"
From `README`:

The 2 path options (`content` and `components`) handle path inconsistently. With `components` (as well as other config options, e.g. `styleguideDir`) the path is relative to the config file. The `content` path is relative to the webpack context (project root in this case). Often it means the same, but not when the config is not in the project root.

Related source line: https://git

[2016-04-29 11:34] sapegin commented on #136
It’s 2,4 MB *ungzipped*:

![image 2016-04-29 at 1 29 18 pm](https://cloud.githubusercontent.com/assets/70067/14914864/63ff429c-0e0e-11e6-86fe-6124f2c06ef0.png)

The main contributor to that size I thinks is CodeMirror:

[code]

But we may misconfigure something, so help is really appreciated. I think you can hardcode statistics generation in [make-webpack-config.js](https://github.com/sapegin/reac

[2016-04-29 11:39] mik01aj commented on #137
Maybe doing `path.resolve(section.content)` would be enough?

[2016-04-29 12:03] naltatis commented on #136
You are right. Firefox tells me the wrong file size when I force-reload. Not quite why that is.
![bildschirmfoto 2016-04-29 um 13 59 18](https://cloud.githubusercontent.com/assets/152287/14915381/d0e490ca-0e12-11e6-8172-6011f6c852d0.png)

I'll have a deeper look into the webpack stats ...
Thanks for the quick feedback!

[2016-04-29 13:02] naltatis commented on #136
Seems like `babel-standalone` and `lodash` are the biggest dependencies.

[code]

I was able to generate the `stats.json` by uncommenting this line:
https://github.com/sapegin/react-styleguidist/blob/master/src/build.js#L7

[2016-04-29 13:06] sapegin commented on #136
`markdown-react-js` is two times bigger that `lodash` but `babel-standalone` is huuuuuge.

[2016-04-29 13:08] naltatis commented on #136
I was looking at `react-styleguidist: lodash 633.61 KB`

[2016-04-29 13:15] mik01aj commented on #136
Oh, this one does look weird. Maybe we have many copies of lodash?

[2016-04-29 13:17] sapegin commented on #136
Yeah, this is weird because the full unminified build of lodash is smaller:

[code]

[2016-04-29 13:20] sapegin commented on #136
Looks like we’re including it all in a several places:

[code]

[2016-04-29 13:28] sapegin commented on #136
Doesn’t hep much:

Before:

[code]

After:

[code]

[2016-04-29 14:14] naltatis commented on #136
What is `babel-standalone` used for?

[2016-04-29 14:16] sapegin commented on #136
To transpile ES6 in CodeMirror.

[2016-04-29 14:20] naltatis commented on #136
Irks. Then i really would vote for making code editing optional or a lazy dependency. #86

[2016-04-29 14:24] sapegin commented on #136
The issue you mentioned isn’t about making edition optional but about hiding the editor by default. But extraction of CodeMirror and `babel-standalone` into a separate bundle with lazy loading is also very good feature.

[2016-04-29 14:40] mdhgriffiths commented on #135
Works for me!

[2016-04-29 18:42] #135 closed

[2016-04-30 10:33] ndelangen commented on #136
With webpack 2 you can do:
[code]

And it will code-split automatically. I've done so, with packages without dependencies, but the result was a success.

[2016-05-01 19:57] AoDev opened #139 "Cursor repositioned while editing example"
Hello,

When editing a live snippet the cursor will sometimes be repositioned at the beginning of the snippet.

It is annoying because the snippet will break while typing. Plus, you have to correct the "mess" before continuing.

My first guess is maybe because react is re-rendering, so the mouse cursor is moved at the beginning?

[2016-05-01 20:43] sapegin commented on #139
I’ve noticed it recently and looks like it’s something relatively new. But I haven’t had time to investigate it yet.

[2016-05-02 08:33] MoOx commented on #86
I have to admit that styleguidist just currently offer a pretty bad UX just because of this speed issue.
I have "just" 20 components and initial page render takes seconds to load.
Compared to that my real app with 200 instances of components render in 1 or 2 seconds.

[2016-05-02 08:35] sapegin commented on #86
@MoOx That’s why we have a “help wanted” label here.

[2016-05-03 12:27] marklundin opened #140 "Images in markdown throw React error"
Adding `![image](path/to/image.png)` in markdown throws `img is a void element tag and must not have 'children' or use 'props.dangerouslySetInnerHTML'. Check the render method of MDReactComponent.`

I assume this is actually https://github.com/alexkuz/markdown-react-js/issues/5

[2016-05-03 12:54] sapegin commented on #140
But they work fine?

We should get rid of `markdown-react-js`: it has lots of issues and it’s dead (no commits since November 2015).

[2016-05-03 14:07] marklundin commented on #140
No, nothing renders.

Have you checked http://rexxars.github.io/react-markdown/. Seems to be under active dev and img seems to work

[2016-05-04 06:24] mik01aj commented on #86
To summarize, we'd like to have

- [ ] a new config option, e.g. `exampleCodeShown`
- [ ] that option should be `true` by default (we can discuss the default, but I think if we want to make it a semver-minor version we should mimic the current behaviour and just focus on performance)
- [ ] have the `Editor` component just syntax-highlight the code in a `<pre>` when `exampleCodeShown: true`
- [ ] h

[2016-05-04 06:26] mik01aj commented on #139
It's not new, I noticed it sometimes in 1.x too. Looks like before first code change in CodeMirror the cursor position is calculated using some smaller `font-size`.

[2016-05-04 08:24] mik01aj commented on #136
@sapegin and @naltatis, good idea with code splitting.

But on the other hand, I think that #86 still has far bigger performance impact than this.

[2016-05-04 08:36] naltatis commented on #136
I think we have to tacke both.

In dev-Mode the bundle is ~13mb. Firefox on my one year old 15" MacBook Pro needs ~10s to initially load the page with just the sample components. In Chrome it *only* takes 3s, but here is a huge potential to improve developer experience.

[2016-05-04 08:40] sapegin commented on #136
@naltatis Any performance / UX / DX improvements are *very* appreciated, even the smallest. :shipit: 🚀

[2016-05-08 14:21] marsbergen opened #141 "Add HTML rendering support"
It would be great if your can put HTML in your Markdown files which will just be rendered, like Markdown can.

[2016-05-08 17:10] MoOx commented on #86
Is there any quick workaround to remove codemirror (even if that's involved removing the entire code below demo parts). Currently this project is more and more unusable for me, just with 20 components...

[2016-05-08 19:32] pvasek commented on #117
This is perfect, thanks a lot. I put together a simple implementation of props parser for typescript.

You can find it here:
https://github.com/pvasek/react-docgen-typescript

[2016-05-09 06:29] sapegin commented on #141
Could you please submit a pull request with it?

[2016-05-09 06:31] marsbergen commented on #141
Yeah I was thinking about that already, I need it on short term, so sure I'll create a pullrequest when I have something running.

Btw is it correct that > for blockquotes are disabled?

[2016-05-09 07:21] MoOx opened #143 "Add support for composed component via HoC"
[HoC is a good pattern](https://medium.com/@bloodyowl/the-provider-and-higher-order-component-patterns-with-react-d16ab2d1636) but when I use it, component are not recognized as such.

[code]

Any idea how can we add support for this?
I tried to add `export { SidebarItem }` but no luck :/

[2016-05-09 08:19] sapegin commented on #141
Nope, it must be a bug or just missing styles.

[2016-05-09 08:35] sapegin commented on #143
`resolver` and `handlers` options might help here but I’ve never used them myself.

[2016-05-09 09:01] mik01aj commented on #86
You can override the `Editor` component with and empty `div`, [see the FAQ in Readme](https://github.com/sapegin/react-styleguidist#how-to-change-the-behaviour-of-a-style-guide).

[2016-05-11 13:34] sapegin commented on #127
[Semantic UI Components for React](https://github.com/hallister/semantic-react).

[![image 2016-05-11 at 3 32 06 pm](https://cloud.githubusercontent.com/assets/70067/15182580/90887508-178d-11e6-9830-a9df957c09fd.png)](http://hallister.github.io/semantic-react/)

/cc @asvetliakov @hallister

[2016-05-16 10:11] MoOx commented on #86
I successfully used a "pre" tag for the editor, but perfs are still very bad.

[2016-05-16 18:35] tizmagik commented on #139
Having the same issue. I'm glad it's not just me. Any idea when this started happening? Maybe we can nail down the exact change?

I noticed it also only happens when you type quickly. If you type very slowly it doesn't seem to happen, which makes me think it has something to do with the timing of re-rendering the component while typing in the codemirror box.

[2016-05-16 19:20] AoDev commented on #139
While investigating, I've seen that changing the debouncing delay of the editor to 1000 ms prevents this from happening. https://github.com/sapegin/react-styleguidist/blob/master/src/rsg-components/Editor/Editor.js#L14

But the update is delayed.

[2016-05-17 08:42] mik01aj commented on #139
Imho it's fine to delay the update but I will not give my 👍  until we actually UNDERSTAND why this happens. (Nailing down the commit with `git bisect` would be enough I guess).

[2016-05-17 08:43] mik01aj commented on #86
That's a surprise to me! Could you send us a screenshot of the timeline?

[2016-05-17 14:40] AoDev commented on #139
Sure, just giving some hints.

[2016-05-20 17:03] tizmagik commented on #139
Submitted #145 to address this. Details about why this happens written there.

[2016-05-20 17:08] #139 closed

[2016-05-20 17:12] AoDev commented on #110
We use less but it's the same.

We have our own entry point for our docs. (styleguide)
As you can see we even use other loaders. For example we build a svg Icon sprite that people can use with an Icon component that we have by simply giving the name of the icon.

this is the entry point: docs/index.js
[code]

our webpack config
styleguide.config.js
[code]

[2016-05-20 17:28] FezVrasta opened #146 "Webpack 2 support?"
Could you add support for Webpack 2?

[2016-05-20 18:24] sapegin commented on #146
I’m not sure that we can just *add* support. I’m afraid it would be Webpack 1 or Webpack 2. Any help and research is very appreciated because I don’t have any experience with Webpack 2 so far.

[2016-05-21 05:08] Mark-Brightcloud commented on #5
0. Restart Terminal(Mac) or whatever shell in your environment.

1. Add FIXFIX in package.json like this:
`"scripts": {
    "FIXFIX": "webpack --progress --profile --colors --display-error-details --display-cached",
  },`

2. Run this: (Yes, with sudo!)
`sudo node run FIXFIX`

3. Now run with your normal build see if it fixed.

[2016-05-23 19:28] tizmagik commented on #143
I'm looking into this right now. It's a real problem with `@connect()` wrapped components with `react-redux` for example.

Ideally we shouldn't need to `export {unwrappedComponent}` but I'll try to think of ways around this. Maybe we can define some mocks to use for those wrappers or something when running in the styleguide?

Any ideas would be helpful!

[2016-05-24 16:32] tizmagik opened #147 "Cut a new release?"
Any expected ETA on when a new release will be published?

[2016-05-24 16:58] sapegin commented on #147
How about [now](https://github.com/sapegin/react-styleguidist/releases/tag/v2.3.0)? ;-)

[2016-05-24 16:59] #147 closed

[2016-06-01 18:19] tizmagik commented on #73
What's the desired behavior?

[2016-06-02 08:21] mik01aj commented on #73
To show the shape details in "description" (as on the first screenshot).

[2016-06-03 14:11] asci commented on #110
Any working example for `scss`? Have the same issue

[2016-06-03 14:14] mik01aj commented on #110
See mine above ⬆️

[2016-06-03 14:32] mik01aj commented on #34
I tried to build something, but I had to stop [here](https://github.com/istarkov/babel-plugin-webpack-loaders/issues/98).

[2016-06-03 14:43] mik01aj commented on #34
But leaving that bug aside, I was able to run a test for one component using this code:

[code]

[2016-06-03 15:02] asci commented on #110
@mik01aj thanks a lot, but I don't have separate styles file

[2016-06-03 16:04] mik01aj commented on #34
@sapegin I made some more progress, but I need to change one thing in styleguidist: instead of:

     require('styleguide!')

we would do:

      require('styleguide!' + pathToConfigFile)

Then it would be possible to reuse that loader. Otherwise it always looks for the config path in `process.argv`...

[2016-06-03 18:44] mik01aj commented on #110
Then I don't understand what `scss` you want to load.

[2016-06-05 15:27] reintroducing commented on #37
I just ran into this as well on a very simple stateless functional component.  Most of my components are written this way and this is the only one that errors:

[code]

Any idea why this one in particular would error?  I can't figure it out, the component works exactly as expected.

[2016-06-05 15:32] reintroducing commented on #37
Nevermind, I figured it out.  It's because React isn't in the component and I'm using createElement instead.  React doesn't need to be there because the component doesn't really use it.  Any idea on how to fix this or do I need to refactor my component and let it be there?

[2016-06-05 19:19] sapegin commented on #34
@mik01aj You have push access ;-) I’ll make a new release.

[2016-06-06 07:42] mik01aj commented on #34
@sapegin I tried, but it's difficult because the config is needed pretty much everywhere. I believe it should be passed explicitly to every "part", rather than `required` by each module. I could add a flag to override the logic of finding and loading the config, but this feels ugly.

![screenshot 2016-06-06 09 37 41](https://cloud.githubusercontent.com/assets/3027415/15815004/61b8e248-2bca-11e6-96

[2016-06-06 08:14] mik01aj commented on #34
Maybe the `server` and `build` could call some `config.init(argv)` at the beginning. I don't see any better way since we need to pass the config to other loaders too (like `props.loader`), and we even can't serialize the config because it contains JS functions.

[2016-06-06 08:33] sapegin commented on #34
That’s difficult but important task. But I’m still not sure about the best (or at least good) way to solve it.

Passing the config (not just a file path) explicitly would be the best but seems impossible with loaders. But we can start with just a file name, it’s better than nothing anyway.

[2016-06-06 09:05] mik01aj commented on #34
@sapegin please have a look at https://github.com/sapegin/react-styleguidist/commit/a4e9cf2565ac67972157e4e6de14370fd25bb6a1. This is the simple solution (not a nice one)

[2016-06-06 09:10] sapegin commented on #34
Better than nothing, don’t know how to improve it ;-)

[2016-06-06 10:30] mik01aj commented on #34
So I added one more commit and finally got it working.

https://gist.github.com/mik01aj/5b0be7da5453b84a8a2a51b57611c2c7

[2016-06-06 13:59] mik01aj commented on #34
So, to sum up, I was able to setup the code for my project (code in [gist](https://gist.github.com/mik01aj/5b0be7da5453b84a8a2a51b57611c2c7)) but it's hacky as it uses some undocumented APIs (setting globals manually, `chunk.evalInContext`, `component.nameFallbak` typo, etc). If more people want it, we could refactor styleguidist so that it's easier to do this kind of tests.

[2016-06-06 15:26] sapegin commented on #34
Cool! I’d suggest to close it now until anyone wants more.

[2016-06-06 15:28] #34 closed

[2016-06-08 08:44] mik01aj commented on #86
I tried recording the timeline again, and have seen a nice surprise!

![image](https://cloud.githubusercontent.com/assets/3027415/15888012/7ff4981e-2d65-11e6-9677-f2a1c4a2b00a.png)

I have 63 components now and the page loads in around 8 seconds. But around 60% of this time is CodeMirror initialization (the highlighted frame triggers `CodeMirror.fromTextArea` for all code examples), so there's sti

[2016-06-14 13:49] AoDev commented on #11
Could we add a directive in a comment at the top of a component file like many linters do for example?

[code]

[2016-06-15 08:28] mik01aj commented on #11
Why would this be better than ignoring the components in the styleguide config?

[2016-06-15 08:31] sapegin commented on #11
It also might be difficult to implement. And I’d like to have a style guide config as isolated from the code as possible.

[2016-06-15 10:06] AoDev commented on #11
Because right now the styleguide is also documenting some "internal" subcomponents which shouldn't be a concern for the developers who are going to use the main component.

[2016-06-15 10:10] mik01aj commented on #11
@AoDev this doesn't answer my question. I didn't ask you why we need ignoring components, I asked you why do you want to do it in the component file instead of the styleguide config (see the comments above for details on how to do it).

[2016-06-15 10:15] AoDev commented on #11
Because it's easier to do for the user. Regarding the styleguide config you'd need to create a function / pattern that is heavily dependent on the file names / pattern / file structure.

Files operations like renaming files / moving code around (that sure does not happen all the time), need to be followed by a change in the styleguide config while there wouldn't be anything to do with this directi

[2016-06-15 10:16] AoDev commented on #11
But, if you have code pattern structure to propose to help it's more than welcomed.
Our structure is similar to AirBnB react styleguide. https://github.com/airbnb/javascript/tree/master/react#naming

[2016-06-15 13:47] mik01aj commented on #11
Well, yes, but the same is also true for most build, or test, or lint configs. I still think it's fine as it is.

[2016-06-15 20:03] tizmagik commented on #133
I'm a fan of that approach. The responsive Chrome DevTools and in Safari are hard to beat, so I think we just simply need a clean and easy way to isolate a component without the styleguidist chrome.

[2016-06-15 20:30] tizmagik commented on #133
I'm with you @XOP , we need this as well. Let me know where you end up or if you need any help.

I think something as simple as a `view isolated` link next to each component name that then goes to a blank page with just that example rendered and no other padding or chrome on the page would be helpful. Then use the browser's back button to go back to the full list of components. That may be a good

[2016-06-16 08:37] operatino commented on #133
Here's the example implementation of the solution you're discussing:

https://sourcejs.com/specs/example-bootstrap-bundle/carousel/

+ isoleted view:

https://sourcejs.com/specs/example-bootstrap-bundle/carousel/?clarify=true&sections=1
https://sourcejs.com/specs/example-bootstrap-bundle/carousel/?clarify=true&tpl=clear&sections=1

[2016-06-16 08:38] operatino commented on #133
This kind of "separate" component view page helps a lot, but solutions with placing the examples in iframes also makes sense, if on one page you would like to show different screen states. We're currently discussing similar plugins for SourceJS.

[2016-06-16 08:51] XOP commented on #133
@tizmagik Hey man, thanks for support!
At the time I can't afford to spend any more time on this, so far we are good with our proprietary solution, constantly adding new features and improving it. So I guess there is no rush from my side for now.
But proposal stands anyhow :)

[2016-06-23 12:59] #140 closed

[2016-06-23 12:59] sapegin commented on #31
It’s implemented in a basic form.

[2016-06-23 12:59] #31 closed

[2016-06-23 13:01] sapegin commented on #51
Fixed in #134.

[2016-06-23 13:01] #51 closed

[2016-06-23 13:04] sapegin commented on #98
There is very basic routing implementation and ability to open a component in a separate page now. Feel free to open a separate issue or submit a pull request if you want something more specific.

[2016-06-23 13:04] #98 closed

[2016-06-24 07:28] mik01aj commented on #98
@sapegin we have filtering (#123), but can we actually have an URL that would jump straight to the single component view? Maybe I'm missing something.

[2016-06-24 08:27] sapegin commented on #98
@mik01aj I’ve added links yesterday but the UI is not the best. But better than nothing because I always forget this `#!/Button`.

[2016-06-24 08:28] sapegin commented on #98
![](http://wow.sapegin.me/1e3t2b3U0u2v/Screen%20Recording%202016-06-24%20at%2010.19%20AM.gif)

[2016-06-24 08:35] sapegin commented on #141
There’s very basic HTML support now: 552507f4a87c455ab26150cc141f3ce715952e59.

[2016-06-24 08:36] #141 closed

[2016-06-24 08:39] #19 closed

[2016-06-24 08:39] #53 closed

[2016-06-24 08:40] sapegin commented on #105
I’ve updated CodeMirror and now we’re using its own JSX mode. Feel free to reopen if you still experience this issue.

[2016-06-24 08:40] #105 closed

[2016-06-24 08:42] sapegin commented on #110
Closing it for now. Feel free to send pull request to improve the docs.

[2016-06-24 08:42] #110 closed

[2016-06-24 08:42] #126 closed

[2016-06-24 21:23] brandondurham commented on #146
What’s involved here?

[2016-06-30 02:25] idris opened #153 "Skipped components cannot be used in examples"
I have a component structure where I have a `ProgressStep` component that's only used within a `ProgressStepBar`.  My example looks like this:
<img width="822" alt="screen shot 2016-06-29 at 7 21 19 pm" src="https://cloud.githubusercontent.com/assets/13989/16474805/b13af4f2-3e2e-11e6-84e3-5b12d34dd9f0.png">

However, since this example includes `ProgressStep`, I don't want to document `ProgressSte

[2016-06-30 06:57] sapegin commented on #153
Then we will need a way to really skip components that can’t be loaded by style guide because of HOCs
or something like that.

There is [a way](https://github.com/sapegin/react-styleguidist/blob/master/docs/GettingStarted.md#writing-code-examples) to specify imports in examples.

[2016-06-30 08:32] mik01aj commented on #153
Yes, I would say, just `require` your component in the example code.

[2016-06-30 15:32] idris commented on #153
Totally missed that I can `require` other components.  Thanks for the quick responses!  Closing this now.

[2016-06-30 15:32] #153 closed

[2016-06-30 20:14] idris commented on #143
Also wondering about this as many of our components are wrapped with `Relay.createContainer`

[2016-07-05 09:24] mik01aj opened #154 "new release?"
There are 22 commits since last release. @sapegin, could you publish a new one? (Not sure if minor or major)

[2016-07-05 09:31] sapegin commented on #154
Sure. Looks like it could should be major:

Changes that might be breaking:

* Code is hidden by default: 80ab7b8e46b00c433390296439f35f6378bfc9cf (I wouldn’t care about this one).
* Different setState behavior, especially new way of defining default state (`initialState = {count: 1};`): 88de0c20bec18343f11c2294158a390769047498.

[2016-07-05 13:07] ZorGleH commented on #121
I'm very interested to have a static rendering, because I'm making a styleguide for an application which is not in React. It would be very cool to have a static output which can be copied/pasted, without the React clutter. How would be the best way to do that?

[2016-07-06 13:55] mik01aj commented on #154
3.0.0 released! 🎉

[2016-07-06 13:55] #154 closed

[2016-07-06 14:11] ndelangen commented on #154
Congrats on this major release!

[2016-07-06 14:14] sapegin commented on #154
@ndelangen Thanks! :shipit:

[2016-07-06 14:22] sapegin commented on #127
Feel free to add your project here!

[2016-07-06 14:22] #127 closed

[2016-07-07 11:47] mik01aj opened #155 "propType warnings from valid examples (in 3.0)"
In this example:

[code]

I get a propType warning:

    Required prop `label` was not specified in `Button`

This happens only when the code is run for the first time to determine the initial state (see [`Preview.js`](https://github.com/sapegin/react-styleguidist/blob/88de0c20bec18343f11c2294158a390769047498/src/rsg-components/Preview/Preview.js#L60)). In `render`, all is OK and it works fine.

F

[2016-07-07 11:51] mik01aj commented on #34
FYI: I updated my gist for v3.0.

[2016-07-07 11:58] mik01aj commented on #155
Maybe this could be fixed by changing the `initCode` to this:

    const initCode = `
        // Workaround for https://github.com/sapegin/react-styleguidist/issues/155
        var React = {}; // so React.createElement will throw
        var initialState = {};
        try {
            ${compiledCode}
        } catch (e) {
            // ignoring
        } finally {
            __initialStateCB(in

[2016-07-07 12:15] mik01aj commented on #154
wow, 3.0 is great. There is [a small bug](https://github.com/sapegin/react-styleguidist/issues/155) but the styleguide page now runs so smoothly! Looks like CodeMirror was really heavy resource-wise. Great work! 👍

[2016-07-07 12:20] sapegin commented on #154
Thanks to @tizmagik for implementing collapsible examples!

[2016-07-07 13:17] tizmagik commented on #86
Shall we close this, given https://github.com/sapegin/react-styleguidist/issues/150 ?

[2016-07-07 13:28] tizmagik commented on #154
Nice work on this release guys! Lots of great improvements all around! 😁

[2016-07-07 13:40] mik01aj commented on #86
Yes :)

[2016-07-07 13:40] #86 closed

[2016-07-18 09:35] #137 closed

[2016-07-18 09:45] mik01aj commented on #137
thanks!

[2016-07-18 11:56] #155 closed

[2016-07-18 11:56] sapegin commented on #155
Looks like it works. I hope it doesn’t break anything ;-|

[2016-07-18 12:02] #115 closed

[2016-07-18 12:03] sapegin commented on #90
Maybe later 😴

[2016-07-18 12:03] #90 closed

[2016-07-18 12:11] #33 closed

[2016-07-18 12:38] sapegin commented on #73
![image 2016-07-18 at 2 37 48 pm](https://cloud.githubusercontent.com/assets/70067/16914923/3973a5a6-4cf5-11e6-8d96-d1c0cec5a778.png)

[2016-07-18 12:39] #73 closed

[2016-07-18 12:48] mik01aj commented on #73
🎉  😀

[2016-07-18 13:43] tizmagik commented on #37
@reintroducing if you import 'react' and then use `React.createElement` does that help?

Another thing you can try is import 'react' and then use JSX to return like so:

[code]

[2016-07-21 18:53] benknight opened #156 "StyleGuide component can't be used as a wrapper"
From the docs:

https://github.com/sapegin/react-styleguidist/blob/master/docs/FAQ.md#how-to-change-the-behaviour-of-a-style-guide

Looking at the StyleGuide source, it's not actually a wrapper, as in doesn't just pass it's children on (like the Wrapper component does).  So replacing it actually overrides the entire component tree.

I could get around this issue if I could somehow import the Style

[2016-07-22 07:37] sapegin commented on #156
It’s called wrapper because you can use it to wrap style guide in your own markup.

What do you want to achieve? I’ve added an example to the FAQ but it’s not that useful.

[2016-07-22 17:48] benknight commented on #156
I was expecting to be able to use it to render the StyleGuide as a child of my own wrapper component, so I can run my own code on `componentDidMount` for example.

[2016-07-22 18:07] benknight opened #158 "Any tips for making it run faster?"
Right now it's taking the build command around ~45 seconds to complete.

[2016-07-23 11:39] sapegin commented on #158
I think it’s pretty normal for Webpack builds. Feel free to send pull request that makes it faster.

[2016-07-23 11:39] #158 closed

[2016-07-23 11:41] sapegin commented on #156
What did you try and what didn’t work?

[2016-07-25 01:00] reintroducing commented on #37
@tizmagik I ended up refactoring the component altogether and haven't gotten back to this, unfortunately.  Appreciate the heads up though.

[2016-07-25 01:06] reintroducing opened #159 "Warning: Element: `ref` is not a prop."
Hey @sapegin, been a while since I looked at this repo but I'm back to working on a SG and it's great to see the progress that has been made here.  I got up and running rather quickly this time around but I'm seeing the following in my console: https://www.dropbox.com/s/o2mvgqhjmpop1iw/Screenshot%202016-07-24%2020.05.37.png?dl=0

I only have one very simple component being written in my SG right n

[2016-07-25 08:05] mik01aj commented on #158
Btw, @sapegin - as styleguidist is mostly webpack-based, perhaps we could support building/serving like this:

[code]

Then, when you need both "normal" and styleguide server, the whole project code would be built just once.

[2016-07-25 08:10] sapegin commented on #158
@mik01aj Are you suggesting merging user site’s Webpack config and Styleguidist’s?

[2016-07-25 08:20] mik01aj commented on #158
no, I mean putting them side by side. See http://stackoverflow.com/questions/29640996/webpack-with-an-array-provided-as-config

[2016-07-25 08:22] sapegin commented on #158
Nice! If you have time to implement it ;-)

[2016-07-25 08:29] #159 closed

[2016-07-25 08:30] sapegin commented on #159
I hope I haven’t broken anything ;-)

[2016-07-25 10:22] reintroducing commented on #159
Thanks! Does this need a new version published to npm?

[2016-07-25 16:04] benknight commented on #156
I first tried what was recommended in the FAQ section, replacing the StyleGuide component with my own:

[code]

But again the problem I had with this is it overrides the entire component tree inside of this package, when all I'm trying to do is insert of wrapper component of my own at the top so I can do things like execute code on componentDidMount, or define a context variable for instance.  Doe

[2016-07-25 16:15] benknight commented on #156
I think one thing that might be confusing here is I assumed I couldn't import things from rsg-components in my own code, but it appears that I can, for example, in my own `lib/styleguide/StyleGuide`:

```import Layout from 'rsg-components/Layout';```

I didn't think that would work because there is no rsg-components package in node_modules, but apparently I can (I just tried and it worked).  I gue

[2016-07-25 18:47] rewmike commented on #143
Has anyone tried this using the `resolver` option?

[2016-07-26 07:20] sapegin commented on #156
That’s why I’ve added a new example to the FAQ.

[2016-07-26 07:58] #156 closed

[2016-07-26 07:59] sapegin commented on #83
@oliverturner Ping ;-) Do we still want it?

[2016-07-26 17:02] benknight commented on #156
Ohhh, I see.  Duh.  Yeah that makes perfect sense.  Thanks.

[2016-07-26 17:30] benknight commented on #143
Yeah as HoCs become a popular pattern this is definitely a serious limitation.

[2016-07-27 11:27] sapegin commented on #143
Any other ideas than export a component with some special name?

[2016-07-27 12:39] bulaj commented on #146
it does work just fine on webpack 2 in most common cases for me

[2016-07-27 12:40] sapegin commented on #146
@bulaj Great to hear it! Any issues or tips that we can include to the docs?

[2016-07-27 13:39] crvst commented on #72
The issue is closed, but were there any solution provided to fix that bug? I can’t find any in the thread, or I’m just inattentive.

I’ve just got that kind of behaviour and can’t manage to fix it. Got the `You may need an appropriate loader to handle this file type.` related to `static` keyword in code.

[2016-07-27 13:55] sapegin commented on #72
@crvst Is in your own code or Styleguidist? For `static` you need [transform-class-properties](https://babeljs.io/docs/plugins/transform-class-properties/) Babel plugin from [preset-stage-1](http://babeljs.io/docs/plugins/preset-stage-1/).

[2016-07-27 14:12] crvst commented on #72
Yep, from my own code. But the `stage-1` has already enabled in `.babelrc` and the direct installation `npm i babel-plugin-transform-class-properties` didn’t work out.

[2016-07-27 14:17] bulaj commented on #146
Well, not really, it just works as intended out of box, no workaround was needed to setup.
We dont do anything fancy with it though, just basic styleguide, so dunno if there are any problems deeper.

[2016-07-27 16:51] benknight commented on #143
My temporary solution is having a directory structure like this:

[code]

Where index.js serves as the entry point and the HoC wrapping happens there, thus leaving my-component.jsx unwrapped, and using that in the styleguide instead and manually passing it whatever props the HoC provided.

[2016-07-27 18:01] tizmagik commented on #143
I was able to do this on my project, although, it wasn't too pretty. I'm thinking about a way we can support HoC generically in `react-styleguidist` -- any insight/help would be appreciated!

But anyway, here's what I did. I hope it's helpful to some. Using the following, I was able to render an `@connect()` (redux connected) component --  although it was a very basic component with minimal other

[2016-07-28 12:49] reintroducing commented on #159
@sapegin Can you publish the newest to npm please?

[2016-07-28 14:21] sapegin commented on #159
Done.

[2016-07-28 14:54] rewmike commented on #143
The "quick fix" in my project was to use a broader resolver, however it has resulted in some console errors being reported in the browser (it's finding duplicate definitions). I've made a note to look into it later (but hoping the issue is resolved sooner).

[code]

[2016-07-29 00:43] reintroducing commented on #159
works great, thanks!

[2016-08-03 21:09] zecaptus commented on #127
Hello from [Whataboon](https://www.whataboon.com) ;)

Change from the original react-styleguidist  (without forking / only webpack aliases) :
 - Material Design
 - One component / page
 - Collapse Sections

Furture :
 - 100% Material
 - Subsections

<img width="1390" alt="capture d ecran 2016-08-03 a 23 03 08" src="https://cloud.githubusercontent.com/assets/7048870/17381893/90e01ce4-59ce-11e6-893b

[2016-08-04 06:47] sapegin commented on #127
@zecaptus Wow that’s cool! Thanks for sharing ;-)

[2016-08-04 08:05] pke commented on #127
@zecaptus Care to share the webpack config?

[2016-08-04 09:15] zecaptus commented on #127
@pke : I'm not really sure, it's really helpfull but here it is.

`styleguide.config.js`
[code]

[2016-08-04 09:28] mik01aj commented on #127
Our LovelyBooks styleguide grew much bigger since then. Now we have 72 components with 120 examples. All our examples are also used as unit-tests (we just check that they render without any warnings or errors; this turned out to be a really good test).

![image](https://cloud.githubusercontent.com/assets/3027415/17396959/176a368e-5a36-11e6-8023-aa30c42ca7e3.png)

Good job @sapegin and everyone :)

[2016-08-04 09:32] sapegin commented on #127
@mik01aj I like this idea of testing. Could you please share some code?

[2016-08-04 09:33] mik01aj commented on #127
@sapegin I did already in https://github.com/sapegin/react-styleguidist/issues/34

[2016-08-04 10:02] mik01aj commented on #127
Btw - I found a list here: https://libraries.io/npm/react-styleguidist/dependent-repositories

Interesting examples:

* http://nitive.github.io/react-motion-pack/
* https://nordnet.github.io/nordnet-component-kit/
* https://dialogs.github.io/dialog-web-components/ 👍
* https://roistat.github.io/react-ui/

[2016-08-04 10:15] sapegin commented on #127
@mik01aj we have Dialog in the Showcase in Readme. I can’t add Nordnet because they have removed a link to Styleguidist.

[2016-08-06 15:55] reintroducing opened #161 "unmet dependency warnings"
I just updated the dependencies in my project to their latest versions. react-styleguidist shows the following when running an `npm i` for anything now:
[code]

Any chance of updating the deps for react-styleguidist to get rid of these and pushing out a release?

I know this is not breaking anything (or at least I think it isn't :) but would be nice to clean that up. Just wanted to get it on your

[2016-08-06 16:02] sapegin commented on #161
Could you try to remove `node_modules` and reinstall all dependencies?

If it’s not enough I’ll merge your pull request with updates ;-)

[2016-08-06 16:09] reintroducing commented on #161
lol, nice subtle way to tell someone to open a PR :)

Luckily, removing and re-installing fixed this, thanks!

[2016-08-06 16:09] #161 closed

[2016-08-08 12:04] aaronjensen opened #162 "Include in project build"
Is it possible to include styleguidist in a existing webpack build rather than relying on its own dev server?

I ask because:

1. Things do not seem to work out of the box with webpack 2
2. Needing to maintain two webpack configs is harder than one
3. Many projects already have hmr set up so making that "easy" probably doesn't help too many people

I am imagining a way to include a component eithe

[2016-08-08 12:10] mik01aj commented on #162
👍  from me!

I also thought about this, see https://github.com/sapegin/react-styleguidist/issues/158#issuecomment-234877031

[2016-08-08 12:17] aaronjensen commented on #162
@mik01aj it's similar to that, but I'm actually imagining prebuilding styleguidist an exposing a component and webpack loader. It would be similar to https://github.com/blueberryapps/react-bluekit but instead of a watching server to generate a manifest file, it'd be handled by a webpack loader.

[2016-08-08 15:30] danielsneijers opened #164 "Cleaner way to define sections"
Just thinking aloud here: wouldn't it be much easier to use the folder structure to define sections in the styleguide instead of using globs in the config file? For example, I currently have:

[code]

But it'd be great if I could add a section to the sidebar by just grouping these buttons in its own button folder:

[code]
Would be happy to draft a PR if this is a viable option

[2016-08-08 15:37] mik01aj commented on #164
Good idea, but how would you specify section titles and additional docs then?

[2016-08-08 16:45] danielsneijers commented on #164
Additional docs could be in the root of the section folder, having a Readme.md in there doesn't hurt. The titles could be more tricky. First instinct is: just go with the folder name, but I'm not sure how messy things could get with spaces in the folder names.

[2016-08-08 21:06] mik01aj commented on #164
`Readme.md` in folder is a good idea! Github supports this as well.

Maybe the first header in the readme would then also become the section title? Note that it would mean, that if you want the section name to be different than folder name, you have to create a `Readme.md` just with a header.

[2016-08-09 06:56] danielsneijers commented on #164
Ah so you take the folder name if there's no `Readme.md`, but otherwise take the first `# title of readme` and use that as a title, correct? One other thing that pops in my mind: how does the styleguide handle subfolders right now? Because it'd be a challenge to support multiple layers of subfolders for sections. I'm thinking supporting just the first level (maybe recursively add folders below tha

[2016-08-09 07:30] mik01aj commented on #164
it doesn't. You just specify globs that find components, and they become a flat list then.

I like the idea of using the folder structure, because this would reduce the amount of configuration needed to start using styleguidist. But if we have some special rules for nested folders, then I'm not so sure anymore.

[2016-08-09 07:39] danielsneijers commented on #164
I think it's best to keep it as simple as possible for the end user, it's totally possible to support multiple levels of subfolders without special rules. The toughest part would be to make it visually pleasing. I'm not that familiar with the source of this project (yet) but I'll try to draft some code and see how it feels, if you're ok with that.

[2016-08-09 07:45] mik01aj commented on #164
I find it ok, but I'd say that currently configuring the cestions is not a problem for me. I have a styleguide with 120 examples, and my sections config is as simple as:

    sections: [
        {name: 'Introduction', content: './introduction.md'},
        {name: 'Core UI', components: '../core/[A-Z]*/index.jsx'},
        {name: 'Generic UI & partials', components: '../ui/[A-Z]*/index.jsx'},

[2016-08-09 08:05] sapegin commented on #164
I like the idea but I’m not sure how to combine in with the current implementation. For example I need some docs as Markdown-only sections (which I want to define in the current style, via config) and components folder (which I want to use the folders detection magic).

Maybe something like hat could work:

[code]

[2016-08-09 10:01] danielsneijers commented on #164
Hmm it indeed has some edge cases I didn't see before. I'll think about it before working out some examples, maybe some other contributers/community have some good ideas about this.

[2016-08-09 10:53] 2oo commented on #146
Unfortunately it doesn't work with webpack 2.1.0-beta.20. It worked fine with no workarounds until beta.19.

[2016-08-12 13:52] quietcodes opened #165 "Potential case-sensitivity issues"
I ran into an issue where the static build was being processed differently locally than it was on our production server. The issue ended up being that my demo files were named `README.md` instead of `Readme.md` and the operating systems handled case-sensitivity differently for the file check. File existence is checked with [fs.existsSync](https://nodejs.org/api/fs.html#fs_fs_existssync_path) which

[2016-08-12 14:59] sapegin commented on #165
This issue is not related to Styleguidist but to development in case-insensitive OS (Mac) for case-sensitive OS in production (Ubuntu).

Pull request with a warning would be probably useful.

P. S. There’s nothing wrong with `fs.existsSync`.

[2016-08-16 22:50] romelperez opened #167 "Question: detect React Component class instances as React components"
Hi,

I am using [react-i18next](https://github.com/i18next/react-i18next) to translate my React components. When I generate the style guide this error appears and my components translated are not included:

[code]

My guess is that the declaration of React components with it:

[code]

is exporting a React Component class instance ([translate function](https://github.com/i18next/react-i18next/blob/

[2016-08-17 07:25] sapegin commented on #167
Have you tried the second approach? It should work.

[2016-08-17 12:14] danielsneijers commented on #164
I did some work on our work in progress styleguide and I have to say: the current way of defining folders works pretty well once you have it in place. In retrospect I think adding the folder method would unnecessarily complicate this project, so unless this is still something you'd like to see in the future you can consider this issue solved.

[2016-08-17 12:17] sapegin commented on #164
@danielsneijers Awesome! If you [could share](https://github.com/sapegin/react-styleguidist/issues/127) a screenshot of something that would be very cool ;-)

[2016-08-17 12:17] #164 closed

[2016-08-17 13:23] romelperez commented on #167
Yes, and I works pretty well, but I can't translate my components with that library which is a good one.

Should I use another?

[2016-08-17 13:27] sapegin commented on #167
I’m using React Intl but I have the same issue. And I don’t know how to solve it in generic, convenient and bullet-proof way. So any suggestions are welcome.

[2016-08-17 13:32] romelperez commented on #167
My guess is that it have to do with the component detection, because there are some wrappers, like the internationalization ones, that don't export the result as:

[code]

For example.

I'll try to figure out what I can do and share it.

[2016-08-17 17:48] AoDev opened #168 "Ability to not document components vs ability to ignore components"
Hello,

I'd like to make a difference between component I want to ignore completely vs not documenting them. Some components are "helpers" or "private" components. I'd like to be able to use them in code examples without documenting them.

But, I still need styleguide to load them which is not possible with the current ignore option and so the application will throw an error.

Other use case and w

[2016-08-17 18:50] sapegin commented on #168
There’s no ignore option (#11). What option do you mean?

[2016-08-17 18:54] AoDev commented on #168
Right now it's possible to ignore them through the config.
[code]

[2016-08-17 22:19] stinoga opened #169 "ERROR in multi main"
Setting up react-styleguidist in an existing project, and getting the following error:

[code]

Here is my `styleguide.config.js`:

[code]

Any help would be great. Thanks!

[2016-08-18 06:57] sapegin commented on #169
This looks like something wrong with npm:

[code]

Try to remove `node_modules` folder, run `npm cache clean` and `npm install`.

[2016-08-18 07:06] sapegin commented on #168
Then two options:

1. Use `skipComponentsWithoutExample` instead of filtering components.
2. `require` modules you need in examples.

[2016-08-18 07:14] #146 closed

[2016-08-18 07:40] sapegin commented on #168
Please check the docs updates in the previous commit: I’ve added some examples.

[2016-08-18 07:42] sapegin commented on #11
I’ve added to the FAQ [how to ignore components](https://github.com/sapegin/react-styleguidist/blob/master/docs/FAQ.md#how-to-exclude-some-components-from-style-guide) using the `components` option.

I’m closing this for now. Feel free to submit a pull request if you need a simpler way to ignore components.

[2016-08-18 07:42] #11 closed

[2016-08-18 07:44] sapegin commented on #133
@XOP @tizmagik @operatino We need your feedback in #160.

[2016-08-18 07:45] sapegin commented on #167
Related issue: #143.

[2016-08-18 07:46] #167 closed

[2016-08-18 07:46] #165 closed

[2016-08-18 07:47] sapegin commented on #136
I’m closing this for now. Feel free to submit a pull request if you can fix some of these issues.

[2016-08-18 07:47] #136 closed

[2016-08-18 11:47] AoDev commented on #168
Regarding point 2. I am not able to import modules in the examples. Maybe it works through modules inside node_modules that are resolved by webpack but if I want to import a "local" module then, how?

Here is an example: in our docs, I've created a FakeBrowser component.

![screen shot 2016-08-18 at 11 51 44](https://cloud.githubusercontent.com/assets/1526150/17772465/582e6c12-6549-11e6-8e2f-1232b

[2016-08-18 19:37] stinoga commented on #169
That didn't fix it. I also checked `npm ls` and it seems fine:
[code]

I also confirmed that each module has a `client.js` file in it. Also, I ran the verbose script directly and got some more output if that helps:
[code]

[2016-08-19 07:47] mik01aj commented on #168
`import` statements are unfortunately not supported because https://github.com/sapegin/react-styleguidist/pull/104 didn't make it. But oldschool ES5 `require` should work.

[2016-08-19 20:03] stinoga commented on #169
If I comment out the call to `webpack-hot-middleware/client` in the source, that fixes the second error, but I still get the first error. Any debug ideas?
[code]

I also see it when I run the build command. The style guide builds fine, but when I go to the URL I get a blank page with this console error:
[code]

[2016-08-19 20:23] sapegin commented on #169
Looks like you’re overwriting the `resolve` option that should include `.js`.

[2016-08-19 21:50] stinoga commented on #169
That did it! I do still notice an error importing modules locally though:
[code]

If I change: `import StyleGuide from 'rsg-components/StyleGuide';`

to: `import StyleGuide from './rsg-components/StyleGuide';`

And that fixes the error. Should the imports be updated to denote the specific directory imports as such?

Thanks for the help!

[2016-08-20 14:10] sapegin commented on #169
Obviously there’s something wrong with your configuration because Styleguidist works fine for all other users. But I don’t see any other problems except the wrong `resolve` option.

[2016-08-22 10:46] oskolsky commented on #162
Output syleguide/index.html, build from Webpack 2

`Html Webpack Plugin:
<pre>
  TypeError: Cannot read property '0' of undefined

  - ExternalModuleFactoryPlugin.js:18 ExternalModuleFactoryPlugin.<anonymous>
    [wgcp-ingamebrowser]/[webpack]/lib/ExternalModuleFactoryPlugin.js:18:38

  - NormalModuleFactory.js:159
    [wgcp-ingamebrowser]/[react-styleguidist]/[webpack]/lib/NormalModuleFactory.js:

[2016-08-22 11:09] sapegin commented on #162
@oskolsky How is it related to this issue?

[2016-08-22 13:34] #169 closed

[2016-08-22 13:35] #168 closed

[2016-08-22 13:35] sapegin commented on #83
@oliverturner Feel free to reopen or send a pull request ;-|

[2016-08-22 13:38] oliverturner commented on #83
Hey @sapegin really sorry for the delay... been swamped for ages :(

Closing for now: will reopen as soon as time permits

[2016-08-22 13:38] #83 closed

[2016-08-22 15:06] oskolsky commented on #162
Sorry, it is no longer relevant.

[2016-08-22 16:53] stinoga commented on #169
@sapegin I can fix the error by adding a resolve:
`modulesDirectories: [path.resolve(__dirname, './node_modules/react-styleguidist/src'), 'node_modules/']`

The only problem is, I am still getting an error with the `require` function in `src/index.js`:
[code]

[2016-08-24 21:33] kevinhos opened #171 "Including External CSS"
I'm having an issue and wondering if there's a option in the configuration to address it. My component styles are maintained outside of the components and not directly imported by them (dir structure example below). For deploys, the styles are compiled separately and included in the document head.

My issue is: I can't seem to instruct `react-styleguidist` to include them.

I've tried specifying a

[2016-08-24 21:58] #171 closed

[2016-08-25 06:42] sapegin commented on #171
Have you tried [this solution](https://github.com/sapegin/react-styleguidist/blob/master/docs/FAQ.md#how-to-add-custom-js-and-css)?

[2016-08-25 15:26] kevinhos commented on #171
@sapegin that was exactly what I needed. Thanks!

[2016-08-26 00:07] aaronjensen opened #172 "Need to restart server after adding new example file"
I don't remember if this is a regression or not, but every time I add a new component I have to restart the server. Hot reloading works when I make changes to the component and the md file, but new files don't get picked up.

Here is my config:

[code]

[2016-08-26 07:03] sapegin commented on #172
I think it was always like that and I don’t know how to fix it if that’s possible at all. Well be happy if someone could fix it and submit a pull request.

[2016-08-30 15:15] asci opened #175 "How to make react-styleguidist support jsx?"
I got this error
[code]

and on a line `button.jsx:36:6` there is jsx syntax starts.

My `styleguide.config.js` is:
[code]

I also know, that default loaders contain react loader, I tried to remove `updateWebpackConfig` no effect. Any ideas?