[2016-08-30 17:41] andresgutgon opened #176 "TypeError: undefined is not a function"
I'm having this error when I add documentation to a method.

[code]

When I add `Manage toggle click` RDoc comment I get `TypeError: undefined is not a function`. If I remove the comment over `onClick` method webpack compilation is fine.

Any ideas?

[2016-08-30 18:16] sapegin commented on #175
There’s no such thing as “react loader” and default loaders do not affect your code.

1. Try to use `include` instead of exclude, like in the docs.
2. Check you Babel config. You should have `react` preset here.

[2016-08-30 18:24] sapegin commented on #176
Hm, I can’t reproduce it. Trying to copy your code to the example styleguide: works with with or without the comment.

[2016-08-30 19:15] asci commented on #175
by "react loader" I mean `babel-loader` with `react` preset.

Thanks, will try

[2016-08-31 07:06] asci commented on #175
It is strange, I reverted my changes in the project to commit when it worked. And now it doesn't. Maybe it is somehow related to node\npm\some dependency version or so? Will check again in the evening. The basic example is working well.

[2016-08-31 11:27] andresgutgon commented on #176
Please can you check out this branch. I just converted the component to use `React.createClass` and the error is reproduced with this comment: https://github.com/sapegin/react-styleguidist/pull/177/files#diff-07e392e9ddba72895f1dc7298921c452R32

[2016-08-31 11:28] andresgutgon commented on #176
I think the key is using `React.createClass`

[2016-08-31 13:14] #176 closed

[2016-08-31 13:14] andresgutgon commented on #176
As commented in the PR the problem is with my node version. You need to use a node version `>= 4.x.x` with `react-styleguidist`.

Thanks @sapegin

[2016-08-31 13:26] sapegin commented on #176
Just for the reference, it’s not in the master yet: dccecb0ded66ca2119db5f04d1aefc8bd3024946.

[2016-09-12 09:54] jurgob commented on #162
it would be awsome. I'm using redux sagas and I'm getting the following error:
``` Uncaught ReferenceError: regeneratorRuntime is not defined```, I guess this is because the generators are not setted-up with the react-styleguide devserver

[2016-09-12 09:56] sapegin commented on #162
@jurgob Most probably it wasn’t set up in your style guide config.

[2016-09-12 09:57] sapegin commented on #162
Closing this for now. Feel free to submit a pull request or open a more specific and actionable issue.

[2016-09-12 09:57] #162 closed

[2016-09-12 09:58] #175 closed

[2016-09-12 10:57] jurgob commented on #162
You were right, sorry!
I'll put my solution just for log.
to make the generators work I've just added the 'babel-polyfill' in the style guide config:

[code]

[2016-09-12 16:58] aaronjensen commented on #162
@sapegin this thread kind of got lost in unrelated things. The original request was about being able to use react-styleguidist components in an existing project/webpack build rather than having a separate one as it is today. I'm not sure how to make it any more specific and actionable than that.

[2016-09-13 20:44] ahutchings opened #179 "ReferenceError: file is not defined"
I'm getting the below reference error when building my project using styleguidist. It looks like the console logging that occurs in the catch block of props.loader.js is referencing a `file` variable that is declared in a different block. This could probably be fixed by initializing `file` as a var outside the `try` block scope.

[code]

[code]

[2016-09-13 21:01] ryanswanson opened #180 "Upgrade to the latest react-docgen"
The latest version of react-docgen includes fixes for support of union types in JSDoc, which would be really great to have supported in react-styleguidist as well.

[https://github.com/reactjs/react-docgen/commits/v2.10.0](https://github.com/reactjs/react-docgen/commits/v2.10.0)

I discovered this by tracking down the following console error (styleguidist server console - not JavaScript console).

[2016-09-14 08:33] mik01aj commented on #179
I can't see any scope problems with `file` in [`props.loader.js`](https://github.com/sapegin/react-styleguidist/blob/master/loaders/props.loader.js).

[2016-09-14 13:34] ahutchings commented on #179
Ah, I see that this was fixed in #173, but it has not been released to npm yet. Could we publish a new version to npm?

[2016-09-14 19:20] sapegin commented on #180
Pull request would make it faster.

[2016-09-15 08:05] mik01aj commented on #180
btw. maybe an update would fix https://github.com/sapegin/react-styleguidist/issues/37 too.

[2016-09-15 20:50] nhavar opened #181 "Customize Layout/Features"
Is there any easy way to customize the layout or add functionality to the guide that I'm missing (other than just forking the whole project and modifying it).

For example: I want to move the nav to the right and add a scroll spy capability as well as change the order in which documentation appears (i.e. Props, Description, Render, Code to Description, Render, Code, Props.)

EDIT: Nevermind, I did

[2016-09-15 20:51] nhavar commented on #143
I noticed that react-docgen has a pull request recently to add an HOC resolver in the mix. https://github.com/reactjs/react-docgen/pull/124

[2016-09-15 21:13] tizmagik commented on #143
@nhavar yea I noticed that too. Hopefully it gets merged soon so we can close the loop on this issue! :)

[2016-09-16 07:16] sapegin commented on #162
The problem is: I’m not really sure what to do to make it possible, so PR would be the best here ;-)

[2016-09-16 08:05] mik01aj commented on #181
You can override the styleguide components as described in the FAQ.

[2016-09-16 15:48] tizmagik commented on #172
I think the only way to fix this would be to have a file watcher, say `nodemon` or something watch directory for any new file additions, changes, etc and then restart the server for you. It wouldn't be that great of an experience though since the build time is kinda slow so you may want to only do it for new files only, if possible.

[2016-09-16 15:52] aaronjensen commented on #172
I'm not sure about that. I'm pretty sure that we pack require contexts can watch a directory tree. I'd have to look into how exactly.

On Sep 16, 2016, 8:48 AM -0700, Jeremy Gayed <notifications@github.com>, wrote:

[2016-09-17 07:40] sapegin commented on #172
@tizmagik But that will require page reload in a browser?

[2016-09-19 07:16] jeans11 opened #182 "Support Flow props declaration"
Hi guys !

Is Flow props declaration is supported instead of React `PropTypes` ?

[code]

[2016-09-19 07:29] mik01aj commented on #182
I never used it, but have a look at https://github.com/sapegin/react-styleguidist/issues/115.

[2016-09-19 07:30] jeans11 commented on #182
Ah yes ! my bad ^^

[2016-09-19 08:07] #182 closed

[2016-09-20 08:16] sapegin opened #183 "Node API"
I’m working on Node API. Basically it’d be something like that:

[code]

Is that useful? Do you need anything else?

Related issues: #34, #43, #107, #162.

[2016-09-20 08:16] sapegin commented on #34
I’m working on Node API and thinking about removing this hack. But I want to preserve functionality you need. Check #183 for details.

[2016-09-20 09:15] sapegin opened #184 "Do not work with Webpack 2.1.0-beta.23+"
Webpack has introduced a config validation in beta23 which breaks our build:

[code]

Not sure how we can make a config that works in Webpack 1 and 2.

https://github.com/webpack/webpack/releases/tag/v2.1.0-beta.23

[2016-09-20 15:58] Alberthoven opened #185 "Multiple exported component definitions found"
Hi.

I have written a multiple component file Component.jsx. There are the following components definitions:
[code]
When I try to start styleguidist, it raises an error qith the message 'Multiple exported component definitions found'.

Is there any way to achieve start the style guide generator over these kind of compound components? How?

Thanks!

[2016-09-20 18:01] sapegin commented on #185
Extracting each component to a separate file would be the best and the easiest way.

`resolver` and `handlers` options might also help.

[2016-09-20 18:01] #185 closed

[2016-09-21 06:54] Alberthoven commented on #185
Ok, it works using '[resolver](https://github.com/sapegin/react-styleguidist/blob/master/docs/Configuration.md)':
[code]
Thanks!

[2016-09-21 12:40] sapegin commented on #183
Pushed basic implementation.

@mik01aj, @operatino, @aaronjensen, @sompylasar any feedback?

[2016-09-21 13:11] sapegin commented on #184
[2.1.0-beta.24](https://github.com/webpack/webpack/releases/tag/v2.1.0-beta.24) is out with nicer validation warnings:

[code]

But what it suggests doesn’t work for some reason.

[2016-09-21 13:38] aaronjensen commented on #183
This seems like a good idea just from an extensibility and design perspective.

I don't think that it easily allows me to do what I would want in #162 or what was mentioned in the beginning of #107.

In short, it'd be helpful to have an example of adding the styleguidist config to an existing webpack config. I don't like having to maintain two separate configs, they get out of sync easily.

[2016-09-21 13:39] sapegin commented on #183
@aaronjensen `makeWebpackConfig` should allows you to do exactly this.

[2016-09-21 13:45] sapegin commented on #183
What @mik01aj suggests in #158 should be possible with this API:

[code]

[2016-09-21 13:49] aaronjensen commented on #183
@sapegin I haven't tried it yet, but I believe that would leave me with the same issues. I think that the two configs/compilers are completely separate meaning that I would still have to duplicate the loader configuration in the styleguidist config.

[2016-09-21 13:51] sapegin commented on #183
I believe you can extract them and use in both configs. I also believe that implementing some magic that will do it for you is very dangerous and isn’t the right thing to do.

[2016-09-21 13:58] aaronjensen commented on #183
I'm not suggesting magic. I'm suggesting reworking styleguidist to have as simple a setup as possible when integrating into an existing project. Something like:

1. Add the following loaders to your webpack config...
2. Add the `<Styleguide />` component somewhere in your router/render/whatever tree.

[2016-09-21 14:02] sapegin commented on #183
It’s not that simple and I think will lead to more problems than we have now. For me the more isolated Styleguidist is from user project the better. Of course you can reuse parts of you Webpack config.

[2016-09-21 14:07] aaronjensen commented on #183
Well, the problem is that it isn't all that isolated currently. It needs to build your components which means that it needs the same `module` and `resolve` configuration at a minimum in both places. In some cases it probably needs the plugin configuration as well.

If it didn't have to build the actual components and only relied on the markdown files then yes, it could and probably should be isola

[2016-09-21 14:10] sapegin commented on #183
Mixing user project’s and Styleguidist Webpack configurations is very tricky. We’re trying to avoid it as much as possible. For example all Webpack loaders used by Styleguidist are scoped to it’s source and never affect user code.

[2016-09-21 14:15] aaronjensen commented on #183
Ah, maybe that's the issue. I remember now. Styleguidist should actually be built ahead of time as a library. This obviates any styleguidist specific configuration. Then the only configuration necessary is the loaders the user needs. This may require some changes to the extensibility points (you couldn't use alias to override components anymore) but that's ok because I'm sure we can think of bette

[2016-09-21 14:17] sapegin commented on #183
PR that implements it, do not break any current functionality and actually simplifies anything is very welcomed ;-)

[2016-09-21 14:17] aaronjensen commented on #183
Are you ok w/ breaking configuration changes?

[2016-09-21 14:18] sapegin commented on #183
It depends on the benefits but generally yes ;-)

[2016-09-21 19:53] sompylasar commented on #183
Thanks for pinging me here, but FWIW I'm using https://github.com/scup/atellier which provides just a React component that is reusable without extra build or configuration in existing app. It is built with webpack before being published to npm.

The only things (except UI bugs) I had to work around is make it render only on the browser-side, as I've got server-side rendering.

[2016-09-21 20:12] sompylasar commented on #183
Moreover, I've got full control over how the components are loaded and displayed on the stage.

Here's how I find all the components' styleguide descriptors located in each component's styleguide directory.

[code]

And here's how I render the styleguide (the declared component is rendered via React Router).

[code]

[2016-09-21 20:14] sapegin commented on #183
@sompylasar Thanks! For me it looks too complicated ;-)

[2016-09-21 20:27] sompylasar commented on #183
@sapegin What I've shown is written once to dynamically provide the component playground with all the components. What I wanted to achieve  is to have styleguide descriptors next to the components' code in the file structure. Unfortunately, webpack cannot do dynamic context-wise requires, so I have to hardcode certain paths which is not nice and prevents from moving this code into the styleguide l

[2016-09-22 15:11] nkt commented on #184
I suggest drop webpack2 support for a while. Now latest styleguidist breaks my builds.
Or you can add webpack as peer dependency, so users could make choice.

[2016-09-22 15:13] sapegin commented on #184
@nkt Which version breaks your build? What errors you see? Users already have a chose: they can use Webpack 1 or 2.

[2016-09-22 15:14] nkt commented on #184
Nope. latest webpack haven't marked as beta relase, so npm installs it instead of webpack 1

[2016-09-22 15:15] sapegin commented on #184
@nkt Then you need to file a bug for Webpack. It *is* beta.

[2016-09-22 15:18] nkt commented on #184
Dependencies of this project requires `1 || 2` webpack. This means users couldn't make choice. You should add webpack into peer dependencies, then everyone will decide, which webpack version needed.

[2016-09-22 15:22] nkt commented on #184
Ah, ok. I'm using npm@3, so I can specify webpack version in my package.json. But you should to know, all users with latest `react-styleguidist` will install webpack@2 if webpack@1 it's not dependency of them projects.

[2016-09-22 15:22] nkt commented on #184
Thanks for fast answers!

[2016-09-22 15:23] sapegin commented on #184
Probably we should make it a peerDependency since npm installs the latest by default. Thanks for the investigation!

[2016-09-22 15:37] jeans11 opened #187 "Stateless component default props"
Hi guys !

Just a question. I have stateless component like this:

[code]
It seems that `baz = "baz"` is not supported :(. Indeed, when I go back to:

[code]
it's work !

So, there is a way to handle this behaviour ? (I would like to avoid refacto all my components ^^)

[2016-09-22 16:03] aaronjensen commented on #184
@sapegin ensure you have `context` or `test` set properly to make `LoaderOptionsPlugin` work: https://github.com/webpack/webpack/issues/3038

Also make sure you're getting options the right way: https://github.com/wbuchwalter/tslint-loader/blob/e022cc8bbff5a69ec594716af03c0692c81920df/index.js

[2016-09-22 16:15] sapegin commented on #187
Unfortunately it’s a limitation of react-docgen: https://github.com/reactjs/react-docgen/issues/69

[2016-09-22 16:15] #187 closed

[2016-09-23 10:02] jurgob opened #188 "Incorrect HTML rendering in Markdown"
I'm using jsdoc2md to include some md file in my styleguide docs, but I see some bad rendering (look the image)
![screen shot 2016-09-23 at 11 02 29](https://cloud.githubusercontent.com/assets/6890893/18782217/415bb76a-817d-11e6-9cd9-067fe4794b5e.png)

[2016-09-23 10:07] sapegin commented on #188
Markdown source would help debug the issue.

[2016-09-23 12:56] jurgob commented on #188
[code]
<a name="module_actions/cron"></a>

## actions/cron

* [actions/cron](#module_actions/cron)
    * [.jobListReceved](#module_actions/cron.jobListReceved)
    * [.editJobStart](#module_actions/cron.editJobStart)
    * [.deleteJob](#module_actions/cron.deleteJob)
    * [.editJobRequest](#module_actions/cron.editJobRequest)

<a name="module_actions/cron.jobListReceved"></a>

### actions/cron.jo

[2016-09-23 12:58] jurgob commented on #188
here you have a subset of it

[2016-09-23 13:21] sapegin commented on #188
Thanks! Looks like some problems with HTML handling.

[2016-09-23 17:39] nhavar commented on #180
They just merged code for HOC support as well which might fix #143 (https://github.com/reactjs/react-docgen/pull/124)

[2016-09-23 18:11] sapegin commented on #180
@nhavar Yep, we’ll see very son.

[2016-09-25 12:59] sapegin commented on #184
@aaronjensen I don’t understand what should be in `context` and `test`. Trying this

[code]

and this

[code]

In both cases `this.options.styleguidist` is undefined. Works fine in Webpack 1.

[2016-09-25 21:45] aaronjensen commented on #184
@sokra could you comment on this? Why would `LoaderOptionsPlugin` not work? I have not been able to find helpful documentation for it yet.

[2016-09-26 08:51] sapegin commented on #184
One thing that might be different from common loaders is how we use them:

[code]

[2016-09-26 14:53] sapegin commented on #184
Looks like `context` is completely unrelated, it just an option that was [used by some loaders](https://github.com/webpack/webpack/issues/3018#issuecomment-248445176).

[2016-09-27 07:18] sapegin commented on #184
Or maybe @TheLarkInn can help us? 🙏

[2016-09-27 12:54] TheLarkInn commented on #184
`context` and `test` can be left blank in most situations, same with this one.

[2016-09-27 12:57] sapegin commented on #184
@TheLarkInn I’ve tried that too but `this.options.styleguidist` is still undefined. Works fine in Webpack 1.

[2016-09-27 22:28] nhavar commented on #181
Well... I thought I had a handle on this, but it seems like I'm missing something important.

I have added an alias in the config.
I have copied over and customized the Layout.js and css.
That works.
Likewise, I did the same with ReactComponent.js
That works.
Tried the same process with Preview.
Didn't work. Still renders default Preview view.
Tried the same process with Playground.
Didn't work. S

[2016-09-28 06:51] sapegin commented on #181
I don’t know ;-) But if you post an example project somewhere I could take a look.

[2016-09-28 13:01] #184 closed

[2016-09-28 13:13] sapegin commented on #184
I’ve finally fixed `LoaderOptionsPlugin` doing this change:

[code]

!http://i.giphy.com/6wmU4hE7vGCWs.gif!

[2016-09-28 14:25] #183 closed

[2016-09-28 16:10] nhavar commented on #181
I forked the project and modified customised with a bare-bones example. It should render the preview section with just a paragraph of text and nothing else. Instead, it continues to render the normal Preview of the component unhindered.

https://github.com/nhavar/react-styleguidist/tree/master/examples/customised

[2016-09-28 16:50] sapegin commented on #181
There’s no `rsg-components/Preview/Renderer` component, only `rsg-components/Preview`. What do you want to customize there? There’s not much HTML ;-)

Same for `Playground` but I can extract HTML to `Playground/Renderer`.

[2016-09-28 18:14] nhavar commented on #181
In general, I need to understand the mechanism of what can/cannot be customized. Are only rsg-components with Renderers customizable? Or can any rsg-component be customized but the mechanism is different (different alias, different js/content structure).

[2016-09-28 18:20] sapegin commented on #181
Any .js file in `rsg-components`.

[2016-09-28 18:49] nhavar commented on #181
Okay, so I just have the alias setup wrong. Got it. Thank you.

[2016-09-28 18:49] #181 closed

[2016-09-29 01:24] aaronjensen commented on #184
Awesome. It makes me wonder if a `test: //` would have worked. Either way, this is great, nice work.

[2016-09-29 01:25] aaronjensen commented on #184
btw, now that it's working could you cut a new release so we can upgrade please? Thanks!

[2016-09-29 06:35] sapegin commented on #184
@aaronjensen I’ll do it in the next few days. There are quite a lot of changes and I want to finish a few more things ;-)

[2016-09-30 17:28] sapegin commented on #180
Fixed in #189.

[2016-09-30 17:28] #180 closed

[2016-10-05 10:00] sapegin commented on #184
@aaronjensen I’ve added a [Roadmap](https://github.com/sapegin/react-styleguidist/blob/master/Roadmap.md), and 4.0 is very close ;-)

[2016-10-05 10:53] masylum commented on #179
Could we have a minor version with that fix in the meantime?

[2016-10-05 11:09] sapegin commented on #179
Nope, sorry for inconvenience. But I’ll make a new version this week anyway.

[2016-10-05 13:24] hauptrolle commented on #143
First of all thank you for your nice work. The Styleguide is awesome!

But I have a problem with a HOC wich wraps my component.
I use https://github.com/kentor/react-click-outside for my custom dropdown component, which should close on a "click-outside". But when I try to use my wrapped component in the styleguide I get the error: "Module build failed: ReferenceError: file is not defined"

I this

[2016-10-05 13:27] sapegin commented on #143
@hauptrolle Most probably #179. I’d wait a few days for the new version with updated react-docgen  — it might be fixed already there.

[2016-10-05 13:34] tizmagik commented on #172
Ah yea, I think it would. Interested in the require contexts solution you mentioned @aaronjensen

[2016-10-05 13:40] hauptrolle commented on #143
@sapegin That would be awesome 👍  Thank you for your fast reply!

[2016-10-06 11:49] sapegin commented on #188
Should be fixed in [4.0.0](https://github.com/sapegin/react-styleguidist/releases/tag/4.0.0).

[2016-10-06 11:49] #188 closed

[2016-10-06 11:50] sapegin commented on #179
[4.0.0](https://github.com/sapegin/react-styleguidist/releases/tag/4.0.0) is out!

[2016-10-06 11:50] #179 closed

[2016-10-06 11:50] sapegin commented on #143
[4.0.0](https://github.com/sapegin/react-styleguidist/releases/tag/4.0.0) is out!

[2016-10-06 11:50] #143 closed

[2016-10-06 11:51] sapegin commented on #37
Please test in [4.0.0](https://github.com/sapegin/react-styleguidist/releases/tag/4.0.0), it might be fixed.

[2016-10-06 12:02] sapegin commented on #43
The most important things are done, feel free to submit pull request for everything else you might need.

[2016-10-06 12:02] #43 closed

[2016-10-10 20:05] aaronjensen opened #190 ""No components or sections found" when trying to "Open isolated""
I'm not sure when this stopped working, but "Open isolated" no longer works for any of our components. It just says:

[code]

[2016-10-10 22:41] just-boris opened #191 "Support create-react-app out from the box"
[Create React App](https://github.com/facebookincubator/create-react-app) is a tool to set up react project with good defaults. I am using this for some little short-term project and enjoy configuration-less developer environment.

It would be nice to use `react-styleguidist` the same way: without any configuration, just specified that I am using well-known project setup. Let's say that we should

[2016-10-11 06:13] sapegin commented on #190
Works for my style guide and for [an example](http://react-styleguidist.js.org/). Could you share your config? Do you override any Styleguidist components?

[2016-10-11 06:15] sapegin commented on #191
I like the idea! Should it be a separate package? What would be its dependencies?

[2016-10-11 09:13] ximenean opened #192 "Components defined with relative paths are not resolved correctly"
This issue seems to have been introduced in 4.0.

Setup: Specify a array of components in config file by path relative to config folder:
[code]
Expected: styleguide runs successfully.
Actual: npm run styleguide-server fails with errors:

 ERROR in ./~/react-styleguidist/loaders/styleguide.loader.js!./~/react-styleguidist/src/index.js
Module not found: Error: Cannot resolve 'file' or 'directory' ./

[2016-10-11 10:16] #192 closed

[2016-10-11 11:17] sapegin commented on #37
Closing this for now. Feel free to reopen if you still have this issue.

[2016-10-11 12:14] ximenean commented on #192
Fast work! Thanks.

[2016-10-11 15:24] aaronjensen commented on #190
Here's our config:

[code]

[2016-10-11 15:48] aaronjensen opened #193 "4.0.x broke hot module reloading"
On 3.1.1 hot module reloading for stateless functional components worked. On 4.0.0 and 4.0.1 it no longer does for our project.

[2016-10-11 18:53] sapegin commented on #190
Looks OK but it’s too big to be sure ;-)

Could you please fork [this example project](https://github.com/sapegin/react-styleguidist-example) and try to make a reproducible demo?

[2016-10-11 19:28] aaronjensen commented on #190
@sapegin the issue is nested sections. Open isolated works for things in the Forms section (1 level deep) but not General/Particles section (2 levels deep)

[2016-10-11 20:52] sapegin commented on #193
I can reproduce it but have no idea why. All HMR configuration should be external.

[2016-10-11 21:02] aaronjensen commented on #193
@sapegin did you change any components from class components to stateless functional components? stateless functional components cannot reload on their own, they must be wrapped at some point by a class component

[2016-10-11 21:26] just-boris commented on #191
Yes, it can be a separate package. So far I tried to create this: https://github.com/just-boris/react-app-styleguidist

The work is not finished, but I expect that setup instructions in Readme wouldn't be changed. I tried to make that as easy as possible.

Implementation details: it uses Styleguidist node API and merges Create-react-app config into current default. [Source](https://github.com/just

[2016-10-12 08:03] just-boris commented on #191
What do you mean as "regular config"?
Now I am using `updateWebpackConfig` function where I extend webpack config with extra loaders from `react-scripts` package

[2016-10-12 08:05] sapegin commented on #191
I mean `styleguidist.config.js`.

[2016-10-12 08:12] just-boris commented on #191
The purpose of my project as well as 'create-react-app' itself, is keeping your project clean from any kind of config. If you want to provide some configuration options, you can always switch back to the classic usage of react-styleguidist.

However, this is a good point I will add `eject` instructions how to extract config and start using styleguidist directly.

[2016-10-12 08:13] sapegin commented on #191
I’m not sure it’s really useful if you can’t even change a title of your styleguide ;-)

[2016-10-12 08:14] sapegin commented on #191
Eject could generate a config like that:

[code]

[2016-10-12 08:21] sapegin opened #194 "Refactoring: simplify PropsRenderer a bit"
Replace comma separated and space separated lists with [react-group](https://github.com/sapegin/react-group).

1. Replace all ul/li in PropsRenderer.
2. Simplify renderDescription.

[2016-10-12 08:26] sapegin opened #195 "Improve single-component usage"
React Styleguidist could be awesome for documenting components, [like this](https://sapegin.github.io/react-group/), but now it’s not.

* [ ] New option to disable sidebar.
* [ ] New option, `getComponentName()`, to change the title.
* [ ] “Fork me” ribbon with customisable URL.
* [ ] New option to hide isolated link.
* [ ] Hide path line if it’s empty.

Anything else? Any feedback?

[2016-10-12 08:29] sapegin opened #196 "Show whitespace in default prop"
Now if prop’s default value contains only whitespace it renders invisible. I’m not sure about the best solution but at least we can quote whitespace-only values or render spaces as something like `␣`.

![image 2016-10-12 at 10 31 09 am](https://cloud.githubusercontent.com/assets/70067/19302985/08170402-9067-11e6-91ae-33c906ac2d3b.png)

[2016-10-12 08:35] sapegin opened #197 "Do not show function sources in props list"
If default prop value is a function it renders as its source which is not very nice especially if the function is long.

Simple solution: just write “Function” instead of the code.

Perfect solution: show highlighted or at least formatted code in a tooltip.

![image 2016-10-12 at 10 33 31 am](https://cloud.githubusercontent.com/assets/70067/19303083/82ff7866-9067-11e6-8e0d-f50ee5fa1792.png)

[2016-10-12 08:41] sapegin opened #198 "Do not load CodeMirror until first code editor opened"
Try to lazy load as much as possible until the user actually opens a code editor (if it’s closed by default).

CodeMirror is the first and the biggest candidate for code splitting but maybe we can extract something else.

Related issue: #136.

[2016-10-12 12:36] sapegin commented on #193
I did! Now I’m trying to change them back to classes and it doesn’t help ;-(

[2016-10-12 12:44] aaronjensen commented on #196
How about quoting always? JSON.stringify essentially.

[2016-10-12 12:45] sapegin commented on #196
Wold look to noisy in my opinion. But at least quotes should be graying.

[2016-10-12 13:18] #190 closed

[2016-10-12 15:09] tizmagik commented on #193
Hm, I'm not sure if that's it because the root component is a proper class component, so it shouldn't be an issue. I can repro this locally too, not sure what happened. It did reload once but subsequent reloads don't happen, very odd.

[2016-10-12 17:53] sapegin commented on #193
I can reproduce this too in the example. Will try to find the exact commit that breaks it.

[2016-10-12 20:43] sapegin commented on #193
Here is the bad commit: f713a3ee2f0b7da2e78138445b9a015daa10270a. Unfortunately the biggest but not the one where I converted classes to functions.

[2016-10-13 01:44] andela-rekemezie commented on #194
I would like to do this refactoring there's no one on it already

[2016-10-13 05:26] sapegin commented on #194
@andela-rekemezie Cool!

[2016-10-14 10:13] sullenor commented on #197
What you think about using function name or `Anonymous function` in case if name was not provided?

[2016-10-15 03:38] tizmagik commented on #197
I think it would be great to show the function signature, imagine seeing:

[code]

[2016-10-15 06:59] aaronjensen commented on #190
Thanks!

[2016-10-16 16:36] sapegin commented on #197
Function name with a signature in tooltip would be the best if it’s possible.

I think `Function` is much more clear than `Anonymous`.

[2016-10-16 22:05] just-boris commented on #191
The title will be picked up from `package.json` file of the project.

--

Well, I could make everything working as expected. The `eject` process also was described [there](https://github.com/just-boris/react-app-styleguidist#ejecting).

The next step will be publishing this into `create-react-app` users community to gather some feedback. As far I will publish the release of `react-app-styleguidist

[2016-10-17 08:25] sapegin commented on #191
Good idea!

And feel free to send a pull request to update the docs.

[2016-10-17 22:29] just-boris commented on #191
Related PR into Create React App: https://github.com/facebookincubator/create-react-app/pull/921

[2016-10-18 06:23] sapegin commented on #191
Cool, thanks!

[2016-10-18 12:48] corentinmarc opened #201 "Issue using some module with string ref attribute in styleguide component"
Hello,

First of all thank you very much for your work on this nice project!

Currently, we are facing some issues when using some community react component in the styleguide.
For example 'react-bootstrap' DropdownButton or 'react-custom-scrollbars', it seems these modules are using string ref in their code.
 It's not an issue when the components are in the app, no errors, everything goes well. Bu

[2016-10-18 13:03] sapegin commented on #201
Please make an example as [described here](../Issue_Template.md).

[2016-10-18 19:06] sapegin commented on #193
The only solution I could find is this but I’m not sure it’s better than yours. It’s hack too.

[code]

[2016-10-18 19:20] aaronjensen commented on #193
that seems worse, it'll recreate everything anytime anything is rerendered won't it?

[2016-10-18 19:36] sapegin commented on #193
Yeah, I think you’re right. How about 3cf04d13ffdd36c60a2a02129b20bb81bf2db69a? Experimenting with your branch.

[2016-10-18 19:39] sapegin commented on #193
Actually I like this approach more: no need to configure anything and performance shouldn’t be a big issue because you’d want to develop component in isolated mode anyway.

[2016-10-18 19:40] aaronjensen commented on #193
3cf04d1 looks fine. Which approach are you saying you like more? #200?

[2016-10-18 19:55] sapegin commented on #193
@aaronjensen Yeap, #200 and 3cf04d13ffdd36c60a2a02129b20bb81bf2db69a ;-)

[2016-10-18 20:10] aaronjensen commented on #193
Awesome. I'll close this and my pull out. Thanks!

[2016-10-18 20:10] #193 closed

[2016-10-18 20:25] sapegin commented on #193
Thank you too, the solution is 90% yours! :shipit:

[2016-10-19 15:44] marvinhagemeister opened #202 "Exception thrown with HOC-Components"
We've fallen in love with styleguidist at work and plan on using it in our current react-based project. We've hit one showstopper in combination with [HOC-Components](https://medium.com/@franleplant/react-higher-order-components-in-depth-cf9032ee6c3e#.dgafgyv9j). We get the following exception when working with styleguidist:

[code]

Reproducible test case:

[code]

MyComponent.md
[code]

[2016-10-19 16:20] sapegin commented on #202
Are you using the latest version? It supposed to be fixed — #143.

[2016-10-19 18:03] aaronjensen commented on #202
I can confirm that this does not work as expected.

[2016-10-19 18:05] aaronjensen commented on #202
I should also mention that react-docgen appears to be doing its job--props are listed, it's just that styleguidist falls down when trying to reference the component. (not sure why, haven't had a chance to dig in)

[2016-10-19 18:07] sapegin commented on #202
Maybe the component name is different? Not sure `--verbose` would show it.

[2016-10-19 18:07] aaronjensen commented on #202
Oh, yeah the component name would be `Connect(MyComponent)` in my case. Does it use the component name? I would expect it to use the file name.

[2016-10-19 19:01] marvinhagemeister commented on #202
It's definitely the component name. Found out that it works when I change the wrapper class `MyHOC`in this case to the expected component `HOC`.

[2016-10-19 19:04] marvinhagemeister commented on #202
@sapegin It should be the latest version, but I'll double check to be sure at work tomorrow.

[2016-10-20 12:53] marvinhagemeister commented on #202
Spent a few hours today looking into this issue. `styleguidist` simply checks for the exported name property of the exported module. It doesn't know if this is a high-order function (or high-order class) and returns.

`react-docgen` solves this by building a complete AST-Tree with babylon. Once they've got the tree, they walk down the exported `CallExpression` recursively until they find the last

[2016-10-20 12:56] sapegin commented on #202
Right now it uses component name if it’s available and then falls back to file name or folder name if file name is `index.js`.

Can we access this “rightmost” component? That would be awesome.

[2016-10-20 17:35] marvinhagemeister commented on #202
Not without a proper `AST-Tree` :/

[2016-10-20 18:35] aaronjensen commented on #202
can docgen's output tell us?

[2016-10-20 18:39] sapegin commented on #202
I’m fine to change the order to this:

1. Filename (if `[A-Z]*.js`).
2. Folder name (if `[A-Z]*.js` and file name is `index.js`).
3. Everything we had before (`name`, `displayName`, etc.)

Or we can try this thing — might work too: https://github.com/nerdlabs/react-docgen-displayname-handler

[2016-10-20 18:51] sapegin commented on #202
@aaronjensen I believe it can with the plugin I’ve mentioned in the previous comment.

[2016-10-20 19:06] marvinhagemeister commented on #202
I'm not sure about filename or folder names being the defaults. What about cases like this: `my-component.js` for `MyComponent`?  The only safe solution is the approach taken by `react-docgen`, in my opinion.

[2016-10-20 19:08] sapegin commented on #202
That’s why `[A-Z]*.js` — only `MyComponent` would match. But I’d try that plugin for react-docgen first.

[2016-10-22 00:07] andela-rekemezie commented on #194
Got busy in the past week with some projects @sapegin.
Here's the sample of the changes I made.
[code]

I am not sure how we should simplify the renderDescription method. Any idea on this?
[code]

[2016-10-24 07:26] sapegin commented on #194
Kind of the same change as with lists:

[code]

Children should be space separated if there are more than one child.

[2016-10-24 14:56] #198 closed

[2016-10-24 15:17] #196 closed

[2016-10-25 09:48] #194 closed

[2016-10-25 09:49] sapegin commented on #201
Closing it for now. Feel free to reopen with more data.

[2016-10-25 09:49] #201 closed

[2016-10-28 05:49] #202 closed

[2016-10-31 09:13] sapegin opened #208 "CLI for simpler project setup"
Initial Styleguidist configuration is still complicated and might turn off potential users. We can make initial setup much easier with a CLI tool like [React Storybook](https://getstorybook.io/) does:

[code]

![](https://github.com/kadirahq/getstorybook/raw/master/docs/getstorybook.png)

It contains lots of useful magic like detection of project type (create-react-app, custom Webpack, etc.), yarn

[2016-11-01 20:46] ascension opened #209 "Error with Stateless Components"
Has anyone else had an issue with getting stateless functional components to load?

I am getting this error:

`Error when parsing src/scripts/components/Inputs/Button.jsx
RangeError: Maximum call stack size exceeded`

This my styleguide.config,js

[code]

[2016-11-01 20:59] sapegin commented on #209
Would you mind making an example as [described here](../blob/master/Issue_Template.md)?

[2016-11-02 15:04] varya opened #210 "Link to src/templates/index.html is missing"
At this page https://github.com/sapegin/react-styleguidist/blob/master/docs/Configuration.md there is a lit to `src/templates/index.html` which refers to 404.

[2016-11-02 15:13] varya opened #211 "Relative path for `template` option does not work"
In my project, I store `styleguide.config.js` not in the root but in `client-src/webpack` folder.

For the components and the assets directories I needed to use relative path. But for the `template` option, the tool wants me to have a path from the root of the project. It looks very confusing.

This is the content of my config:

[code]

[2016-11-02 16:39] sapegin commented on #211
I thinks it’s easy to change ;-) You can try if you have time, or I’ll fix it later.

[2016-11-02 16:41] #210 closed

[2016-11-04 03:35] tizmagik opened #212 "[RFC] Make Styleguidist Fast Again!"
## Objective

This is a biggie, but the core of this issue is: _Make styleguidist fast._

## The Problem

[Semantic UI Components](http://hallister.github.io/semantic-react/) is a superb example of the type of use case react-styleguidist is so well suited to solve. However, the rendered styleguide is painfully slow. Items like #204 will certainly help, but the root of the problem is that we render

[2016-11-04 09:39] sapegin commented on #212
I think both are very valuable. I’d start from the second because it’s simpler. It can be very useful if you have Markdown documentation (I mean long Markdown files, not just components) — would be nice to have them on separate pages.

[2016-11-04 14:05] varya opened #213 "Maximum call stack size exceeded"
In my project, I try to reuse webpack configuration in styleguidist configuration:

[code]

Also, my webpack configuration has `new webpack.HotModuleReplacementPlugin()` as one of its plugins:

[code]

It comes into the the list of styleguidist's plugins as well. Then, because of that, when it get to hot reloading, I get "Maximum call stack size exceeded" error. I guess it is related to this: http

[2016-11-04 14:19] varya commented on #213
UPD: I came up with this solution

[code]

[2016-11-04 14:33] sapegin commented on #213
But why do you need any of this plugins in the styleguide? I see point in loaders reusing but not much for plugins.

[2016-11-04 15:33] aaronjensen commented on #212
Would we still be able to render the whole thing all at once? It's one of the reasons I chose styleguidist, otherwise I probably would have gone with storybook.

[2016-11-04 15:36] sapegin commented on #212
Yeah, I think it should be optional and probably current behaviour should be default.

[2016-11-04 16:15] aaronjensen commented on #212
If a rearchitecture is necessary, it'd be great to consider addressing #162 / #186 simultaneously.

[2016-11-04 16:18] sapegin commented on #212
I believe #186 should be possible already with `makeWebpackConfig` API method.

[2016-11-04 17:57] stinoga opened #214 "Cannot resolve ./block-elements in remark-parse"
Trying to run `styleguidist server` and I get the following errors. Tried in verbose mode as well, no more info. I see the same error with `styleguidist build` when I go to the `index.html` file: `Error: Cannot find module "./block-elements"`
[code]

Here is a copy of my `styleguide.config.js`:

[code]

Also confirmed I have the latest version of remark-parse: `2.2.0`. Thanks for the help!

[2016-11-04 18:01] sapegin commented on #214
That’s because you’re overwriting `extensions`, `.json` is required.

`extensions: ['', '.js', '.jsx'],`

Probably we should add a warning or just add it automatically.

[2016-11-04 18:30] stinoga commented on #214
@sapegin Cool! That fixed it. Any idea on how I can get more info on the first error?

[code]

[2016-11-04 18:44] sapegin commented on #214
Probably the same issue with `modulesDirectories`. Try to no overwrite it.

[2016-11-04 20:47] rcline opened #215 "[4.2.0] Spread operator error no 'Object.assign'"
When upgrading from v4.1.0 to v4.2.0 I am getting this error:

[code]

In my Readme.md component example I am setting up a variable and then using the spread operator like so:
[code]

This separates out the styling used just for the style guide and common props for ease of use and editing inside the running styleguide app.

I looked through commit history between the two version, the only thing st

[2016-11-04 20:57] sapegin commented on #215
I’m almost sure that’s because of the switch to Buble. If you have time to find how to do that and send a pull request (if it can be done in Styleguidist itself) that would be awesome ;-)

[2016-11-07 09:37] nkt commented on #215
@sapegin please add flag which would replace `buble` by `babel`.
In my project I got following error:
[code]

[2016-11-07 09:51] sapegin commented on #215
@nkt Could you please share your example source? I don’t think there’s a *real* need for extra complexity.

[2016-11-07 10:26] nkt commented on #215
@sapegin
[code]

[2016-11-07 10:40] sapegin commented on #215
@nkt Awesome styleguide!! ❤️

This error is [from react-docgen](https://github.com/reactjs/react-docgen/issues/63). We use Buble only for client-side rendering of examples in Markdown, not for your components code.

[2016-11-07 17:04] stinoga commented on #214
Yeah, I added that line overwriting `modulesDirectories` to fix this error:
[code]
Is there a better way around that?

[2016-11-07 17:07] sapegin commented on #214
Looks like you’re still overwriting some default config, otherwise it shouldn’t show this error.

[2016-11-07 17:40] stinoga commented on #214
Interesting. When I remove all the `resolve` keys in the above config, I don't get these errors. I do, however, get errors trying to parse file types like json and jsx. Is this not the best way around that?
[code]
Adding this fixes the parse errors, but causes the errors to show from my previous comment.

[2016-11-07 17:47] sapegin commented on #214
That’s exactly the place where you’re overwriting default config. Try to log it:

[code]

[2016-11-07 18:05] stinoga commented on #214
Ok, so I updated to not overwrite the default `resolve`. Here is my config:
[code]
... but I still get this error:
[code]

[2016-11-07 20:25] sapegin commented on #214
I could reproduce it. You’re overwriting `resolveLoader`:

[code]

[2016-11-07 20:25] #214 closed

[2016-11-07 20:27] #213 closed

[2016-11-07 20:28] sapegin commented on #209
Closing this for now. Feel free to reopen with more details.

[2016-11-07 20:28] #209 closed

[2016-11-08 04:13] n1313 opened #216 "Multiple content files in a section"
In my project, I want to have a complete set of documentation generated with styleguidist. That is, I want to have a section describing my components and a section explaining general stuff like an overview of the project, installation steps, contributing guide and so on. I have no problems with the components part, but I would like some guidance on setting up the "general stuff" part.

Currently,

[2016-11-08 10:06] #216 closed

[2016-11-08 10:06] sapegin commented on #216
You can use subsections for that but they weren’t documented for some reason. I’ve updated the docs and an example styleguide.

[2016-11-08 23:10] stinoga opened #217 "postcss-import issue"
Has anyone gotten `react-styleguidist` working with [postcss-import](https://github.com/postcss/postcss-import)? I've gotten the `styleguide.config.js` matching my app's webpack config, but I can't seem to get around this error:

[code]

Here is my `styleguide.config.js`:
[code]

[2016-11-09 14:16] aris-b opened #218 "static propTypes Unexpected token"
Hi,

I am getting this error
[code]

I have a working-in-production react-webpack stack and i am loading all my loaders from my webpack configuration:

styleguide.config.js
[code]

I have a .babelrc file which includes stage-0 of ES7 and also I have a separate config file for babel loader in my webpack config.

PS: I am using Webpack 2.1.0-beta.25

[2016-11-09 14:52] sapegin commented on #218
Looks fine for me. Would you mind making an example as [described here](../blob/master/Issue_Template.md)?

[2016-11-09 17:13] stinoga commented on #218
I have a similar problem to this. Spread operators seem to not work in certain filetypes for me. In this case it's the `.es6` filetype:
[code]

In my styleguide config:
[code]

[2016-11-09 19:09] sapegin commented on #218
@stinoga Please, don’t include any Styleguidist pathes into your own loaders.

And I can’t reproduce it. Please make an example project.

[2016-11-09 19:20] sapegin commented on #217
Would you mind making an example as [described here](../blob/master/Issue_Template.md)?

[2016-11-10 10:20] jzaefferer commented on #172
I'd much rather have a page reload in the browser than having to manually restart the process, AND then reload the page.

Did someone try this with `nodemon`? A sample setup, at least as a workaround, would be interesting.

[2016-11-10 10:21] sapegin commented on #172
@jzaefferer If you have time to try it that would be great. I know that it’s a bit annoying ;-)

[2016-11-10 18:59] stinoga commented on #217
Closing this. I figured out the problem by editing the example repo.

[2016-11-10 18:59] #217 closed

[2016-11-10 19:00] stinoga commented on #218
@sapegin Fixed mine in the example project. Thanks!

[2016-11-10 19:17] sapegin commented on #218
@stinoga Could you share the solution? It might help @aris-b ;-)

[2016-11-10 23:34] stinoga opened #219 "Changing paths to `main.css` and `bundle.js`"
Is there a way to change the generated paths to these files, or remove them altogether? My app uses a static path and cache hashes to call files, so I'd need to have them in the paths in `index.html`. Either that or remove the calls and re-add them manually via a custom template.

[2016-11-11 00:58] chrisdrackett opened #220 "issue when using `window.getComputedStyle` in `componentDidMount`"
I have a component similar to the following that renders fine in our app, however in the style guide it raises errors on `window.getComputedStyle(this.element).fontSize`. I'm not sure exactly what the bug is, but figured it was worth raising.

[code]

[2016-11-11 01:07] #220 closed

[2016-11-11 07:43] sapegin commented on #219
You can change Styleguidist’s Webpack config via `updateWebpackConfig`. Run `styleguidist server --verbose` to check the actual config.

So you can replace `HtmlWebpackPlugin` with your own, like without `inject` option:
https://github.com/sapegin/react-styleguidist/blob/master/scripts/make-webpack-config.js#L69-L73

[2016-11-11 11:01] sapegin opened #221 "Simplify Webpack configuration"
Something like this:

[code]

Or:

[code]

Also easier to reuse project’s config:

[code]

With the current `updateWebpackConfig` option it’s too easy to accidentally overwrite options required for Styleguidist itself and spend a lot of time debugging (like #214).

[2016-11-11 11:16] sapegin opened #222 "Default / base Webpack config"
Similar to what [Storybook has](https://getstorybook.io/docs/react-storybook/configurations/default-config) but more explicit and not all-or-nothing:

[code]

CLI tool (#208) should generate config similar to create-react-app by default.

[2016-11-11 11:23] sapegin opened #223 "Simplify setup AKA 5.0.0"
**Work in the [next](https://github.com/styleguidist/react-styleguidist/compare/next) branch**

Difficult first-time configuration is a known issue that we really want to solve. Here are some ideas for the next major release that might help:

- [x] CSS Modules → jss — simplify styling — #207.
- [x] Easier Webpack configuration — #221.
- [x] Compile Styleguidist’s code to ES5 — get rid of babel-loa

[2016-11-11 11:52] okonet commented on #223
Ideally for webpack users it should not require editing project's webpack config and work like storybook (takes your webpack config but allows to extend it). Even better would be just a plugin for webpack. In this setup is really a breeze: https://github.com/carteb/carte-blanche#setup

I can't speak a lot for non-webpack users but sane defaults sound good to me.

Styleguidist own code should defin

[2016-11-11 12:44] sapegin commented on #223
**Webpack plugin**: I’m sure it’s possible to make a Webpack plugin for Styleguidist too. But I don’t think it should be the primary way of using Styleguidist. There are so many projects without Webpack (like component libraries or separate components). So it’s far from ideal but definitely nice to have.

**Storybook**: it sounds great except they don’t do that. They have default create-react-app-

[2016-11-11 12:51] aaronjensen commented on #223
I could see styleguidist being multiple packages--core, which would be usable via webpack plugin or via cli.

[2016-11-11 12:52] sapegin commented on #223
CLI would be a separate package that you install globally anyway.

[2016-11-11 12:53] oliverturner commented on #223
Re styling, what are your thoughts on using a web component approach (with fallbacks) to improve isolation of Styleguidist components from Project components?

[2016-11-11 12:54] sapegin commented on #223
How is this better than JSS?

[2016-11-11 13:02] oliverturner commented on #223
Because the Styleguidist components won't be interfered with by global styles set from an imported stylesheet

[2016-11-11 13:06] sapegin commented on #223
Same for JSS with jss-isolate but I don’t see any benefits ;-|

[2016-11-11 13:08] oliverturner commented on #223
The project I'm working on sets a bunch of styles on bare elements - h1-6, p, a, etc. - this wreaks havoc with Styleguidist

[2016-11-11 13:12] sapegin commented on #223
We can use divs and spans with the same effect but without need for any polyfills.

[2016-11-11 13:17] okonet commented on #223
I believe if you use something like `initial: all` you can avoid this. AFAIK JSS-isolate should solve that as well. @kof can you comment on this?

[2016-11-11 13:21] sapegin commented on #223
That’s why I like JSS here: it solve multiple problems.

[2016-11-11 13:44] kof commented on #223
Yes, the idea behind jss-isolate is exactly this. Also we are thinking of adding an option for [shadow-dom like isolation](https://github.com/cssinjs/jss/issues/326)

[2016-11-11 14:04] okonet opened #224 "Module build failed: ReferenceError: file is not defined"
You can reproduce the error by cloning this repository: https://github.com/okonet/react-scroll-sync

Getting following in the console:

[code]

[2016-11-11 14:47] sapegin commented on #224
Trying to debug it but have a different error and very weird:

[code]

[2016-11-11 15:02] #224 closed

[2016-11-11 15:02] sapegin commented on #224
One thing was definitely broken in Styleguidist: doclets examples.

[2016-11-11 18:07] stinoga commented on #219
@sapegin That seems to work, but not I get this error: `style-guide.bundle.js:51 Uncaught Error: Cannot find module "./StyleGuide.js"`. Is this because I changed the path to the bundle js file? Seems odd that it would call any other js file relative to it's location, especially since `./StyleGuide.js` is in the npm module.

[2016-11-14 13:38] gravitycode opened #226 "use @example to import examples"
I have seen in rumble-js.charts showcase how they import examples using de comment @example. Im trying to use but this give me a error.

The reference in the code:
`
/**
 * Creates a new layer using specific `width` and `height` at specific `position`. It's useful when
*
 * @example ../docs/examples/Layer.md
 */
`

The output error:
`
Module not found: Error: Can't resolve '"examples'
`
Is this me

[2016-11-14 14:14] sapegin commented on #226
Please update to [4.2.3](https://github.com/sapegin/react-styleguidist/releases/tag/v4.2.3), it was broken for some time.

[2016-11-14 14:14] #226 closed

[2016-11-14 16:53] gravitycode commented on #226
Its works! Thank you @sapegin :)

[2016-11-14 22:53] stinoga opened #228 "Components in markdown don't render"
When both building and running my styleguide server, the components themselves do not render, but are just converted to simple html elements. IE, a component named `Alert` isn't compiled with any of it's props, css, etc. but just outputs the component name converted to an html tag: `<alert></alert>`. I don't get any errors when running the scripts, or in the console after the style guide is built.

[2016-11-15 06:07] sapegin commented on #228
Is your Markdown file correct? It should be (note four spaces before the code):

[code]

or (without `\`):

[code]

[2016-11-15 06:39] stinoga commented on #228
Two space tabs for the loss :( Thanks!

[2016-11-15 06:39] #228 closed

[2016-11-15 20:40] jameslaneconkling opened #230 "component example markdown doesn't render with javascript codeblock"
This renders out the component as expected (with option to show code):

[code]

but this only shows code, and does not render the component:

[code]

This is pretty minor.  The main reason the latter behavior would be preferable is that text editors can add syntax highlighting to code blocks when the language is specified, but leave it unstyled when the language is not specified.  (probably only w

[2016-11-15 20:51] sapegin commented on #230
This is [expected behavior](https://github.com/sapegin/react-styleguidist/blob/master/docs/GettingStarted.md#documenting-components) because just highlighted code is often needed.

[2016-11-15 20:51] #230 closed

[2016-11-15 20:56] jameslaneconkling commented on #230
OK, good to know.  Thanks for the response.

[2016-11-16 07:50] n1313 opened #231 "4.2.x breaks phantomjs rendering"
I have a setup where I use generated docs as part of my automated testing: I take screenshots of parts of the docs page using phantomjs page.render() and compare them to find any visual regressions. It works in 4.1.0, but breaks when I update to 4.2.x -- my screenshots come back completely white as if the bundle code didn't execute at all, but I don't see any errors in phantomjs output. The same p

[2016-11-16 09:33] sapegin commented on #231
Yeah, I see the same in my tests. Have no idea why it could happen. Probably because of migration from Babel to Buble. But why there’s no errors?

[2016-11-16 09:57] n1313 commented on #231
Unfortunately I'm not too familiar with phantomjs and buble, so I have no idea. I tried adding `page.onError`, `page.onConsoleMessage` and `phantom.onError` handlers to my scripts, as internet says, but didn't catch anything.

I can't imagine this issue affecting many users though, so a possible approach would be to ignore it for now and allow users to choose between buble and babel, and document

[2016-11-16 10:00] sapegin commented on #231
It may affect our own tests ;-) That’s what I’m [trying to do too](https://github.com/sapegin/react-styleguidist/blob/master/test/phantom.js).

[Buble](https://buble.surge.sh/guide/) is basically the same thing as Babel but smaller, faster and without configuration. Which makes it better for client-side transpiling. babel-standalone was way too big.

[2016-11-16 10:08] n1313 commented on #231
Yeah, but it achieves that by throwing away some of the things babel does, which in some rare cases such as this one may result in things mysteriously not working. Anyway, I'm glad that you are able to reproduce the bug, I will roll back to 4.1 for now and will await your decision.

[2016-11-16 13:18] sapegin commented on #231
I’ve tried to remove Buble (actually any examples rendering) and it doesn’t help.

[2016-11-16 18:45] sapegin commented on #231
If you reinstall dependencies it should work. It was because of an arrow function in on of dependencies.

[2016-11-16 18:45] #231 closed

[2016-11-17 08:22] marvinhagemeister commented on #212
The biggest performance bottle neck seems to be the whole Code editing tools. CodeMirror is a huge burden, same for in browser compilations. These two together make out roughly 70% of our bundle size last time I looked.

At work we're using react-styleguidist mainly for UX- and Design-Reviews. The `showCode` Button is only used to get a quick example for devs on how they can incooperate the compon

[2016-11-17 08:25] sapegin commented on #212
@marvinhagemeister I disagree with this idea and don’t see much value in that kind of editor.

CodeMirror is not a big issue anymore because it loads only when you open the code.

Using Buble instead of babel-standalone also made bundle size much much smaller.

[2016-11-17 08:48] marvinhagemeister commented on #212
@sapegin I agree that buble is step in the right direction, I'm just wondering if we can remove even that.

[2016-11-17 08:53] sapegin commented on #212
@marvinhagemeister We can make it optional/replaceable since more browsers support ES6 and the only thing they don’t support is JSX. That’s actually a good idea.

[2016-11-17 10:38] marvinhagemeister opened #232 "`name` prop was undefined warning with Markdown text"
The `<Examples>` Component throws a PropType error when the markdown contains headings or other markdown specific components. In that case the name property is `undefined`.

The name property is only required when rendering actual user components. See: https://github.com/sapegin/react-styleguidist/blob/master/src/rsg-components/Examples/Examples.js#L9

[2016-11-17 10:41] #232 closed

[2016-11-17 14:24] gravitycode opened #234 "Module parse failed: error parsing entities/maps/xml.json"
I have a problem scanning Components that makes use of react-markdown library. I do not know very well why but try to load a json from the packages react-styleguidist/node_modules/entities/maps/xml.json

[code]

Im using:
react-styleguidist 4.2.3
npm +2
webpack 1.13.3

Works including entities maps in my json-loader. Why i need to put explicity all node_modules dependencies in my loaders?
path.joi

[2016-11-17 14:39] sapegin commented on #234
I’m going to add a default JSON loader but it’s tricky not mess with user’s loaders.

You have to explicitly specify scope of your loaders for the same reason.

[2016-11-17 14:39] #234 closed

[2016-11-17 16:14] aaronjensen opened #235 "New "Open isolated" encroaches on components"
![monosnap 2016-11-17 08-14-21](https://cloud.githubusercontent.com/assets/8588/20397227/d9b47844-ac9d-11e6-8879-5b8d0d182f50.png)

Maybe it should just be moved down next to Show code?

[2016-11-18 05:57] sapegin commented on #235
It was there and I didn’t like it. Maybe on top of the box?

[2016-11-18 07:41] n1313 opened #238 "Add ids to component containers"
I would like to ask you to add unique ids to component containers, something like `<div id={ name + '-container' }>`. It would help me have better CSS selectors in my visual testing suite: `#ComponentName-container .ReactStyleguidist-Playground__preview` instead of using `:nth-of-type()`.

I understand that I can do it by having a custom component like https://github.com/sapegin/react-styleguidist

[2016-11-18 07:48] sapegin commented on #238
PR would be great! But please check #207, you may need to change your code after I finish it.

[2016-11-18 07:55] n1313 commented on #238
Any time estimates on that change?

[2016-11-18 08:02] sapegin commented on #238
As soon as I can ;-) The JSS migration is almost finished (will push tonight probably) but there are more changes planned for the next major release — #223.

I’d suggest adding IDs to container and preview so you won’t use any class names in your queries. In that case JSS won’t break your code and I could merge your PR earlier. Would that solve your problem?

[2016-11-18 08:09] n1313 commented on #238
Hmm... My suite does the following: it iterates over every component, and then takes screenshots of every code block in the examples section of that component. The screenshots are then compared with baseline screenshots. I would like to have a consistent class name on the preview containers.

[2016-11-18 08:24] sapegin commented on #238
Then maybe ID for each component and generic class name like `rsg--preview` for each preview?

[2016-11-18 08:28] n1313 commented on #238
That would be perfect, yes.

[2016-11-18 08:29] sapegin commented on #238
Then I’ll be happy to merge you PR! 💥

[2016-11-18 09:27] #219 closed

[2016-11-18 09:29] sapegin commented on #218
Closing this for now. Feel free to reopen with more information.

[2016-11-18 09:29] #218 closed

[2016-11-18 16:07] stubar opened #241 "Fonts & Colors (questions)"
Just starting using this library for our styleguide / pattern library and am really loving it.
I have a couple of questions...

What I would like to have is a colour palette and a list of fonts.  These aren't components per se, more instructions as to when to use certain colour combinations and fonts.  My first thought is to create a 'fonts-colors.jsx' component which is purely for this illustrati

[2016-11-18 16:23] aaronjensen commented on #241
This is basically what we do.

[2016-11-18 17:36] sapegin commented on #241
I’d add a section with a Markdown file and show colors and fonts in examples. Can’t show an example now but I’m going to try that soon for my project.

I think it‘s possible to implement. Would be cool if you have time to experiment with that. I have a rough idea how it could be done.

[2016-11-18 21:59] aaronjensen commented on #235
Sure, it doesn't really matter to me as long as it is out of the way.

[2016-11-19 06:59] n1313 commented on #133
Can't this be done using Developer Tools in Chrome, for free?

[2016-11-19 17:32] #221 closed

[2016-11-19 21:19] sapegin commented on #223
Looks like it’ll be better than I thought ;-)

[2016-11-20 07:43] #238 closed

[2016-11-20 07:45] #241 closed

[2016-11-20 13:24] n1313 opened #245 "Search doesn't work for subsections"
It appears that search doesn't work in subsection names. For example, typing "f" into the search field in `subsections` example results in 0 entries despite "First File" and "Second File" both having "f" in their names.

[2016-11-21 03:37] n1313 commented on #223
Not sure if this is the right place to do this, but anyway: may I suggest adding an option to build docs with `--progress` enabled? Or adding a note to the documentation on how to pass arguments to Webpack from CLI. I can't figure it out.

[2016-11-21 06:04] sapegin commented on #223
@n1313 We don’t use CLI, but you can try [progress-bar-webpack-plugin](https://www.npmjs.com/package/progress-bar-webpack-plugin) — maybe we should add it by default if it‘s good.

[2016-11-21 06:39] n1313 commented on #223
By saying "from CLI" I mean running `styleguidist server --config ./styleguidist.config.js`. It doesn't have to be a fancy plugin, Webpack's native `--progress` is good enough. Being able to turn this on from the config would be sweet.

[2016-11-21 07:46] sapegin commented on #223
@n1313 Styleguidist CLI uses Webpack Node.js and `--progress` option is only available on CLI as I understand. So the plugin is the only option.

[2016-11-21 08:15] n1313 commented on #223
Oh, I see, you were talking about Webpack CLI, not Styleguidist CLI. Right. I will look into the plugin then. Thanks!

[2016-11-21 16:13] n1313 commented on #235
<img width="421" alt="screen shot 2016-11-22 at 00 10 02" src="https://cloud.githubusercontent.com/assets/632081/20490204/11f03330-b048-11e6-8339-ecf4a72081a5.png">

Hmmm... Do you like it? I'm not sure if I like it this way.

[2016-11-21 16:35] aaronjensen commented on #235
It looks like it would still encroach on longer text above the example. I think that there either needs to be:

1. more margin above each example so there's enough room for it.
2. more padding within each example
3. moved down below the example where there is already enough space (though it's certainly a different type of action than "Show code')
4. made less obtrusive (maybe just the arrow, the m

[2016-11-21 16:49] sapegin commented on #235
Can we replace both open links with an icon? And probably put them near component title on hover and near Show code button on hover (and not like button, just an icon with a tooltip).

[2016-11-21 23:51] stinoga opened #248 "Issue with custom StyleGuideRenderer"
My styleguide config is working great, until I try to add a custom renderer. I added the following line to my `styleguide.config.js`:
[code]

... and when I build my styleguide, it come us blank with this error in the console:
[code]

... but this file does exist. This is my `source/styleguide/assets/StyleGuide.jsx` file, which is relative to the directory my `styleguide.config.js` file lives. Alt

[2016-11-22 01:51] aaronjensen commented on #235
I'd be fine w/ that.

[2016-11-22 01:56] n1313 commented on #235
Do you have any particular icons in mind? Something like font-awesome, or custom ones?

[2016-11-22 06:15] sapegin commented on #248
I can’t reproduce in the example style guide. Works fine there.

[2016-11-22 08:57] sapegin commented on #235
I think this one from Font Awesome would work:

![image 2016-11-22 at 9 40 42 am](https://cloud.githubusercontent.com/assets/70067/20517133/0bc90e1c-b09a-11e6-8fd3-8786d8a579c4.png)

But we need an SVG, not web font for just one icon.

[2016-11-22 09:38] n1313 commented on #235
Won't an inline base64-encoded png do instead of a separate svg file?

[2016-11-22 09:40] sapegin commented on #235
Not in 2016 ;-) You can inline SVG as well, it’s much easier: just put in a React component.

[2016-11-22 17:20] stinoga commented on #248
@sapegin It's weird, I can't get the renderer component to load if I move it to any directory outside of the `rsg-components/StyleGuide/` directory. Below is the only way that works for me, which obviously won't work since I would have to edit the file directly in the npm module.
[code]

[2016-11-22 17:26] sapegin commented on #248
Do you have a Babel loader for the folder where you put it?

[2016-11-22 17:53] stinoga commented on #248
@sapegin I don't. I tried moving it into a few different directories, including just moving it up a dir in the `react-styleguidist' npm module. All gave me the same issue. Do I need a Babel loader?

[2016-11-22 17:56] sapegin commented on #248
Sure, Webpack will use path of the real file for loaders, not aliased one.

[2016-11-22 18:35] stinoga commented on #248
That worked great, thanks!

[2016-11-22 18:35] #248 closed

[2016-11-22 20:12] aaronjensen opened #249 "Remove general lodash require?"
As mentioned in #136, lodash is required and included globally for use within examples. I personally don't use this and don't care to pay the 100kb+ price in size and load time. Would it be possible to make this optional or just not include it and let people require what they want in examples?

Is there currently a hook to add globals like this? If so, I'd probably like to use it for a few other t

[2016-11-22 20:22] stinoga commented on #248
@sapegin Interesting. The renderer loads, but all the props passed to come through as undefined: `{ title, components, toc, sidebar }`. Any idea why that would happen? Here's my styleguide config if that helps:
[code]

[2016-11-22 20:25] sapegin commented on #248
Example project would definitely help.

[2016-11-22 20:28] sapegin commented on #249
Probably it‘s a good idea. But probably current way to optionally enable it is a bit too complicated. You need to add a JS file to entries like this:

[code]

[2016-11-22 20:32] sapegin commented on #249
But probably we can use `webpack.DefinePlugin` for that and make an easy config option like that:

[code]

I’d use that too! Not sure that `globals` is the best name.

[2016-11-22 20:34] sapegin commented on #249
But don’t compare ungzipped sizes, they are not that important ;-)

[2016-11-22 20:41] aaronjensen commented on #249
I've never used `webpack.DefinePlugin` for anything but constants, but maybe that'd work. I think the entries is more straight forward. It's what I'm doing today for some other stuff.

ungzipped sizes are important for runtime afaik. The more code that's there, gzipped or not, the more it needs to execute which will slow startup.

[2016-11-22 20:56] sapegin commented on #249
I think it should be `webpack.ProvidePlugin `: https://github.com/madewithlove/webpack-config/blob/fcf39f3b31378b59f31c3353f6973801a5f53e8e/src/plugins/provide.js

[2016-11-22 21:44] stinoga commented on #248
@sapegin Good call. I was able to repro there and fix the issue. Thanks!

[2016-11-22 22:03] aaronjensen commented on #249
I'm not sure that will work for the case we want. It doesn't actually set them globally, it makes them available as free variables w/in modules, which our examples are not.

[2016-11-22 22:22] benjamingrobertson opened #250 "Errors trying to run examples"
This project looks awesome, and I'm really hoping we can adopt it in our workflow. I've been struggling today to get it set up with one of our current projects, so I decided I'd pull down the examples and try those.

I followed the instructions for the [basic example](https://github.com/styleguidist/react-styleguidist/tree/master/examples/basic), but I get the following error when running `npm run

[2016-11-23 05:58] sapegin commented on #250
Looks like you have the same issue as https://github.com/styleguidist/example/issues/1, but I can’t reproduce it.

[2016-11-23 10:45] sapegin commented on #249
Looks like it works fine. I’ve added a todo list to the issue. Do you want to work on that?

[2016-11-23 13:55] benjamingrobertson commented on #250
@sapegin Thanks for pointing me over there. Switching from node 5.11.0 to 7.0.0 resolved the issue for me.

[2016-11-23 13:57] sapegin opened #251 "Isolated examples do not work inside Markdown documents"
Style guide config:

[code]

All examples in this Markdown file have isolated view links like this: `http://localhost:3000/#!/undefined/1`.

[2016-11-23 13:58] #250 closed

[2016-11-23 15:13] oliverturner commented on #249
An alternative would be to use [babel-plugin-lodash](https://www.npmjs.com/package/babel-plugin-lodash) to automate the module extraction: possibly less onerous.

[2016-11-23 15:15] sapegin commented on #249
We can’t use Babel for user’s code and especially for examples. Styleguidist itself already use crerry-picking everywhere.

[2016-11-23 15:17] oliverturner commented on #249
got it: good catch :)

[2016-11-23 15:30] aaronjensen commented on #249
@sapegin 4ae9927 doesn't work at all for me:

![react style guide example 2016-11-23 07-30-23](https://cloud.githubusercontent.com/assets/8588/20567739/bf56a62e-b14e-11e6-8357-b23151418111.png)

[2016-11-23 15:32] sapegin commented on #249
Very strange. Why does it work for me then? ;-}

[2016-11-23 16:44] aaronjensen commented on #249
I'm guessing because of the new build step. If you didn't compile after making the change it'd still look like it works.

I think that what we actually want to do is add `React` to the execution context. I've not yet wrapped my head around the way that it all works, but that'd be the best imo. That way we wouldn't pollute the global namespace.

Furthermore, the config option to add "globals" shoul

[2016-11-23 17:13] sapegin commented on #249
You're genius! I forgot to start the compiler 🐙

And I agree on both points: about context and about the name.

[2016-11-24 13:44] #215 closed

[2016-11-24 19:24] sapegin commented on #249
Before:

[code]

After:

[code]

Almost 100 KB gzipped!

[2016-11-24 19:24] #249 closed

[2016-11-24 20:14] sapegin commented on #249
And with fixed UglifyJS:

[code]

[2016-11-25 05:52] aaronjensen commented on #249
Very nice!

[2016-11-25 17:24] albermav commented on #37
Hello,
I am getting the same error when using syled-components library or exporting my component using a similar methodology.
Example:

[code]
I know this is probably a react-docgen issue... has anyone found a workaround?
Thanks guys.

[2016-11-28 15:32] MoOx opened #253 "Server never respond and 100% CPU consumed by node"
I can't share the code, I didn't find what is doing that yet, but webpack (or styleguidist process) seems to never finish. With 4/5 components, it works, but as soon as I add a folder with around 20/30 components, it's unusable and my cpu is dying. Any pointers on how I can debug this?

[2016-11-28 17:08] sapegin commented on #253
Unfortunately I have no other ideas than to try to find which component causes it. 30 isn’t a big number so it shouldn’t be because of the number, then it’s probably one or few unusual components.

[2016-11-28 17:42] sapegin commented on #37
@albermav I can reproduce it but have no idea why it doesn’t work. [react-docgen](https://github.com/reactjs/react-docgen) can’t detect the right component for some reason.

/cc @mxstbr Could you please help with this us?

[2016-11-29 08:04] mxstbr commented on #37
Hmm, that's weird, `styled(Button)` returns a React component? This must be an issue on the `react-docgen` side of things, maybe?

----

By the way, we don't recommend using `styled-components` like that. This is a nicer way of doing the same thing, on top of which it works with `react-docgen` I'm pretty sure:

[code]

[2016-11-29 08:25] #37 closed

[2016-11-29 08:25] sapegin commented on #37
@mxstbr Awesome, it works! I’ve added an example to the FAQ so people could google it. Thank you very much!

[2016-11-29 10:44] MoOx commented on #222
I think a good approach would be to consume existing webpack by default and inject yourself styleguidist requirement. Less configuration out of the box. You can still validate user config (like for include etc).

[2016-11-29 10:47] sapegin commented on #222
I really don’t like this idea. But if anyone could implement it I’d like to see ;-)

1. Hard to find user config automatically (but I’m going to try with CLI).
2. Not everybody uses Webpack.
3. We don’t require `include` or `exclude` anymore in the upcoming 5.0.0.

[2016-11-29 10:51] MoOx commented on #222
1. webpack.config.js by default or from CLI args.
2. hum well in no config or no CLI arg, then skip this :)
3. so it's even easier?

[2016-11-29 10:57] MoOx commented on #222
Let's me develop my idea: people wants stuff that works out of the box, no config (or really minimal stuff like a folder path) should be enough for your project (see CRA or next.js). I think I did this mistake with Phenomic: I want everything to be customisable so people needs to configure before using it: generally a bad idea, people want to try with minimal effort before actually using a tool.
A

[2016-11-29 10:57] sapegin commented on #222
1. It could be `webpack.config.dev.js` or anything else. I want to implement auto configuration for [CLI](https://github.com/styleguidist/react-styleguidist/issues/208) but I’m not sure that it could be good enough for default behavior. But if we have a working implementation we could think about that.

2. In this case we still need Webpack loaders to process user’s files. That’s why I like the id

[2016-11-29 11:13] sapegin commented on #222
I totally agree with you! I know that Styleguidist configuration is a pain in the ass and I believe 5.0.0 would make it much simpler. Not yet just works without any effort like you describe but already it’s a huge step forward.

I doubt a bit this “when doable” in this case ;-)

If you have any more specific ideas on how it should work (user’s Webpack config resolution, merging, etc.) could you pl

[2016-11-29 11:57] okonet commented on #222
I agree it should work out of the box without the config for common use cases. Advanced setup should be handled as well via passing arguments or having a simple cosmiconfig.

[2016-11-29 12:05] MoOx commented on #253
FYI this simple snippet kill react-docgen https://github.com/reactjs/react-docgen/issues/140

[2016-11-29 12:05] #253 closed

[2016-11-29 12:36] sapegin commented on #222
I totally agree that robots should do the work, not humans. But can anyone describe how exactly it could work? Or even try to implement it?

If it could be done reliably enough I’d be happy to make it the default behavior.

[2016-11-29 16:42] aaronjensen commented on #222
I could see styleguidist split into a few pieces.

1. A React Component library (`styleguidist`) that has a `Styleguide` component that takes a `config` prop. That config would basically be what the `styleguide-loader` exports.
2. A `styleguidist-loader` which you would point to a config file, i.e. `styleguide!./styleguide.config.js`. This would export the necessary structure for the `Styleguide`

[2016-11-29 16:59] sapegin commented on #222
@aaronjensen I’m afraid it’s much more complicated than you think and more complicated than what @MoOx and @okonet are suggesting. It could make Styleguidist more flexible but won’t make initial setup much simpler.

[2016-12-01 20:18] stinoga opened #254 "package upgrades break styleguidist"
Styleguidist has been working great for me first off. Thanks for the awesome tool!

I recently updated some npm packages, and my styleguide now breaks with this error:
[code]

Here are the package changes I made:
[code]

Thanks!

[2016-12-01 20:26] sapegin commented on #254
I don’t see anything suspicious. Have you tried to remove `node_modules`, do `npm cache clean` and reinstall everything again?

[2016-12-01 20:32] stinoga commented on #254
@sapegin Yep. I did all those steps, to no avail. Another note is that I don't see the issue until I run `npm shrinkwrap` effectively locking in these versions.

[2016-12-02 08:05] sapegin opened #255 "User Webpack config auto discovery"
With all changes I’ve already made for the upcoming 5.0.0 release (especially removal of `babel-loader` and `css-loader`) it might be possible to simplify things even further and make it “just works” at least for some users.

## Goals

1. Can work without config in Create React App projects by default.
2. Try to find and use user’s Webpack config by default.
3. Magic can be disabled.

## How that

[2016-12-02 09:59] okonet commented on #255
I have only one minor note:

It should probably firstly try to locate `webpack.config.js`. I even not sure it should go further since, by default webpack will do the same: it will try locate `webpack.config.js` otherwise you'll have to provide the path the config.

One more thing is that isn't clear from the above is what will it take to add the path the webpack config to `styleguide.config.js`.

[2016-12-02 10:03] okonet commented on #255
What happens if there is `styleguide.config.js`. Can you add a `webpackConfigPath` similarly how https://github.com/benmosher/eslint-plugin-import does?

I'm not sure about the `webpackAutoDiscovery` option either. What's the purpose for it?

I think, with CRA it should definitively just work out of the box. With the manual installation, _I think_ it's okay to have the `styleguide.config.js` with

[2016-12-02 10:08] sapegin commented on #255
Could you point me to the code where they do it?

The same as before but now it’s optional.

That’s very good idea!

To disable magic. `webpackConfigPath: false` could do the same.

Exactly how I see it.

[2016-12-02 10:43] okonet commented on #255
Nope, I have no idea where it is. Search the repo?

Exactly. That's why I think for standalone apps this is too much magic.

It's settled then? 👏

[2016-12-02 10:45] sapegin commented on #255
We should try and see if that would work. I don’t see any problems for CRA, for Webpack projects only real testing will tell. I also want to include it in 5.0.0 release because it already has some breaking changes and this is a breaking change too.

[2016-12-02 11:03] tizmagik commented on #255
I think this is great! Let me know if I can assist 👍

[2016-12-02 11:06] sapegin commented on #255
@tizmagik We’ll need help with testing this at least ;-)

[2016-12-05 21:17] stinoga commented on #254
@sapegin So I've found the culprit, although not sure what the issue is. When running `styleguide-server` I get the below error:
[code]

Any ideas?

[2016-12-05 21:19] sapegin commented on #254
Missed loader or something like that. Maybe json-loader. Unless I have a demo project, it’s very hard to guess.

I hope upcoming 5.0.0 release will be much harder to break like that ;-)

[2016-12-05 21:28] stinoga commented on #254
@sapegin What's the timing on that? Is there a branch? Maybe I could pull it down and test.

[2016-12-05 21:37] sapegin commented on #254
Relatively soon I hope. It's in the next branch. It's better to use ne webpackConfig option instead of old updateWebpackConfig, it's safer.

[2016-12-05 23:22] stinoga commented on #254
Got it! Upgrading node to version `6.3.0` fixed the problem.

[2016-12-05 23:22] #254 closed

[2016-12-06 16:38] n1313 commented on #218
I had this issue when I misconfigured my include/exclude paths and the imported file with spread operator was not "covered" by my loaders.

[2016-12-07 13:12] MaheshakaMudli commented on #5
[18:34:19] Error - [webpack] 'dist':
./~/@microsoft/sp-module-loader/lib/SystemJsWrapper.js
Module not found: Error: Cannot resolve module 'raw-script' in C:\Users\NewsArticleWebPart\node_modules\@microsoft\sp-module-loader\lib

[2016-12-07 13:12] MaheshakaMudli commented on #5
Can anyone help?

[2016-12-07 13:15] sapegin commented on #5
@MaheshakaMudli Please make a demo project as [described here](https://github.com/styleguidist/react-styleguidist/blob/master/Issue_Template.md) and open a new issue.

[2016-12-08 09:22] bebraw opened #257 "Allow code formatting to be customized"
Currently it picks up code fragments automatically and skips static ones (i.e. those with language defined). This isn't cool in all cases as you might want to map static to dynamic in order to preserve GitHub highlighting for example.

It would be good if there was a way to define custom mappings against languages and adjust this behavior.

You can see how [Catalog](https://github.com/interactivet

[2016-12-08 09:29] sapegin commented on #255
As @bebraw suggested it should check if Webpack config exports a function and call it with a current environment as a first argument.

[2016-12-08 09:50] sapegin opened #258 "Performance improvement ideas"
Just a list of things and ideas that worth trying to improve compilation speed and reduce bundle size:

- [HardSourceWebpackPlugin](https://github.com/mzgoddard/hard-source-webpack-plugin)
- [DllPlugin](https://robertknight.github.io/posts/webpack-dll-plugins/)
- [parallel-webpack](https://github.com/trivago/parallel-webpack)
- [happypack](https://github.com/amireh/happypack)

[2016-12-08 16:42] aaronjensen commented on #258
We're using HardSourceWebpackPlugin with styleguidist and it seems to work well. It only really helps on the first build, not subsequent builds as far as I can tell.

happypack would be great in theory, but I worry about its lack of compatibility for some things.

[2016-12-08 17:21] sapegin commented on #258
[They say](https://github.com/mzgoddard/hard-source-webpack-plugin#hardsourcewebpackplugin-):

Could you share your config? It looks quite complicated.

[2016-12-08 17:24] aaronjensen commented on #258
[code]

[2016-12-08 17:25] aaronjensen commented on #258
And yes, by "second time" they're not talking about subsequent builds within a single watch. I was differentiating between dev watch and just building from the command line. HSWP helps with the first build of a watch and every build from the command line.

[2016-12-08 23:15] stinoga opened #259 "Handling nested components"
What is the best way to handle two components that are usually nested? In my case I have two component files, and they are nested like so:

[code]

Do I put an example in each component, and add import statements? If so, where is the best place to do that? I noticed if not I obviously get an import error:
`ReferenceError: PanelHeader is not defined`

[2016-12-09 06:15] sapegin commented on #259
I did it like that: https://github.com/styleguidist/react-styleguidist/blob/master/docs/FAQ.md#how-to-add-custom-js-and-css

And inside this JS:

[code]

But I’m sure we can think of a better solution.

[2016-12-09 07:18] sapegin commented on #259
Or if you don’t use `skipComponentsWithoutExample` you can just not write examples for `PanelHeader`. You’ll have props list for it and it will be available globally.

[2016-12-09 16:57] stinoga commented on #259
Interesting. I was also thinking about putting both`Panel` and `PanelHeader` into the same file, since they will always be used together. I tried that using this setup:
`resolver: require('react-docgen').resolver.findAllComponentDefinitions,`

It seemed to work, but I get an error:
[code]

[2016-12-12 10:37] sapegin commented on #259
Does it want key in your code or somewhere in Styleguidist?

[2016-12-13 10:13] sapegin opened #260 "Use findAllExportedComponentDefinitions as default resolver"
Default [react-docgen](https://github.com/reactjs/react-docgen) resolver fails when you export multiple components:

[code]

We recommend to use `findAllComponentDefinitions` instead but it breaks as I understand when you have multiple components in a file but not export them directly:

[code]

`findAllExportedComponentDefinitions` works fine for me in both cases (and do not break for any other 60

[2016-12-13 12:41] AoDev opened #261 "Object references are broken in examples state"
Hi, here is a simple example that you can copy as is and try in the styleguide.

It shows three buttons, one is "active". (red, green, blue)
When one is clicked, it is updating the example state so that the active item is a reference to some item in a list (array of objects).

The example fails because it seems that the state update mechanism clones objects or does anything that breaks references.

[2016-12-13 13:04] sapegin commented on #261
It might be because we’re `eval`ing examples’ code. But `setState` is just a normal `setState` of a component that wraps example.

Anyway I’d avoid such code in any “real world” app — that looks very unreactish for me. Store an item ID in the state, it works fine.

[2016-12-13 13:04] #261 closed

[2016-12-13 13:12] AoDev commented on #261
@sapegin
This is a contrived example simply to illustrate the problem.

And I don't know what you mean by Reactish, since a big point of React optimization is based on checking references in the render tree. Hence from the start and until now they have created and improved the pureRender mixin -> shallowCompare -> pureComponent.

I don't think it's a good idea to limit styleguidedist to what you t

[2016-12-13 13:24] sapegin commented on #261
If you think it’s a bug please send a pull request with a fix or improved docs.

[2016-12-13 13:49] AoDev commented on #261
@sapegin I send a PR with docs updated with a note about this issue. Let me know if it's ok there or if any change is needed.

[2016-12-14 09:45] n1313 commented on #258
This is probably more about bundle size than performance, but those things sometimes come hand in hand. How about using [lodash modules](https://www.npmjs.com/browse/keyword/lodash-modularized) instead of importing the entire lodash package? I have run my bundle through [webpack-bundle-analyzer](https://github.com/th0r/webpack-bundle-analyzer) and I see that the biggest parts of styleguidist are [

[2016-12-14 09:50] sapegin commented on #258
@n1313

1. We *were* importing the whole Lodash only to make it available in examples as `_`. We’re not doing that anymore in the upcoming 5.0.0 — https://github.com/styleguidist/react-styleguidist/issues/249

2. Nothing we can do about Buble and Acorn (Acorn is a Buble’s dependency). It’s already much much smaller than babel-standalong that we used to use before.

[2016-12-14 09:52] sapegin commented on #258
Actually we can do something with Buble but not for all users. We can make transformer replacable and if you’re using only latest browsers and don’t care about JSX, you could just replace it with nothing.

[2016-12-15 07:33] sapegin commented on #258
Trying [babel-preset-env](https://github.com/babel/babel-preset-env) and [babel-react-optimize](https://github.com/thejameskyle/babel-react-optimize) but looks like our codebase is too small to have any benefits:

Base:

[code]

babel-preset-env:

[code]

babel-react-optimize:

[code]

babel-preset-env + babel-react-optimize:

[code]

(`lib` is the size of all transpiled JS files.)

[2016-12-15 09:36] n1313 commented on #258
Is this for v5 branch?

[2016-12-15 09:38] sapegin commented on #258
@n1313 The numbers in the latest comment? Yes. But I won’t commit it most probably since there’s no improvements.

[2016-12-15 09:40] n1313 commented on #258
Would you mind trying doing the same in v4? I wonder if it will be equally unimpressive.

[2016-12-15 09:40] sapegin commented on #258
Could try later.

[2016-12-15 09:50] sapegin commented on #258
Yeah, not change for the master branch too:

Base:

[code]

babel-preset-env:

[code]

babel-preset-env + babel-react-optimize:

[code]

[2016-12-15 10:04] n1313 commented on #258
Wait a second, you've dropped bundle size from 2.26 MB in v4 to 635 kB in v5? Wow.

[2016-12-15 10:05] sapegin commented on #258
@n1313 I’ve fixed Uglify and removed Lodash. Maybe something else ;-)

[2016-12-15 10:10] sapegin commented on #258
Another comparison.

Webpack 1:

[code]

Webpack 2:

[code]

No improvement in Webpack 2 probably because we should disable ES6 modules transformation to make tree shaking work. In that case to support both Webpack 1 and 2 we should build two sets of JS: with and without modules.

[2016-12-15 16:23] aaronjensen commented on #258
@sapegin Did you set `useBuiltIns` to `true`? Also, the browser support matrix would probably make a difference. And yes, for webpack 2, modules should be false. I found a 10-20k difference in our file when I used it, but it wasn't enough to justify possibly picking the wrong range for our app.

[2016-12-15 17:53] sapegin commented on #258
@aaronjensen No, will it help if I don’t use babel-polyfill? Or will I have to use it? For tree shaking we’ll need to transpile two sets of files (because we still support Webpack 1) and I think it’s not worth it. It also breaks UglifyJS because it doesn’t support ES6.

[2016-12-15 18:24] O4epegb commented on #254
Had same issue with node 5.10. This one #250 too. I'm not able update node at work just yet, so decided to try other version of styleguidist, 4.0.0, build static just fine, but server still crashing with same error.

[2016-12-15 18:27] aaronjensen commented on #258
`useBuildIns` requires `babel-polyfill`, it just trims down what it actually emits. [Soon it will trim down even more](https://github.com/babel/babel-preset-env/issues/84).

This is common, hence `jsnext:main` in package.json.

That said, I wasn't aware you were talking about a build step prior to packaging, is that what you're talking about? In that case, I don't think you should be polyfilling a

[2016-12-15 18:40] sapegin commented on #254
@O4epegb It would be awesome if you can help up investigate it. Because we support Node 4+ and we run tests on Travis on 4, 6 and 7. And we probably missing something. I can’t reproduce it.

[2016-12-15 18:45] sapegin commented on #258
@aaronjensen It’s a bit more complicated than that ;-)

1. We transpile all Styleguidist to ES5 before publishing to npm (in upcoming 5.0.0) to get rid of babel-loader.
2. We can’t use `jsnext:main` for that because we importing local files, not package. So we’ll need to transpile to copies and somehow decide what to use in Weback config. Not sure it‘s worth it.
3. We should Uglify by default all

[2016-12-19 14:36] stinoga commented on #259
@sapegin Yeah, it wants a key in my example code. Fixes the error, but stinks because then people are adding keys into their components when they pattern match off of the style guide :(

[2016-12-19 16:06] stinoga commented on #259
Actually, no. I take that back. It looks like individual keys may be needed in the Styleguidist code.

[2016-12-20 12:52] just-boris commented on #257
Catalog names custom markdown content definitions as `specimens`. If you would like, we can do here the same. Let's say, that here will be a new option in `styleguide.config.js`:

[code]

By default, we are also going to enable `example` and `html` specimens by default, to make backwards-compatible behavior.

I have analyzed `examples.loader.js` source to check how hard it would be to implement an

[2016-12-22 16:35] okonet opened #267 "Code blocks with syntax doesn't get evaluated"
It seems it only evaluates examples if there is no syntax specified for the code block. I.e. this

![2016-12-22 at 17 34](https://cloud.githubusercontent.com/assets/11071/21432682/d8a22768-c86c-11e6-860b-8692b659eded.png)

results in following:

![2016-12-22 at 17 33](https://cloud.githubusercontent.com/assets/11071/21432632/b5e12b66-c86c-11e6-9dfe-43dfbf3c83ac.png)

And since I'd like to still ha

[2016-12-22 16:45] okonet commented on #267
And looking at https://github.com/styleguidist/react-styleguidist/blob/master/examples/sections/lib/components/Button/Readme.md I see it's by design.

But this is a bad DX IMO and can be improved.

[2016-12-22 16:56] sapegin commented on #267
Yes, that‘s exactly how it should work.

If you have any ideas feel free to submit a pull request or open an issue. Comments like that are unproductive.

Related issues: #257, #265.

[2016-12-22 17:15] okonet commented on #267
I actually wrote down my ideas:

* It should be able to parse the language part of the code block and evaluate it if it's jsx? match.
* It would be nice to check if it's a valid syntax (using `try ... catch` block perhaps?)

[2016-12-22 17:17] sapegin commented on #267
What should we do if you have a typo in JS? It doesn‘t have to contain JSX, any JS should work.

[2016-12-22 17:17] sapegin commented on #267
In any case we need a way to explicitly define how to render an example.

[2016-12-22 17:20] sapegin commented on #267
For example: how to render a piece of JS code as highlighted code, not as a playground?

[2016-12-23 09:33] okonet commented on #267
Yeah, that's an interesting problem. I'm not sure how to answer all these questions. Thanks for bringing it up! I'll think about it tho.

[2016-12-23 09:35] sapegin commented on #267
I agree that the current solution isn’t perfect but the problem isn’t as easy either. Could you create a new issue, and I‘ll close this one, since it’s a bug report ;-)

[2016-12-23 11:12] tomsowerby opened #268 "Unexpected token { in v4.4.x"
Migrating from v4.1.0 to v4.4.3 we started getting errors when running the server:

ERROR in Unexpected token {
 @ ./~/react-styleguidist/src/index.js 40:18-48 81:1-84:3

Same error back to v4.4.0.
Rolled back to v4.3.3 and all works fine.
I couldn't see any migration guide notes on the release.

Config if pretty basic:

    module.exports = {
	title: 'components',
	components: './src/**/*.js',
	s

[2016-12-23 11:48] sapegin commented on #268
Are you using Node 4 or 5? This issue was reported several times but I still can‘t reproduce it.

[2016-12-23 11:49] sapegin commented on #268
Thanks for the exact version where it was introduced, I could reproduce it finally!

[2016-12-23 11:56] tomsowerby commented on #268
Witnessed using the following:
Node v4.5.0
Npm v2.15.9

[2016-12-23 18:35] #268 closed

[2016-12-23 18:46] sapegin commented on #268
Thanks for detailed bug report, should work in 4.4.3.

I’ll add tests to prevent that later.

[2016-12-23 18:47] sapegin commented on #254
Should be fixed in 4.4.3.

[2016-12-24 15:00] O4epegb commented on #254
Very nice, thank you for good work!

[2016-12-25 12:18] tizmagik commented on #268
What was the issue?

[2016-12-25 12:22] sapegin commented on #268
@tizmagik Syntax not supported in Node 4/5, check the commit.

[2016-12-25 12:24] tizmagik commented on #268
Oh I see. I thought we transpiled, maybe we should?

[2016-12-25 12:26] sapegin commented on #268
We transpile only browser code. Node 4+ supports enough features. We should just test that ;-)

[2016-12-25 12:31] tizmagik commented on #268
Ah gotcha 👍

Another option is to also run server code through babel but behind babel-preset-env. Might not be worth it if it was just these few lines that were incompatible, but testing against older versions of node in CI would help catch these in the future, so that's good 👌

[2016-12-25 12:42] sapegin commented on #268
It makes everything more complicated with a very tiny benefit ;-)

[2016-12-26 14:11] jiayihu commented on #258
I suggest also trying [optimize-js](https://github.com/nolanlawson/optimize-js) for styleguide builds to improve time to first render. I tried it with a project where the `bundle.js` is about 2.0MB and noticed some improvements in the Timeline:

Avarage DOMContentLoaded time without optimize-js: 3.11s
Avarage DOMContentLoaded time with optimize-js: 2.73s

[2016-12-27 10:02] okonet opened #269 "Ability to display source code of the component"
During my work on [react-dropzone styleguide](http://react-dropzone.netlify.com/), which isn't a conventional styleguide, one of the missing pieces is an ability to inline the source code of the examples into the styleguide.

So, in my case, the config looks like this (excerpt):

[code]

The idea is to display examples and allow opening them in the isolation mode. But one of the important things I

[2016-12-27 10:16] okonet commented on #269
Another idea would be to have some special markup for the markdown that would add the source code of the component as a code block below it.

[2016-12-27 10:18] okonet commented on #269
Random file? I'm not sure I get this.

[2016-12-27 10:20] sapegin commented on #269
Instead of rendering only component‘s source, which looks very specific and rare, just allow to specify a path.

[2016-12-27 10:21] okonet commented on #197
The function name and signature would be very nice. I doubt it should be displayed in a tooltip. Instead, I'd say, it should go into the description field.

[2016-12-27 10:22] okonet commented on #269
Yes, that would work as well!

[2016-12-27 10:26] sapegin commented on #269
[](./file.js)

[2016-12-27 10:35] okonet commented on #269
After some 1x1 discussion, it seems that the most appropriate and flexible way would be to have some extended markdown syntax that would allow inlining the contents of the linked file. So, the user would write something like `> ../path/to/my/file.js` and it would render file contents using code fence block.

There are few open questions like:

1. What this marker should look like?
1. How to determ

[2016-12-27 10:38] okonet opened #270 "Don't display `Props` heading if there are no props defined"
Right now the heading `Props` is always visible no matter if there are Props defined or not.

![2016-12-27 at 11 35](https://cloud.githubusercontent.com/assets/11071/21497931/9f28e746-cc28-11e6-9646-edfd09d5e3cd.png)

It should only be visible if there are props defined.

Additionally, it would be great to have an option related to each `section` that would allow disabling Props section whatsoever

[2016-12-27 10:44] okonet commented on #269
One of the possible solutions could be as simple as having a fence block with the path to a file that should be inlined.

![2016-12-27 at 11 43](https://cloud.githubusercontent.com/assets/11071/21498086/c3411724-cc29-11e6-90a9-7f737b9af659.png)

[2016-12-27 10:47] okonet commented on #257
Related to #269

[2016-12-27 10:51] okonet commented on #257
Also related to #267

[2016-12-27 11:10] sapegin commented on #269
What if we use links with something [like this](https://kramdown.gettalong.org/syntax.html#block-ials)? Not sure Remark supports it.

[2016-12-27 11:12] okonet commented on #269
I really like how https://github.com/interactivethings/catalog handles it and I believe we should approach it in a similar way (specimens).

[2016-12-27 11:13] sapegin commented on #270
Should be very easy to fix: https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/ReactComponent/ReactComponentRenderer.js#L22-L25

[2016-12-27 11:14] sapegin commented on #269
Yep, that would work too. And could solve other issues too. The only con is that it would render as just text on GitHub.

[2016-12-27 11:20] sapegin commented on #269
One more requirement:

4. Specify how to show a file: as a highlighted source or as a rendered example.

[2016-12-27 11:20] varya opened #271 "Building error when running the tool"
Looks like some linking CSS file is missing

[code]

[2016-12-27 11:21] sapegin commented on #271
Looks like you’re overwriting Styleguidist’s aliases. Could you show your config?

[2016-12-28 09:14] varya commented on #271
Everything is OK when using react-styleguidist@4.1.0. Newer versions give this problem. The config is below.

client-src/webpack/styleguide.config.js
[code]

client-src/webpack/webpack.config.js
[code]

[2016-12-28 09:23] sapegin commented on #271
Yup:

[code]

Merge it, don’t overwrite.

[2016-12-28 09:23] #271 closed

[2016-12-28 10:10] varya commented on #271
Thank you! It worked :-)

[2016-12-29 07:20] n1313 commented on #73
I have a prop that is an array of shapes, which have a `oneOf` enum prop:

    prop: React.PropTypes.arrayOf(
        React.PropTypes.shape({
            innerProp: React.PropTypes.oneOf(['one', 'two'])
        })
    ),

Is there a nice way to display the values of `innerProp`? Currently I have to resort to typing them out manually in the prop comment.

[2016-12-29 09:41] sapegin commented on #73
@n1313 It should be supported according to the source: https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/Props/PropsRenderer.js#L81-L85

If not it’s a bug most probably.

[2017-01-02 19:34] #267 closed

[2017-01-04 11:33] sapegin commented on #270
Fixed in 302cce73db7e27889ac7445adb0c2aca90a5d546.

[2017-01-04 11:33] #270 closed

[2017-01-04 23:38] stinoga opened #277 "Initializing a redux store"
Are there any good examples of initializing a redux store with styleguidist? Some of my components use a redux store, and I'd like to get one setup with dummy data for the style guide.

[2017-01-05 06:14] aaronjensen commented on #277
[code]

[code]

[2017-01-05 07:23] sapegin commented on #277
You can also redefine a `Wrapper` component and have store available for all your components. See example with `IntlProvider`: https://github.com/styleguidist/react-styleguidist/blob/master/docs/FAQ.md#how-to-change-the-layout-of-a-style-guide

[2017-01-05 07:59] #222 closed

[2017-01-05 07:59] #255 closed

[2017-01-05 20:11] jameslaneconkling commented on #37
Documenting this here in case it's of help to anyone.

Returning a ternary from a stateless component threw the `No suitable component definition found` Error.

[code]

Refactoring to use an if statement fixed it:
[code]

[2017-01-05 22:29] stinoga commented on #277
@sapegin that worked great thanks!

[2017-01-05 22:29] #277 closed

[2017-01-06 09:20] sapegin commented on #37
@jameslaneconkling This looks like a bug in react-docgen.

[2017-01-09 07:42] jochienabuurs commented on #217
Could you post the solution plz? I'm having the same issue...

[2017-01-10 16:36] joepsz commented on #277
@stinoga Nice! Could you perhaps share how you created this wrapper that made the store available?

[2017-01-10 16:43] sapegin commented on #277
@stinoga Or even send a PR to the FAQ ;-)

[2017-01-10 19:43] joepsz opened #282 "Not correctly loading components that use webpack aliases"
First of all: thank you all for your hard work. I love this project.

However, since a couple of weeks, Styleguidist doesn't build correctly. It seems to struggle with parsing some specific JSON files. When I tried to found out which components might cause that, I noticed that this error message only appears with components that import other components using [Webpack aliases](https://webpack.githu

[2017-01-10 20:00] sapegin commented on #282
The problem with JSON might be because of your `includes` mask. Since we already have a json-loader it will just try to apply it twice for certain files. That’s why require `include` option for all user loaders (it‘s not the case for upcoming 5.0.0).

But I’m not sure what‘s wrong with aliases. The `react` alias looks suspicious but I don‘t think that it‘s a problem.

I’d suggest you to try beta o

[2017-01-11 11:46] joepsz commented on #282
Thanks for the quick reply, @sapegin!

The beta seems to work better! No more JSON import issues. And I think I've found the issue regarding the aliases. Using aliases somehow called a defective function in some dependency not related to Styleguidist. When I fixed that issue, the components started working again. I still find it odd that my normal build worked fine, since that also relied on that

[2017-01-11 13:22] sapegin commented on #282
Thanks you very much for feedback!

That’s because we ignore `plugins` when you use `webpackConfigFile` (but not `webpackConfig`) to prevent problems with duplicated plugins (like HMR). I’m going to try to implement smarter merging and see how it works.

[2017-01-11 14:25] joepsz commented on #282
Great! Let me know if I can test something.

[2017-01-11 14:32] tizmagik commented on #212
If we use babel-preset-env then we can target some more modern browsers and transpile less, right? Not sure if this preset has been explored elsewhere for styleguidist.

[2017-01-11 14:34] sapegin commented on #212
@tizmagik It was — no improvement + problems with UglifyJS. See comments in #258.

[2017-01-11 14:44] tizmagik commented on #212
Ah gotcha. I thought UglifyJS supported ES6, but I guess there's issues. Have you tried babel-preset-env + babili for minification?

[2017-01-11 14:46] sapegin commented on #212
As far as I understand how babili works, we can’t use it since we don’t have babel loader anymore or actually any babel in npm package. And user doesn't necessarily will use Babel as well

[2017-01-11 14:53] madjam002 commented on #260
I was using `findAllExportedComponentDefinitions` with my PR (#283) and it works just fine with various files exporting default and named components.

[2017-01-11 14:55] sapegin commented on #260
@madjam002 Awesome! It will be in 5.0.0 by default.

[2017-01-11 23:32] kulakowka opened #284 "Escape HTML in markdown"
I'm want to use markdown in the comments to the source code of my components..

<img width="321" alt="2017-01-12 2 21 36" src="https://cloud.githubusercontent.com/assets/557190/21870531/e3fa269a-d86d-11e6-99e9-453cbb259315.png">

But when I generate documentation, `<code>` tag is processed incorrectly.

<img width="355" alt="2017-01-12 1 59 46" src="https://cloud.githubusercontent.com/assets/55719

[2017-01-16 14:07] philholden commented on #212
Have you had a look at intersection observer it is already shipping in Chrome (it fires an event when an element comes into view):

https://developers.google.com/web/updates/2016/04/intersectionobserver?utm_campaign=chrome_series_nic011_052516&utm_source=chromedev&utm_medium=yt-desc

[2017-01-16 14:34] sapegin commented on #212
@philholden Looks like react-virtualized but you have to write react-virtualized ;-)

[2017-01-18 20:48] tizmagik commented on #223
Migration docs? Or will it be easy to upgrade from v4? Sorry if I missed another issue that addresses this already!

[2017-01-18 20:53] sapegin commented on #223
@tizmagik I have a [change log draft](https://gist.github.com/0c1320d7e099dcbb26758ab265fcf17b) so far. There are some migration stuff. Let me know if I need to write more.

[2017-01-19 02:36] n1313 commented on #223
@sapegin, I think what most users would like to know is answers to "why should I update" and "what do I need to change in my project if I decide to update" questions. It would be great is these points could be highlighted in the release notes.

[2017-01-19 07:10] sapegin commented on #223
@n1313 I’ve tried to answer both questions. Let me know if anything is missing.

[2017-01-19 22:05] chrisdrackett opened #289 "print out values of `PropTypes.oneOf`"
This is currently done with shape and its really nice. Right now if you use `oneOf` the only thing shown in type is `enum`, it would be great to be able to see the supported values.

[2017-01-20 07:46] sapegin commented on #289
Yeah, and I believe it’s not very difficult to make. It would be very cool if you have time and will to try it and send a pull request ;-)

[2017-01-20 12:21] iamstarkov commented on #223
yo, @sapegin, is there any release/changelog notes for v5-beta? `5.0.0-beta8` is available through npm, but i struggle to try it out wo/ aforementioned notes and migration path. can you help?

[2017-01-20 17:13] chrisdrackett commented on #289
yeah, I have that on my list, figured I would post here in case someone gets to it before me :)

[2017-01-22 11:32] lapidus opened #291 "Static Assets?"
I would like to include a couple of images in the documentation.
How would i need to tweak the webpackConfig to allow something like the below?
[code]

[2017-01-22 13:40] sapegin commented on #291
Have you tried `assetsDir` option?

https://github.com/styleguidist/react-styleguidist/blob/master/docs/Configuration.md

[2017-01-22 15:17] lapidus commented on #291
Oups, that is embarrassing ... Can't understand how I overlooked it, but thank you!

[2017-01-25 12:01] avaly opened #292 "Missing support for webpack2 config with `rules`"
Using webpack2 with a custom config which uses `module.rules` instead of `module.loaders` fails to load.

The issue is due to webpack loading either `rules` or `loaders`, but not both: https://github.com/webpack/webpack/blob/v2.2.0/lib/NormalModuleFactory.js#L46

And `react-styleguidist` only exports `loaders`: https://github.com/styleguidist/react-styleguidist/blob/master/scripts/make-webpack-con

[2017-01-25 13:36] sapegin commented on #292
It shouldn’t be a problem in the 5.0.0 beta. Could you please try it?

https://github.com/styleguidist/react-styleguidist/releases/tag/5.0.0%40beta.9

[2017-01-25 13:43] sapegin commented on #284
It should be fixed in the 5.0.0 beta. Could you please try it?

https://github.com/styleguidist/react-styleguidist/releases/tag/5.0.0%40beta.9

[2017-01-25 13:43] sapegin commented on #211
It should be fixed in the 5.0.0 beta. Could you please try it?

https://github.com/styleguidist/react-styleguidist/releases/tag/5.0.0%40beta.9

[2017-01-25 13:44] sapegin commented on #223
The official beta is here. Please try it if you have some time ;-)

https://github.com/styleguidist/react-styleguidist/releases/tag/5.0.0%40beta.9

[2017-01-25 14:02] tizmagik commented on #223
Exciting!! 😁

[2017-01-25 16:17] avaly commented on #292
Indeed, it does work with the latest beta: https://github.com/styleguidist/example/pull/2

As a workaround for folks who are on react-styleguidist <=4.* :

[code]

[2017-01-25 16:17] #292 closed

[2017-01-25 16:30] avaly opened #293 "LoaderOptionsPlugin plugin in user webpack config can break Styleguidist"
According to the latest 5.0.0 beta at https://github.com/styleguidist/react-styleguidist/releases/tag/5.0.0%40beta.9, `updateWebpackConfig` is deprecated.

**If this method is removed** in future versions, the following issue will preset it self: using a custom webpack2 config with a `LoaderOptionsPlugin` specifing some custom options for loaders will override the internal plugin which is used for

[2017-01-25 17:02] sapegin commented on #293
That’s why I’ve added this warning ;-) Even if we never deprecate `updateWebpackConfig` it’s good to solve as many use cases as possible without it.

I think merging is the right way to solve the issue. We‘re doing some custom merging of plugins anyway.

[2017-01-25 18:46] aaronjensen opened #294 "Conflict: Multiple assets emit to the same filename build/bundle.js"
With `"react-styleguidist": "^5.0.0-beta8"` and my webpack.config.js, I get this:

[code]

Here is my config: https://gist.github.com/aaronjensen/dae58ad57efc7f12921d4cb148b618ae

[2017-01-25 18:50] aaronjensen commented on #294
Ok, I've tracked it down to my `CommonsChunkPlugin`

[2017-01-25 18:51] sapegin commented on #294
So, should we rename `bundle.js` to `rsg-bundle.js`?

[2017-01-25 19:04] sapegin commented on #294
You have quite a lot of stuff in your config — would be cool to make Styleguidist work with it without any hacks.

[2017-01-25 19:07] aaronjensen commented on #294
I'm not sure that'd matter. I just can't use CommonsChunkPlugin the way that I was. The way that styleguidist handles the `webpackConfig` option caused me some confusion:

`webpackConfigFile` automatically excludes `entry` and `output` but when supplying a `webpackConfig` does not, I'm responsible for that, so when I do that, it helps, but then my `CommonsChunkPlugin` wants to build a bundle for `

[2017-01-25 19:09] aaronjensen commented on #294
With these changes to my webpack config it seems to work:

[code]

[2017-01-25 19:18] sapegin commented on #294
It always strips `output` but allows you to use `entry` in `webpackConfig`  so you can add polyfills and other things.

Yeah, if ignoring `CommonsChunkPlugins` doesn‘t make things worse we can do that.

[2017-01-25 19:19] #291 closed

[2017-01-25 19:21] sapegin commented on #282
Hi @joepsz, we have a new beta: https://github.com/styleguidist/react-styleguidist/releases/tag/5.0.0%40beta.9 and it does plugins merging.

[2017-01-25 19:22] #260 closed

[2017-01-25 19:24] sapegin commented on #172
Have we solved this with `contextDependencies` option?

[2017-01-25 19:25] aaronjensen commented on #172
Yes, it's working for me.

[2017-01-25 19:25] #172 closed

[2017-01-25 19:59] aaronjensen opened #295 "5.0 beta emits `const` keywords"
We use phantomjs to test that our styleguide loads. For some reason, after upgrading to 5.0.0, our styleguide bundle contains `const` declarators instead of `var` which don't work w/ phantom.

 I'm not sure what would have changed or how to track it down. Any ideas?

[2017-01-25 20:11] sapegin commented on #295
I’ve tried to grep bundle of example styleguide and couldn‘t find any `const` so it shouldn‘t be from Styleguidist itself. Maybe some dependency was updated.

I‘ll be happy to help with debugging but I need the code ;-)

[2017-01-26 01:06] aaronjensen commented on #295
Here's a repro: https://github.com/aaronjensen/react-styleguidist-const-repro

To repro:

[code]

The const is here: https://github.com/styleguidist/react-styleguidist/blob/next/loaders/utils/evalInContext.js#L18

[2017-01-26 06:30] sapegin commented on #295
If it’s only in this function then it’s easy to fix. Thanks for the investigation!

[2017-01-26 16:07] aaronjensen commented on #295
It also leaves consts in in the code examples, is there something that compiles those at runtime so they end up as var?

[2017-01-26 16:42] sapegin commented on #295
I think the simples way would be to write examples with `var` ;-)

[2017-01-26 16:55] aaronjensen commented on #295
hmm, but did something change from 4 to 5?

[2017-01-26 16:58] sapegin commented on #295
For the file you mentioned earlier — yes, and it‘s easy to fix. For processing examples code: no, there‘s no processing.

[2017-01-26 17:16] aaronjensen commented on #295
so in 4 it would have been eval'd w/ const? I wonder why my tests didn't complain about that...

[2017-01-26 17:18] sapegin commented on #295
Because we run example code via Buble in a browser anyway. So fixing this one new `const` must be enough.

[2017-01-30 13:22] sapegin commented on #293
Should be fixed in `react-styleguidist@5.0.0-beta.10`. Please try if you have time 🦄

[2017-01-30 13:23] sapegin commented on #295
Should be fixed in `react-styleguidist@5.0.0-beta.10`. Please try if you have time 🦄

[2017-01-30 13:23] sapegin commented on #294
Should be fixed in `react-styleguidist@5.0.0-beta.10`. Please try if you have time 🦄

[2017-01-30 14:42] sapegin commented on #96
How about this? :-)

https://github.com/styleguidist/react-styleguidist/blob/next/Readme.md

[2017-01-31 02:29] aaronjensen commented on #295
This is working now, thank you.

[2017-01-31 02:29] #295 closed

[2017-01-31 03:11] joerodrig opened #296 "Custom directory for package.json/node_modules produces error"
I'm currently working on a Rails project where it's necessary that `package.json` and our `node_modules` folder is in `/vendor`. I believe this requirement is breaking the styleguidist scripts and can't seem to find a way to work around it. Is there anyway to set a custom node directory outside of the root folder?

The error I receive from running
`npm run styleguide-server` or `npm run styleguide

[2017-01-31 03:17] n1313 commented on #296
This is an unusual structure for a project. Would symlinks help?

[2017-01-31 03:51] joerodrig3 commented on #296
@n1313 This appears to be the decided directory structure that is going to be used within Rails in the 5.1 release unless something major changes(https://github.com/rails/webpacker/issues/72). I've tried using symlinks with some success, but then I realized that I was ultimately just symlinking my entire vendor folder to the root directory to get things working. I'm sure this is just an edge case

[2017-01-31 10:15] ZwaarContrast opened #297 "PropTypes.oneOf in combination with a description results in render warnings."
When adding comment above a propType defined with the oneOf type, that results in render warnings.

Warning.
`Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of 'Group'. It was passed a child from PropsRenderer. See https://fb.me/react-warning-keys for more information.`

Check out the forked example here:
https://github.com/ZwaarContrast/exampl

[2017-01-31 10:27] mik01aj commented on #96
Too fast or too choppy, it's hard to understand what's happening.

[2017-01-31 10:30] sapegin commented on #96
I can increase the delay between frames. Or add more frames but it will make the file bigger.

[2017-01-31 10:46] sapegin commented on #96
@mik01aj Now? 😊

[2017-01-31 11:05] kulakowka commented on #297
I have this problem too.

Versions of my packages:

[code]

[2017-01-31 19:59] AoDev opened #298 "Build fails with JSDocs tags in Component docs. (webpack 2, styleguide 5 beta)"
Environment:

- Webpack version: 2.2.0
- react-styleguidist: 5.0.0-beta.10

The build breaks because of JSDocs tags.
We have updated to Webpack 2 and after checking this issue: https://github.com/styleguidist/react-styleguidist/issues/292 I have decided to go with the v5 beta.

I consistently manage to reproduce the build error with `@see` and `@module` JSDocs tags. I haven't tried other tags. We

[2017-01-31 20:16] AoDev commented on #289
Hello, I was checking if I could help.

I found this issue and I am not sure what you mean. I already have the values in my styleguide, in the description column. (One of 'default', 'danger')

It looks like there is nothing to do here?

<img width="613" alt="screen shot 2017-01-31 at 21 13 21" src="https://cloud.githubusercontent.com/assets/1526150/22482659/3bf115b6-e7fa-11e6-8092-fbc8311785f8.png

[2017-01-31 20:30] sapegin commented on #298
Maybe not 5.x specific be definitely a bug, I‘ll try to debug and fix it (but feel free to submit a pull request if you have time and will to fix it).

[2017-01-31 20:36] sapegin commented on #296
If that‘s a common file structure for Rails projects it worth trying to fix ;-) Although it‘ll require some investigation ;-)

1. Have you tried [React Styleguidist 5.x beta](https://github.com/styleguidist/react-styleguidist/releases/tag/5.0.0%40beta.9)?
2. Have you tried to put style guide config near `package.json`?

[2017-01-31 20:43] sapegin opened #299 "5.x beta doesn‘t work in IE11"
Would be cool if anyone have time to investigate and fix it :shipit:

[2017-02-01 11:29] okonet opened #300 "Examples doesn't work on @next"
Steps to reproduce:

1. Check out https://github.com/styleguidist/react-styleguidist/tree/next branch
1. `cd examples/basic`
1. Follow https://github.com/styleguidist/react-styleguidist/blob/next/examples/basic/Readme.md

Here is the output I get:

[code]

[2017-02-01 15:34] sapegin commented on #300
Will be happy to merge pull request with a fix ;-)

[2017-02-01 15:36] aaronjensen opened #301 "Is it possible to disable the screen clearing in v5?"
We run several apps at once during dev in a single terminal. Styleguidist's screen clearing is disruptive to that. Is it possible to disable it and have it go back to how it was before?

[2017-02-01 16:42] sapegin commented on #301
It’s not difficult to make an options for that. But if that annoys many people we could just remove it ;-)

https://github.com/styleguidist/react-styleguidist/blob/next/bin/styleguidist.js#L12

[2017-02-01 17:03] aaronjensen commented on #301
I'd be good w/ removing it. I also miss the build timing.

[2017-02-01 17:14] sapegin commented on #301
I have no strong preference. But if I have to choose between removal and a new options, I’d choose removal ;-)

[2017-02-02 01:32] roychoo commented on #297
This is an issue with react-group. I have created a pr with react-group. https://github.com/sapegin/react-group/pull/1

[2017-02-02 02:22] n1313 commented on #301
I also would like to have this removed or be an on/off option.

[2017-02-02 04:39] tizmagik commented on #301
+1 for removing

[2017-02-02 09:28] sapegin commented on #301
No console clearing anymore ;-)

Let me know if we can improve UI further.

[2017-02-02 11:11] sapegin opened #302 "Logo"
I’m going to make a proper site for Styleguidist after 5.x release, so a proper logo would a very nice addition.

Unfortunately I have no ideas of my own ;-£

/cc @okonet

[2017-02-02 11:53] n1313 commented on #302
For reference: https://github.com/WebAssembly/design/issues/112

[2017-02-02 12:30] sapegin commented on #302
And one more for reference: https://github.com/okonet/react-dropzone/issues/343

[2017-02-02 13:02] sapegin commented on #298
I found a reason of this error but not sure about the right way to fix that.

1. react-docgen creates an object without prototype here: https://github.com/reactjs/react-docgen/blob/d65bfc460d7274206c3208fc41518727acd5a490/src/utils/docblock.js#L58

2. Then to-ast tries to call `hasOwnProperty` on this object and fails: https://github.com/devongovett/to-ast/blob/master/index.js#L128

Of course we c

[2017-02-02 13:13] sapegin commented on #298
I’ve created an issue at react-docgen: https://github.com/reactjs/react-docgen/issues/155

[2017-02-02 13:41] AoDev commented on #298
Thanks for investigating. I think it was right to ask why they do that. Would be nice that they fix it if there is no good reason.

[2017-02-02 15:01] sapegin commented on #302
For some reason octopus represents in my mind idea of many components gathered together. But not cute one like on GitHub logo but evil or mischievous octopus like on a tattoo or metal band logo. Or a bit close to PostCSS logo in style.

[2017-02-02 15:56] #300 closed

[2017-02-02 15:58] reintroducing opened #303 "Render different example markup than what is in example markdown?"
An odd title, I know, but allow me to explain.  Some of our components require a rather extensive setup inside of a parent and some other components to be present (picture a modal, requires a button to open it, state management from the parent for isOpen or not, etc). We typically show example code as an App.jsx component that has all of the imports and everything spelled out to show complete usag

[2017-02-02 16:05] sapegin commented on #303
I see two workaround for that:

1. Just put everything you need into an example code, add comment and stuff.
2. Use regular syntax-highlighted code to show the important pieces.

![image 2017-02-02 at 5 05 00 pm](https://cloud.githubusercontent.com/assets/70067/22557119/c114d870-e969-11e6-9fa4-de693f54f354.png)

![image 2017-02-02 at 5 05 37 pm](https://cloud.githubusercontent.com/assets/70067/225

[2017-02-02 16:09] reintroducing commented on #303
@sapegin If I'm understanding you correctly, the Table example has that code in the markdown file and you just added comments around imports and such so as not to interfere.

The Form example, you put the code directly somewhere as markdown, is that also in the markdown file?

Can you show me the code used to generate these two examples?

[2017-02-02 17:01] sapegin commented on #303
Yep.

It is but in a fenced block with a language, so it‘s rendered not as a playgound. Like the last example [here](https://raw.githubusercontent.com/styleguidist/react-styleguidist/master/examples/basic/lib/components/Button/Readme.md).

[2017-02-02 17:02] reintroducing commented on #303
Perfect, makes perfect sense, thank you!

[2017-02-02 17:02] #303 closed

[2017-02-02 17:04] reintroducing commented on #303
I guess last question though. Because the example visibly generated is coming from the markdown file, is it possible to hide the example code that would then display on a case by case basis? I want examples that don't need a complex setup to show code properly but for these that require more setup and will be in a fenced code block i want to hide the example code that generates the actual example

[2017-02-02 17:08] sapegin commented on #303
It‘s not possible now but it‘s something I‘d like to have. The problem is to find the right API for this. We’ll need to extend Markdown somehow, but we don’t want to completely break rendering of Markdown files on GitHub and in code editors. It will be probably a braking change as well.

Related issues: #257, #269.

[2017-02-02 17:14] reintroducing commented on #303
thank you, i'll watch those issues.

[2017-02-02 22:49] joerodrig3 commented on #296
I was able to resolve this issue by moving my config to `/vendor/config/webpack/styleguide.js`. I believe the issue was related to [this line](https://github.com/styleguidist/react-styleguidist/blob/3ba27e98faf936be09e7520306a8fc60a61b5521/scripts/config.js#L187). The `findup` method previously had no way over ever finding the `package.json` file. I'll look more into what's in the 5.x beta and see

[2017-02-03 18:14] kohlmannj opened #304 "5.0.0-beta.9: JSS Dependencies Complain About "Unknown [Babel] Plugin" When Omitting `include` Properties in Rules"
I've prepared [a reduced test case repo](https://github.com/nytpi/styleguidist-5.0.0-beta-babel-issues-rtc) for this issue.

- Reproducible demo: [nytpi/styleguidist-5.0.0-beta-babel-issues-rtc](https://github.com/nytpi/styleguidist-5.0.0-beta-babel-issues-rtc)
- Style guide config: [styleguide.config.js](https://github.com/nytpi/styleguidist-5.0.0-beta-babel-issues-rtc/blob/master/styleguide.conf

[2017-02-03 18:26] sapegin commented on #304
There are two things:

1. You should either `include` your code or `exclude` `node_modules` in your babel-loader. Otherwise you will have problems like this (see also warning about Lodash — it will just slow down your build in the best case).
2. JSS shouldn’t publish `.babelrc` to npm, I’ll make an issue there.

[2017-02-03 18:34] kohlmannj commented on #304
@sapegin Thanks for the speedy reply!

Re (1): I suspect I'm misunderstanding the Webpack best practice for building projects with external non-ES5 dependencies. I'll look further into this and see what's best for my real project; thanks for confirming this problem for me.

Re (2): oh good, glad this particular issue wasn't just my babel-loader rule alone.

[2017-02-03 18:39] sapegin commented on #304
1. If you have something that needs transpiling in `node_modules` it complicates config a bit ;-) I add list of this dependencies and my own code in `include` of babel-loader. [Like this](https://github.com/tamiadev/tamia-build/blob/master/config/webpack.config.js#L112-L128).

[2017-02-03 18:41] sapegin commented on #304
(I also highly recommend @bebraw’s [book on Webpack](http://survivejs.com/) :—)

[2017-02-03 18:43] sapegin commented on #304
JSS PR for reference: https://github.com/cssinjs/jss/pull/415

[2017-02-03 18:49] kohlmannj commented on #304
Closing this issue since (1) I have obvious ideas about a workaround, really by way of config best practices (2) the JSS PR has been filed. Thanks again @sapegin, super helpful!

[2017-02-03 18:49] #304 closed

[2017-02-04 12:07] sjy opened #305 "Is es6 code in example markdown file supported ?"
I am using this repo to  make docs for my UI projects; It is really awesome and thank you so much the awesome contributors. If I miss something since I cannot make my jsx code (es6 version) work properly and I have to write down code like this to make my components rendered correctly.
[code]

[2017-02-04 13:58] sapegin commented on #305
ES6 is supported in examples but we have to process `require`s separately an `import` is not supported yet.

In your case `context` option might be more convenient: https://github.com/styleguidist/react-styleguidist/blob/next/docs/Configuration.md#context (you’ll need 5.0.0 beta to use it: https://github.com/styleguidist/react-styleguidist/releases/tag/5.0.0%40beta.9)

[2017-02-05 16:08] sjy commented on #305
Thanks a lot, sapegin. I will try the beta version.

[2017-02-05 16:09] #305 closed

[2017-02-06 04:18] n1313 commented on #297
Thanks @roychoo! The PR's been merged into react-group.

To anyone having this issue on RSG 4.6.3: update dependencies of RSG (or simply delete and reinstall it) to pick up the new version of react-group to have this issue resolved.

[2017-02-06 04:30] n1313 commented on #289
@chrisdrackett the values of `oneOf` are already being printed, so not sure what issue you are describing here. Are you talking about `oneOfType`?

[2017-02-06 04:34] roychoo commented on #305
@sapegin I guess the reason is that options of import is not enabled in buble? Is there any plans to add that? Or maybe abstract the options somewhere?

[2017-02-06 07:32] sapegin commented on #305
@roychoo Buble doesn’t support import.

We need to find all `require`d modules in advance and add them to webpack bundle. On the frontend `require` is just a function that returns one of this pre-loaded modules. That’s why you can’t `require` anything new dynamically.

[2017-02-06 10:25] roychoo commented on #305
Yeah you are right, I misread the buble docs. My bad.

[2017-02-07 15:58] okonet commented on #121
I'm also interested in this and might give it a try.

[2017-02-07 15:59] sapegin commented on #121
@okonet Awesome! Unfortunately I have no experience with static rendering.

[2017-02-08 02:18] nhavar commented on #302
Superquick like 5 minute example that I want to play around with and do some more variations of

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="svg8"

[2017-02-08 07:40] sapegin commented on #302
@nhavar Thanks! I’ve edited your comment — now it has an image ;-)

[2017-02-08 11:32] sjy opened #307 "Module build failed: Error: undefined does not match field "value": string | boolean | null | number | RegExp of type Literal at Array.forEach (native)"
I want to use context option so I update the version to 5.00beta@10 and use webpack 2 meanwhile.
here is my config file, it used to work in the 4.x version.
[code]
I have added an <component>.md file near each <component>.js file. the console log error infos below:

[code]
Any tips ?

[2017-02-08 12:34] sapegin commented on #307
Value of context should be a module name as described in the docs:
https://github.com/styleguidist/react-styleguidist/blob/next/docs/Configuration.md#context

[2017-02-08 12:34] #307 closed

[2017-02-09 12:49] #299 closed

[2017-02-09 12:50] sapegin commented on #294
Closing this for now. Feel free to reopen if you still have this issue.

[2017-02-09 12:50] #294 closed

[2017-02-09 12:50] sapegin commented on #293
Closing this for now. Feel free to reopen if you still have this issue.

[2017-02-09 12:50] #293 closed

[2017-02-09 12:51] #301 closed

[2017-02-09 12:52] sapegin commented on #297
Closing this for now. Feel free to reopen if you still have this issue.

[2017-02-09 12:52] #297 closed

[2017-02-09 12:52] mik01aj commented on #96
Better, but still hard to follow. In particular, it's confusing when you switch views or files, there's not enough time to notice what you're clicking and have a look around. If you're worried about the file size, well, I'd say growing to 1MB would be still fine. And in any case, you could also reduce its pixel size since the viewport is 888px and your gif is 1206px wide.

[2017-02-09 12:58] sapegin commented on #96
OK, I’ll try again later. Thanks for feedback!

[2017-02-09 13:57] joepsz commented on #282
Hi @sapegin,

Thanks for the heads-up. I tried plugin merging again, but unfortunately, it doesn't seem to be working correctly. I get this error for basically all jsx files:

[code]

When I just use my old config, it works fine!

[2017-02-09 13:59] sapegin commented on #282
@joepsz Can you show what config are you trying to use now and it doesn’t work?

[2017-02-09 15:45] kof opened #312 "Html loader overrides template variables"
I have an html loader in my webpack.config:

[code]

Now document template renders this:

[code]

As we discussed with @sapegin the issue seems to be [here](https://github.com/jantimon/html-webpack-plugin/issues/540) but a solution needs to be more general.

[2017-02-09 15:51] sapegin commented on #312
[More info in FAQ](https://github.com/jantimon/html-webpack-plugin/blob/master/docs/template-option.md)

Probably we can hardcode EJS loader from html-webpack-plugin, something like this:

[code]

Another solution would be to replace html-webpack-plugin with something simpler that can’t be affected by user loaders configuration.

/cc @bebraw

[2017-02-09 15:52] kof commented on #312
What about other things, can anything else in the users wp config break sg?

[2017-02-09 15:54] sapegin commented on #312
Only practice can tell ;-)

[2017-02-09 15:55] kof commented on #312
Well anything you rely on from the webpack config may be different in the users one so, its basically guaranteed that something can go wrong, I am not familiar with the code base yet to see what sg depends on.

[2017-02-09 16:00] sapegin commented on #312
That’s why I didn’t want to do any user config importing ;-) But we had the same issues before, even worse.

[2017-02-09 16:21] joepsz commented on #282
So this one works:

[code]

And this throws the `Module parse failed` errors:
[code]

And here's my `common.config.js`:

[code]

[2017-02-10 06:23] n1313 opened #313 "Ordered lists look like unordered lists"
In `next` branch, list items in both unordered and ordered lists are indicated by discs (as opposed to discs and decimal numbers).

[2017-02-10 07:31] sapegin commented on #313
Must be another overisolation issue with jss-isolate ;-)

[2017-02-10 09:03] n1313 opened #314 "How to add custom media-queries?"
...in the `next` branch? I can add custom styles by using `styles` property of the config, as described in the documentation, but adding `'@media (max-width: 800px)': { ... }` there doesn't seem to work.

[2017-02-10 09:08] sapegin commented on #314
I’m not sure what exactly are you doing and why it doesn’t work but there are some examples:

https://github.com/styleguidist/react-styleguidist/blob/next/src/styles/theme.js#L15
https://github.com/styleguidist/react-styleguidist/blob/next/src/rsg-components/StyleGuide/StyleGuideRenderer.js#L40-L44

[2017-02-10 09:38] n1313 commented on #314
Ok, I see the problem now. According to JSS docs (https://github.com/cssinjs/jss/blob/master/docs/json-api.md), media queries go like this:

[code]
So here we have `styles['@media (min-width: 1024px)'].button { width: 200 }`. And this approach *didn't* work for me.

Using your example as a guide I wrote this:

[code]
Here we have `styles.button['@media (min-width: 1024px)'] { width: 200 }`. And th

[2017-02-10 09:41] sapegin commented on #314
We’re using jss-nested: https://github.com/cssinjs/jss-nested#use-at-rules-inside-of-regular-rules

[2017-02-10 09:46] n1313 commented on #314
Then the "we're using JSS Syntax" link in the documentation (https://github.com/styleguidist/react-styleguidist/blob/next/docs/Configuration.md) should be corrected.

[2017-02-10 10:59] n1313 commented on #314
Since JSS and JSS-nested have different, mutually exclusive, syntaxes when it comes to nested selectors, the docs should be pointing at JSS-nested documentation, not JSS's. Let me send a PR...

[2017-02-10 11:08] sapegin commented on #314
There are other plugins that changes syntax like camelizing selectors, etc. So probably better to list all plugins.

[2017-02-10 14:11] schneck opened #317 "Including custom CSS in beta"
Hi,

I'm, using styleguidist 5beta, and I'm having problems including my custom sass file.

### styleguide.config.js:

[code]

### webpack.styleguidist.js:

[code]
Webpack version: 1.13.1
macOS, Chrome 56.

The sass file exists (I dumped the path), and the application finds it, only staleguidist doesn't.
Any idea?

[2017-02-10 15:04] sapegin commented on #317
Would you mind making an example as [described here](../blob/master/Issue_Template.md).

[2017-02-10 15:06] sapegin commented on #317
I see. `entry` will be ignored for `webpackConfigFile` as described in the docs. Use `webpackConfig` for that.

https://github.com/styleguidist/react-styleguidist/blob/next/docs/FAQ.md#how-to-add-custom-js-and-css

[2017-02-10 15:21] schneck commented on #317
Great, that solved the problem. I don't find this in the docs, however. Maybe it would be a good idea to add this particular issue in the paragraph you mentioned.

Anyway, thanks for this great tool and your support!

[2017-02-10 15:23] sapegin commented on #317
I’ve added a whole new page about webpack: https://github.com/styleguidist/react-styleguidist/blob/next/docs/Webpack.md

(Make sure you browse docs in the `next` branch.)

[2017-02-10 15:25] schneck commented on #317
Ah I see - sorry for the fuzz and thanks again.

[2017-02-10 15:25] #317 closed

[2017-02-13 05:47] #314 closed

[2017-02-13 12:23] sapegin opened #323 "Change webpack config options behavior in 5.0.0"
I’m still unsure about the current webpack configuration options in 5.0.0 (`next` branch):

1. It tries to find webpack config by recursively looking for `webpack.dev.config.js` or  `webpack.config.js`.

2. As soon as you have `webpackConfigFile` or `webpackConfig` in your style guide config it disable auto load and you have to use `webpackConfigFile` to specify you webpack config location.

Probl

[2017-02-13 13:23] okonet commented on #323
I agree on both points. 1st should act as close to webpack behavior as possible. Is there a chance to re-use this from webpack? Not sure they have this as a module but I believe that would be useful for many tools.

2nd: I think config lookup should be prevented only if `webpackConfigPath` is set.

[2017-02-13 13:27] sapegin commented on #323
They have agreed to accept a pull request with extraction this logic to a separate file (not package) but until we can drop webpack 1 support we’ll have to copypaste it.

In this case yes. You either specify a path or Styleguidist will try to use default location. So only `webpackConfig` should stop autoload.

[2017-02-13 13:50] kof commented on #323
I think the most streight forward version is to just let user always specify the webpackConfig, its also easy enough for the user to require it and pass it.

[2017-02-13 13:51] kof commented on #323
We are optimizing here for the case where sg can work without any config just after install, right? Is it realistic anyways?

[2017-02-13 13:59] sapegin commented on #323
The goal is to make it work with an existing webpack configuration. And to simplify initial configuration. To be able to run and show something useful with as little configuration as possible.

This make sense. Right now the only difference in merging behavior is that `webpackConfig` allow `entry` when `webpackConfigPath` doesn’t. Ability to easily add entries for extra files (like stylesheets) is

[2017-02-13 14:03] kof commented on #323
I think we have 3 logics for configuring which aimed to make the whole thing easier but potentially introduce to many options and at the end make it ambiguous. 1. Auto config finder 2. Path to a config option 3. config object. I personally would stick to one, its easier to document and understand the behavior.

[2017-02-13 14:04] kof commented on #323
I would reduce it to one property `webpackConfig` which can be  a string path to the config or an object.

[2017-02-13 14:12] n1313 commented on #323
I would propose going with the least config options as possible as first goal and having the least magic happening as the second goal.

So, to reduce the amount of magic search for `webpack.config.js` (the most common webpack config file name) only in the root folder (the most common location) and nowhere else.

And I was going to propose merging `webpackConfigFile` option with `webpackConfig` in

[2017-02-13 14:13] sapegin commented on #323
String doesn’t make any advantage over `require('./webpack.config.js')` in my opinion.

There are a few use cases that I don’t want to overcomplicate.

1. Overriding Styleguidist components:

[code]

2. Adding new entries:

[code]

So I’d like to have an easy ability to merge multiple configs. We’re using [webpack-merge](https://github.com/survivejs/webpack-merge) internally, so that would work fo

[2017-02-13 14:16] kof commented on #323
To me it was at least not obvious that `webpackConfig` option will be deeply merged with the `webpackConfigFile` option. Its convenient , but not obvious.

yeah

[2017-02-13 14:16] n1313 commented on #323
By the way, it's very non-obvious to me that `webpackConfig` will override the config loaded from `webpackConfigFile`. I look at this and wonder if the order in which these things are matters, and whether switching them around (`webpackConfig` first, `webpackConfigFile` second) will change the output.

[2017-02-13 14:18] okonet commented on #323
Well, initially I was proposing to have just one option instead of 2 as well. I think merge of config should should be explicit to remove magic. It is of course makes it harder for specific use cases but I still believe it's better.

I'd stick with auto lookup unless `webpackConfig` is defined. In this case it should be user's responsibility to require and merge their config.

[2017-02-13 14:20] sapegin commented on #323
OK, some intermediate conclusions:

1. We all agree that we want only one option: `webpackConfig`. No `webpackConfigFile` anymore.

2. No recursive auto load.

3. Auto load or user config. In the latter case user is responsible to require his config and pass it to `webpackConfig` option.

But we still have more questions:

1. Merging: responsibility of the user or allow to pass an array of config

[2017-02-13 14:22] kof commented on #323
Do u have any other choice considered point 1?

[2017-02-13 14:22] n1313 commented on #323
Ok, I'm lost, how is overriding going to work in this case?

[2017-02-13 14:23] okonet commented on #323
Webpack supports array and object out of box so the proposal to merge if it's an array is very ambiguous. If you want to merge configs why not include `webpack-merge` or your preferred method as a dependency? I think optimizing for advanced users will fail either way.

[2017-02-13 14:24] kof commented on #323
Yeah, I think its not a big deal to import a deep-merge function and do it in  the config. Its more code, but its explicit.

[2017-02-13 14:24] sapegin commented on #323
@okonet You mean webpack support it as a separate configs? This is a good point. So we’ll just suggest webpack-merge in example (we’ll need a lot of them).

So the only question is new entries.

[2017-02-13 14:24] n1313 commented on #323
We're talking about both webpacks, right?

[2017-02-13 14:26] sapegin commented on #323
@n1313 Yup. Are there any differences that we miss?

[2017-02-13 14:30] n1313 commented on #323
@sapegin nah, I'm just making sure that we're talking about the same thing, and webpack 1 is not being deprecated just yet.

[2017-02-13 14:31] sapegin commented on #323
Nooo, I’d be happy to but it’s too early.

[2017-02-13 14:32] n1313 commented on #298
@AoDev could you please take a look and check if my fix worked for you?

[2017-02-13 14:44] AoDev commented on #298
@n1313 Thanks! I'll check a bit later. On my side I made a [micro PR in react-docgen](https://github.com/reactjs/react-docgen/pull/156).

[2017-02-14 03:58] n1313 opened #324 "Code that I have to write in examples is different from "real" React code"
Code examples are very useful as a part of documentation. They allow the reader to see how the "theory" of a component is applied in practice, and are the most useful when they can be easily put into a real application. With react-styleguidist, this works quite well in many cases: you write your code exactly as it should be written and your reader can just copy-paste it into their app and get it w

[2017-02-14 10:20] sapegin commented on #324
I don’t know a good way to solve this. So far I use comments and define component classes inside examples:

[code]

![image 2017-02-14 at 11 20 32 am](https://cloud.githubusercontent.com/assets/70067/22925060/9de93110-f2a7-11e6-8876-438b9c620bd8.png)

[2017-02-14 10:27] okonet commented on #324
Yeah, that's annoying. Can we create a custom babel plugin that would strip off imports in examples if not needed?

[2017-02-14 10:31] sapegin commented on #324
There’s not Babel on frontend. And I think this behavior would be very confusing because for example you can use `require` in example and it will work.

[2017-02-14 13:14] okonet commented on #324
So, how is the rest of the code being transpiled to ES5?

Oh, probably I misunderstand the problem then. Why is `import` and `export` aren't working then?

[2017-02-14 13:16] sapegin commented on #324
With [Buble](http://buble.surge.sh). We can’t use Babel because it’s way too huge.

Because `require` is just a function that return a module, included in the bundle on the build step.

[2017-02-14 13:18] okonet commented on #324
Gotcha. Thanks for clarifying.

[2017-02-14 13:20] roychoo commented on #324
though it might not be the best way, and it might print relative path instead of the modules path that client is going to write.

https://github.com/nerdlabs/react-docgen-imports-handler

[2017-02-14 14:48] n1313 opened #325 "RSG puts components into global namespace"
All components that are loaded into the styleguide are put into the `global` namespace, so I think it is possible to accidentally overwrite properties of `window` with an unfortunately named component.

[2017-02-14 15:24] sapegin commented on #325
The good solution would be to extend code that we use for the `context` option. But it’d be tricky ;-)

[2017-02-14 19:11] AoDev commented on #298
@n1313 Is it possible to release a '5.0.0-beta.11' with the fix included? this way it would be easier to test. I have tried to install by using the next branch (`git://github.com/styleguidist/react-styleguidist.git#next`) but get an error. Maybe some other stuff related to the config have changed since then.

[code]

[2017-02-14 19:12] sapegin commented on #298
@AoDev It must be because Babel compilation is needed. I’ll try to make a new beta tomorrow.

[2017-02-14 19:14] AoDev commented on #298
@sapegin How would be the easiest way for me to pull the project and try it locally? if I were to clone the repo in the node-modules of my repo and generate the dist, would it work?

[2017-02-14 19:16] sapegin commented on #298
@AoDev Yeah, that would be the easiest way. Clone and then do `npm i && npm run compile`.

[2017-02-14 19:30] AoDev commented on #298
@sapegin @n1313  I just tried by pulling the repo and compiling like sapegin said. It compiled and your fix works. At least for the small `@see ` I had.

I don't know what is the expected output but currently it is stripped out from the documentation. I'd rather have them in unless you plan to render jsDocs tags in some way later.

Thanks you both and I'll wait for the new beta :)

[2017-02-14 19:33] sapegin commented on #298
Maybe we should add an config option to define renderers for unknown (to Styleguidist) tags. Not sure it‘s a good idea to render everything ;-) But it‘s better to open another issue to discuss it.

[2017-02-14 19:56] bluetidepro opened #326 "propTypes not showing unless defaultProps for Prop"
## My issue/problem:

It seems like `propTypes` Don't show up unless there is a `defaultProps` for that `prop`. **Is this intended? Is there a fix for this?**

## Details:

- Using `"webpack": "1.12.14"`
- Here is my `styleguide.config.js`:

[code]

- Here is a snippet of my component:

[code]

- And it outputs like this (screenshot):

![screen shot 2017-02-14 at 1 54 51 pm](https://cloud.githubus

[2017-02-14 19:59] bluetidepro commented on #326
Oh, and I just noticed it seems like descriptions are not being pulled in, either.

[2017-02-14 20:24] sapegin commented on #326
Looks like react-docgen doesn’t understand your `propTypes` so it catches your props only from `defaultProps` and shows only default values because of that.

Actually I don’t see any reason to use a function here (didn’t know that this is possible for classes — do they even work?). Could you try to use an object like in [this example](https://github.com/styleguidist/react-styleguidist/blob/next/do

[2017-02-14 21:30] bluetidepro commented on #326
Ahhh, that did it. Thanks @sapegin!

[2017-02-14 21:30] #326 closed

[2017-02-14 21:32] bluetidepro opened #327 ""Knobs" Coming/Feature Request?"
Are there any plans to add a way for `react-styleguidist` to have more interactive style "knobs" or form elements for the component's prop types. This is something I've seen on many other pattern library generators (*see examples below*), and I was mainly wondering if this is something that is being planned for `react-styleguidist`? Or is it something you'd be open to having if I looked into build

[2017-02-15 03:25] n1313 commented on #298
I was thinking of adding some support for `@see` tag to RSG, it could be useful for my project. @AoDev, could you please give me an example of how you are currently using this tag in your project? What values does it take and what purpose does it serve?

[2017-02-15 03:25] n1313 commented on #251
Should this be closed now, @sapegin?

[2017-02-15 07:41] sapegin commented on #251
Yeah. GitHub will close it automatically anyway as soon as commit will be in master ;-)

[2017-02-15 07:41] #251 closed

[2017-02-15 07:45] sapegin commented on #327
No plans yet but this is something that would be very cool ;-)

So any help if not with implementation but at least with some ideas / mockups / investigation how that should / could work in Styleguidist is greatly appreciated.

[2017-02-15 07:52] AoDev commented on #298
I have three kinds of value:
- url / link to some external website.
`@see http://some-website...`

- name of a function in the same module. (rare in the case of UI components)
`@see getLabel`

- name of another component in the framework.
[code]

[code]

[2017-02-15 07:54] sapegin commented on #298
@n1313 @AoDev Guys could we please close this issue and discuss a new feature in a new issue? 🌚

[2017-02-15 08:06] n1313 commented on #298
@AoDev Thanks! I'm closing this issue and will ping you when I'm ready to start on adding support for `@see`.

[2017-02-15 08:06] #298 closed

[2017-02-15 08:09] n1313 commented on #325
For historical purposes [here's](https://github.com/styleguidist/react-styleguidist/commit/d07e825e00720f71cf4aea348f1bb12b9dab58b2) my initial stab at this issue. It works but is a bit too dirty of a hack.

[2017-02-15 08:23] AoDev commented on #298
Not sure I would close the issue. Sure, the fix seems to work but it's not available to people yet. I'd rather close an issue when it's available. I have not tried in v4. Only v5 beta so I don't know if v4 was affected.

[2017-02-15 08:24] sapegin commented on #298
It’d 5.x only issue, we don’t use `to-ast` in 4.x.

[2017-02-15 08:26] AoDev commented on #298
Cool, thanks:)

[2017-02-15 09:31] sapegin commented on #323
So what should we do with adding new webpack entries? I can only think of a new config option like this:

[code]

[2017-02-15 09:47] okonet commented on #323
@sapegin why not solve both use cases via normal merge? I feel solving such edge cases will always fail since the next request will be "allow override x".

[code]

[2017-02-15 09:48] sapegin commented on #323
You can’t solve via merge because `entry` will be ignored (like some other fields and plugins), otherwise this option will be useless in 99% cases. And that’s exactly what we had in 4.x and it didn’t work.

[2017-02-16 08:48] sapegin opened #328 "Get rid of LoaderOptionsPlugin"
Some of the issues with [LoaderOptionsPlugin](https://webpack.js.org/plugins/loader-options-plugin/):

1. We have to merge our `LoaderOptionsPlugin` with possible `LoaderOptionsPlugin` in user’s webpack config.
2. I can cause hard to debug issues [like this](https://github.com/webpack-contrib/css-loader/issues/340).
3. It’s a temporary solution and might be removed from webpack eventually.

Right

[2017-02-16 10:00] sapegin commented on #328
Most probably custom plugin is the right way to go here. At least to solve the 1st use case.

[2017-02-16 10:50] sapegin commented on #328
Looks like this `minimize` doesn’t do anything in our case. With or without it I see minimized CSS in our bundles in production.

[2017-02-16 13:42] #328 closed

[2017-02-17 08:52] sapegin commented on #211
Closing this for now. Feel free to reopen if you still have this issue.

[2017-02-17 08:52] #211 closed

[2017-02-17 08:52] sapegin commented on #284
Closing this for now. Feel free to reopen if you still have this issue.

[2017-02-17 08:52] #284 closed

[2017-02-17 08:57] sapegin commented on #313
Should be fixed in react-styleguidist@5.0.0-beta.11.

[2017-02-17 08:57] sapegin commented on #312
Should be fixed in react-styleguidist@5.0.0-beta.11.

[2017-02-17 09:24] n1313 commented on #313
And it is.

[2017-02-17 09:24] #313 closed

[2017-02-17 14:00] alampros commented on #327
This is a super exciting idea. I *just* started playing with styleguidist yesterday, but my (very uninformed) strategy would be to rely on a common styleguide state object:

- Add `react-redux` to the project and wrap the whole styleguide in a store provider
- Modify `<Props>` and supply a component to handle each of the prop types. The values of each would be tied to `styleguide[componentId][prop

[2017-02-17 14:05] sapegin commented on #327
@alampros I‘m not sure why you need Redux for that ;-) Implementation is the simplest question for this feature — UI is much harder question.

[2017-02-17 14:35] okonet commented on #327
Yeah, also not sure why you need redux for that... 🤔

I'm wondering if it can be done in a way that https://github.com/storybooks/storybook-addon-knobs can be reused.

[2017-02-17 14:48] sapegin commented on #327
Not sure we could reuse it — it looks very tied to Storybook but we definitely can learn from it.

[2017-02-17 14:49] sapegin commented on #327
I’d be very to cool to have plugins in Styleguidist but I have no idea how we could implement them.

[2017-02-17 15:04] sapegin commented on #296
I can’t reproduce this in 5.x beta. So it’s either already fixed there or I’m doing something wrong. So closing this for now.

[2017-02-17 15:04] #296 closed

[2017-02-17 17:19] alampros commented on #327
@sapegin totally fair point. It was the hammer I had in my hand at the time. heh

This seems like a straightforward map of `propType` => input component, no? Add a column to the Props table with cell renderers mapped from propType:

[code]

[2017-02-17 18:01] sapegin commented on #327
In vacuum — yes ;-) But we need to add them to existing Styleguidist UI. It‘d make UI uglier if we show them by default. Also there‘s s an issue with checkboxes for example: it has two states but actually there’s three: checked, unchecked and the value defined in Markdown file for a particular example. How that should work?

[2017-02-17 19:04] alampros commented on #327
Perhaps treat it like the `context` configuration option, where an object is made available to each example with the current state of the `Props`. However, that would mean that each markdown example would have to opt-in to using the controlled props.

[2017-02-17 19:06] sapegin commented on #327
That won’t work ;-)

[2017-02-17 19:22] sapegin commented on #327
Another implementation in BlueKit: http://bluekit.blueberry.io/demo

[2017-02-17 23:55] okonet commented on #327
I really like how Carte Blanche is doing it — they not only have custom UI and custom value generators, but they actually update the source code of the examples on state change so you can commit it to the repo.

[2017-02-20 07:41] n1313 opened #331 "Are private (or protected, or hidden) props possible?"
In some cases a component might have a prop that should not be accessed by the user. It could be useful to hide this prop from the documentation or mark it in some other way.

An example of this would be a container component that is wrapped in Redux `connect()` with props that are managed by react-redux. I have a number of props that must be declared on the component for action dispatch to work a

[2017-02-20 07:58] sapegin commented on #331
How about [`@ignore` JSDoc tag](http://usejsdoc.org/tags-ignore.html)?

/cc @kof

[2017-02-20 09:55] kof commented on #331
@sapegin `@ignore` sounds exactly right! Just tried, we currently render it as text in description field, I assume rs needs to handle this prop?

[2017-02-20 09:56] sapegin commented on #331
@kof Yup! ;-)

[2017-02-21 15:38] Knorcedger opened #333 "Render a Section in Isolated mode"
Hello,

I noticed that while it is possible to open a Component in Isolated mode, that's not possible for a Section.

With a slight modification in index.js to provide a single Section and no Components for `ReactDOM.render` I was able to render just a Section.

I believe that this feature should have the same arrow that someone can see in each component to open in Isolated mode and a specific url

[2017-02-21 15:39] okonet commented on #333
I can't see a use case for that, to be honest. What's your use case?

[2017-02-21 15:51] Knorcedger commented on #333
@okonet
We are building a huge styleguide that will feature lots of components organised in different Sections. The styleguide will be a tool for colleagues of different backgrounds (lot's of them non-technical) that will be able to see and select the components they want to use in order to display the data they want to present to clients. Based on their needs, we want to guide them to a specific

[2017-02-21 15:54] sapegin commented on #333
I think we need to improve routing than hacking a feature for developers ;-)

Show only the first section by default and and make links in the sidebar open sections in isolated mode.

[2017-02-21 16:43] Knorcedger commented on #333
@sapegin
If I understand correctly you are suggesting a proper routing system that can display both components and sections in Isolated mode and maybe have even more features, right?

If that's the plan, I think I will create a fork for our needs for now, as I described in my initial comment, and will move back to the original styleguidist once the routing is implemented :)

[2017-02-21 16:50] sapegin commented on #333
It’s not a plan you but something that would be nice to have. So any help is very appreciated ;-)

Would you mind sending a pull request with your changes?

[2017-02-21 16:51] Knorcedger commented on #333
@sapegin Sure, I will work on this the next few days and will create the Pull Request :)

[2017-02-23 08:53] okonet commented on #333
+1 for a better routing system. I think https://github.com/router5/router5 is worth looking at.

As for me, I still don't see a lot of value to render sections isolated. What I can imagine though is an introduction of "pages" that could be rendered separately (== isolated) using the better routing system. Each page could consist of "sections".

[2017-02-23 09:24] sapegin commented on #333
Actually I have a use case for isolated sections: I have a UI guidelines page with complex examples of different UI patterns composed of many components. So I spend a lot of time writing examples on this page and it would be nice to have just this page in a browser and not the whole style guide.

[2017-02-23 19:52] daniloprates commented on #217
I'm having an issue importing a SCSS file, your solution might help.

[2017-02-24 09:30] kof opened #334 "Define a separate attribute for accessing user rendered components"
Right now class names are misused for that purpose.  The reasoning is - classes used internally for styling should be a private implementation detail of sg, they shouldn't be used at the same time for accessing containers for [visual testing](https://github.com/styleguidist/react-styleguidist/issues/238). It makes a false assumption for a user that he should override styles using class names.  It

[2017-02-24 10:59] VP42 opened #335 "Cannot make it work with i18n HoC"
I try to use react-styleguidist with some components that are using react-i18n to get translated.

Unfortunately, there seems to be a problem in my `example.component.md` file as I always get an `TypeError: Cannot read property 'getFixedT' of undefined` error.

Anyone already faced a similar issue?

Thanks a lot!

[2017-02-24 11:04] sapegin commented on #335
Have you tried [this solution](https://github.com/styleguidist/react-styleguidist/blob/master/docs/FAQ.md#how-to-change-the-layout-of-a-style-guide)?

[2017-02-24 11:59] VP42 commented on #335
Awesome! Sorry I missed that and thanks again :)

[2017-02-24 11:59] #335 closed

[2017-02-24 16:45] danrot opened #336 "Use in combination with lerna"
Hey, I am trying to use this project in combination with [lerna](https://lernajs.io/). I have created a `packages` folder with a component, and added the following `styleguide.config.js` configuration:

[code]

I have webpack 2.2.1 installed, and when I execute `yarn run styleguide-server` I get the following errors:

[code]

Has this guide already been tested in combination with lerna? Is it poss

[2017-02-24 16:47] sapegin commented on #336
I don’t think it’s lerna specific. Could you please try [5.x beta](https://github.com/styleguidist/react-styleguidist/releases/tag/5.0.0%40beta.9)?

[2017-02-24 16:53] danrot commented on #336
After adapting the configuration I get a similar error:

[code]

[2017-02-24 16:55] sapegin commented on #336
It’s definitely *not similar*. Would you mind making an example as [described here](../blob/master/Issue_Template.md)?

[2017-02-24 16:56] sapegin commented on #336
It looks like you’re trying to load component from `node_modules`.

[2017-02-24 17:00] danrot commented on #336
Ah, I have found something. In the lerna structure I can't use `./packages/**/*.js`, when I am changing it to `./packages/*/index.js` (which matches my folder structure) it is working...

So I am closing this, since it is not a real issue, but it could be explained better at some place...

[2017-02-24 17:00] #336 closed

[2017-02-24 17:04] sapegin commented on #336
Please feel free to improve docs, they are far from perfect 🙏

[2017-02-28 12:35] binjospookie opened #338 "Wrong class"
## styleguide.config.js

[code]
## Webpack version:
2.2.1

### Expected behaviour
Set right class like this:
![image](https://cloud.githubusercontent.com/assets/8722478/23405414/2a8efb12-fdcb-11e6-9bd8-9672d9402586.png)

### Actual behavior
![image](https://cloud.githubusercontent.com/assets/8722478/23405451/502fba5a-fdcb-11e6-9812-3d6427790c3f.png)

[2017-02-28 12:42] okonet commented on #338
`importLoaders: true,` should be `importLoaders: 1,`. Please refer to the PostCSS loader documentation.

[2017-02-28 12:42] #338 closed

[2017-02-28 12:44] okonet commented on #338
I also can't recognize `fallback` option for css-loader. You probably copy-pasted it from `ExtractTextPlugin` usage?

[2017-02-28 12:45] binjospookie commented on #338
I change `importLoaders: true` to `importLoaders: 1` and nothing changed. In my `webpack.config.js` all works (with `importLoaders: true`)

[2017-02-28 12:56] okonet commented on #338
I don't know why it works in your project, but the provided config isn't correct. Also I see that you're doing `push` to the array of loaders. Please try run styleguidist with `--verbose` argument and paste the full webpack config it is using in your case. I guess that there is another loader acting for your CSS files without `modules` enabled.

[2017-02-28 13:24] binjospookie commented on #338
[code]
I see this

[2017-02-28 13:46] sapegin commented on #338
Please make an example as [described here](../blob/master/Issue_Template.md), CSS Modules works fine with Styleguidist, so it must be something with your config but I don’t see anything except pointed by @okonet.

[2017-02-28 14:15] binjospookie commented on #338
I change my css-loader to
[code]
and all works perfectly! Thanks, @okonet

[2017-02-28 15:08] okonet commented on #338
`modules: 1,` should be `modules: true`

[2017-02-28 15:11] binjospookie commented on #338
Yes, sure.

[2017-02-28 19:13] sapegin commented on #327
I’m looking again how other tools do this and looks like we’re overcomplicate things here. All three (Attelier, Bluekit and Storybook Knobs) allows changing props only for one example, not for all examples of a component. So we could probably do it like in Storybook Knobs, as a tab under an example (where the editor is).

Which leads as to another thing: we can make a simple plugins API. Plugins w

[2017-03-01 06:44] okonet commented on #327
That is awesome! It would be great to have such a plugin system!

[2017-03-01 07:25] cef62 commented on #327
Yes @sapegin that plugin system is on top of my todo list since xmas but until April my work commitments are taking all my available time.
I've some rough idea on how that system could be implemented, I'll share those as soon as possible (April). If in the meantime someone else want to start working on the plugin system I'll be happy to add my contribute.

@okonet yes that is definitely something

[2017-03-02 03:43] n1313 opened #339 "Hiding heading anchors breaks sidebar navigation"
I don't like the way new heading anchors look like so I have hidden them by modifying `styles` in the config:

[code]

and now the sidebar navigation is broken (because it expects the anchors to be present and visible on the page.

/cc @okonet

[2017-03-02 05:03] n1313 opened #340 "No information about new beta releases: hard to debug"
There is no publicly available information about when new beta releases are published on npm and what changes are in them (or at least I couldn't find it). The version field in package.json is not updated, so there are no release commits. There are no git tags after beta 9.

My current problem: something that happened in beta 12 breaks my phantomjs tests (the screenshots are off position, this wor

[2017-03-02 05:53] okonet commented on #339
Can you elaborate on what is broken and how it expects it to be present?

[2017-03-02 06:23] n1313 commented on #339
Anchor navigation works by scrolling the viewport to the location of the referenced element. If the referenced element is not displayed on the page (because it has display: none) then its location is not defined and there is nowhere to scroll to. Thus, hiding the anchor elements breaks the sidebar navigation: clicking on the menu items does nothing because there is no element to scroll to.

[2017-03-02 06:32] okonet commented on #339
Makes sense. We should move `id` to the header or section element to fix this. Mind doing this?

[2017-03-02 08:33] sapegin commented on #340
Yup, that’s my mistake, sorry ;-| I think 468cf75 and c095643 were the only changes.

[2017-03-02 11:16] okonet commented on #340
Can you setup semantic release for the beta probably?

[2017-03-02 14:45] n1313 commented on #339
Ok, no problem. By the way, the anchors themselves don't look too good on narrow screens, they are a little bit off-screen, but I'm not going to fix that since I don't know what would be a good solution.

[2017-03-02 14:56] sapegin commented on #339
Also position is a bit strange on my style guide. Haven’t have time to investigate why:

![image 2017-03-02 at 3 55 18 pm](https://cloud.githubusercontent.com/assets/70067/23512412/ca2f2836-ff60-11e6-882d-55198123f21e.png)

[2017-03-02 15:19] okonet opened #341 "Use custom build of the highlight.js to reduce its bundle size"
According to https://twitter.com/samccone/status/837173944293568512 providing only needed languages to highlight.js can reduce its bundle size significantly. Seems like a low hanging fruit to optimize since SG should only support JS/JSX.

<img width="679" alt="2017-03-02 at 16 16" src="https://cloud.githubusercontent.com/assets/11071/23513307/d57403f8-ff63-11e6-9604-6d90f04062e0.png">

[2017-03-02 15:32] sapegin commented on #341
We don’t have highlight.js in the bundle, it’s all server side ;-)

[2017-03-02 15:32] #341 closed

[2017-03-02 15:33] sapegin commented on #341
And actually it should support any language you define for fenced code block. At least HTML, for example.

[2017-03-02 16:01] okonet commented on #341
Server-side? Can you elaborate please?

[2017-03-02 16:03] sapegin commented on #341
We send HTML from webpack loader, so we don’t have highlight.js on the frontend.

[2017-03-02 16:16] okonet commented on #339
We could move anchors to the end of the headings — `Button #`. Right now they are positioned absolutely.

@sapegin this is "by design" — tried to align them to the baseline but it seems a bit off in your case indeed.

[2017-03-02 16:18] sapegin commented on #339
Probably because we use corporate font in style guide.

[2017-03-05 12:23] mohamedelzanaty commented on #282
I think if you make [--- path.resolve('app/components')  ---] path.resolve(__dirname, 'app/components')

it will work bcoz it work for me

[2017-03-09 02:58] n1313 commented on #334
@kof can this be closed?

[2017-03-09 02:59] n1313 commented on #197
Fixed in v5

[2017-03-09 02:59] #197 closed

[2017-03-09 08:01] kumarabhishek opened #346 "Add gzip compression option for webpack2 dev-server"
Add compress option for webpack2 dev server as part of react-styleguidist config.
Refer https://webpack.js.org/configuration/dev-server/#devserver-compress for details

[2017-03-09 08:14] okonet commented on #346
Why would you need the compression for dev mode? At the same time I can see how compression can be beneficial for the production env though. Please feel free to create a PR that adds it in production only.

[2017-03-09 08:37] sapegin commented on #346
@okonet He means gzip for dev-server, not bundle minification.

I don’t know how useful gzip is for development ;-) Probably won’t harm anyway so feel free to send a pull request.

[2017-03-09 09:59] kof commented on #334
We can remove the custom generateClassName now, right? https://github.com/styleguidist/react-styleguidist/blob/next/src/styles/setupjss.js#L9

[2017-03-09 10:00] sapegin commented on #334
@kof Yeah, I think so. Will be happy to merge a PR ;-)

[2017-03-09 20:50] #245 closed

[2017-03-09 20:50] #312 closed

[2017-03-09 21:24] sapegin commented on #323
Out in [5.0.0-beta.15](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.0.0-beta.15).

[2017-03-09 21:24] #323 closed

[2017-03-09 21:25] #208 closed

[2017-03-09 21:25] #259 closed

[2017-03-09 21:27] sapegin commented on #340
[Better](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.0.0-beta.15)? ;-)

Far from perfect but better than nothing. With semantic-release it‘s not easy as I understand.

[2017-03-09 21:27] #340 closed

[2017-03-10 03:31] n1313 opened #348 "Excessive number of class names on <code> elements"
I see an excessive number of class names on my `<code>` elements in beta15.

This markdown:

![capture](https://cloud.githubusercontent.com/assets/632081/23780926/c177d5ba-0584-11e7-894e-9f664e9bd98c.PNG)

generates this HTML in beta15:

![capture2](https://cloud.githubusercontent.com/assets/632081/23780928/c87b4054-0584-11e7-9bc4-397f2585a6dd.PNG)

and in beta14:

![capture3](https://cloud.github

[2017-03-10 05:06] n1313 opened #349 "PhantomJS fails to run bundle.js in beta15"
This example https://github.com/ariya/phantomjs/blob/master/examples/rasterize.js when run against a documentation that is generated by beta15 produces a screenshot of a blank template page, and produces a correct screenshot of rendered documentation if it is generated by beta14. I don't see any errors in the output (I've added a `page.onConsoleMessage` handler and I see my test console.log call).

[2017-03-10 06:42] n1313 commented on #349
This can be reproduced in the rsg repo:

1. checkout the pre-beta15 code
2. npm i, npm run compile, npm start
3. `$ phantomjs rasterize.js http://localhost:6060/ output.png`
=> good screenshot

1. checkout latest code from `next`
2. npm i, npm run compile, npm start
3. `$ phantomjs rasterize.js http://localhost:6060/ output.png`
=> empty page

By repeating this for every commit in beta15 I have fo

[2017-03-10 07:47] sapegin commented on #349
Maybe markdown-to-jsx itself has something that doesn’t work in PhantomJS. This kind of regressions are very annoying. Do you have any ideas how we can test that?

[2017-03-10 07:49] sapegin commented on #348
wow such markdown much css

[2017-03-10 07:51] sapegin commented on #349
Or maybe it’s [includes](https://github.com/styleguidist/react-styleguidist/commit/6683aa420b03fc3508cdef922fbc0bb3e5a014d7#diff-96aada9841909adde39d26f026ac7889R12)?

[2017-03-10 07:56] sapegin commented on #349
What do you think about [eslint-plugin-compat](https://github.com/amilajack/eslint-plugin-compat)?

[2017-03-10 08:24] n1313 commented on #349
Sorry, I have no clue.

If you want to test compatibility with phantomjs, then you could take screenshots of the docs as a part of the test suite and compare them to a previous state (with backstopjs, for example).

[2017-03-10 08:24] sapegin commented on #349
Sounds complicated ;-/ though we already try to run builds with PhantomJS to check if they work.

[2017-03-10 08:37] n1313 commented on #349
If you're talking about the tests/phantoms.js then as far as I understand it doesn't really check much except for making a successful http request to localhost.

Sent from my iPhone

[2017-03-10 08:39] sapegin commented on #349
It will fail in case of JS error but that’s all it can ;-|

[2017-03-10 10:23] n1313 commented on #349
Well, it _is_ possible to make a better test for phantomjs compatibility, the question is -- is this needed? How big is this a priority for the project?

Sent from my iPhone

[2017-03-10 10:24] sapegin commented on #349
At least to reduce number of bug reports from you ;-)

[2017-03-10 14:21] sapegin commented on #349
OK eslint-plugin-compat is nice to have but it only found `fetch` in one of examples ;-£

[2017-03-10 14:24] sapegin commented on #349
I’ve even tried to add something like `Chrome 11` to `browserslist` ;-?

[2017-03-11 09:45] sapegin commented on #348
I’ve sent a pull request to markdown-to-jsx: https://github.com/probablyup/markdown-to-jsx/pull/96

[2017-03-11 09:57] sapegin commented on #349
Nope, it’s not `includes`, then maybe something in the markdown-to-jsx…

[2017-03-11 10:08] sapegin commented on #349
Yup, it was `includes` ;-?

[2017-03-11 10:09] #349 closed

[2017-03-11 10:15] #334 closed

[2017-03-11 10:26] sapegin commented on #289
`objectOf` is supported in 5.x beta. Closing this for now. Feel free to reopen with more details.

[2017-03-11 10:26] #289 closed

[2017-03-11 12:49] sapegin commented on #282
Sorry, I didn’t have time to check it. Do you still have this issue? Could you please try in the [latest beta](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.0.0-beta.15)? It has some changes in webpack configuration.

[2017-03-13 02:15] n1313 commented on #348
Thanks!

[2017-03-13 02:33] n1313 commented on #349
I'm afraid phantom-js has its own set of ideas of things worthy of support, and does not match any other "real" browser. I have found it to behave closer to an IE10 or something like that, to be honest.

Thanks for the fix!

[2017-03-13 03:06] n1313 opened #350 "Recursive rendering of nested props"
Sometimes, the components may have a complicated prop structure. For example, you may have a set of simple components (like Button, Textfield, and Checkbox) that are combined into a bigger, more complicated component (like LoginForm), and you'd like to keep its internals opaque. This approach often leads to properties of the "internal" components being "lifted" into the parent component, and may r

[2017-03-13 07:58] sapegin commented on #350
Do you have any good examples?

I think if we’re going to implement it we should find the simplest possible way to do it. For example I don't think an option to define maximum level would be useful ;-) we should probably just render one or two levels. But we should collect more real world examples first.

[2017-03-13 09:25] n1313 commented on #350
I don't have any examples for nested properties in technical documentation. We could take something like comment threads on Reddit or a similar website as an example of displaying infinitely nested data.

And I think that if we are going to implement recursive rendering with depth restriction then making this depth configurable will come at almost no cost. And if we get the default depth limit wro

[2017-03-13 09:29] sapegin commented on #350
I mean examples of components ;-)

I don’t think so — it very quickly will be unredable.

[2017-03-13 09:50] n1313 commented on #350
Not sure I understand. If someone has -- for some reason -- a project with a 10-level deep tree of properties, and wants to display all 10 levels of them, then why should RSG interfere with that and decide how many of them it is okay to display? RSG is not a code style police, is it?

[2017-03-13 09:54] sapegin commented on #350
Do you remember LiveJournal? They allow to nest comments infinitely. I don’t want to provide an option to switch UI to a terrible mode if we can avoid it ;-)

[2017-03-13 09:55] sapegin commented on #350
Anyway it’s to early to discuss it.

[2017-03-13 09:59] n1313 commented on #350
I'm lost. Why is it too early to discuss it?

[2017-03-13 10:00] sapegin commented on #350
Because we don’t know what we should do: how important this issue is, what are the real world use cases, etc.

[2017-03-14 04:53] chrisdrackett opened #352 "support Environment Variables"
Trying to use `REACT_APP_*` as described here: https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-custom-environment-variables and I can't seem to get them to work in the style guide. Any work arounds you know about?

[2017-03-14 07:37] sapegin commented on #352
Which version of Styleguidist are you using? 4.x or 5.0.0 beta? I don’t have much experience with CRA so a [demo project](../blob/master/Issue_Template.md) would be very helpful to debug.

[2017-03-15 09:04] okonet opened #354 "[discussion] Extensions API"
We might want to take a look at https://github.com/camwest/react-slot-fill for allowing extensions for SG.

[2017-03-15 09:22] sapegin commented on #354
We were talking about Storybook like plugins that would add tabs under examples. But this also can be useful.

[2017-03-15 09:24] okonet commented on #354
Yeah, I actually don't like how storybook does it since it's very restrictive. This one should theoretically allow writing custom visualizers for the components and create custom controlled components (like knobs?). We should try it out and see if it works well for us.

[2017-03-15 09:27] sapegin commented on #354
I think for knobs Storybook-style is quite good and enough. Why do you think it won’t work well?

[2017-03-15 09:29] okonet commented on #354
My concern is more UI-wise: storybook only allow you to extend by creating tabs _around_ the content there we are interested in creating extension _inside_ of the content.

[2017-03-15 09:29] sapegin commented on #354
Could you make some mockup of your ideas? That would really help ;-)

[2017-03-15 09:30] okonet commented on #354
I could when I get some more time :(

[2017-03-15 12:34] pke opened #355 "Add auto-completion to code editor"
Since styleguidist already knows about a components props would it be hard to integrate a code-completion/suggestion feature to the example HTML editor? I mean if there is a pluggable solution out there.

[2017-03-15 13:02] sapegin commented on #355
I think I’ve seen some auto completion implementation for CodeMirror but not sure it’d be easy to implement for our use case. Anyway feel free to experiment — sounds like a nice feature if it won’t make code more complicated ;-)

[2017-03-15 13:22] sapegin commented on #348
Out in [5.0.0-rc.1](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.0.0-rc.1).

[2017-03-15 13:22] #348 closed

[2017-03-15 13:22] sapegin commented on #349
Out in [5.0.0-rc.1](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.0.0-rc.1).

[2017-03-16 12:19] sjy opened #356 "webpack render error with latest rc version"
![image](https://cloud.githubusercontent.com/assets/1523060/23995512/df99ddf4-0a84-11e7-9f83-7082ab47f07f.png)

I get the error message when the command
[code]

I have installed the latest rc version
[code]
I failed to open the guide page served by the webpack-dev-server;
Any clues ?

[2017-03-16 12:43] sapegin commented on #356
Looks like it can’t find a name of your component.

1. Did it work before? This place was changes several 5.x betas before.
2. Could you show your style guide config?
3. Try to limit `components` option to one component and see it happens to all your components or just one of them. In any case component’s source would be helpful.

[2017-03-16 15:41] sjy commented on #356
1.yes, my code works before I re-installed the dependencies;

2.here is my configure file;
[code]

3 I found out the cause is I customied the style by add alias rules to webpack.

Thanks for your help

[2017-03-16 15:43] kohlmannj opened #357 "5.0.0-rc.1 (or earlier): need Webpack config `externals` support"
## The Problem
In short, losing support for `externals` in the Webpack config passed to Styleguidist is a blocker, and would potentially keep our internal style guide dependent on rsg `v5.0.0-beta.13`.

At least one of our components depends on a library which:
- We can't directly install via NPM or subsequently bundle with Webpack
- Expects to be loaded onto a page either via a `<script>` tag or

[2017-03-16 15:50] sapegin commented on #356
It is a recommended way but there’s no easy way to make it stable. If we change something in Styleguidist components, you may need to update your customizations.

[2017-03-16 15:53] sapegin commented on #357
You can still use `updateWebpackConfig` option — it has no restrictions. It’s marked as deprecated because we want to know all use cases where other options are not enough and encourage users to migrate to new options.

[2017-03-16 15:53] sjy commented on #356
Thank again 😄  you are pretty helpful 👍 I would follow the official examples and report an issue if I find anything doesn't make sense.

[2017-03-16 15:54] sapegin commented on #357
We may rename it to `dangerouslyUpdateWebpackConfig` and remove deprecation message 💀

[2017-03-16 15:55] kohlmannj commented on #357
@sapegin I see…turns out I had migrated away from `updateWebpackConfig` in that very spirit! If this is the only envisioned mechanism by which `externals` would work in the future, I'd appreciate `dangerously` over deprecation.

[2017-03-16 15:55] sapegin commented on #356
Awesome! Could we close this issue or you still have some questions? ;-)

[2017-03-16 15:57] sapegin commented on #357
I think removing `externals` by default is the desired behavior in the most use cases. But I may be wrong ;-)

[2017-03-16 15:59] kohlmannj commented on #357
@sapegin Yup, I agree! My main concern is that there's a way to do this at all, long-term. Again, that seems to be a 👎🏼 on entirely deprecating `updateWebpackConfig`.

[2017-03-16 15:59] sjy commented on #356
Let it open right now, I am still facing the issue even remove the customized stuff.

[2017-03-16 16:03] sapegin commented on #357
Let’s keep this issue open — I may do it before final release ;-)

[2017-03-16 16:56] sjy commented on #356
Please close this issue. It is due to one of my example.md with empty content wrapped in "``"

[code]
      <empty content>
[code]

[2017-03-16 17:40] sapegin commented on #356
This looks like a bug but I can’t reproduce it.

[2017-03-16 18:28] dlim-dlim commented on #143
Glad to see this thread. What is the current recommended solution to render an @connect() (redux connected) component?

When I view this component in the styleguide, I'm seeing this error:

'Invariant Violation: Could not find "store" in either the context or props of "Connect(Footer)". Either wrap the root component in a <Provider>, or explicitly pass "store" as a prop to "Connect(Footer)".'

[2017-03-16 18:52] sapegin commented on #143
Could anyone update [the cookbook](https://github.com/styleguidist/react-styleguidist/blob/next/docs/Cookbook.md)? I’m afraid I don’t have a good example.

[2017-03-16 19:08] dlim-dlim opened #358 "Could not find "store" in either the context or props & @connect() (redux connected) component"
Hi,

Just wanted to see if there is a current solution to render "store" in an @connect() (redux connected) component in the styleguide?

When I view the styleguide, I'm seeing this error:
```Invariant Violation: Could not find "store" in either the context or props of "Connect(Footer)". Either wrap the root component in a <Provider>, or explicitly pass "store" as a prop to "Connect(Footer)".```

[2017-03-16 20:41] imathews opened #359 "Error parsing objects in example markdown"
First of all, thank you for this wonderful tool; it's really helped our component development process.

I'm running into an issue where colons in my readme.md are tripping up the parser:

![screen shot 2017-03-16 at 1 34 22 pm](https://cloud.githubusercontent.com/assets/5659375/24017451/5306174a-0a4d-11e7-8223-75e1879b9322.png)

This works as expected when I populate the object using non-colon syn

[2017-03-16 21:51] chrisdrackett commented on #352
I'm on 5.0 beta. I'll look into doing a demo project

[2017-03-17 02:16] n1313 commented on #358
Does adding a prop named `store` to propTypes work?

[2017-03-17 02:19] n1313 commented on #359
I've seen this behavior when missing a semicolon on a statement that directly precedes some JSX breaks the example, too.

[2017-03-17 02:29] roychoo commented on #358
you can actually wrap the connect component directly in the readme examples.
i had not tried but along this lines should be possible
[code]

[2017-03-17 07:54] sapegin commented on #359
The first snippet:

[code]

I think @kof has this issue before but we couldn’t find a way to fix it. This is something weird.

The second snippet:

[code]

Looks like this is correct behavior. Both [Buble](https://buble.surge.sh/#const%20a%20%3D%2042%0A%3CFoo%20a%3D%7Ba%7D%3E%3C%2FFoo%3E) and [Babel](https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015%2Creact%2Cstage

[2017-03-17 10:35] sapegin commented on #354
Have watched a [ReactConf talk](https://youtu.be/395ou6k6C6k?list=PLb0IAmt7-GS3fZ46IGFirdqKTIxlws7e0) about it and this is amazing! But looks like it only works with Fiber. Not sure they will / can support React 15.

[2017-03-17 15:12] sapegin commented on #354
What do we want to extend by the way?

1. Tabs under the component playground (Storybook like) seems useful: non-editable code, snapshots, knobs…
2. Access to style guide config.

What else?

[2017-03-17 16:56] imathews commented on #359
Thanks @sapegin. Second snippet is no big deal, more of an FYI for others. The first snippet is definitely a pain for us; is there anything I can do / provide to help to better debug?

[2017-03-17 18:37] sapegin commented on #359
The problem with the first snippet is that I can’t reproduce the error:

![](http://wow.sapegin.me/3z1D081m1f2U/Image%202017-03-17%20at%207.36.04%20PM.png)

If could make a demo as [described here](../blob/master/Issue_Template.md) that would be awesome.

[2017-03-17 20:27] imathews commented on #359
I went ahead and forked the repo and tried to reproduce in the basic example, and I can't for the life of me get it to reproduce the error... even after making my webpack and styleguide configs identical, and installing the same dependencies... (obviously missing something, but I tried).

_However_, I have been able to isolate this error in my own project; the issue boiled down to the webpack.conf

[2017-03-18 16:51] sapegin commented on #359
Looks like you have different versions of Buble in you dependencies. What `npm list buble` says?

[2017-03-18 19:24] imathews commented on #359
[code]

Which is the same result that I get when running `npm list buble` in my fork of react-styleguidist/examples/basic, which is working fine...

[2017-03-19 08:23] sapegin commented on #359
Do you have anything in `ls -a node_modules/buble/node_modules`? My only guess that one of dependencies of your project has older version of one one of Buble’s dependencies, and when you modify module resolution in your webpack config Buble receives this older version from the root `node_modules` instead of `node_modules/buble/node_modules`.

[2017-03-19 10:28] inferusvv opened #360 "How to use external libraries in README.MD examples?"
I have my own component and external inside (Recharts in this example)

In project I write:

`import { LineChart, Line } from 'recharts';`

How to add this import to README.MD file? I am getting `ReferenceError: LineChart is not defined`.
I've tried to add library as entry point, but it doesn't work and I still getting `ReferenceError`

[2017-03-19 21:12] imathews commented on #359
Yup that was it — specifically an old version of `acorn` was required by `jade@1.11.0` and was installed at the top of `node_modules`. Jade was an old dependency that we weren't even using, so that was a quick fix, though I would've expected npm to handle this properly...

[2017-03-20 02:16] n1313 commented on #359
Impressive!

[2017-03-20 02:20] n1313 commented on #360
Try adding recharts to your styleguidist config: https://github.com/styleguidist/react-styleguidist/blob/next/docs/Configuration.md#require

[2017-03-20 16:49] dlim-dlim commented on #358
thanks @n1313 @roychoo. I tried those options and think I'm running into an issue with my webpack setup for the styleguide that is causing the store to not render properly so going to do some debugging there. I find it gets tricky to find some pairity between the webpack setup of your app vs. the webpack config for styleguidist. If I discover anything outside of the webpack issue that benefits thi

[2017-03-21 05:07] n1313 commented on #350
The real world use case is in my current project: a configuration object for a complex data table. The object is like this:

[code]

[2017-03-22 15:15] sapegin commented on #359
npm handles this when you don’t override the default behavior in webpack config ;-)

[2017-03-22 15:15] #359 closed

[2017-03-22 22:41] dlim-dlim commented on #358
Updating the Readme.md file to require the unconnected component worked:

[code]

Beyond that also added this line to my styleguide.config.js to resolve an issue with generators from Redux Saga:
webpackConfig.entry.unshift('babel-polyfill');

[2017-03-22 22:41] #358 closed

[2017-03-23 08:14] KatGr commented on #350
Hi all,

I am trying to document a project at work using styleguidist but I found a problem which seems to fit  in here. The problem occurs when I am trying to render a tree.  In fact, I have different tree Items in which everyone can have another treeItem as a prop but it only shows the first "layer" of tree Items.

It would look something like this:

[code]

This example only shows Item1 and Ite

[2017-03-24 02:10] n1313 commented on #350
@KatGr we are talking about rendering *props* of the elements, not elements themselves. I don't think your problem is related to this discussion (and it looks like your <TreeItem> doesn't render their children the way <Tree> does).

[2017-03-27 07:50] sapegin commented on #356
Closing this for now. Feel free to reopen with more details.

[2017-03-27 07:50] #356 closed

[2017-03-27 07:54] sapegin commented on #360
Closing this for now. Feel free to reopen if you have more questions.

[2017-03-27 07:54] #360 closed

[2017-03-28 10:40] davidbucka opened #362 "Getting Error on Run, beta 5.0.0"
Getting
[code]
while running the beta version:
https://github.com/styleguidist/react-styleguidist/tree/next

webpack Verson: 2.2.1

[code]

[2017-03-28 11:55] sapegin commented on #362
I’ve fixed that yesterday and will make a release soon ;-)

Most probably you have an error in terminal that says that one of your JS files doesn’t export a component.

[2017-03-28 13:03] davidbucka commented on #362
@sapegin thank you for the fast reply!
I really had such an error in the console, which I removed, but that didn't fix the problem.

Now I guess the problem is, that I extend one component with subcomponents like
[code]

how could this be possibly fixed?

and btw: I run webpack with sass/css & babel-loaders, but when running the $ npm run styleguide-server it does not run into the scss files which

[2017-03-28 13:14] sapegin commented on #362
The only *real* fix is stop inheriting components ;-)

Could you show me an example as [described here](../blob/master/Issue_Template.md)?

[2017-03-28 13:20] davidbucka commented on #362
sure here are my 2 files + folder structure:
[code]

I do not import the app.scss into js - just load it into index.html

styleguide.config.js:
[code]

webpack.config.dev.js:
[code]

[2017-03-28 13:23] sapegin commented on #362
I don’t see where you’re doing that. Most probably you need to use `require` option to add this file to your style guide.

[2017-03-28 13:29] davidbucka commented on #362
Sorry but where should i add the require option here?

[2017-03-28 13:31] sapegin commented on #362
As described in the docs: https://github.com/styleguidist/react-styleguidist/blob/next/docs/Cookbook.md#how-to-add-custom-javascript-and-css-or-polyfills

[2017-03-28 15:25] tsdrummer commented on #362
Get the same error within web browser with version **5.0.0-rc.1**.
But the terminal shows "Compiled successfully!"

Also --verbose doesn't show some interesting stuff.

[2017-03-28 16:36] sapegin commented on #362
@davidbucka @tsdrummer Please try react-styleguidist@5.0.0-rc.2. I’m trying to make the error message more clear, and also it wouldn’t break the whole style guide anymore ;-) I appreciate any feedback 🍕

[2017-03-28 20:44] frontend-3 commented on #259
@sapegin does this `global.PanelHeader = require('./PanelHeader').default;` really work? I was trying but I had this error `unexpected token import`  when I try to restart webpack

[2017-03-28 20:53] sapegin commented on #259
@frontend-3 Looks like you don’t setup babel-loader for the file you’re trying to import.

[2017-03-28 21:22] frontend-3 commented on #259
@sapegin I'm trying this:

[code]

I'm using react-svg-loader 🤔

[2017-03-29 06:35] #331 closed

[2017-03-29 06:47] tsdrummer commented on #362
@sapegin 👍🏼 rc.2 solves the issue. thanks.

[2017-03-29 07:07] sapegin commented on #357
Out in react-styleguidist@5.0.0-rc.2 ;-)

[2017-03-29 07:07] #357 closed

[2017-03-29 08:03] davidbucka commented on #362
thank you very much!  👍🏼

[2017-03-29 09:29] sapegin commented on #259
@frontend-3 First I’d suggest to update to the [5.0 RC](https://github.com/styleguidist/react-styleguidist/releases/tag/v5.0.0-rc.1). Second to make a demo as [described here](../blob/master/Issue_Template.md) because I’m not really sure what you’re trying to do in this config and don’t see `react-svg-loader` anywhere in you config.

[2017-03-29 13:03] sapegin commented on #105
Just had the same issue after upgrading Styleguidist in my project. Fixed by removing `node_modules` folder and reinstalling dependencies ;-)

[2017-03-29 22:02] pke opened #365 "Configure Sections using markdown files in folders and front-matter"
I know we can configure sections via a custom config.

But wouldn't it be cool if the sections could be generated simply by `[index|section].md` files in src folders using YAML fron matter (https://github.com/matthewwithanm/markdown-with-front-matter-loader)?

[code]

This would further simplify the configuration. What you think?

[2017-03-30 03:51] n1313 commented on #365
I personally would not use the word "simply" to describe a setup with non-standard markdown syntax and an extra dependency which does exactly the same as one line in the config, but that's just me.

[2017-03-30 09:02] okonet commented on #365
Front matter is just a convention that many are using. I'm not sure how much value it will bring in this context, though. @pke can you give us some use cases for that?

[2017-03-30 10:15] sapegin commented on #365
Yeah, I’d like to see some use cases where it actually simplify configuration. For me it brings more questions: ordering for example?

What we can do is ignore front matters in markdown files and then generating sections config would be a few lines of code and up to the user.

[2017-03-30 11:03] n1313 commented on #365
While this extra markup could definitely be ignored by RSG, it will remain in README.md files and "pollute" their "native" display in GitHub/Stash. I personally quite enjoy having my code and my examples being written in a simple, no-special-markup-required way. But, I guess, if this is an optional feature then I don't have to use it if I don't want to, so that's not a big deal.

Sent from my iPho