[2018-02-28 21:22] pke commented on #847
Aha. Didn't know there is a webpack 4 already :) Can it do proper tree shaking now finally?

[2018-03-01 05:06] longility opened #850 "can't get basic styled components with @component annotation jsdoc working"
I'm not sure what I'm doing wrong. It is not picking up my component that is a styled component using annotation.

https://github.com/longility/react-styleguidist/tree/styled-component-example

[code]

[2018-03-01 17:52] peroperje opened #851 "Build doesn't work"
Hello.
I use react-styleguidist v6.2.5 and everything works fine in in the development mode.
But when I build documentation (styleguide:build) and open styleguide/index.html I got error :
[code]

[2018-03-02 17:58] peroperje commented on #851
Sorry, it was my mistake.
I added custom template but I didn't add HtmlWebpackPlugin.

[2018-03-02 17:58] #851 closed

[2018-03-02 18:09] sapegin commented on #848
https://react-styleguidist.js.org/docs/cookbook#how-to-hide-some-components-in-style-guide-but-make-them-available-in-examples

[2018-03-02 18:09] #848 closed

[2018-03-03 02:29] yang-jandro opened #853 "Use .babelrc for markdown generated examples"
Is it possible to use a projects .bablerc for parsing a markdown example and on live edit? New to styleguidist and everything else seems to be working as excepted.

### styleguide.config.js
[code]

### package.json
[code]

### webpack.config.js
[code]

### .bablerc
[code]
### Error
<img width="1037" alt="screen shot 2018-03-02 at 6 28 34 pm" src="https://user-images.githubusercontent.com/5723334/3

[2018-03-05 09:58] hsiaoyu-chou opened #854 "order for sections and components if they are in the same section"
If there is sections and components in the same section, the components will be rendered before the sections. However, in sidebar, the components will be rendered after the sections.

<https://github.com/hsiaoyu-chou/styleguidist_example>

This can be solved by change the order of `components` and `sections` in function SectionRenderer in  [SectionRenderer.js](https://github.com/styleguidist/react

[2018-03-05 14:47] kontrollanten opened #856 "Snyk test fails due to old webpack-dev-server"
[code]

[2018-03-05 17:48] sapegin commented on #853
We don't use Babel:
https://react-styleguidist.js.org/docs/documenting#writing-code-examples

[2018-03-05 17:49] sapegin commented on #854
Feel free to send a PR. Though I'm not sure which order is the right one ;-)

[2018-03-05 17:54] yang-jandro commented on #853
@sapegin that link states

[2018-03-05 17:56] yang-jandro commented on #853
@sapegin I see now. Must have miss read Bable for Babel. Thanks.

[2018-03-05 17:56] #853 closed

[2018-03-06 08:09] pasupuletics commented on #792
@milesj , As @n1313 said its defiantly a bug(at least not supported) of react-docgen. And just to add that react-docgen doesn't support spread operator.

[2018-03-06 08:26] pasupuletics commented on #832
@Baudin999 , Styleguidist relies on [react-docgen](https://github.com/reactjs/react-docgen) to extract doclets out of out source components files, If i understood 3rd problem properly that, propTypes are defined in external module which is included in your components files. If this is the case styleguidist would fail to generate docs for this. In fact [react-docgen](https://github.com/reactjs/reac

[2018-03-06 08:54] Baudin999 commented on #832
@pasupuletics Thank you for your reply. I think I understand. I'll dive into react-docgen and will see if I can get things to work. If I manage to solve the problem I'll report back.

I'll close this issue and I'll reopen it if/when I have a solution.

[2018-03-06 08:54] #832 closed

[2018-03-06 12:20] trickreich commented on #765
same problem here..
it's just not loading..

[2018-03-06 13:51] linde12 commented on #325
Yup. This makes things very difficult when your library has dependencies to third party code. E.g. in my specific case i have a dependency to a component which in turn depends on a component named `Object` resulting in React saying "Object.defineProperty is not a function"

[2018-03-06 14:50] chucksellick opened #860 "No trace or debug information on fatal errors"
I am using latest version of Styleguidist and I have now documented a few components. When I try to start the server I get fatal error "components should be string or function, received object." and the server bombs out, no information about which file or component has caused this error. I can't provide a demo since I don't know which file is even causing this.

[2018-03-06 15:08] sapegin commented on #860
I don't know either, and only you can find them. There's no way we can help you with the info you provided. Feel free to reopen with a demo.

[2018-03-06 15:08] #860 closed

[2018-03-06 18:18] sapegin commented on #850
I don't see any warnings in your example with the latest React Styleguidist.

[2018-03-07 00:23] ahuth opened #862 "Proposal: Make currently selected component available to styleguide components"
Thank you for the great project! Is the community here open to making the currently selected component available to the styleguide components for styling purposes?

We have a use case for highlighting which item from the left nav is currently selected. See here for an example:
![mds](https://user-images.githubusercontent.com/2503289/37066344-e3dcaa26-2159-11e8-975b-62e77dbfe974.png)

Note that the

[2018-03-07 00:59] ahuth commented on #862
Ah, just realized this may be harder than I realized.

`getInfoFromHash` only returns the target of something like '#!/Button' and not '/Button'.

[2018-03-07 03:05] longility commented on #850
Thanks for responding. I decided to do the following and still got the same warning.

1. rebase to latest `master` on react-styleguidist.
2. `git clean -xdf`
3. `cd examples/cra/`
4. `npm install`
5. `npm run styleguide`

Besides making sure I have a clean environment and latest react-styleguidist, did you do anything different? Maybe you can guide me on debugging. I'm not sure where to go from he

[2018-03-07 06:17] sapegin commented on #850
This is not the latest version:

https://github.com/styleguidist/react-styleguidist/blob/a086302bbef484144f6dbfe4ff43e143b68aff47/examples/cra/package.json#L20

[2018-03-07 06:20] sapegin commented on #862
I think this would be easy to do for an isolated or a single component view (will be available in the next version). Otherwise you'll have to listen to scroll events, because hash doesn't really say which component is in the viewport. Both PRs would be super cool ;-)

[2018-03-07 06:24] #854 closed

[2018-03-07 13:47] longility commented on #850
Thank you for your help! I didn't think about upgrading rsg npm package in the example. I'm now able to get it working.

[2018-03-07 13:47] #850 closed

[2018-03-07 14:56] glebez commented on #776
It feels that we can check off first two boxes. And think on breaking the third one into more actionable, i.e. 'write cypress tests for sidebar', since some core test are already in place.

[2018-03-07 15:12] glebez commented on #646
Hi, I've looked a little bit into that issue and unfortunately, react-docgen does not support `childContextTypes` out of the box at the moment.

Here's the issue requesting the required improvement in their repo: [#167](https://github.com/reactjs/react-docgen/issues/167), but there's no activity on it for about a year.

Optionally, there's a way to write and pass a custom handler to react-docgen p

[2018-03-07 19:19] ryanoglesby08 commented on #613
All Markdown elements now have corresponding React components in styleguidist, that can easily be overridden by consumers using normal aliases as is described in the documentation: https://react-styleguidist.js.org/docs/configuration.html#styleguidecomponents

Closing this issue now.

[2018-03-07 19:19] #613 closed

[2018-03-08 00:31] milesj commented on #646
This feature request might be moot considering the new context API is coming out soon.

[2018-03-08 08:38] glebez commented on #646
Well, I found that somebody smart has already done most of the work on adding context handlers to react-docgen a year ago, but it was not approved due to missing tests. I've updated the branch, threw in some tests and well, here's a [PR](https://github.com/reactjs/react-docgen/pull/260), let's see how it goes... But yeah, @milesj, high chance it will be canned because of upcoming context API chang

[2018-03-08 10:54] sapegin commented on #776
I’ve added a few — feel free to suggest more 🦄

[2018-03-08 11:03] Baudin999 opened #864 "Using state in combination with Immutable JS"
Hi, I'm trying to create a styleguide while using Immutable JS. I find it important to keep my example code as close to the actual code as possible. I was wondering if I'm doing something wrong?

The [example](https://github.com/Baudin999/example) solution.

The actual code:

[code]

Is there a workaround? Or should I start digging through the source code and see if I can find a solution?

[2018-03-08 18:01] milesj commented on #646
Nice, thanks for the work regardless!

[2018-03-12 07:58] sapegin opened #866 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-12 08:07] sapegin commented on #864
I believe that’s because of this line:

https://github.com/styleguidist/react-styleguidist/blob/dae9d6696449f25cdc6f18620074cde785776333/src/rsg-components/Preview/Preview.js#L29

We could probably just do `this.state = initialState`. Feel free to submit a pull request ;-)

[2018-03-12 09:39] Baudin999 commented on #864
Cool, thank you, will try and submit it tonight.

[2018-03-12 15:22] pnepe6 opened #867 "withTheme() higher order component of styled-component isn't working with react-styleguidist"
withTheme() higher order component of styled-component isn't working. Is something possible to fix this ?

You can take a look at [this example](https://paste.gnome.org/p7hqkzht0)

Thanks in advance, react-styleguidist is awesome.

[2018-03-12 23:10] kopax commented on #867
You are using `/** @component */` on a non styled components.
If you are having a styled components in between, just use `withTheme` HoC before styled otherwise you are wrapping your component one last time with the default exports and **static** `defaultProps` and `propTypes` won't be present.

Otherwise, you can also do :

[code]

[2018-03-13 05:10] pnepe6 commented on #867
Solution 2 works, thank you so much.

[2018-03-14 09:35] gardezii commented on #541
same here. It is still an issue

[2018-03-14 14:58] #866 closed

[2018-03-14 15:14] gardezii opened #869 "webpack externals not being referenced by styleguidist"
Hello guys, I'm initializing some variables in web pack externals. in styleguidist I'm telling it about my external but they are not being referenced. Can you please tell me what is it that I'm doing wrong

[code]

[code]
Please correct me what is it that I'm doing wrong thanks

[2018-03-14 23:52] robbie-hinman opened #872 "Error: Error watching file for changes: EMFILE when running test on new Create React App"
Firstly, **thank you for such a great tool**!

Posting this because we are getting the following error when running either `yarn test` or `npm test`:

2018-03-14 16:23 node[5933] (FSEvents.framework) FSEventStreamStart: register_with_server: ERROR: f2d_register_rpc() => (null) (-22)
events.js:183
      throw er; // Unhandled 'error' event
      ^

    at _errnoException (util.js:1022:11)
    at FS

[2018-03-15 00:57] robbie-hinman commented on #872
This looks like a Jest issue according to: facebook/create-react-app#871

[2018-03-15 00:57] #872 closed

[2018-03-15 07:14] n1313 commented on #869
https://react-styleguidist.js.org/docs/configuration.html#webpackconfig

"entry, externals, output, watch, and stats options will be ignored. For production builds, devtool will also be ignored."

You might need to https://react-styleguidist.js.org/docs/configuration.html#dangerouslyupdatewebpackconfig

[2018-03-15 08:40] danrot commented on #765
I have tried to improve the situation in https://github.com/sulu/sulu/pull/3845. We realized that when we delete the `vendor` (the `node_modules` of PHP) then the watch task works. As soon as you install these dependencies again, the watch task is not working anymore. So I guess it is somehow related to the `glob`, therefore I tried to execute it only once at the beginning of the `styleguide.confi

[2018-03-15 10:02] n1313 commented on #765
Does it work if you delete everything from your source folder except for one simplest component?
Does it work if you manually list your components in config instead of using a glob pattern?
Does it work if you run `styleguide:build`? What is inside the built bundle?

[2018-03-15 10:40] giacomocerquone opened #873 "compilation.mainTemplate.applyPluginsWaterfall is not a function"
Hi everyone, I'm trying to use react-styleguidist on a react native project. I've seen the app in the example folder and I grabbed the configuration and pasted it into a new CRNA project and i just doesn't work. This is the error:

[code]

What could that be?
This is the webpack config:

[code]

[2018-03-15 10:58] danrot commented on #765
@n1313 I think I have already written that it works as soon as I delete our `vendor` folder, which is actually completely unrelated to JavaScript or Styleguidist. It seem like it is already broken when there is a big directory structure, although most of the directory structure is not relevant for the output.

That should also answer your second question, it works even with the glob (if I remove t

[2018-03-15 18:44] PilotConway commented on #873
I ran into the same problem, had to install the html-webpack-plugin myself from here `npm i --save-sev webpack-contrib/html-webpack-plugin` which got me past the error.

Found this PR though too.
https://github.com/styleguidist/react-styleguidist/pull/855

[2018-03-16 11:30] sapegin commented on #613
@ryanoglesby08 Thank you for amazing work!! 🦄

[2018-03-16 11:54] PDXIII commented on #365
I would love to be able to use front matter.

[2018-03-16 11:57] okonet commented on #365
Yeah the more I think about it the more I like the idea. I might work on a PR for that since I might need it for some of my projects

[2018-03-16 12:01] okonet commented on #365
My use case is a customization of particular examples. So what I’d be looking for is an ability to pass props to the example renderer component or to the example components themselves (via context?)

[2018-03-16 19:23] prajapati-parth commented on #12
Was just looking around if I could specify the path when using the build command. I have my config placed within `./config/` directory and the build is creating the final directory in that folder.

[2018-03-17 11:34] Happy-Ferret opened #874 "Static build names"
Curious.

Is there a way to pre-define file names for the two ``.js`` files generated by the styleguide build process?

Currently, those files appear to be "versioned". In my case the names are ``bundle.a538a71f.js`` and ``0.4a3876a7.js`` respectively.

I'd appreciate being able to change them to ``bundle.js`` and ``0.js``.

I use React Styleguidist in combination with Docusaurus and need to add t

[2018-03-17 21:42] AveVlad commented on #810
@sapegin

docker build

[code]

config:

[code]

Logo.js

https://gist.github.com/AveVlad/0cd7685775cb94b711a60b168fc9b96f

[2018-03-18 23:03] glebez commented on #195
Hey, I wanna try to go on with this issue. Can you explain a little more on the "New option, getComponentName(), to change the title." part? What is the general idea behind it? Or if that has already been discussed somewhere, be so kind to point me in that direction. Thanks!

[2018-03-19 08:00] sapegin commented on #195
@glebez The general idea is to be able to show anything instead of an actual component name in the style guide UI. I think #868 could be the first step, and the we'll need to split `displayName` into two properties: actual component name, and name visible in the UI. So probably we don't need a separate option for that, but we'll still need to do some refactoring.

[2018-03-19 08:05] sapegin commented on #810
I'm going to close this because there's nothing we can do now. Feel free to send a pull request if you see what can be improved ;-)

[2018-03-19 08:05] #810 closed

[2018-03-19 08:07] sapegin commented on #874
There are defined here:

https://github.com/styleguidist/react-styleguidist/blob/7b8f160e8f13f6ca0a98c316f6b89fc09646f5ca/scripts/make-webpack-config.js#L29-L30

You'll have to use `dangerouslyUpdateWebpackConfig` option to change them: https://react-styleguidist.js.org/docs/configuration#dangerouslyupdatewebpackconfig

[2018-03-19 10:34] AveVlad opened #875 "Failed to compile Module not found: Can't resolve rsg-components"
docker build failed, local build success

[code]

config:

[code]

Logo.js

https://gist.github.com/AveVlad/0cd7685775cb94b711a60b168fc9b96f

node:9.4.0

[code]

[2018-03-19 19:20] roblevintennis opened #876 "Need a way to customize CLI message on server started…"
How would you feel about being able to hijack the `printInstructions` via styleguide config? e.g.

`printInstructions: whiteLabelFunction`

Here's the use case:
- Update your /etc/hosts so that a custom url is replacing `localhost:6060`
- even if you try to supply the `serverHost`, you'll won't be able to adjust the messaging since port is hard coded in call to:

https://github.com/styleguidist/re

[2018-03-19 20:27] sapegin commented on #876
I think the second (`printInstructions`) would be right way to do that. But I'm not sure how flexible should it be. In future we may need more useful information here. And there’s also similar thing for the production build.

Would like to hear more opinions and use cases.

[2018-03-19 20:28] #875 closed

[2018-03-19 20:48] roblevintennis commented on #876
Well, thinking iteratively (or is it agile??), my thought was to just take the same method signature as is there now, and anytime that changes, the callback config option would want to reflect that I suppose. In the end, the library code would simply check if there was a config.method to call, and if so use same arguments. If not, business is usual and the internal `printInstructions` is used.

In

[2018-03-19 21:10] sapegin commented on #792
I’m going to close this for now, because there’s nothing we can do on our side.

[2018-03-19 21:10] #792 closed

[2018-03-19 21:13] sapegin commented on #845
Closing this for now. Feel free to reopen with more information.

[2018-03-19 21:13] #845 closed

[2018-03-19 21:15] sapegin commented on #733
Looks like this is something nobody needs ;-/

[2018-03-19 21:15] #733 closed

[2018-03-19 21:22] sapegin commented on #876
I'd change arguments to an object — would make adding new features easier.

And I think we need a similar function for build instructions, so `printServerInstructions` and `printBuildInstructions`.

[2018-03-19 21:25] wachunga opened #877 "Testing examples in continuous integration"
My team's living styleguide is getting broken frequently without us noticing. In particular, examples in markdown files are falling out of date and end up broken without us noticing. This is particularly concerning because those are supposed to be "best practice" snippets which are likely to be copy and pasted as a starting point for other devs.

This hasn't been an issue with storybook stories be

[2018-03-19 21:44] roblevintennis commented on #876
So are you asking me to replace what's now `printInstructions` with `printServerInstructions`, and then to add a method for the build that's currently just being logged out at: https://github.com/styleguidist/react-styleguidist/blob/03896941d8a373a5a2e6ba1878899442ab660d40/bin/styleguidist.js#L98 ? And then make those overridable via a config object.

Please confirm..thanks

[2018-03-19 21:49] sapegin commented on #876
Yup! Otherwise it will be hard to add another option for the build.

[2018-03-19 21:52] sapegin commented on #877
Unfortunately I can't recommend anything because but that would be a good feature to have. Though I don't know if it should be in the core or as a third-party tool like Snapguidist.

[2018-03-19 22:00] roblevintennis commented on #876
Cool, here's a POC for the change to the application code just to ensure we're on the right track:
https://github.com/styleguidist/react-styleguidist/pull/878/commits/30f2a86362d00988cc27a1ccc8e9a7269278dbb4

If those meet your spec, then I suppose all that'd be left is to expose those to the config. Are there any specs and/or files you'd recommend I look at?

[2018-03-20 12:38] sapegin opened #879 "Improve accessibility"
## To do

(Will be done in #893)

- [x] Tweak colors to comply with WCAG 2 AA contrast ratio (gray text, for example).
- [x] Add an invisible label to the search field (`aria-label`).
- [x] Add [eslint-plugin-jsx-a11y](https://github.com/evcohen/eslint-plugin-jsx-a11y)

## To think

- [ ] Missing `lang` attribute in `html` tag. Do we need a config option for that?

Am I missing anything?

/cc @oko

[2018-03-20 17:48] ahuth commented on #862
Thanks. Closing for now, as I'm not sure we'll actually get to this now. If that changes, I'll let you know.

[2018-03-20 17:48] #862 closed

[2018-03-21 09:24] #774 closed

[2018-03-21 09:36] sapegin opened #881 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-21 09:52] #820 closed

[2018-03-21 09:57] #494 closed

[2018-03-21 10:01] #753 closed

[2018-03-21 10:04] sapegin commented on #881
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-21 10:14] sapegin commented on #881
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-21 10:16] sapegin commented on #881
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-21 10:19] #864 closed

[2018-03-21 10:26] sapegin commented on #881
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-21 10:33] sapegin commented on #881
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-21 10:55] #876 closed

[2018-03-21 11:01] sapegin commented on #881
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-21 16:32] sapegin commented on #881
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-21 17:08] kure- opened #882 "Compiling fails on components with spread flow types"
Hey, i'm having an issue with compiling a styleguide with components that are using spread flow types. Appearently that was an issue with react-docgen dependency itself and it should be fixed with react-docgen 3.0.0-beta11 meanwhile styleguidist is dependent on 3.0.0-beta8.
I'm able to submit a PR with the dependency change, but I'm not able to test the update properly myself on my fork of stylegu

[2018-03-21 18:15] sapegin commented on #881
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-21 20:13] denchen opened #883 "Invalid prop `props.props` of type `array` supplied to `UsageTabButton`, expected `object`"
Starting at `6.4.0`, I'm seeing this warning / error:

![screenshot 2018-03-21 13 06 17](https://user-images.githubusercontent.com/2073768/37734748-47b96f60-2d09-11e8-9d7a-9c2399af3087.png)

Reproducing is easy.

1. Clone https://github.com/styleguidist/example (with *no modifications*)
2. `npm install`
3. `npm run styleguide`
4. Open the website in Chrome and open DevTools. You should see the err

[2018-03-21 22:55] jsphstls opened #884 "Warning: ...doesn’t export a component - False positive with ternary."
Version:
react-styleguidist@6.2.2

File:
https://gist.github.com/jsphstls/e2c8617f3c67cbc7b2a2854e389e1678
Location:
src\components\TestComponent\TestComponent.js

Warning: src\components\TestComponent\TestComponent.js matches a pattern defined in “components” or “sections” options in your style guide config but doesn’t export a component.

File contents:
[code]

If the ternary is not used, there

[2018-03-22 04:56] ZxBing0066 commented on #883
I have the same problem.

[2018-03-22 09:31] sapegin commented on #884
I think this is react-docgen issue and should be reported there.

[2018-03-22 09:31] sapegin commented on #883
I believe it's fixed in master, I'm going to release 6.5.0 very soon.

[2018-03-22 09:32] #882 closed

[2018-03-22 09:44] RusinovAnton opened #885 "Customized example is not working"
[code]

Also after commenting that line in config I start getting errors about babel-core and babel-preset-env being missed as they're replaced with following now

[code]

[2018-03-22 09:49] #881 closed

[2018-03-22 09:50] sapegin commented on #885
Will be fixed in 6.5.0, it's a new option.

[2018-03-22 10:26] sapegin commented on #494
:tada: This issue has been resolved in version 6.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-styleguidist)
- [GitHub release](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-22 10:26] sapegin commented on #876
:tada: This issue has been resolved in version 6.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-styleguidist)
- [GitHub release](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-22 10:26] sapegin commented on #820
:tada: This issue has been resolved in version 6.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-styleguidist)
- [GitHub release](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-22 10:26] sapegin commented on #774
:tada: This issue has been resolved in version 6.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-styleguidist)
- [GitHub release](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-22 10:26] sapegin commented on #864
:tada: This issue has been resolved in version 6.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-styleguidist)
- [GitHub release](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-22 10:26] sapegin commented on #753
:tada: This issue has been resolved in version 6.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-styleguidist)
- [GitHub release](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-22 10:34] #885 closed

[2018-03-22 11:23] #883 closed

[2018-03-22 11:24] #867 closed

[2018-03-22 14:36] stefanheine opened #886 "Breaking change in 6.5.0"
I'm just upgrading from 6.4.0 to 6.5.0 (no other changes).

6.4.0 is working ok.
in 6.5.0 I'm getting

[code]

[code]

the `main.bundle.js:5481` line is:

[code]

I can't fork the code, as that's private inhouse code, but I can provide whatever data is required, since I can easily reproduce the issue.

[2018-03-22 15:03] esusekov commented on #886
Have the same issue. Looks like changes here https://github.com/styleguidist/react-styleguidist/blob/ed16543b5aec63097c972ae0df33e0a6eef17534/src/rsg-components/Preview/Preview.js#L66 break any jsx inside markdown. For example:
[code]

[2018-03-22 15:16] jsphstls commented on #884
@sapegin I do not use react-docgen directly. How can I properly describe the issue in the context of react-docgen so it does not continue to be a defect of react-styleguidist?

[2018-03-22 15:22] a-x- commented on #886
@sapegin, As I see, you're try grab an initial functions up to first JSX tag.
But, function can have internal JSX.

[2018-03-22 15:22] a-x- commented on #886
AFAIK, we can workaround it like this:

[code]

[2018-03-22 16:18] sapegin commented on #886
Yeah, I've replaced two hacks with one ;-/

I can check for `initialState` too but it won't solve the issue completely. So if you have any ideas how to make it better, would be super cool!

[2018-03-22 16:20] sapegin commented on #886
For more context: the issue I'm trying to solve is extracting the values of the `initialState`, which I need to pass to a component that manages state and wraps an example.

[2018-03-22 19:13] wachunga commented on #877
For the time being, I've externalized all my examples so they're proper components on their own (standard `.tsx` files). I use the [updateExample config hook](https://react-styleguidist.js.org/docs/configuration#updateexample) to load in the example files and format them a bit so they look nice in "view code", eg removing imports (that RSG doesn't need). Then for CI, I can run my usual linting etc

[2018-03-22 20:20] friedrith commented on #753
ok thx a lot. I made the changes on my own but I wasn't able to push them because of the tests. Thx again.

[2018-03-22 21:22] #886 closed

[2018-03-22 21:23] sapegin commented on #886
Expect a new release in ~10 minutes ;-)

[2018-03-22 21:30] sapegin commented on #886
:tada: This issue has been resolved in version 6.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-styleguidist)
- [GitHub release](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-22 21:30] sapegin commented on #885
:tada: This issue has been resolved in version 6.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-styleguidist)
- [GitHub release](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-03-22 21:57] sapegin commented on #884
You can reproduce it like this:

[code]

[2018-03-23 05:50] stefanheine commented on #886
thanks for the quick fix. issue has gone away.

[2018-03-23 14:16] SavePointSam opened #888 "upgrade to react-docgen@3.0.0-beta11"
There is a pretty annoying [bugfix](https://github.com/reactjs/react-docgen/issues/249) in the newest beta that I would really appreciate. It's also in stable 2.20.1, but I noticed this project has already moved to 3.0.0-beta.

Thank you! 🎉

[2018-03-23 14:44] gergely-nagy commented on #879
I'd like to jump in on this! :rocket:

[2018-03-23 14:59] sapegin commented on #879
@gergely-nagy Awesome! 🦄

[2018-03-23 14:59] sapegin commented on #888
Feel free to send a pull request! ;-)

[2018-03-23 15:27] SavePointSam commented on #888
Sounds good!

[2018-03-23 17:05] IgorBondar commented on #873
@giacomocerquone @PilotConway

**react-styleguidist** uses it's own **"html-webpack-plugin": "^2.30.1"**

**Webpack 4** is compatible with **"html-webpack-plugin": "^3.1.0"**

`rm -rf node_modules/react-styleguidist/node_modules/html-webpack-plugin/` **temporary** fixes the issue, until you run `npm install`

As an option you may create *postinstall* script:

`"postinstall": "rm -rf node_modules/r

[2018-03-24 17:07] MarkMurphy commented on #840
This should probably be an overridable styleguidist component. This way, I can supply my own `Example` component that applies a flexbox layout and spacing around.

[2018-03-25 12:15] rafaesc opened #892 "Page per section suggestions"
Hi @aaronjense and @sapegin,

Again thanks for your awesome project,

I would like to show the implementation of page per section of vue-styleguidist. I worked on this feature.
https://github.com/vue-styleguidist/vue-styleguidist/issues/26

When I thought in how developed the section split, thought that it should be as the last section's father who has children should show all the children without

[2018-03-26 07:22] styleguidist-bot opened #894 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-26 11:51] #894 closed

[2018-03-26 13:12] sapegin commented on #840
You can already do it with the `Wrapper` component.

[2018-03-26 15:21] MarkMurphy commented on #840
How's that?

[code]

This:

[code]

Results in:
[code]

[2018-03-26 15:24] MarkMurphy commented on #840
There's another component or two between the Wrapper and the content rendered from the code block so you can't just use the Wrapper.

[2018-03-26 18:34] sapegin opened #895 "Investigate flacky Cypress test"
[code]

[2018-03-27 07:18] sapegin opened #896 "Replace html-webpack-plugin with mini-html-webpack-plugin"
## Pros

* Much simpler but enough for our use case.
* Users could use any version of html-webpack-plugin and it won't break Styleguidist.
* Use [mini-html-webpack-template](https://github.com/vxna/mini-html-webpack-template) to customize template without replacing the whole HTML file (that should be enough for most use cases for custom templates).

## Cons

* Breaking change because existing cust

[2018-03-27 07:20] sapegin opened #897 "Style guide for Styleguidist UI"
We have quite a lot of UI components in Styleguidist now and sometimes it’s hard to find an existing component and how to use it for some new feature. But we have a great tool exactly for that — Styleguidist itself. Let’s make a style guide for our own components.

* [ ] Setup a style guide
* [ ] Publish to the site

[2018-03-27 07:20] #874 closed

[2018-03-27 07:44] sapegin commented on #817
I’m closing this for now. Feel free to submit a pull request if you need this.

[2018-03-27 07:44] #817 closed

[2018-03-27 07:46] sapegin commented on #837
I’m not really sure what we can do here: feel free to send a pull request if you see possible improvements.

[2018-03-27 07:46] sapegin commented on #780
Should we close this now?

[2018-03-27 07:48] nanot1m commented on #780
Yes, thanks for improvement of styleguidist!

[2018-03-27 07:48] #780 closed

[2018-03-27 07:49] sapegin commented on #765
I’m going to close it for now: I don’t see anything we can do, but feel free to send a pull request if you see possible improvements.

[2018-03-27 07:49] #765 closed

[2018-03-27 08:18] sapegin commented on #694
I’m closing this for now. Feel free to submit a pull request if you need this.

[2018-03-27 08:18] #694 closed

[2018-03-27 11:59] vladmelnikov commented on #873
have same issue  any news when its gonne be fixed ?

[2018-03-27 12:54] PDXIII commented on #365
I would like to have it to be able to give components an approval status, which could be passed to the header. Or add an author etc.

[2018-03-27 18:22] doskogerman opened #898 "Connect with material-ui fields"
Hi, I'm trying connect react-styleguidist with material-ui TextField and when I want to wrap <App /> with <MuiThemeProvider />  I get this error "Cannot read property 'prepareStyles' of undefined".

Btw when I wrap only the TextField with <MuiThemeProvider /> all work well.

Does anyone know what is happening and how to solve it?

[2018-03-27 19:28] #898 closed

[2018-03-28 03:21] alexeysinko opened #899 "TypeError: Object doesn't support property or method 'find' in IE"
Try run https://github.com/styleguidist/react-styleguidist/tree/master/examples/basic with react-styleguidist@6.5.3

Then open [http://localhost:6060](http://localhost:6060) in IE11.

[code]

Root cause: Array.prototype.find() is not supported in IE.

https://github.com/styleguidist/react-styleguidist/blob/master/src/utils/splitExampleCode.js#L28
[code]

[2018-03-28 06:58] sapegin commented on #899
We don't support IE officially but feel free to send a PR to fix that.

[2018-03-28 07:03] sapegin commented on #764
I think it should be fixed now after the Buble update. Feel free to reopen if you still have this issue.

[2018-03-28 07:03] #764 closed

[2018-03-28 11:35] sapegin opened #900 "Replace System.import with import"
Webpack 4 shows a warning:

[code]

We use `System.import` only in one place for code splitting:

https://github.com/styleguidist/react-styleguidist/blob/9181f75a712054e121cf9dabe7c861d0a96fb812/src/rsg-components/Editor/EditorLoader.js#L10

You may need a Babel plugin for this, see more detail in SurviveJS book’s [chapter on code splitting](https://survivejs.com/webpack/building/code-splitting/#d

[2018-03-28 20:53] sapegin opened #902 "Setup Travis CI to run tests with webpack 3 and 4"
We used to have it for webpack 2/3, so it's possible to find the exact setup in the `.travis.yml` history.

[2018-03-29 01:58] tysonmatanich opened #903 "Global styles using styled-components injectGlobal?"
Any way to import CSS from JS used for styled-components injectGlobal``?

https://www.styled-components.com/docs/api#injectglobal

Tried using require with no luck:
[code]
global.js
[code]

[2018-03-29 03:05] n1313 commented on #896
What would be the benefit of this change for the users who already have custom templates?

[2018-03-29 03:17] n1313 commented on #817
@viraths take a look at the last code example in https://react-styleguidist.js.org/docs/documenting.html#writing-code-examples, it documents a different approach to writing code examples and might be helpful in your situation

[2018-03-29 06:20] sapegin commented on #896
@n1313 That's not the right question: they will have to update their config. Benefits are for new users and maintainers.

[2018-03-29 06:20] #903 closed

[2018-03-29 17:52] okonet commented on #836
So, basically this recommends removing `react-styleguidist` from dependencies, right? I'm not sure this is a good practice keeping in mind there is a build step which is suppose to be executed on CI servers. @sapegin what's the motivation behind it?

[2018-03-29 19:05] #744 closed

[2018-03-29 19:36] #840 closed

[2018-03-29 19:40] #900 closed

[2018-03-29 19:51] styleguidist-bot opened #906 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-29 20:29] #836 closed

[2018-03-29 21:42] #906 closed, assigned to nobody

[2018-03-29 21:47] styleguidist-bot opened #908 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-03-30 05:34] joakimkemeny opened #909 "Overriding styling using styles seems to be broken"
I tried upgrading from 6.2.3 to the latest version and all my custom styling stopped working. Here is an example that no longer works.

[code]

I seems like the problem started in 6.2.4.

I created a sample repo to show the problem, https://github.com/joakimkemeny/styleguidist-broken-styles-example. If you run that styleguide, code blocks will not be red but if you change the version back to 6.2.3

[2018-03-30 05:37] danrot commented on #765
@sapegin I would be happy if you could at least answer my question above:

Otherwise it is hard to further investigate my issue.

[2018-03-30 06:47] sapegin commented on #909
We've refactored Markdown components recently:

[code]

[2018-03-30 06:49] #909 closed

[2018-03-30 06:49] #908 closed

[2018-03-30 08:25] sapegin commented on #765
You can check that yourself and have a correct answer instead of asking someone else to guess.

[2018-03-30 09:14] joakimkemeny commented on #909
Thank you for a quick answer but it doesn't work.

If I follow the instructions in the documentation I see that the React structure looks like this.

[code]

So the configuration should probably be.

[code]

...but that doesn't work either.

[2018-03-30 09:16] sapegin commented on #909
It works in your example, I've tried it.

[2018-03-30 11:30] joakimkemeny commented on #909
Sorry, I see I wrote code blocks, I really meant inline blocks like `this`. Thats why I had the structure I described above with a CodeRenderer and not a PreRenderer (and the code block is lower down on the page so didn't see it, sorry again).

So obviously some styling works but not all. If you downgrade to 6.2.3 you'll see that code-tags (like `any`, `js`, `jsx`, `javascript` and `noeditor`) are

[2018-03-30 11:34] sapegin commented on #909
This works:

[code]

[2018-03-30 15:04] giacomocerquone commented on #873
@IgorBondar I had to manually install html-webpack-plugin, actually there was no `node_modules/react-styleguidist/node_modules/html-webpack-plugin/` folder

[2018-03-30 15:30] sapegin opened #910 "Investigate webpack DeprecationWarning"
[code]

I guess it's related to webpack 4 update, but I'm not sure where it's coming from.

[2018-03-30 16:05] giacomocerquone commented on #747
@nobuti With a console.log you'd have seen that to do what you wanna do, you just need something like this:

[code]

I wrote that as a oneliner, but it should be clear enough. You need of course to set based on your paths.
So replace "app" with your main directory

[2018-03-30 16:32] giacomocerquone opened #911 "Error: components config option should be string or function, received Array."
Hi everyone, [here](https://github.com/styleguidist/react-styleguidist/blob/master/docs/Configuration.md) and [here](https://github.com/styleguidist/react-styleguidist/blob/master/docs/Components.md) the docs tell us that we can pass an array of strings (paths) to the components field in the `styleguide.config.js` file, but I if I do that, I've got this error:

[code]

Reproducible demo:
1. Set up

[2018-03-30 16:55] sapegin commented on #911
Fixed in 5d9e52d6b5f361f06a8abe7f060778cbd0e12a62.

[2018-03-30 16:55] #911 closed

[2018-03-30 17:49] giacomocerquone opened #913 "Error in built html: Cannot read property 'isRequired' of undefined"
I have this config for a react-native project:

[code]

I don't know why, but after launching `styleguidist build` and opening the index.html, in the browser's console I've got this error:

[code]

At the moment I don't have all the md files corresponding to the js components, but considering that **I have no troubles with styleguidist serve** I believe it is some sort of an internal generation er

[2018-03-30 18:02] basicdays commented on #873
@IgorBondar's work around worked on my machine. Thanks for the pointer.

[2018-03-30 18:10] giacomocerquone commented on #910
https://github.com/webpack/webpack/issues/6568#issuecomment-377491754

Does it help?

[2018-03-30 18:11] sapegin commented on #910
I guess it could help if anyone would try ;-)

[2018-03-30 18:16] sapegin commented on #793
Nope, that's because Remark print links as auto links ;-(

[2018-03-30 18:20] giacomocerquone commented on #910
config with process.traceDeprecation = true at the top

[code]

[2018-03-30 18:55] #793 closed

[2018-03-30 18:56] #913 closed

[2018-03-30 18:56] sapegin commented on #910
Thanks! That's our own plugin ;-)

[2018-03-30 19:32] crobinson42 opened #914 "Webpack 4 breaking change"
My project was working fine then I upgraded to webpack 4 and react-styleguidist is blowing up:

[code]

* Note - my only configs are
[code]

Let me know if I can help with a PR or other, will update if I find some resolution.

[2018-03-30 19:45] sapegin commented on #910
Fixed in dea7bdda0047652596214130b049786c73d036a8.

[2018-03-30 19:45] #910 closed

[2018-03-30 19:47] sapegin commented on #914
It's almost done:
https://github.com/styleguidist/react-styleguidist/milestone/11

[2018-03-30 19:49] #914 closed

[2018-03-31 07:45] joakimkemeny commented on #909
Great, thank you!

Btw the documentation should probably be updated to reflect this change https://react-styleguidist.js.org/docs/cookbook.html#how-to-change-styles-of-a-style-guide

[2018-03-31 19:22] sapegin commented on #909
I don't see what should be changed there, but feel free to send a pull request.

[2018-03-31 21:44] rafaesc commented on #892
Hi @sapegin,

Already updated vue-styleguidist with your 7.0.0 version, in addition, fixed problems with the navigation and the components are separated.
You can see  the demo here:
http://rafaelescala.com/vue-styleguide-navigation/

There are some differences with `pagePerSection` but if you agree I can create a PR

Regards

[2018-04-01 08:49] sapegin opened #915 "Drop webpack 3 support"
Looks like there's no way to support both at the same time and avoid deprecation warning on both versions. Let's wait for [webpack 4 support](https://github.com/facebook/create-react-app/pull/4077) in Create React App, and drop webpack 3 support in Styleguidist.

- [x] Remove conditions from [make-webpack-config.js](https://github.com/styleguidist/react-styleguidist/blob/master/scripts/make-webpac

[2018-04-01 08:50] sapegin opened #916 "webpack-dev-server → webpack-serve"
[webpack-dev-server](https://github.com/webpack/webpack-dev-server) is in maintenance mode, [webpack-serve](https://github.com/webpack-contrib/webpack-serve) is a newer faster alternative. It work only in webpack 4, so we have to wait until #915.

[2018-04-01 08:54] sapegin commented on #892
This looks good! Do you see an easy way to return isolated mode? Should be possible because you use different URLs for sections. A PR would be super cool!

[2018-04-02 07:24] #837 closed

[2018-04-02 07:26] sapegin commented on #687
I'm going to close this for now, but may revisit in the future.

[2018-04-02 07:26] #687 closed

[2018-04-02 07:29] sapegin commented on #350
I’m closing this for now. Feel free to submit a pull request if you need this.

[2018-04-02 07:29] #350 closed

[2018-04-02 07:31] #884 closed

[2018-04-02 07:34] sapegin opened #917 "Support imported propTypes"
Try [react-docgen-external-proptypes-handler](https://github.com/pasupuletics/learning/blob/master/react-docgen-external-proptypes-handler.js), create a repo, publish to npm, and [add to Styleguidist](https://github.com/styleguidist/react-styleguidist/blob/dfcb73de01d2b3ecf0864a95d358b216dcf65618/scripts/schemas/config.js#L86-L90) by default.

More details about the issue: https://github.com/react

[2018-04-02 09:00] #856 closed

[2018-04-02 09:00] #869 closed

[2018-04-02 09:03] sapegin commented on #568
I'm going to close this for now — I don't see an easy way to implement that, though this could be a useful feature. Feel free to open a more actionable issue or send a pull request ;-)

[2018-04-02 09:03] #568 closed

[2018-04-02 09:10] sapegin commented on #713
We now have autowrapping in React.Fragment, JSX fragments syntax also works and looks good:

![image 2018-04-02 at 11 06 06 am](https://user-images.githubusercontent.com/70067/38190864-7bebfb02-3666-11e8-9d00-baa163a15db6.png)

[2018-04-02 09:10] #713 closed

[2018-04-02 09:14] #645 closed

[2018-04-02 09:16] sapegin commented on #736
I’m closing this for now. Feel free to submit a pull request if you need this.

[2018-04-02 09:16] #736 closed

[2018-04-02 09:20] sapegin commented on #802
I can't reproduce it now, though output could be improved.

![image 2018-04-02 at 11 20 17 am](https://user-images.githubusercontent.com/70067/38191161-de3256b6-3667-11e8-8e32-b7e1acfc96f8.png)

[2018-04-02 09:20] #802 closed

[2018-04-02 09:23] sapegin opened #918 "Option to open a browser"
Similar to Create React App. There's an unfinished PR: #748 that could be a good starting point.

[2018-04-02 15:48] celiolatorraca opened #919 "Scope according to sections"
Hi all!

First of all, thanks for this incredible lib! It is really making my life easier since I'm managing a UI toolkit for my company.

But, here is my question... Is there a way to scope the navigation according to sections?

My problem is that I have some components that have the same name (like a `Button` block component).

All my components are composed of a `set` of some `block` components

[2018-04-02 16:30] sapegin commented on #919
I'm not sure there's an easy way to solve this. Right now all components are global (which isn't a good thing, a would be nice to fix that — #325).

As a workaround (though ugly) you may try to `require` the right component in the example code.

According to blame it uses `name` for over a year, if it was ever different ;-) Feel free to send a PR to fix this.

[2018-04-03 06:24] #899 closed

[2018-04-03 15:18] leahzxxz commented on #897
I can try to help if no one is working on it?

[2018-04-03 17:54] sapegin commented on #897
@leahzxxz Sounds great!

[2018-04-04 07:04] sapegin commented on #897
@leahzxxz Nope, it's about adding a style guide for existing components in `src/rsg-components` folder. So adding `styleguide.config.js` into a root folder and pointing it to `src/rsg-components/**/[A-Z]*.js` should be enough. So your style guide config should look like this:

[code]

[2018-04-04 09:13] stephtr opened #922 "Downgrade markdown-to-jsx"
At the moment `markdown-to-jsx` has some severe issues rendering HTML within markdown (for example [markdown-to-jsx/#170](https://github.com/probablyup/markdown-to-jsx/issues/170)). Since only some of them will get fixed, one long-term option maybe would be to switch to another parser like markdown-it and inject the components into the generated HTML code.

In the near term it maybe would be usefu

[2018-04-04 10:24] dinukadesilva opened #923 "Is it possible to include an example with multiple language tabs"
I have an extra javascript to be executed along with the react component. So, is it possible to have examples with multiple code tabs.

Eg:-

[code]

[code]

[2018-04-04 15:07] leahzxxz commented on #897
I see - just want to clarify: adding `styleguide.config.js` is enough? Do I need to add any pages or anything else? (sorry still a new dev)

[2018-04-04 15:14] sapegin commented on #897
Yep, similar to examples style guides we have (`examples` folder) but to show components that is used in Styleguidist itself.

You may see some components twice (`Component` + `ComponentRenderer`) because of how we structure the code but I would ignore that for now.

And also a new script here:

https://github.com/styleguidist/react-styleguidist/blob/4396dc28f097e7374def088063e2fcf211cd1520/packag

[2018-04-04 15:30] leahzxxz commented on #897
Thanks for explaining - I think I understand better now (was wondering why I added the file but it was still only loading the buttons - now I know it's pointing to the `examples` folder 😅 ). Before I put up the PR, do I need to change anything in `package.json`?

[2018-04-04 15:36] sapegin commented on #897
Yup, you need to add a command to run your new style guide like this:

[code]

[2018-04-04 16:20] leahzxxz commented on #897
Thanks! A few follow up questions:
- Is there a deadline for when this should be done? Getting a bunch of cross-origin and other errors (none of the examples or code snippets load at the moment) and I think it will take me a while to figure out
- Are there code examples for the components? I'm not familiar with the codebase enough, would appreciate some help
- Do all components in `rsg-components`

[2018-04-04 16:43] FezVrasta commented on #213
I'm getting this with a CRA app that worked just fine yesterday :-/

[2018-04-04 19:44] sapegin commented on #922
No, we're not going back to massive Markdown parsers.

I guess the issues with markdown-to-jsx as soon as someone submits a pull request to fix them.

But feel free to send a pull request to downgrade markdown-to-jsx.

[2018-04-04 20:48] stephtr commented on #922
Ah ok, I didn't know that was an issue. I just had the feeling that for smaller projects like `markdown-to-jsx` it is much more complex/problematic to support the whole Markdown specification than for a specialized parser.

[2018-04-04 20:49] #922 closed

[2018-04-05 06:25] viljamis commented on #892
@sapegin See related discussion and a question for you here: https://github.com/vue-styleguidist/vue-styleguidist/issues/113

[2018-04-05 06:56] sapegin commented on #897
No deadlines in open source, it's our free time and we don't have that many of it usually ;-) Feel free to open a pull request with `WIP` in a title if you're stuck. I'll have a look.

Not now, just having all the component in the style guide is enough for now.

Yup, you'll have that with default settings.

[2018-04-05 08:40] sapegin commented on #923
There are at least several ways to do that described in the docs, depending on what exactly you want to achieve.

[2018-04-05 08:40] #923 closed

[2018-04-05 16:35] leahzxxz commented on #897
Thanks @sapegin ! PR is #926

I just added the config file and start script, getting a bunch of errors in the console. Can you point me in the direction of what these errors are? Also in general, how do the components render in the style guide? Since they are all inheriting props, I was wondering where the props are coming from. Thanks!

[2018-04-05 18:34] robcaldecott commented on #793
On 7.0.4 and still seeing this. :(  I'll try my sample.

[2018-04-05 20:48] roblevintennis opened #928 "Nested spans and divs get a mangled structure"
I've got a test case here:
https://github.com/styleguidist/react-styleguidist/pull/927

Here's screen shot of examples/basic
![image](https://user-images.githubusercontent.com/142403/38390973-bffed6a2-38d7-11e8-83c8-d04a101fc5ee.png)

Here's in our design system where we discovered:

![image](https://user-images.githubusercontent.com/142403/38391011-dde88bae-38d7-11e8-8054-4bbb23af8502.png)

Note,

[2018-04-06 06:44] sapegin commented on #928
Anyway, I can reproduce it at [markdown-to-jsx](https://probablyup.com/markdown-to-jsx/), so it should be reported there.

[2018-04-06 06:44] #928 closed

[2018-04-06 17:56] okonet commented on #892
I think this could be super useful. Any plans on PR?

[2018-04-06 17:58] okonet commented on #833
AFAIK `github-slugger` takes care of repetitions but in order for that to work all heading needs to be "exposed" globally.

[2018-04-06 18:43] viljamis commented on #892
I think @rafaesc maybe had ;-)

[2018-04-06 19:06] rafaesc commented on #892
haha maybe @viljamis, but how you said it would be better to receive more feedback to develop this feature. Actually, I think that this feature would start in react-styleguidist and then with vue

[2018-04-07 08:13] okonet opened #930 "Isolate components with `position: fixed`"
Currently, elements with `position: fixed` will be positioned relative to the `body` element which holds the styleguide. But ideally those elements should remain inside example's wrapper elements.

Example:

![2018-04-07 at 10 12](https://user-images.githubusercontent.com/11071/38452837-313c92b2-3a4c-11e8-9f26-0571cd5ddea3.png)

You can see an example of faulty positioned element live at https://r

[2018-04-07 08:14] okonet commented on #930
Thanks @didoo for the post and getting to the bottom of it!

[2018-04-07 08:33] okonet commented on #258
I think that SSR + lazy loading should give the ultimate perf boost if we're talking about loading times.

I've tried DllPluging on several projects and didn't see any improvements in build times ¯\_(ツ)_/¯

[2018-04-07 08:35] okonet commented on #258
Related #330

[2018-04-07 11:28] sapegin commented on #930
I don't think we should do it for all examples by default, but we can implement it as a modifier.

[2018-04-07 11:46] okonet commented on #930
Why not doing it for all? The only implication I can see is possible jank with lots if elements. Not sure it’s critical for this kind of project.

How would you pass the modifier to the wrapper? AFAIK there is no way to it now.

[2018-04-07 12:27] sapegin commented on #930
I don't like having `translate3d` for all examples, especially for a feature that is useful for 0,1% of examples.

That's another question, if it's not done yet, it's not difficult to do.

[2018-04-07 12:34] sapegin commented on #930
One side effect I already see: it switches text antialiasing to grayscale.

[2018-04-09 02:52] ZxBing0066 commented on #823
Is there an option to simply ignore components expose to the global? like this below add a `doNotExposeToGlobal` option to section?

[code]

[2018-04-09 03:12] ZxBing0066 commented on #325
Is there an option to simply ignore components expose to the global? like this below add a `doNotExposeToGlobal` option to section?

[code]

Or add an `functional` option `shouldComponentsExposeToGlobal` to the config.

config in styleguide:
[code]

change source code:
[code]

[2018-04-09 16:32] roblevintennis commented on #928
![image](https://user-images.githubusercontent.com/142403/38510136-e9ccaf14-3bd8-11e8-977b-8bef139a86f1.png)
seems to work fine from their wysiwig

[2018-04-09 20:57] celiolatorraca commented on #919
Thanks for you help @sapegin !!

Indeed that is the problem!
For now, I did a workaround scopping all my `blocks` with the package name...
Something like:

[code]

But with that ugly workaround, I have to require my own components in examples as you sad before...

Di you know if there is a way to use ES6 in example?

Thanks!

[2018-04-10 12:11] glensomerville commented on #850
I'm running into this same issue with Styled Components and TypeScript. Any suggestions on what might be going wrong here?

Error:
`Warning: src/components/Buttons/MediumButton/MediumButton.tsx matches a pattern defined in “components” or “sections” options in your style guide config but doesn’t export a component.`

https://github.com/glensomerville/react-styled-components-styleguide-ts

[2018-04-10 14:05] janhoogeveen commented on #930
Better option imho; seperate the layout container (position fixed) from the component itself. The component itself ideally doesn't know anything or assume anything about its place on the screen.

[2018-04-10 15:51] viljamis commented on #892
@rafaesc Definitely makes sense to do it first here if you’re anyway bringing most of the features from React Styleguidist to Vue Styleguidist. Makes sense to try to keep these two projects as aligned as possible.

**A few thoughts:**

* Would it be possible to do this in a way which doesn’t remove the isolated mode?
* I personally find the current `pagePerSection`setting name a little confusing i

[2018-04-11 05:49] glensomerville commented on #850
Yes, the example repo can be found here: https://github.com/glensomerville/react-styled-components-styleguide-ts

Thanks for looking into this.

[2018-04-11 06:29] glensomerville commented on #850
Oh, and by the way, if I change a direct styled-component export to a SFC, then it is picked up correctly.

e.g. instead of exporting a styled element directly, as in https://github.com/glensomerville/react-styled-components-styleguide-ts/blob/master/src/components/Buttons/MediumButton/MediumButton.tsx, it will work if I change it to:

`
import * as React from 'react';
import { styled } from 'them

[2018-04-11 07:48] okonet commented on #892
I hear you. I don't like it either so I'd say we should make a breaking change.

What I was thinking lately is to move all global settings related to sections to sections themselves and make them apply per section.

I think this would make styleguidist even more flexible. Would this solve the problem?

[code]

cc @sapegin

[2018-04-11 08:40] viljamis commented on #892
@okonet That sounds like a great idea! 👍

The ability to turn of code and usage would be great as well as now I (and a few of my clients too) have been hiding things awkwardly in SCSS case-by-case. I think all in all this would make styleguidist much more flexible for larger documentation needs.

[2018-04-11 08:42] viljamis commented on #892
@okonet so that I understand correctly… would turning `isolated` option on show everything under that section on separate pages? and giving it value `false` would do the opposite and show everything on the same page? If yes, sounds perfect.

[2018-04-11 08:55] sapegin commented on #892
If you can agree on The Perfect API and send a PR I'm fine with a breaking change ;-)

Honestly I don't have a strong opinion on how it should look, but ability to toggle things per section looks like a good idea.

[2018-04-11 14:49] vashchukmaksim opened #935 "rsg-components/Props/util.js: TypeError: Cannot read property 'replace' of null"
Sorry, don't know how to create the issue properly since I can't say how to reproduce it and what exactly cause it, but I faced up an error message after successful build on the localhost:6060 index page that said:

`TypeError: Cannot read property 'replace' of null`

I found a place where it occurs: `rsg-components/Props/util.js` in the `unquote` function.

[code]

And if we roughly change it to

[2018-04-11 21:40] rafaesc commented on #892
@sapegin great!

It's a good idea abstract the setting per sections
@viljamis but when you disable `showCode` or `showUsage`, it only collapse the table, but the table still visible if you click on the title. I think that you want that in that situation it is hidden. So adding @okonet suggestion, could be this:

[code]

But it needs to add the `pagePerSection` and the split for depth (`sectionDept

[2018-04-12 07:02] sapegin commented on #935
That's definitely not a fix: that will just hide  and error instead of a fixing the root cause. But with this amount of details I couldn't do anything. Most likely one of your components has something unusual that causes the error, but you need to find it, and then:

[2018-04-12 07:25] vashchukmaksim commented on #935
Absolutely this is not the fix. I just meant that there is nothing else broken since we hide an error. I'll try to investigate further but there is almost no information on what and where it can be.

[2018-04-12 12:43] sapegin commented on #919
You can use ES6, except modules ;-) because Buble doesn't support them.

[2018-04-13 06:51] viljamis commented on #892
@rafaesc @okonet I feel like it would be really useful to be able to do this per section (of course there needs to be a global default too). That way you could easily combine these kind of “overview” sections with guidance with sections that have separate views for each component.

[2018-04-15 23:38] santaclauze opened #936 "Launching with command that auto configures serverPort?"
Hi,

I am working with your library more and more and its awesome! So much that i am working on multiple modules that have styleguidist.

### My issue is that:

Following the documentation it seems that the port used by styleguidist seems to be `6060` by default and that it can only be changed with `serverPort` , in the `styleguide.config.js`.

This is a pain as I do not want to change the config

[2018-04-16 13:12] okonet opened #937 "mini-html-webpack-plugin not being ignored by styleguidist"
Documentation says:

Unfortunately since react-styleguidist migrated to https://github.com/styleguidist/mini-html-webpack-plugin recently, it isn't being ignored which causes weird errors like this one:

![2018-04-16 at 15 11](https://user-images.githubusercontent.com/11071/38810943-7ed36cec-4188-11e8-9c6e-17288fa632e6.png)

[2018-04-16 14:09] okonet commented on #892
@rafaesc Instead of introducing more options, I'd suggest to use variance instead:

[code]

Apart from the face it's less options, this won't allow you to create impossible state like in case with `hideCode: true` and `collapseCode: true`.

I'd say, children sections inherit settings from parent.

[code]

[2018-04-16 15:04] sapegin commented on #896
@kopax Please point me to the docs that weren't updated? There are enough examples of the new API.

[2018-04-16 15:45] okonet commented on #750
@sapegin I might need this and could work on this. I'm not sure about the second step, though. Any pointers?

[2018-04-16 16:50] kopax commented on #896
@sapegin I was speaking of the release breaking change here :
 https://github.com/styleguidist/react-styleguidist/releases/tag/v7.0.0

is there any extra documentation you are thinking about? I would gladly upgrade my styleguidedist.

[2018-04-16 21:16] rafaesc commented on #892
@okonet that's better.

if everybody agree it, so I can create the PR.

[2018-04-17 08:02] okonet commented on #892
@rafaesc would be great if you could work on it!

[2018-04-18 09:27] okonet opened #942 "Error about taken port not correctly shown (listen EADDRINUSE 0.0.0.0:6060)"
Instead of getting a nice error from #924 I'm getting the following:

[code]

[2018-04-18 09:33] sapegin commented on #942
You can try to run it with webpack 3 to be sure. It's possible that the reason is the webpack update.

[2018-04-18 09:40] mirague commented on #325
Facing the same issue with a custom component `Image`. Now it no longer works to create an actual `window.Image` instance.

[2018-04-18 11:41] #937 closed

[2018-04-18 23:41] rafaesc opened #943 "Error Isolate example with content markdown"
Taking the section example, with this styleguide.config.js

[code]

Appear this issue:

![image](https://user-images.githubusercontent.com/10201025/38963017-9d5a9df8-4335-11e8-8e56-8d867023fdd8.png)

Because it don't have components

[code]

[2018-04-18 23:59] kopax opened #944 "How to migrate template.html from v6 to v7"
I have read the release page.

We are stuch and failed upgrading our webpack html template with the new one that use htmlwebpackmini plugin to upgrade react-styleguide from v6 to v7.

How do you insert your template in the latest version v7?

[2018-04-19 05:46] kopax opened #945 "Invariant Violation: PreviewComponent(...): Nothing was returned from render. This usually means a return statement is missing. Or, to render nothing, return null."
styleguide version: 6.5

For some reason, when I write too long example, it does not render the jsx of the demo  :

This is my markdown:

[code]

The first example can't get rendered it always return null, so I had to separate in two examples.

I have tried all the synthax from https://react-styleguidist.js.org/docs/documenting.html

Is anyone aware of that bug?

[2018-04-19 06:15] ZxBing0066 opened #946 "How to dynamically load sections and components"
Is there any way for me to dynamically load sections and components in styleguide config?
Once I add a component, I need to add section config and components and then restart styleguide, I don't want to restart everytime.

[2018-04-19 06:40] sapegin commented on #944
https://react-styleguidist.js.org/docs/configuration#template
https://react-styleguidist.js.org/docs/cookbook.html

[2018-04-19 06:40] #944 closed

[2018-04-19 06:42] sapegin commented on #945
Please try with the latest version and create a reproducible demo.

[2018-04-19 06:44] sapegin commented on #946
No, we won't do that, it's not worth it.

Don't create a new section for each component, use glob patterns.

[2018-04-19 06:44] #946 closed

[2018-04-19 11:57] #945 closed

[2018-04-19 13:25] kumarpatel commented on #675
FYI. https://github.com/styleguidist/react-styleguidist/pull/816

[2018-04-19 16:39] kopax opened #947 "How to get propTypes from used component"
I am using react-styleguide `7.0.7`, I want to wrap a component before connecting, but by doing this, all my table props are disappearing.

I have tried to write it in many ways, for example, this only display one table with `size`

[code]

How can I display all the `propTypes` of my component?

[2018-04-19 18:44] pnepe6 commented on #98
We would like to have a site next to our documentation, I've been trying to implement react-router-redux but I can't get wih this configuration another path served than `/`. Every created route return 404. any idea

[2018-04-20 00:31] santaclauze opened #948 "Animation Frame Fired - Performance dev tools"
Hey,

I have been bench-marking our doc and it shows that the `Preview` component is calling a function `Animation Frame Fired`.
![nanimationpreview](https://user-images.githubusercontent.com/17665998/39024690-a8477788-4496-11e8-9da9-f930c3b9c7db.png)

![preview](https://user-images.githubusercontent.com/17665998/39024691-aa3607da-4496-11e8-8109-d4fe82492b67.png)

I saw in your doc that you pass p

[2018-04-20 08:26] kopax commented on #948
I think this is a requirement for styleguide to process the js inside the example.
When you got lots of components (like 50) rendered in this page, the time to process is about 30 seconds, this is why you should always include in the template HTML a loader directly.

Another way to get over this problem would be to remove components from the massive rendering you are doing.

Probably that `react-r

[2018-04-20 11:11] vysinsky opened #949 "HTML in markdown not rendering correctly since v7"
Hi, I've just upgraded to version 7 and HTML is not rendering as it was in previous version. I have this HTML in markdown file:

[code]

In version 6 it renders correctly (blockquote with correct classes):
![image](https://user-images.githubusercontent.com/3693578/39047941-123015b0-449c-11e8-9735-64a7fc855efc.png)

But in version 7 there is bloquote with class added by styleguidist - it does not p

[2018-04-20 11:14] vysinsky commented on #798
Hello, it seems to be broken again in 7.0.7 (also in 7.0.5). I have this list directly in MD file (not in component example)

[code]
Styleguide renders `(for IE < 10)` as `(for IE &lt; < 10)`.

[2018-04-20 13:47] gCardinal opened #950 "Documenting components with TypeScript - Can't document with interactive playground"
I'm having trouble getting TypeScript components to render... I've created a demo repo here: https://github.com/gCardinal/styleguidist-no-render-demo. I couldn't use the example repo since it's based on JS. I'm using Docker in the repo.

At first I thought it was because I'm using TypeScript, but... Even rendering a simple `<div>Foo</div>` breaks down. I'm not sure what I'm doing wrong here.

Mark

[2018-04-20 14:09] vysinsky commented on #798
I've just checked and last version it is working correctly is 6.0.33.

[2018-04-20 14:10] vysinsky commented on #949
I've just checked and last version it is working correctly is 6.0.33.

[2018-04-20 14:22] Neglexis opened #951 "Clicking the title when using pagePerSection will result in a faulty URL"
When my config contains the `pagePerSection: true` parameter, the components have a separate page as expected.

However, when clicking the title, the page tries to navigate to the component as it would've not had its own page.

E.g.

Component on page

`http://localhost:6060/#!/Draggable`

will have its title redirect to

`http://localhost:6060/#draggable`

[2018-04-20 21:19] giocodes opened #952 "updateExample setting to include encoding (value.substring is not a function)"
While using the [documentation example](https://react-styleguidist.js.org/docs/configuration#updateexample) for the `updateExample` setting I was getting the following error on the UI: `value.substring is not a function`

While debugging I realized that `fs.readFileSync(filepath)` was returning the Buffer instead of a string.

I was able to fix it by simply passing an encoding setting:

`content:

[2018-04-22 07:51] lgordey commented on #798
This issue was about `buble` bugs related to https://github.com/Rich-Harris/buble/issues/104 and https://github.com/Rich-Harris/buble/issues/107
It should correctly work in `6.2.4` after we updated to `buble@0.19.2` here https://github.com/styleguidist/react-styleguidist/pull/815.

[2018-04-23 02:38] huchenme commented on #875
Unfortunately this happen to me as well

[2018-04-23 07:24] vysinsky commented on #798
I've checked `6.2.4`. Still does not work (buble `0.19.3` is installed). Should I report directly to `buble`?

[2018-04-23 07:49] lgordey commented on #798
I guess at first we should find the real problem.
Could you make a demo with the last version where it works and broken one?

[2018-04-23 08:49] vysinsky commented on #798
Sure, there is a demo: https://github.com/vysinsky/styleguide-demo

There are two branches:

- master with latest styleguide does not work
- working - styleguide 6.0.33 is used

[2018-04-24 02:54] santaclauze commented on #705
Problem not yet solve?

[2018-04-24 08:45] vysinsky commented on #949
There is a demo: https://github.com/vysinsky/styleguide-demo

There are two branches:

- master with latest styleguide does not work
- working - styleguide 6.0.33 is used

I've added also built styleguide folder.

[2018-04-24 09:07] philwolstenholme commented on #936
@santaclauze you could use https://github.com/indexzero/node-portfinder to set an open port automatically?

[2018-04-24 09:42] davidpelayo opened #953 "What's your recommendation on showcasing sticky React Components within React-Styleguidist?"
In our [project](https://github.com/lodgify/lodgify-ui), we are using this awesome tool for presenting the development of the React components and widgets. So far so good.

Now, I need to seek the proper way to present sticky elements with working examples.
Initially, I though of just writing within a blank document a small React based JS example to render the component to show in a new tab, after

[2018-04-24 21:47] santaclauze commented on #936
@gergely-nagy, that would be great.

TBH, my family life make it hard to spend time on side projects and I am a dev in the making, so it takes even longer.

As for now, a quick and not elegant way was to add the following line in the [scrip file](https://github.com/styleguidist/react-styleguidist/blob/master/scripts/schemas/config.js)

`
	serverPort: {
		type: 'number',
		default: parseInt(process

[2018-04-25 05:14] n1313 commented on #953
Sticky components? Are you talking about position: sticky?

If yes, I would recommend adding a button that toggles visibility of the component in your example. The component is hidden by default, click the button to show, click the button to hide. Very useful for things like modal windows, popup notifications, or elements with position: fixed or position: sticky. Alternatively you can add a specia

[2018-04-25 22:14] santaclauze commented on #947
I think the issue is also related to this post #705.

[2018-04-26 08:36] ptbrowne commented on #877
Hi,

I had the same need and eventually came up with a solution that is a bit hacky but works fairly well.

- https://github.com/cozy/cozy-ui/blob/master/react/examples.spec.jsx
- https://github.com/cozy/cozy-ui/blob/master/react/testFromStyleguidist.js

It enables me to write

[code]

and the html result of the code sections in `FolderName/Readme.md` are snapshotted.

It is a bit hacky since I do

[2018-04-27 05:53] kopax opened #957 "Where is component Styled in rsg-component ?"
Hi, I am using 7.0.7 and I am reading this part of the documentation :

https://react-styleguidist.js.org/docs/configuration.html#styleguidecomponents

I am looking at this line : https://github.com/styleguidist/react-styleguidist/blob/master/examples/customised/styleguide/components/Logo.js#L3

When I try to install `rsg-components` to use the styling HoC utility :

     npm install --save-dev rs

[2018-04-27 05:57] kopax commented on #957
Found in :

    import Styled from 'react-styleguidist/lib/rsg-components/Styled';
    import Logo from 'react-styleguidist/lib/rsg-components/Logo';

[2018-04-27 05:57] #957 closed

[2018-04-28 01:08] crobinson42 opened #958 "index.jsx and ComponentName.md don't play nice together"
Our projects follow a component directory naming convention which uses `index.jsx` as the component file name and this does not work with Styleguidist. Styleguidist still shows the components based on component naming but not the .md code examples, ie:
[code]

The only way for this to work with Styleguidist is by naming `Button.md` to Readme.md or renaming `index.js` to `Button.jsx`. Is this somet

[2018-04-28 05:45] n1313 commented on #958
There are some configuration options that might be helpful here:

https://react-styleguidist.js.org/docs/configuration.html#components
https://react-styleguidist.js.org/docs/configuration.html#getexamplefilename

[2018-04-29 13:13] okonet commented on #720
Yes, just ran across this one. @pke can you create a PR please?

[2018-04-29 22:23] DylanLyon opened #959 "Importing components directly from JSON output of react-docgen?"
Hey all,

Since Styleguidist uses react-docgen, there should be a way to import a JSON output from react-docgen, right? Due to some incompatibility that exists between my code and the way Styleguidist parses components, it's infinitely easier to use react-docgen first to spit out some JSON of my JSDoc compliant comments and then import that into Styleguidist.

Is there currently a way this can be

[2018-05-01 21:40] wayspurrchen commented on #519
Is it possible to disable this functionality on-demand? I want to try to develop against components directly within my styleguidist server, and runtime errors that I want to diagnose and fix are cleared whenever I refresh the page.

[2018-05-02 11:24] kopax commented on #705
@sapegin, does #657 solved the issue with redux and propTypes tables?

We still cannot get propType table if the component is connected with redux. We had to split our UI component and the connect logic in order to be able to display our propTypes.

[2018-05-02 11:45] sapegin commented on #705
I don't know, try it ;-)

[2018-05-02 14:42] kopax commented on #705
@sapegin, well, as I said, we have tried. As an user and the main maintainer, did you experience issues while trying to generate the documentation for `react-redux` ?

[2018-05-02 15:10] kopax commented on #212
@tizmagik thanks for opening this as I think this is a major improvement.
We have developed the documentation for the following lib :

- https://bootstrap-styled.yeutech.com/

We first thought that the dev mode was making it slow, but in fact, it appear the production takes about 30 seconds to load our page. We will implement a spinner pre react app to make things loading in a decent way.

We expe

[2018-05-02 15:17] kopax commented on #162
@jurgob , I am using redux-saga in a documentation and I have tried to use your snippet to remove the runtime generator error.

updateWebpackConfig config option was removed. Use "webpackConfig" option instead:
https://react-styleguidist.js.org/docs/webpack.html

I have found the old instruction here:  https://github.com/styleguidist/react-styleguidist/blob/0c7fdc10f0c85bf9aa1c8141d3ef3ad00e19db87

[2018-05-02 23:08] ivasilov-h4 opened #960 "Styleguidist build doesn't work because of System.import"
The change introduced in #901 broke the build process of the Styleguidist. When trying to build my styleguide, I receive:

[code]

I'm using webpack 3.10.0.

[2018-05-03 07:08] #960 closed

[2018-05-03 07:09] sapegin commented on #959
I'm not really sure what problem you're trying to solve but feel free to send a pull request.

[2018-05-03 07:10] #953 closed

[2018-05-03 07:12] sapegin commented on #952
I think the example wasn't really tested, so your'e change should be fine. And a PR for that would be super awesome!

That would be super cool too! Thank you!

[2018-05-03 07:14] sapegin commented on #951
#941 _may_ fix that.

[2018-05-03 07:32] sapegin commented on #950
I'm not sure I want to install Docker just to run the code…

[2018-05-03 09:08] sapegin commented on #949
Feel free to send a pull request with a fix.

[2018-05-03 09:12] sapegin commented on #948
Feel free to send a pull request that improves performance.

[2018-05-03 13:10] gCardinal commented on #950
You shouldn't need it, simply running `npx styleguidist --config ./config/styleguide.config.js server` as usual should work. I just felt it would be easier with Docker. I've added this command to the `README.md`.

[2018-05-03 19:32] rodgerpaulo commented on #162
@kopax you rock!

[2018-05-03 22:48] mealeyst opened #963 "TypeError: Object.entries is not a function"
This is no longer an issue for me, but I just wanted to make sure that other devs don't run into the same issue that I did. When I was trying to add scripts via the template in the styleguide.config.js file, I kept receiving the following error:

`TypeError: Object.entries is not a function`

This was my configuration:

[code]

I spent a bunch of time trying to create an example that matched the s

[2018-05-04 04:10] kopax commented on #948
@sapegin we are seriously considering improving the lib. Only issue is that we miss information from the author to get started with the work.

I would rather start with #705, I am not familiar with your work and I'd like you to share the flow for the table rendering and the example rendering. Which files should I edit, where does it happen, if you can share such information, I will dig into the co

[2018-05-04 06:28] mr-winter opened #965 "TypeError: Cannot read property 'name' of undefined"
When defining an example block in a markdown file that's not related to any component, opening the example in isolation mode causes a TypeError.
This is because there is no component associated retrieve the name from.

[code]

To reproduce check out
https://github.com/mr-winter/example/tree/issue-pagetitle

[2018-05-04 07:28] sapegin commented on #963
We don't use `Object.entries`, are you sure it's from Styleguidist?

[2018-05-04 07:55] styleguidist-bot opened #967 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-05-04 08:15] bjmin commented on #762
Hi, is this not working anymore?
I've tried add `<style />` tag in `.md`, but its content turns out to be converted to `<p />` in `<style />` tag, which block the style inject.
any idea?

current version: 7.0.9

[2018-05-05 02:31] jedmao commented on #162
I have the same desire as @aaronjensen. We have an existing project and I really just want to use our existing webpack + PostCSS configuration and serve the styleguide in a new route.

@sapegin it sounds like you're open to the idea requested by the OP and I think the only thing that would make sense is to:
1. Move the RSG components (and perhaps other stuff) into a separate project.
1. Keep _only

[2018-05-07 06:34] bjmin commented on #922
Hi, seems https://github.com/probablyup/markdown-to-jsx/issues/170 had been fixed
should we upgrade `markdown-to-jsx` version?

[2018-05-07 22:34] kidkuro opened #968 "Add a "View HTML" button"
Many design systems can be used simply as a CSS library as well as React component library.

The styleguides document how to use the components both as React and as pure HTML with CSS classes. E.g.: https://designsystem.gov.au/components/buttons/

We are using Styleguidist and would like to add a "View HTML" button next the the "View Code" button that presents a read-only view of the currently ren

[2018-05-08 01:06] bugzpodder opened #969 "Using import/export in styleguide examples"
I want to able to write examples using import syntax, but currently I have to convert them to require.
What is the reasoning around this (node v6?) and is there anyway around it?

I was able to work around by writing the code in es6 this by using babel to transpire the example, but the source code displayed is the babel transpiled version and even less ideal.

updateExample: function(props, exampl

[2018-05-08 05:09] kidkuro commented on #968
I have a basic working version locally. I split a `CodeEvaluator` component out of `Preview` which does the code compilation and creates the `WrappedComponent` to be rendered by the `Preview` component.

A new `HtmlViewer` component is loaded as a second example tab, which receives the `code`, creates a `CodeEvaluator` and renders it into a detached `div`. When render is complete it displays the `

[2018-05-08 06:33] bugzpodder commented on #969
Ok  found the source for examples loader and it seems pretty complicated...

[2018-05-08 07:16] sapegin commented on #968
I'd not include it in the core, but that could be a good plugin, so any help with [the plugin API](https://github.com/styleguidist/react-styleguidist/pull/505) and making Styleguidist components more flexible would be super cool ;-)

[2018-05-08 07:17] sapegin commented on #969
https://react-styleguidist.js.org/docs/documenting#writing-code-examples

[2018-05-08 07:17] #969 closed

[2018-05-08 07:22] #952 closed, assigned to nobody

[2018-05-08 07:52] #967 closed

[2018-05-08 08:18] jbovenschen opened #970 "Use mdx instead of markdown-to-jsx."
Before I would submit a PR to `react-styleguidist` I want to know what your opinion would be about using [mdx](https://github.com/mdx-js/mdx) instead of markdown-to-jsx.

It would basically works the same as `markdown-to-jsx`, only that it comes with some more handy features to customize the templates.

**The problem**
It is now not possible to import custom components within styleguidist without

[2018-05-08 16:59] bugzpodder commented on #970
Nice, exactly what I'm looking for!

[2018-05-08 18:42] dfredriksen commented on #11
Link to FAQ is broken

[2018-05-08 20:41] stephtr commented on #922
It [isn't fully fixed](https://github.com/probablyup/markdown-to-jsx/pull/175#issuecomment-387533914) at the moment and since yarn/npm by default install the most recent version, I don't see the need for updating the dependency (at least now).

[2018-05-08 21:59] kidkuro commented on #968
Ok, I'll have a look into that, though I am limited for time.

In the meantime, I'll raise a couple of tickets and PRs to fix a bug in the slots `onClick` logic, and refactor `CodeEvaluator` from `Preview` to separate the responsibilities and make the `CodeEvaluator` available for a plugin slot to use (even if the `HtmlViewer` wouldn't be included in Styleguidist).

[2018-05-08 23:47] kidkuro opened #971 "Slot onClick handler calls previous slot's onClick"
There's a small coding bug in `Slot.js` where `props` is reassigned in a loop, so the `onClick` handler of all slots after the first end up delegating back to the first slot's `onClick`.

It's hard to produce a demo for this, it's more future proofing for custom slots. I'll create a PR with a unit test.

[2018-05-09 00:14] kidkuro opened #973 "Allow Editor to be configurable"
**The problem**
The `Editor` component can only be configured via context. It would be useful for plugins to also use the `Editor` with different `editorConfig`

**Proposed solution**
Add an `editorConfig` prop to `Editor` that would override settings provided by context, e.g.:

`<Editor code={html} editorConfig={{ readOnly: true, mode: 'text/html' }} />`

I will create a PR with this change in it

[2018-05-09 00:26] kidkuro opened #975 "Split code evaluation component out from `Preview`"
**The problem**
The current `Preview` component does 2 jobs: it compiles and evals a code string to create a component, and it displays that created component. It would be useful to plugins to use just the code evaluator component separately from the `Preview`.

**Proposed solution**
Refactor `Preview` splitting it into `Preview` and `CodeEvaluator`.

[2018-05-09 01:53] kidkuro opened #977 "Pass evalInContext to Slot"
**The problem**
In order to support a proposed "show HTML" slot plugin, the `Slot` component will need access to `evalInContext` which is passed to the `Playground` so that it can use the `CodeEvaluator` proposed in #976.

**Proposed solution**
Update `Playground` to pass `evalInContext` to `Slot`

[2018-05-09 02:25] bjmin commented on #922
thanks, it works as you said.

[2018-05-09 05:50] Alxandr commented on #892
Regarding linking to sections on a page, it should probably actually be something like `#/Components#Button`.

[2018-05-09 07:51] sapegin commented on #968
Sounds great!

[2018-05-09 07:57] sapegin commented on #970
Could you elaborate on that? You can `require` any component inside an example now. And `import`s won't work anyway, because Buble doesn't support them.

It would be a breaking change — users will have to rewrite _all_ their examples, it would make viewing Markdown files as Markdown (for example on GitHub) impossible, because examples are just text. We need to have a very good reason for this chan

[2018-05-09 08:29] jbovenschen commented on #970
Could you elaborate on that? You can require any component inside an example now. And imports won't work anyway, because Buble doesn't support them.

As an example wtih markdown-to-jsx I need to do the following;
[code]
And then I can use the following within my markdown files;

[code]

It works but it will be directly available within every markdown template.
When using mdx I could do the followi

[2018-05-09 08:47] sapegin commented on #970
You can do the same now:

[code]

We only use markdown-to-jsx to render Markdown, examples are rendered separately and we have to transpile the code before running it in the browsers (we use Buble for that).

[2018-05-09 08:56] jbovenschen commented on #970
@sapegin I didn't know that, for me this was the only / main reason to request this change. Thank you for the quick response.

This would look as following in the markdown if I understand you correctly.
[code]

Mdx is also only used to render the Markdown it would not have anything to do with the code examples.

[2018-05-09 09:37] sapegin commented on #963
This should fix it: https://github.com/vxna/mini-html-webpack-template/pull/1

[2018-05-09 10:45] kidkuro opened #979 "Allow updates to readOnly Editor"
**The problem**

Currently the `Editor` component returns `false` from `shouldComponentUpdate`. However, if the `Editor` is configured to be `readOnly` via `editorConfig` it should be able to update. This would be necessary for plugins such as the proposed "View HTML" plugin in #968.

**Proposed solution**

Update `shouldComponentUpdate` in `Editor` to return `true` if `editorConfig.readOnly` and

[2018-05-09 17:34] kopax opened #980 "How to use the code editor to create an educational tool?"
**The problem**

I would like to create a documentation for student.

I expect them to do some sort of exercice, and from what I see, react-styleguidist is having a wonderful sandbox that work with react and can be configured with any library, simply amazing.

I want to add a feature, to be able to catch from the example:

- one or many console.log made by the user.
- global namespace (function, v

[2018-05-10 06:27] #963 closed

[2018-05-10 06:31] sapegin commented on #980
I'm not really sure what changes to Styleguidist are needed for your use case, or that Styleguidist is a better choice than Codesandbox for example.

But I've used Styleguidist in a similar way: https://github.com/sapegin/component-driven-development

[2018-05-10 09:27] kopax commented on #980
Hi @sapegin, test for your reply, I will have a look at Codesandbox for sure.
I've cloned the component driver development tutorial and I have not seen any input for the user to complete to achieve such interactive task in your documentation.

[2018-05-10 14:14] bjmin commented on #501
@sapegin need help here
@gnarmedia is your examples work?
I use `typescript`, `scss`, `babel-plugin-react-css-modules` together
but seems like `styleguidist` do not resolve stylesheet dependencies in the first place
i need to manually `require('.../**.scss')` in my example markdown file so the style can be loaded after

what should I do for fixing this?

here is component (likely)
[code]

here is

[2018-05-11 05:13] sapegin commented on #980
Yup, you have to edit files, that's why Codesandbox may be a better choice for you. In Styleguidist you  can only edit examples on the page: you could use that but there's no way to preserve changes.

[2018-05-11 08:44] GazzaHazza opened #981 "Rollup"
Hiya,

I have searched all of the internet and not found a answer to my question, so here it is.

Can `react-styleguidist` be used along side `rollup`?

Thanks

[2018-05-11 11:06] n1313 commented on #981
React-styleguidist uses webpack internally and cannot use rollup. Your code can use whatever bundler  you find the most fitting, it doesn't matter to react-styleguidist at all.

[2018-05-13 06:44] sapegin commented on #981
But you’ll need create a webpack config to load your files anyway.

[2018-05-13 06:59] #973 closed

[2018-05-13 07:39] #977 closed

[2018-05-13 14:03] stephtr commented on #922
FYI: Since the issue has been fixed (thanks to probablyup), I have submitted a pull request for updating the dependency (#982).

[2018-05-13 14:49] kopax opened #984 "Can't alias rsg-components using webpackConfig"
The code say :

	// Add components folder alias at the end so users can override our components to customize the style guide
	// (their aliases should be before this one
        webpackConfig.resolve.alias['rsg-components'] = path.resolve(sourceDir, 'rsg-components');

version: 7.0.10

We fixed it with:

	// Add components folder alias at the end so users can override our components to customize t

[2018-05-14 06:52] sapegin commented on #984
The comment is actually incorrect anymore, users should use [styleguideComponents](https://react-styleguidist.js.org/docs/configuration.html#styleguidecomponents) option.

[2018-05-14 06:52] #984 closed

[2018-05-14 06:57] #975 closed

[2018-05-14 13:57] kopax commented on #984
@sapegin we have hit this while trying to use the alias. I wonder why we should keep such a restriction, the `:fix` could be accepted as a `:feature` if not forbidden. Otherwise, this should be clearly stated in the documentation as a restriction.

[2018-05-15 11:51] #971 closed

[2018-05-15 14:05] JeSuis commented on #942
I get the Tapable warning on webpack 4 fyi

[2018-05-15 14:36] sapegin commented on #942
Feel free to send a pull request with a fix.

[2018-05-15 19:21] romanlex opened #986 "oneOf(Object.keys(SIZES)) is propTypes"
Hello
I see what supporting `Object.keys` in `react-docgen` is merged
https://github.com/reactjs/react-docgen/pull/211

When `react-styleguidist` add this support?

[2018-05-15 22:06] stereobooster opened #987 "Support for the experimental syntax 'dynamicImport' isn't currently enabled"
**Current behavior**

[code]

**To reproduce**

[code]

Demo is not based on template, but I guess this doesn't matter because issue is with `react-scripts@next`.

Issue happens with react-scripts@2.0.0-next.b2fd8db8 and react-styleguidist@7.0.14.

But not with react-scripts@2.0.0-next.b2fd8db8 and react-styleguidist@6.5.3.

**Expected behavior**

No error

[2018-05-15 23:12] milesj opened #988 "Allow some form of `fs` in examples"
**The problem**

We have a ton of icon components (auto-built from SVGs) that we want to display in the styleguide. It's very cumbersome doing this manually, so I was hoping to use `fs` (or `glob`) to find all the files, and then render them within examples.

This does not work as `fs` isn't available, and dynamic `require()` paths are not allowed.

**Proposed solution**

Not really sure on the be

[2018-05-16 06:51] sapegin commented on #988
I don't see any reason why `fs` wouldn't work when you require a file that uses it. Could you make an example repo?

[2018-05-16 07:00] sapegin commented on #987
I'm wondering why are they enabling Babel inside node_modules.

[2018-05-16 07:09] stereobooster commented on #987
Here is proposal for it https://github.com/facebook/create-react-app/pull/3776

[2018-05-16 07:13] sapegin commented on #987
I think we should open an issue there, because they say “Verify this doesn't break third-party code” — but it breaks ;-) And they don't have to _compile_ imports, just allow the syntax. Would you mind opening an issue at create-react-app?

[2018-05-16 07:14] sapegin commented on #986
As soon as someone sends a pull request with an update ;-)

[2018-05-16 07:14] stereobooster commented on #987
Yes will open

[2018-05-16 07:41] sapegin commented on #979
I think we can close it too ;-)

[2018-05-16 07:41] #979 closed

[2018-05-16 17:01] milesj commented on #988
I'll look into that. In the meantime, here are the others that webpack was throwing.

When using `glob` in the examples directly.
[code]

When using `glob` in a file that's imported.
[code]

Maybe it's because I'm not using `fs` directly?

[2018-05-16 17:53] sapegin commented on #988
The fist issue is correct: we can't support that.

The second: I don't want to guess ;-) I'd start from the simplest example.

[2018-05-16 17:54] milesj commented on #988
I'll tinker around a bit more and report back.

[2018-05-16 18:45] jmlivingston commented on #987
For what it's worth, I was able to successfully get this running by installing plugin-syntax-dynamic-import then add a .babelrc using create-react-app and react-scripts version 1.1.4. I'm sure mileage will vary.

[code]
*.babelrc*
[code]

[2018-05-16 20:37] ShyamRaj commented on #738
I still see this error in the latest version @7.0.14.

[2018-05-17 06:51] stereobooster commented on #987
create-react-app bug report confirmed. Will close this

[2018-05-17 13:03] jmlivingston commented on #987
Yeah, probably should have made that more clear. Maybe "successfully duplicated" would have been more clear? 🤷‍♂️

[2018-05-18 13:37] stereobooster commented on #987
@sapegin can you please take a part in the discussion in create-react-app 🙌. They try to understand if it is easier drop dynamic import in styleguidist or allow it in node_modules.  https://github.com/facebook/create-react-app/pull/3776

Thanks

[2018-05-18 14:13] sapegin commented on #987
I don't see any discussion there, is that the right link?

[2018-05-18 14:34] stereobooster commented on #987
Oh sorry, I meant https://github.com/facebook/create-react-app/issues/4477#issuecomment-390203747

[2018-05-18 19:28] milesj commented on #988
`fs` by itself also doesn't work FWIW.

[code]

[2018-05-19 04:13] atomicpages opened #990 "Support for documenting instance/static members?"
Is it possible to document variables in addition to public methods? I searched far and wide (and hopefully thoroughly)  yet saw nothing indicating Styleguidist supports documentation of variables.

[2018-05-19 06:31] sapegin commented on #990
Have you _tried_? I guess it won’t work though, and I’m not sure what we need to change to enable it to work similar to public methods. Could you show some use cases?

[2018-05-19 09:38] jbachhardie commented on #988
There's no way `fs` is going to be available in the browser context, I don't think. The files are going to have to be `require`d so that they're in the webpack bundle. Without dynamic `require` I think maybe your best bet is code generation, that is a Node or shell script that does scan the file system and writes a file with all the requires in it.

[2018-05-19 17:59] atomicpages commented on #990
Yep. Here's a practical example:

[code]

The above approach is [particularly common with semantic UI react components](https://react.semantic-ui.com/views/card).

[2018-05-21 16:11] sapegin opened #991 "Add some styles to <details> tag in Markdown"
**Current behavior**

![image 2018-05-21 at 6 08 54 pm](https://user-images.githubusercontent.com/70067/40317545-1edc2896-5d22-11e8-8f54-bdaf812b5d41.png)

![image 2018-05-21 at 6 09 21 pm](https://user-images.githubusercontent.com/70067/40317549-2050f0c6-5d22-11e8-9aee-271937e040bf.png)

**To reproduce**

Markdown:

[code]

**Expected behavior**

Default font in `<summary>`, some whitespace below

[2018-05-21 16:14] sapegin commented on #988
I think @jbachhardie is right, it's a webpack issue, not Styleguidist.

[2018-05-21 16:14] #988 closed

[2018-05-21 17:01] milesj commented on #988
@jbachhardie Great suggestion. Will give that a try, thanks!

[2018-05-23 09:32] LokeCarlsson opened #992 "Trying to use a custom wrapper"
**Current behavior**

I am following the steps provided in the [Cookbook](https://github.com/styleguidist/react-styleguidist/blob/master/docs/Cookbook.md#how-to-change-the-layout-of-a-style-guide) exactly.

I have tested implementing this wrapper to allow for react-intl to be used on example components in 2 different project as well as the demo repo provided below.

I am getting the following erro

[2018-05-23 11:54] #992 closed

[2018-05-23 13:33] selrond commented on #917
@sapegin somebody already published a modified version of this: [siddharthkp/react-docgen-external-proptypes-handler](https://github.com/siddharthkp/react-docgen-external-proptypes-handler)

[2018-05-24 21:19] stepancar commented on #127
https://design.alfabank.ru/components/

[2018-05-26 01:55] kevinbarabash commented on #430
I'm confused.  The initial question was about react-router but the proposed solution is for redux.  I've tried using react-router inside styleguidist examples b/c the styleguidist server only responds to `/` instead of `/*`.  Has anyone else run into issues with the server only responding to requests for `/`?

[2018-05-26 04:46] rafaesc commented on #430
@kevinbarabash I dont think that should integrate react router inside of react-styleguidist, for the reason that maybe it could generate a weird behavior because as much as react-router as react-styleguidis, both use hashs to link pages.

You can use this variable to create a condition `process.env.STYLEGUIDIST_ENV` and replace the Link component when try to render in react-styleguidist

[2018-05-26 05:35] kevinbarabash commented on #133
In addition to testing responsive designs, iframes could help with testing components that use react-router.

[2018-05-28 20:10] sapegin opened #994 "h5 should be different from body text"
**Current behavior**

![cloudapp annotation 2018-05-28 at 10 06 57 pm png](https://user-images.githubusercontent.com/70067/40628164-b481492a-62c3-11e8-8de9-e33f3bdff073.png)

**To reproduce**

Any Markdown with h5:

[code]

**Expected behavior**

Headings should look different from the body text, bold for h5 could work.

[2018-05-29 01:14] sterlingssmith commented on #994
@sapegin - I'd like to work on this issue.

[2018-05-29 06:53] sapegin commented on #994
@sterlingssmith Awesome! 🦄

[2018-05-29 12:16] kopax commented on #936
I've published a quick fix in the schema for `NODE_PORT`. I've checked detect-port, it look simple but its' async which doesn't fit well in the current pattern.

See #995

[2018-05-29 15:54] kevinbarabash opened #996 "support `import` statements and `flow` type annotations in code examples"
**The problem**
I'd like to be able to use `import` in code examples, but currently that isn't support b/c bublé doesn't support `import`/`export` statements.  I'd also like to be able to use flow type annotations.  I have a script that generates jest snapshot tests from the code examples.  I'd like to type check those examples as well, but bublé doesn't support flow either.

**Proposed solution**

[2018-05-29 17:50] jquense opened #997 "How do i override jss-isolate"
jss-isolate is extremely frustrating because it makes theming a styleguide very hard if you need to make blanket  changes for things that aren't theme variables. For instance i seem to have to manually override the styles for every. single. component. if I want the default font-weight to be something other than `normal`.

What is the value of this plugin in the context of a styleguide, The default

[2018-05-30 07:45] sapegin commented on #997
The reasons why we do this are explained here: https://react-styleguidist.js.org/docs/development.html

You _can_ disable jss-isolate per rule, but then there's no guarantee than your app styles won't break Styleguist UI:

https://github.com/styleguidist/react-styleguidist/blob/5c07e8125a7581a98661b0b45671001abec683de/src/rsg-components/Editor/EditorLoaderRenderer.js#L22-L25

Feel free to send a p

[2018-05-30 07:45] #997 closed

[2018-05-30 07:46] sapegin commented on #996
Please use search, it was discussed million times already and I believe both questions have open issues.

[2018-05-30 07:46] #996 closed

[2018-05-30 13:07] jquense commented on #997
disabling still seems to be on a per component basis. The frustrating bit here is that if I want something to cascade it's almost impossible. In this case `jss-issolate` forces every component to have a `font-weight` of `normal` (400), when our default weight is `300`, trying to change doesn't seem feasible?

I understand the need to isolate the chrome styles from the examples generally, but find

[2018-05-31 06:59] nichtich opened #1000 "Support linking pathlines to their source code in a repository"
**The problem**

I want to directly jump to source code of a component for instance the source file at GitHub.

**Proposed solution**

Extend PathlineRenderer to support linking the path. This requires an additional configuration key.

**Alternative solutions**

Hard-code the link into a locally modified copy of PathlineRenderer.js.

**Additional context**

To give an example at <https://react-sty

[2018-05-31 21:03] MercerK opened #1001 "Component Names matching React Constructors names (such as Map) can break Styleguidist"
**Current behavior**

I was working with a Map component and named it "Map" in my latest iteration within a TypeScript React application. Had no issues with the name. When trying to display it in Styleguidist, it spat out 1017 duplicate errors.

![image](https://user-images.githubusercontent.com/13123338/40808056-fc506f56-64f3-11e8-925b-50f2e27afd4d.png)

Upon looking at the source code, somehow m

[2018-06-01 12:43] hirppa opened #1002 "Styled components with Create React App"
I have a create react app setup and i got this message when i followed this document to add support for styled components https://github.com/styleguidist/react-styleguidist/blob/master/docs/Thirdparties.md.

[code]

I moved ThemeWrapper.js to ./src/ThemeWrapper.js and message disappeared.

[2018-06-01 14:39] rafaesc opened #1003 "Bug IE11, Object doesn't support property or method 'find'"
**Current behavior**

Error when you isolate a section in IE11

**To reproduce**

1. run `npm run start:sections`
2. click on an isolated section in IE

it shows on console
`Object doesn't support property or method 'find'`
of this file
https://github.com/styleguidist/react-styleguidist/blob/master/src/utils/findSection.js#L8-L10

**Expected behavior**

It should work

[2018-06-01 17:05] aabenoja commented on #1003
It's like a game of wack-a-mole, since I last fixed this in #912

[2018-06-01 17:08] rafaesc commented on #1003
Interesting, thanks @aabenoja
I have to update the PR and to use lodash

[2018-06-02 06:58] #1002 closed

[2018-06-02 06:59] sapegin commented on #1001
This was discussed many times with suggested fixes, please use search and feel free to send a pull request to fix that.

[2018-06-02 07:02] sapegin commented on #1000
Your alternative solution is the right way to do that.

[2018-06-02 07:02] #1000 closed

[2018-06-03 14:09] prajapati-parth opened #1006 "Style rendered component's parent"
**The problem**
Need to add additional styles to the parent element of the rendered component.

**Additional context**
Screenshot
<img width="1680" alt="ss" src="https://user-images.githubusercontent.com/17194534/40887382-b54e3dd0-6765-11e8-8550-bdd8f6eb8a49.png">

[2018-06-03 16:57] #1006 closed

[2018-06-04 00:41] kellyisworking commented on #850
Hi @glensomerville were you able to find a fix? *I think* I'm having the same issue.

[2018-06-04 10:02] selrond opened #1008 "`ignore` option not working properly"
**Current behavior**

When I try to use `ignore` options to ignore certain subfolder within included folder, it does not seem to work.

**To reproduce**

1. Clone [selrond/example at bug/ignore-not-working](https://github.com/selrond/example/tree/bug/ignore-not-working)
2. `npm start`

**Expected behavior**

`Pencil` should not show up in styleguide, as its' parent folder is ignored in sections:

[2018-06-04 18:03] sapegin commented on #1008
https://react-styleguidist.js.org/docs/configuration#ignore

[2018-06-04 18:03] #1008 closed

[2018-06-04 18:04] deanbrophy commented on #217
Just a note: I ran into this issue after ejecting create-react-app. The fix was adding a webpackConfig attribute to my `styleguide.config.js`.

[code]

[2018-06-04 19:00] selrond commented on #1008
@sapegin thanks, changed

[code]

to

[code]

now it works.

But anyway - there are places in the docs where it's encouraged to use globs, but the default is "not a glob" *(although - is it not, really?)*

[Example](https://react-styleguidist.js.org/docs/configuration#components):

See examples in the Components section.

How about that?

[2018-06-04 19:37] sapegin commented on #1008
The default for `ignore` is an array of globs:

`['**/__tests__/**', '**/*.test.{js,jsx,ts,tsx}', '**/*.spec.{js,jsx,ts,tsx}', '**/*.d.ts']`

Do you see any examples of the `ignore` options that aren't globs in the docs?

[2018-06-04 20:53] selrond commented on #1008
@sapegin look at my comment - the dafault string for components path - it's said to be a glob, although the default one is not

[2018-06-05 05:14] sapegin commented on #1008
I only see a glob in your example: `src/components/**/*.{js,jsx,ts,tsx}`.

[2018-06-05 06:06] selrond commented on #1008
@sapegin how is this different from mine `src/components/atoms/svg/**` (which I've tried as well, and doesn't work)?

[2018-06-08 08:12] lichangwei commented on #753
@sapegin @friedrith This problem was not fixed. I have a component named 'App' and in the webapp its dom id is 'app'. when render again, the app will be render inside App component section.
[Code](https://github.com/styleguidist/react-styleguidist/blob/master/src/index.js#L23)

[code]

[2018-06-08 17:10] pnepe6 opened #1010 "[Feature Request] Hability to extend schema configuration"
**The problem**

react-stylegudiist provide a way for using aliases to update rsg-components; but when it comes to extend the features, it becomes impossible to add configuration due to the way the sanitize fonction and webpack are linked together.

**Proposed solution**

Adding a new cli arguments: https://react-styleguidist.js.org/docs/cli.html

`--schemas` : it will contain the source to use to

[2018-06-08 19:00] kopax commented on #1010
Hi, we are looking for such way to extend the schemas too. I will prepare a PR very soon.

[2018-06-10 14:03] Jayphen commented on #621
@AndrewKarasek

Did you end up creating this fork? I have been trying a styleguide-first approach to development, but the missing type safety and other editor features makes it more difficult than it could be.

[2018-06-10 16:38] #970 closed

[2018-06-11 18:44] coreybruyere commented on #992
@LokeCarlsson running into a similar issue when trying to use a theme wrapper. Did you come across a solution?

[2018-06-12 11:14] cloudratha commented on #430
In my case I was able to use the `MemoryRouter` without affecting Styleguidist. Seems like the `Link` doesn't change the navigation. Which is perfect for my usecase.

[code]

[2018-06-12 18:19] glebez commented on #646
Good news, my PR for react-docgen to support `childContextTypes` was merged! So, now this issue can be addressed. If anyone wants to take a bite on that, go ahead! Otherwise, I'll try to give it a shot in a week or two, when things are a bit easier with my other projects.

[2018-06-12 20:33] NoMan2000 opened #1013 "Make Styleguidist respect the proxy config in react-create-app"
Styleguidist does not currently respect the `proxy` config in `package.json`.  So if someone is running `json-server` on port 8080, and has `proxy: http://localhost:8080`, any requests that Styleguidist makes will not proxy the request over.

Either respect the proxy config setting or have it as an optional configuration component.

[2018-06-12 21:30] jeffscottward opened #1014 "Babel 7 Upgrade"
**The problem**
When attempting to clone this repo (+my new components) into a `next.js` project, it errors out.

[code]

Note the modules `babel-preset-react` and `@babel/core`

Respective Babel configs here (Babel 7 vs Babel 6):

https://github.com/zeit/next.js/blob/master/.babelrc
https://github.com/styleguidist/react-styleguidist/blob/master/.babelrc

------------------------

**Proposed solut

[2018-06-12 22:29] kossel commented on #513
will it support emotion js?

[2018-06-12 22:46] jafin opened #1015 "Upgraded from Webpack 3 to 4.12 and couldn't get Styleguidist to run."
**Current behavior**

- Using React-Styleguidist 7.0.17
- Windows OS.
- Node 8.9.4

Upgraded Webpack from 3 to 4.12,
attempting to run Styleguidist produces a DeprecationWarning
(And warns that address is in use, but I don't believe it is)

**To reproduce**

Upgrade a functional setup from webpack 3 to webpack 4.12

I have **process.traceDeprecation = true;** set in the webpack.config.js
Running >

[2018-06-13 08:51] sapegin commented on #513
@kossel Please open a new issue if you have any _actual_ problems with Emotion.

[2018-06-13 08:51] sapegin commented on #513
Closing this for now, feel free to send more pull requests with documentation!

[2018-06-13 08:51] #513 closed

[2018-06-13 08:54] sapegin commented on #1015
This is only a warning, Styleguidist works fine with webpack 4 (at least it used to work with older webpack 4 releases).

In any case we can't do anything without a reproducible demo.

[2018-06-13 08:55] sapegin commented on #1014
Possible reasons:

* nobody sent a pull request for that;
* may not work with Create React App.

[2018-06-13 08:57] sapegin commented on #1013
Feel free to submit a pull request for that.

But in general your style guide should not depend on the backend.

[2018-06-13 14:26] treylon opened #1016 "Styleguide crashes when accessing invalid isolated urls"
**Current behavior**

When you access an invalid url (eg element name changed) in the isolated view (eg: http://localhost:6060/#!/ButtonTYPO ) the server crashes with an error and does not display a valid error nor provides any fallback.

**To reproduce**

As a demo just open your own styleguide instance, access a component in the isolated mode and change the url manually OR use this url: [http://

[2018-06-13 14:49] kossel opened #1017 "Proptypes doesn't show with @component annotation with emotionjs"
We are spliting the UI with the styling of our components, eg:
l
Button.jsx
[code]
StyledButton.jsx
[code]
PropTypes doesn't show in styleguide.

tried with `@component` annotation, without success (got warning `TypeError: Attempted to resolveName for an unsupported path. resolveName accepts a VariableDeclaration, FunctionDeclaration, or FunctionExpression. Got "CallExpression".`)

current our wor

[2018-06-13 17:16] NoMan2000 commented on #1013
I'll check it out and see how involved it is.

I might be doing this wrong, but the problem is that certain methods get invoked when a React component gets created, particularly fetching data from a server.  If no data is found, it throws an error.

Is there a way to override that in Styleguidist?

[2018-06-14 14:21] peroperje commented on #917
does it work? If yes, could you put an example of integration into `react-styleguidist`?
I have tried set up `react-styleguidist` with `react-docgen-external-proptypes-handler`  to get something like this :

commonPropTypes.js
[code]
MyComponent.js
[code]
but without success.

[2018-06-15 07:21] stepancar commented on #917
@peroperje look at MoneyInput propTypes https://github.com/alfa-laboratory/arui-feather/blob/master/src/money-input/money-input.jsx and to config for react-styleguidist
https://github.com/alfa-laboratory/arui-feather/blob/master/styleguide.config.js#L23
It uses https://github.com/alfa-laboratory/library-utils
which allow you use propTypes from another component.

[2018-06-15 09:20] peroperje commented on #917
Thanks, @stepancar.
I have tried but, unfortunately, it doesn't work for me.
I have instaled [library-utils](https://www.npmjs.com/package/library-utils) and when I put :
[code]
in my styleguide.config.js all propTypes for all components disappears from the documentation.

I am not sure what I do wrong.

[2018-06-15 17:45] milesj opened #1018 "Status icons in component list"
**The problem**

No idea which items in the component list are new, deprecated, or under development/experimental. A good example would be GitHub's guide: https://styleguide.github.com/primer/

**Proposed solution**

Update `ComponentsListRenderer` to display the status based on docblock tags, like `@new`, `@deprecated`, and `@experimental`. Tag descriptions would be shown in a tooltip.

**Alterna

[2018-06-15 22:41] stepancar commented on #917
@peroperje could you provide repo where you use react-styleguidist?
I'll try to help you

[2018-06-16 23:13] kopax opened #1019 "[Bug] inject many components at once produce setState error"
## Description

We are trying to inject all our component by default in the global scope as described in the documentation [here](https://react-styleguidist.js.org/docs/cookbook.html#how-to-hide-some-components-in-style-guide-but-make-them-available-in-examples).

## Expected

We expect to be able to use our component in the Wrapper scope.

## Result

We are having errors during setup step.

## Re

[2018-06-17 10:49] sapegin commented on #1014
Now I'm wondering what are you actually trying to achieve by doing this?

[2018-06-17 10:51] sapegin commented on #1018
That's a great idea for a plugin! Not sure we should support it out of the box, because different projects will have different idea of what status is. And your example with new/deprecated/experimental is just one of many ways.

[2018-06-17 10:55] sapegin commented on #1016
#993 will probably fix it.

[2018-06-17 10:57] #1017 closed

[2018-06-17 11:00] sapegin commented on #1019
You need to debug which _your_ component leads to this issue.

[2018-06-17 14:07] sapegin commented on #1013
I think [presentational and container components](https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0) is the right pattern here: you don't need containers in your style guide, only presentational components. It would be more convenient to use unit tests to test containers and mock network requests (with Nock, for example).

[2018-06-17 20:44] kossel opened #1020 "Proptypes doesn't generated with emotionjs"
My previous issue #1017

With emotion js (https://emotion.sh) I can't get prop-types generated in styleguidist without tricking it into a stateless component.

demo: https://github.com/kossel/example

Look at https://github.com/kossel/example/blob/master/src/components/EmotionStyledButton.js

export it in a normal way will not get prop types generated (line 13 - 16). my work around is to wrap it i

[2018-06-17 21:46] kopax commented on #1019
It seems to be the library. We have made our rsg-components with it, it must be some kind of circular dependency.

Sorry for disturbance,

[2018-06-17 21:46] #1019 closed

[2018-06-18 06:19] LokeCarlsson commented on #992
@coreybruyere The problem for me was the project structure, I had my custom Wrapper placed in the wrong folder. Might be the lib folder for you.

[2018-06-19 12:14] floede opened #1021 "Can't @import a global stylesheet"
Forgive me, I've tried everything I can to solve this supposedly simple thing, and I must be missing something super obvious.
Unfortunately questions on StackOverflow are clearly not getting a lot of attention.

So basically I'm trying to set up Styleguidist for our existing React app, that has quite a complicated webpack config.
For that reason I'm adding a webpack section to styleguide.config.js

[2018-06-19 13:17] stepancar commented on #917
@Heymdall, do you know about this problem?

[2018-06-19 13:20] sapegin commented on #1021
Your `css-loader` only works for files inside `src/styles`, but not in `src/component`, where you're trying to use it.

[2018-06-19 13:20] #1021 closed

[2018-06-19 13:32] sapegin commented on #1020
It does work when you use a template literal:

[code]

And when you don't, there's a warning:

So likely react-docgen doesn't support object notation.

[2018-06-19 13:56] Heymdall commented on #917
@stepancar We actually don't use this kind of components in our projects. But I will try to look into it today.

[2018-06-19 16:02] kossel commented on #1020
yup that worked! thanks! maybe this can added to the https://react-styleguidist.js.org/docs/thirdparties.html page as a caveat when using emotion js

[2018-06-19 18:17] floede commented on #1021
The example project works fine, ie it reads the css files in src/component without specifying a path.
I just assumed that include would add to that.

But could you tell me how to accomplish what I'm trying to do?
I've looked all over the webpack documentation, and I can't find anything.

[2018-06-19 23:31] shelldandy commented on #910
I still see this on the latest version 😢

[2018-06-23 00:37] jamalsoueidan commented on #1015
I had to delete both folders html-webpack-plugin and webpack-dev-server inside node_modules in react-styleguidist to get it work with webpack 4.

[2018-06-23 00:38] jamalsoueidan commented on #1015
Also in EditorLoader.js

[code]

[2018-06-23 18:05] jmiazga commented on #994
What would you like the font sizes to be? This is what they currently are:

[code]

Paragraphs also have a font size of 16px.

![image](https://user-images.githubusercontent.com/181441/41812307-78c4ae6a-76ee-11e8-9631-c78441e6ce9b.png)

[2018-06-24 09:42] sapegin commented on #994
We can make h5 bold and h6 italic.

[2018-06-24 10:11] #1003 closed

[2018-06-24 10:37] #1015 closed

[2018-06-24 10:37] #1014 closed

[2018-06-24 10:38] #1001 closed

[2018-06-24 10:38] #1013 closed

[2018-06-24 10:39] #981 closed

[2018-06-24 10:39] #919 closed

[2018-06-24 10:40] #935 closed

[2018-06-24 10:40] #959 closed

[2018-06-24 10:41] #980 closed

[2018-06-24 14:47] stepancar commented on #986
@romanlex , could you check, please?

[2018-06-24 15:31] stepancar commented on #990
@atomicpages Could you provide more realistic example?

[2018-06-24 15:34] stepancar commented on #958
@crobinson42 have you tried https://react-styleguidist.js.org/docs/configuration.html#getexamplefilename
?

[2018-06-24 16:31] #958 closed

[2018-06-24 17:10] yoksel opened #1025 "Navigation in V7.0.18 seems broken"
**Current behavior**

After clicking on first link (named App) in the nav, content jumps to the right and text becomes bigger.

_Before:_

![screen shot 2018-06-24 at 20 01 59](https://user-images.githubusercontent.com/2571308/41821495-3d7ae8f4-77ea-11e8-8ac7-8d91c6208833.png)

_After:_

![screen shot 2018-06-24 at 20 02 29](https://user-images.githubusercontent.com/2571308/41821497-410d4b7e-77ea-

[2018-06-25 07:52] romanlex commented on #986
it's doesn't work(
[code]
![image](https://user-images.githubusercontent.com/3369304/41837350-e3f228a2-7865-11e8-8c72-ef5f451b107d.png)

[2018-06-25 12:50] sapegin commented on #1025
This is weird:

* The base example works fine with 7.0.18.
* With your example it's broken even in 7.0.5.

So I guess it's not a new bug, but somehow your component breaks Styleguidist ;-/

[2018-06-25 12:55] sapegin commented on #1025
Ah, that! 🤦‍♂️

https://github.com/styleguidist/react-styleguidist/blob/3ebcc80d10500a5043cac030e4f20743587f586f/src/index.js#L23-L29

I think we can remove it now.

[2018-06-25 18:35] jmiazga commented on #994
@sapegin I created a PR to address this issue https://github.com/styleguidist/react-styleguidist/pull/1024

[2018-06-25 21:21] roblevintennis opened #1026 "Deprecated Hover for isDeprecated"
We noticed that when a component heading title (in SectionHeading) is marked @deprecated it gets a strikethrough, but when you hover over it, it switches to underline. I prefer it staying strike through and letting something else like the color or opacity indicate hover.

 It just feels weird to me that it's hovered then sort of looks enabled. I do the following in my local styleguidist config:

[

[2018-06-26 01:54] atomicpages commented on #990
@sapegin
![screen shot 2018-06-25 at 6 54 26 pm](https://user-images.githubusercontent.com/1824291/41884671-3a668b2c-78a9-11e8-91ca-9515c9d2a954.png)

[2018-06-26 06:45] #994 closed

[2018-06-26 06:54] sapegin commented on #1026
It sounds reasonable, though, I'm not sure about the hover state. Maybe change the color to black and keep it strikethrough?

[2018-06-26 07:36] roblevintennis commented on #1026
In our env, it looks like the heading it's under takes care of making it `#33` on hover from original `#76` so I don't think anything needs to be added to get desired affect:

![image](https://user-images.githubusercontent.com/142403/41896200-cc991ea4-78d8-11e8-99d6-44b6897362f0.png)

[2018-06-26 12:18] snorrekim opened #1028 "jss-isolate is overriding custom styles, as well as the default styles"
**Current behavior**

Some custom styles are not having any effect as the styles from jss-isolate is overrideing them. This also means that some of the styles defined in styleguist by default are also overridden.

A simple example is the ComponentList heading class: "rsg--heading-XX". All its 4 defined styles are being overridden by other values by jss-isolate
![image](https://user-images.githubus

[2018-06-26 22:59] shelldandy opened #1031 "Webpack should be listed as a peerDependency"
Only react and react-dom are peer-required even though if you run the bin command it will prompt you to install webpack. 🤔

[2018-06-27 06:41] sapegin commented on #1031
Yeah, we do that to support tools like Create React App, that include webpack, so you won't have it as a dependency of your project.

[2018-06-27 06:41] #1031 closed

[2018-06-27 10:43] joetidee commented on #840
Could also do this to avoid adding in unnecessary HTML tags:
[code]

[2018-06-27 12:38] shelldandy commented on #1031
But not all tools are like that 🤔

[2018-06-28 01:45] gouegd commented on #620
I think on the contrary this is unimportant as it is very simple to dynamically create a story containing all other stories for a given component (I do this for all my components and this appears as the first story)

I think both tools are cool and hopefully can coexist peacefully ;)

[2018-06-28 15:53] fseglard opened #1032 "[Flow] Problem with union and literal props not displaying correctly"
Hi there!

**Current behavior**
The props table does not correctly display the list of possible values when using Flow.

_When using React PropTypes:_

![proptypes](https://user-images.githubusercontent.com/13200484/42044532-8f3cffda-7af9-11e8-8c13-511ad3b05d80.png)

_When using FlowTypes:_

![flow](https://user-images.githubusercontent.com/13200484/42044554-99ecccb2-7af9-11e8-8777-5635e3f04d0a.pn

[2018-06-29 07:44] sapegin commented on #1032
Feel free to send a pull request with a fix! ;-)

[2018-06-29 12:02] stepancar commented on #1032
@sapegin @fseglard flow doesn't support enums, but react-docgen [support it](https://github.com/reactjs/react-docgen#result-data-structure) and emits it in case of use
propTypes.oneOf(...). I just implemented rendering of union literals in extra of description.

[2018-06-29 13:30] stepancar commented on #1032
Also we can consider Flow union of literals as enum.
[code]
@sapegin what do you think about it

[2018-06-29 15:02] giocodes opened #1036 "Keyboard shortcuts"
**The problem**
As a developer, I want to be able to navigate through the stories using just the keyboard.

**Proposed solution**
Add some keyboard shortcuts and a cheatsheet like the one Storybook has.
![storybook_shortcuts](https://user-images.githubusercontent.com/19365690/42099586-6dcb7e0a-7b83-11e8-959f-c9b8be95bdc4.jpg)

If this feature is still not in the works, I would like to open for com

[2018-06-30 06:33] sapegin commented on #1036
That's a great idea! It would be super awesome if can work on that! 🦄

[2018-06-30 22:53] giocodes commented on #1036
Cool! I've updated the description to draft an MVP for this feature. Awaiting for comments.
In the meantime, I have a question @sapegin: What would be the best way to figure out the `url` or `slug`? Is there a way to fetch a list of all components slugs?

[2018-07-01 10:13] sapegin commented on #1036
They are passed in props:

https://github.com/styleguidist/react-styleguidist/blob/3bbe4f99976c0d8f91dd24c820eb7b41c9f6ec84/src/utils/renderStyleguide.js#L44-L54

If display mode is `component` or `example` there will be only one component in `sections`.

We can postpone the button and show help modal on `?`. I’m not sure that placing it near search input is the best option.

Do you think that nex

[2018-07-01 10:16] sapegin commented on #1032
This sounds like a good idea!

[2018-07-01 10:22] sapegin commented on #1020
That's a great idea for a pull request ;-)

[2018-07-01 15:16] stepancar commented on #1032
@sapegin , ok, PR updated

[2018-07-02 00:45] giocodes commented on #1036
I like the idea of pressing `?` instead of a button. We could show the keyboard shortcuts in an overlay [similar to how Gmail does it](https://cdn.appstorm.net/web.appstorm.net/files/2009/11/shortcut-overlay-1024x503.png).
(updated description)

I also agree with you on navigation, next/prev might not be as useful as focus and filtering. Let's take those out of the MVP.

About using arrows to navi

[2018-07-02 14:38] reintroducing opened #1037 "Doesn't export a component?"
**Current behavior**

I have a single component out of all of my UI components that's showing this error in terminal:

[code]
The weird thing is that everything does seem to work fine and it renders properly in styleguidist and demos work fine.

**To reproduce**

https://github.com/reintroducing/example

This is the component code (pretty simple, just a stateless component):
[code]

**Expected beh

[2018-07-02 15:53] reintroducing commented on #1037
@sapegin Sorry about that, here you go. I dwindled down the example code as well.

https://github.com/reintroducing/example

[2018-07-02 18:09] sapegin commented on #1036
It may be more accessible to be able to quickly tab to the next control, instead of tabbing through all links. But that will be out of the scope I think ;-)

I haven't looked deeply but [react-keyboardist](https://github.com/soska/react-keyboardist) may be a good start here.

[2018-07-02 20:34] reintroducing commented on #1037
@sapegin Can you reopen this issue so that it doesnt get lost? I've updated the main issue with example link.

[2018-07-02 20:48] reintroducing opened #1038 "JSDoc methods with optional params with defaults doesn't work"
**Current behavior**

When documenting public methods in a component, having an optional param with a default value does not properly document the parameter and hides the return documented value from the docs for said method.

**To reproduce**

https://github.com/reintroducing/example

Look at the two methods in the `Placeholder.js` component, `submitWorking` and `submit` when the style guide is g

[2018-07-02 21:51] caseycallow commented on #968
@kidkuro Do you have an example of this anywhere? I'm trying to do the same thing and having trouble  getting a custom configuration up and running.

[2018-07-03 06:05] kidkuro commented on #968
Nowhere public sorry. Also, I currently don't have access to that code.

The general approach though, from memory, I think was to override `slots` using [styleguide Components] (https://react-styleguidist.js.org/docs/configuration.html#styleguidecomponents) and add an extra handler similar to the view code one but instead used Styleguideist's own `ReactExample` component to render the code into a

[2018-07-03 13:12] sapegin commented on #1037
It could be because of `createElement`, so react-docgen doesn't understand that it's a component. Try `React.createElement` — I see it in their codebase.

[2018-07-03 13:16] sapegin commented on #1038
It could be a doctrine issue, or the way we use it. Feel free to send a pull request with a fix.

[2018-07-03 14:41] reintroducing commented on #1037
Making it `React.createElement` did fix it, thank you.

[2018-07-03 14:41] #1037 closed

[2018-07-03 21:44] shelldandy opened #1039 "Why is everything global? 🤔"
Isn't that like the main reason of existance of JS modules?

I noted if you have 2 components with the same name even if they're on different folders, they'll conflict with each other.

Why though?

[2018-07-05 04:00] NoMan2000 commented on #1013
I'll add for anyone looking to get around this problem that it's not too difficult.  This example is using axios:

[code]

This will stop it from throwing errors.

[2018-07-05 18:45] NoMan2000 commented on #1013
And an even better solution.  In `styleguide.config.js` do this:

[code]

That will automatically proxy the requests to the mock server.

[2018-07-05 21:21] jkarttunen commented on #133
And adding visual diff tests

[2018-07-06 13:02] sapegin commented on #1039
Please use search, it was already discussed several times.

[2018-07-06 13:02] #1039 closed

[2018-07-06 13:21] #918 closed

[2018-07-07 17:58] kirill-kruchkov commented on #1025
So basically, if I have a component called `App`, it breaks

[2018-07-09 09:39] stepancar commented on #1025
@sapegin, let I'll create PR to remove https://github.com/styleguidist/react-styleguidist/blob/3ebcc80d10500a5043cac030e4f20743587f586f/src/index.js#L23-L29
?

[2018-07-09 13:49] Abdurahmanov opened #1044 "remove #!"
Hello, tell me please how to remove #! when pagePerSection: true

[2018-07-09 14:21] sapegin commented on #1025
Great idea!

[2018-07-09 14:21] #1044 closed

[2018-07-09 21:09] stepancar commented on #1020
hm... looks like it should be documented in react-docgent but not in RSG.

[2018-07-10 09:48] stepancar commented on #1038
@sapegin it's not doctrine issue. We should calling doctrine passing sloppy parametr. Look at [test](https://github.com/eslint/doctrine/blob/master/test/parse.js#L2245).
But also we should fix params renderer to generate description for optional parametrs.
I'm started working on this issue.

[2018-07-11 13:19] smacker opened #1047 "Styleguidist overrides CodeMirror styles used in components"
**Current behavior**

I have a component which uses CodeMirror. When I click "view code" button it gets broken due to this global styles with increased specificity: https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/Editor/EditorLoaderRenderer.js#L14

**To reproduce**

Example with a simplified component which uses CodeMirror:
https://github.com/smacker/example

**Ex

[2018-07-11 19:19] jkarttunen commented on #568
The only thing needed really is improving the config by @n1313 to support hiding individual component pages. I guess this can be done by styleguidist configuration too...

[2018-07-12 06:52] sapegin commented on #1047
Something like this may work I guess:

[code]

Feel free to send a pull request ;-)

[2018-07-13 07:02] #1047 closed

[2018-07-13 09:42] pasupuletics commented on #990
@atomicpages , styleguidist doesn't doc for variables(static) as it relies on react-docden. Better you can check react-docegen api and write your own handler to generate doc. I did the same for nested components.

[2018-07-14 11:44] zGrav opened #1051 "Can't resolve 'rsg-components/Wrapper/Wrapper'"
**Current behavior**

`Module not found: Can't resolve 'rsg-components/Wrapper/Wrapper' in '/Users/zgrav/Downloads/reactjs-boilerplate-feature-2018-garage-sale/node_modules/react-styleguidist/lib/rsg-components/Wrapper'`

**To reproduce**

https://github.com/bitchcraft/reactjs-boilerplate/tree/feature/2018-garage-sale

Please do `yarn install` and `yarn run styleguide:build`

**Expected behavior**

[2018-07-14 15:23] styleguidist-bot opened #1052 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-14 18:12] #1052 closed

[2018-07-14 19:12] sapegin commented on #1051
Use `react-styleguidist/lib/rsg-components/Wrapper/index` or `react-styleguidist/lib/rsg-components/Wrapper/Wrapper`.

[2018-07-14 19:12] #1051 closed

[2018-07-14 20:58] zGrav commented on #1051
Thanks 👍

[2018-07-16 04:55] dinukadesilva opened #1053 "Does react-styleguidist has support for @typedef in jsDoc"
https://stackoverflow.com/questions/51354785/does-react-styleguidist-has-support-for-typedef-in-jsdoc

I would like to contribute if this is not available yet.

[2018-07-16 05:36] sapegin commented on #1053
We don't do anything special for `@typedef`. And I don't know what happens now if you use it ;-) How do you see its support?

[2018-07-16 05:37] sapegin commented on #1032
Out in 7.1.0.

[2018-07-16 05:37] #1032 closed

[2018-07-16 05:38] sapegin commented on #1025
Out in 7.1.0.

[2018-07-16 05:38] #1025 closed

[2018-07-16 05:39] sapegin commented on #1016
Should be fixed in 7.1.0.

[2018-07-16 05:39] #1016 closed

[2018-07-16 05:39] sapegin commented on #951
I think it should be fixed in 7.1.0. Feel free to reopen if not.

[2018-07-16 05:39] #951 closed

[2018-07-16 05:40] sapegin commented on #943
Should we close this?

[2018-07-16 05:47] sapegin opened #1054 "Try react-simple-code-editor instead of CodeMirror"
CodeMirror is huge and we have to code-split it, which cases [issues in CRA 2](https://github.com/styleguidist/react-styleguidist/issues/987). [react-simple-code-editor](https://github.com/satya164/react-simple-code-editor) is a really tiny minimalistic code editor, that should be enough for our needs.

Note: we'll ether ship Highlight.js in the browser bundle, or migrate to Prism, if it's smaller

[2018-07-16 06:31] dinukadesilva commented on #1053
@sapegin
According to jdDoc specifications, it's possible to have custome object tyles defined as below.
[code]
http://usejsdoc.org/tags-typedef.html

But, when this is compiled, it shows nothing in react-styleguidist. No any errors. But, the the custom object type is not visualized in any way. I assume this hasn't been implemented in react-styleguidist.

[2018-07-16 09:17] sapegin commented on #1053
I think we can show a name of a custom type, if doctrine returns this information. Would be awesome if you can have a look!

Have a look at #1046 — you'll need to change the same place (so you may have conflicts and it may be a good example ;-)

[2018-07-16 09:50] GuillaumeMunsch opened #1055 "static propTypes. Module parse failed: Unexpected token"
Hello

I've been trying to setup react-styleguidist for my react-native project for several hours now and I'm stuck.

I'm defining my propTypes as following:
[code]

And I'm encountering this error:

[code]

Here is my styleguide.config.js:
[code]

And here is my .babelrc (since I'm loading it):
[code]

I've tried many things. Playing with the loaders, with the presets (stage-0, stage-1, ...), I t

[2018-07-16 10:33] sapegin commented on #1055
You may be overwriting plugins from the `.babelrc` here:

[code]

I don't know how this works exactly, you need to check Babel docs.

[2018-07-16 22:16] rafaesc commented on #943
Yes, of course!

[2018-07-16 22:16] #943 closed

[2018-07-18 08:57] Abdurahmanov opened #1056 "Adding a reach-router"
Hello!
I have a question. I saw [issue 993](https://github.com/styleguidist/react-styleguidist/pull/993#issuecomment-394105401), you mentioned the reach-router there, but I did not quite understand if you would use it. If so, can I help?

[2018-07-18 09:50] antonfrolovsky opened #1057 "VIEW CODE button doesn't work"
When click **VIEW CODE**
[code]

[2018-07-18 11:43] sapegin commented on #1056
I don't think we need a proper router, because 90% of Styleguidist is just one root component rendered with different props (basically list of components or sections to show). I _may_ be wrong here, but I don't see how something like Reach Router will solve any of our problems.

We have some [ugly code](https://github.com/styleguidist/react-styleguidist/blob/master/src/utils/handleHash.js) that pa

[2018-07-18 11:54] sapegin commented on #1057
Works on my machine. Clearly you can't expect more from such a bug report.

[2018-07-18 11:54] #1057 closed

[2018-07-18 14:11] sibamohanty995 opened #1058 "Default Component specification on application load"
The styleguide.config.js picks up the first component listed inside sections in a listwise manner. Is there a way to specifically explicitly mention which component to load when the application renders for the first time.

**Proposed solution**

**Alternative solutions**

**Additional context**

[2018-07-18 18:02] milesj opened #1059 "`pagePerSection` stopped working in 7.1.0"
**Current behavior**

When `pagePerSection` is true in the config, clicking a link takes you to `/#/Components?id=button` instead of `/#/Button`. This causes the entire components section to render (which is heavy).

**To reproduce**

Add `pagePerSection` true to config.

And my sections config:

[code]

Happens to both components and kits.

**Expected behavior**

Loads in separate pages instead o

[2018-07-18 19:51] milesj commented on #1059
That fixed it, thanks. Didn't see it listed in the changelog.

[2018-07-18 19:52] #1059 closed

[2018-07-19 03:07] kopax opened #1060 "[Bug] 7.1.0 Something is wrong with your style guide config Unknown config option exampleMode was found"
**Current behavior**

I have upgraded to `7.1.0`, I was having a **deprecation warning** for `showCode` and `showUsage`.

I have respectively replaced with:

- https://react-styleguidist.js.org/docs/configuration.html#examplemode
- https://react-styleguidist.js.org/docs/configuration.html#usagemode

This is what I have changed in my `styleguide.config.js`:

[code]

It now generate me the following

[2018-07-19 03:42] kopax commented on #1060
I was in `7.0.17`, sorry.

[2018-07-19 03:42] #1060 closed

[2018-07-19 07:15] sapegin commented on #1058
Not sure I understand what you want. Could you show an example of your config, what it renders and what you want it to render?

[2018-07-19 08:41] antonfrolovsky commented on #1057
@sapegin I have ReactRedux project with [Emotion](https://emotion.sh/)
All works but not `VIEW CODE`

**index.js**
[code]

**Button.styles.js**
[code]

**Button.js**
[code]

**styleguidist.config.js**
[code]

Maybe this error because of webpack version, i think but not sure.
[code]
![image](https://user-images.githubusercontent.com/2322736/42931139-8e6dfe02-8b47-11e8-8616-b6e48be42167.png)

[2018-07-19 08:48] #1056 closed

[2018-07-19 08:49] sapegin commented on #1057
The thing is it works for all other users, so likely something is different in _your_ project. But without a demo I can't say anything. I use Styleguidist with Emotion without any issues.

[2018-07-19 08:56] sapegin commented on #987
This may be a good solution for that: #1054.

[2018-07-19 11:33] sibamohanty995 commented on #1058
@sapegin Apologies. i will try to explain with an example :-

Below is my styleguide.config.js code for rendering sections. By default, when the application loads, i see the "Getting Started" section loaded with all 4 sections rendered under it. Is there a way possible that we get to load only one sub-section, like "introduction" or "Hello World" on the initial load of the application, rather than

[2018-07-19 11:47] sibamohanty995 commented on #1058
To make it simple, what i want to ask is, if **pagePerSection** works at a nested level or not, if it does then how do i set it for the nested sections. On the root level, i am able to render only 1 section, but if that section contains sub sections, all of them get rendered at once.

[2018-07-19 13:02] sapegin commented on #930
I'm going to close this for now: there are workarounds and the proposed solutions has flaws. But feel free to send a pull request with a better solution.

[2018-07-19 13:02] #930 closed

[2018-07-19 14:17] rafaesc commented on #1058
@sibamohanty995 yes, you can read the documentation here

https://react-styleguidist.js.org/docs/configuration.html#pagepersection

[2018-07-19 17:11] aversini commented on #1059
This is a breaking change right? Shouldn’t RSG version be bumped to 8? My team started to use the url pattern `#!/Button` to run automated tests... they are now all breaking in 7.1.0 😢

[2018-07-20 08:18] sibamohanty995 commented on #1058
@rafaesc I had thought of this initially, tried all possible combinations but for some reason, there seems to be no change. All the subsections tend to get rendered, no matter what the value of sectionDepth is. Can you please help me out with a working example or demo?

[2018-07-20 08:45] rafaesc commented on #1058
Sure, here there is an example

https://github.com/styleguidist/react-styleguidist/tree/master/examples/sections

[2018-07-23 13:17] everdimension commented on #916
By the way, shouldn't `webpack` be listed in either `peerDependencies` or `dependencies`?

[2018-07-23 13:24] everdimension opened #1061 "`react-docgen-displayname-handler` has a peerDependency of `recast`"
**Current behavior**

`react-styleguidist` depends on `react-docgen-displayname-handler`, which, in turn, has a peerDependency on `recast`. I get an npm warning:

[code]

**Expected behavior**

`react-styleguidist` should list `recast` as a dependency.

[2018-07-23 14:29] sapegin commented on #1061
I guess it's something new, otherwise it would break before. Would you mind sending a pull request with a fix?

[2018-07-23 14:34] sapegin commented on #916
Nope, because we should support tools like Create React App that have their own webpack, so you don't have it as a dependency of your project. But if Styleguidist couldn't load webpack, it will ask you to install it.

[2018-07-23 15:11] everdimension commented on #1061
Sure

[2018-07-23 16:32] sapegin commented on #916
We support webpack 3 and 4, so you’ll likely see some warnings in both cases, but it works somehow. We’ll drop webpack 3 as soon as CRA supports webpack 4, but there are other issues with that (like #987), and then we could upgrade dependencies and get rid of warnings.

[2018-07-23 16:56] everdimension commented on #1061
@sapegin I actually think that this is a more appropriate fix: https://github.com/nerdlabs/react-docgen-displayname-handler/pull/6

But since I don't how long it will take them to accept this PR and whether they will do it at all, I created a fix here as well: https://github.com/styleguidist/react-styleguidist/pull/1062

[2018-07-24 06:54] sapegin commented on #1061
Yeah, I think your other solution is better. Let's wait a bit if they merge it soon.

Am I right that this isn't blocking issue and just a warning?

[2018-07-24 10:43] everdimension commented on #1061
I still think you should explicitly list `recast` as a dependency simply because you're depending on a package that has it as a `peerDependency`.

Right now you do not have warnings locally because you have other packages that install it. To be more precise:

<pre>
react-styleguidist@0.0.0-development
├─┬ react-docgen@3.0.0-beta12
│ └── <b>recast@0.13.2</b>
└─┬ webpack-cli@2.1.5
  ├─┬ jscodeshift@

[2018-07-25 06:41] sapegin opened #1064 "Upgrade to Babel 7"
- [x] [Upgrade config and dependencies](https://babeljs.io/docs/en/next/v7-migration.html)
- [ ] Check if we can use automatic polyfills adding in [preset-env](https://babeljs.io/docs/en/next/babel-preset-env) to remove some of the [polyfills](https://github.com/styleguidist/react-styleguidist/blob/master/src/polyfills.js) from our dependencies. I doubt, but it must help with accidental breaking o

[2018-07-26 12:52] jarekbb commented on #117
For TypeScript install [styleguidist/react-docgen-typescript](https://github.com/styleguidist/react-docgen-typescript)

[2018-07-26 15:18] #1061 closed

[2018-07-27 08:07] 0xsven opened #1065 "Combining several components into one Readme.md"
I am throwing all my icons into one folder, one component each. Like so:

[code]

Is it somehow possible to combine all icons into one `Readme.md` or `Icons.md` file?

[2018-07-28 02:52] alzalabany commented on #620
can we setup custom testing cose with styleguidist ?
storybook you can prepare mock data using faker run beforeAll or beforeEach to wrap component with context Parent for examplr.

how can we do this in markdown ?

[2018-07-30 01:39] duckscofield opened #1066 "Cannot read property 'name' of undefined"
**Current behavior**

page could not render **PROPS & METHODS** block for display.

**To reproduce**

 /**
   * handle input value when typing
   * @param  Object event [description]
   */
  handleInput = (event) => {
    const { value } = event.target;
    this.foundation_.handleInput_(value);
  }

**Expected behavior**

use arrow function(ES6) or use class **_static / get / set_** keywords, the

[2018-07-30 04:31] kidkuro opened #1067 "Custom slot evalInContext support regressed"
#977 added support for custom slots (such as #968)  to use `evalInContext`.

#1040 removed that support, probably just to clean up apparently unnecessary code.

I believe the plugins api in #505 will eventually be the right way to handle this, but in the meantime, I'd like to restore the support for `evalInContext` in slots.

[2018-07-30 06:39] #1067 closed

[2018-07-30 06:42] sapegin commented on #1066
Feel free to open a pull request with react-docgen update as soon as it's available.

[2018-07-30 06:44] sapegin commented on #1065
Yes and no.

Yes: you can either access globally registered components or `require` them in any Markdown file.

No: you won't see props table.

[2018-07-30 08:11] 0xsven commented on #1065
Thanks for the reply

So I ended up merging all icons into one file. This is not optimal because of how dead code removal works. Also the styleguide system shouldn't dictate how we write our app.

More flexibility would probably conflict with how seamless styleguidist works out of the box.

Closing this.

[2018-07-30 08:11] #1065 closed

[2018-07-30 22:18] Spenc84 commented on #833
How's this coming along? Our team has opted to have each section and component displayed on it's own page, but some of those pages can get quite extensive and the inability to create anchors to the various parts of an individual page has started to become problematic.  I've spent half a day now trying to find a way to create and link to anchors on an individual page but have not as of yet found a

[2018-07-31 10:38] notgiorgi commented on #896
So is there a way to use custom templates like `ejs` for index.html?

I need some assets from webpack to be rendered into index.html

[2018-07-31 13:26] sapegin commented on #833
It will be in Styleguidist as soon as someone submits a pull request.

[2018-07-31 19:04] cwmacdon commented on #1061
Unfortunately this issue should probably be re-opened, as the peerDependency uses exact versions:

`"recast": "0.12.6 || 0.13.0"`

and the commit in this repo uses an inexact version:

`"recast": "^0.13.0"`

This will install `0.13.2` which does not meet the peerDependency requirement :(

[2018-08-01 12:40] everdimension commented on #1061
@cwmacdon As the fix is more appropriate in the [react-docgen-displayname-handler](https://github.com/nerdlabs/react-docgen-displayname-handler/pull/6) repo, it would be great if you could ping them, too :)

[2018-08-01 14:49] jaruesink commented on #765
@danrot I felt like that was a fair question, I'm having this problem also or some kind of problem.

[code]

[2018-08-02 15:29] #1058 closed

[2018-08-02 15:33] sibamohanty995 opened #1070 "Overriding Slots or UsageTabButton"
I have to segregate my props and methods into 2 different tabs. (Currently, they are all shown under 1 tab).

I have been trying to override UsageTabButton in particular, but have been unable to do so.

Custom rendering and therefore, overriding doesn't seem to be working for either Slot or contents of slots.

Please let me know if there's a way.

[2018-08-03 20:25] nicoffee commented on #915
Hello!
I'l be happy to do it.

[2018-08-04 06:58] dinukadesilva opened #1071 "Is it possible to have separate page for parent pages"
My question is, is it possible to have both content and sections in one entry as below

[code]

[2018-08-04 07:48] dinukadesilva commented on #892
Regarding the list displayed, how about having expand and collapse defined in the UI. It really helps to quickly navigate through when the list increases.

[2018-08-06 04:30] neginbasiri opened #1072 "Live Styleguide for a project which is mixture of React and static templates"
Hi everyone,

My project is mixture of static templates (generated by EJS or Handlebars) and React components. I would like to have a style guide which bring both into one styleguide (have all the wonderfull feature react-styleguide provides including webpack env, showing code snippet, live update, etc )

I am wondering how to get those static templates integrated into this react style guide?  any

[2018-08-06 07:59] sapegin commented on #1072
Please edit your comment — it's very hard to read now, because you've left part of the template.

[2018-08-06 12:58] kamranahmedse commented on #1057
Same issue here. Looks like the recent webpack upgrade broke it.

[2018-08-06 22:09] rafaesc commented on #892
@dinukadesilva you can modify the styles of UI to create that feature.

[2018-08-07 05:38] danrot commented on #765
@jaruesink I also feel so. Tried to build a `console.log` right before/after our `glob` calls, and they seem to be called only once on startup. However, for that reason it doesn't really make sense to me why I am getting this error. I'd say it should be practically the same after getting the filenames, if there is a lot of other folder structure being used or not.

[2018-08-07 07:05] #1055 closed

[2018-08-07 07:08] sapegin commented on #895
Sould be fixed in #1073.

[2018-08-07 07:09] sapegin commented on #892
@rafaesc Should we close this issue?

[2018-08-07 07:22] sapegin opened #1074 "Support ECMAScript imports in examples"
It shouldn't be hard to support the most common `import` variations in the examples:

[code]

There are two places where we need to add this:

1. In styleguide-loader:

https://github.com/styleguidist/react-styleguidist/blob/b66bd10665bc134135a8affbc807a01f92417b6c/loaders/examples-loader.js#L40

We may want to use something like [detect-import-require](https://github.com/Jam3/detect-import-requir

[2018-08-07 08:29] sapegin opened #1075 "Don’t globalize user’s components"
Styleguidist makes all user’s components accessible in global scope which is [often problematic](https://github.com/styleguidist/react-styleguidist/issues/325).

Access to other components in examples isn't needed often — most of the time you only need to render a current component, so the idea is:

* Only current component is available in the example scope.
* Any other component should be explici

[2018-08-07 12:12] sapegin opened #1076 "Import rewrites"
The idea is to make example’s code more real-life by allowing you to `import` components like the user would import them in their app, including all dependencies like React. For example:

[code]

Technically it's not needed because both React and the current component are available in the example context by default, but it will make example easier to use, because users could copy code directly to

[2018-08-07 17:34] rafaesc commented on #892
@sapegin, its true

[2018-08-07 17:34] #892 closed

[2018-08-07 20:02] michellocana opened #1078 "Components section names not showing in sidebar (v7.2.0)"
Hi, i've just updated RSG to the latest version (7.2.0) and configured the components sections, and the components are showing correctly as a list, but not showing in the sidebar. Here's my ```styleguide.config.js``` config:

[code]

Am i missing something in the configuration?

Also, i've checked the source code of the sidebar renderer and [the sections are being filtered by the "visibleName" pro

[2018-08-08 05:05] melbourne2991 commented on #1078
Also have this issue after updating

[2018-08-08 07:35] michelson opened #1079 "PropTypes are not displayed on certain cases"
**Current behavior**
+ using version:     "react-styleguidist": "^7.1.3",

### when the PropTypes are from an imported class does not work

**To reproduce**

### This works: build a proxy class and define propTypes on new class
[code]

### This does not work (renders component but not the props table)
use the same proxy but try to assign the propTypes from the wrapper class

[code]

### This does

[2018-08-08 07:47] #1020 closed

[2018-08-08 09:07] sapegin commented on #1078
I think we break it in #933.

[2018-08-08 09:10] sapegin commented on #1079
https://github.com/reactjs/react-docgen/issues/33

[2018-08-08 09:30] avdeev opened #1080 "Cookbook example: Uncaught Error: Cannot find module 'keys'."
**Current behavior**

This example is broken for me:

https://react-styleguidist.js.org/docs/cookbook.html#how-to-dynamically-load-other-components-in-an-example

[code]

[2018-08-08 10:35] dinukadesilva opened #1082 "Table of content is not rendered in v7.2.0"
**Current behavior**

Nothing is loaded in the table of content. It's empty

**To reproduce**

**Expected behavior**

The table of content must be loaded as before

[2018-08-08 11:44] #1082 closed

[2018-08-08 11:51] sapegin commented on #1080
There's no module `keys` in the example.

[2018-08-08 11:51] #1080 closed

[2018-08-08 13:11] dinukadesilva commented on #1082
@sapegin
Please find a demo below
https://dinukadesilva.github.io/react-styleguidist/examples/sections/styleguide//index.html

And here is the updated code
https://github.com/dinukadesilva/react-styleguidist

[2018-08-08 18:05] anuragd commented on #1078
Dang! Fixed right after I finally figured the problem out and worked around it using a custom renderer :( Thanks for the quick turnaround though

[2018-08-08 20:52] michelson commented on #1079
hi @sapegin , if I may ask , why this is closed? I've read the issue on doc gen and I've tried the solutions but it does not work.
is not clear to me how this issue is solved. I have to assume that this is a wont fix ?

[2018-08-09 08:46] dinukadesilva opened #1083 "Some of the links are broken in v7.0.10"
**Current behavior**

It goes to wrong urls

**To reproduce**

1. Click any child section from the table of content
2. Click the title of the preview

![react-styleguide-broken-links](https://user-images.githubusercontent.com/10680296/43888214-ad87ab74-9bde-11e8-985c-45a32f63db35.gif)

[Demo Example](https://github.com/dinukadesilva/react-styleguidist/tree/gh-1083/examples/sections)

**Expected be

[2018-08-09 12:13] sapegin commented on #1079
This issue was discussed many times before – please use search. It's an issue in react-docgen – feel free to fix it there.

[2018-08-09 12:16] sapegin commented on #1082
Have you tried 7.2.1?

[2018-08-09 12:37] sapegin commented on #1083
I can't reproduce it in 7.2.1.

[2018-08-09 13:47] dinukadesilva commented on #1083
Try running this
https://github.com/dinukadesilva/react-styleguidist/tree/gh-1083/examples/sections

[2018-08-09 15:10] sibamohanty995 commented on #1070
@sapegin Any help will be appreciated. Thank you.

[2018-08-09 15:21] sapegin commented on #1083
Your branch is using 7.0.10.

[2018-08-09 21:06] rameshsunkara commented on #209
This **fixed** our problem. Thank you very much for posting it here.
We basically removed react-docgen from peer dependecies and let styleguidist pull whatever version it needs.

[2018-08-10 06:13] stepancar commented on #1053
@dinukadesilva
<img width="928" alt="screen shot 2018-08-10 at 09 11 36" src="https://user-images.githubusercontent.com/2854910/43941668-aad7d814-9c7d-11e8-88a4-901699d93bb7.png">
<img width="621" alt="screen shot 2018-08-10 at 09 11 48" src="https://user-images.githubusercontent.com/2854910/43941669-aaf37560-9c7d-11e8-9674-285d500f89b4.png">

[2018-08-10 10:57] LindenHolt-Whittaker opened #1084 "Code editor not updated on navigation between markdown pages"
**Current behavior**

The code editor (`` ``` js <example code> ``` ``) will not update upon page navigation when:
-using `.md` files in the style guide (navigating from one `.md` file to another),
-the code editor is in the same place in the DOM (for example, adding another element above it on one page but not another will cause the editor to be re-rendered, preventing this bug)

**To reproduce**

[2018-08-10 12:31] sapegin commented on #1079
Sorry for closing the issue — it really was discussed before but nobody was interested in actually solving the problem ;-/

Feel free to investigate how Docz does it and open a pull request — I've looked quickly and I don't see where they are doing it.

Have you tried https://github.com/siddharthkp/react-docgen-external-proptypes-handler ?

[2018-08-10 12:33] sapegin commented on #1084
Could you please try in the `next` branch? I've basically replaced the whole thing there ;-)

[2018-08-10 13:44] LindenHolt-Whittaker commented on #1084
I've just replicated the same test files in the `next` branch, and the bug is still there I'm afraid 😬

[2018-08-10 14:35] sapegin commented on #1084
Could you please commit them somewhere? Shouldn't be hard to fix.

[2018-08-10 14:42] LindenHolt-Whittaker commented on #1084
https://github.com/LindenHolt-Whittaker/styleguidist-bug-reproduction/tree/next

I pushed to a `next` branch in my repo

[2018-08-10 17:15] michelson commented on #1079
Yes,  I've tried that solution , and it renders the props but the name of
the prop is rendered as a "0"

Atte.
Miguel Michelson Martinez
www.vadb.org <http://vadb.org>

On Fri, Aug 10, 2018 at 8:31 AM, Artem Sapegin <notifications@github.com>
wrote:

[2018-08-10 22:37] EvHaus opened #1085 "Markdown parser doesn't support hard tabs for indentation"
**Current behavior**

When adding custom sections (as markdown files). the markdown parser doesn't seem to support tabs. So the following content:

[code]

Is not rendered in a nested fashion. However, converting tabs to 4 spaces, fixes the issue.

**To reproduce**

[code]

**Expected behavior**

Currently renders lists as:

![screen shot 2018-08-10 at 3 37 03 pm](https://user-images.githubusercon

[2018-08-11 07:14] sapegin commented on #1085
Please report the issue at [markdown-to-jsx](https://github.com/probablyup/markdown-to-jsx/).

[2018-08-13 07:13] sibamohanty995 commented on #1070
@sapegin Thank you, Will be sending a pull request, Just one last thing.

The styleguideComponents documentation says "Override React components used to **render** the style guide".

Does this specifically mean that only the files whose names end with **Renderer** like ComponentsListRenderer, PropsRenderer, TabButtonRenderer etc will be able to be overriden as such, and files like **UsageTabButton

[2018-08-13 07:17] sapegin commented on #1070
It should work with any component that's imported using the webpack alias `rsg-components`, though we don't recommend overriding non-render components.

[2018-08-13 07:33] vysinsky commented on #1071
Hi, I can confirm. The 'content' will be rendered before 'sections'.

[2018-08-13 07:49] stepancar commented on #1038
@reintroducing could you please check latest rsg?

[2018-08-13 08:36] LindenHolt-Whittaker commented on #1084
Hey sapegin, I'm not sure where you're testing this, but in my `examples/basic` directory, and in both my `master` and `next` branches, I have 4 test files and I can still replicate this issue? I see that you still have the same headers (`Read me (.md files)`/`Components (bad work around)`) so I don't understand where you are testing this?

![styleguidist_00](https://user-images.githubusercontent.

[2018-08-13 08:45] sapegin commented on #1084
Looks like you forget to run Babel (`npm run compile`) after switching to the `next` branch. Look at the extra whitespace below the "View code" button on my gif.

[2018-08-13 09:18] LindenHolt-Whittaker commented on #1084
I have tried running `npm run compile` from the root directory and then `npm install` from the /basic directory as well as trying to run `npm install` from root, and I could not see the expected changes (whitespace under 'VIEW CODE'/bug fixed)

Any idea what I'm missing?

[2018-08-13 09:34] LindenHolt-Whittaker commented on #1084
I can see the expected changes and you are correct, the next branch fixes this bug!

Thanks for your help. I assume the `next` branch isn't safe to use in production?

[2018-08-13 09:36] sapegin commented on #1084
It's quite far from ready but you can try to use it of course. Or to fix an issue in master if that's urgent for you.

[2018-08-13 10:52] vysinsky commented on #765
Hi, I've just encountered this problem too. What it does it that console tells me "Compiled successfully". So I open browser and I have to wait. It seems like `main.bundle.js` is compiled incrementally? In the end it loads after long time (6 minutes and more) and `main.bundle.js` has about 9 MB.

Production build works correctly and bundle.js file has about 800 KB.

I use react-styleguidist 7.2.1

[2018-08-13 17:10] reintroducing commented on #1038
@stepancar Seems to work, thanks, though the output looks like this: `withEmpty: Boolean?=false`. I think the `?` in there is a bit odd looking but thats just personal opinion :)

A cleaner output would be something like `withEmpty: Boolean (false)`, but again, thats personal opinion.

[2018-08-13 19:52] stepancar commented on #1038
@reintroducing Thank you. I didn't fixed render for jsdoc, I just mapped docgen info to styleguidist. I try to improve description view in the future in another PR

[2018-08-13 19:52] #1038 closed

[2018-08-13 20:40] reintroducing commented on #1038
@stepancar No worries, sounds good, really appreciate you putting in a fix for this.

[2018-08-14 07:09] #1070 closed

[2018-08-14 08:38] frontalicious-martijn commented on #133
How about adding the css resize attribute? This way you can easily resize per component...

![resize component](https://user-images.githubusercontent.com/7541513/44081019-035dc8da-9fae-11e8-918a-6467170dc669.gif)

[2018-08-14 08:52] frontalicious-martijn commented on #133
Can actually be added via the config :-)

[code]

[2018-08-14 14:07] sapegin commented on #133
This won't help with responsive testing: media queries depends on the viewport size.

[2018-08-15 07:11] mattwagl commented on #1075
At first I was like: Oh no, this will make the examples much more bloated. But after thinking about it, it also makes them more realistic. So you can really copy and paste them into your app.

Additionally you also test the exports of your main module which is 👍 Because when doing styleguide driven development with styleguidist I tend to forget to export new components at the top level.

[2018-08-15 09:58] sapegin commented on #1075
Anyway it won't affect simple examples where you only use one component. But you'll have an ability to use explicit imports to make your code more realistic. See also #1076.

[2018-08-15 16:32] vgnshs2 opened #1088 "Couldn't connect StyleguideRenderer and Wrapper through Redux"
I have customized the Styleguide Renderer with some buttons which is related to the features that my library provides to its consumers. I kept these buttons in styleguide renderer because, I need to have only one Button for each feature, but still pressing on it should affect all the examples in that page. I have my owncustomized Wrapper too. But my requirement is, the button click action from sty

[2018-08-16 08:20] DongShelton opened #1089 "The browser URL is always blink"
**Current behavior**

The browser URL is always blink, it is seems like that the route be pushed all the time.

**To reproduce**

Just install the v7.2.3 and run it.

[2018-08-16 09:45] avdeev opened #1090 "Vulnerable package url-parse (need upgrade)"
[code]

[2018-08-16 10:08] #1089 closed

[2018-08-16 10:08] #1088 closed

[2018-08-16 10:13] #1090 closed

[2018-08-16 10:14] sapegin commented on #1090
Thanks for reporting that! I've updated the lock file, but looks like we don't need to make a new release — the latest version will be installed automatically.

[2018-08-16 15:53] EvHaus commented on #1085
@sapegin After investigation, this isn't an issue with `markdown-to-jsx`. It parses tabs just fine (as confirmed by trying on their demo site here: https://probablyup.com/markdown-to-jsx/)

After investigation, I can see that the markdown gets corrupted at the `<Section />` component BEFORE it even gets to the `markdown-to-jsx` compiler.

Here's a screenshot from the React dev tools showing the pr

[2018-08-17 11:44] sapegin commented on #1085
We're reprinting Markdown from the AST using Remark:

https://github.com/styleguidist/react-styleguidist/blob/d66be96ccc4b23150b4d3ca659b01cbe35d0fe9d/loaders/utils/chunkify.js

https://github.com/styleguidist/react-styleguidist/blob/71d1425a1431d9fd7ba550ef8dc5770a43ef94ff/loaders/utils/highlightCodeInMarkdown.js

The fist issue (with `----`) only happens when you put the `----` after a list. I'v

[2018-08-17 22:16] celiolatorraca opened #1092 "Is there a way to add a table into <details> tag?"
This sample code below does not work when we use it on our examples markdown.

[code]

Here at github it works...

<details>
<summary>Click here</summary>

| Heading 1 | Heading 2 |
| ---------- | ---------- |
| Foo            | Bar            |

</details>

Am I doing anything wrong?
Maybe there is some configuration to use with `remark` to make it work, isn't it?

[2018-08-18 07:42] sibamohanty995 commented on #1070
@aversini Yes, it did work for me. Actually for other components when you override them in your styleguide.config.js, you just write the *component name to be overriden* : *path of the overriding component*
But for CodeTabButton, since it resides inside the slots folder, you've to write it like this in the styleguide.config.js :-
"slots/CodeTabButton" : *path of the overriding component*

[2018-08-18 14:02] aversini commented on #1070
Aaah, that makes sense, yes it's working for me too with that syntax, thanks a lot for the tip @sibamohanty995 👍

[2018-08-18 14:14] sapegin commented on #1092
Looks like an issue with markdown-to-jsx, please report there. We're not using Remark for rendering.

[2018-08-19 06:49] okonet commented on #1076
I’m wondering if we could detect the import and use it instead the provided by the context?

Can you elaborate on relative path?

[2018-08-19 06:52] okonet commented on #1075
I love the idea! I think it’s  worth considering a list of global components via config, still. For example, I use layout primitives almost in every example and it will become much harder if I’d need to import Box and Stack components every time.

[2018-08-19 06:59] DongShelton opened #1093 "How to change the props table style and other component style?"
How to change the props table style and other component style?
I am using styleguidist to develop a bundle of UI component for my team, I want define custom style for demonstration of components. Right now, I found a way change some component style:
[code]
But I can't change the default props table style, can styleguidist support this? How to custom it?

[2018-08-20 06:47] sapegin commented on #1093
It's just a `Table` component, there are no extra styles on the props table.

[2018-08-20 06:56] sapegin commented on #1075
That's possible now with `require` and `context` config options!

[2018-08-20 06:58] sapegin commented on #1076
The relative path: we'll need to replace `import Button from `mylib/Button` with something like `const Button = require('../../Button')` where `../..` is a relative path from our example Markdown file to the module we're importing.

Can you elaborate on that? :-)

[2018-08-20 07:57] sapegin opened #1094 "Drop React < 16.3 support"
This will allows us to use the new context API and other [new features](https://hackernoon.com/react-16-0-16-3-new-features-for-every-day-use-f397da374acf).

**This will be a breaking change, please make a branch based on the `next` branch.**

- [x] Rewrite context code to use the new API
- [x] Remove react-lifecycles-compat
- [x] Update [peerDependencies](https://github.com/styleguidist/react-sty

[2018-08-20 18:18] okonet commented on #1076
Can we use aliases in webpack for that?

I mean: if the import is present, it overwrites what context would give you. Making it fault tolerant but at the same time not required.

[2018-08-20 21:54] celiolatorraca commented on #1092
@sapegin Incredibly, they have already fixed the problem...
Version [6.7.1](https://github.com/probablyup/markdown-to-jsx/releases/tag/6.7.1) was already released!

Do we need a new version of `react-styleguidist` to get this update?

Thanks!

[2018-08-21 07:42] hiredgun opened #1095 "Possible solution to #1057"
Since conversation in #1057 is disabled I just want to provide possible solution to not working "code preview" so that anyone with the same problem could solve the issue.

When someone is using Webpack 4, removing `optimization.splitChunks` section from webpack config should solve the issue:
![webpack_dev_js__working_tree__ _admin-front](https://user-images.githubusercontent.com/2885483/44346238-c

[2018-08-21 07:54] sapegin opened #1096 "Babelify everything"
Right now only `src` folder is compiled with Babel. That's fragile, because we always have to remember that in `loaders` and `scripts` folders we can only use language feature supported by the Node version we support. For example, we [can't use object spread](https://stackoverflow.com/questions/51873840/styleguidist-failed-to-compile).

**Please make a branch based on the `next` branch.**

- [x] M

[2018-08-21 07:59] sapegin commented on #1092
Should be enough to remove the lock file and reinstall dependencies in your project.

[2018-08-21 09:00] smashercosmo commented on #1096
You don't have to remember. You can just use https://github.com/amilajack/eslint-plugin-compat )

[2018-08-21 09:12] sapegin commented on #1096
We use it, but it doesn't work well for some reason. Anyway fragility isn't the only reason — more consistent DX and ability to use Flow for scripts and loaders are good reasons too.

[2018-08-21 14:43] sapegin commented on #1076
Yeah, I think that's what we're going to use in the end ;-)

If by context you mean the `context` config option (and add React to to it by default), then that's how it's supposed to work, yeah.

[2018-08-21 14:44] sapegin commented on #133
@grzegorzj Do you have any performance issues when you have many (could be hundreds on one page easily) iframes on a single page?

[2018-08-22 09:54] Pixelatex opened #1098 "[possible feature request / question] Can't use a babel.rc file"
The issue I have is that I can't use a babel.rc file because it conflicts with nwb that I use to publish my library.

Without a babel.rc it obviously fails on the react code. 'unexpected token'... etc

I can't seem to find any options in the config to inject a babel config. Did I overlook this or is there some other solution to my issue>

[2018-08-22 13:01] sapegin commented on #1098
It's _your project_ webpack config, Styleguidist has very little restrictions here, described in the docs. Babel isn't one of them.

[2018-08-22 13:01] #1098 closed

[2018-08-23 14:33] saschb2b opened #1101 "Dynamic property prints function name instead of array"
**Current behavior**
I have an icon component which takes various names as a property and I don't want to list all of them by hand. So I generated them. Sadly styleguidist doesn't print the generated array in the property description.

**To reproduce**
[code]

![image](https://user-images.githubusercontent.com/2778161/44531850-09b5b580-a6f2-11e8-9759-6683f558c353.png)

**Expected behavior**

I wan

[2018-08-23 22:08] jasonsims commented on #754
@romelperez we're you ever able to make any progress on this idea? Being able to render styleguidist inside another app would be a great addition.

[2018-08-24 03:50] romelperez commented on #754
@jasonsims I couldn't work on this because of time. I ended up making my own version. And yes, it would definitely be an awesome addition.

[2018-08-24 08:27] sapegin commented on #1101
It's likely very hard to implement because react-docgen is using static analysis. But feel free to send a pull request.

[2018-08-24 10:15] MrKou47 opened #1102 "Customised example rendered twice title."
**Current behavior**
![img](https://preview.ibb.co/dSe7Np/Wechat_IMG62.jpg)

[code]
**To reproduce**

**Expected behavior**
Just rendered as expect.

[2018-08-24 10:20] MrKou47 opened #1103 "Customised Example title rendered twice."
**Current behavior**
[code]
![img](https://thumb.ibb.co/gzZwyU/Wechat_IMG62.jpg)

**To reproduce**

**Expected behavior**

rendered as expect.

[2018-08-24 10:21] #1103 closed, assigned to nobody

[2018-08-24 11:26] VivekNayyar commented on #1096
@sapegin Can I take this up?

[2018-08-24 11:27] vivek12345 commented on #1096
@sapegin Can I take this up?

[2018-08-24 17:29] vivek12345 commented on #1096
Thank you @sapegin. For start when I do a npm install and npm start I get this error
[code]
Can I please get some help here?

[2018-08-24 17:46] sapegin commented on #1096
Looks like you're not running Babel, have a look here:

https://github.com/styleguidist/react-styleguidist/blob/master/.github/Contributing.md#development-workflow

[2018-08-24 17:47] sapegin commented on #1102
I guess we need to remove the extra title from one of the custom components in this example.

[2018-08-24 18:12] ryanfabela opened #1104 "Not all Flow Props do not render for styled-components. Only defaultProps show"
_I am not sure if this is the correct library or if this should go under react-docgen or styled-components. Thank you for your patience_

**Current behavior**

When using flow typing with styled-components, exporting the result of ` styled.div`` `, styleguidist only shows the defaultProps but does not render any from `type Props`

Example:
![image](https://user-images.githubusercontent.com/2537590

[2018-08-24 22:50] rafaesc commented on #1094
@sapegin can I take it?

[2018-08-25 06:19] sapegin commented on #1094
@rafaesc YES! That would be awesome! ❤️

[2018-08-25 11:30] vivek12345 commented on #1096
@sapegin Thank you. That did help.
I have a question around the lib directory.
So when I compile src directory with client, scripts and loaders, should I put them all inside lib or just the client.
Secondly examples use a path of `react-styleguidist/lib/rsg-components` if we change from putting `rsg-components` from being inside `lib` to being inside `client/lib` will that be the right way or shou

[2018-08-25 11:51] sapegin commented on #1096
Not sure I understand the question, the folder structure should be:

* src/client
* src/loaders
* src/scripts

lib will have the same structure.

Yup, it should be `src/client/rsg-components`, and we'll need to update a path here:

https://github.com/styleguidist/react-styleguidist/blob/cf7f1efa88d6c83abcb87b5391340d115a4fbf45/scripts/make-webpack-config.js#L18

[2018-08-25 11:53] vivek12345 commented on #1096
Yes so all those changes are done... :)
The one doubt that I have is on this code
[code]
Should we update the path here as well?

npm run lint throws a lot of error for these files?

[2018-08-25 12:08] vivek12345 commented on #1096
I think I understood that.
Had to change eslint file
From
[code]
TO
[code]

[2018-08-25 22:18] iagorm opened #1106 "Support for Expo SDK"
**Support for Expo SDK**

Actually there is no support for Expo SDK environment, the question is, it's gonna have one day?

**Making Support**

This will help a lot for new developers incoming into a project to work together.

[2018-08-26 08:08] sapegin commented on #1106
I have no idea what's Expo SDK, and how its support should look like. And what do you mean by "no support".

[2018-08-26 16:54] iagorm commented on #1106
Expo is a environment that uses React Native and wrappers it with built in API native modules, but some components doesn’t allow the use of expo because of the need to link native modules, but even though using this module don’t get working with the expo’s environment, my question is, this is possible to work with?

[2018-08-26 20:58] artola commented on #127
@stepancar Your styleguide customisation is great! ... could you please share it?

[2018-08-27 03:59] MrKou47 opened #1108 "[Design Question]Why styleguidist rendered ReactExample Component outside of the root Component?"
I'm trying to control my examples use a global redux store(e.g. my components has two different theme, i want to use a global button to change those theme props).But i find that the ReactExample components rendered outside the StyleGuide component [Preview.js#L78](https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/Preview/Preview.js#L78),so they can't be controlled b

[2018-08-27 06:54] sapegin commented on #1108
Each example is a separate React app because we only have a string with the source code, that we need to eval.

What you want to do could be a good idea for a plugin — #505 — any help with the plugin API is very appreciated ;-)

[2018-08-27 06:57] #1102 closed

[2018-08-28 07:09] #1072 closed

[2018-08-28 07:10] #1071 closed

[2018-08-28 07:11] #1053 closed

[2018-08-28 14:23] ryanpcmcquen opened #1110 "How do you enable Hot Module Reloading (HMR)?"
I've searched the docs, issues, and Stack Overflow for an answer to this, but I cannot find the answer. How do you enable Hot Module Reloading?

[2018-08-28 21:54] rafaesc commented on #1094
I was trying to integrate the new context API and in the project works perfect, how I expected, the tests failed, because, I have to change the integration in the tests providing the new context.

But there is an error in [dive](https://airbnb.io/enzyme/docs/api/ShallowWrapper/dive.html) function of enzyme, when it tries to find the components children.

I found this issue, that it relates

https:

[2018-08-29 06:46] sapegin commented on #1094
Thank for investigation!

[2018-08-29 06:47] sapegin commented on #1110
It's enabled by default. What issues do you have?

[2018-08-29 09:31] jneuendorf commented on #464
Hey, I just wanted to throw a [tool for storybook](https://github.com/oblador/loki) in ;) Maybe inspecting it may be useful

[2018-08-29 09:42] MrKou47 commented on #1108
I had achieved my idea by using react@16 `context`, every my component  wrapped by ThemeComponent and it can get theme prop from the query from `window.location.href`.
But i'm afraid i'm not clearly know which work does plugin API do and i can't find any doc about plugin API.I guess it will give us some ability for decorate styleguide component🤔?But when i want to change some styleguide component,

[2018-08-29 12:50] ryanpcmcquen commented on #1110
It isn't working on my project. If I edit a component the entire page reloads:
https://github.com/SurLaTable/slt-ui/
https://github.com/SurLaTable/slt-ui/blob/develop/builder/docs/styleguide.config.js

[2018-08-29 12:57] sapegin commented on #1110
That's how it's supposed to work in Styleguidist. Full HMR would add unnecessary complexity and would be a nightmare to maintain.

[2018-08-29 12:57] #1110 closed

[2018-08-29 13:03] ryanpcmcquen commented on #1110
This seems like not HMR at all. I don't understand the distinction between this and no HMR.

[2018-08-29 19:29] gyaneshgouraw opened #1112 "Importing RSG components to a different standalone Create React App"
I  am using react-styleguidst as a stand alone components library. I am finding it difficult to utilize those components in different apps.

- How do we import these components ?

- Can somebody share any example, who has followed this pattern?

[2018-08-30 07:00] sapegin commented on #1112
What have you tried? What exactly isn't working?

[2018-08-30 07:01] #991 closed

[2018-08-30 08:33] gazpachu opened #1114 "Add tags to the components list"
It would be cool if we could add tags to the components list, so we could specify their status or what is missing, like `WIP`, `example`, `props`, `docs`.

Something like this:

![screen shot 2018-08-30 at 10 25 10](https://user-images.githubusercontent.com/1721288/44839837-0f565280-ac40-11e8-9a44-ea5ed0b3f1f2.png)

I've tried to hack it targetting the generated class names for the `ul` and `li` i

[2018-08-30 08:34] gyaneshgouraw commented on #1112
Using RSG example `basic`  I have created  components library.
I have a separate application, where i want to export these working components.

I included `basic` example as a dependency in new project.
Now in new project if i want to access these components i get error.
`Required loaders not found`

[2018-08-30 09:12] sapegin commented on #1112
I have no idea what you're trying to achieve but you definitely shouldn't use our example as a dependency. What preventing you from using Styleguidist in a normal way?

[2018-08-30 09:13] sapegin commented on #1114
You can replace any Styleguidist UI component:

https://react-styleguidist.js.org/docs/cookbook.html#how-to-change-the-layout-of-a-style-guide

[2018-08-30 10:05] gazpachu commented on #113
Hi @Guria did u manage to solve the loading of the components and their examples from an external dependency?

I also don't want to mix styleguidist with my UI components lib. Thanks!

[2018-08-30 13:18] gazpachu commented on #1114
Thanks, that should be enough!

[2018-08-30 13:18] #1114 closed

[2018-08-30 14:42] gazpachu opened #1117 "Ability to set the build folder"
Is there a way to change the production build folder? I need it to be `dist` rather than `styleguide`.

Ideally, we could pass an `--out-dir` string to the `styleguide:build` script.

So it would be like this: `yarn run styleguide:build --out-dir dist`

[2018-08-30 14:53] gazpachu commented on #1117
Got it... `styleguideDir` in the config!

[2018-08-30 14:53] #1117 closed

[2018-08-31 05:27] #1112 closed

[2018-08-31 06:34] nisargrthakkar commented on #783
I am using ```  "react-styleguidist": "^7.3.2"``` and still facing the issue

![capture](https://user-images.githubusercontent.com/26029722/44896490-03d55b00-ad16-11e8-9d49-1f155fb0d6d4.PNG)

[2018-08-31 06:40] sapegin commented on #1104
Could you check which version of react-docgen-annotation-resolver you have (`npm ls react-docgen-annotation-resolver`)? They've added HoCs support that recently.

[2018-08-31 07:44] gazpachu opened #1118 "How can I change the base patch of the production build JS file?"
My styleguide in production sits inside a subfolder within my domain name, i.e. `http://domain.tld/folder`. This means that the generated `index.html` has the incorrect path that points at the generated JS file: `<script src="build/bundle.68155630.js">`. I would need to add `folder` to the path, so that it becomes: `<script src="folder/build/bundle.68155630.js">`.

Thanks

[2018-08-31 07:53] sapegin commented on #1118
The path is relative to the HTML file. What exactly is the issue here?

Styleguidist works fine in a subfolder: https://react-styleguidist.js.org/examples/basic/

[2018-08-31 08:44] sapegin commented on #1118
You need to fix your server setup, and this is not the best place for such questions.

[2018-08-31 08:44] #1118 closed

[2018-08-31 09:11] davidnguyen179 opened #1119 "How can I add the logo image to side menu title?"

[2018-08-31 11:59] sapegin commented on #1119
By overriding the Logo component:

https://react-styleguidist.js.org/docs/cookbook.html#how-to-change-the-layout-of-a-style-guide

[2018-08-31 18:10] nloding opened #1123 "InterpolateHtmlPlugin: Cannot read property 'tap' of undefined, react-scripts@next"
**Current behavior**

When using react-styleguidist with `create-react-app@next` and `react-scripts@next` it fails to compile and gives the following error: `TypeError: Cannot read property 'tap' of undefined` in the IterpolateHtmlPlugin from react-dev-utils.

The full error:
[code]

**To reproduce**

1. Init a new CRA@next app: `npx create-react-app@next --scripts-version=2.0.0-next.a671462c styl

[2018-09-01 01:01] ryanfabela commented on #1104
1.1.0 according to the output below
[code]

[2018-09-01 07:44] sapegin commented on #1123
I've answered at CRA issue.

[2018-09-03 17:34] Jlevyd15 commented on #879
@sapegin noticed a few color contrast issues with the example Styleguide docs. I've created a PR #1126 to address those. I figured those would land within the scope of this issue but if you think it needs a separate issue let me know.

[2018-09-04 16:38] elevatebart opened #1127 "Windows sees doubles with default components pattern"
**Current behavior**
On windows, if I use the following pattern, styleguidist gives me each component twice.
[code]

**To reproduce**

https://github.com/elevatebart/react-styleguidist-issue

**Expected behavior**

I should only see one instance per component.

[2018-09-04 16:38] elevatebart commented on #1127
I will create a quick PR with what I believe is a solution.

[2018-09-05 09:34] #1108 closed

[2018-09-05 12:48] fnky opened #1129 "Styleguidist server doesn't work with awesome-script-loader"
**Current behavior**

Using `awesome-script-loader` with webpack 4 doesn't work when running styleguidist server. This is due to `awesome-script-loader` requiring webpack 4 and `webpack-dev-server@2.11.2` uses webpack 3.

**To reproduce**

Run `styleguidist server` with a webpack config that uses the `awesome-script-loader` loader.

Example project with TypeScript and `awesome-typescript-loader`:

[2018-09-05 13:36] fnky commented on #1129
This can be circumvented if you install webpack 4 in your repository.

For people using frameworks like NextJS, which doesn't explicitly require webpack to be a dependency, simply add it to fix the issue.

[2018-09-05 19:43] sapegin commented on #1129
Installing your own webpack is the best solution here, yeah.

[2018-09-07 06:41] #1127 closed

[2018-09-07 17:20] jeffscottward commented on #1064
Whats the status on this?
Babel 7 is now fully released

[2018-09-07 18:10] sapegin commented on #1064
@jeffscottward Thanks! I've updated the ticket. Only the second point is left, but it needs some investigation — would be cool if you can have a look into that ;-)

[2018-09-07 18:10] sapegin commented on #1064
(Everything is in the `next` branch.)

[2018-09-09 18:42] jamestowers commented on #578
If using `create-react-app`, you can add
```styleguide: resolveApp('styleguide'),```
to `module.exports` of `config/paths.js` and then in `webpack.config.dev.js` chnage
[code]
to
[code]

[2018-09-09 18:45] jamestowers commented on #1002
If using `create-react-app`, you can also add
[code]
to `module.exports` of `config/paths.js` and then in `webpack.config.dev.js` change
[code]
to
[code]

[2018-09-10 17:46] Darrken opened #1132 "Side navigation broken in 7.3.6"
**Current behavior**
Out of 6 parent sections in my sidebar only 3 are displaying, and none of their component links are showing up.

**To reproduce**

This section is taken from my styleguide.config.js, which has been working through 7.3.5:

[code]

**Current behavior 7.3.6**
![7 3 6](https://user-images.githubusercontent.com/797074/45314402-dabf8200-b4ee-11e8-9d1d-8f0918e31b53.PNG)

**Expected b

[2018-09-11 07:18] sapegin commented on #1132
To clarify: you only see sections with `content`, but none of the component pattern works? Do you see contents of your Markdown files (`Themes.md`, etc.)?

Are you on Windows? It's must be cased by #1128.

/cc @elevatebart

[2018-09-11 11:48] elevatebart commented on #1132
I agree, it might have to do with the simplification I made in getComponentFiles.js.
It is probable that specifying the cwd instead of giving the full path to look for items messed with the returned results.

Before:
[code]

After
[code]

I will have a look

[2018-09-11 16:37] elevatebart commented on #1132
Thanks, I will have look after lunch.

[2018-09-11 18:11] elevatebart commented on #1132
@Darrken After testing with your repo, all seems to point to a [windows/node glob issue](https://github.com/isaacs/node-glob/issues/161).
What makes it fail on your repo is exactly what made the default `{Components,components}` glob work for the standard. I will investigate further and if needed revert the change.

[2018-09-11 23:31] jamsch opened #1134 "[Docs] config for CRA with typescript (react-scripts-ts) includes webpack version that is incompatible"
Started a new create-react-app project with react-scripts-ts and noticed that the [installation guide](https://react-styleguidist.js.org/docs/webpack.html#create-react-app-with-typescript) says to use the following config:

[code]

The problem with the above config is that react-scripts-ts@next still uses webpack 3.8.1 while styleguidist currently uses webpack 4.15.1. This probably should be remov

[2018-09-12 07:10] sapegin commented on #1134
Feel free to send a pull request to fix that!

[2018-09-13 10:12] Acesmndr opened #1137 "Sidebar not loading with multilevel sections"
**Current behavior**
Having multilevel sections results in no items in the sidebar.

**To reproduce**
[code]
results in a empty sidebar.
![screen shot 2018-09-13 at 3 50 07 pm](https://user-images.githubusercontent.com/4254571/45482061-c8527c00-b76c-11e8-9caa-dbedd4d58162.png)
But removing the uppermost section solves the issue but it would mean that I would no longer get to add documentation.
[co

[2018-09-13 12:53] #1132 closed

[2018-09-15 14:34] rheaditi opened #1139 "Help regarding sections in new configuration"
### tl;dr

Hey guys! Just upgraded to `7.3.8` from `7.0.20` and something went wrong with my sections! 😅

### The issue

We were using a `sections` configuration similar to this:

[code]

Where `getComponentSection` would return

[code]

With the above configuration, `Typography` would render as a page with all its subsections in the same page, and if you would click on `Heading` or `Text` under `

[2018-09-17 23:57] MiguelMadero commented on #720
While this works, why is it considered "dangerous"?

[2018-09-18 14:45] sapegin commented on #1123
@marcofugaro Not exactly but it should fix problems with dynamic imports: we're using a smaller editors and don't do code splitting there. It's pretty close to finish I guess, only #1076 is left. To fully support CRA2 we'll need to drop Webpack 3 which is the next next major release. Feel free to help with any of them! ;-)

https://github.com/styleguidist/react-styleguidist/milestones

[2018-09-18 14:51] marcofugaro commented on #916
Not anymore, webpack-serve has been deprecated

https://github.com/webpack-contrib/webpack-serve

[2018-09-18 15:06] sapegin commented on #916
@marcofugaro Awesome, let's close this then ;-)

[2018-09-18 15:06] #916 closed

[2018-09-18 15:07] sapegin commented on #720
I guess because the transformation isn't fully spec-compliant?

[2018-09-18 17:43] reintroducing opened #1141 "Sections with href don't render correctly in sidebar"
**Current behavior**

When using href in a section the sidebar does not render correctly.

**To reproduce**

Given the following section:
[code]

You get the following output:

![](https://uc1697bbd438fe7e7b64dcd4f508.previews.dropboxusercontent.com/p/thumb/AAOXSQzEwxzL34xuVqoE3izQF8i1CPiHgNo8mkOPgPp4Qn_zc_CdEqc4asPQzVImFdD54DEyGPQDMsiym6yPLuvyQ6PfLwwV-jfniWheDRzi8WCwL_55EpgPADhXcgFow8cD1KK2e7bpeL

[2018-09-19 13:08] bebraw commented on #1134
@jamsch Note that CRA is close to version 2 which will come with webpack. That should fix some things although a config PR is likely welcome.

[2018-09-20 00:29] n8agrin opened #1143 "Alternative to process.exit(1) when a webpack module parse error occurs"
Configuration:

[code]

**The problem**

When writing React components, it's common to make mistakes using the JSX syntax. For example, you might be mid-development and accidentally save something like:

[code]

**_Note the missing `>` at the end of the JSX declaration._**

Even though our webpack configuration is setup correctly, this generates an error from webpack like:

[code]

Styleguidist ca