[2019-06-21 09:18] okonet commented on #1382
I think it would make sense to support as many frameworks as possible but with the current architecture I don't think this is feasible. That said, it would be great if you could experiment with Angular and let us know what's missing and how it would make sense to split styleguidist into smaller modules to allow such integrations. Also, check out [vue-styleguidist](https://github.com/vue-styleguidi

[2019-06-21 15:24] #1279 closed

[2019-06-21 15:56] okonet commented on #917
@siddharthkp we actually do support styled-components in styleguidist with `@component` annotation. See https://github.com/styleguidist/react-styleguidist/pull/657

[2019-06-21 20:24] smashercosmo commented on #1354
mmm... guys @sapegin @okonet  you could just tell me that you're fine having react-docgen-annotation-resolver code in styleguidist repo, because I've spent my time doing exactly the same PR as https://github.com/styleguidist/react-styleguidist/pull/1387, but was waiting for any response from the react-docgen-annotation-resolver repo owner.

[2019-06-22 07:02] sapegin commented on #1354
@smashercosmo I'm so sorry 😢I was going to ask you to push what you have done so far but @okonet was too fast with this PR. Mind reviewing it?

Me too. I've sent them an email asking to transfer the repo to our org if they don't want to maintain it. But for now let's keep a fork.

[2019-06-22 13:07] okonet commented on #1354
@smashercosmo that’s actually exactly the code you wrote. I’d love you to take the ownership of this package as soon as we have basic monorepo setup for this project. The reason I copied it over is exactly the same you mentioned: I wanted to try integrating it without waiting for the whole review and merge process. You’re welcome to jump on this branch and help me finilazing it but it looks like i

[2019-06-22 16:16] smashercosmo commented on #1354
@okonet yeah, ok, I understand things like that happen in OSS. Just was a bit upset, because my not-pushed PR was almost the same as yours (I mean not only the react-docgen-annotation-resolver part :)) But of course I would be happy to help with both getting https://github.com/styleguidist/react-styleguidist/pull/1387 merged and with whatever other styleguidist issues you'd like to resolve. I use

[2019-06-22 16:33] okonet commented on #1354
@smashercosmo don’t be! I was just eager to try integrating it after chatting with Artem :-). We can continue with your PR but as I mentioned that doesn’t solve all the issues.  Which brings me to the next question: should we skip the annotated components for now?

[2019-06-23 00:52] a-gheorghe opened #1390 "setting maxWidth for only one component page"
Hey,

I am looking to document some responsive layout (Grid, Row, Column)  components but am having trouble showing the responsiveness of the Grid component. The component takes two properties (fluid and center) that apply to the Grid when the viewport is above 1400px. However, the main content section does not expand beyond 1000px.

I tried setting the maxWidth property in theme to 2000px and thi

[2019-06-23 15:52] #1314 closed

[2019-06-24 08:23] mendrew commented on #1332
Hi @stonebk. The fix has been released in [v9.1.10](https://github.com/styleguidist/react-styleguidist/releases/tag/v9.1.10).
Could you please take a look?

[2019-06-24 10:53] prajaktabanne opened #1392 "Can we add authentication token for styleguidist? like swagger ."

[2019-06-24 17:38] stonebk commented on #1332
@mendrew, all better now! Thanks so much!

[2019-06-24 17:43] mendrew commented on #1332
Awesome, you're welcome! 🙂

[2019-06-25 07:50] #1381 closed

[2019-06-25 14:33] smashercosmo commented on #1354
@okonet well, we can always write our own custom handler for extracting types from styled-components.

[2019-06-25 16:58] okonet commented on #1354
I tried and gave up. Do you want to give it a try?

[2019-06-25 17:14] aarohmankad opened #1394 "Cannot get prop-types of imported types"
**Current behavior**

I have an array of possible values for a prop. I use `PropTypes.oneOf(colors)`, but the generated docs show the string literal "colors" instead of enumerating the colors array.

**To reproduce**

[Modify Label component from here](https://github.com/styleguidist/react-styleguidist/tree/master/examples/basic/src/components/Label) to import possible colors from a file `colors.j

[2019-06-26 17:35] aarohmankad commented on #1394
After more research, this turns out to be an issue with the `react-docgen` library. You can follow along with the Pull Request here: https://github.com/reactjs/react-docgen/pull/352

[2019-06-26 18:25] michaelkutuzov commented on #1321
I have same problem. All methods from this thread don't help😞

[2019-06-27 10:08] smashercosmo commented on #1354
Yeah, I can try)

[2019-06-27 11:08] okonet commented on #917
Apparently there is an ongoing work to support this natively in react-docgen: https://github.com/reactjs/react-docgen/pull/352

[2019-06-28 08:32] antonin87 commented on #1321
Same problem here :( Try all the methods but still not work. Any tips ?

[2019-06-28 14:57] TejasQ commented on #212
For us, rendering isn't the issue but more build-time. We're a typescript codebase and it'll take anywhere from 2-5 minutes to start.

We've used all kinds of optimizations and plugins (including [running type-checking on another thread](https://www.npmjs.com/package/fork-ts-checker-webpack-plugin)) without much success. 😅

I'm wondering how we can improve things.

[2019-07-03 10:38] Chr1stian commented on #621
Now that the ```js and ```jsx tags are supported in Markdown, is it possible to also get a ```tsx tag?

[2019-07-04 12:22] jamil-alisgandarov opened #1396 "Styleguidist starting so slowly"
Our component library documentation is created on styleguidist. Simple `styleguidist server` takes about 8-10 mins to start. I am not sure if it's general problem or something related to us. Would like to know if there is any solution exist to make it faster.

[2019-07-05 06:30] sapegin commented on #1396
If you have lots of components, wort trying [pagePerSection](https://react-styleguidist.js.org/docs/configuration.html#pagepersection) option. Otherwise it's mostly webpack unless something went really wrong but to know that you'll have to debug it.

And upgrading to the latest version is always a good idea.

[2019-07-05 06:51] jamil-alisgandarov commented on #1396
Already have upgraded version of package and `webpack`, but didn't make any big change. I'll try `pagePerSection` option.

[2019-07-05 10:01] thecodejack commented on #1255
We are facing same issue with v9.

[2019-07-05 12:01] driedl commented on #1350
I'd like this too. In my case, I would like to add a dropdown listing all available themes, then pass this theme to the ThemeProvider so all my components then render using the whatever theme is selected.

The theme dropdown is easy to add by implementing a custom StyleGuideRenderer that wraps the default and just adds the ddl component... but i dont know how to pass the value as a prop to the the

[2019-07-06 17:26] dbrrt opened #1397 "Configuration Component category"
**The problem**

Nesting components in different categories doesn't seem possible out-of-the-box.
In `Storybook`, I used to create various stories based on the kind of component I needed to document, which was resulting in nested components within different stories. This is something I miss using `react-style-guidist`.

**Proposed solution**

Implementation of high-level categories for components,

[2019-07-08 20:53] nickrenfo2 opened #1398 "Inline Code component background-color mismatch"
**Current behavior**

Currently, the default theme suggests that the `background-color` for the Code component should be `#f5f5f5` ([see here](https://github.com/styleguidist/react-styleguidist/blob/master/src/client/styles/theme.js#L24)). However, in another place, the Code component is rendered with `background: transparent;` as [seen here](https://github.com/styleguidist/react-styleguidist/blob

[2019-07-10 01:31] jeremyjaybaker commented on #1194
Any updates on this issue that don't involve lerna? I would love to use Styleguidist but am also running into this issue.

[2019-07-10 10:22] #1289 closed

[2019-07-11 09:27] sapegin commented on #1398
Background on inline code blocks make text almost unreadable, so it can't be the default. But feel free to add a theme variable for that.

[2019-07-11 09:35] tonyjeffrey commented on #1321
I have the same problem. 9.0.4 works but 9.0.5 have the error.

[2019-07-16 07:48] #1234 closed

[2019-07-16 10:48] #1330 closed

[2019-07-17 09:25] xudihui opened #1400 "underline in *.md file was gone,but when fill in the code section，it is correct"
**Current behavior**
MD file capture:
![image](https://user-images.githubusercontent.com/15371788/61363964-76f8a900-a8b7-11e9-85d2-906daed5d9ae.png)

render capture:
![image](https://user-images.githubusercontent.com/15371788/61364157-df478a80-a8b7-11e9-9c8b-93941fff56b5.png)

without bash code section：CAP_APP_CODE=> CAPAPPCODE
in bash code section ：CAP_APP_CODE=> CAP_APP_CODE

**Expected behavior

[2019-07-18 06:52] sapegin commented on #1400
This is now Markdown supposed to work, you need to wrap your consts in backticks: `` `CAP_APP_CODE` ``.

[2019-07-18 06:52] #1400 closed

[2019-07-18 20:03] tonyjmartinez commented on #1189
@sapegin This looks like it's actually a problem with [mini-html-webpack-plugin](https://github.com/styleguidist/mini-html-webpack-plugin). Am I on the right track?

[2019-07-18 23:55] tonyjmartinez commented on #1189
Here's what I have so far. I moved the options to remove whitespace to the **html-minify** config.

[code]

Here's what the result from your example looks like.

[code]

I based this off an example from [mini-html-webpack-plugin](https://github.com/styleguidist/mini-html-webpack-plugin)

[code]

[2019-07-19 08:06] josias-r opened #1401 "Warning build contains invalid source map"
I've setup Styleguidist with create-react-app --typescript and am now getting `WARN Compiled with warnings` with the following warnings:

[code]

There was an issue opened with the same question but never answered: https://github.com/styleguidist/react-styleguidist/issues/1256

Any ideas where that is coming from? (not getting it when running the server)

[2019-07-21 09:30] #1336 closed

[2019-07-23 15:06] goku321 commented on #1352
I would be happy to help :)

[2019-07-24 06:37] sapegin commented on #1352
@goku321 That would be great! I've updated he issue with some more details. Let me know if you have any more questions.

[2019-07-24 08:01] KesselRun-xyz commented on #1186
Related: https://github.com/styleguidist/react-styleguidist/issues/1375

[2019-07-24 11:11] jkarttunen commented on #1186
@nathanmarks Yep, that was it.

[2019-07-24 11:12] jkarttunen commented on #1186
Closing as a duplicate of #1375

[2019-07-24 11:12] #1186 closed

[2019-07-24 11:39] jkarttunen commented on #1382
One related thing I'm struggling with in multi-project environment is that some folks might be using the CSS + HTML version of the components, not the react components. And I'd like to support that, as a first step into the design system. (Hey, better than nothing).

[2019-07-24 21:03] tonyjmartinez commented on #1345
I think your problem is how you're importing/exporting.

In the Do component you're doing a default export.
`export default Do`

But in your Markdown file you're doing a named import.
`import { Do } from 'styleguideComponents';`

**Default Import**
So you can try switching the Markdown file to:
`import Do from 'styleguideComponents';`

**Named Export**
Or change your Do component to:
`export const

[2019-07-25 06:44] #1189 closed

[2019-07-25 06:48] #1318 closed

[2019-07-25 20:20] allindeveloper commented on #228
My Components Doesn't Render too

React component example:

[code]

[2019-07-25 20:27] allindeveloper opened #1407 "Components Doesn't Render"
My Components Doesn't Render too, Please Help

React component example:
/src/docs/Login.md  file
[code]

styleguide.config.js

[code]

src/components/Login.js file

[code]

[2019-07-26 11:34] jkarttunen commented on #1407
Showing an example of  component that is connected to react router and redux seems like odd to me. You probably want to display the single component in isolation, not mock the whole application?

So you would do something like
`export class Login extends Component {`
and then

import { Login } from '../components/Login/Login';
const props = { location: null, data:null}
<Login {...props}/>

[2019-07-26 11:41] jkarttunen commented on #1396
How many components do you have? We have around 50+ components, and compiling that takes around 50 seconds

[2019-07-26 12:11] #1375 closed

[2019-07-26 12:56] esSBbe opened #1408 "Unable to import SVG as ReactComponent"
Hi there,
trying to create a simple Readme.md example of my React component which receives a prop 'icon' which is an SVG icon imported as ReactComponent (new in create-react-app 2):

`import { ReactComponent as Warn } from './assets/svg/warn.svg`
`<MyComponent icon={Warn} />`

While the above works just fine in standard .js file I can't seem to get it working inside Readme.md. Would you be so kind

[2019-07-26 13:44] jkarttunen commented on #1374
I can take this, (Adding examples & docs for components with context)  i need this myself too.

[2019-07-26 14:15] allindeveloper commented on #1407
Alright,
Thank You.

[2019-07-26 14:57] jkarttunen commented on #1374
TL/DR;  you need to add context provider somewhere, either in component example or in component wrapper. This worked for me:

An example about using react context with a component

[code]

[2019-07-26 15:13] jkarttunen opened #1410 "Error in basic example: 'React.useState is not a function´"
**Current behavior**

When i fork the repo and build the basic example as instructed, i see console.log errors

**To reproduce**

1. Build basic example as instructed in repo
2. Open in chrome, see console.

**Expected behavior**

No console.log errors

[code]

[2019-07-26 15:30] jkarttunen commented on #1390
AFAIK, responsive components that rely on page width are difficult to do at the moment, because
1. The navigation is on the left hand side, and takes some width from the layout
2. The components are not iFramed

I guess it would be possible to create some kind of iframe wrapper for the component, but upcoming features might help with this. Right @sapegin ?

[2019-07-26 15:34] jkarttunen commented on #1390
But i guess you could customize the StyleGuide.js as in the customized example, and add a if condition to change the maxWidth in single route

[2019-07-26 15:42] jkarttunen commented on #1398
Looks fine to me. Subtle enough to not be an accessibility problem, but better hint than pure typography.  (Styles lifted from github inline code styles)

![Screenshot 2019-07-26 at 18 40 07](https://user-images.githubusercontent.com/914822/61963711-e87dd900-afd4-11e9-9224-73487d227841.png)

[2019-07-27 05:31] jkarttunen commented on #1358
You can configure the public folder with `styleguideDir`config option.

<https://github.com/styleguidist/react-styleguidist/blob/master/docs/Configuration.md#styleguidedir>

[2019-07-29 04:16] tata81 commented on #1230
Hi @FezVrasta I made it working by making another component and wrapping the styled-components around my original component.
`// @flow
import React from 'react';
import styled from '@emotion/styled';

type Props = {
	color: string,
};

const StyledButton= styled(({color, ...props}: Props) => color: ${props => props.color};)

const Button = ()=> <StyledButton><button> Click Me </button></StyledButt

[2019-07-29 18:26] FezVrasta commented on #1230
Thank you but that's not a viable solution, it's merely a workaround ☹️

[2019-07-30 00:24] cisen commented on #1321
[code]
It works for me!

[2019-07-31 11:20] DarthVanger commented on #1383
Put the code you want to show to the user into a separate component (`OurCheckboxExample`).

Create a component that accepts a component name as a prop and shows both component and it's code, using [webpack raw-loader](https://github.com/webpack-contrib/raw-loader) to get component's code as text and [React syntax highlighter](https://github.com/conorhastings/react-syntax-highlighter#readme) to hi

[2019-08-01 14:12] sandix34 commented on #1256
I also have the same problem and I'm always looking for the solution

[2019-08-01 19:20] #1344 closed

[2019-08-02 11:22] #1358 closed

[2019-08-02 20:56] vollmerr opened #1413 "Rendering named export instead of default export when using HOC"
**Current behavior**

The named export of a component is being used instead of the default if the default export is using a HOC.

I was on 9.1.5 and it worked fine for using the default export with a HOC, but trying to update to 9.1.13 makes it render the named export instead of the default.

**To reproduce**

Using 9.1.5 it renders the button text that is overridden in the HOC
https://github.com/

[2019-08-02 21:14] mendrew commented on #1413
This is because of a recent fix for named export.
This issue: https://github.com/styleguidist/react-styleguidist/issues/1281

Commit: https://github.com/styleguidist/react-styleguidist/commit/5ff72d8c82d11ce70c6449a77343e2cc5462c037

As you can see the logic to get a component is ([code](https://github.com/styleguidist/react-styleguidist/commit/5ff72d8c82d11ce70c6449a77343e2cc5462c037#diff-f91bc49

[2019-08-02 21:40] vollmerr commented on #1413
Swapped to using explicit imports and looks to be working.
Thanks for the explanation and quick response!

[2019-08-02 21:40] #1413 closed

[2019-08-04 20:13] swashcap commented on #1321
Changing from npm to [yarn](https://yarnpkg.com/en/) solved this problem in my project. Seems like something's wrong in the dependency tree? https://github.com/styleguidist/react-styleguidist/issues/1321#issuecomment-494732909 and other comments on this issue indicate this.

[2019-08-05 08:10] sapegin commented on #1410
We need to update React there:

https://github.com/styleguidist/react-styleguidist/blob/d1e528fd71de2edb9850c76cd76bc268e3677398/examples/basic/package.json#L27

Feel free to send a pull request 👾

[2019-08-07 07:30] AlexanderKaran opened #1415 "createPortal stops methods and props from rendering"
Hi Everyone

Using Styleguidist to render documentation for our app and thanks to the third-party libraries section have got it working everywhere except when I use ReactDOM.createPortal, the props types and methods do not load. I have attached code and screenshot of generated docs below:

[code]

![Screen Shot 2019-08-07 at 3 29 05 pm](https://user-images.githubusercontent.com/47707063/62603290-3

[2019-08-08 11:09] #1374 closed

[2019-08-09 02:16] #1278 closed

[2019-08-09 14:52] angrybacon opened #1416 "Is @function supposed to work/force method detection?"
How can I force these 2 methods to be picked up by `react-styleguidist`?

The following 2 methods are not being picked up while the other from the same class are.

[code]

[2019-08-09 16:44] alexcanessa opened #1417 "Component list not shown if there are no sections"
**Current behavior**

Since 9.1.14 is changing the logic for sections, if no `sections` are present in the configuration (I only want a flat list of components) the `<TableOfContents />` doesn't pass the `items` correctly.

**To reproduce**

Update to the latest version (9.1.14) and don't use `sections`.

**Expected behavior**

Show a flat list of components (as per <=9.1.13).

[2019-08-12 13:13] #1339 closed

[2019-08-12 14:05] ofilio commented on #1417
Have same trouble. If `sections` length < 2 list not render.

[2019-08-12 19:23] roblevintennis commented on #1321
Yeah, I fixed it by doing the downgrade with:
`yarn add --dev --exact react-styleguidist@9.0.4`

[2019-08-14 14:58] danzawadzki opened #1420 "How can I include external library components in the styleguide?"
I have been using react-styleguidist for some time and am delighted. However, I have a problem. For the latest project i'm involved in, we decided to use the material-ui library, which we have adapted to our requirements. I wonder if there is any possibility to configure the library in such a way that I can write md for components, which I did not write myself.

I would like to be consistent in ou

[2019-08-14 15:33] tonyjmartinez commented on #1345
@sapegin  I think you can close this issue

[2019-08-14 22:07] kalbert312 opened #1421 "Component is named ForwardRefExoticComponent"
Whenever I wrap a FC in `React.forwardRef`, styleguidist always picks the name `ForwardRefExoticComponent`.

I've tried
[code]
[code]
but doesn't seem to work.

Is it not supported?

[2019-08-15 07:52] svetogor commented on #1321
Downgrade didn't work for me.
Tried to upgrade/downgrade `react-styleguidist`, `acorn`, `acorn-jsx`, `@babel/core` and its plugins...
Completely remove both `node_modules` and `package-lock.json` didn't help either.

Still getting
[code]

Any other ideas?

[2019-08-15 13:31] #1410 closed

[2019-08-18 16:41] dilnara commented on #675
So, do I understand right that it's react-native-web in fact, not react-native? Or it's really NATIVE app that is run on the device?

[2019-08-19 05:29] haquezameer commented on #776
@sapegin @glebez I would like to take this up if it is still open.

[2019-08-19 09:39] sapegin commented on #776
@haquezameer Awesome! I'm sure most of the todo items weren't done yet.

[2019-08-19 11:41] #1253 closed

[2019-08-19 14:46] haquezameer commented on #776
ok @sapegin. I am taking this up.

[2019-08-19 15:41] #1360 closed

[2019-08-19 21:15] Aminadav opened #1424 "How to make react-styleguide to support show documentation for JSDoc params?"
Whatever I'm doing I'm not able to generate docs for components that uses JSDoc.

For e.g.

The following code:

    /**
     * @param {{name:string}} props
     * */
    export function Button(props) {

    }

Should show me:

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/09S8b.png

To see the props I must use propTypes

    Button.propTypes = {
      name: PropTypes.s

[2019-08-20 16:52] anikolaev commented on #903
I've also faced this issue. Not sure what demo is required in this case.

[2019-08-21 07:10] cicely-f commented on #1321
still happening with 9.1.16. the components are in tsx. the styleguide config is only specifying sections/components, and tsconfig is as follows:
[code]

[2019-08-21 14:12] dustin-ruetz commented on #1321
I was experiencing the same "unexpected token" issue in all of my .md React component examples in one of my libraries when using the latest version of `react-styleguidist` (currently 9.1.16).

To expand on @cisen's fix posted above, I determined that the issue was with the latest version of `acorn` (currently 7.0.0). Explicitly installing the latest 6.* version of `acorn` (currently 6.3.0) as a de

[2019-08-21 19:03] roblevintennis commented on #1278
Fwiw, I tried the removal of packages and reinstall without success. The acorn tip did work though:
`yarn add --dev acorn acorn-jsx`

[2019-08-21 23:57] rafegoldberg commented on #1321
@dustin-ruetz's solution worked for me!

[2019-08-22 06:32] josias-r commented on #1321
It worked for me as well. It's important to remove the lock file and node_modules though... So I guess it's an issue in the dependency tree of react-styleguidist?

[2019-08-22 09:04] #1363 closed

[2019-08-22 15:15] josias-r opened #1425 "No default value preview for arrays and methods"
**Current behaviour**
My example class only shows _required_ or blank for array and method default values:
![Screenshot 2019-08-22 at 17 12 56](https://user-images.githubusercontent.com/11424820/63526806-47653e00-c500-11e9-9444-fd16ec6630df.png)

**To reproduce**
[code]

**Expected behaviour**
For arrays there should be a similar preview as for objects and methods should be visible as well.

Boole

[2019-08-22 15:18] josias-r commented on #1425
btw, you spelt behaviour wrong in the issue template 😉

[2019-08-22 15:23] josias-r commented on #187
@sapegin You are referring to an issue that has actually been resolved?

[code]
This should work now, shouldn't it? If so, please reopen the issue...

[2019-08-23 08:26] josias-r commented on #1425
Found out, this is a react-docgen-typescript issue...

[2019-08-23 08:26] #1425 closed

[2019-08-23 13:15] adrienharnay commented on #1321
Also facing the same issue. I tried:
- [installing acorn & acorn-jsx](https://github.com/styleguidist/react-styleguidist/issues/1321#issuecomment-516210699)
- [installing acorn@6.3.0](https://github.com/styleguidist/react-styleguidist/issues/1321#issuecomment-523474993)
- other tricks
Nothing fixed it for me

[2019-08-23 19:42] kingkomg commented on #1321
installing with yarn worked for me. hat the same problem with versions 9.1.14 and 9.1.16

[2019-08-26 09:01] Draccan commented on #1415
I have the same problem.

[2019-08-26 17:04] #1300 closed

[2019-08-26 20:04] #1372 closed

[2019-08-27 03:04] #1373 closed

[2019-08-30 06:53] okonet commented on #1416
I bet it's related to the `debounce` wrapping. Could you try refactoring?

[2019-08-30 06:55] okonet commented on #1268
Maybe we should maintain a public API mapping where we expose components the components? Extensibility is one of the great aspects of styleguidist and I think it's a valid point that such changes should not break existing usages.

[2019-08-30 06:59] okonet opened #1426 "Support for useImperativeHandle"
**The problem**

[`useImperativeHandle`](https://reactjs.org/docs/hooks-reference.html#useimperativehandle) allows components to expose some of their API similarly to instance class methods.

[code]

allows calling `fancyInputRef.current.focus()` in other component.

**Proposed solution**

It would be great to treat functions returned from this hook as part of the external API and add them to the

[2019-08-30 07:56] sapegin commented on #1268
This sounds great in theory but in practice I don't see it practical. And like with any “we should do”, someone will actually have to do this work.

[2019-08-30 13:59] j-te commented on #1424
Like this:

[code]

[code]

...results in:

![image](https://user-images.githubusercontent.com/34647206/64026383-90d40f80-cb36-11e9-9a0f-899d0e122b5e.png)

[2019-08-30 15:40] angrybacon commented on #1416
@okonet Refactor how? How else should I write these 2 methods?

[2019-08-31 15:58] #1366 closed

[2019-09-01 16:54] okonet commented on #1416
Since you're using class, you could do the wrapping in the `constructor` and leave the actual methods unwrapped for instance.

[2019-09-01 16:57] angrybacon commented on #1416
@okonet Oh good call, I'm not used to utilize the constructor for that. Thanks will try and report back :-)

[2019-09-02 09:04] angrybacon commented on #1416
@okonet that does work as expected, thanks for the tip :-)

[2019-09-02 09:04] #1416 closed

[2019-09-03 15:53] andrewpjames13 commented on #1415
The way I solved this problem was inside of my Wrapper component that I defined for the `rsg-components/Wrapper` I added a constructor where I created a div in document.body that had the Id my portal was looking for.

[code]

[2019-09-03 19:30] tsiq-jeremy opened #1427 "Typescript markdown files to show a warning when props are the wrong type."
**The problem**

An easy way to reproduce the problem is to start using this [example](https://github.com/styleguidist/react-docgen-typescript/tree/master/examples/react-styleguidist-example) and in [Column.md](https://github.com/styleguidist/react-docgen-typescript/blob/master/examples/react-styleguidist-example/components/Column.md) update it to add a prop that does not exist.

[code]

A desired

[2019-09-04 02:10] fosterdouglas commented on #1401
Also having this identical issue.

[2019-09-05 16:23] mr-koshkins opened #1428 "Prop list doesn't understand array const"
I have such a component:

[code]
And get this in props description.
![image](https://user-images.githubusercontent.com/47605061/64360049-51b02d80-d012-11e9-86d3-5a9fe14f231b.png)

But i expect to get like this
![image](https://user-images.githubusercontent.com/47605061/64359744-a43d1a00-d011-11e9-9878-1b37ad07716f.png)

What am I doing wrong?

[2019-09-05 17:07] #1294 closed

[2019-09-05 23:58] #1308 closed

[2019-09-09 09:02] sehailey opened #1429 "styleguidist crashes when running under tmux"
**Current behavior**

running ```npm install --save-dev react-styleguidist``` and then ```npx styleguidist server``` inside of a create-react-app directory in tmux fails, whereas running it outside of tmux works fine.

Error log:
2761 verbose stack Error: libyaml@0.2.5 install: `node-gyp rebuild`
2761 verbose stack Exit status 1
2761 verbose stack     at EventEmitter.<anonymous> (/usr/local/lib/no

[2019-09-10 13:10] okonet opened #1430 "Default getExampleFilename implementation produces false positives"
**Current behavior**

Right now, setting `skipComponentsWithoutExample: true` and giving the following directory structure

![CleanShot 2019-09-10 at 15 05 27](https://user-images.githubusercontent.com/11071/64616282-8c341480-d3dc-11e9-8cc6-27388fe6ae29.png)

styleguidist will render `Form.md` contents twice: once for `Form.js` file and once for `Field.js`. For the first example, it will result in

[2019-09-10 13:16] okonet commented on #1430
@bebraw could you come up with a reproducible repo when you have some time perhaps?

[2019-09-10 15:03] McManning opened #1431 "JSS styles not rendered in build"
**Current behavior**

When including custom component JSS via the `styles` config, they render fine in server mode but are missing from the final build. Tested under both latest Chrome and Firefox.

**To reproduce**

I have a trimmed down copy of our setup here: https://github.com/McManning/styleguidist-demo

[2019-09-14 09:49] hongyin163 opened #1433 "I can't use arrow function in markdown"
When I write demo in reademe.md file，I can't write  arrow function in class
[code]

`

but i can do this in js file

[2019-09-14 12:39] tisgro commented on #1350
I've proposed a general solution to the problem of multiple theme support in PR #1434 – @dysticus @driedl let me know if it works for you.

[2019-09-15 23:40] ChiefDesigns opened #1435 "Uncaught ReferenceError: <ComponentName> is not defined"
**Current behavior**
When running the styleguidist i keep on getting the above Uncaught ReferenceError.

I added the propsParser option to module.export and this was to get passed a certain issue. Now on doing so I have another issue I need to get passed.

If I don't add the parsersers, the syntax fails when you try to cast using the as keyword. Adding the parsers option solves that but then anoth

[2019-09-17 07:32] sanwjt commented on #1433
I have the same problem，do you solved it.    i do not want to bind this in constructor

[2019-09-17 17:38] pasupuletics commented on #1394
@aaronmankad, mean while u can use https://github.com/siddharthkp/react-docgen-external-proptypes-handler

[2019-09-18 12:11] jkarttunen opened #1436 "Section overview on large design systems."
**The problem**

When documenting design systems, we want to include general design documentation and guidelines. In a DS documentation, component directory is just one major section. Eg.
1. Introduction
2. Design Principles
3. Tone of Voice
4. Images and illustrations
5. UI components

**Proposed solution**

Let's make it easier to split large design systems to independent sections. Either by ena

[2019-09-22 04:44] hongyin163 commented on #1433
I write demo in demo folder, and import it in readme file

you need add this option
[code]
In readme file

[code]
[code]

[2019-09-22 12:06] philipnilsson opened #1437 "Make it easier to configure sections"
**The problem**

I'd love to make it easier to configure components into nested sections. Mostly for nicer organisation, though it could also help working around performance problems related to showing too many components on a single page in a large style guide.

I'd be fine with looking into making a PR for this myself, but would like some confirmation on whether this is considered suitable for s

[2019-09-23 11:01] IgorChiriac commented on #1421
the solution for us was to wrap the exported component into a react function
`export default Input as React.FC<React.HTMLProps<HTMLInputElement> & ComponentProps>;`

[2019-09-24 15:17] #1378 closed

[2019-09-26 08:36] daoyi7 opened #1438 "How can i transform arrow function in my md file?"
**here is my md code:**

[code]

**result:**
[code]

How can i transform arrow function in my md file? with compilerConfig ?

[2019-09-26 16:25] natearmagost commented on #1194
I hit the `FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory` issue.

This fixed it for me:
`node --max_old_space_size=4096 node_modules/react-styleguidist/lib/bin/styleguidist server --config ./styleguide.config.js`

Instead of:
`npx styleguidist server`

[2019-09-28 05:43] AlexanderKaran commented on #1415
Hi, @andrewpjames13 thanks for the tip.

That does indeed work; however, it doesn't feel like an elegant solution.

I guess I will settle for that since there is no other solution.

Thank you so much for your help.

[2019-09-29 12:14] hongyin163 opened #1439 "TypeError: string.replace is not a function"
webpack:///./node_modules/react-styleguidist/lib/client/rsg-components/Props/util.js?
[code]
the parameter “string“  may be true value

[2019-09-29 12:20] #1392 closed

[2019-09-30 11:03] hongyin163 commented on #1439
I find the problem ：
I use react-docgen-typescript as propsParser ,but this package is updated，so the string parameter is not a string type

https://github.com/styleguidist/react-docgen-typescript/pull/210

[2019-09-30 18:28] dhuang612 commented on #1351
Hi,

It looks like the PR was never merged, is this something I can work on?

[2019-10-01 10:29] #1437 closed

[2019-10-01 11:24] sapegin commented on #1351
@danielfx90 it wasn't merged because there are no other _finished_ breaking changes and it doesn't make much sense to make a new major release just for this. Is there any particular reason you need this?

[2019-10-02 01:05] apennell commented on #1428
This looks like a duplicate of issue #1394

[2019-10-02 01:44] apennell commented on #841
I'd love to give this a shot!

[2019-10-02 07:01] sapegin commented on #841
@apennell That would be awesome!

[2019-10-02 13:30] codler commented on #1321
I have the same problem in v9.1.16

[2019-10-03 10:31] AlexanderKaran commented on #1415
Hi Everyone

I have since decided to take createPortal outside of my component for a few reasons, so I thought I would share:

- One it stops docs from rendering
- Two it stops things like ESLint working correctly on the component, e.g. doesn't flag missing prop types
- Three what if I want to use the component but not in a portal

Because of the above and more, I have decided it is better to use

[2019-10-03 10:31] #1415 closed

[2019-10-03 17:28] shakti97 commented on #1209
is it Completed or not if completed please close the issue

[2019-10-03 19:47] dsuarezlogans commented on #1220
is this issue still open? can I help on this?

[2019-10-03 22:23] stefanosu commented on #1351
Any assistance still needed for this?

[2019-10-04 14:34] xsnakeex commented on #1220
Hello @dsuarezlogans . This problem don't have anymore.
I think this issue can be closed.

[2019-10-04 19:33] shakti97 commented on #1267
Please mark the issue as closed

[2019-10-04 20:23] jonascript commented on #1267
thanks!

[2019-10-04 20:23] #1267 closed

[2019-10-07 11:48] sapegin commented on #1430
Yes, `Foldername/Foldername.md` is one of the patterns that the default function will try. So it works as expected.

Rendering a component twice is another thing: your components pattern is likely too broad. Does it match `index.js` as well? This could be a reason.

[2019-10-07 13:57] Wiklem commented on #1439
Hi.
Il get the same trying to render ms-fabric props:
[code]

[2019-10-07 17:52] apennell commented on #841
FYI, I'm slowly working through this as I have time 👌

[2019-10-08 05:08] okonet commented on #1430
No, it doesn’t afaik. It only matches components with first capital letter. It matches `Field` is matched but it doesn’t have the example file (`Field.md`) so it shouldn’t render.

[2019-10-08 07:59] malcolm-kee commented on #1439
For anyone hitting this issue because using `react-docgen-typescript`, the workaround is to change the following code in your `styleguide.config.js`:

[code]

But I guess the proper fix is to fix the `unquote` utility.

[2019-10-08 09:14] Wiklem commented on #1439
Thank you for the workaround.

Yeah, should be a check in `export function unquote(string) {
  if (typeof string === 'string')
    return string && string.replace(/^['"]|['"]$/g, '');` , since a boolean will crash it.

[2019-10-08 21:01] elstr commented on #1278
If this doesn't work try `rm -rf node_modules && npm install --legacy-bundling`

[2019-10-08 21:03] elstr commented on #1321
This solved the issue for me `rm -rf node_modules && npm install --legacy-bundling`

[2019-10-10 11:08] kopax opened #1441 "npm run styleguide:build - Maximum call stack size exceeded"
**Current behavior**

After running `npm run styleguide:build`, I have:

[code]

**To reproduce**

- Example: https://rollup-umd.github.io/test
- Local Reproduction:

[code]

**Expected behavior**

- Work as in `npm run styleguide`.

**Related information**

It was working 24h ago, since then, I have not change anything in all my sources codes.

**All my production build** in all my projects are d

[2019-10-10 11:32] #1255 closed

[2019-10-10 12:04] kopax opened #1442 "Disable TerserPlugin to debug in production"
**The problem**

We have all our production build broken and it is unclear why (See #1440)

Because of the all compressed JS code, it is even harder to debug, because we can't see the trace.

**Proposed solution**

Add an option to disable Terser on production build.

**Alternative solutions**

Find a way not to let production build break when core dependencies change

[2019-10-10 12:13] kopax commented on #1441
I also want to add, because it is somehow important to many:

We were extremly satisfied with react-styleguidist and all our documentation.

The fact that we need to spend time maintaining the library is a pain. Because it's main goal is to write documentation, not to be a program on it's own.

I am surprised that it can break so easily across so many projects because of sub dependencies.

We fixe

[2019-10-10 13:56] kopax commented on #1442
Source: https://github.com/webpack/webpack/issues/9794#issuecomment-540596331)

[2019-10-10 13:58] blumendorf commented on #1321
Experienced the issue on v9.1.16 after updating other dependencies.
`styleguidist server` worked, while `styleguidist build` didn't.

[installing acorn@6.3.0
](https://github.com/styleguidist/react-styleguidist/issues/1321#issuecomment-523474993) fixed it for me.

It might be related to eslint requiring acorn 7.0.0?

`"eslint": {
   "version": "6.5.1",
   "requires": {
     "espree": "^6.1.1",

[2019-10-11 03:03] #1439 closed

[2019-10-11 18:16] #1397 closed

[2019-10-12 04:46] rolandjitsu opened #1444 "Production build fails but dev works"
**Current behavior**

If I build a production build w/ `styleguidist build` it will fail w/ the following error:
[code]

**To reproduce**
1. Fork the repository: https://github.com/rolandjitsu/react-dropzone
2. Install deps w/ `yarn install`
3. Run the build w/ `yarn styleguide`
4. Open the result in a browser (build output should be in the project root `./styleguide`)

**Expected behavior**

Prod

[2019-10-15 11:22] oterral commented on #1444
@rolandjitsu if it can helps . In our project, we fixed  it fixing the terser version in package.json
[code]

`resolutions ` works with `yarn` but there should be an equivalent for `npm` I guess

[2019-10-15 11:31] kopax commented on #1444
Related https://github.com/webpack-contrib/terser-webpack-plugin/issues/173 https://github.com/terser/terser/issues/490

[2019-10-15 13:48] fabiosantoscode commented on #1444
Very cool :) I've just fixed the issue on my end.

I would greatly appreciate if you opened up the Terser options for your users to change, as they will be armed with the required tools to post nice bug reports :)

[2019-10-15 14:34] kopax commented on #1444
It's done already @fabiosantoscode https://github.com/styleguidist/react-styleguidist/pull/1443

[2019-10-15 19:39] dhuang612 commented on #776
is this available to work on?

Thanks

[2019-10-16 07:23] sapegin commented on #776
@dhuang612 sure, there's never too many tests.

[2019-10-16 07:46] sapegin commented on #1442
Done in #1443.

[2019-10-16 07:46] #1442 closed

[2019-10-16 16:01] karakashevivo opened #1450 "Broken style when using ```jsx static"
**Current behaviour**
When I want to show a component with `  ```jsx static`, the text is no more wrapped inside the `<pre>`.

 `overflow: auto` is fixing it, but as I understood from the documentation, there is no way to pass this code to the right place.

In my case this issue is breaking the whole mobile version  of styleguidist and also the behaviour of some components. Any idea how this can b

[2019-10-16 17:12] kopax commented on #1450
I did not notice this, is this happening in the demo?
BTW, you can edit `html-webpack-mini` plugin to inject custom css.

[2019-10-17 07:39] MrHavard commented on #1436
My team does this today with the sections configuration adding general design system documentation in one set of sections and component definitions in another and control the rendering using section depth. We've been contemplating using styleguidist this way across a mono-repo to keep the philosophy and theory of the design system separate from the practical applications of the platform components

[2019-10-17 18:00] okonet commented on #365
That sounds great but I’d suggest to use frontmatter instead of HTML comments. Possible?

[2019-10-17 21:52] MrHavard commented on #365
We're using gray-matter which uses frontmatter but also allows us to define custom delimiters, which we specified as html comments that wrap the yaml. We were going to use frontmatter directly but having a table pop up in the top of our readme's in github wasn't something we liked.

Example
[code]

[2019-10-19 12:30] Sreilys commented on #1018
I did a suggestion that could be a good starting point to solve this issue https://github.com/styleguidist/react-styleguidist/pull/1451

[2019-10-21 12:31] mr-koshkins commented on #1428
Thanks. I will follow #1394

[2019-10-21 12:31] #1428 closed

[2019-10-21 12:52] mr-koshkins opened #1452 "How can I describe the properties of a nested shape?"
Hi! I have this props type

[code]

And i get doc like this
<img width="965" alt="props" src="https://user-images.githubusercontent.com/47605061/67206385-38284100-f41a-11e9-9cb1-8d1a1a05618e.png">

But I was hope to see a description of shape
<img width="110" alt="dslkjfhsdaf" src="https://user-images.githubusercontent.com/47605061/67206562-8d645280-f41a-11e9-9b72-b0344d61a3fa.png">

Can you help

[2019-10-23 08:58] GuptaWeber commented on #783
I am using `"react-styleguidist": "^9.2.0"` and still I am facing this issue.

It's working when if we manually import all the required dependencies for the project in the Styleguidist example. But my Repository has many packages and many examples. It ends in a lot of code repetition.

Is there any way to solve this?
Help me guys..!

[2019-10-23 20:51] apennell commented on #841
@sapegin I'm close! Here's a screenshot of the output:
<img width="1675" alt="Screen Shot 2019-10-23 at 1 43 24 PM" src="https://user-images.githubusercontent.com/11039888/67432522-42be1400-f59b-11e9-891e-fc1976c0b81d.png">

I added the `padded` class to the container with the following jss:
[code]
As you can see in the screenshot, the button with the `padded` class is taking on a different font.

[2019-10-24 08:09] sapegin commented on #841
Awesome work! 🦄

Try to add `isolate: false` to both style blocks, this should disable this big block of CSS you see.

https://react-styleguidist.js.org/docs/development.html#styles

[2019-10-24 21:29] MacZel commented on #1321
same for me :(

[2019-10-25 17:53] chrisdopuch opened #1454 "Isolated mode example shows duplicates when component name is the same as another"
**Current behavior**

If there are two or more components with the same name in a Styleguidist project, when you click on the isolate example button the isolated page will show _all_ of the components with that name (instead of just the one you clicked on to isolate).

Demo:
![demo](https://zappy.zapier.com/duplicate-isolated%202019-10-2510%20at%2010.43.23.gif)

**To reproduce**

My fork: https://

[2019-10-27 19:19] FezVrasta commented on #1230
Bump

[2019-10-28 08:06] sapegin commented on #1351
@stefanosu Thank! There's a PR already that I'm going to merge and release soon ;-)

[2019-10-28 08:29] #1351 closed

[2019-10-28 09:32] mancioshell commented on #73
Is it possible to have similar behaviour for exact proptype ?

[2019-10-28 10:45] karakashevivo commented on #1450
Issue is fixed after the version 9.
In 9.1.16 there is still problem with long strings, which has no space and no `-`:
![image](https://user-images.githubusercontent.com/48553660/67672317-f5192100-f977-11e9-90e1-056e8cb90438.png)

[2019-10-28 13:29] sapegin opened #1457 "Investigation: can't upgrade Acorn to 7.x"
I'm trying to upgrade Acorn from 6.30 to 7.0.0 (or 7.1.0) and it doesn't work:

[code]

[code]

I don't see any migration guide or [changes](https://github.com/acornjs/acorn/blob/master/acorn/CHANGELOG.md) that may break JSX parsing. Any hints would be great here.

[2019-10-28 21:20] malyzeli commented on #1457
Probably related to #1321

[2019-10-28 21:26] malyzeli commented on #1321
Seems that explicitly installing `acorn` helps, but it didn't work for me until I cleared npm cache.

[code]

[2019-10-29 07:50] sapegin commented on #1321
I guess some of your project dependencies depends on Acorn 7, because Styleguidist depends only on 6.x. And all the solutions above is how to trick npm/yarn to use Acorn 6 with Stylegudist.

And help with _actually_ fixing the issue is very much appreciated.

[2019-10-29 07:50] sapegin commented on #1457
@malyzeli I think you're right, closing this one as duplicate.

[2019-10-29 07:50] #1457 closed

[2019-10-29 08:56] sapegin commented on #1321
Buble doesn't support Acorn 7:

https://github.com/bublejs/buble/blob/2da2ddb00f751a266fa07759a370a99059e21ce6/package.json#L73

And looks like something weird is happening when Acorn 7 is in the dependency tree. Buble tries to use Acorn 6 from its own `node_modules` but it doesn't work for some reason. Here might be some difference in module resolution between npm and Yarn, and why Yarn works whe

[2019-10-29 08:58] sapegin commented on #1321
Also Buble seems to be in maintenance mode now, so we should consider migrating to something else:

https://github.com/bublejs/buble/issues/220

[2019-10-29 12:34] #1382 closed

[2019-10-29 20:08] RenanNascimento opened #1458 "Public methods does not show when using function components"
Hi!

When I try to show public methods using class components it works. But it does not work when using function components.

Example using class component
[code]

Example using function component
[code]

[2019-10-30 10:32] sapegin commented on #1458
How is it public when it's scoped inside your function? It's not part of your component public API.

[2019-10-30 10:32] #1458 closed

[2019-10-30 10:34] sapegin commented on #1450
Looks like we should add `overflow: auto` to code examples? Feel free to send a pull request with a fix! 👾

[2019-10-30 10:35] #1444 closed

[2019-10-30 10:36] sapegin commented on #1438
Buble doesn't support class properties (this has nothing to do with arrow functions). We'll likely replace Buble with Babel in the future.

[2019-10-30 10:38] sapegin commented on #1433
Duplicate of #1438.

[2019-10-30 10:38] #1433 closed

[2019-10-30 12:14] #915 closed

[2019-10-30 12:15] #1220 closed

[2019-10-30 13:09] kakadiadarpan commented on #1352
@sapegin Maybe [flow-to-ts](https://github.com/khan/flow-to-ts) can help a bit in this migration. I can try it out and see how it goes 😄

[2019-10-30 13:12] nathanredblur commented on #1352
I can help too. I have experience with typescript and react. Tell me how can I start.

[2019-10-30 13:38] sapegin commented on #1352
@kakadiadarpan I've tried react-javascript-to-typescript-transform and it wasn't very useful, so would be great if you can try flow-to-ts to compare ;-)

[2019-10-30 13:39] sapegin commented on #1352
@nathanredblur That's awesome! I've added a list of steps (unless I'm missing anything) for the conversion — no need to do everything at once though ;-)

[2019-10-30 15:52] tanvirraj commented on #1352
@sapegin I love to contribute, Where I can start ?

[2019-10-30 15:56] sapegin commented on #1352
@tanvirraj That's awesome! I've added a list of steps (unless I'm missing anything) for the conversion — no need to do everything at once though ;-)

[2019-10-30 16:23] pavandv commented on #1352
@sapegin I have been working with TypeScript + React for about a year in my company.. Would be happy to help..

I also happen to know (almost) the internals of this project as I was going through the code to add our own UI to the style guide.

[2019-10-30 18:19] RenanNascimento commented on #1458
I get it now. Thank you!

[2019-10-30 20:25] iansan5653 commented on #1321
I've been trying to narrow the problem down a bit more:

The test you posted still fails when `package.json` is:
[code]

`acorn-jsx` has the following dependency:
[code]

So when `buble` uses the `acorn-jsx` plugin to extend `acorn`, `acorn-jsx` is perfectly OK with pulling in the `^7.1.0` version instead of `6`, and this causes the problem. So `buble` (and any other module that is not compatible

[2019-10-30 20:36] iansan5653 commented on #1321
A possible fix here would be to lock `buble` to `=0.19.4` which is the most recent version that depended on `acorn^4.0.0`.  Not the prettiest solution but it would fix the problem until you're able to move away from Buble altogether.

[2019-10-31 00:30] malyzeli commented on #1321
@sapegin Sorry for offtopic considering scope of this issue but what is the reason for using something like `buble` instead of battle-tested `babel`? Don't have to explain here - if there are any articles/discussions related to this question, just point me there and I will read it. Thank you!

[2019-10-31 08:23] sapegin commented on #1321
@malyzeli Primarily its size: babel-standalone is gigantic and we'll need to find a way to lazy load it somehow which is tricky because we need it to render all the examples.

[2019-10-31 12:12] #1454 closed

[2019-10-31 12:28] MaxFlower commented on #1352
Could you add me as well?

[2019-10-31 13:19] sapegin commented on #1352
@MaxFlower Sure! No need to ask permission ;-)

[2019-10-31 13:23] sapegin commented on #1094
Done in 10.0.0!

[2019-10-31 13:23] #1094 closed

[2019-10-31 13:23] #1054 closed

[2019-10-31 14:05] #1408 closed

[2019-10-31 15:05] #1407 closed

[2019-10-31 15:21] pavandv commented on #1352
@sapegin I'm working on setting up the Typescript Config.

[2019-10-31 17:05] #1390 closed

[2019-10-31 17:05] #1398 closed

[2019-11-01 08:33] #841 closed

[2019-11-01 13:23] archik408 commented on #1300
still actual for styleguidist v10.0.0, as fix option in your webpack config you can add alias for acorn:
[code]
maybe will help someone

[2019-11-01 14:23] pavandv commented on #1352
@sapegin  Created PR #1461 for setting up typescript configuration.

[2019-11-03 00:30] JustFly1984 commented on #1321
We also have same issue. https://react-google-maps-api-docs.netlify.com/ Nothing helps.

[2019-11-03 13:15] sapegin commented on #1321
@JustFly1984 This kind of comments don't add anything to the discussion and significantly contribute to maintainers burnout. Now I have to either lock this thread to prevent future spam comment, which will also prevent folks who are actually trying to help from posting useful comments. Or unsubscribe myself to stop receiving spam comments — my own mental health is definitely more important to me t

[2019-11-03 18:42] JustFly1984 commented on #1321
@sapegin sorry mate, I didn't mean to be rude. I use your open source project in my open source project.

I'm building my project with tsdx, and it has acorn@7 in dependencies, so I can't add acorn@6.3.0 to resolution in package.json, cos it breaks build.

[2019-11-03 23:29] elevatebart commented on #1352
@sapegin, I believe you can now safely check the eslint and travis boxes.

[2019-11-04 00:06] elevatebart commented on #1352
Looked too fast once again... Sorry, my mistake, the only thing that was added was eslint plugin as a dependency without implementing it.
I am on it. Pull Request coming ;)

[2019-11-04 04:08] elevatebart commented on #1352
After a few hours dabbling with the eslint set-up, I have a better view of where we are.
I have a few questions regarding the current implementation.

1. One unfortunately cannot have a `jsconfig.json` and a `tsconfig.json` I believe we should merge them.
2. The parameter `"allowJs": true` forces type checking on every js file, including the ones with flow typings. This will break a lot of files.

[2019-11-04 07:51] pavandv commented on #1352
I'm working on this.

[2019-11-04 08:29] sapegin commented on #1352
@elevatebart Awesome, thanks! Let's continue the discussion in the PR.

[2019-11-04 10:01] #936 closed

[2019-11-05 11:51] #1383 closed

[2019-11-06 15:44] Vadorequest opened #1464 "Building a UI library - Can StyleGuidist be used to manage componants packaging lifecycle?"
I've looked into SG, but I don't see how it helps at managing the packaging workflow of the components themselves.

I'm not sure if SG was built with this purpose in mind, and I know how time consuming managing each component one by one is.

I'm not only looking at documenting my components, I need to manage them. I'm thinking about using a dedicated repository to do that, so that I have all my UI

[2019-11-08 13:52] jschmuecking opened #1466 "Hot reload in v10.0.0+ prohibits stopping node process"
**Current behavior**

When I start a styleguidist dev server, trigger a hot reload and stop the process via CTRL+C in the console, the node process does not finish and keeps blocking the 6060 port.

I tried this on two unrelated laptops under windows 7 and windows 10, both giving the same results. My colleague using a MAC OS x Mojave does not have any problems. Stopping the process there also resu

[2019-11-08 15:22] jasonwilliams opened #1467 "jss-camel-case@6.1.0" has incorrect peer dependency "jss@^9.7.0" on React Styleguidist v10.2.0"
Installing the latest version of react-styleguidist gives me:
[code]

Looks like these dependencies are outdated and have moved.
for e.g: [jss-camel-case](https://github.com/cssinjs/jss-camel-case) is now j[ss-plugin-camel-case](https://github.com/cssinjs/jss/tree/master/packages/jss-plugin-camel-case)

**Outcome?**
[code]
Need updating/changing

[2019-11-09 20:22] hamedmam commented on #783
I am having this issue in 10.1.0

[2019-11-12 13:53] mitsuruog opened #1469 "Crash when using numbers for default props with TypeScript"
**Current behavior**

version: 10.2.0

Consider such a small FunctionComponent written in TypeScript.

[code]

Open "PROPS & METHODS" makes a crash when I use numbers for default props.

![Nov-12-2019 22-39-46](https://user-images.githubusercontent.com/1703219/68676434-5f97a700-059d-11ea-8262-aee55e804693.gif)

Here is stack trace.

[code]

**Expected behavior**

- Show the default number as corre

[2019-11-12 14:42] omninonsense commented on #1354
Are there any updates regarding this?

[2019-11-12 16:22] Ivaylo-Lafchiev commented on #1194
Has anyone found a solution to the original issue? Facing the same problem using Rush.

Specifically, it seems to happen when we generate docs for more than 1 component -- when there is only 1 everything works fine, but adding a second one causes some infinite loop of files being added to the DirectoryWatcher and eventually an OOM error.

[2019-11-12 17:08] jologz commented on #1466
I recently updated ours to 10.2.0 from 9.2.0 and our engineers are using windows machines.  We are experiencing this exact error.  Also, we can only update a markdown for the first time to show the changes in chrome and any changes after that, the server won't even compiles.

We downgraded to 9.2.0

[2019-11-14 16:21] andreapiras commented on #986
@jmetev1 yeah that works as long as colors is defined inside the same file. If you import colors from external file (which is a very common pattern) doesn't work

[2019-11-15 08:23] sapegin commented on #1467
Mind sending a pull request with updates? 👾

[2019-11-16 11:59] PvanHengel opened #1473 "appetize support?"
Has anyone attempted to wire up appetize to use this for react-native components?

[2019-11-16 18:13] elevatebart commented on #1436
Collapsing sections seem to be a recurring need.
I have done it often in customization and it is definitely doable.

1. @jkarttunen is this what you are asking for?
1. @sapegin if yes should this be behind an option?
1. when searching in the left bar should we uncollapse all sections?

[2019-11-16 18:27] elevatebart opened #1474 "`Styles` option as a function"
When we use `styles` customization, we cannot reference anything from the theme. This means that everything that is changed has to be changed in multiple places.

It could be useful to allow developers to use a function to set styles in their config instead of a pure object. My idea was something like this:

[code]

[2019-11-16 18:33] elevatebart opened #1475 "Hot Module Reloading for theme and styles"
Whenever I want to update the styles/theme of my style guide, I have to not only reload the page but stop and restart styleguidist entirely... not perfect.

What about passing styles and themes as references to files to require?
This way we could load them using webpack and leverage HMR on a very standard way.

We could have one file for styles and one file for themes.
It has been my experience th

[2019-11-17 15:09] #1417 closed

[2019-11-18 08:20] #1467 closed

[2019-11-18 13:31] sapegin commented on #1436
2. I think so, and disabled by default. For small style guides it would be a lot of unnecessary clicks.

[2019-11-18 14:30] binodkalathil commented on #1201
@chrisbobbe that is not necessary. I confirmed it.

[2019-11-18 16:58] elevatebart commented on #1436
@jkarttunen @sapegin Will get on it as soon as the ts refactoring is done.

[2019-11-18 20:28] prevuelta opened #1478 "Initial route not reflected in url/sidebar"
**Current behavior**

When I navigate to the initial view, the left hand nav is not highlighted and the route is not reflected in the url

**To reproduce**

Load page

**Expected behavior**

Route reflects current view and sidebar link is highlighted

[2019-11-18 20:30] prevuelta opened #1479 "Closing isolated view doesn't return to correct location when using sections"
**Current behavior**

When I view a component in isolated view then close it returns to root not to the component (when using sections)

**To reproduce**

View isolated component then return

**Expected behavior**

Return to component I was viewing. eg. #/Forms?id=form but returns me to #/form

[2019-11-19 08:48] jschmuecking commented on #1466
Version 10.2.1 seems to have fixed this problem for me. Probably one of the dependencies had the issue and got fixed with the latest updates. Can you also verify that @jologz ? If yes I would close this issue.

[2019-11-19 16:08] tovalieberman opened #1480 "Importing Styleguidist override into Create React App site"
Hi there, thanks for this awesome tool!

I'm trying to use it as a basis for building out a robust design system website at my company. I'd like to create a component library with Styleguidist embedded, and then include the generated styleguide as the component documentation piece of the design system's (CRA-based) website. I'm trying to accomplish something similar to the AlfaBank setup - where t

[2019-11-19 16:19] #1420 closed

[2019-11-19 19:33] jologz commented on #1466
It is working again for 10.2.1.  You can close this.  Thanks!

[2019-11-20 08:07] sapegin commented on #1475
Not sure what you mean here, can you show an example of how it could look?

[2019-11-20 08:07] sapegin commented on #1474
That's a great idea!

[2019-11-20 16:56] elevatebart commented on #1475
Here is how I would see it:

in `styleguide.config.js`
[code]

then in `styleguide/theme.js`

[code]

I could bake a quick PR when I am done with TypeScript

[2019-11-20 17:03] elevatebart commented on #1475
I would see the implementation of the option being a webpack alias override,
Add an extra import in this file of the non aliased theme:
https://github.com/styleguidist/react-styleguidist/blob/ef4c109bf6b7dc594346332c9091fdab3e83c9b4/src/client/styles/createStyleSheet.ts#L3-L11

Then once the alias is taken it uses the users file and can design properly with Hot Module Reload

[2019-11-21 12:26] #1466 closed

[2019-11-22 12:43] sapegin commented on #1475
Can we hot reload the whole config instead?

[2019-11-22 12:43] elevatebart commented on #1475
No because it contains the webpack Config...

Bart Ledoux
On Nov 22, 2019, 06:43 -0600, Artem Sapegin <notifications@github.com>, wrote:

[2019-11-22 20:30] cdaringe opened #1482 "enable component discovery to be inspectable"
**The problem**

- i have components that _are_ exposed and used in some examples, but cannot be located in _other examples_

**Proposed solution**

- in the [Locating components](https://react-styleguidist.js.org/docs/components.html#loading-and-exposing-components), articulate how one could inspect styleguidist's components mapping

**Alternative solutions**

[code]

[2019-11-23 08:35] abby888 commented on #1469
I used `react-docgen-typescript`. Include following line in styleguide.config.js

`const propsParser = require('react-docgen-typescript').withDefaultConfig({
    savePropValueAsString: true
}).parse;
`

[2019-11-23 13:09] mitsuruog commented on #1469
@abby888 Thanks! Amazing workaround!!

[2019-11-23 13:09] #1469 closed

[2019-11-23 21:16] Fleuv opened #1483 "Add a global class to the code block component: PlaygroundRenderer"
Is it possible to add a global className or styling to the PlaygroundRenderer component?

I'm looking for something like this to configure in `styleguide.config.js`:

[code]

[2019-11-25 08:39] #1352 closed

[2019-11-27 17:07] iansan5653 commented on #1321
Looks like acorn/axornjsx#887 fixed this! Since the release of `acorn@6.4.0` I'm able to run the test that @sapegin posted, and after running `npm update acorn --depth 20` in my project, I'm able to use Styleguidist again. ❤️

[2019-12-02 18:37] mimshwright opened #1488 "Can I import the ESLint configuration from my project into styleguidist?"
It appears that styleguidist is using its own settings for eslint since I'm getting errors that appear when I start the server but not when I run eslint on its own.

Is it possible to tell Styleguidist to use my local .eslintrc.json instead? Would it be possible to add this as a config parameter?

[2019-12-04 14:46] #1450 closed

[2019-12-04 20:22] JustFly1984 commented on #1269
In my example I had some variables defined before JSX, and I had no semicolons. Adding semicolons fixed an issue.

[2019-12-05 15:33] #1424 closed

[2019-12-05 18:56] Phizzard commented on #1225
For anyone having this issue, react-docgen-typescript that styleguidist uses with typescript has a configuration for this.

https://github.com/styleguidist/react-docgen-typescript

What my config looks like
[code]

Hope this helps anyone else looking!

[2019-12-06 14:34] JustFly1984 commented on #1278
for me solution was to add

[code]

to package.json

[2019-12-09 18:46] piyushkadam5 opened #1492 "Showing Page Not Found for Isolated Component page"
**Current behavior**

<img width="973" alt="not_working" src="https://user-images.githubusercontent.com/21274438/70461744-5c7dd100-1adf-11ea-90b0-c8517562e6d4.png">

Currently the Isolated Component Page is adding the folder name in the url as you can see in the screenshot..
 If I remove the "button/" from the Url the page works fine..but by default the full screen button redirecting to the above

[2019-12-09 20:30] #1427 closed

[2019-12-10 02:30] #1401 closed

[2019-12-10 06:59] piyushkadam5 commented on #1492
This issue Occurred when I changed the react-styleguidist version from 8.0.0  to  10.2.1

[2019-12-10 07:45] sapegin commented on #1488
Styleguidist doesn't use ESLint, it's coming from your own project somewhere, like your webpack config.

Where do you see errors? Check which webpack config is used by running Styleguidist with `--verbose` flag.

[2019-12-10 07:46] sapegin commented on #1479
Feel free to send a pull request with a fix 👾

[2019-12-10 07:47] sapegin commented on #1492
Feel free to send a pull request with a fix 👾

[2019-12-10 07:56] josias-r commented on #1401
Was never resolved, I'm not using Styleguidist anymore though.

[2019-12-10 17:37] Krivega opened #1493 "The build does not work with the copy-webpack-plugin@5.1.0"
**Current behavior**
The build does not work with empty `assetsDir`

**To reproduce**

1. `assetsDir` is `undefined`
1. yarn.lock

3.  run `styleguidist build `

Error in terminal:

**Expected behavior**

Build works

[2019-12-10 19:54] #1474 closed

[2019-12-10 22:40] sethachoi commented on #1464
@Vadorequest idk if you're still looking for something but it sounds like you're more describing using something like bit.dev, or a lerna monorepo supplemented by storybook or styleguidist

[2019-12-11 00:55] jyutzio commented on #1493
Your fix has solved the issue for me. 👏 Thank you.

[2019-12-11 08:20] Vadorequest commented on #1464
Yes, I'm still looking around, not familiar at all with lerna+storybook/styleguidist, would you have some examples? Bit.dev is interesting but it seems that it's more a place to share stuff, not manage lifecycle (but I just quickly looked around and may have missed some stuff)

[2019-12-12 13:51] sapegin opened #1496 "Try rendering examples in iframe"
Right now each example is a separate React app that renders into the same DOM as the Styleguidist app itself. This approach have some problems:

* We share styles between Styleguidist and user's component, we use some hacks to isolate Stylegudist styles but sometimes styles still affect each other.
* We can't implement a nice responsive design preview, because we can't affect media queries in comp

[2019-12-12 15:52] stepancar commented on #1496
@sapegin , we used https://www.npmjs.com/package/react-frame-component about 1.5 year ago, it was not bad.

[2019-12-13 21:12] sapegin opened #1497 "Support Storybook's Component Story Format"
[Component Story Format](https://storybook.js.org/docs/formats/component-story-format/) (CSF) is a new format that doesn't call Storybook API directly, meaning it can be used not just in Storybook. By supporting CSF we can allow teams to use Storybook for component development, visual and end-to-end testing, and use Styleguidist to generate beautiful documentation.

It looks like this:

[code]

I

[2019-12-14 01:43] esjaastad-isp commented on #1256
Making sure this one doesn't close without something.

[2019-12-14 06:35] fa-repo commented on #1256
I don't remember finding a solution (it's been a while).

The issue was closed because I thought it was spammy; which appears was a mistake (whoops).

[2019-12-14 08:22] thecodejack opened #1498 "Upgrade to react-docgen 5.0"
Now that react-docgen@5.0.0 is available, when are we planning to upgrade same with styleguidist. https://github.com/styleguidist/react-styleguidist/issues/1354 seems to have been blocked.

[2019-12-14 20:32] elevatebart commented on #1497
Supporting MDX (and especially storybook format) is a great idea. It could bridge the divide between the two communities.

MDX holds one big advantage over pure `MarkDown`: Tooling
Since MDX contains valid JSX you can import components using es6 imports.
VSCode will pick up on it and check props usage and types. This would avoid mistakes and improve the dev experience a lot.

I prefer to use pure

[2019-12-14 21:36] elevatebart commented on #621
@Chr1stian in order to make `tsx` available, we need to find a way to transpile it to evaluable javascript. I believe the ts compiler would do the job, but it is incredibly heavy.

I like the idea and might investigate.

[2019-12-15 07:38] sapegin commented on #1498
As soon as anyone submits a pull request with an upgrade, it's an open source project.

Duplicate of #1354.

[2019-12-15 07:38] #1498 closed

[2019-12-15 07:41] sapegin commented on #621
@elevatebart Making compilers customizable would be a great feature and like not hard to implement as soon as we find a good API. The difficulty here is that it's not just Buble (which we need to change to Babel anyway) but also things like transpiling imports and wrapping code in a Fragment. All this should be customizable but at the same time easy to reuse. So extracting them to separate package

[2019-12-15 07:42] sapegin commented on #621
By the way for loading TypeScript a Babel plugin might be enough if it's smaller.

[2019-12-15 07:44] sapegin commented on #1497
Yeah, MDX _might_ be an option but I think it's much more difficult to do than especially the second option here.

[2019-12-15 07:49] sapegin opened #1499 "Remove initialState/setState"
You can define state in each example using a custom initialState/setState API:

[code]

This was implemented long before hooks but does the same thing as hooks:

[code]

Now the minimum supported by Styleguidist version of React supports hooks, so we can remove our custom API.

**This will be a breaking change.**

- [ ] Remove [code for initialState/setState](https://github.com/styleguidist/react-

[2019-12-15 10:11] #1429 closed

[2019-12-15 16:31] elevatebart commented on #1497
It feels easy to parse CSF using babel and extract the source code of examples from it. I think we could make a separate package that allows referencing CSF stories in styleguidist.

I would probably see a format like this one. Though, I am struggling to see a scenario where I would use it.

[code]

[2019-12-15 16:38] elevatebart commented on #621
Here is a couple of links for inspiration of a `codeSplit` compiler that works:

In vue-styleguidist, we precompile examples [in the examples loader](https://github.com/vue-styleguidist/vue-styleguidist/blob/7dd3db125b80cd0e08e9416309a983b0b4fed2ef/packages/vue-styleguidist/src/loaders/examples-loader.ts#L184-L200) then load the compiler asynchronously [in the component](https://github.com/vue-sty

[2019-12-16 08:53] sergdenisov commented on #1321
@iansan5653 I've made that fix in https://github.com/styleguidist/react-styleguidist/pull/1495.

[2019-12-16 09:38] Betree commented on #1321
Fix worked for us. Thanks!

[2019-12-16 13:59] sapegin commented on #621
This looks very interesting! And we won't need to transpile imports once we use Babel.

[2019-12-16 14:01] sapegin commented on #1497
I don't even think we need babel for this, just Acorn to locate positions of the code. Similar to how we [transpile imports](https://github.com/styleguidist/react-styleguidist/blob/master/src/client/utils/transpileImports.ts).

And the API — I was thinking about something like that too.

[2019-12-16 15:59] elevatebart commented on #1497
Acorn is what I meant when I said babel. They kind of conflate in my mind (babel parser ~ acorn).
I apologize for the confusion.

Regarding the API, in vue-styleguidist, I used another syntax: [import\](./myExample.vue) [documented here](https://vue-styleguidist.github.io/docs/Documenting.html#importing-examples)

It has a considerable dev experience advantage, which is to allow navigation to the

[2019-12-16 16:20] #1431 closed

[2019-12-17 18:39] petry commented on #1170
Guys! Any news on that Issue?

@jkarttunen / @sapegin or anyone already started? We plan to use styleguidist on our company and open to collaborating on that issue :)

[2019-12-17 18:50] sapegin commented on #1170
@petry Not just guys here.

https://github.com/component-driven/react-design-tokens might be what you need.

[2019-12-20 14:00] #1350 closed

[2019-12-21 07:24] thecodejack commented on #1499
won't this be a breaking change?

[2019-12-21 07:46] thecodejack commented on #1499
How about updating docs before breaking change?

When breaking change happens, it will be with older apps only?

[2019-12-22 01:43] #1435 closed

[2019-12-23 08:35] lutaev opened #1502 "Can't override slots component"
Hi there. First of all, thanks you for your amazing library.
Could you please help me? I'm sure, I'm doing something wrong. I'm trying to do something described here: https://github.com/styleguidist/react-styleguidist/issues/968 and I want to override slots component (first - configuration in `slots/index.js`).
A piece of `styleguide.config.js`, section **styleguideComponents:**
[code]
File `app/o

[2019-12-23 21:02] #1394 closed

[2019-12-24 01:38] navin1551 commented on #1499
Hi, is this still open? It's my first time contributing and wouldn't mind taking a shot at this

[2019-12-24 07:34] thecodejack commented on #1464
something like https://github.com/react-workspaces/react-workspaces-playground  ?

[2019-12-26 07:25] thecodejack commented on #1499
Task is completed @navin1551. Pending is merge during major release

[2019-12-27 06:58] BboyAwey commented on #909
I've found an interesting thing, if write `styles` in shorthand like below, it will not work.

[code]

but if write this config in a normal way like
[code]
it works fine.

And I've checked the source code in `/src/client/styles/createStyleSheet.ts`, it seems everything is ok:

[code]

you guys just execute the `styles` function with config and get the results.

So why it dose not support the handy

[2019-12-29 10:46] Vadorequest commented on #1464
I've found this article that showcases Bit and it's very similar to what I need actually.

https://blog.bitsrc.io/simplify-complex-ui-by-implementing-the-atomic-design-in-react-with-bit-f4ad116ec8db

I'll close this issue, I believe I've got enough feedback to go forward :) Thanks!

[2019-12-29 10:46] #1464 closed

[2019-12-29 12:37] #1421 closed

[2019-12-30 16:25] AmazeJ7 opened #1506 "Page Per Section and Section Defined Markdown File Errors"
**Current behavior**

There is an error while using `pagePerSection: true` section defined .md files and Material UI components where hooks are not being rendered properly.

**To reproduce**

Start up https://github.com/AmazeJ7/example. Then click on `Button` followed by clicking on `Radio Button`. Also try reloading on `Radio Button` and then clicking on `Button`.

**Expected behavior**

You shou

[2019-12-30 16:43] maximilianoh opened #1507 "Solved!"

[2020-01-02 13:11] #1436 closed

[2020-01-03 05:29] psjsaravana commented on #1496
This could help for sharing the styles between iframe
`
[code]
`

[2020-01-03 07:50] sapegin commented on #1496
The main goal of using iframes is to prevent sharing anything between the host and iframes.

[2020-01-03 12:40] dysticus opened #1508 "v11 automatic Typescript support does not play well with 3rd party components"
**Current behavior**

RSG v11's automatic Typescript support does not seem to play well with 3rd party components.
In <v11, in combination with react-docgen-typescript, props and methods were correctly parsed after setting the propsparser property in the config. From > v11 react-docgen was upgraded so react-docgen-typescript was no longer required.

**To reproduce**

Clone https://github.com/dysti

[2020-01-04 06:01] kopax opened #1511 "How to configure webpack to work with react-native properly (You may need an appropriate loader to handle this file type)"
I want to use `react-styleguidist` with `expo` for the web development of react-native components.

I am able to start the styleguide for simple components, but as soon as I test for example this component:

[code]

I have the following error:

So far, I have the following when I run `npm run styleguide`:

[code]

I use expo and never had to configure `webpack` myself in the expo project project.

[2020-01-04 06:06] kopax commented on #1301
@arqex did you find a way to solve this?

[2020-01-04 06:06] #1301 closed

[2020-01-04 06:15] kopax commented on #1106
HI @iagorm, I am currently trying to work with expo sdk 36 and react-styleguidist. Did you find a way to configure.

I can import very small component that involve `<View />`, `<Text />` but as soon as I start importing bigger components, the react-styleguidist can't start throwing error due to loader being incorrectly configured.

I have tryed to use `@expo/webpack-config` to create the webpack c

[2020-01-04 06:16] kopax commented on #675
@dilnara, react-native-web

[2020-01-05 04:21] thecodejack commented on #1508
I see this warning in non working branch which means `react-docgen` unable to parse the component. Can you please raise the issue with `react-docgen`?

![image](https://user-images.githubusercontent.com/1515160/71775091-c7b4a900-2fa0-11ea-8066-c0c137c12a74.png)

[2020-01-05 05:30] thecodejack commented on #1508
Did a bit a of code walkthrough and realized, `react-docgen` never supported thirdparty lib parsing. As mentioned in https://react-styleguidist.js.org/docs/thirdparties.html#how-styleguidist-works , it always parses static files we produce. But with `react-docgen-typescript`, it checks for types / interfaces and them for prop parsing.

I don't see `react-docgen` fixing the issue anytime soon. Prob

[2020-01-05 08:15] thecodejack opened #1512 "Make docs available for all previous versions"
At present, we can show docs only for latest version of component library.

Would be awesome if there is a way for user to browse to older version of component library.

Example of implementation can be [emberjs api documentation](https://api.emberjs.com/ember/release) where you have a dropdown to select version.

![image](https://user-images.githubusercontent.com/1515160/71777088-723cc400-2fc1-11

[2020-01-06 13:49] sapegin commented on #1508
Yeah, I guess properly document what's not supported by react-docgen and supported by react-docgen-typescript would be good start.

[2020-01-06 18:58] kopax opened #1513 "How to configure with expo SDK36"
I am trying hard to get a working configuration with expo SDK36:

## Reproduction:

[code]

As soon as I import thing, I get:

[code]

or

[code]

My `webpack.config.js` look like this:

[code]

My `babel.config.js` look like this:

[code]

Did anybody succeed to work with expo and react-styleguidist?

[2020-01-07 13:41] #1492 closed

[2020-01-08 20:06] lhornsby opened #1516 "Version 10 of react-styleguidist minimum requirement is 8.12, not 8.9"
**Current behavior**

The documentation for the release of v10.0.0 states that:

`Node 8.9 is the lowest supported version`

While attempting to update our project to v10 of React, my co-worker couldn't build the project but I could. His local machine is running Node 8.11.1. Mine is 8.12.

After combing through RSG release notes, he found that the package `mini-html-webpack-plugin` was updated in

[2020-01-11 12:32] IbrahimShamma99 commented on #1243
I had this issue and solved it by downgrading into react 16

[2020-01-13 06:00] #1430 closed

[2020-01-13 14:29] #1475 closed

[2020-01-15 13:33] #1441 closed

[2020-01-17 18:41] najisawas opened #1523 "How to ignore Typescript props using & operator"
Have looked around the internet for a proper answer but haven't found one.

How do I ignore props added to my component using the `&` operator in Typescript?

ie.
[code]

Does not work. All of the props from TextField Props are displayed, as opposed to solely the `id` prop

[2020-01-17 20:53] pke commented on #847
Everytime I come back to setup react component documentation with my favorite style guide tool I long for parcel support.
My projects almost never use webpack for over 2 years now, cause its "zero-configuration" is still mostly a myth, even with v4.

Parcel truly shines in this aspect and I wish react-styleguidist would support it. At the moment I install webpack in a docs subfolder alongside this

[2020-01-20 11:43] poteirard commented on #1488
If you are using the latest `react-scripts` for building make sure you have `process.env.EXTEND_ESLINT=true`

[2020-01-20 15:43] Xiphe commented on #1431
I also have this issue currently is there a workaround?

[2020-01-20 17:37] Xiphe commented on #1431
found out that in my case the styles were not applied because I minified the component names of the styleguidist client.

[2020-01-20 22:38] dhuang612 opened #1524 "Following the contributing guide and running into an error trying to get the cypress tests to run"
**Current behavior**
following this guide:
https://github.com/styleguidist/react-styleguidist/blob/master/.github/Contributing.md
trying to run the following command:
[code]

**To reproduce**
I forked the project and did a git clone.
[code]
which then causes the above error to occur.
**Expected behavior**

I expected to be able to launch the environment and run the tests.

[2020-01-20 22:46] #1524 closed

[2020-01-22 10:56] Xiphe commented on #1523
I've recently build a wrapper around `react-docgen-typescript` and use that for the `propsParser` option.

It uses JSDoc tags to add filters and overwrites of props.

This would for example only display the `id` prop in the styleguide.

[code]

If you're interested, I could create an npm package out of that and publish it.

[2020-01-22 11:11] Xiphe opened #1525 "Custom styles are not applied to minified build"
**Current behavior**

This has been reported earlier: https://github.com/styleguidist/react-styleguidist/issues/1431

When I run `styleguidist build` with a webpack config that minifies function names then my [custom styles](https://react-styleguidist.js.org/docs/configuration.html#styles) are not applied.

**To reproduce**

https://github.com/McManning/styleguidist-demo

**Expected behavior**

I

[2020-01-22 14:30] Xiphe commented on #1525
The problem comes from the [`Styled` HOC](https://github.com/styleguidist/react-styleguidist/blob/master/src/client/rsg-components/Styled/Styled.tsx#L14) relying on the function name.

I would propose to refactor this to `const componentName = (WrappedComponent.displayName || WrappedComponent.name).replace(/Renderer$/, '');` and explicitly decorate all rsg components with their `displayNames` as s

[2020-01-23 04:33] tusharchutanigt opened #1526 "Documenting a component that is exported from another interface"
We are making use of Material UI to develop our internal library but there are a few components that we want to use as is. So I am just doing the following in CircularIndicator.tsx
```export { CircularProgress as CircularIndicator } from '@material-ui/core';```

In the Readme.md when I try to test document the element I don't see anything but I do get this warning.

Looking at the doc I tried an a

[2020-01-24 01:10] craigkovatch opened #1527 "v10.3.2 introduced a breaking change to example parsing"
All of our .md code samples are failing to parse in 10.3.2+. We are currently on 10.2.0 and 10.3.1 works fine. In 10.3.2 every sample contains some kind of parse error. Here is one sample MD, and its error:

[code]

![image](https://user-images.githubusercontent.com/10970257/73037207-06e95380-3e03-11ea-9dba-fe6145bb1283.png)

Since the [only change](https://github.com/styleguidist/react-styleguidi

[2020-01-24 06:19] krutoo opened #1528 "Why styleguidist takes a wrong name for component?"
Hi. In my components library i use stylegiudist, but it takes wrong name for component:

![image](https://user-images.githubusercontent.com/13140130/73048403-d81ebc00-3e9a-11ea-806a-05cf178c53b8.png)

Component file is located at `src/components/amount/`

This is files in catalog:

![image](https://user-images.githubusercontent.com/13140130/73048445-02707980-3e9b-11ea-96c0-2fe6154c5184.png)

`amou

[2020-01-24 08:56] IsmayilAghazada opened #1529 "Adding multiply font families in Styled component ends up with WARNING"
I'm using the latest version of React Styleguidist.
When I upgrade version(7.3.11 -> 10.6.1 ) of React Styleguidist I faced with font-face problem of Styled component.And I couldn't use multiply font families.In console there is following warning:

<img width="1680" alt="Screen Shot 2020-01-24 at 10 57 11 AM" src="https://user-images.githubusercontent.com/48431337/73055780-fc809580-3ea6-11ea-94f6-

[2020-01-24 10:29] aqilatakishiyevpb commented on #1529
**i faced with the same problem too.**

[2020-01-25 20:39] FezVrasta commented on #1230
Bubububump - bu - bu - buu - buuuump

[2020-01-26 13:45] #1452 closed

[2020-01-28 00:20] craigkovatch commented on #701
@sapegin this appears to be broken in prod -- is it because it relies on component name matching, and those component names are removed when minified?

[2020-01-28 03:25] iamchathu commented on #1321
Tried it. Still have the issue `"react-styleguidist": "^10.6.1"`

[2020-01-28 03:47] JustFly1984 commented on #1321
@iamchathu check if you have semicolons everywhere. I had issues with files until I’ve set semicolons in place. This is not obvious, and it could be helpful if there was no semicolons required.

[2020-01-28 06:23] iamchathu commented on #1321
@JustFly1984 I'm using to prettier rules to set semi colons and I double checked but seems there is an issue yet.

[2020-01-30 04:53] alqh opened #1530 "Styleguidist build with webpack configured to use file-loader not extracting the file"
Hello,

I'm trying to work out what is going on with the styleguidist server, it's similar to [this issue](https://github.com/styleguidist/react-styleguidist/issues/82) in that we are using file-loader to extract out the css files etc, but it doesn't seem to be happening.

All the css and font assets data seem to be inlined within the javascript, rather than being extracted out into it's own files

[2020-01-31 07:08] kopax opened #1531 "How to open href of external link in a new tab (target="_blank") ?"
Hi everyone, is there a way I can make external links to open in new tab?

I saw this: https://diff.intrinsic.com/react-styleguidist/9.0.8/9.0.9 and tried with `shouldOpenInNewTab: true` but this didn't work.

[2020-02-01 16:47] milobluebell opened #1532 "Cannot find module 'rsg-components/StyleGuide/StyleGuideRenderer'"
what's rsg-components ????? module can not find....!

[2020-02-01 21:57] dgh500 opened #1533 "Error: Invariant failed: You should not use <Link> outside a <Router>"
I'm possibly missing something obvious but I have a component that renders <Link /> components from React-Router-Dom and imports Link:

    import { Link } from 'react-router-dom';

But relies on a parent component - the root App component - wrapping the app in a <Router> - now when I create a .md file for the component to show example usage (as per https://react-styleguidist.js.org/docs/documenti

[2020-02-02 11:09] milobluebell commented on #1532
hi when i follow this:[https://github.com/styleguidist/react-styleguidist/blob/master/examples/customised/styleguide/components/SectionsRenderer.js](url)，it told me:
[code]

[2020-02-03 09:57] Betree commented on #133
I think we should re-open this, the ability to test responsiveness is quite important

[2020-02-03 12:58] mehrad77 commented on #354
Is there any update on this feature?

[2020-02-04 11:37] #1438 closed

[2020-02-04 20:50] kopax commented on #1106
React-native is not supported by default, trying to render a view will makes styleguidist crash due to loader configuration:

[code]

Would be nice to have some help on this. It's webpack configuration.

[2020-02-04 21:34] Sarah4VT commented on #1527
I am new to using styleguidist, so automatically got the latest version (10.6.1). I can get the md files to render a component ok, but am exporting a component for use in another project and no matter how I structure the component (my preference is a stateless functional component but I've tried other variations) I get an error compiling:

SyntaxError: <path_to_component>.js: Unexpected token (6:6

[2020-02-05 03:12] firec0der commented on #1527
The same thing. yarn.lock regenerating helped, but I don't like this solution.

[2020-02-05 07:10] mehrad77 commented on #875
and me:
[code]

[2020-02-05 07:14] mehrad77 commented on #1294
@milesj how you fixed this?

[2020-02-05 07:25] mehrad77 commented on #875
for me, the issue caused by having `package-lock.json` and `yark.lock` at the same time. fixed by removing `package-lock` and reinstalling everything.

[2020-02-06 12:57] icaromh commented on #1531
Hi @kopax, are you trying to open markdown links in another tab or the sidebar ones?
This option `shouldOpenInNewTab` only works for the sidebar links.

You can write plain HTML links inside your `.md` files:
[code]

[Take a look in this StackOverflow answer](https://stackoverflow.com/a/4425223)

[2020-02-07 11:24] kopax commented on #1513
https://github.com/styleguidist/react-styleguidist/tree/master/examples/react-native

[2020-02-07 11:24] #1513 closed

[2020-02-07 11:24] kopax commented on #1106
https://github.com/styleguidist/react-styleguidist/tree/master/examples/react-native

[2020-02-07 11:24] #1106 closed

[2020-02-07 11:24] kopax commented on #1511
https://github.com/styleguidist/react-styleguidist/tree/master/examples/react-native

[2020-02-07 11:24] #1511 closed

[2020-02-07 14:19] kopax commented on #1531
Hi @icaromh and thanks. No I am not in markdown, but in menu generation, it is made from `sections` provided with the react styleguidist configuration `styleguide.config.js`.

I want to have an external link in my left menu that open in a new tab. Any idea?

[2020-02-07 17:14] icaromh commented on #1531
@kopax I'd tested on `"react-styleguidist": "^10.2.1",` using the sections like this:

[code]

The link generated was `<a class="rsg--link-29" href="https://github.com/styleguidist/react-styleguidist" target="_blank">Online documentation</a>`, and it just works fine.

Wich styleguidist version are you using?

[2020-02-07 17:22] icaromh commented on #1532
`rsg-components` it's an alias to [`./src/client/rsg-components`](https://github.com/styleguidist/react-styleguidist/tree/master/src/client/rsg-components), you can read more [here on the docs](https://react-styleguidist.js.org/docs/development#react-components).

[2020-02-07 17:26] icaromh commented on #1532
@milobluebell About the example, it uses the version `"react-styleguidist": "^9.1.16",` are you using the major `9` as well?

I'm not sure, but the example could outdated. You can see more info how to replace components [on this link](https://react-styleguidist.js.org/docs/configuration.html#styleguidecomponents)

[2020-02-08 06:48] kopax commented on #1531
Weird, I am using react-styleguidist 9.1.2 and I can't update, is this supposed to work in 9.1.2 ?

[2020-02-10 12:03] wrdsnd commented on #1523
@Xiphe it would be great to see your wrapper for hiding unnecessary props. Does it support react-docgen 5 or it's only compatible with react-docgen-typescript?

[2020-02-10 22:45] joekarasek opened #1534 "Please update example GIF with appropriate content"
The example GIF is the readme contains inappropriate, un-professional  language ("Big Pink Button, Lick Me"). The client I'm working with has discovered it and is not happy. Doesn't make this project look very good. Please update ASAP.

[2020-02-11 03:08] mitsuruog commented on #1533
@danielfx90
Have you tried this way?

- https://react-styleguidist.js.org/docs/thirdparties.html#using-styleguidist-with-other-libraries

I guess your top-level component does not have `<Router>`.
in this case, you should make a wrapper component to have `<Router>` and redefine the default component to replace it on `styleguide.config.js`.

something like:

[code]

[code]

(NOTE: I have not tested

[2020-02-12 07:15] kopax opened #1535 "React Native configuration example does not import .web.js"
I am referencing to https://github.com/styleguidist/react-styleguidist/blob/0ecaaf52e7ce68b41bd202d4fde382a9e8ccef6e/examples/react-native/styleguide.config.js

It seems that adding to the `styleguide.config.js` configuration does not allow documenting of `.web.js` components:

[code]

It seems that settings any value to `extensions: ['.web.js', '.js'],` doesn't break anything and is purely ignore

[2020-02-12 07:33] kopax commented on #1535
I have found that editing mysection to support `.web.js` kind of work:

[code]

By doing this, it will import the `.web.js` and the  `.js`, while I only want the web version.

Removing `.js` within section configuration documented nothing.

[2020-02-12 14:30] pierrenel opened #1536 "Styled Component example not working on recent version of styleguidist"
**Current behavior**

After upgrading react-styleguidist from 9.0.8 (in the examples directory) to ^10.6.1, when I build styleguidist, the theme I pass in via my ThemeProvider wrapper & the GlobalStyle I use stop working - strangely they work while in styleguidist server mode.

**To reproduce**

  1. Check out https://github.com/styleguidist/react-styleguidist/tree/master/examples/styled-component

[2020-02-12 14:45] pierrenel commented on #1536
fwiw, I've isolated it to upgrading from styled-components ^4.2.0 to ^5.0.1

[2020-02-14 01:16] stonebk opened #1538 "PROPS & METHODS table broken styling"
I'm trying to upgrade from react-styleguidist@9.2.0 to 10.6.2 and the PROPS & METHODS table styling seems to have broken.

### 9.2.0
<img width="387" alt="Screen Shot 2020-02-13 at 5 13 06 PM" src="https://user-images.githubusercontent.com/1432010/74492625-5eb82f00-4e84-11ea-8102-2eb04734c7bf.png">

### 10.6.2
<img width="322" alt="Screen Shot 2020-02-13 at 5 12 04 PM" src="https://user-images.git

[2020-02-17 10:50] okonet commented on #1207
Currently styleguidist sets `publicPath` to `''` making it impossible to configure it using `webpackConfig` property:

https://github.com/styleguidist/react-styleguidist/blob/1deb5473ddc13e5fe8ba4c2eb0d4172c13e0f5ac/src/scripts/make-webpack-config.ts#L50

Since I've been deploying the styleguide to `/styleguide` for all my styleguidist installations, I think would make sense to use [styleguideDir]

[2020-02-17 11:03] okonet opened #1539 "Rename `styleguideDir` to something more common like `outDir` or `buildDir`"
**The problem**

I was searching the documentation for `outDir` and `buildDir` but could not find any mentions of neither. After a longer throughout read, I've found the `styleguideDir` that is what I was looking for.

**Proposed solution**

Since styleguidist is a build tool, it would make sense to follow build tool's mental model and use a more common name for it: `outDir`, `buildDir`, or propos

[2020-02-18 07:41] sapegin commented on #1534
Feel free to record a new one and send a pull request.

[2020-02-18 07:43] sapegin commented on #1539
Feel free to send a pull request, honestly I don't see any difference between all three names.

[2020-02-18 07:50] sapegin commented on #1516
Feel free to send a pull request to update the version in `package.json`.

[2020-02-18 09:19] okonet opened #1540 "Code examples with language set to `typescript jsx` does not render the example"
**Current behavior**

The code that uses `typescript jsx` (this is what WebStorm requires to render TypeScript with JSX),

[code]
[code]

[2020-02-18 09:24] okonet commented on #1540
Same with just `typescript`

[2020-02-19 13:07] mitsuruog commented on #1534
How about just change the button label to "push me"?
Wouldn't it be much better than before?

[2020-02-19 13:12] mitsuruog commented on #1534
Ah... it already has been changed in the example project. just need to replace the GIF.

- https://react-styleguidist.js.org/examples/basic/

[2020-02-19 19:51] joekarasek commented on #1534
Thank you!

[2020-02-19 19:51] #1534 closed

[2020-02-19 23:35] mitsuruog commented on #1534
@joekarasek
Ah. wait for a bit. this project is not so appropriate yet.
The GIF in the readme has not been updated. I'll try to make a new GIF later.

[2020-02-20 11:32] ollija opened #1541 "Support for Typescript 3.7 features: Nullish coalescing & optional chaining"
**The problem**

React-styleguidist does not support Typescript 3.7 features.

**Proposed solution**

Upgrade Typescript to 3.7 and Babel to at least 7.7.0.

https://babeljs.io/blog/2019/11/05/7.7.0

[2020-02-20 15:01] mitsuruog commented on #1534
I made a new GIF and tried to update somehow, but it seems no way to update for me.

@sapegin
would you update this GIF on the README.md

https://camo.githubusercontent.com/7af8e5fc43288807978f28530656275008c5afbf/68747470733a2f2f64337676366c703535716a6171632e636c6f756466726f6e742e6e65742f6974656d732f32373142333732783130325330633035326933462f72656163742d7374796c6567756964697374372e676966

to the n

[2020-02-20 15:28] sapegin commented on #1534
Thanks, done!

P. S. No need for passive aggression here 🤔

[2020-02-21 11:04] mitsuruog commented on #1516
one idea is to change the next LTS version (10.13.0).
but I afraid it might affect current users, so we have to decide whether to make it the current version or include it in the next major update.

what do you think?

[2020-02-21 11:10] sapegin commented on #1516
I think it's easier, for now, to add the correct version number to `package.json`. This would be patch release because it was already not working in older versions.

Changing it to 10.x would be major release, even with no other changes. Though we can do it too in 11.x

[2020-02-21 13:26] #1473 closed

[2020-02-21 14:19] mitsuruog commented on #1516
Let me check which version is currently working later.

[2020-02-21 14:58] cttith commented on #1256
Having same problem...

[2020-02-22 04:15] mitsuruog commented on #1516
I had tested by some node versions, but I could not reproduce it.
I guess "Node 8.9 is the lowest supported version" is correct so far.

Here is how have been tested.

- Environment
  - OS: mac
  - Node version management tool: nvm
- Preparing
  - Use `/examples/basic` example in this project.
  - Update `react-styleguidist` to 10.6.2
- Test steps
  - Change node version by `nvm use XXX`
  - Check

[2020-02-22 21:02] lhornsby commented on #1516
@mitsuruog I would need to check with my co-worker to try to reproduce an example as I don't remember all the differences between our machines. Specifically, we're both using mac OS. Mine has a later version of both Node and Yarn.

I think he may have disabled/lowered the version of the `mini-html-webpack-plugin` package locally (the one with the release notes regarding Node 8.12) and was able to

[2020-02-23 21:13] #1478 closed

[2020-02-24 13:12] sapegin commented on #1541
Doesn't support where? We only use TypeScript and Babel for development.

[2020-02-24 13:24] sapegin commented on #1540
I think we should report `typescript jsx` to WebStorm — looks like they use some unique names, incompatible with other tools. It doesn't work in Visual Studio Code either.

I think `typescript` and `ts` don't support Markdown, and the correct is `tsx`.

I think we can support WebStorm custom languages too, [look at “Adding aliases”](https://prismjs.com/extending.html#creating-a-new-language-defini

[2020-02-24 19:19] cttith commented on #1532
As @icaromh pointed out the examples are using an older version of styleguidist.  The current module is stuctured differently. Add this to your webpackconfig
`resolve: {
			alias: {
				'rsg-components': path.join(__dirname, 'node_modules/react-styleguidist/lib/client/rsg-components/')
			}
		}`

[2020-02-24 21:27] #1480 closed

[2020-02-24 23:29] mitsuruog opened #1542 "Code example does not render when the code block has `tsx padded`"
**Current behavior**

Code example does not render when the code block has `tsx padded`.

![inspiring-cdn-v779f - CodeSandbox](https://user-images.githubusercontent.com/1703219/75200002-f0d70600-57a7-11ea-9444-7c9cf4bf182f.png)

**To reproduce**

On the TypeScript project, I put some example code in `the README.md` that has the below code block.

<pre><code>```tsx padded

example here

[code]

[2020-02-25 03:21] #1532 closed

[2020-02-25 10:59] mitsuruog commented on #1538
@stonebk
hmm... I could not find any big differences.

Could you post a link to a reproducible sandbox?
 - https://codesandbox.io/s/github/mitsuruog/react-styleguidist-issue-template

The result is here.
I am using Chrome mac for the testing.

### v9.2.0
![dawn-waterfall-59hwk - CodeSandbox](https://user-images.githubusercontent.com/1703219/75240680-172c8e00-5808-11ea-9a16-8bf7d955f61a.png)

- htt

[2020-02-26 06:41] linonetwo commented on #923
I can't find that doc in the cookbook.

[2020-02-27 12:43] mitsuruog commented on #1516
@lhornsby how's it going?

btw I possibly met this issue.
actually I tried to make a new commit in this project, then I could not make it by this error appears.
so I needed to upgrade my node version to 8.12.0.

[code]

so In this case, the minimum required version must be `8.12.0`.
but it is for the development purpose though.

@sapegin what do you think?

[2020-02-27 13:01] sapegin commented on #1516
I think we can update the version in `11 ` branch and make Node 10 the minimum since 8.x isn't supported anymore and 11 is a major release anyway.

[2020-02-27 13:25] mitsuruog commented on #1516
Sure. I leave it as is a while.
I am happy if somebady close it once the v11 gets released. Thanks!

[2020-02-27 21:37] #1482 closed

[2020-02-28 12:36] okonet commented on #462
I've stumbled upon https://github.com/lynaghk/babel/ and I think we could evaluate it at least.

[2020-02-28 13:06] sapegin commented on #462
Keep in mind that you're quoting 2017 me, I've changed my opinion since then ;-)

There's also https://github.com/alangpierce/sucrase that looks very promising and does exactly what we need to run examples in modern browsers including JSX, TypeScript, and Flow. It could be a good default instead of Buble. According to Bundlephobia it's 40 KB minified gzipped.  We'll still need an option to change

[2020-02-28 13:11] okonet commented on #462
Yeah I realize that just wanted to pin the link here so it's not lost. I'm really interested in a full-blown TS support in Styleguidist TBH so yeah, we need the parser to be a plugin.

[2020-02-28 13:53] mitsuruog commented on #1542
It will be fixed in the next major version 11.

[2020-02-28 13:53] #1542 closed

[2020-02-28 21:47] #1483 closed

[2020-02-29 05:31] mitsuruog commented on #1502
@lutaev
Though I am not sure if I can fully understand what you want to do. but you can override individual components by doing something like this:

styleguide.config.js
[code]

and I put the example project here. please have a look.

- https://codesandbox.io/s/misty-rain-xi7o4

![misty-rain-xi7o4 - CodeSandbox](https://user-images.githubusercontent.com/1703219/75601590-f6ae4d80-5aff-11ea-80b0-d6

[2020-03-03 21:52] adback03 commented on #1513
I have cloned the exact example listed above, and while things do work out of the box, if I try importing a dependency from expo (like `@expo/vector-icons`), I get the same error as OP.

[2020-03-03 21:59] adback03 commented on #1511
@kopax how did you get your expo imports working? Things work fine for stuff I'm importing from react-native, but not other libraries like @expo/vector-icons.

[2020-03-04 06:26] kopax commented on #1513
@adback03 I have added some extra conf you can check [here](https://github.com/rollup-umd/documentation/blob/master/src/createConfig.js#L12)

[2020-03-05 10:41] okonet commented on #1540
Done: https://youtrack.jetbrains.com/issue/WEB-44208

[2020-03-05 19:13] CaitlinSweeney opened #1546 "Fonts: Styleguide.config / Webpack Configuration for StyleGuide Dev"
I've tried googling/stackoverflow with no luck. I created a library package and it imports great! When running `yarn styleguide`. I'm trying to test/demo different themes on the library. My only issue are the fonts. It's loading fine, except for all the fonts. It's loading 2 of the woff/woff2 fonts, not the others. I'm loading them in a globalStyles.js (using styled-components), and injecting into

[2020-03-05 21:03] ThomDevine commented on #1499
Currently when using `useState()` in a Markdown example, if I change an initial value in the "View Code" editor, the changes are not reflected inside of my component.

Will this change let me update values in the code editor and see them reflected inside the component?  Is it different for simple values vs nested objects?

With the given example:
[code]

[2020-03-07 02:53] bryan-opslock opened #1547 "Tailwindcss?"
Has anyone gotten this to work with tailwindcss? I've tried the `postcss-loader` and for some reason it ignores all of my `@tailwind` commands

[2020-03-07 14:24] #1499 closed

[2020-03-07 18:22] #1354 closed

[2020-03-09 16:18] #1547 closed

[2020-03-11 12:15] smashercosmo opened #1551 "Property types don't show up"
After upgrading to latest styleguidist (the one with native TS support) property types stopped showing up

![Screenshot 2020-03-11 at 14 06 17](https://user-images.githubusercontent.com/273283/76415867-ac03bf80-63a2-11ea-91dd-2cea45813f25.png)

**Current behavior**

With react-docgen-typescript you could see property types

**To reproduce**

Try to use react-styleguidist with TS

**Expected behavi

[2020-03-11 13:20] DoubleU23 opened #1552 "[babel] breaks on static properties (transform-class-properties)"
**Current behavior**

__react-styleguidedist breaks on static properties.__
[code]

__I've found some issues about that, but there is NO SOLUTION__ and it' even marked as `won't fix`
relates to #1261, #1055 and #72

---

__styleguide.config.js:__
[code]
---

---
I'm using the latest @babel verisions:  _(and updated to core-js@3 in our webpack package)_
[code]

__babel config in our package.json__

[2020-03-11 13:52] DoubleU23 commented on #1552
### UPDATE:
added
[code]
which now compiles with warnings:
[code]

__browsers console output:__
[code]

[2020-03-11 14:07] DoubleU23 commented on #1552
seems the default webpackConfig already uses 'transform-class-properties'

[2020-03-11 14:07] #1552 closed

[2020-03-11 15:04] mitsuruog commented on #1551
I have the same issue. version is`v11.0.1`.

![react-styleguidist issues 1551 - CodeSandbox](https://user-images.githubusercontent.com/1703219/76431298-b9499a00-63f4-11ea-95dd-1f4650fb2bdb.png)

Here is my sandbox.

- https://codesandbox.io/s/react-styleguidistissues1551-1iyof

[2020-03-13 14:23] sapegin commented on #1551
Feel free to send a pull request with a fix 👾

[2020-03-13 14:36] mitsuruog commented on #1551
In my case, there are 2 issues.

1. `react-docgen` does not parse the type of the component correctly.

The type of this component will not parse anything.

[code]

But this component can parse.

[code]

It might be an issue or limitation for `react-docgen`.

2. `react-styleguidist` does not render `tsType` even if `react-docgen` has parsed successfully.

`react-docgen` returns `tsType` including

[2020-03-14 03:47] iSysProc opened #1559 "Sections with href are always opening in new tabs"
![image](https://user-images.githubusercontent.com/17797341/76674313-ba97e400-65f9-11ea-8fa8-c3ecc4cc3071.png)

Section field 'external' don't affect on `shouldOpenInNewTab`

Maybe change this row on: `shouldOpenInNewTab: section.external && !!section.href,` ?

[2020-03-14 08:34] sapegin commented on #1559
Feel free to send a pull request with a fix 👾

[2020-03-14 09:23] mitsuruog commented on #1551
@sapegin I am working on it. 😉

[2020-03-14 11:01] mitsuruog commented on #1551
@sapegin I want to hear your opinion.

I am wondering how to display types in the UI for TypeScript.
It is a little different in the result of the UI from the way what the old version was.
because for the TypeScript users, it used to use `react-docgen-typescript`, but now it uses `react-docgen`.

ex)

If type is something like:

[code]
 Old version:

[code]
New version:

[code]

![stylesheet-examp

[2020-03-14 22:43] aguscha333 opened #1561 "Set component example container width useful for React Native"
**The problem**

I am using this library for react native, so far it's working great, my only complaint is that components expand too much width-wise. I would like to set a max-width to the container of all examples so components look more like what they would look in a mobile device.

**Proposed solution**

Add a variable to the theme configuration where we can set the max-width/width of the cont

[2020-03-16 07:38] sapegin commented on #1561
You can either redefine the `Wrapper` component or use `styles` option to define width of the container.

[2020-03-16 11:49] ilyapishchulin opened #1562 "Black text in normal conditions"
**Current behavior**

Black text

**To reproduce**

https://vkcom.github.io/vkui-styleguide/#tabs
Tap "View code"
<img width="675" alt="Снимок экрана 2020-03-16 в 14 45 44" src="https://user-images.githubusercontent.com/45998835/76755461-f4e9b880-6794-11ea-993f-f4340beb5c7c.png">

And
https://vkcom.github.io/vkui-styleguide/#panelheadercontext
<img width="832" alt="Снимок экрана 2020-03-16 в 14 47

[2020-03-16 12:27] mitsuruog commented on #1559
What is the correct and intended behavior?

[2020-03-16 12:35] sapegin commented on #1559
`external` should define the behavior if present. We probably can remove the magic that opens all sections with `href` in the new tab by default. At least the docs and the examples would be correct in this case:

https://react-styleguidist.js.org/docs/components.html

[2020-03-17 01:19] #1493 closed

[2020-03-17 12:26] #1551 closed

[2020-03-17 12:33] mitsuruog commented on #1516
@sapegin would you close it?

[2020-03-17 13:01] #1516 closed

[2020-03-18 09:07] #1559 closed

[2020-03-18 12:01] mitsuruog commented on #1562
This project uses [prismjs](https://github.com/PrismJS/prism) for the code highlight.
I found an issue at the prismjs repo. this might be related to.

- [JSX \- Curly Braces in prop of an object prop break formatting · Issue \#1548 · PrismJS/prism](https://github.com/PrismJS/prism/issues/1548)

[2020-03-18 13:10] ilyapishchulin commented on #1562
Okey, thanks you

[2020-03-18 13:11] #1562 closed

[2020-03-19 14:53] UseMuse commented on #1188
its work for me
[code]

[2020-03-20 15:27] #1561 closed

[2020-03-23 16:25] dustinsoftware opened #1566 "Crash with some rewritten imports"
**Current behavior**

Some imports are not rewritten correctly and produce naming collisions.

![image](https://user-images.githubusercontent.com/942358/77339140-bce8f500-6d01-11ea-9327-7114f33c5778.png)

Looks like the logic in this file does not handle unique identifiers for all cases: https://github.com/styleguidist/react-styleguidist/blob/3469cbba172d9f81657b388dbffbb8fd5dd7fba4/src/client/uti

[2020-03-23 18:31] Subterrane commented on #930
It took me a bit to figure out how to get the workaround enabled. This seems to work:

`styleguide.config.js`

[code]

[2020-03-23 19:53] imjuststeve commented on #1513
@kopax - did you get this resolved? I read the closed link, but I still don't quite get it.

[2020-03-25 12:18] sapegin commented on #1566
Feel free to send a pull request with a fix.

This will also go away after #1553.

[2020-03-26 12:17] DavidHenri008 opened #1568 "Styled-components warning when creating component in md"
**Current behavior**
For each styled-component created in a md file, the following warning is displayed in the console.
[code]

Simply create a md file for a component like the following.
[code]
Here the displayed component is Button, meaning the file is Button.md. The Title component is a valid styled-components component but defined dynamically so a warning is generated in the console.

This cod

[2020-03-26 12:50] sapegin commented on #1568
The warning is correct, you're creating a styled component inside another component.

[2020-03-26 12:50] #1568 closed

[2020-03-26 13:03] #1566 closed

[2020-03-26 13:16] DavidHenri008 commented on #1568
There is no way to execute md file in a different manner to avoid this warning?
I think the only workaround is to create all the styled-components components in a separate js file and import it in the md file.

[2020-03-27 05:42] Hxiaotong commented on #1408
I same question,are you relovsed?

[2020-03-27 07:39] Hxiaotong opened #1569 "Can't import svg file, Cannot find module '../svg/coinmarketcap.svg'."
![image](https://user-images.githubusercontent.com/18079307/77733139-4f123580-7041-11ea-9a5d-6b2d5c50ce60.png)

[2020-03-27 07:41] Hxiaotong commented on #1569
![image](https://user-images.githubusercontent.com/18079307/77733202-6b15d700-7041-11ea-8c15-69829867c9a0.png)

[2020-03-27 12:14] mitsuruog commented on #1569
@Hxiaotong
I think this does not a style guide issue. I guess your project setup has some issues.
In general, TypeScript needs to have some steps to load SVG.
See this stackoverflow first.

- https://stackoverflow.com/questions/44717164/unable-to-import-svg-files-in-typescript

Also, you might need to add `file-loader` on your webpack settings to load SVG.
See also my sandbox here.

- https://code

[2020-03-27 14:13] bebraw opened #1570 "Allow showing warnings from underlying libraries"
**The problem**

Recently our project was bitten by a known issue in styled-components (https://github.com/styled-components/styled-components/issues/2962#issuecomment-576807762) that caused our production build to lose all its styling.

The issue itself had to do with the fact that we used an `@import` to refer to a font and currently that's not supported when building. styled-components gives a

[2020-03-27 14:57] sapegin commented on #1570
Could you try in #1553? I think I did some changes there that may help to see more errors.

[2020-03-27 14:59] sapegin commented on #1569
The error is coming from Jest, not Styleguidist.

[2020-03-27 14:59] #1569 closed

[2020-03-27 15:00] #1541 closed

[2020-03-28 20:48] pak11273 commented on #1547
Yep.  If you are using styleguidist with create-react-app then you just need add to the top of your components the path to your css:
[code]

[2020-03-30 04:33] mano-balakrishnan opened #1572 "How to use with combination of redux mapDispatchToProps and react createportal."
--------------^ Click “Preview”!

If you have a support question, ask it on [Stack Overflow](https://stackoverflow.com/questions/tagged/react-styleguidist) using the `react-styleguidist` tag.

Before submitting a new question, make sure you:

- Searched existing [Stack Overflow questions](https://stackoverflow.com/questions/tagged/react-styleguidist).
- Searched opened and closed [GitHub issues](h

[2020-03-30 06:25] sapegin commented on #1496
There's a pull request with draft implementation: #1553.

[2020-04-05 16:31] MahmoudEzzatAbdul-Rahman commented on #1513
@kopax How did you get this resolved, I have similar issues with babel-preset-expo

[2020-04-05 17:21] #1506 closed

[2020-04-05 18:15] stepancar commented on #1512
I think it's out of scope this project. You can implement your own wrapper around react-styleguidist static and provide dropdown which changes the versions of static.

[2020-04-05 18:17] stepancar commented on #1488
@mimshwright could you provide more information?

[2020-04-05 18:21] #1507 closed

[2020-04-06 06:10] kopax commented on #1513
You guys have the answer in the link.  Just decrypt it or use it instead of your configuration.

[2020-04-07 09:43] Leviathan91 commented on #1488
Jumping on this, I think I have the same issue. Is it possible to use your own eslint file with styleguidist, without having to fiddle around with webpack? Because the react-scripts eslint is too strict.

[2020-04-08 08:10] andrzejpolis commented on #1301
This worked for me:
[code]

It's very confusing that `resolve.extensions` is merged by appending values at the end of defaults. This way you cannot control order of extensions resolution. In my opinion default values should be documented somewhere and `extensions` parameter should completely override default one not merge with it.

Default array is:
[code]

And would be nice if we could configure

[2020-04-08 23:58] austin94 commented on #1536
@pierrenel I've opened an issue against styled-components that may be able to address this issue.

[2020-04-09 05:41] pierrenel commented on #1536
@austin94 I saw something related to merging props in their 5.1 changelog 🤔

[2020-04-09 10:57] fakeheal opened #1574 "Adding SVGs to Components as ReactComponent"
_There's a [similar issue posted here](https://github.com/styleguidist/react-styleguidist/issues/1408), but it's been closed with no responses. The minor difference between my issue and the one already posted is that I get an error in styleguidist._

----------------------

## Current behavior

Components that have been passed [SVG as ReactComponent](https://create-react-app.dev/docs/adding-images

[2020-04-09 12:30] Sholanki commented on #824
Can only a few specific (for instance - the ones that are most commonly used) code blocks be live edited instead of generalising the entire code block? It would address only specific code blocks for which code can be written down

[2020-04-10 11:18] kopax commented on #1574
I already have this in my style guide and it's not related to react styleguidist at all..

[2020-04-12 11:40] Bennes opened #1576 "Failed at the libyaml@0.2.5 install script"
**Current behavior**

yp ERR! stack Error: `C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin\MSBuild.exe` failed with exit code: 1
gyp ERR! stack     at ChildProcess.onExit (D:\nodejs\modules\node_global\node_modules\node-gyp\lib\build.js:194:23)
gyp ERR! stack     at ChildProcess.emit (events.js:310:20)
gyp ERR! stack     at Process.ChildProcess._handle.onexit (inte

[2020-04-12 12:46] mitsuruog commented on #1576
@bennam
you use `styleguide`, not `react-styleguidist`.

[2020-04-12 13:08] Bennes commented on #1576
oh,my god! Thank you so much

[2020-04-12 13:08] #1576 closed

[2020-04-12 15:09] #1508 closed

[2020-04-14 22:32] craigkovatch commented on #1527
@sapegin just want to make sure this is on your radar as we also get automated vulnerability warnings from github on this transitive dependency

[2020-04-16 14:59] ryanespin opened #1577 "Props & Method Shape Console Warning: <div> cannot appear as a descendant of <p>"
**Current behavior**

A console warning is appearing for shape descriptions under the Props & Methods table:
[code]

**To reproduce**

Add comments to parts of a shape.  Click Props & Methods.  The description area will return with a p tag with div tags nested inside for each commented shape.

**Expected behavior**

A console warning should not appear if the dom elements were changed.  Either chan

[2020-04-16 15:25] yeeaaagz opened #1578 "Import multiple example files for a component"
Was reading the doc on getExampleFilename. Can it return an array instead of a string?

I didn't see anything related. I have a few examples for some components that are really large. So instead of componentName.jsx --> componentName.example.md, I'd like to do componentName.jsx --> componentName.example1.md, componentName.example2.md , etc

Is possible or good suggestion?

[2020-04-17 15:16] gargroh opened #1579 "Using typescript in playground"
Anyone having any idea how can i write TS code in playground(i am able to compile TS files and render them in example), but i want to compile/run TS in browser.

Example, this piece of code should be able to render   -

[code]

Let me know if it is currently possible. Thanks

[2020-04-22 11:08] mitsuruog commented on #1578
@yeeaaagz

You can add just one more additional example file.

https://react-styleguidist.js.org/docs/documenting.html#external-examples-using-doclet-tags

Component file:

[code]

The folder would look something like this.

[code]

[2020-04-22 11:27] mitsuruog commented on #1577
@ryanespin
Would you give me your props and version info?
I could not reproduce it. I am using `react-styleguidist@11.0.5`

[2020-04-22 14:42] n-rogozny opened #1580 "Create React App config"
**Current behavior**
In the documentation for styleguidist I do not need to configure the config. But I have a problem with
changing default path for my components.
If I change the path, all loaders are broken
[code]

**To reproduce**
add styleguide.config.js with
`module.exports = {
  components: ['src/common/**/*.jsx', 'src/components/**/*.jsx']
}
`
**Expected behavior**

I can change components

[2020-04-25 03:40] tehandyb commented on #1502
Would be nice to be able to override the slots themselves. I had to override the Slot component to be able to use my own slots

[2020-04-25 04:45] #847 closed

[2020-04-25 05:57] FezVrasta commented on #1230
Buuumpp pmuuuuB

[2020-04-25 08:10] yutin1987 commented on #445
I think we need reopen this issue, when it is hooks function, will get not component issues,
but hooks is a method in react component.

![螢幕快照 2020-04-25 下午4 08 04](https://user-images.githubusercontent.com/2505934/80274705-fea8f900-870e-11ea-809f-52c4f6919303.png)

[2020-04-25 12:44] krutoo commented on #1528
how can i resolve problem?

[2020-04-25 14:15] mitsuruog commented on #1528
@krutoo which version are you using?

[2020-04-25 18:45] #1529 closed

[2020-04-26 08:12] dweng0 commented on #462
Has anyone done any work on this? I'd like to poke about with it. Pointers or suggestions would be great.

[2020-04-26 11:05] okonet commented on #462
I think @sapegin has a WIP branch already somewhere

[2020-04-26 12:14] dweng0 commented on #462
OK, I was just going to go with creating an IoC Dependency injected option to provide the transpiler in the config or use the current default if its not set. But if there's a WIP I'll just see what that looks like instead.

[2020-04-26 12:54] okonet commented on #462
I’m not 100% sure about that so you better look for it or wait for Artem’s answer

[2020-04-27 08:05] sapegin commented on #462
@dweng0 yeah, it's done as part of #1553 but the whole branch is far from done, so feel free to extract it into a separate pull request so we can release it separately. It also changes the default compiler, which I think we should release as well with the new option, otherwise, transpiling imports would make the whole thing more complex than it should be.

[2020-04-27 08:27] dweng0 commented on #462
Cheers, I'll take a look and see if J can help out

[2020-04-27 10:09] krutoo commented on #1528
@mitsuruog  react-styleguidist 9.0.5

[2020-04-27 13:17] mitsuruog commented on #1528
@kidkuro would you try it on the latest version?

[2020-04-28 04:40] krutoo commented on #1528
Yes, i upgrade react-styleguidist to 11.0.5

I think this is because in my DEFAULT_PROPS (which is above component definition) i have **function properties which returns React elements**:

[code]

[2020-04-29 12:10] mitsuruog commented on #1528
@krutoo
hmm, I could not reproduce it.
could you make a reproducible demo? I have a small template here.

- https://github.com/mitsuruog/react-styleguidist-issue-template

[2020-04-29 23:38] amsul opened #1583 "When using TypeScript, the props don't include extended props"
**Current behavior**

The props documentation does not include the props that are being extended.

**To reproduce**

Create an interface like this:
[code]

The only props that are listed are the ones that are explicitly mentioned in the interface (in this case just `children`).

**Expected behavior**

The expected behavior is for all props to be listed.

[2020-04-30 03:42] BboyAwey commented on #1525
I've met this shit too. Is there any solution on it ?

[2020-04-30 05:16] #1526 closed

[2020-04-30 05:48] Eddie-CooRo commented on #1525
@BboyAwey Disabling the minification worked for me.

[2020-04-30 20:52] amsul commented on #1583
Just read the bottom part of https://react-styleguidist.js.org/docs/thirdparties.html#how-styleguidist-works 👍

[2020-04-30 20:52] #1583 closed

[2020-05-01 08:41] ThomasRoest opened #1584 "Is it possible to force certain sections to be opened by default when using tocMode: collapse?"
if tocMode:collapse is enabled, all sections are collapsed by default. Is it possible to open certain sections by default?

[2020-05-01 18:24] YapiKamilAqil commented on #1256
I am having a similar issue and I am using the default set up with Create-React-App

[2020-05-01 18:25] YapiKamilAqil commented on #1256
[code]

[2020-05-06 03:08] BboyAwey commented on #1525
Create a new file named Styled.fixed.js which is copied from `react-styleguidist/lib/client/rsg-components/Styled/Styled.js`, and fixe this bug like below, then put it into our `src` dir, then import it in the custom styleguide components instead of importing this file directly from it's origin position.

[code]

Import this file in your custom styleguidist components, and use `displayName` proper

[2020-05-06 03:22] BboyAwey commented on #1431
See https://github.com/styleguidist/react-styleguidist/issues/1525#issuecomment-624418876 for temprary solution for this bug.

[2020-05-06 05:03] krutoo commented on #1528
@mitsuruog Yes, here is forked sandbox with reproduced issue:
https://codesandbox.io/s/nostalgic-field-x4y0r?file=/src/components/button/README.md

[2020-05-06 05:58] #1530 closed

[2020-05-06 09:02] BboyAwey commented on #1431
**This bug also affect the custom components of styleguidist.** If you are using custom styleguidist components and still need the minification of your code, here is my temporary solution for this bug.

Create a new file named Styled.fixed.js which is copied from `react-styleguidist/lib/client/rsg-components/Styled/Styled.js`, and fixe this bug like below, then put it into our `src` dir.

[code]

[2020-05-06 09:03] BboyAwey commented on #1525
**This bug also affect the custom components of styleguidist.** If you are using custom styleguidist components and still need the minification of your code, here is my temporary solution for this bug.

Create a new file named Styled.fixed.js which is copied from `react-styleguidist/lib/client/rsg-components/Styled/Styled.js`, and fixe this bug like below, then put it into our `src` dir.

[code]

[2020-05-06 09:04] BboyAwey commented on #1431
See https://github.com/styleguidist/react-styleguidist/issues/1525#issuecomment-624528346 for temporary solution

[2020-05-06 09:14] allindeveloper opened #1586 "How to change the color Title of the StyleGuide"
Please i need assistance in changing the color of the title. i don't want to use color.base. because base would override all other styles.

Here is my config file
[code]

[2020-05-08 04:51] PriyankaBhise opened #1587 "Prototype Pollution Vulnerability"
Low             Prototype Pollution

  Package         yargs-parser

  Patched in      >=13.1.2 <14.0.0 || >=15.0.1 <16.0.0 || >=18.1.2

  Dependency of   react-styleguidist [dev]

  Path            react-styleguidist > webpack-dev-server > yargs >
                  yargs-parser

  More info       https://npmjs.com/advisories/1500

found 1 low severity vulnerability in 285538 scanned packages

[2020-05-08 11:35] mitsuruog commented on #1586
@allindeveloper
I don't know how you customized your Logo components, but I feel like you need to use `Styled` component to wrap your components.

You can see the original Logo component code here.

- https://github.com/styleguidist/react-styleguidist/blob/master/src/client/rsg-components/Logo/LogoRenderer.tsx#L19

[2020-05-08 11:43] mitsuruog commented on #1584
You can't do that with the `tocMode` for now.
The `tocMode` seems to be affected to all ComponentsListRenderers.

[2020-05-08 11:48] allindeveloper commented on #1586
Hi @mitsuruog
I'm referring to the `text` not the logo

[code]

[2020-05-08 13:05] mitsuruog commented on #1586
Hi @allindeveloper

you can change the logo color here.
please try it.

[code]

[2020-05-08 13:52] mitsuruog commented on #1528
@krutoo
you have a `findAllComponentDefinitions` in your `stylegude.config.js`.
it finds all component definitions, not only the one that is exported.

[code]

and react-styleguidist document says:

If it were me, I would try something like this:
-  remove `findAllComponentDefinitions` in your config
- Or move your `DEFAULT_PROPS ` component to another file

[2020-05-08 23:12] jamie29w opened #1588 "Module not found: Can't resolve 'rsg-components/client/Wrapper' & Module not found: Can't resolve 'rsg-components/Wrapper/Wrapper'"
**Current behavior**

Set up styleguidist for React Native and Styled Components. (Thanks for the great examples!!)

Got two "Module not found" errors along the way. I was able to patch the locally and have my docs running. But thought you'd want to know about the mis-aligned paths :)

Logs further below.

**To reproduce**

I'm sorry -- I can't demo RN + SC on the web concisely. If I'm wrong, plea

[2020-05-08 23:12] jamie29w commented on #1588
Referencing a previous [issue #1231](https://github.com/styleguidist/react-styleguidist/issues/1231) that helped.

[2020-05-09 00:17] jamie29w commented on #1588
My bad. The issue occurred because I removed the path.join from:

[code]

[2020-05-09 00:17] #1588 closed

[2020-05-10 01:42] allindeveloper commented on #1586
Thank You @mitsuruog.

[2020-05-10 01:42] #1586 closed

[2020-05-11 06:28] gbhasha commented on #1587
Here is the snyk report : https://snyk.io/test/npm/react-styleguidist

[2020-05-12 14:11] poteirard commented on #1256
I have exactly the same issue as @YapiKamilAqil 😢

[2020-05-12 15:53] cincospenguinos opened #1589 "Nested divs in markdown are rendered incorrectly"
**Current behavior**

**To reproduce**

1. Nest sets of divs three levels deep
2. Observe that the divs are incorrectly nested

[An example of this issue is found here](https://github.com/styleguidist/example/pull/7)

**Expected behavior**

The layout in the document is exactly to that represented in the file

[2020-05-12 16:48] cincospenguinos commented on #1589
I found a workaround by using a `span` instead of a `div`. This breaks the semantics of HTML, but it at least allows me to move forward.

[2020-05-12 20:04] b2whats commented on #1589
Make a minimal example

[2020-05-12 21:44] MohamedWagih96 opened #1590 "How to show the documentation of a complex prop-type object using React-styleguidist and JSDoc?"
As the title says, How can I document a prop-type object like the following:

    chart: PropTypes.arrayOf(
        PropTypes.shape({
          /** Displayed title */
          title: PropTypes.string,
          /** Raw data */
          data: PropTypes.shape({
            /** how to document this? */
            labels: PropTypes.arrayOf(PropTypes.string),
            /** and this? */

[2020-05-13 07:39] MohamedWagih96 opened #1591 "How to change the Parameters column width in methods table?"
My methods table looks like this:
![image](https://user-images.githubusercontent.com/30757576/81784588-6035d980-94fd-11ea-9442-45ade31af6ed.png)
Description column takes the entire width while Parameters is squashed. How to manually set the width?
Thanks,

[2020-05-13 13:22] mitsuruog commented on #1591
@MohamedWagih96
you can set the width directly by overriding original styles.

**styleguide.config.js**
[code]

![React_Styleguidist_Issue_Template_Style_Guide (1)](https://user-images.githubusercontent.com/1703219/81817804-2948dd80-9568-11ea-8a67-19deb2a7ef38.png)

[2020-05-13 13:37] mitsuruog commented on #1590
**Result:**

![React_Styleguidist_Issue_Template_Style_Guide (2)](https://user-images.githubusercontent.com/1703219/81818997-b3de0c80-9569-11ea-8e23-ea5f704f7ad1.png)

react-docgen could parse the nested props property. but the UI part seems not to handle it recursively.

[code]

I am not sure it is intended behavior or bug. so I want to hear someone others' opinions.

[2020-05-14 17:58] asdeev commented on #1256
I'm having this same issue as well, I've been going at this one for days and can't seem to figure out what is going on...

[2020-05-14 19:59] asdeev opened #1592 "I'm getting a build error when running styleguidist build command."
When I do the `styleguidist server` command, it runs fine, but when I run the `styleguidist build` command, it is failing. I keep getting errors similar this:

`The comment file "build/vendors~main.898e6618.js.LICENSE.txt" conflicts with an existing asset, this may lead to code corruption, please use a different name`

Here's a link to my [Webpack Config](https://github.com/asdeev/new-project-temp

[2020-05-14 20:35] MohamedWagih96 commented on #1591
@mitsuruog Thanks a lot!
However, I ended up doing the following:
[code]
To only change the width of the **Method**'s table only.
I've another question how did you find what exactly to change? Table, cell, etc.. because I can't figure it out.
Thanks again,

[2020-05-14 20:38] MohamedWagih96 commented on #1590
Ok thanks a lot I'll be waiting for any updates hopefully soon enough :D

[2020-05-15 00:54] mitsuruog commented on #1591
@MohamedWagih96
Though I'm not sure I fully understand your problem.
I got the knowledge from the document.

https://react-styleguidist.js.org/docs/cookbook.html#how-to-change-styles-of-a-style-guide

the props table uses `TableRenderer` component. you can see the code and get exactly what the default styles that component have.

https://github.com/styleguidist/react-styleguidist/blob/master/src/c

[2020-05-15 02:11] kwzm opened #1593 "Can react-styleguidist support export markdown"
I wanted to export the markdown document using retreat-styleguidist, but I tried to look at the official document but didn't see how to do it

PS: I had asked it on StackOverflow and gitter, but no one answerd.

[2020-05-15 22:30] #1592 closed

[2020-05-16 09:26] sapegin opened #1594 "Sections with numbers in the name don't work"
**Current behavior**

The URL changes to `http://localhost:6061/#/4.%20Design%20Tokens` but no navigation happens. There's an error in the browser console:

[code]

**To reproduce**

1. Create a section with a number in the name (for example, `4. Design Tokens`).
2. Run Styleguidist
3. Try to navigate to this section

**Expected behavior**

The section is open.

[2020-05-16 10:31] #1531 closed

[2020-05-17 02:05] mitsuruog commented on #1594
@sapegin
which version are you using?
I tried to reproduce it by the latest version `11.0.6`. but the URL format of the sections seems been changed, and I can not reproduce it. the navigation works for me.

**styleguide.config.js**

[code]

**Result:**
<img width="890" alt="スクリーンショット 2020-05-17 11 02 17" src="https://user-images.githubusercontent.com/1703219/82134043-f3d51600-982d-11ea-80ba-72edc3

[2020-05-17 11:09] sapegin commented on #1594
Interesting: I had some 10.x version. Upgraded to 11.0.6. The error is gone but the navigation doesn't work: the URL changes but not the page contents ;-/ I also have `pagePerSection: true`. Looks like some regexp ignores numbers.

[2020-05-17 13:21] #1523 closed

[2020-05-18 16:14] YapiKamilAqil commented on #1256
Well, i just ignore the logs for now the build is still servable.

[2020-05-19 00:54] #1533 closed

[2020-05-20 04:57] #1535 closed

[2020-05-20 13:29] kybradeck opened #1596 "High Severity Security Vulnerability: markdown-to-jsx"
There is currently a high severity security vulnerability in the [markdown-to-jsx package](https://github.com/styleguidist/react-styleguidist/blob/master/package.json#L68) used by Styleguidist.

https://npmjs.com/advisories/1219

This vulnerability is now preventing our company from using Styleguidist to document components, as we run [`npm audit`](https://docs.npmjs.com/auditing-package-dependenc

[2020-05-20 15:20] estevanmaito opened #1597 "Thank you"
Sorry if this is the wrong place.

I can't support you with money, but I would like to thank everyone involved in this project.

Building big projects these days, with so many packages involved, usually is a matter of trying dozens of tutorials and different ways to get to the desired results, and you guys, made something so powerful, but yet so simple to configure.

I love what I do and live for

[2020-05-21 11:33] gbhasha commented on #1596
Yes. We do have same problem and vulnerable packages are not allowed as per company policy.

![image](https://user-images.githubusercontent.com/501794/82555215-ffee0a00-9b84-11ea-90a9-ae18e0d64a04.png)

[2020-05-21 11:35] gbhasha commented on #1596
Snyk Report : https://snyk.io/test/npm/react-styleguidist

[2020-05-21 15:36] cttith commented on #1256
Was able to solve this problem by explicitly creating my own babel config file and including my webpack config in the styleguide.config.js

[2020-05-23 08:03] flieks commented on #1547
it works but it loads before materialUI css and therefore is overwritten by material css..

[2020-05-24 13:51] #1207 closed

[2020-05-25 09:19] #1539 closed

[2020-05-25 14:11] sapegin commented on #1596
Feel free to send a pull request with a fix.

[2020-05-25 14:23] sapegin commented on #1597
Hey Estevan! Thank you very much for your kind words! 🤗

[2020-05-25 22:15] pke commented on #1597
I am also still coming back to react-styleguidist and if I can get it to work with a react-native TypeScript app, I no longer have to write `stories` ;)

[2020-05-26 13:25] #1594 closed

[2020-05-26 19:47] kybradeck commented on #1596
It appears that this has been resolved: https://github.com/probablyup/markdown-to-jsx/issues/306#issuecomment-633737154 and the package maintainers are just waiting on npm to approve that the vulnerability has been patched.

I've opened a PR to update the `markdown-to-jsx` version here: https://github.com/styleguidist/react-styleguidist/pull/1599

[2020-05-27 05:58] #1596 closed

[2020-06-01 17:35] #1538 closed

[2020-06-01 18:58] rdhelms opened #1600 "Adding underline to Link component via styles config?"
**Current behavior**

I wanted to add an underline to my styleguide's links by using the `styles` config option, but I can't seem to target the Link component.

**To reproduce**
[code]

https://github.com/rdhelms/example

**Expected behavior**

I expected targeting the `Link` component via `styles` to allow me to style my styleguide's links, but I seem to be unable to do so.

[2020-06-02 11:40] mitsuruog commented on #1600
@rdhelms you can put the underline by doing something like this:

[code]

and you can see the details. Here is the original styling.

- https://github.com/styleguidist/react-styleguidist/blob/master/src/client/rsg-components/Link/LinkRenderer.tsx#L9-L13

[2020-06-02 12:25] rdhelms commented on #1600
Wow, interesting...when it didn't work I just assumed I was targeting the wrong thing, but I didn't think about the possibility that the theme styles were simply overriding the config styles. That makes me realize that this also would have worked:
[code]

Is it expected that the theme styles would have a higher priority than the config styles? This is definitely enough for me, but I wonder if ther

[2020-06-02 12:43] mitsuruog commented on #1600
I have been answering a similar question recently.
but right now it's just an override to the existing style.
However, it would better to be able to change the intended style with a straight way.

[2020-06-02 12:49] mitsuruog commented on #1600
and you can send a pull request whatever you want to change the document.
I could understand your point and it may be the best thing we can do now to avoid some future confusion without major changes.

[2020-06-03 22:52] halkeye opened #1601 "https://react-styleguidist.js.org/examples/basic/ is giving 404"
**Current behavior**

https://react-styleguidist.js.org/examples/basic/

Page Not Found
We could not find what you were looking for.

Please contact the owner of the site that linked you to the original URL and let them know their link is broken.

**To reproduce**

goto https://react-styleguidist.js.org/examples/basic/

**Expected behavior**

See the example repo

[2020-06-08 04:31] isaacbuckman commented on #1590
This looks similar to #350.  I agree that this would be useful.

[2020-06-09 13:30] sapegin commented on #1601
Yeah, forgot to set it up with the new site ;-/

[2020-06-09 16:52] #1546 closed

[2020-06-09 18:18] alexwaibel commented on #1256
I'm also experiencing this issue. My project was bootstrapped using create-react-app so I'm weary of messing with webpack.

[2020-06-10 07:23] #1601 closed

[2020-06-11 05:13] isaacbuckman opened #1611 "JSDoc @param not displaying arrays"
I am having some trouble setting the type of an `@param` to a `string[]`
[code]
![image](https://user-images.githubusercontent.com/34870239/84347166-d1f65700-ab7f-11ea-9e58-c0e3ae4541a3.png)
I expected it show that the type of `baz` is a `string[]`. Similar to #802, `string[]`, `String[]`, `Array.<string>`, etc. do not seem to be working either.

It looks like the type name is being rendered here:

[2020-06-13 19:31] FDiskas commented on #845
Still valid

[2020-06-13 19:43] FDiskas commented on #1344
Ref: https://github.com/styleguidist/react-styleguidist/issues/845

[2020-06-15 19:17] qalqi opened #1612 "'styleguidist@latest' is not in the npm registry."
**Current behavior**
[code]

**To reproduce**

`npx styleguidist server`

when accessed
https://registry.npmjs.org/styleguidist

[code]

Tested in windows and mac environments

[2020-06-15 23:22] mitsuruog commented on #1612
@qalqi
This project name is `react-styleguidist` in npm not `styleguidist`.

[2020-06-16 11:24] mheathcote1977 opened #1613 "Vulnerability in terser-webpack-plugin dependency"
Our corporate scanning software is preventing the use of the latest version 11.0.x due to a vulnerability in one of the dependencies.

Currently version 11.0.8 depends on terser-webpack-plugin@2.2.0 (in lock file). This in turn depends on serialize-javascript@2.1.2.  The vulnerability is in the serialize javascript plugin.

Please could you update terser-webpack-plugin to version 2.3.6 or greater,

[2020-06-16 15:00] qalqi commented on #1612
https://github.com/styleguidist/react-styleguidist/blob/master/docs/CLI.md#commands

[2020-06-17 11:34] mitsuruog commented on #1612
Are you sure `react-styleguidist` is installed?

`npm install --save-dev react-styleguidist`

In my environment, I can start it successfully with the above `npx` command tho. 🤔

[2020-06-17 15:23] qalqi commented on #1612
[code]

`npm run start` working
`npm run start:npx` not working

[2020-06-22 06:34] stufisher commented on #1525
Any news on this one?

[2020-06-22 08:49] sapegin commented on #1613
Feel free to send a pull request with a fix.

[2020-06-22 08:50] sapegin commented on #1612
This was never supported and never mentioned in the readme.

[2020-06-22 08:50] #1612 closed

[2020-06-22 08:52] sapegin commented on #1611
Yeah, all good points! Feel free to send a pull request! 👾

[2020-06-22 08:53] qalqi commented on #1612
the whole point of using npx is not to npm install. Either don't mention npx or support npx without local installation.

[2020-06-22 17:23] ammmze commented on #1227
I realize this is an old thread, but I've just submitted some changes to retoggle in Raathigesh/retoggle#29 (now retoggle 1.0.0) that should help if anyone is still looking at using retoggle in react-styleguidist. Previously retoggle kept all the knobs in a global place, so if you had many components or code blocks they would all share the same knobs/toggles. So with that fixed we can swap out the

[2020-06-22 22:44] dalisoft opened #1616 "Gatsby + react-styleguidist does not work together?"
**Current behavior**

I recently migrating my all dev envs from **docz** to **react-styleguidist**, but there i faced with some error

[code]

**To reproduce**

1. Fork https://github.com/dalisoft/dev-env
2. Go-to `frontend/gatsby` folder or [here](https://github.com/dalisoft/dev-env/tree/master/frontend/gatsby)
3. Run `npm run docs:dev`
4. See error

**Expected behavior**

Successfully rendered d

[2020-06-24 11:19] dalisoft commented on #1616
If someone sees same issue, feel free to copy config from [here](https://github.com/dalisoft/dev-env/blob/master/frontend/gatsby/styleguide.config.js).
If my config helps you, please help project grow by starring, forking and/or watching

[2020-06-24 11:19] #1616 closed

[2020-06-24 17:12] dianaaceves opened #1617 "where can i see all the styleguide.config.js settings?"
I want to change the whole look but I can't find anywhere to see what options are available.
I've only found a few things in individual examples, but nowhere to find them all.
Thanks!

[2020-06-24 17:36] dianaaceves opened #1618 "Color of links in sidebar and main"
Hi!
I need the color of the links in the sidebar to be different from the main content. How can I set different colors to the sidebar links?
Thanks!

[2020-06-24 23:51] mitsuruog commented on #1617
@dianaaceves
Have you checked this document yet?
https://react-styleguidist.js.org/docs/configuration

[2020-06-24 23:53] mitsuruog commented on #1618
@dianaaceves
Could you show me an image that what you want to do?

[2020-06-25 06:50] dianaaceves commented on #1618
Sure! I'll tell you what I need:
- Different color for sidebar links: In the configuration I only find how to set the color for all the links.
- Different colors to the different headings: a color for the h2, another color for the h3, and another color for the h4. I've tried to put it inside those variables but it doesn't do anything.
I'd tried several things, but I don't find the [solution.]
Than

[2020-06-25 07:06] dianaaceves commented on #1617
Yes, I have reviewed all the documentation, but (sorry 🙏 😔) I don't know how to access certain properties to change the styles.
For example, I tried to apply what you say in the image to change the style to h4 sections but it doesn't work.
<img width="296" alt="Screenshot 2020-06-25 at 09 05 40" src="https://user-images.githubusercontent.com/7044207/85672367-1aa32980-b6c3-11ea-9c2d-f6c454bacdb6.pn

[2020-06-25 12:48] mitsuruog commented on #1618
About customizing sidebar links, take a look at my previous answer.

- Adding underline to Link component via styles config? #1600

About customizing heading colors, add the next property on your `styleguide.config.js`.

[code]

You can see the details style of the Header component here.

- https://github.com/styleguidist/react-styleguidist/blob/master/src/client/rsg-components/Heading/HeadingRend

[2020-06-25 12:52] mitsuruog commented on #1617
@dianaaceves Is the problem you want to solve here the same as the one you are asking here?

- Color of links in sidebar and main #1618

[2020-06-25 14:48] dianaaceves opened #1619 "Problems with jss @global styles"
I added some styles for my components using jss @global, as indicated in the documentation, but when I do, the selectors are included in a general rule where a lot of unwanted styles are applied to them. In my case, the h4 doesn't inherit the text-align center from the parent because that css rule is overwriting it.
How can I add some global styles without them being added in that strange rule?
Th

[2020-06-25 14:49] dianaaceves commented on #1617
Yes! sorry. :)

[2020-06-25 15:22] mitsuruog commented on #1617
If it's already resolved, would you close this issue?

[2020-06-25 16:51] qalqi commented on #1612
it's not about being correct, rather being useful. npx in styleguidist library has no relevance or use. In fact having npx added unnecessary confusion and cli breaking up.

great library nevertheless.

[2020-06-26 12:01] #1617 closed

[2020-06-26 12:06] dianaaceves commented on #1618
Thanks for your quick response. :-)
I'm sorry, but I don't understand what you mean by "take a look at my previous answer". I can't find any answer that explains how to modify only the styles of the links in the sidebar. If I do what you say in issue #1600 00, all the links are changed, not just the ones in the sidebar.
Thank you!

[2020-06-26 13:52] borekb opened #1620 "Embed styleguide into another docs site?"
I love Styleguidist for its Markdown-based approach, the result docs are nice and useful. But we also have other parts of the documentation, e.g., long-form content, a REST API docs etc., and I'm wondering whether someone has experience stitching it together inside a single output. For example, could we use Docusaurus for long-form content and Styleguidist to build the API Reference section?

<img

[2020-06-26 14:34] alextewpin opened #1621 "Wrong union description with TypeScript"
**Current behavior**
When using TypeScript unions, react-styleguidist isn't providing any description. Moreover, is shows annoying empty div.

<img width="580" alt="Screenshot 2020-06-26 at 17 31 05" src="https://user-images.githubusercontent.com/1542068/85868602-2d0c8880-b7d3-11ea-9781-f32bc5cf3130.png">

**To reproduce**
Use TypeScript and add description to any union field. Demo: https://codesa

[2020-06-29 18:15] DhruvMehndhiratta opened #1622 "Avoid Nesting of tabs when only one component is available in sections"
Current behavior
When I am passing only one component in sections array then also it's creating a nested tab for that, that is not desirable Can anyone let me know if there is any workaround for the same so that I can avoid that.
<img width="268" alt="bug" src="https://user-images.githubusercontent.com/36534155/86040940-80e0d100-ba62-11ea-9185-4e75bb9b1923.png">

To reproduce
Pass only one compone

[2020-06-30 19:11] galexandrade commented on #1256
I am getting this error: `The comment file "build/main.f1f51186.js.LICENSE.txt" conflicts with an existing asset, this may lead to code corruption, please use a different name` when running `styleguidist build`.
It is failing to compile, but `styleguidist server` runs fine.

![image](https://user-images.githubusercontent.com/24475665/86167077-22a00680-bad3-11ea-8d97-1b1067a426de.png)

[2020-07-01 01:18] u1810291 commented on #413
I have tried the above suggestions and deduced that after running a command

and importing from

it finally worked for me

[2020-07-03 10:23] alexcanessa commented on #1526
@tusharchutanigt were you able to solve this?

[2020-07-03 13:04] mitsuruog commented on #1618
@dianaaceves you are right.
I can not find a smart good way to do this tho, but you can change the sidebar style by doing something like this.

[code]

[2020-07-03 13:35] mitsuruog commented on #1620
I haven't tried it, but here's what I would think if I tried to do the same thing.

Styleguidist has a feature called `section`. Using this, I can include any markdown file in Styleguidist.

- https://react-styleguidist.js.org/docs/components#sections

so if the Docusaurus document can be output in markdown format, I would save the file in a folder somewhere in the Styleguidist project and integra

[2020-07-03 13:56] borekb commented on #1620
In my case, Docusaurus would be the main site, Styleguidist just the embedded API reference.

[2020-07-03 13:58] mitsuruog commented on #1621
You can hover your mouse over the field for a few seconds to see the actual value, but I can understand the fact that more people don't realize it.

<img width="553" alt="スクリーンショット 2020-07-03 22 43 39" src="https://user-images.githubusercontent.com/1703219/86475298-5d2dcb80-bd7f-11ea-9043-67f48af491ea.png">

So... we can change this, but first, we need to decide what kind of UI we want.
Here's my

[2020-07-03 14:07] alextewpin commented on #1621
Yeah, I know that I can hover on `union`, that's a cool feature. I'm actually bothered with ugly empty space between table rows. As far as I know, when parsing prop-types union there is actual description, like `One of: red, blue`. But not in this case.

Pic. 2 is fine I guess. Union description could be quite long, so putting it in type column may look sloppy.

[2020-07-03 14:11] mitsuruog commented on #1620
As far as I know, Styleguidist is a react web application in its entirety, so it would be difficult to use Docusaurus as the main site.

[2020-07-03 16:31] sapegin commented on #1621
I think unions can be very very long, and improving tooltips could be a better solution in general — showing a nice HTML tooltip where we can format code on multiple lines, instead of a `title`, which, I agree, isn't the best and easily discoverable UI pattern.

[2020-07-03 16:33] sapegin commented on #1621
There are many places that could be improved with tooltips:

![image](https://user-images.githubusercontent.com/70067/86486450-994f3500-bd5b-11ea-9eb1-0190e57117d1.png)

![image](https://user-images.githubusercontent.com/70067/86486505-b97ef400-bd5b-11ea-99dd-7f0a8f208cd0.png)

[2020-07-05 06:41] #1572 closed

[2020-07-05 13:21] EmericPP opened #1624 "Compile font face doesn't work with "npm run styleguide:build""
## Issue

I am trying to use font face with reactstyleguidist's build, it works with npm run styleguidist but not when i build with npm run styleguidist:build.

![image](https://user-images.githubusercontent.com/13407565/86533773-cc1c3900-bed3-11ea-9e3d-eed18cd85d3d.png)
Left: with npm run styleguide
Right:  with npm run styleguide:build

## To reproduce with reactstyleguidist issue's repo:

https

[2020-07-08 08:42] Mariodandre opened #1625 "Failed to compile... From basic installation !"
**Current behavior**

Hello

I just followed the basic installation in my preact project :
[](https://react-styleguidist.js.org/docs/getting-started)

My project is a very basic preact project;
I edited the config as mentionned here [](https://react-styleguidist.js.org/docs/cookbook/)
"How to use react styleguidist with preact ?"

But... It does not work. I have dozens of lines like "module not fo

[2020-07-08 14:22] mitsuruog commented on #1621
here is my design idea.
to solve the un-discoverable UI, I would like to put an icon next to the property.
what do you think?

<img width="656" alt="スクリーンショット 2020-07-08 23 15 09" src="https://user-images.githubusercontent.com/1703219/86929616-ffc7bf00-c170-11ea-8d67-96090730ca90.png">

[2020-07-08 15:04] sapegin commented on #1621
This looks good!

A couple of comments:

1. I think we don't need an underline anymore, an icon is enough to show that this thing is interactive.
2. The whole thing (text + icon) should be hoverable, otherwise, the hoverable area would be too small and too difficult to use for some folks.

[2020-07-08 15:23] mitsuruog commented on #1621
sounds good!
if we were to implement this tooltip, do you have any preferred libraries? or would you prefer to implement it from scratch?

[2020-07-08 15:26] sapegin commented on #1621
Nope, but I'd prefer a library if it won't bring too many dependencies (like another CSS in JS library ;-) and it must be accessible with a keyboard and a screen reader.

[2020-07-09 20:30] juanca opened #1626 "Documented portal component produces a warning"
Before submitting a new question, make sure you:

- [x] Searched existing [Stack Overflow questions](https://stackoverflow.com/questions/tagged/react-styleguidist).
- [x] Searched opened and closed [GitHub issues](https://github.com/styleguidist/react-styleguidist/issues?utf8=%E2%9C%93&q=is%3Aissue).
- [x] Read [the documentation](https://react-styleguidist.js.org/docs/getting-started).
- [x] Goog

[2020-07-10 23:11] juanca commented on #1626
For posterity's sake:

I ended up wrapping it with a fragment.

[code]

Though, this seems wrong but reasonable for now.

[2020-07-10 23:11] #1626 closed

[2020-07-11 19:11] #1512 closed

[2020-07-12 02:49] elevatebart commented on #1479
This one is not easy since it means changing how the Urls are built.
We need to add to each component/section the calculated url, so that we can share the urls and slugs between sidebar "TableOfContents" and "IsolateButton".

@sapegin, I will try a PR. I hope it can be resolved soon.

[2020-07-12 09:11] Nimish-Prabhakar opened #1628 "Playground Example acting weirdly on scroll."
**Current Behaviour**

* A compass Component which produces different angles on moving the knob

* On scrolling the page a further down, the movement of knob becomes weird
* If i move over the space where the component was previously before scroll, it works fine
* But it doesn’t work when you scroll the page and try to move the knob then.

[zoom_1.mp4.zip](https://github.com/styleguidist/react-sty

[2020-07-13 10:33] #1488 closed

[2020-07-13 18:14] #1584 closed

[2020-07-13 21:32] methodbox opened #1630 "exampleMode settings in styleguide.config.js are ignored"
**Current behavior**

Setting this in styleguide.config.js does't do anything.
[code]
To be fair **styleguide.config.js is extremely poorly documented** so I'm not clear if I'm doing this correctly. This seems to be a fairly **non-standard** way of managing a configuration file (versus your standard `.json` or `*...rc` config file), so I'm not really familiar w/how the syntax is supposed to work.

[2020-07-14 13:56] #1611 closed

[2020-07-14 21:46] #1630 closed

[2020-07-15 20:59] methodbox commented on #1527
Which version did this last work on? I can't seem to find a version I can roll back to where it works. I'm surprised such a big breaking change still hasn't been resolved.

[2020-07-15 21:27] methodbox commented on #1527
So it looks like this is trying to evaluate the code before allowing it to render, rather than just letting you use Markdown directly to show a code snippet.

If your example isn't a fully-formed syntactically-valid piece of code, it throws a syntax error. This seems like unintended behavior.

For example, if I wanted to show this code snippet:

[code]
I would get a syntax error instead.

But if I

[2020-07-17 10:02] huyinglin opened #1638 "Error when configuration of template attribute is function"
When I write the template attribute as function, it will not work. I looked at the relevant source code and found that although he judged whether it was a function, he did not execute the function.

Code is here:
https://github.com/styleguidist/react-styleguidist/blob/967ba9e5bbb0e81092f15fa8bc4dd809e1e367fe/src/scripts/make-webpack-config.ts#L33

[2020-07-18 05:38] #1536 closed

[2020-07-18 05:38] #1574 closed

[2020-07-18 06:00] gargroh commented on #1579
Please bot dont close it 😄

[2020-07-20 05:59] galhavivi commented on #127
We're using Styleguidist on our open source Form library :)
https://yahoo.github.io/jafar/

![image](https://user-images.githubusercontent.com/10723257/87904433-f4c13880-ca66-11ea-88e6-180d2574b5dc.png)

![image](https://user-images.githubusercontent.com/10723257/87904366-d0655c00-ca66-11ea-83fc-ad36ac9b3086.png)

[2020-07-20 17:56] dianaaceves commented on #1618
Great! Thanks for your help. :-)

[2020-07-20 17:56] #1618 closed

[2020-07-20 18:02] dianaaceves commented on #1619
Hi again, nothing about this? If we can't change this behavior, we'll probably have to leave Styleguidist and use another Styleguide for our library, because I'm having to force strange styles to prevent these styles from being applied.
Thanks!

[2020-07-20 21:44] TokaLazy commented on #1256
Same issue for my part

[2020-07-20 22:01] apennell commented on #1622
With the above code, you're explicitly defining a section called "Alert" and creating the nesting. If you don't want separate sections defined (ie, the nesting), then you can remove the `sections: []` part from the config and instead just have `components: './src/components/**/[A-Z]*.js',` to automatically generate a list of all components matching that file structure. This will render a list of a

[2020-07-20 22:08] apennell commented on #1625
Have you tried googling this issue? There are lots of results for different packages that are likely applicable here. It's most likely an issue with your react version/installation/configuration. I recommend removing package-lock.json and re-running `npm install` then try building again. If that doesn't work, you'll need to post your package.json at a bare minimum, as the error output alone isn't

[2020-07-20 22:23] apennell commented on #1619
If I understand correctly, your code is something like:
[code]
[code]
Is that right? If that's the case, it's not an issue with styleguidist, that's how CSS works. An element isn't going to look at its parent's CSS settings if the property is explicitly set on that element. According to the dev tools screenshot you included, you've set `text-align: initial` on `h4`.

If that's not true, can you in

[2020-07-20 22:32] galexandrade commented on #1256
We had to turn off the optimization in the styleguide config's webpack config:
[code]

[2020-07-20 23:47] apennell opened #1639 "Include Context in ReactExample and Wrapper"
I'm not sure if this is a feature request 🚀, bug report 🐛, or support question 🤔! I think I figured out what's going on, what (IMHO) _should_ be happening, and a workaround, but if there's already a way to accomplish this then please let me know.

**The problem**

I would like to be able to access `Context` from my custom `Wrapper`, but when `ReactExample` is rendered, it loses context. As is [not

[2020-07-21 00:58] apennell commented on #1639
Here is what appears to be a _non-working_ replica: https://github.com/apennell/example. I based it on the repo that styleguidist says to use to replicate bugs, but it turned out to be rather old. I tried to get it up to date, with the latest react-styleguidist and the same config as I've been using, but it hits a babel config issue. I replaced babel-core with @babel/core ^7, I get:
[code]
I remov

[2020-07-21 07:37] sapegin commented on #1639
Nope, they say you can define context in the `Wrapper` that will be accessible in your component. We can definitely make this more clear and add some examples — feel free to send a pull request ;-)

Sorry, I haven't read the whole novel, as I understand you want to access the Styleguidist context from the Wrapper component? I think would be a useful feature.

[2020-07-21 18:11] apennell commented on #1639
Sorry for the long issue, wanted to be sure to include the details! Also probably helped me rubber duck my problem/solution a bit 😁

I see what you mean about defining context in the Wrapper and having access to _that_, as opposed to the higher up Styleguidist context that I was hoping for. I'll try to think of a way that this might be stated more explicitly and make a pr if I can.

**The tldr; of

[2020-07-22 06:22] #1479 closed

[2020-07-22 06:38] sapegin commented on #1639
I'm thinking now that this might be not the best solution, because this way you'll have access to Styleguidist internal context, and it would make sense to isolate it from whatever you may want to put there.

https://github.com/styleguidist/react-styleguidist/blob/9b6b6f60051f170dcb7f548fb114420a48a8e1e9/src/client/rsg-components/Context/Context.ts#L4-L10

So maybe we should have a separate contex

[2020-07-22 10:51] allindeveloper opened #1640 "Title Color is Black instead of White after Styleguidist build"
**Current behavior**
Title Color shows White on my local before building

**To reproduce**

After updating the style like so
[code]
and after running `npm run styleguide:build`
The title color was now `black` instead of `white`

**Expected behavior**

The title color supposed to the white after running `npm run styleguide:build`

[2020-07-23 12:10] syd192 commented on #873
升级htmlWebpackPlugin，
`sudo yarn add html-webpack-plugin`
自测升级到"html-webpack-plugin": "^4.3.0"就不报错了

[2020-07-24 12:31] DhruvMehndhiratta commented on #1622
Hey Annie is there any way we can only use sections but don't have nesting where its not required because in some cases I want nesting and in some cases it doesn't required nesting on the same sidebar let me give you an example let say under Form we can have multiple items in nesting like checkbox, radio, textarea but in case of Alert component we don't want any nesting because its single componen

[2020-07-24 18:25] apennell commented on #1622
I think you could do something like:
[code]
That assumes a directory structure like this:
[code]

[2020-07-25 09:33] dianaaceves commented on #1619
Hi, thanks for your response. My problem is not with CSS, I'm a CSS expert 😅.
The problem is when we use the @global to style components as you say in the docs (picture 0). When a tag is included in global styles (picture 1), this tag is included in a large CSS rule with lots of properties (picture 2) that are applied to this element, and the original styles are broken.
Text-align: initial is insi

[2020-07-26 05:51] FezVrasta commented on #1230
....

[2020-07-27 14:52] mitsuruog commented on #1638
@huyinglin
What code did you actually give them?
Could you create a reproducible sample or share a configuration file?

I'm not too familiar with this part of the code tho, but it doesn't seem to be necessary to execute it here, as this `config.template` will be functionally executed later in the plugin.

- https://github.com/styleguidist/mini-html-webpack-plugin#html-minification

[2020-07-28 06:29] andrioid commented on #1535
I got this working this morning after a very frustrating day yesterday. I'm using React App Rewired, so I already have a manual override to the webpack config. I added the following to it and then it started to import .web.ts/.web.js as it should.

[code]

Then I use the `override()` command with Styleguidist like so:
[code]

I hope this helps.

[2020-07-29 07:05] #1578 closed

[2020-07-29 07:05] #1577 closed

[2020-07-31 06:50] #1580 closed

[2020-08-01 08:26] #1502 closed

[2020-08-07 22:14] fagsoft1 commented on #1256
Hey, I fix it like this:
`webpackConfig: {
        devtool: 'eval-source-map',
...
}`

[2020-08-09 22:18] leizhao-coupa commented on #1622
I have the same question. @apennell I tried your suggestion, but it doesn't work. With your code above, it will only show `Form` in ui, it won't show `Alert`.

[2020-08-10 10:00] krutoo commented on #1528
ok, i will change `findAllComponentDefinitions ` thanks

[2020-08-10 10:00] #1528 closed

[2020-08-10 17:44] apennell commented on #1622
@leizhao-coupa Can you please share your directory structure and your config? If the locations of `Alert` matches `'./src/components/**/[A-Z]*.jsx', then it should show at the top level of `Components`. Ah although I did just notice that in the code I pasted, I was only using `.jsx` but I used `.js` in the directory structure examples. If you copied me exactly, you'll need to make sure the file ty

[2020-08-10 18:10] leizhao-coupa commented on #1622
@apennell sure. Thanks for your reply. I've already change the file match to my local, but it's still not working. I am using `tsx`, here's my file structure:

I export the section in another file and use this in `styleguide.config.js`:

Sections:

![sections](https://user-images.githubusercontent.com/55112170/89814528-207c8f00-daf8-11ea-82ec-4e7d85593222.png)

Here's my file structure:

![src](ht

[2020-08-13 13:45] jasonwilliams opened #1659 "Update Buble to v20"
buble v0.20 has less dependencies than v0.19.
I was getting warnings from old deps that Buble was bringing in but they've been removed in v20.

https://github.com/bublejs/buble/blob/master/CHANGELOG.md#0200-2020-03-26

[2020-08-13 13:56] rlesniak opened #1660 "Optional Chaining and null coalescing not working"
**Current behavior**
Latest version of Styleguide uses Babel v.7.9.0. Since of v7.8.0 babel supports optional chaining (https://babeljs.io/blog/2020/01/11/7.8.0) but when I use it `obj?.prop` in styleguide environment app doesnt start and throws error

[code]

**To reproduce**

https://github.com/rlesniak/example/commit/8fdeeac2b22bda85cdd28fffb8c745c07aeda766

**Expected behavior**

Should work w

[2020-08-13 18:54] juanca opened #1661 "Para components should use `theme.fontSize.base` or `theme.fontSize.text`"
**Current behavior**

When stylegudist is configured to use a font size for base and/or text to be anything other than 16px, the paragraph content generated from markdown does not use the specified font size.

Question: Is a markdown paragraph considered to be either `base` or `text`? I am assuming it should be `text` at the very least.

**To reproduce**

1. Config:

[code]

1. Some markdown file:

[2020-08-13 18:56] juanca commented on #1661
At the moment, my solution is to duplicate the theme as a direct style to the Para component. Something like:

[code]

[2020-08-13 21:54] emeeks opened #1662 "Yarn add react-styleguidist does not install /lib/client/rsg-components/"
It's just missing from the directory. If I copy it from the repo and add it, it runs fine. I haven't changed anything having to do with styleguidist at all.

[2020-08-14 07:39] Aaditya-Sahay opened #1663 "security vulnerability in serialise-javascript in < v3.1.0 used by copy-webpack-plugin v5.1.0"
The package serialise-javascript has seen a new security advisory, which requires libraries using it to update to a version beyond v3.1.0.
You can find the advisory here: https://github.com/advisories/GHSA-hxcc-f52p-wc94

react-styleguidist depends upon copy-webpack-plugin versions ^5.1.0, which in turn depends upon an older version of serialise-javascript, namely v2.12.0.
This can be fixed by cha

[2020-08-14 07:44] Aaditya-Sahay commented on #1663
Nevermind, just noticed that this PR fixes it: https://github.com/styleguidist/react-styleguidist/pull/1658

[2020-08-14 12:51] MoltenCoffee commented on #1660
I believe this is an issue with React-docgen, [as seen here](https://github.com/reactjs/react-docgen/issues/463).
The[ workaround suggested there](https://github.com/reactjs/react-docgen/issues/463#issuecomment-668150783) (by @mjhenkes ) is to use specific versions of @babel/core and @babel/parser, but that hardly seems like a proper resolution, especially when using styleguidist..

[2020-08-14 13:16] mjhenkes commented on #1660
+1 My work around is not great.

[2020-08-14 19:12] liniquerntconsult opened #1664 "Wrong assets path on build"
Hi, I'm facing an issue. On dev the assets are working great but when I run the build the path of assets is wrong.

the final path is: build/styleguide/static/css/static/media/ico_error.7083826e.svg

build should be build/styleguide/static/media/ico_error.7083826e.svg

This error is occurring on all my assets, icons, and fonts.

[2020-08-15 06:28] switchingkeyboards commented on #1662
Same problem when installing with yarn.

[2020-08-16 08:03] #1587 closed

[2020-08-17 10:36] maclejean commented on #445
Documenting pure function and util js  is necessary,please

[2020-08-17 19:07] EmilyRagan commented on #1469
@mitsuruog Just so you know, this no longer seems to be an issue. I was able to set default props to a number without editing the config or anything else 😄

[2020-08-19 07:05] #1589 closed

[2020-08-20 06:25] tkforce opened #1666 "Not able to extract comments/proptypes out of functional component (class-based is fine)"
**Current behavior**
I'm using CRA with react-scripts@3.4.0 along with react-styleguidist@11.0.8 (react-docgen@5.3.0),
It all works find when I used class-based components, but when I switch to function-based implementation,
comments and proptypes will not be included in the style guide site.
In the console log it says

I try to run react-docgen directly:
` npx react-docgen src/components/presenta

[2020-08-20 07:29] lyz810 opened #1667 "Warning in ArgumentRenderer"
**Current behavior**

Version: ^11.0.8
Report warning when document has a public method in class
[code]

Since v10.3.0, it started to use tsx, and name props in ArgumentRenderer became a required prop:
https://github.com/styleguidist/react-styleguidist/blob/master/src/client/rsg-components/Argument/ArgumentRenderer.tsx#L18
However, the `@returns` param don't have a `name` props

**To reproduce**

[2020-08-21 02:16] kopax opened #1668 "[Bug] "Right Click + Translate to français" => break the documentation and crash"
**Current behavior**

In Google Chrome, I am translating the page with `Right + Click` + `Translate to français`, navigating with the left menu will cause fatal error and break the UI.

![image](https://user-images.githubusercontent.com/1866564/90844818-13b43280-e365-11ea-8dcd-ddda9f36ab07.png)

[code]

**To reproduce**

Translate any styleguide to a different language and click on multiple link u

[2020-08-23 17:21] dhavalsingh commented on #1613
Is anyone working on this? Can i take a shot at it?

[2020-08-24 07:01] sapegin commented on #1668
Works fine for me ;-/ One thing that might be related and worth fixing anyway is missing `lang` on `<html>`.

[2020-08-24 07:02] sapegin commented on #1667
Feel free to send a pull request with a fix! 👾

[2020-08-24 07:03] sapegin commented on #1663
The pull request is merged.

[2020-08-24 07:03] #1663 closed

[2020-08-24 07:09] sapegin commented on #1662
[code]

[2020-08-24 07:09] #1662 closed

[2020-08-24 07:16] sapegin commented on #1661
I think it has `inherit` because it's used in `Props` where it should be smaller, and I think it shouldn't be used here:

https://github.com/styleguidist/react-styleguidist/blob/53bc4bb357133e2208ca28e5181b44306fdc4e3d/src/client/rsg-components/Props/PropsRenderer.tsx#L24

And the `text` would be the correct size.

Feel free to send a pull request with a fix! 👾

[2020-08-24 07:18] sapegin commented on #1659
Feel free to send a pull request with a fix! 👾

[2020-08-24 07:20] sapegin commented on #1660
We only use Babel to compile Styleguidist code, if you see any warning like this, they are coming from your project.

[2020-08-24 07:20] #1660 closed

[2020-08-24 07:43] MoltenCoffee commented on #1660
I believe this is not completely true, as it's Babel/ast-types as used by React-docgen. Which still perhaps does not make it an issue with styleguidist necessarily, as it has been present [in issues with storybook](https://github.com/storybookjs/storybook/issues/11883) as well.

However, I do think this is still an issue and shouldn't be closed, but the only fix is [for this issue in ast-types](ht

[2020-08-24 11:59] ThomasRoest opened #1669 "defining custom component names with @visibleName broken?"
**Current behavior**

Adding a custom name does not seem to work anymore

**To reproduce**

[code]

https://react-styleguidist.js.org/docs/documenting#defining-custom-component-names

[2020-08-24 14:47] emeeks commented on #1662
I'm sorry the title cut off the critical feature, it is installing `rsg-components` it is not installing `rsg-components/Examples` can you please take a look at that?

[2020-08-24 15:04] sapegin commented on #1662
That's why the issues template asks you to provide reproduction instructions.

[2020-08-24 15:07] sapegin commented on #1669
Seems to work: https://react-styleguidist.js.org/examples/basic/#pushbutton

[2020-08-24 15:10] #1621 closed

[2020-08-24 15:25] emeeks commented on #1662
Sorry about that, I should have written in more detail in the original issue.

That's weird, I don't have the entire `Examples` directory nor does anyone on my team when they run yarn on the app where we're using styleguidist. If I copy it over from the original `src` from the repo, it works fine. Obviously you can't reproduce it, but do you have any ideas on what else I could look at?

[2020-08-25 07:04] ThomasRoest commented on #1669
was an issue in react-docgen-typescript https://github.com/styleguidist/react-docgen-typescript/issues/287

[2020-08-25 07:04] #1669 closed

[2020-08-25 07:07] #1659 closed

[2020-08-26 20:24] hugotox commented on #1541
Any updates here? I'm seeing a similar issue when trying to document components that use optional chaining:
[code]
The erroring line is the nullish coalescing char, e.g.
[code]

[2020-08-27 03:22] hugotox commented on #1343
Hello! What's the way to document components that use hooks? I'm getting the `Invalid hook call` error mentioned in the OP

[2020-08-27 09:10] carlosruana commented on #1613
Duplicate of #1658 terser-webpack-plugin has already been updated to ^4.1.0

[2020-08-27 10:02] juxhinNM commented on #1234
Any update?

[2020-08-27 10:11] #1613 closed

[2020-08-27 21:21] laytong commented on #445
I have a workaround i'm using for now, but would prefer it auto picked up my hooks in the same way it does components

in my config I added
[code]
And then co-located an *.examples.md file with examples that just import and use the hook
[code]

[2020-08-28 05:43] dianaaceves commented on #1619
Hi! Can you tell me something about this? Thank you very much.

[2020-08-28 11:32] sombreroEnPuntas commented on #1401
Issue still happening :o

[2020-08-28 12:43] mitsuruog commented on #1640
hmm... works fine for me.

![VGG-UI-UX-TOOLKIT-DOCUMENTATION](https://user-images.githubusercontent.com/1703219/91561962-5d110d00-e977-11ea-9c2d-860378772af4.png)

Version: 11.0.8

[2020-08-29 21:18] leizhao-coupa commented on #1622
Do we have any updates here?

[2020-08-30 23:33] #1597 closed

[2020-08-31 10:04] Mioleris opened #1672 "Is there ability to change side panel navigation color ?"
Hi, is there ability to change background color of navigation side panel ?
Tried this but with no luck. Only code tag changes color.
[code]

[2020-08-31 10:25] mitsuruog commented on #1672
![React-Styleguidist-Style-Guide](https://user-images.githubusercontent.com/1703219/91710535-6096d500-ebbf-11ea-8a56-ecaaad3834fe.png)

@Mioleris Close! the Sidebar is not an isolated component. please try this.

[code]

[2020-08-31 20:39] kybradeck opened #1673 "Cutting a release"
Hey team!

I'm wondering what the release process is like for getting react-styleguidist updated on npm? It looks like a release hasn't been made [since May 27](https://github.com/styleguidist/react-styleguidist/releases), and my team is waiting on a [vulnerability fix](https://github.com/styleguidist/react-styleguidist/pull/1658) that's been preventing us from using Styleguidist.

[2020-09-01 07:27] Mioleris commented on #1672
@mitsuruog thank you!
It worked 👍

[2020-09-01 20:52] josephrexme opened #1674 "initialOpen as an option in sections from the config"
**The problem**
It will be great if the `initialOpen` option [on this line](https://github.com/styleguidist/react-styleguidist/blob/9b6b6f60051f170dcb7f548fb114420a48a8e1e9/src/client/rsg-components/TableOfContents/TableOfContents.tsx#L69) is allowed to be passed from the styleguide.config with each section similar to `sectionDepth`.

As I was going to make a PR, I had thought simply removing it f

[2020-09-02 07:06] sapegin commented on #1673
I think we need to tweak semantic-release setting because it doesn't think there's anything to publish 🤷

https://travis-ci.org/github/styleguidist/react-styleguidist/jobs/720900870

1. Remove this line:

https://github.com/styleguidist/react-styleguidist/blob/be90f3aa688e5d9f188686c7261d964157a338b6/.travis.yml#L68

2. Remove the config:

https://github.com/styleguidist/react-styleguidist/blob/ma

[2020-09-02 09:31] #1673 closed

[2020-09-03 06:25] mac89 commented on #1592
Did you find a solution for this? Having the same issue.

[2020-09-03 08:45] stufisher opened #1676 "assetsDir broken in 11.0.9 with create-react-app"
**Current behavior**

After updating to 11.0.9 it is no longer possible to build the styleguide if using assetsDir (which invokes the webpack copy plugin)

**To reproduce**

`styleguideist build`

[code]
If i remove
`assetsDir: 'src/assets/images/',`

Then all builds as normal. I noticed webpack copy plugin has been updated to 6.0.x, downgrading this alone to 5.x.x does not fix the issue.

Downgra

[2020-09-03 13:14] sapegin commented on #1676
That's weird that downgrading back doesn't help. Is it possible that it's still cached and you still have the new version?

Mind checking [changelog](https://github.com/webpack-contrib/copy-webpack-plugin/releases/tag/v6.0.0) to see if we need to upgrade any configuration? A pull request would be awesome 👾

[2020-09-05 15:39] asdeev commented on #1592
Hi @mac89 , it was an issue with my Webpack config file. It seemed there was some process in there which did not play nicely with Styleguidist. I just added a webpackConfig field to my styleguidist.config.js file instead with the following:

`  webpackConfig: {
    module: {
      rules: [
        // Babel loader will use your project’s babel.config.js
        {
          test: /\.(js|ts|jsx|tsx)$

[2020-09-07 09:59] #1667 closed

[2020-09-07 14:19] #1600 closed

[2020-09-07 20:23] josephrexme commented on #1674
Made a PR at #1689

[2020-09-08 02:52] lefreet commented on #1676
@sapegin it's a broken update in [copy-webpack-plugin](https://github.com/webpack-contrib/copy-webpack-plugin/releases/tag/v6.0.0), but not update with [make-webpack-config](https://github.com/styleguidist/react-styleguidist/blob/382e3ade4f59762f3f4c828d37124ba6dcf1e9b3/src/scripts/make-webpack-config.ts#L112)

[2020-09-08 02:56] lefreet commented on #1676
see with https://github.com/styleguidist/react-styleguidist/commit/53bc4bb357133e2208ca28e5181b44306fdc4e3d

[2020-09-08 03:37] swashata commented on #1676
I would like to take a crack at this, if anyone else is not already working.

[2020-09-08 04:47] swashata commented on #1676
Pull Request #1690 is ready. I have also tested it with linking to my local project and it works fine. @sapegin kindly review at your convenience.

[2020-09-08 06:06] #1676 closed

[2020-09-09 06:18] johanbook opened #1691 "Turn on/off darkmode globally"
I would like to be able to switch between lightmode and darkmode globally for my custom styleguide components and render components. Is this possible to accomplish?

As of now, I have a wrapper for my components and I toggle the theme in the `StyleGuideRendered` component. I want to somehow be able to fetch if darkmode is enabled or not in the wrapper.

Grateful for help

[2020-09-09 08:32] johanbook opened #1692 "Customize markdown styling"
How should one go about inserting custom styling markdown elements? Such as the components

[code]

Overriding these in `styleguideComponents` in `styleguide.config.js` does not seem to have any effect

[2020-09-09 10:50] johanbook commented on #1692
Seems this can be accomplished using
[code]

[2020-09-09 12:05] #1674 closed

[2020-09-09 12:10] johanbook commented on #1378
I am also interested in this. Is there some solution without editing `node_modules` or forking it?

[2020-09-10 06:59] johanbook commented on #1692
In the end I replaced the whole markdown renderer with [react-markdown](https://www.npmjs.com/package/react-markdown) as I found that easier to work with

[2020-09-13 05:38] #1590 closed

[2020-09-14 21:04] stonebk opened #1693 "Add support for JSDoc @default"
It would be nice to be able to define the props table default value using the JSDoc `@default` or `@defaultvalue` tag:
https://jsdoc.app/tags-default.html

[2020-09-16 05:49] sapegin commented on #1693
What's the use case in comparison to showing the actual default value?

[2020-09-16 11:15] ThomasRoest opened #1694 "using @visibleName with spaces does not work"
**Current behavior**

using @visibleName with spaces results in the following error `SyntaxError: Missing initializer in const declaration`

**To reproduce**

[code]

related #1675

[2020-09-16 16:08] stonebk commented on #1693
A couple use cases:

1. If you are using functional components with ES6 [default parameters](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Default_parameters) instead of React's defaultProps (defaultProps will [eventually by deprecated](https://twitter.com/dan_abramov/status/1133878326358171650)).
2. We sometimes leave the defaultProp as undefined and instead set the

[2020-09-16 16:21] sapegin commented on #1693
1. Long term this should be handled by react-docgen, otherwise, you're duplication the values.

2. This again results in the duplication, but I don't know your reasons for doing this.

Anyway, feel free to send a pull request.

[2020-09-19 15:24] josephrexme opened #1695 "@keyframes fail to work with rsg-components/Styled"
When I try to use a @keyframe animation following this [cookbook example](https://github.com/styleguidist/react-styleguidist/blob/e662394aea164c78f11408cddca4bcfba2998cc2/docs/Cookbook.md#how-to-change-styles-of-a-style-guide), I get:

[code]
At first I tried to do this in the component I was overriding and got that error, then I tried to do it from the style section of the configuration and got t

[2020-09-20 11:22] Xiphe commented on #1525
I still find this mission-critical and am disappointed that no maintainer responded to this

[2020-09-20 11:26] Xiphe commented on #1525
🧙‍♀️ Summoning @sapegin @n1313 @mitsuruog

[2020-09-21 06:59] sapegin commented on #1525
If this is mission-critical _for you_, open a pull request. But talking to maintainers like they owe you something isn't going to work.

[2020-09-21 07:03] sapegin commented on #1694
Feel free to send a pull request with a fix 👾

[2020-09-21 07:03] sapegin commented on #1695
Feel free to send a pull request with a fix 👾

[2020-09-21 12:49] josephrexme commented on #1695
I figured out a solution to this and it seem this might not be a bug afterall (as far as react-styleguidist) but just something that needs updated documentation. I had created [this codesandbox](https://codesandbox.io/s/rough-fire-ytjwp?file=/src/App.js:359-371) to reproduce the issue with JSS and the 2 things I learned from doing that are:

1) From JSS 10.0.0 (what react-styleguidist is on as of

[2020-09-23 15:56] hugotox commented on #1334
any luck with this? I have the same issue and `skipComponentsWithoutExample` did not work when using a glob to search for components

[2020-09-24 05:55] #1695 closed

[2020-09-30 18:43] senadglojnaric commented on #1661
Hello, I would like to be assigned to this issue.

[2020-10-01 07:53] sapegin commented on #1661
@senadglojnaric sure, go for it! 👍

[2020-10-02 15:19] mitsuruog commented on #1694
![React-Styleguidist-Example-Basic-Style-Guide](https://user-images.githubusercontent.com/1703219/94939089-9b689180-050c-11eb-81c1-b9901e91252c.png)

I can't reproduce it.

@ThomasRoest
could you make a minimum reproducible sample? I need more info.

- https://codesandbox.io/s/github/mitsuruog/react-styleguidist-issue-template

[2020-10-02 18:42] senadglojnaric commented on #1661
I have a question about testing. I ran a test on my clone repo without changing anything in the code. Like an initial test.
And it failed.

Here's my debug log file:

0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'lint'

[2020-10-02 19:42] apennell commented on #1639
After resolving this with my own work-around, I'm back and looking at how I might be able to provide this feature for the library. However, I'm not sure how to extend my solution for general use. I made a `PreviewWrapper` component that basically copied `Preview` and checks for an update to my specific context string (`context.brand`) in `componentDidUpdate`, otherwise `executeCode` isn't run and

[2020-10-02 19:59] apennell commented on #1661
@senadglojnaric It looks like what's happening is there's a lint issue. If you run `npm run lint`, does that show you specific lint errors instead of just erroring out like above?

[2020-10-02 20:51] senadglojnaric commented on #1661
Hello, first of all, thanks for helping me!
I ran `npm run lint` without any errors. Then after that, I ran `npm test` and at the end the test ended with errors suggested that I run `npm run test:jest -- -u`.

After that I get this message to the console:

Test Suites: 6 failed, 114 passed, 120 total
Tests:       22 failed, 599 passed, 621 total
Snapshots:   205 passed, 205 total
Time:        41.0

[2020-10-02 22:33] senadglojnaric commented on #1661
I went through all the test output that has failed. It seems that they all have one thing in common. They check filename paths.
I'm using Windows and paths in tests use Unix convention. I guess, there is a difference between how path separators are formatted ( \ or / ).

[2020-10-02 22:53] apennell commented on #1661
Oh good find! Are you able to resolve your issue then?

[2020-10-02 23:10] senadglojnaric commented on #1661
I think so. I'm going to ignore failing tests for now. Windows and Linux both read forwardslash and backslash in filepaths. But in the tests, they are compared as strings.

Anyway, I'm going to send pull request ignoring these tests.

[2020-10-05 07:58] sapegin commented on #1639
I think this is a great idea! 🦄

[2020-10-06 01:56] apennell commented on #1639
Great! Hopefully I can find time to quickly learn TypeScript and add this in 😁

[2020-10-07 15:03] tomas-hartman opened #1699 "Unability to document methods of functional component"
**Current behavior**

With functional component, I am unable to generate documentation for inner methods. There is, on the other hand, the possibility to do so with class components.

**To reproduce**

1. class component example & [result](https://user-images.githubusercontent.com/44980733/95348586-7aae8c00-08be-11eb-9648-5c86c7627d32.png):

[code]

2. functional component example & [result](https

[2020-10-08 00:14] agentlewis commented on #1639
+1 this - was exactly what I was trying to work out how to do

[2020-10-08 07:21] sapegin commented on #1699
These methods aren't accessible outside of the component (when the class public methods are), so they aren't the component's public API. It doesn't make sense to generate documentation for methods component consumers can't access.

[2020-10-08 07:21] #1699 closed

[2020-10-08 07:35] agentlewis commented on #1639
@apennell This is basically identical to the hack I was looking at how to implement when I found this issue. This also feels like a well defined scope. 👍 looking forward to seeing your code - if you want any help I'm happy to lend a hand, I just pulled down the rsg repo. Theres lots there but it feels easy to navigate and work things out.

[2020-10-11 11:26] #1624 closed

[2020-10-11 11:26] #1620 closed

[2020-10-12 15:23] tomas-hartman opened #1701 ""Show source code" button"
**The problem**

There is no easy way to quickly display components' source code out of the box and when the styleguidist is set up to do so, it's impossible to collapse the code. Therefore, trying to link the source code to a component is a very frustrating job. (If there is any easy solution - especially to collapse the code, let me know, I haven't found any.)

**Proposed solution**

Parser that

[2020-10-12 15:35] tomas-hartman commented on #1701
Also this post https://stackoverflow.com/questions/59264060/how-can-i-show-external-file-in-a-view-code-block addresses the same problem. When `settings.static` is ommited from the [Styleguidist's example code](https://react-styleguidist.js.org/docs/cookbook/#how-to-display-the-source-code-of-any-file), it shows "View Code" button correctly, but results in incorrectly evaluated code like in this s

[2020-10-14 14:28] sapegin commented on #1701
I guess you could use `<details>` for that.

https://raw.githubusercontent.com/component-driven/component-driven-development/master/src/exercises/1-Introduction/Readme.md

[2020-10-17 21:37] craigkovatch commented on #1527
Bump

[2020-10-18 14:28] gargroh commented on #1579
Please bot please don't close it 😄, this may turn into requirement.

[2020-10-19 10:06] alexcanessa opened #1702 "Links don't work anymore for `pagePerSection`"
**Current behavior**

Since `11.0.9` (I suspect [because of this PR](https://github.com/styleguidist/react-styleguidist/pull/1627)), when clicking on any component (with `pagePerSection: true`) the routing goes to `#/-?id=ComponentName`.

**To reproduce**

1. Configure styleguidist to have `pagePerSection: true`
2. Click on any component.
3. The link will resolve to a `Page Not Found`.

**Expected

[2020-10-19 12:07] mitsuruog commented on #1702
@alexcanessa Would you create a code sandbox?

https://codesandbox.io/s/github/mitsuruog/react-styleguidist-issue-template

[2020-10-21 08:20] #750 closed

[2020-10-21 08:22] sapegin commented on #462
The pull request is here!

https://github.com/styleguidist/react-styleguidist/pull/1700

[2020-10-21 15:15] tomas-hartman commented on #1701
I've finally tried it and it is actually a very interesting solution. I'd still like to have something more "built in", but this is definitely useful. I'd suggest adding this tip to `Cookbook`.

[2020-10-22 04:21] #1628 closed

[2020-10-22 15:10] alexcanessa commented on #1702
@mitsuruog sure:

https://codesandbox.io/s/small-hill-fg8yr?file=/styleguide.config.js

[2020-10-23 07:06] #879 closed

[2020-10-23 07:12] #1668 closed

[2020-10-23 16:08] jasonwilliams opened #1703 "Support for Webpack v5"
Is there any plan to add support for Webpack v5?
I get this deprecation warning for `styleguidist server`

[code]

this is ok it does eventually run.

the biggest problem is build, that completely fails.
`styleguidist build`

[code]

- Webpack Version: v5.2.0
- react-styleguidist version: v11.1.0

**To reproduce**

Update to webpack v5 and try building with Styleguidist

[2020-10-25 01:46] FezVrasta commented on #1230
Don't close this issue. This is an automatic message by [Fresh](https://github.com/c-hive/fresh) - a bot against stale bots.

[2020-10-27 03:12] lyz810 opened #1704 "did not recognize object of type "ChainExpression""
**Current behavior**
print warning message "did not recognize object of type "ChainExpression"" and can't show props & methods module in the demo page.

**To reproduce**
https://github.com/reactjs/react-docgen/issues/463

High version babel and low version ast-types cause this problem
react-docgen update ast-types to ^0.14.2 to resolve this problem
but react-styleguidist still use ast-types ~0.13.

[2020-10-27 15:07] varoot opened #1705 "Dev server crashes with react-scripts v4"
**Current behavior**

When running `styleguidist server` with `react-scripts` 4.0.0 and open in the browser, the server crashes with "Error: Already listening" message.

**To reproduce**
1. Create a new project with latest CRA: `yarn create react-app test`
2. Install Styleguidist `yarn add -D react-styleguidist`
3. Run dev server and open the browser `yarn styleguidist server --open`

Demo reposit

[2020-10-28 06:59] sapegin commented on #1704
I've updated ast-types in #1700 but feel free to send a pull request if you want it sooner.

[2020-10-28 07:01] sapegin commented on #1703
Feel free to send a pull request with a fix! However, we'll have to support webpack 4 and 5 for some time.

[2020-10-29 16:13] rpeach commented on #1705
Seems to be caused by the fast refresh changes in `react-scripts/config/webpack.config.js`

You can temporarily work around the error by setting an environment variable `FAST_REFRESH=false`

Something like this
[code]

[2020-10-30 00:27] krsnaa commented on #1705
Alternatively, just include it in your package.json:

`"scripts": {
   "styleguide": "FAST_REFRESH=false styleguidist server"
}
`

[2020-10-30 06:18] dujingya commented on #294
configureWebpack: {
        plugins: [
            new CompressionWebpackPlugin({
                filename: '[path][base].gz',
                algorithm: "gzip",
                test: new RegExp("\\.(" + productionGzipExtensions.join("|") + ")$"), //匹配文件名
                threshold: 10240, //对10K以上的数据进行压缩
                minRatio: 0.8,
                deleteOriginalAssets: false //是否删除源文件

[2020-10-30 12:20] aniketkolekar-ms commented on #1705
**FAST_REFRESH=false** : Does this mean the app will not reload on changes?

[2020-10-30 13:17] aniketkolekar-ms commented on #1705
Temporary Fix:

1. Install cross-env : `npm install --save-dev cross-env`
2. Update script in package.json : `"scripts": { "styleguide": "cross-env FAST_REFRESH=false styleguidist server" }`
3. Run : `npm run styleguide`

This worked for me. Auto-refresh working fine.

[2020-10-30 14:45] Wawrzyn321 opened #1706 "[CVE-2020-7753] Update remark to 13.0.0"
I was tasked with resolving [a vulnerability coming from `trim` package](https://snyk.io/vuln/SNYK-JS-TRIM-1017038). Dependency chain is as follows: `trim` <- `remark-parse` <- `remark` <- `react-styleguidist`<- our repo.

`remark-parse` in version 9.0.0 [removes the `trim` completely](https://github.com/remarkjs/remark/commit/6b42465526bb15f70d98a0ea0daccea01ffb8004#diff-0828111e0233dec7891d8f0d6

[2020-10-30 18:46] jasonwilliams commented on #1703
https://github.com/styleguidist/react-styleguidist/pull/1707 will help

[2020-10-30 19:31] jasonwilliams commented on #1703
Doctrine will also need to be replaced with another JS Doc parser, currently doctrine tries to use `assert` which doesn't play nice when running in the browser. WP4 polyfilled it but 5 moans

[2020-10-31 04:10] #1625 closed

[2020-10-31 07:40] garg10may commented on #1188
Was this resolved? It's still not working

[2020-10-31 15:40] jasonwilliams opened #1708 "Replace doctrine with another JSDoc parser"
As part of the [Webpack 5 investigation](https://github.com/styleguidist/react-styleguidist/pull/1707) it was discovered doctrine uses some node modules which WP5 no longer polyfills by default. [Doctrine](https://github.com/eslint/doctrine) itself is end of life and no longer supported. It would be good for styleguidist to move off it permanently and replace it with another solution.

[2020-11-01 16:47] #1638 closed

[2020-11-02 10:44] poteirard commented on #1708
I guess [jsdoctypeparser](https://github.com/jsdoctypeparser/jsdoctypeparser) would be a good alternative? or maybe  https://swc.rs/rustdoc/jsdoc/ would be good for performance?

[2020-11-02 11:27] jasonwilliams commented on #1708
@poteirard it could be yeah. Best way is to look at what doctrine is doing and seeing if the same can be done with another parser. The swc one looks like a rust module, is that on npm?

[2020-11-02 11:35] sasfwq123 commented on #1243
I got the same error. Nothing helps

[2020-11-03 07:19] sapegin commented on #1708
Looks like it's also [used by react-docgen](https://github.com/reactjs/react-docgen/search?q=doctrine) so replacing it in Styleguidist won't solve the problems with webpack 5? It's still a good idea to replace it though.

Looks like jsdoctypeparser does only half of the job: it parses the types (`String[]`) but we also need to find JSDoc declarations inside comments in the source code.

[2020-11-03 07:20] sapegin commented on #1706
Feel free to send a pull request with an update 👾

[2020-11-04 03:16] smaragdinesapphire opened #1709 "Use backslash to escape multiple markdown sign will display incorrect."
**Current behavior**

At JSCode at jsx file or md file, it will display incorrect if use multiple backslash to escape multiple  underscore at a variable.

**To reproduce**

At Jsx file:
[code]
At md file
[code]
Both **result** at react-styleguidist:
[code]

**Expected behavior**

[code]

[2020-11-04 08:15] sapegin commented on #1709
Feel free to send a pull request with a fix 🐛

[2020-11-04 09:07] smaragdinesapphire commented on #1709
Here's the [sample](https://github.com/smaragdinesapphire/react-styleguidiest-issue).

[2020-11-05 08:01] Dagniele commented on #1702
I confirm to have the same problem

[2020-11-05 12:58] mitsuruog commented on #1702
This seems to be due to the fact that `pagePerSection: true` is set but `sections` is not in the config.
A simple workaround is to move your `components` into the `sections` for now.

[code]

[2020-11-05 13:58] Dagniele commented on #1702
It works with the solution proposed by @mitsuruog
Thanks

[2020-11-05 20:57] poteirard commented on #1706
PR created

[2020-11-06 11:55] mitsuruog commented on #1702
@sapegin
If `pagePerSection: true` is set, I think we need to make an error while checking the configuration file scheme when `sections` are required.
What do you think?