[2017-08-24 03:06] n1313 commented on #591
I bet you need to require the font file itself, too.

By the way, if your components depend on font-awesome, shouldn't it be the dependency of your package and be required from your components?

[2017-08-24 07:15] sapegin commented on #591
Please use fenced blocks with language tags (for example ```` ```js````) to make code examples more readable.

[2017-08-24 07:19] sapegin commented on #590
If you do branching inside `webpack.config.js` by using `NODE_ENV` you’ll simplify everything:

* You could rely on the default config path in `webpack`, `webpack-dev-server` and Styleguidist.
* Have one style guide config without `webpackConfig` option.

You’ll only need to pass `NODE_ENV` when you run webpack from npm scripts:

[code]

[2017-08-24 07:22] sapegin commented on #590
And [webpack-blocks](https://github.com/andywer/webpack-blocks/tree/release/1.0) could make it even simpler ;-)

[2017-08-24 08:18] tzapu commented on #464
i may be missing something, so sorry about that, but isn't this what you are looking for?
https://github.com/styleguidist/snapguidist

[2017-08-24 08:21] sapegin commented on #464
@tzapu Snapguidist doesn’t do *visual* snapshots.

[2017-08-24 08:23] tzapu commented on #464
thans, was missing something as i was saying :D

[2017-08-24 10:27] KatGr opened #592 "Question: Only find/use components listed in index.js?"
Hello,

I have a problem/question:
All of our packages have one index.js in the root directory with all needed exports available from the outside.
Now it would be cool to make styleguidist only find/use the components described inside index.
But as soon as I use index.js as component path, every single file will be used (for example sql-files).
I tried to use skipComponentsWithoutExample: true but

[2017-08-24 11:39] Jack-Barry commented on #590
@sapegin Thanks for the tip!  I'll try to get this working today and post the simplified version.

Is it obvious yet that I'm new to Webpack? 😝

[2017-08-24 12:03] sapegin commented on #592
I’m not sure I correctly understand your setup (an example would help) but looks like you need to parse / require your index.js, see what it imports and generate a list of file you could pass to `components` option.

[2017-08-24 12:04] sapegin commented on #590
@Jack-Barry Everyone is new to webpack except Tobias Koppers ;-)

[2017-08-24 15:19] dbertella opened #593 "Is there any recommended method to include google font in the style guide?"
I want to load a google font into my style guide app, I don't want to bundle it inside the component css because later on I will add a link in the index.html.

Is there a way to include the `<link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">` in the index.html of the builded version of styleguidist?

What I'm doing at the moment is including some css via the config:

[2017-08-24 15:48] sapegin commented on #593
With a custom HTML [template](https://react-styleguidist.js.org/docs/configuration#template).

[2017-08-24 15:58] dbertella commented on #593
Thanks that works perfectly, I've missed it!

[2017-08-24 15:58] #593 closed

[2017-08-24 16:42] dbertella commented on #591
You can use an html template and include the link in the html as I was asking in another issue (#593) or as I did previously, include the whole css, I was using the scss version and include it as you are doing into the `require`. If you are doing that, and use the scss version use this variable `$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default; // for referencing

[2017-08-24 20:22] Jack-Barry commented on #590
Haha true! So I got a chance to give `webpack-blocks` a try, and what a treat!  This config is super clean now ✨

`config/webpack.js`

[code]

`config/styleguide.js`

[code]

Still needed the `webpackConfig` because of how I structured the project - all config files go into a config folder and no longer need the `.config` delimiter.  (I also renamed the source folder `app` - since that's where the

[2017-08-24 20:43] SaraVieira commented on #576
@sapegin Can you give me an exaample code to make this happen , I can't reproduce

[2017-08-24 21:16] stepancar commented on #576
@SaraVieira create example with noeditor option
[code]

[2017-08-24 21:18] stepancar commented on #576
![image](https://user-images.githubusercontent.com/2854910/29689163-dedab4fe-892a-11e7-89b9-90bbece77d30.png)

[2017-08-24 21:26] SaraVieira commented on #576
@stepancar Nevermind , I was making the errors in the js :(

[2017-08-28 19:51] besrabasant opened #594 "Removing "Add Examples to this Component" link"
How do I remove _Add examples to this component_ link that is below each components documentation. If I do not need to show examples for any component.

[2017-08-28 19:56] SaraVieira commented on #594
Hello @besrabasant ,

You can hide it using the styles:
https://react-styleguidist.js.org/docs/cookbook.html#how-to-change-styles-of-a-style-guide
https://react-styleguidist.js.org/docs/configuration.html#styles

You can also change the layout if you want:
https://react-styleguidist.js.org/docs/cookbook.html#how-to-change-the-layout-of-a-style-guide

[2017-08-28 20:02] sapegin commented on #594
You won’t see it production build so there’s no need to hide it.

[2017-08-28 20:02] #594 closed

[2017-08-28 20:03] besrabasant commented on #594
okkk

[2017-08-28 20:23] sapegin commented on #594
@besrabasant “guys” may be insensitive, consider using “people” or “folks” next time.

[2017-08-29 06:32] besrabasant commented on #594
sure... and sorry for that @sapegin

[2017-08-29 06:48] sapegin commented on #594
@besrabasant Thanks! 🍕

[2017-08-29 14:10] #470 closed

[2017-08-29 14:13] sapegin commented on #567
Closing this for now. Feel free to reopen if you still have this issue.

[2017-08-29 14:13] #567 closed

[2017-08-29 14:14] sapegin commented on #473
There’s even better candidate: https://github.com/GoogleChrome/puppeteer

[2017-08-29 14:18] sapegin commented on #514
I don’t think we can fix this now, so I’m closing this for now. Feel free to reopen or send a pull request if you know how to fix it.

[2017-08-29 14:18] #514 closed

[2017-08-29 14:20] sapegin commented on #463
We don’t have the piece of code I’ve mentioned in the previous comment so I suppose this isn’t relevant anymore.

I’m closing this for now. Feel free to reopen if you still have this issue.

[2017-08-29 14:20] #463 closed

[2017-08-29 18:22] sabhyankarxactly commented on #591
@dbertella Thanks for the pointer, I was able to use the custom template to load font-awesome icons.
@n1313 I tried loading the font-awesome CSS and font files in the stylguide.config.js require section but did not work. I do like the idea of making font-awesome a dependency of my package and load them through my components, will work on that.

[2017-08-29 18:22] #591 closed

[2017-08-30 05:06] besrabasant opened #596 "Cannot run styleguidist along side with laravel development server."
Hello folks,

I am trying to document my __React Components__ and I am running _styleguidist server_ along side with _Laravel development server_ but the _styleguidist server_ crashes with this error.
[code]

I have configured the _styleguidist server_ to run at port _6060_ as to resolve this issue and succeeded to run the server only once. After that I am getting this issue again.

How can i reso

[2017-08-30 06:52] sapegin commented on #596
Looks like you still have something running on this port. Or the previous Node process stuck for some reason.

Try to [check](https://stackoverflow.com/questions/3855127/find-and-kill-process-locking-port-3000-on-mac) which process is listening on this port and kill it.

[2017-08-30 11:51] abhimax commented on #464
https://github.com/screener-io/screener-storybook
Great tool. but no any free version

[2017-08-30 12:29] snmslavk commented on #195
@sapegin Hi, where do you want to add this "fork me" ribbon?

I think it's done, could we make this checkbox checked?

[2017-08-30 12:36] sapegin commented on #195
@snmslavk I think a new option in style guide config would work:

[code]

You can use this CSS as a starting point:

https://github.com/sapegin/social-likes-next/blob/7018e8d51c05853eb04b437d8fce7bc0a34a663e/gh-pages/gh-pages.styl#L97-L123

![image 2017-08-30 at 2 31 34 pm](https://user-images.githubusercontent.com/70067/29872436-f418dcce-8d8f-11e7-9b3d-4425834845d6.png)

[2017-08-30 15:02] hmontes commented on #568
Any new ideas? I'm doing an CSS Framework and i'm very interested in this option.

[2017-08-30 17:00] besrabasant commented on #596
@sapegin I tried checking the service running on this port but it returns nothing... It seems there are no services running on this port.

[2017-09-01 07:32] seekshiva opened #599 "webpackConfig resolve.extensions doesn't have any effect"
When something isn’t working, include:

- Your style guide config (`styleguide.config.js`):  see example project
- Webpack version: ^3.5.5
- Reproducible demo: [example project](https://github.com/seekshiva/example).

I have a project setup where both native and web versions of a component exist. Just like how react-native apps use .js file extension and platform specific modifications can be done

[2017-09-01 07:49] sapegin commented on #599
It actually works but since we’re using webpack-merge to merge configs the result is this:

[code]

I’m not sure what would be the best fix for that, for now you could use `dangerouslyUpdateWebpackConfig` to overwrite default extensions.

[2017-09-01 08:30] seekshiva commented on #599
Thanks a lot! That works 🎉

[2017-09-02 00:33] ashokpatidar commented on #209
i am also facing the same issue

[2017-09-03 13:20] SaraVieira commented on #209
@ashokpatidar Can you provide examples ?

[2017-09-04 02:05] kidkuro opened #600 "Deeply nested section titles are all h2"
#554 addressed the issue of nested sections being tagged as primary, but a section heading still only has the concept of primary or not.

These means that all section nested 2 or more levels deep all get `h2` for a heading. Sections headings should nest with `h1`, `h2`, `h3`, `h4`, etc.

For example, modifying the sections example component to have these sections:

[code]

Results in this layout:

[2017-09-04 02:08] kidkuro commented on #600
A possible solution to this would be to replace the `primary` prop everywhere with a `depth` prop.

[2017-09-04 05:19] kidkuro commented on #600
Created PR #601 with a `depth` prop.

[2017-09-04 11:24] mittalabhas1 commented on #220
Hey @chrisdrackett, I'm facing a similar issue with jquery. I'm using it from the window as `window.$` and it says undefined. Could you point me to how you figured this out?

[2017-09-04 12:27] #600 closed

[2017-09-04 17:57] doug2k1 commented on #590
Thanks for posting the issues and the solution! I was struggling with this problem for quite some time, but couldn't reproduce it on a smaller example project to post here.

[2017-09-05 23:02] SaraVieira commented on #596
@besrabasant Can you try to update to the latest version that runs on 8080 and try again please ?

[2017-09-06 06:12] sapegin commented on #596
@SaraVieira Latest version of what? ;-|

[2017-09-06 12:29] besrabasant commented on #596
I think there's a conflict while running two instances of `browsersync`.... @sapegin @SaraVieira

[2017-09-06 12:30] sapegin commented on #596
Looks it’s not related to Styleguidist then?

[2017-09-06 12:36] besrabasant commented on #596
actually styleguidist uses projects native `webpack configuration` and since laravel is already using that *configuration* to run its _browsersync devserver_ so `react-styleguidist` is having problem running the _browsersync devserver_ from same configuration. @sapegin

[2017-09-06 12:37] besrabasant commented on #596
I think I need to change the port on which react syleguidist is trying to run the _browsersync server_

[2017-09-06 12:41] sapegin commented on #596
Maybe you need to tweak your webpack configuration before passing it to Styleguidists and remove BrowserSync?

[2017-09-06 13:18] besrabasant commented on #596
Yeah resolved the issue by ignoring the `browser-sync-webpack-plugin` after requiring the project's _webpack configuration_ . @sapegin @SaraVieira

[2017-09-06 13:18] #596 closed

[2017-09-07 19:47] AkshatM opened #603 "Styleguidist inaccessible through DNS resolution"
This is easily verifiable by configuring `/etc/hosts` as so:

[code]

and then running `styleguidist` through `styleguidist server`.

I am able to view `styleguidist` content through `localhost:6060` - I cannot do so through `test:6060`, as Styleguidist's Webpack server then decides to respond with just `Invalid host header`.

[`Invalid host header` is now returned by default in `webpack-dev-serve

[2017-09-08 06:51] sapegin commented on #603
I’m not really sure what you’re trying to do. Do you want to deploy Styleguidist development server? And what’s the reason to do so instead of deploying a static HTML build?

[2017-09-08 17:51] AkshatM commented on #603
We are trying to deploy the development server. Deploying a static HTML build is a good idea we hadn't considered in depth.

For context, our original reasoning was that a static HTML build would involve relying on two processes, the actual server and the build process, and that would mean more moving parts that we'd need to regulate interaction between, hence discarded. However, in retrospect, th

[2017-09-08 17:51] #603 closed

[2017-09-14 01:26] aaronjensen commented on #513
@sapegin I don't think that the example for styled-components is actually a great way of doing it. It adds another component to the tree that does nothing but pass things on to the styled component. It also adds quite a bit of verbosity to every file.

Is there a way to convince react-docgen that it's actually a component?

[2017-09-14 06:49] sapegin commented on #513
@aaronjensen Sure, it can be improved. But that’s the best possible solution for now as much as I know.

There are couple of issues in react-docgen repo but no real work has been done in the core as I know.

Also there’s some unfinished work here: https://github.com/Jmeyering/react-docgen-annotation-resolver

[2017-09-15 14:34] alampros opened #605 "Exposing a compiled <Styleguide> react component"
Is it possible to expose a compiled styleguide as a renderable react component to include in an existing react app?

I realize this essentially inverts the paradigm, but often times a component library is only a single page of a larger design system. It would be great to be able to use the styleguide with other react-based systems (namely [gatsbyjs](https://www.gatsbyjs.org)) like this.

[2017-09-15 14:39] sapegin commented on #605
Probably it would be easier to find a component to include any static HTML into a React app. I’m not sure it’s possible to do exactly what you describe.

[2017-09-18 10:29] dbertella opened #606 "Is there a way to add some sort of general documentation not coupled with a single component?"
I tried searching but I didn't find what I had in mind.
Is there a way to define a readme file not coupled with any react component?
I'm trying to add common information like colors, variables etc and I wonder if there was a right way to do that.

As a workaround I can add a new section with a dumb component and add an md file for that but if it's possible I'd like to avoid it.
Thanks

[2017-09-18 16:18] ashokpatidar opened #607 "styleguidist along with request-promise not working"
getting the issue when i use that along with request-promise ERROR in ./~/tough-cookie/lib/cookie.js
Module not found: Error: Cannot resolve module 'net'

Before opening an issue:

- [Search for duplicate or closed issues](https://github.com/styleguidist/react-styleguidist/issues?utf8=%E2%9C%93&q=is%3Aissue).
- Read the [cookbook](https://react-styleguidist.js.org/docs/cookbook.html).

When someth

[2017-09-18 16:25] sapegin commented on #607
I recommend you to actually read the issue template next time. Most likely nobody couldn’t help you here without a demo and since the question isn’t related to Styleguidist (as I’ve told you in Gitter) Stack Overflow would be more appropriate place.

[2017-09-18 16:25] #607 closed

[2017-09-18 18:27] brianokeefe commented on #568
I would love to see some kind of proper support for subcomponents as well. We're actually having a little bit of the opposite problem -- we've been putting small "helper" subcomponents in separate files so that we can document their props and usage, but in the context of a styleguide containing all components, they tend to add a lot of noise.

Maybe it would be cool if subcomponents somehow collap

[2017-09-19 05:04] gwuhaolin opened #608 "Anywhere is editable？"
Anywhere in page is editable, like component Title,here is the gif:
![editor-anywhere](https://user-images.githubusercontent.com/5773264/30576417-5477a302-9d3a-11e7-9510-6067748c361c.gif)

Only code can be edit, not anywhere!
Here is my project code:
[code.zip](https://github.com/styleguidist/react-styleguidist/files/1313099/code.zip)

[2017-09-19 06:55] sapegin commented on #608
You’re doing it in `reset.scss`:

[code]

[2017-09-19 06:55] #608 closed

[2017-09-19 15:32] wongp commented on #358
- [x] will do.

[2017-09-21 11:43] cameron-martin commented on #127
@zecaptus which part of this gives you the one component per page?

[2017-09-21 12:37] zecaptus commented on #127
@cameron-martin nothing here.
1/ The trick is to overwrite styleguide components
2/ parse current component in the url
3/ and insteadOf showing a list of components, just show it as if it was open in isolated mode.

Hope this can help you ;)

[2017-09-21 13:22] daphnesmit commented on #513
How about glamorous? Anybody know a way to work around the fact that it shows ALL glamorous properties not only my interface for a button.

https://www.dropbox.com/s/x261zfnmunye7n4/Screenshot%202017-09-21%2015.22.04.png?dl=0

[2017-09-21 15:38] daphnesmit opened #611 "JSX highlighting breaks on styleguidist example page"
See: https://react-styleguidist.js.org/examples/basic/#modal

Where is the highlighting?
ASameso in my project, it fails when I do:

\`\`\`jsx
\<Button
    full={false}
    inactive={false}
    align=\'left\'>hoi<\/Button>
\`\`\`

I also put in `styleguide.config.js`:
`
module.exports = {
	highlightTheme: 'material',
// etc
}`

- Webpack version:  ` "webpack": "^3.5.6",`

[2017-09-21 17:57] indacloud opened #612 "Switching to v6.0.25 throws "Cannot read property 'name' of undefined""
First, thanks so much for this great tool. It will really help us to document our components.
Also, this may be more likely a bug in `q-i`.

I upgraded to v6.0.25 and I'm getting a `Cannot read property 'name' of undefined` error when trying to start the server or run the build.

My configuration:
styleguide.config.js
[code]

webpack config
[code]

What I found out is the error is coming from here

[2017-09-21 20:24] sapegin commented on #612
Try to reinstall 6.0.25 (remove node_modules and package-lock.json), it should pick up the fixed version of q-i.

[2017-09-21 20:27] sapegin commented on #611
I assume it tries to catch last warm days and having a short break from work.

I’ve seen this couple of times and was able to fix by updating all Styleguidist dependencies. But honestly I have no idea why it is happening. Feel free to send a pull request with a fix ;-)

[2017-09-21 20:29] sapegin commented on #611
Theme is not an issue, Codemirror doesn’t highlight code at all for some very obscure reason.

[2017-09-21 21:22] indacloud commented on #612
It worked ! Thanks a lot for the quick fix.
:+1:

[2017-09-21 21:22] #612 closed

[2017-09-22 07:53] sapegin commented on #611
Similar issue: #105.

[2017-09-22 07:57] sapegin commented on #611
One more in react-codemirror: https://github.com/JedWatson/react-codemirror/issues/34

[2017-09-22 08:01] sapegin commented on #611
And one more at react-codemirror2: https://github.com/scniro/react-codemirror2/issues/7

[2017-09-22 08:04] sapegin commented on #611
The issue seems to be because Styleguidist and react-codemirror2 have a codemirror dependency and when we import modes webpack somehow loads them from a different codemirror.

This works fine, but it’s a huge hack:

[code]

The proper fix would be moving codemirror to peerDependencies in react-codemirror2. @scniro What do you think?

[2017-09-22 08:23] daphnesmit commented on #611
That works!

[2017-09-22 08:25] sapegin commented on #611
I think it doesn’t work when we use two different versions.

[2017-09-22 13:40] scniro commented on #611
@sapegin yes you are correct on the versioning conflict - this actually happened with another user on the last release [5.29.0 release](https://github.com/codemirror/CodeMirror/releases/tag/5.29.0) of CodeMirror as well. I am unsure why the conflict causes the loss of highlighting - it's the only noticeable side effect I have found.

Anyways, I did have the versioning too strict. I pushed up [1.1.

[2017-09-22 16:43] sapegin commented on #611
@scniro Thanks! Right now `peerDependency` doesn’t do anything:

https://github.com/scniro/react-codemirror2/blob/3e0be8dc7556c169cac36df91572265830fcaf56/package.json#L34-L40

It’s either `dependency` or `peerDependency`.

[2017-09-22 17:42] scniro commented on #611
@sapegin Sorry! I forgot I had codemirror as a dep in the repo itself for the demo site but it's only a devDep in my case. I moved it down, have only codemirror as a peerDep, and all seems okay. Can you try [1.1.1](https://github.com/scniro/react-codemirror2/releases/tag/1.1.1)?

[2017-09-23 12:37] scniro commented on #611
Hey all, please pull down [2.0.0](https://github.com/scniro/react-codemirror2/releases/tag/2.0.0) instead. I overlooked the breaking changes that would result from users that did not already have any version of codemirror as a dep. See https://github.com/scniro/react-codemirror2/issues/12. Thanks

[2017-09-25 12:07] #611 closed

[2017-09-25 12:08] sapegin commented on #611
@scniro It works, thanks!

Expect a new release in 10 minutes ;-)

[2017-09-25 12:41] sapegin commented on #105
Finally I was able to really investigate and fix this issue: https://github.com/styleguidist/react-styleguidist/issues/611

[2017-09-25 15:16] ryanoglesby08 opened #613 "Custom React components for Markdown elements"
I'd like to be able to configure custom components that get used when rendering Markdown documentation blocks.

For example, I have a custom `<Link>` component and would like to render that for all hyperlinks in my documentation.

Raw Markdown: MyComponent.md
"You can find more information about the inspiration for this component \[here\](http://example.com)."

Compiled
"You can find more informat

[2017-09-25 16:10] sapegin commented on #613
No, but it looks like a good idea and shouldn’t add a lot of complexity, so feel free to make a PR for that! ;-)

[2017-09-26 16:43] sapegin opened #614 "React 16"
This issue will track React 16 compatibility. It seems to work fine but there are several peer dependency warnings.

Dependencies compatibility:

- [x] [React 16 final release](https://code.facebook.com/posts/1716776591680069/react-16-a-look-inside-an-api-compatible-rewrite-of-our-frontend-ui-library/)
- [x] [Enzyme 3.0](https://github.com/airbnb/enzyme/blob/master/CHANGELOG.md#300)
- [x] [markdow

[2017-09-28 03:38] tizmagik commented on #513
We're planning on using Styleguidist for a new shared component repo we're working on at NYT. We're looking to use `emotion` (which is built on/shares an API with glamor) so I'd be happy to contribute docs back for that.

However, I share @aaronjensen concern about the verbosity required to document these special styled components. Is it just a matter of trying to push this through react-docgen? O

[2017-09-28 03:51] devsnek commented on #473
I can have a PR for this done in a few hours if no one else is interested

[2017-09-28 05:30] sapegin commented on #473
@devsnek Sounds great!

[2017-09-28 09:47] chaosmirage opened #615 "Exclude components not work"
Hi.
[how-to-exclude-some-components-from-style-guide](https://react-styleguidist.js.org/docs/cookbook.html#how-to-exclude-some-components-from-style-guide) – it doesn't work.

- Style guide config.
[code]

- Webpack version.
3.4.1

- Reproducible demo.
[Demo](https://github.com/chaosmirage/react-styleguidist-example)

[2017-09-28 15:02] ryanoglesby08 commented on #613
Awesome! Will work on it.

[2017-09-28 16:43] sapegin commented on #615
Try to remove the `.` — it‘s a glob pattern.

[2017-09-28 18:22] sapegin commented on #513
@tizmagik I agree that it could be better ;-) But I‘m not sure we can significantly improve that on our side.

Do you have any ideas how that could work? And how that would be better than react-docgen handlers?

[2017-09-28 19:31] tizmagik commented on #513
Was thinking maybe a babel-plugin to add an extra `export` with the syntax that react-docgen is looking for, but you're right a react-docgen plugin/handler would be better. Any thoughts on how we could best move those forward? They seemed to have stalled upstream...

[2017-09-29 07:45] chaosmirage commented on #615
I tried – don't work.

[2017-09-29 09:14] vlad-zhukov commented on #614
Just wanted to note that this issue is about using React 16 internally. Examples (can?) use the version of React you (as a developer) provide. What it means is you can use React 16 in examples right now, or use an older React version when the `styleguidist` will use v16 internally.

[2017-09-29 09:32] sapegin commented on #614
Yes, it’s about making sure that Styleguidist itself will work with React 16 and will not print peer dependencies warning.

[2017-09-29 09:49] smashercosmo commented on #614
react-codemirror2 has got support for react 16

[2017-10-02 02:50] oyeanuj opened #620 "Comparison with Storybook"
Hi folks! This is more of a docs question rather than an issue - feel free to close it if inappropriate. I was looking to decide between Storybook and StyleGuidist.

So, I was wondering if anyone had a perspective on the pros/cons between the two choices given that people using it have a better idea about this library?

[2017-10-02 07:12] sapegin commented on #620
It is of course very appropriate — both tools are great ;-)

Here’s a quote from my article on component driven development (in draft now):

### React Storybook v. React Styleguidist

Both tools are good and mature, they have many similarities but also some distinctions that may make you choose one or the other. For me the biggest distinction is how you describe component variations.

With Storybo

[2017-10-02 08:27] #473 closed

[2017-10-02 17:23] oyeanuj commented on #620
@sapegin Thank you for the quick and detailed response! It also seems like that styleguidist supports nested components and storybook doesn't? If yes, that could be another thing to add.

I'd suggest adding it around the `Usage` section (maybe after `Cookbook`) in the README as this is information that folks would need as to better understand the library.

[2017-10-02 18:33] sapegin commented on #620
I think now Storybook has this too.

[2017-10-02 18:47] jrwebdev commented on #620
We use both where I work. Storybook we use for displaying the multiple different states of our components and can tailor the stories to aid in testing and development. Styleguidist we use for formal documentation and demos of our **public** components.

Both are great tools, but I personally see them as having different uses, especially if you're using them in a larger company.

[2017-10-02 18:49] tizmagik commented on #620
Good explanation and breakdown @sapegin -- +1 for adding this to the docs. I get this question a lot internally.

[2017-10-02 18:50] tizmagik commented on #620
Also for this:

Feature | Storybook | Styleguidist
-- | -- | --
Style guide | No | Yes

I think that's debatable. The docs that Storybook produces can also be seen as a styleguide. I would put "Yes" in both columns there IMO.

[2017-10-02 18:52] sapegin commented on #620
@tizmagik I’d put No with an asterisk ;-)

[2017-10-02 19:44] tizmagik commented on #620
Haha fair enough :)

[2017-10-03 08:48] nwwells commented on #614
For `react-icons`, see https://github.com/gorangajic/react-icons/issues/116 and https://github.com/gorangajic/react-icons/issues/117

For `react-codemirror2`, see https://github.com/scniro/react-codemirror2/issues/15. Upgrading to v2.0.2+ should work. Any reason that particular package is pegged to v2.0.0 when all the others are more permissive? even just `~v2.0.0` would be sufficient to pick up b

[2017-10-03 15:10] sapegin commented on #614
I think it was because of #611, `^` should work fine now.

@nwwells Please do it ;-)

[2017-10-04 08:48] AndrewKarasek opened #621 "Generate Documentation in JS / TS"
Is there anyway to declare documentation for components in JS (or TS) rather than markdown?

Having free-text (md) feels quite chaotic - writing the documentation in JS would enable us to do linting, import & share stub data, testing and have typesafety in TS.

[2017-10-04 09:17] sapegin commented on #621
You can do most of that in Markdown as well:

* linting — [eslint-plugin-markdown](https://github.com/eslint/eslint-plugin-markdown);
* import & share stub data — `require` is supported in Markdown examples);
* testing — [snapguidist](https://github.com/styleguidist/snapguidist).

The only thing is missed is TypeScript support. But even this maybe not very hard to implement if anyone wants to have

[2017-10-04 09:29] #615 closed

[2017-10-04 09:29] sapegin commented on #615
You need to pass a glob pattern, I’ve updated docs to make it more clear.

[2017-10-04 09:29] #605 closed

[2017-10-04 09:30] #592 closed

[2017-10-04 09:40] #620 closed

[2017-10-04 11:22] AndrewKarasek commented on #621
@sapegin yeah TS support is probably the biggest loss. Being tied to extra dependencies and frameworks is not ideal and taking devs out of their familiar environment (ts / js) to work in free text doesn't sound like the best way to go for us.

Unfortunately storybook doesn't fit our use case for a number of other reasons.

If we forked the repo and developed the option to declare docs in code woul

[2017-10-04 11:24] sapegin commented on #621
This may be a good addition of course if it has a good API and won’t complicate the code much ;-)

Do you already have any ideas on the API? Can we somehow reuse it for interoperability with Storybook? (That would be amazing feature!)

[2017-10-04 13:05] AndrewKarasek commented on #621
I'll need to dig into it a bit but my gut thought is to just use a naming scheme to find the documentation and then just some react components to wrap the necessary pieces of docs. For example:

Filename: `Button.doc.js`
[code]

[2017-10-04 13:17] sapegin commented on #621
I’d propose a different approach: decouple current Markdown parsing logic and create a common format fur examples that Styleguidist will use internally. So we could create different “loaders” for Markdown, Storybook and something that you want.

So I’d rewrite you example like this:

[code]

[2017-10-04 13:48] nwwells commented on #614
Will do. I was recently made a contributor on https://github.com/gorangajic/react-icons so I'll work on resolving the issue there first and then get to this, hopefully today.

[2017-10-04 17:28] nwwells commented on #614
submitted #622 for review. I believe that's all that should be needed, but I need to test after the new react-icons release is published.

[2017-10-04 17:31] MarkMurphy commented on #541
This is still an issue. I don't see an solutions here.

[2017-10-05 03:32] tizmagik commented on #614
I'd like to work on adding a `componentDidCatch()` handler -- mostly because I wanted to work with it a bit and learn how best to use it. @sapegin did you have thoughts on where it should be added/what should happen on error?

[2017-10-05 07:08] sapegin commented on #614
@tizmagik Sounds awesome! I’ll learn from you ;-)

We’re already catching errors in users’ components (each has a separate React root anyway) so I think we need a global `componentDidCatch` handler to catch bugs in Styleguidist or user customizations (when users replace Styleguidist components). It could look similar to React error overlay and say something like “if you believe it’s a bug in Style

[2017-10-05 14:30] MarkMurphy opened #624 "Including external resources"
I'm trying to add jQuery to my styleguide and have so far been unsuccessful in doing so.

I've tried the following:

[code]

The problem is that jQuery doesn't get added to `window` because I'm unable to list it as an external.

How can I work around this?

[2017-10-05 14:34] sapegin commented on #624
I think the easiest way would be to use [custom template](https://react-styleguidist.js.org/docs/configuration#template) and load jQuery from CDN.

[2017-10-05 14:34] #624 closed

[2017-10-05 19:17] lensbart commented on #209
@SaraVieira I'm having the same issue as well, after transforming my stateless class components to function components (as per ESLint guidelines). Had no issues before conversion. Even the most trivial cases now throw a `RangeError: Maximum call stack size exceeded`, e.g.
[code]
My `styleguide.config.js` file:
[code]

I have no idea what might cause this, but I doubt `styleguide.config.js` is the

[2017-10-05 20:49] lensbart commented on #209
Found it. Apparently this doesn't work:
[code]
But this does:
[code]
Hope this helps!

[2017-10-05 22:45] nwwells commented on #614
react-icons marks support for react 16 as of 2.2.6.

[2017-10-05 23:11] nwwells commented on #614
Hey, it looks like the package.lock needs to be updated as well, will submit a PR for that soon.

[2017-10-06 06:12] nwwells commented on #614
updated react-icons in https://github.com/styleguidist/react-styleguidist/pull/628

[2017-10-06 12:41] sapegin commented on #614
I’ve removed react-modal and tweaked examples.

[2017-10-06 16:02] dziamid commented on #621
@sapegin what are the benefits?

[2017-10-06 16:25] sapegin commented on #621
* You can structure documentation as you like;
* you can mix examples with text to better explain them;
* you can decide how to render each example: with or without an editor, as static code, etc.
* readable on GitHub or in an editor.

[2017-10-06 16:34] tizmagik commented on #614
What's up with `markdown-to-jsx`? It seems to work fine, no?

[2017-10-06 16:38] sapegin commented on #614
@tizmagik I think it is, let’s check it ;-)

[2017-10-06 20:41] SaraVieira commented on #501
@sapegin Can this closed ?

[2017-10-07 07:34] #501 closed

[2017-10-07 18:51] tizmagik opened #630 "Errors running CRA Example"
Stumbled on this when working on React 16 upgrade

- fresh checkout of `react-styleguidist`
- `npm install`
- `npm run start:cra`

[code]

[2017-10-07 18:55] sapegin commented on #630
Does it work when you cd to that folder and run it from there?

[2017-10-07 18:58] tizmagik commented on #630
Sort of, I get these:

![image](https://user-images.githubusercontent.com/244704/31310948-f6694f6a-ab6f-11e7-9632-048a78c6b48a.png)

Is it supposed to work from running `npm run start:cra` from top-level?

[2017-10-07 19:09] sapegin commented on #630
Yes, it is. I’m not sure why it’s not working now.

[2017-10-09 20:20] nwwells commented on #614
Verified that upgrading to v6.0.28 got rid of peer dependency warnings! Yay!

[2017-10-09 20:55] sapegin commented on #614
@nwwells Awesome! Then the only thing left is #631.

[2017-10-10 11:33] lookapanda commented on #335
@sapegin wha is *this* solution? The link has become invalid (404).

[2017-10-10 11:34] sapegin commented on #335
@lookapanda I’ve updated the link.

[2017-10-11 12:13] hwaterke opened #633 "Only working with default export"
I don't like default export and always write my components with named exports.

But then the only way to make Markdown examples work is to write the following:
[code]

Any better way to handle named exports and avoid this `require` in all my examples?

[2017-10-11 12:17] sapegin commented on #633
Yes, use default exports.

[2017-10-11 12:17] #633 closed

[2017-10-11 17:34] cameron-martin opened #634 "Down-level headings in markdown files"
Currently when headings are rendered in markdown files, they are rendered as-is (i.e. an h1 in a markdown file gets rendered as an h1 in the styleguide). However, the sections titles also use headings, so you can get strange behaviour such as an h1 being rendered inside a section with an h3 title, when it should be an h4.

A solution to this is to just start the headings in the markdown files at t

[2017-10-11 17:50] sapegin commented on #634
It won’t work because you may have nested section which is another issue with heading levels ;-) Any help or ideas how to fix all at once are very appreciated.

[2017-10-11 17:53] cameron-martin commented on #634
You mean in this case?

[code]

[2017-10-11 18:24] sapegin commented on #634
Yup!

[2017-10-11 21:27] cameron-martin commented on #634
It would probably be acceptable to have:

[code]

[2017-10-12 00:32] okonet commented on #37
Sorry for bring this up again but it seems that the styled-components with any component still an issue. So following the official guide https://www.styled-components.com/docs/basics#styling-any-components I still can't get the component being seen by styleguidist.

cc @mxstbr

Here is my example component:

[code]

[2017-10-13 13:38] EdwardSalter commented on #568
We are currently developing a UI framework that does the same thing, each component sits in its own file. These get picked up by styleguidist and so long as the `displayName` is set properly on the component, i.e:
`PageContainerContent.displayName = 'PageContainer.Content';` then the components will sit nicely next to each other in the generated menu.

I guess another option would be to make use o

[2017-10-13 14:08] EdwardSalter opened #637 "Verbose flag not working in Node API"
When running the styleguidist server via the node API, no output is displayed at all regardless of the value of the verbose flag in the configuration file.

An example repo of this in action is available here: https://github.com/EdwardSalter/example

Run running the server via the node API, I would expect the output to still be displayed. This is a bit of a problem since any output from webpack is

[2017-10-14 07:33] #519 closed

[2017-10-16 12:45] wkillerud opened #641 "Styleguidist tries to render code blocks without language tag"
From the [documentation](https://github.com/styleguidist/react-styleguidist/blob/master/docs/Documenting.md#usage-examples-and-readme-files) it looks like only code blocks with the language tab `js`, `jsx`, or `javascript` should render React components. However React Styleguidist even tries to render code blocks without a language tag.

A workaround is to lie and mark the block as a valid but non

[2017-10-16 13:02] sapegin commented on #641
This is expected behavior for backwards compatibility, use`static` modifier.

[2017-10-16 13:02] #641 closed

[2017-10-16 13:25] wkillerud commented on #641
Allright. Could the documentation perhaps be updated to reflect this then? :) I can update the quoted line and add an entry to the cookbook if you'd like.

[2017-10-16 13:26] sapegin commented on #641
We don’t recommend it but I agree it would be nice to mention that it still works ;-)

I think this is the best place for it: https://github.com/styleguidist/react-styleguidist/blob/master/docs/Documenting.md (and it should be mentioned that this is backwards compatible mode, not recommended one).

[2017-10-16 15:26] SpencerCDixon opened #644 "Building for production"
When I build my styleguide using `styleguidist build` it gives me a bundle with a bug.  Below is a screenshot:

<img width="950" alt="screen shot 2017-10-16 at 11 23 35 am" src="https://user-images.githubusercontent.com/7471018/31620168-8ec5b79e-b264-11e7-988f-3da5f57b609c.png">

Here is my styleguide config if that helps:

[code]

Has anyone else run into this issue??

[2017-10-16 15:48] sapegin commented on #644
Looks like you’re using a test renderer somewhere. Please make an example as [described here](../blob/master/Issue_Template.md).

[2017-10-16 15:56] SpencerCDixon commented on #644
You sir are correct.  That was dumb of me... I guess if my package exports a test utility then it borks production build.  If I just explicitly import the pieces I needed then it renders fine.   Closing!!

[2017-10-16 15:56] #644 closed

[2017-10-16 16:10] sapegin commented on #637
That’s because any output is disabled by default in the API, I’ve updated the API docs to clarify that.

[2017-10-16 18:38] ilya-pyatin opened #645 "A suggestion to improve documentation a bit"
Hello:

I am new to styleguidist, yesterday tried to use it on the project I am currently working on. And I had an issue which I resolved for some time. The issue is that I added an example of a component in a Readme.md like it is suggested, and I had the following error displayed instead of the example:

"Invariant Violation: Element type is invalid: expected a string (for built-in components) or

[2017-10-16 18:48] sapegin commented on #645
Feel free to send a pull request ;-)

[2017-10-16 21:23] ilya-pyatin commented on #645
Actually I'm not sure if it is required that a component is exported as default.

There are a lot of components on my project that are exported not as default so it would be great if there was a way to keep them as is and be able to write examples.

So far I haven't found such way in the docs. I have searched the source code and have found that there is a switch in the `Examples` component with `c

[2017-10-17 07:50] sapegin commented on #645
According to the code it may work, but this code needs more tests and comments:

https://github.com/styleguidist/react-styleguidist/blob/e0f576d777f53479e1ddc6a6dc85e59f89d2bc85/src/utils/utils.js#L23-L36

Feel free to improve that.

Not sure how you’ve come to this conclusion ;-) `code` and `markdown` here are parts of your Markdown file that should be rendered as interactive example or static te

[2017-10-17 08:22] EdwardSalter commented on #637
Ah, thank you for clarifying that. I have just updated my config to add in the `logger` configuration which has enabled some output but webpack output is still not coming through.
I have updated my example repo to force a webpack error and this is the output I get from running via the CLI:

[code]

and the output I get from the node api:

[code]

I now get the Loading components text and I can see

[2017-10-17 08:31] sapegin commented on #637
Looks like the CLI does more error handling:

https://github.com/styleguidist/react-styleguidist/blob/bc6e6510a13a785fc80675eee40fc587f34317a2/bin/styleguidist.js#L122-L131

`styleguide.server` returns a webpack compiler instance so you can try to attach an event handler to it and see if it works.

[2017-10-17 10:07] EdwardSalter commented on #637
Yep, I have updated my example repo with code duplicated from the bin/styleguidist.js and it is now working as expected displaying the output in the console.
I would have thought that this behaviour would be a layer deeper in the `server` function so that it was the same for both the node API and the CLI.
This at least gives me a way of figuring out why my code doesn't compile so I will close the

[2017-10-17 10:07] #637 closed

[2017-10-17 20:25] rcline commented on #325
@n1313 That really doesn't look that hacky to me.  Is there any side effects I am not seeing?

I would love to see this get added!  (Currently having to rename my `Image` component so that it doesn't conflict with `window.Image` :( )

[2017-10-17 22:14] milesj opened #646 "Support childContextTypes"
It would be great if this project would also document `childContextTypes` in the same way it does `propTypes`. It's super helpful to know when a component defines a context that can be hooked into.

[2017-10-17 22:39] karmeleon commented on #518
Now that the linked Flow issues are resolved, can this issue be reopened? Styleguidist still has this bug.

[2017-10-18 06:47] sapegin commented on #518
@karmeleon Feel free to send a pull request. I don’t know what can we do to fix that on our side.

[2017-10-18 06:49] sapegin commented on #646
Sounds like a good idea, we need to check if react-docgen provides this information. If yes it should be easy to implement — feel free to send a pull request ;-)

[2017-10-18 06:57] sapegin commented on #325
@rcline Doesn’t look super hacky to me now, and I’m sure we can avoid a global variable here. Feel free to send a pull request for that ;-)

[2017-10-18 16:54] adityavohra7 commented on #518
Here's [the relevant issue](https://github.com/reactjs/react-docgen/issues/221) in react-docgen!

[2017-10-18 22:50] rcline commented on #325
@sapegin It looks like this code has been changed/moved.
https://github.com/styleguidist/react-styleguidist/blob/d07e825e00720f71cf4aea348f1bb12b9dab58b2/src/rsg-components/Preview/Preview.js#L54-L56

Any direction on where to look to make a similar change? (passing in namespaced components to a `with ()` context call)

[2017-10-19 07:04] sapegin commented on #325
Not sure which code has been moved where ;-)

I think the right place to do it is here:

https://github.com/styleguidist/react-styleguidist/blob/916e173ecfeb29d89085ed0eddfbefc9f49afb7a/loaders/examples-loader.js#L22-L23

But it’ll require some experiments, you’ll need to move props-loader call there I think:

https://github.com/styleguidist/react-styleguidist/blob/fc6a3ba0a0167de92a8c0c2a7e16d2ae

[2017-10-20 15:51] 4mgad opened #648 "Line numbers enable configuration needed"
Is it possible provide a showLineNumbers configuration flag in styleguide.config.js to enable/disable showing line numbers in the code editor?

[2017-10-20 16:13] sapegin commented on #648
It would be a nice idea for a pull request — pass all CodeMirror options from a style guide config ;-)

[2017-10-20 23:32] schnubor commented on #513
@n1313 would love to see the CSS modules + themr example.

[2017-10-25 18:50] Andarist commented on #464
Without knowing about this thread I've setup today simple visual tests, using `jest`, `jest-image-snapshot` and `puppeteer`. There are some missing pieces I'd like to get from the RSG as new features (can offer working on those if we agree they are needed):
- pages with isolated (even more) components - that was actually mentioned in this thread already
- possibility to name component examples wit

[2017-10-26 05:20] gnarmedia commented on #501
@apennell I managed to get webpack + babel-plugin-react-css-modules + styleguidist working together

        test: /\.css$/,
        exclude: /node_modules/, // not sure this is needed?
        use: [
          {
            loader: 'css-loader',
            options: {
              sourceMap: true,
              modules: true,
              localIdentName: '[local]_[hash:base64:2]'
            }

[2017-10-26 10:25] eduardoinnorway commented on #98
What is the status here? I would like to have one page per group of components ...

[2017-10-26 21:17] dallonf opened #652 "Styles (inc. inherited font styles) are reset in every preview section"
I noticed that Preview sections will aggressively reset many CSS properties back to `initial`. This means if you're using a style like this:

[code]

Your default preview will still show black text.

I've currently implemented a `styleguideComponents: { Preview }`-based workaround which re-renders the `Preview` component with the styles I want to be "global", but I expect this is a pretty common u

[2017-10-27 10:22] quirico opened #653 "Customising/i18n placeholder input text "Filter by name""
Hello!

Is there a way to customise and/or translate the placeholder input text "Filter by name" in  TableOfContents component?

Thanks

[2017-10-27 12:04] tizmagik commented on #653
You can override the TableOfContents component, https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/TableOfContents/TableOfContentsRenderer.js

See overriding, https://react-styleguidist.js.org/docs/configuration#styleguidecomponents

[2017-10-27 18:23] yathuganesh commented on #462
need an option to swap Buble for anything, not for Babel

[2017-10-27 21:14] poeschko commented on #209
Having the same issue. Could this be reopened?

[2017-10-27 23:14] lensbart commented on #209
@poeschko I fixed my issue by using yarn instead of npm. I think this solved an issue with different versions of react-docgen across several dependencies not working well together.

[2017-10-27 23:36] poeschko commented on #209
@lensbart Thanks for the tipp! But I'm already using yarn... What version of react-docgen are you using? Here's the entry from my yarn.lock:
[code]

[2017-10-28 14:03] sapegin commented on #652
Fell free to send a pull request that adds `color` inheritance:

https://github.com/styleguidist/react-styleguidist/blob/master/src/styles/setupjss.js#L27-L30

[2017-10-29 03:47] swese44 opened #654 "Dependency on `webpage` module breaks Backstopjs integration"
We're currently using Storybook for our component library documentation, but want to switch over to Styleguidist. We'll also need to convert our visual diff tests with Backstopjs to run on the Styleguidist app, but CasperJS/PhantomJS choke by having Styleguidist's `webpage` dependency in node_modules.

tldr: it looks like the `webpage` dependency is not used by the project, can we remove that depe

[2017-10-29 11:05] lensbart commented on #209
Here it looks pretty much the same!
[code]

[2017-10-29 12:55] #654 closed

[2017-10-29 14:12] #614 closed

[2017-10-31 12:48] zerocity opened #658 "Support for absolute imports"
Hi,

on [create react app](https://github.com/facebookincubator/create-react-app/issues/1065) they have a discussion about supporting absolut imports via nested node_modules folder (src/node_modules).

With the current version (6.0.32) of Styleguidist the components are getting render but no changes to the source are recognise of the webDevServer in this folder.

If i change the value to
`^(?!.*([

[2017-10-31 15:49] gandhiamarnadh opened #659 "Multiple Content Files"
We want to show an additional custom view  (that gives the stat of selected lib component usage) along with our library components. The information for this custom view is from another service.

So, before changing all the component read.md files to include this custom view, I want to check is it possible to add second content file path for components in config or any other way to achieve this?

[2017-10-31 17:24] MrHavard opened #660 "require a CSS-Module css in example.md file"
I'm trying to show an example of using css-modules in one of the markdown files. When I use ```const theme = require('./themes/theme.scss');``` variable comes back as an empty object. When I use similar code (but using import) in a real implementation the object is fully populated and is applied as expected.

[code]

Both Styleguidist and the regular implementation share the same webpack.config.js

[2017-10-31 18:45] mikeaustin opened #661 "When installed globally (npm install -g), styleguidist complains about "Webpack is required""
$ styleguidist build -f html -o docs
    Webpack is required for Styleguidist, please add it to your project:

        npm install --save-dev webpack

    See how to configure it for your style guide:
    https://react-styleguidist.js.org/docs/webpack.html

I spent a good 20 minutes trying to figure out why it was complaining. Maybe I missed it in the docs? Is it possible to install it globally?

[2017-10-31 20:41] SaraVieira commented on #613
@sapegin Would be allowing a markdown parser the way to go ?

[2017-11-01 02:09] M-ZubairAhmed commented on #195
@sapegin are all tasks done? if not i would like to pick one

[2017-11-01 10:48] Andarist commented on #464
Just if anyone is interested, I've written how we are approaching the subject right now https://developers.livechatinc.com/blog/snapshots-visual-testing/

Also we have published reusable scrapper script for generated documentation - https://github.com/livechat/styleguidist-scrapper . It ain't perfect ofc, no configuration or anything, it's here only to get the job done **for us** at the moment - b

[2017-11-01 23:53] unindented opened #663 "Navigation is broken"
Reproducible on the public example styleguide: https://react-styleguidist.js.org/examples/basic/
~~Not reproducible on `dialog`'s styleguide: https://dialogs.github.io/dialog-web-components/~~ Can also repro there

Issue is that navigation is super broken. See the GIF:

![out](https://user-images.githubusercontent.com/69485/32303227-8f156dd0-bf24-11e7-88aa-48ce60c71350.gif)

- Navigating to a prev

[2017-11-02 00:43] unindented commented on #663
Ah no, `dialog`'s styleguide suffers from the same issues.

[2017-11-02 20:52] unindented commented on #663
@sapegin if somebody gives me some pointers (which part of the codebase to look into, approach to take, etc.), I can help.

[2017-11-03 05:21] rluiten opened #664 ""public" accessor on render() in class means the component is not found."
Loving this tool by the way great turn around on component and style development.

I think I found a bug.
- Appears to me to be a parsing component bug
- Webpack v3.8.1
- Typescript v2.5.3
- tslint v5.8.1

I am using typescript and by default tslint was raising
*  "Requires explicit visibility declarations for class members." for the class member `render()`

I created this tiny example to test wit

[2017-11-03 13:29] jfschwarz opened #665 "Also include sections for unrecognized components"
Due to the limitations of 'react-docgen` there are components which will not be recognized, e.g., when I import a component, apply a HOC, and export the result. For these components Styleguidist will generate warnings like:

Why doesn't Styleguidist simply include sections for these unrecognized components in the generated style guide, too?

I get that we won't be able to get the props documentati

[2017-11-03 14:22] eduardoinnorway opened #666 "require font?"
It does not load font?

require: [
    'babel-polyfill',
    path.join(__dirname, 'node_modules/bootstrap/less/bootstrap.less'),
    path.join(__dirname, 'assets/stylesheets/global-styles.less'),
    path.join(__dirname, 'assets/fonts/glyphicons-halflings-regular.woff2'),
  ],

[2017-11-03 15:45] unindented commented on #464
@Andarist nice! We had done something very similar (taking screenshots of all examples with `puppeteer`, and diffing them with `pixelmatch`) but we didn't integrate it with `jest`.

The module is here: https://www.npmjs.com/package/react-styleguidist-visual

[2017-11-03 18:47] whazap commented on #576
i tried to tackle this issue by creating a new helper component (PreviewRenderer).
(was looking for an issue to start looking under the hood of react-styleguidist, hope i didn't mess up too much ;))

[2017-11-03 20:24] okonet opened #668 "HMR doesn't work after upgrading from v6.0.17 to v6.0.31"
Somewhere between v6.0.17 and v6.0.31 the HMR stopped working:

https://github.com/styleguidist/react-styleguidist/compare/v6.0.17...v6.0.31

My config:

[code]

[2017-11-06 10:55] sapegin commented on #464
@Andarist @unindented That’s awesome! Feel free to send PRs to add these links to the docs ;-)

I think we need a new testing guide too ;-)

[2017-11-06 11:03] leclercb commented on #603
Same problem here.
I develop on one machine, but I test on another one.
I can't access styleguidist from my test machine because I receive "Invalid host header".
Would it be possible to configure this ?
Thanks !

[2017-11-06 11:07] sapegin commented on #603
@leclercb You’re use case looks very different though, please open a new issue.

[2017-11-06 11:20] leclercb opened #669 "Styleguidist server not accessible from another host than localhost"
I develop on one machine, but I test on another one.
I can't access styleguidist from my test machine because I receive "Invalid host header".

I looks like the server only answers on 0.0.0.0.

Would it be possible to configure this when starting the server ?
Thanks !

[2017-11-06 13:39] sapegin commented on #658
I’ll be happy to merge a pull request with this feature.

[2017-11-06 13:43] sapegin commented on #659
If I understand you correctly you want to have multiple “readme” files for each component?

It’s not possible now but maybe a good idea for a pull request: add a way to return a content of the documentation instead of a file path. Have a look at #621 too.

[2017-11-06 13:51] sapegin commented on #660
Just a guess, have you tried?

[code]

[2017-11-06 13:54] sapegin commented on #661
Any reason you want to install it globally? Global modules are a bad practice in most cases.

[2017-11-06 13:57] sapegin commented on #664
Parsing of TypeScript code is done in [react-docgen-typescript](https://github.com/styleguidist/react-docgen-typescript), I think you should open an issue there.

But I’d disable this TSLint rule. I’m not a TypeScript expect but I don’t see any value in having `public render()` instead of just `render()`.

[2017-11-06 13:59] neutraali commented on #171
I might have the same question as @dchambers has... We'd like to include a _local_ CSS -file in the template:
[code]
... This naturally gives a 400 -error and is unable to locate/use the file.

[2017-11-06 14:02] sapegin commented on #665
Sounds reasonable ;-)

Would be nice if you can comment out this code and check if it would actually work.

[2017-11-06 14:03] sapegin commented on #666
Please make a demo project that we can debug based on this repo: https://github.com/styleguidist/example

[2017-11-06 14:04] sapegin commented on #668
A long time ago but it was buggy, now we’re using vanilla webpack hot reload.

[2017-11-06 14:15] sapegin commented on #669
Do you know how to configure webpack-dev-server for that? It supposed to be accessible with 0.0.0.0 instead of `localhost`.

But actually it works for me, I’ve just tried to follow the instructions:

[code]

and was able to open the style guide from by phone, both are in the same network.

[2017-11-06 15:03] leclercb commented on #669
Indeed, when I use the ip of the dev machine directly (in your example http://11.22.33.44:6060/) it works.
However, when I use a hostname (example "xyz" pointing to 11.22.33.44) via /etc/hosts, it doesn't work when trying to access http://xyz:6060.

Anyway, not a bit deal, as I can use the ip of the machine directly, which I didn't try before :(

[2017-11-06 15:10] sapegin commented on #669
Looks like you need to use the `public` option for dev server and we shouldn’t do this by default because it would open style guide server for everyone:

https://github.com/webpack/webpack-dev-server/issues/882

[2017-11-06 15:13] leclercb commented on #669
Not by default of course, but maybe that could be an option in the styleguide.config.js ?

[2017-11-06 15:18] sapegin commented on #669
You can change any webpack dev server options via `devServer` option in webpack config.

[2017-11-06 15:26] leclercb commented on #669
Thanks ! Problem solved.

[2017-11-06 15:26] #669 closed

[2017-11-06 15:27] sapegin commented on #669
Would be nice if you could add this info to the docs though ;-)

[2017-11-06 19:16] gandhiamarnadh commented on #659
I've addressed my problem with editing all readme.md files now..
It would be great to add a new generic wrapper (over readme.md content with custom props dependent on file name ) like StyleGuideRenderer and Wrapper (over example react components).

[2017-11-06 20:51] rluiten commented on #664
I am not using react-docgen-typescript.
Thats only required for prop type extraction afaik, and also has other problems for me at the moment.

[2017-11-06 21:07] leclercb commented on #669
Pull request created:
https://github.com/styleguidist/react-styleguidist/pull/671

[2017-11-06 21:34] MrHavard commented on #660
Not sure what I did between when I posted and today but now it works fine. Without the need for .default added. Sorry for the noise.

[2017-11-06 21:34] #660 closed

[2017-11-06 22:03] okonet commented on #668
Hmm, I'm wondering why it didn't work. I heard lots of "not working" recently and would love to hear some details on that.

[2017-11-07 08:16] sapegin commented on #668
I don’t even think it’s necessary and worth added complexity. Also all of the HMR solutions are half-deprecated. But if you have time to investigate that, feel free to send a PR ;-)

[2017-11-07 08:25] sapegin commented on #664
I believe it’s not a good idea because what’s happening for you, you’re actually using Flow syntax that is supported by react-docgen by default. But as soon as you start using something, that isn’t supported by Flow, like `public` it stops to work.

[2017-11-07 08:26] sapegin commented on #659
Cook, feel free to help with #621 anyway ;-)

[2017-11-07 08:26] #659 closed

[2017-11-07 14:49] #665 closed

[2017-11-07 14:55] sapegin commented on #663
I think first two issues are related to changes in #617 and definitely a bug that we should fix. Last too looks like routing issue described in #494.

[2017-11-07 14:57] sapegin commented on #467
Routing is a big issue described in #494 but we can probably fix an error here.

[2017-11-07 15:01] #630 closed

[2017-11-07 15:02] sapegin commented on #599
I’m closing this for now. Feel free to submit a pull request if you have an idea how this could be improved.

[2017-11-07 15:02] #599 closed

[2017-11-07 15:07] #465 closed

[2017-11-07 16:43] Memoyr opened #675 "suppor for react-native?"
Hi ,
Sorry I can't find information about if styleguidist will work with react-native components ?
If no, is it on your roadmap ?

Thanks

[2017-11-07 17:36] sapegin commented on #675
Try it, I don’t know ;-)

[2017-11-07 17:41] sapegin commented on #653
Closing this for now. Feel free to reopen if you still have this issue.

[2017-11-07 17:41] #653 closed

[2017-11-07 18:37] Memoyr commented on #675
ok thanks , I will.

[2017-11-07 18:37] #675 closed

[2017-11-07 21:26] sapegin commented on #663
Please have a look at my attempt to fix it: #676. Looks like it fixes all four issues. I see the nasty error only when I try to navigate to a non-existent example.

[2017-11-07 22:50] unindented commented on #663
Wow, nice! Thank you for tackling this! (I still don't have enough familiarity with the internals to evaluate your solution, sorry.)

[2017-11-08 12:04] okonet commented on #668
I'm more wondering since I'm integrating it at Feedly right now ;)

[2017-11-08 15:49] #576 closed

[2017-11-09 15:45] #663 closed

[2017-11-09 15:47] #467 closed

[2017-11-09 17:31] sapegin opened #677 "Pass process.env.NODE_ENV to webpack.DefinePlugin"
1. Pass `process.env.NODE_ENV` to `webpack.DefinePlugin` instead of Styleguidist environment (server → development, build → production):

https://github.com/styleguidist/react-styleguidist/blob/043ba230d5238e3e859a4c1521a42d42f3d06fe6/scripts/make-webpack-config.js#L44-L48

2. Add `STYLEGUIDIST_ENV` `webpack.DefinePlugin` that equals Styleguidist environment.

3. Use `STYLEGUIDIST_ENV` to check if

[2017-11-10 18:01] Gregor1971 commented on #675
@Memoyr, I just got styleguidist working with react-native.  See [this branch ](https://github.com/Gregor1971/react-native-elements/tree/react-native-web)for an example.

[2017-11-11 00:51] gscottolson opened #678 "Styleguide previews have extra unstyled wrappers"
Thanks for working so hard on React Styleguidist. I am loving what I am seeing.

I want to know if there is a quick fix to this issue. I am happy to open a PR with solution, but maybe I am missing something obvious.

I want to style a preview to be a specific height. My embedded React component uses`height: 100%`, which means it relies on the parent element’s height. I can style the `example wrapp

[2017-11-11 12:33] sapegin commented on #678
Yeah, it won’t be easy. These two divs are rendered here:

https://github.com/styleguidist/react-styleguidist/blob/29b8f9039419c43b368eaeea88fce40950700a72/src/rsg-components/Preview/Preview.js#L153-L154

This is also connected to a new plugin API — I may have made it worth with the new Container component — #505.

For your use case I’d suggest to try to replace the Wrapper component — it’s render

[2017-11-12 14:28] #677 closed

[2017-11-13 03:18] esturcke opened #682 "Changes in `assetDir` do not cause a reload in dev server"
The dev server does not reload the page when files in `assetDir` change. I'm not sure if this is intentional, but I would find it helpful if the page would reload.  I think [`watchContentBase`](https://webpack.js.org/configuration/dev-server/#devserver-watchcontentbase) in `create-server.js` would get the dev server to reload.

This can be reproduced with [this repo](https://github.com/esturcke/st

[2017-11-13 07:38] sapegin commented on #682
Could you try `watchContentBase` and check if it helps here? You can set it via webpack config.

[2017-11-13 09:11] sapegin commented on #675
@Memoyr Would be nice if you can add some info to the docs ;-)

[2017-11-13 09:18] 1cc opened #683 "Issue with recognizing es6-notation in type-detect dependency"
When I run or build the styleguide with npm, I get the following error:

\node_modules\type-detect\index.js:49
 export default function typeDetect(obj) {
 ^^^^^^

SyntaxError: Unexpected token export
    at createScript (vm.js:74:10)
    at Object.runInThisContext (vm.js:116:10)
    at Module._compile (module.js:533:28)
    at Object.Module._extensions..js (module.js:580:10)
    at Module.load (mo

[2017-11-13 09:19] sapegin commented on #683
It was fixed already, remove `package-lock.json` and reinstall your dependencies.

[2017-11-13 09:19] #683 closed

[2017-11-13 12:06] einarlove commented on #393
Why was `@return` not included in this feature?

[2017-11-13 13:53] ankri commented on #393
I forgot to add `@return` on `props`, my bad.  Public methods do support `@return`.

A PR has been created that adds `@return` for props: #684

[2017-11-13 15:04] Gregor1971 commented on #675
I'm making an example using styleguidist that will have a simpler configuration than the one I linked.  We should use that once it's done.  I'd be happy to submit a PR for the docs.

Just to be clear - this is using react-native-web, so it's not full react-native.  Full react-native would require a substantial re-write of styeguidist.

[2017-11-13 16:12] esturcke commented on #682
Yup, this works:

[code]

[2017-11-13 16:19] esturcke commented on #682
To keep using CRA's webpack config, it looks like I can do something like:

[code]

[2017-11-13 19:45] sapegin commented on #682
Cool! Do you want to send a PR that enables watchContentBase?

[2017-11-13 19:49] esturcke commented on #682
Sure, I can work on this. Did you want this as a configuration flag or always set to true? Defaulting to true would be good for me, but I'm not sure if there are drawbacks. I'm not sure why webpack decided to default to false.

[2017-11-13 19:52] sapegin commented on #682
I would enable it when `assetDir` is set. I don’t think we need an extra flag for that.

https://github.com/styleguidist/react-styleguidist/blob/8f76515c7d5cec85c01ba512a340a4eac8d53f0d/scripts/create-server.js#L19

[2017-11-13 21:35] #682 closed

[2017-11-14 06:34] esturcke opened #686 "Flow type React.Node not recognized"
Would it be possible to update to react-docgen v3.0.0-beta9? I'm using `React.Node` flow types and it looks like [beta 9](https://github.com/reactjs/react-docgen/pull/224) now recognizes that. Right now I am getting "unknown" for many of my prop types.

[2017-11-14 08:42] sapegin commented on #686
Feel free to send a pull request with an update ;-)

[2017-11-14 09:59] n1313 opened #687 "Suggestion: a configuration option to render props below examples"
Today, prop definitions are rendered above usage examples, and I think this arrangement makes it slightly more difficult for a new reader to understand how the component is supposed to be used, because it is difficult to put props and their values into proper context without seeing the final result (the live example) and seeing *what it does*. If you don't know a component well and it uses some sp

[2017-11-14 10:17] n1313 commented on #568
@brianokeefe I don't think RSG does this. But you can do it manually with a little bit of configuration magic:

In styleguidist.config.js:

[code]

[2017-11-14 10:24] sapegin commented on #687
I’d rather change the default view than add one more option. But I’d like to hear other opinions.

/cc @okonet @SaraVieira

[2017-11-14 14:24] bluetidepro commented on #687
@sapegin I think the issue here is you will always have people that want them in specific order. Like, for example, I prefer the way you have it today than this. I would not like this change as the default personally. Maybe you could just make it a config array so you could put them in any order in a custom array and it would output in that order you specify. Something like `['title', 'description

[2017-11-14 14:28] sapegin commented on #687
You can already do this by overriding a component. Maybe it would be better to make this simpler.

[2017-11-14 14:47] #686 closed

[2017-11-14 14:48] sapegin commented on #666
Closing this for now. Feel free to reopen with more information.

[2017-11-14 14:48] #666 closed

[2017-11-14 14:49] sapegin commented on #661
Closing this for now. Feel free to reopen with more information.

[2017-11-14 14:49] #661 closed

[2017-11-14 17:58] okonet commented on #687
This makes sense but I think what makes even more sense is to make those props interactive somehow. Probably this is something that should be evaluated after the plugin API is done?

[2017-11-14 18:24] sapegin commented on #687
@okonet It depends on what do you mean by interactive. But this tab bar with props is already extensible, but don’t have an external API for that (which is #505).

[2017-11-14 23:49] WaldoJeffers commented on #687
It's an interesting feature, but putting the props table *after* the examples can have a downside: if there are many examples, it makes it easier to completely miss. In my usage of RSG, I often show a very simple use case of the component, add a bit of text, and then add several examples displaying roughly all possible combinations of props. If the props table was at the end, some people might not

[2017-11-15 03:26] n1313 commented on #687
@WaldoJeffers https://react-styleguidist.js.org/docs/configuration.html#showusage

[2017-11-15 08:02] sapegin commented on #687
Looks like we shouldn’t change default order. So I’d suggest to make `ReactComponentRenderer` easier to modify. I’d remove all styles and replace them with [react-spaceman](https://github.com/sapegin/react-spaceman).

https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/ReactComponent/ReactComponentRenderer.js

[2017-11-15 08:16] siddharthkp commented on #687
Came here to start exactly this discussion 😄

1. Props after example

    It does make sense for new users to look at the examples first and then look at the props table, but for repeat users, it's exactly the other way round. Now, it's difficult to comment which is more common, it depends on the context of your library. Open source libraries and internal libraries will have opposite use cases.

[2017-11-15 15:59] isratc opened #691 "How can I add in Third party plugin into the styleguide config file"
Hiya
Im trying to create a project which uses styleguidist, and a third party library called antd = https://ant.design/, this UI library has ready made components, ready to use in the react component file which is going to be pulled through into the styleguidist

for example component file:
[code]
I am unable to add the third party plugin into the styleguidist styleguide config file
[code]
or
[cod

[2017-11-15 17:01] sapegin commented on #691
Looks like you’re misunderstanding what plugins are. `antd` is not a plugins and it’s not related to Styleguidist in any way.

This won’t work and you don’t need to do that.

Since I don’t know what do you have in your Markdown examples, I can’t tell you why it doesn’t render your components. As I’ve told you before, make an example project that I can run and debug.

[2017-11-15 18:41] newswim commented on #691
I've started a Styleguidist project for Ant Design. The only trick had to do with setting up some overrides in the webpack config.

See: https://github.com/newswim/styleguidist-ant-design

[2017-11-15 23:38] gscottolson commented on #678
Documenting my fix for others…

I was able to style these wrapper `<div>`s using JSS nested syntax:

[code]

[2017-11-16 00:37] Memoyr commented on #675
ok thank you @Gregor1971

[2017-11-16 08:41] sapegin commented on #678
I think we can close this.

[2017-11-16 08:41] #678 closed

[2017-11-16 13:46] sapegin commented on #195
@M-ZubairAhmed Only checked ones are done. And there’s an abandoned PR for the ribbon.

[2017-11-17 14:46] isratc commented on #691
Thankyou so much @newswim  ill take at look =)

[2017-11-18 08:29] mikeaustin commented on #661
It may be true that it’s bad practice, but the user experience remains. I feel a message stating that it must be installed locally would be nicer than an erroneous error. My $.02. FYI, I love the live editing!

[2017-11-18 14:24] kizu commented on #195
What I would love to have is to have some way to configure example both per example (maybe in a way the `static` keyword is done? i.e. in the first line after the language), and per section (so we could have one style of example in one part of docs, and another — at another).

Things I would like to configure:

1. The default state of the example: if the code is visible or folded. Right now we can

[2017-11-18 15:21] sapegin commented on #195
1. You can do it with `showCode` modifier, or `{ "showCode": false }`.

2. Any ideas on the API?

3. That’s for plugins ;-)

4. It would be very hard to get rid or them, if possible. What’s the issue here?

[2017-11-19 01:15] pke opened #692 "Reset state after example"
Is there a way to further isolate examples?

I have 2 examples that are using a function to modify some kind of registry
`addExtension("Hello1", MyExtension1)`
`addExtension("Hello2", MyExtension2)`

However when the 2 examples have been run the registry then contains "Hello1" and "Hello2". In true isolation the registry should only always contain one either "Hello1" or "Hello2" at any time.

Ther

[2017-11-19 08:54] sapegin commented on #692
Looks like you need to restructure your code and make it easier to test.

[2017-11-19 10:27] pke commented on #692
Maybe. But the setup works in real apps just fine. The idea is there is global, app wide registry for extensions. All this is also very testable in my unit tests. Adding a function to the registry to clear it would still not help in this case, as examples can not run this code, because the last line in the example must be the rendered component.

[2017-11-20 12:12] kizu commented on #195
1. Was that mentioned somewhere in the docs? If so, I have completely missed it :) Also, are all of the options that are available for configuration in `styleguid.config.js` could be used this way or just a subset?

2. Hmm, I'd need to think more about it, but it would be nice to have a way to register the different layout components as an object with different keys probably? And then use them as

[2017-11-20 15:29] aversini opened #693 "Allowing "CODE" label to be changed via configuration?"
While many places in Styleguidist are configurable, the one label that is giving trouble to our own customers is "CODE". While obvious to my teammates, it is not very clear to non-devs like Visual design or QA folks.

I've used the following configuration to reverse the uppercasing, but I was wondering if there was a way to completely change it (to something like "View code") via configuration?
Le

[2017-11-20 17:17] sapegin commented on #693
That’s a tricky question because technically it’s a plugin and it won’t be easy to make such an option. I’m fine to rename it to “View Code” by default but I feel like your question is related to general customization of this area that are discussed in #195 — if you have any ideas, feel free to comment there.

[2017-11-20 17:18] sapegin commented on #693
We can also move `textTransform` to the theme, it will be easy to change for the whole UI.

[2017-11-20 17:25] sapegin commented on #195
1. Looks like no :-( Would be nice to fix that.

2. Yeah, something like that may work, we need to try something. Maybe something similar to CSS Grids? Not sure will be easy to use or implement ;-)

3. I’m going to release the very first draft to 6.1.0. It will be almost useless, but you’ll be able to try and tell me what’s missed ;-)

4. Do you mean a `div` that you have to use in examples to wra

[2017-11-20 18:14] aversini commented on #693
Thanks @sapegin , as a first step, changing to "View Code" would help a lot. Want me to create a PR?

[2017-11-20 18:44] sapegin commented on #692
I’m not sure we should support hat in Styleguidist. How about using dependency injection and make the function with side effect replaceable via props?

[2017-11-20 19:09] pke commented on #692
I'm thinking about using react context. Which would not change the signature of the component. It would then either use context or the global function to get its data.

[2017-11-20 19:09] #692 closed

[2017-11-20 19:22] lifeiscontent opened #694 "use same build strategy as create-react-app"
using the path from homepage, create-react-app will built its assets relative to the url you've specified.

Example: https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#github-pages

it would be cool if react-styleguidist followed these conventions as well so I don't have to create my own rewrite strategy.

[2017-11-20 20:55] sapegin commented on #694
Could you please elaborate how exactly it should work? I guess reading the same field won’t help.

[2017-11-21 02:22] lifeiscontent commented on #694
whatever is after the domain name is used to map assets to their proper destinations.

e.g. if the styleguide was hosted at `https://example.com/foobar` all relative urls would have `/foobar` as a prefix to their original urls.

[2017-11-21 02:22] lifeiscontent commented on #694
@sapegin

[2017-11-21 07:18] larabueno-paloit opened #695 "Question: How does styleguidist determine the initialState in the code?"
Hi!

May I know how does styleguidist determine the initialState, the functions or the things that needs to be rendered in the code?

Thanks!

[2017-11-21 07:46] sapegin commented on #695
Not sure I understand your question, `initialState` is described here: https://react-styleguidist.js.org/docs/documenting.html#writing-code-examples

[2017-11-21 07:53] larabueno-paloit commented on #695
Thanks for the link but I'm more curious to know how the styleguidist handles it? not really the usage of it.

[2017-11-21 08:03] sapegin commented on #695
You can check the code ;-) Basically it wraps your example code in a component with a state and then eval the example code wrapped in `with` that has `initialState` setter that calls `setState` of the wrapper component:

https://github.com/styleguidist/react-styleguidist/blob/a02e79362665d1db02c922e2d072317aa25ecd24/src/rsg-components/Preview/Preview.js#L124-L135

[2017-11-21 08:27] larabueno-paloit commented on #695
Thanks for the quick response! I'll just check the file then :)

[2017-11-21 08:27] #695 closed

[2017-11-21 10:45] sapegin commented on #694
So you want a similar option in Styleguidist config? Feel free to send pull request for that.

[2017-11-21 11:03] sapegin commented on #693
Yep, sure!

[2017-11-21 14:32] aversini commented on #693
Cool, here it is #697

[2017-11-21 14:58] #693 closed

[2017-11-22 07:37] thecodejack opened #698 "unable to customize TabButtonRenderer"
I am trying to customize TabButtonRenderer by following config.

[code]

custom `StyleGuideRenderer` is taken properly and work fine but fails to do same with custom `TabButtonRenderer`. I tried debug the issue and even observed that paths are added correctly to webpack.resolve in `make-webpack-config.js`.

react-styleguidist: 6.0.33
webpack: 3.8.1
react: 15.6.2

[2017-11-22 07:52] sapegin commented on #698
I’ll need to debug it too. It looks correct: your code and the original TabButtonRenderer component.

[2017-11-22 08:38] thecodejack commented on #698
debugged the issue. my bad. Started working with `TabButton` rather `TabButtonRenderer`. Following worked.

[code]

Closing this here. It would be better if we have list of possible renderers and respective keys needed in documentation.

[2017-11-22 08:38] #698 closed

[2017-11-22 08:39] sapegin commented on #698
Feel free to send a PR if you can find a way to generate such a list ;-)

[2017-11-22 12:38] thecodejack commented on #698
Sure..will do

[2017-11-22 20:04] pke commented on #692
I found a solution for my component. It uses now the provider pattern known from `redux` and others and its very good testable now. It can also run examples in styleguidist now in isolation.

[2017-11-23 12:28] MoeSattler commented on #37
@mxstbr

Let me get this straight, so building a component like this is not recommended?
[code]

it seems weird to me that I'd have to rewrite it to this:
[code]

[2017-11-23 13:36] mxstbr commented on #37
@MoeSattler no no no no that's 100% correct what you're doing there. It's just that the example given by @albermav had the `class`, so I kept it.

What we don't recommend:

[code]

Instead of doing that, do this:

[code]

It's even better when you can directly export the styled component, that's 100% perfect:

[code]

That's what we want, I just assumed @albermav had a reason for the `class` there

[2017-11-23 14:20] sapegin commented on #613
@SaraVieira Not sure I understand what you mean here ;-|

[2017-11-23 14:31] MoeSattler commented on #37
thanks for the clarification @mxstbr

[2017-11-23 15:24] sylvainar opened #699 "No live reload on CSS Modules"
Hey !

My team and I are using styleguidist on a new project, and we're using css modules and scss. For each component, I've got a folder looking like this:
- Component
  - Component.jsx
  - Component.md
  - Component.scss

The problem is that I save my .scss file, it doesn't autoreload the styleguide.

Thanks !

[2017-11-23 15:49] sapegin commented on #699
We have a `customised` example in the repo that uses CSS Modules and it works fine. I also use CSS Modules with Sass at work without any issues.

Please make a demo project that we can debug based on this repo: https://github.com/styleguidist/example

[2017-11-23 19:51] Harshit369 opened #700 "How to use Material Icons in documentation?"
Is there any way to render Material Icons that I have been using through CDN like this?
[code]
It displays the icon name rather than the actual icon.

Thanks!

[2017-11-24 05:41] ajainvivek commented on #127
I started a new project for [preact-fluid](https://github.com/ajainvivek/preact-fluid) a minimal UI kit for `Preact`

<img width="696" alt="screen shot 2017-11-24 at 4 37 57 pm" src="https://user-images.githubusercontent.com/1182600/33196933-42a9472c-d136-11e7-858a-a270109dfb2f.png">

Docs created with styleguidist: https://ajainvivek.github.io/preact-fluid/

[2017-11-24 08:25] sapegin commented on #700
Please make an example as [described here](../blob/master/Issue_Template.md).

[2017-11-24 12:55] sapegin commented on #691
Closing this for now. Feel free to reopen with more information.

[2017-11-24 12:55] #691 closed

[2017-11-24 12:56] #664 closed

[2017-11-24 13:00] #652 closed

[2017-11-24 13:03] sapegin commented on #658
It should be possible now — #690.

[2017-11-24 13:03] #658 closed

[2017-11-24 13:05] sapegin opened #701 "Easy way to set style to body"
- Find a way to do that (I guess via [styles](https://react-styleguidist.js.org/docs/configuration.html#styles) option, it may be already supported)
- Do not add new options
- Document in the cookbook

[2017-11-24 13:07] sapegin opened #702 "Theme variable for tab button text transform style"
Add a new variable to the [theme](https://github.com/styleguidist/react-styleguidist/blob/master/src/styles/theme.js) and use it instead `textTransform: 'uppercase'` in the [TabButton](https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/TabButton/TabButtonRenderer.js) component.

[2017-11-24 13:53] sapegin opened #703 "Incorrect cursor on headers"
It shows text cursor instead of a pointer:

![image 2017-11-24 at 2 52 58 pm](https://user-images.githubusercontent.com/70067/33213281-3ad7483c-d127-11e7-9e86-db90d8a71136.png)

[2017-11-24 13:55] sapegin opened #704 "Format docs with Prettier"
* Add script to `package.json` that will format Markdown files with Prettier.
* Run it as part of `npm test`

Config could be similar to https://github.com/sapegin/blog.sapegin.me/blob/master/.prettierrc

[2017-11-24 14:29] sapegin commented on #127
@ajainvivek Look cool!

[2017-11-24 17:26] lifeiscontent opened #705 "Using recompose components don't get found"
As title describes, when I create a UI component using recompose react-styleguidist doesn't pick up that it's a react component and doesn't render it to the styleguide. E.g. when using the`componentFromProp` hoc.

[2017-11-24 19:00] sapegin commented on #701
It’s already possible but undocumented:

[code]

[2017-11-24 20:24] UmenR commented on #704
Hey @sapegin  I'd like to take this up! but before i start i have a question to ask. Im  a tad new to this so if i want to run prettier as part of `npm test` i could add it to the end of the current test script with a semicolon right? but doing so would mean that if jest failed prettier wont run either. Im assuming that's not an issue ?  and also do you want me to format the all the `.md` files be

[2017-11-24 20:40] sapegin commented on #704
@UmenR Hey! Thanks for your interest, there’s a PR already: https://github.com/styleguidist/react-styleguidist/pull/709

There are two ways chain npm scripts:

1. Use `&&`: `npm run test:jest && npm run format:md` — in this case if Jest fails it won’t run Prettier.
2. Use `pre*` or `post*` scripts like `pretest` or `posttest`, you can find an example in our package.json.

[2017-11-24 20:47] UmenR commented on #704
Oh did not see that PR :smile:  Thanks for the response :+1:

[2017-11-25 00:22] pke commented on #209
Running into the same problem with this as the only component in the styleguidist config:

[code]

[2017-11-25 05:57] jeradrutnam opened #710 "ComponentsListRenderer extending not works"
Tried extending the `ComponentsListRenderer.js` component. And it s not working as expected. I tried extending other `*Renderer` components and works fine, except this one.

styleguide.config.js

[code]

[2017-11-25 19:20] sapegin commented on #710
Please make a demo project that we can debug based on this repo: https://github.com/styleguidist/example

[2017-11-26 11:09] KrickRay opened #711 "Disable HMR option"
We do not use HMR in projects. Now I could not disable HMR either through webpackConfig, or through dangerouslyUpdateWebpackConfig.

[2017-11-26 17:00] sapegin commented on #711
What issues do you have because of HMR?

[2017-11-27 09:11] sapegin commented on #705
I believe this will fix that: #657.

[2017-11-27 14:55] brianokeefe commented on #568
Here's what we ended up doing:

We actually probably have a bit of an uncommon setup, as we use styleguidist in two separate ways. We use it as a workbench for development for each of our individual components (each in their own package) and then we have a "global" styleguidist that pulls in all of our components and builds static documentation for them. Because we have two different styleguidist

[2017-11-28 03:57] jeradrutnam commented on #710
Sure I will do. :)

[2017-11-28 19:04] KrickRay commented on #711
@sapegin I think we could get over it. I just wanted more configuration. Perhaps you can close or leave for discussion, because unfortunately I did not check everything up to the end and the self-written version  was based on your loaders.  It would be nice if you made them in separate packages.

[2017-11-28 21:42] pke opened #712 "styleguideDir not recognized"
using `"react-styleguidist": "^6.0.33"`

and

[code]

It still builds into the `styleguide` folder.

[2017-11-28 21:57] pke commented on #712
Nevermind, I was editing the wrong file :(

[2017-11-28 21:57] #712 closed

[2017-11-29 07:52] sapegin commented on #711
I believe you’ll be able to disable HMR after: #690.

Which loaders do you mean?

[2017-11-29 08:27] sapegin opened #713 "Investigate JSX fragments"
Could be useful to show multiple examples of a component:

[code]

→

[code]

https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html

* To enable fragments support in code examples we’ll need dependencies to support them first:
  * ~~Buble: https://github.com/Rich-Harris/buble/issues/62~~
  * ~~CodeMirror: https://github.com/codemirror/CodeMirror/issues/5101~~
  * ~~Highlight.js s

[2017-11-29 16:15] igoldny opened #714 "styled-components not detected with @component annotation"
i get this error:
[code]

For this code:
[code]

simple styled-components component with @component annotation as suggested.
what am i missing?

[2017-11-29 16:17] sapegin commented on #714
It will be released in [6.1.0](https://github.com/styleguidist/react-styleguidist/milestone/8).

[2017-11-29 16:17] #714 closed

[2017-11-29 20:45] Memoyr opened #715 "Styled-components ThemeProvider solutions ?"
Hi,
Anyone tried to use it with styled-components [ThemeProvider](https://www.styled-components.com/docs/advanced#theming) ?
I have tried without any success to implement with a Wrapper similar as what is documented for Redux [here](https://react-styleguidist.js.org/docs/thirdparties.html#styled-components).

[2017-11-29 21:34] Memoyr commented on #715
Actually, I got it working.
I had similar problem as seen in here [#578](https://github.com/styleguidist/react-styleguidist/issues/578)

[2017-11-29 21:40] #715 closed

[2017-11-30 01:26] darrylsepeda opened #716 "Passing props from wrapper to child components"
I've checked the issues and can only found 1 almost related to what I want to ask (https://github.com/styleguidist/react-styleguidist/issues/678).

In that issue he asked about how to change the style, but all I want to know is how to pass props from parent to child components.

I want to make something like storybook, user can change the props of the component by clicking on the options (in story

[2017-11-30 02:08] darrylsepeda commented on #716
Just find similar issue here https://github.com/styleguidist/react-styleguidist/issues/327.
I will close this issue and join there

[2017-11-30 02:08] #716 closed

[2017-11-30 08:14] darrylsepeda commented on #327
Does this plan still ongoing?
Is there anything I can do to help realizing this plan?

Previously I tried to add additional combobox in wrapper.js, but everytime I change the value, wrapper.js can't pass the new props to the child components (I can't find any ways to pass it in preview.js). I also don't understand how codemirror works, is it possible for codemirror to read our changes?

[2017-11-30 08:17] sapegin commented on #327
@darrylsepeda Thanks for your interest! Any help with the plugin API would be the most valuable: #505.

What changes do you mean? But I guess it’s possible because it updates the code every time you edit examples in Markdown files.

[2017-11-30 08:26] darrylsepeda commented on #327
Thanks @sapegin, I will take a look at the API.

I mean, the changes that has been made by user in the website (come from our function).
For example, user choose size: 20px from combobox, if I change the Markdown files from combobox onChange, the website will be refreshed everytime user change the combobox value right?

[2017-11-30 08:30] sapegin commented on #327
Looks like you shouldn’t change the Markdown directly as a reaction to change in combobox but some state and than filter Markdown before each render. That’s a good question for plugin API ;-)

[2017-11-30 11:19] jprivillaso opened #717 "Hot Module Replacement not working when Using Node API"
HI!

I am using React Styleguidist with the Node API. I realized that when calling directly the server method, Hot Module Replacement is not working.

[code]

Do you have any ideas on how to make it work? As I saw in the documentation, server method does not receive extra config parameters.

Thank you

[2017-11-30 14:10] stereobooster commented on #115
But does it support Flow type definitions like:

[code]

It seems not. Still looking into it

[2017-11-30 18:32] jprivillaso commented on #717
I'm closing this issue because I found my error. It should be configured the same was as webpack API docs indicates.

[2017-11-30 18:32] #717 closed

[2017-11-30 22:21] pke opened #719 "Uncaught ReferenceError: process is not defined"
I am getting this whenever I am including a component in my config that accesses `process.env`.

I am on `"react-styleguidist": "^6.0.33"` and that is my config:

[code]

The `BookedOption.js` makes problems.

Unfortunately the stack trace in Chrome is not very helpful, it does not show the JS source but just some souremap.

[code]

[2017-11-30 23:39] pke opened #720 "Tagged template strings are not supported"
I want to include the following styled-components example:

[code]

But rendering fails with this error message:

[code]

Is this a react-docgen error or coming from react-styleguidist? It fails to mention where I have to put the `transforms: { templateString: false }`

[2017-12-01 07:51] sapegin commented on #720
You can enable it here: https://react-styleguidist.js.org/docs/configuration#compilerconfig

[2017-12-01 07:51] #720 closed

[2017-12-01 07:52] sapegin commented on #719
Please make a demo project that we can debug based on this repo: https://github.com/styleguidist/example

[2017-12-01 08:42] pke commented on #720
@sapegin I added this:

[code]

or

[code]

or

compilerConfig: {
  templateString: false,
[code]

[2017-12-01 18:02] sanjsanj commented on #701
@sapegin Is this issue still open and has the scope just changed to document the feature instead?

[2017-12-02 09:59] sapegin commented on #701
@sanjsanj Exactly!

[2017-12-02 18:20] sanjsanj commented on #701
@sapegin Perhaps I could pick it up then if you don't mind :)

No idea what to do but I'll fork the repo and have a look.

[2017-12-03 07:41] probablyup commented on #613
Not sure if @sapegin has it exposed, but `markdown-to-JSX` has this capability: https://github.com/probablyup/markdown-to-jsx

[2017-12-03 11:50] sapegin commented on #701
I think the best way is to expand this question with an example from my comment above: https://react-styleguidist.js.org/docs/cookbook.html#how-to-add-custom-javascript-and-css-or-polyfills

[2017-12-03 11:58] sanjsanj commented on #701
Cheers!  I'll look at that now.  I have been looking at this issue and will come back to you with further questions asap.

[2017-12-03 14:27] sanjsanj commented on #701
@sapegin Apologies for the hassle but I have some questions:

- Would it make sense to include this in the [#how-to-change-styles-of-a-style-guide](https://react-styleguidist.js.org/docs/cookbook.html#how-to-change-styles-of-a-style-guide) section, and expand a little bit more on how to reference the CSSinJS API to construct styles here?

(This is my first time using your package and at first it w

[2017-12-03 14:45] sapegin commented on #701
No, it won’t change style guide styles, only style of user components.

Nice catch! We should add it to the list. Here is the full list of available plugins:

https://github.com/styleguidist/react-styleguidist/blob/3fce9f2af736dd459301593c99ef4e4aaebabc36/src/styles/setupjss.js#L2-L7

I think the most common would be setting a font face, otherwise, if you don’t set font face explicitly in each com

[2017-12-03 16:33] sanjsanj commented on #701
Just opened a PR, not sure if it's what you had in mind or not but let's get the ball rolling.

Awaiting feedback  :-)

[2017-12-03 17:27] ryanoglesby08 commented on #613
Yep @probablyup the capability is not directly exposed to the consumer of react-styleguidist quite yet. I'm working through some PRs (#650 and #651 already merged) to introduce more components into the markdown parsing so that the consumer can specify their own.

The entire list of components to create is in this PR --> #619, if anyone else wants to help out!

(@probablyup Thanks for the awesome m

[2017-12-03 18:50] #701 closed

[2017-12-04 09:49] sapegin commented on #699
Closing this for now. Feel free to reopen with more information.

[2017-12-04 09:49] #699 closed

[2017-12-04 13:52] BruceHubbard opened #723 "Console is being cleared and hiding warnings"
`Styleguidist Version`: 6.0.33

I recently upgraded my `react-styleguidist` version and now the React warnings I used to see are gone (I'm using Chrome) and all I see is a row saying the console has been cleared and it points to this line:

https://github.com/xjlim/react-styleguidist/blob/7f2863b47a875b2a699d51cb8ef0d190faeb31e8/src/rsg-components/Preview/Preview.js#L52

Anyone else having this pr

[2017-12-04 17:53] sanjsanj commented on #703
Is the desired behaviour that it should just show a pointer and no underline on hover on desktop, and click on device?

[code]

[2017-12-04 18:43] sapegin commented on #703
It has an underline on hover already, but it has incorrect cursor.

[2017-12-04 19:40] #723 closed

[2017-12-05 05:32] sidharthmehra commented on #700
@Harshit369 you can add a styleguide.config.js
and within it:
[code]
In template.html add ```<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">``` within the head tag.

[2017-12-05 06:24] ttiurani commented on #464
@Andarist thanks for these, they were of great use. It would be awesome if react-styleguidist could offer an official metadata API, which could be used to get information about all of the examples, their urls and selectors to them. Like the ones here https://github.com/livechat/styleguidist-scrapper:

[code]

Something like localhost:6060/metadata ?

[2017-12-05 07:56] sapegin commented on #464
@ttiurani It sounds like a great idea! Should it be a REST or Node API?

[2017-12-05 09:32] Andarist commented on #464
I'd say node API would be more useful - however the `title` part of my proposed metadata is based on the assumption on having some text (which gets rendered as paragraph) just above the code snippet. Would be great to have some official way to name specific examples.

[2017-12-05 10:34] ttiurani commented on #464
How would the node API work? I'm spinning up the styleguidist with `npm-run-all` in another thread and running jest in another. From the jest test a REST call is trivial, but how could I call a node API?

And yeah, having a totally isolated URL for the example would be easiest: I made the assumption that the example has a h3 element in front of it, which works for us.

[2017-12-05 10:37] sapegin commented on #464
Node API maybe useful for other tools but I’m just asking ;-) In any case it would be easy to expose if we need it.

[2017-12-05 10:43] ttiurani commented on #464
Yeah, having both a REST endpoint and a node API is of course the best choice. And if there was some official way to add a title/id for each example in the markdown file, that would be even better.

Anyway, this suggested scraping solution is quite brittle, so having an official way to do this would be great.

And thanks for this project btw, it's super useful!

p.s. A slight bug report: from the

[2017-12-05 10:46] sapegin commented on #464
Any help with this API would be super awesome! 🦄

Better to open a separate issue with some use cases.

I think it will be fixed in 6.1. But please open a new issue if you find another bug.

[2017-12-05 12:41] renancouto opened #726 "Custom DefinePlugin being ignored"
I am trying to pass some env vars to my components using webpack's `DefinePlugin`, but I keep getting only `{ NODE_ENV: 'development' }` on `process.env`.

I forked the [example](https://github.com/renancouto/example) repo, as an example. This is my setup: https://github.com/renancouto/example/commit/980967e7df67aaa0c26423a604c521f240586313

[2017-12-06 02:37] jmurret commented on #703
Should be fixed with this PR: https://github.com/styleguidist/react-styleguidist/pull/727

Chrome did not show this behavior for me, but Firefox did.  Verified that it was corrected with above PR.

[2017-12-06 07:33] #703 closed

[2017-12-06 07:54] #704 closed

[2017-12-06 07:58] sapegin commented on #726
That’s the reason:

https://github.com/styleguidist/react-styleguidist/blob/c39394c9850b51e17974d9331860260ebdebc84e/scripts/make-webpack-config.js#L44-L49

[2017-12-06 15:45] jmurret commented on #702
@sapegin, is something like this what you had in mind : https://github.com/styleguidist/react-styleguidist/pull/728 ?

I've tested it by changing it to capitalize and seeing the updated example 'VIEW CODE' change to 'View Code'.

Happy to modify this if you had something else in mind.

[2017-12-06 16:46] #702 closed

[2017-12-06 17:42] Harshit369 commented on #700
@sidharthmehra Thanks a lot !! It worked very well.
Just for anybody following this thread, you also have to add:
`<div id="app"></div>`
inside your <body> In your template.html file. Otherwise, it will throw something like this:
![Target container is not a DOM element.](https://user-images.githubusercontent.com/7912702/33676030-99350718-dada-11e7-9f4b-92b5b549d3dc.png)

[2017-12-06 17:48] sapegin commented on #700
More correct would be: you *should not* remove it.

[2017-12-08 15:56] albertogasparin commented on #713
+1 on wrapping examples in fragments automatically. So the consumer doesn't have to care and any code just works ;)

[2017-12-08 16:27] sapegin commented on #713
@albertogasparin That’s the hard part here because you can have something like this:

[code]

[2017-12-09 10:45] albertogasparin commented on #713
Well, I haven't looked at the current implementation but my thought was that anything before the first jsx element would have been treated as plain javascript, then from the first `<Something` will be wrapped with a `React.Fragment`. Am I wrong?

[2017-12-09 13:37] sapegin commented on #713
That’s very naïve: `<Something` is not necessary a JSX element, maybe `if (x<Something)`. The easiest way I see now is to wrap examples in `React.Fragment` only when they have JSX and no regular JS.

[2017-12-11 00:47] danwoodbury commented on #710
im getting this issue too, very strange

[2017-12-11 08:21] sapegin commented on #710
@danwoodbury

[2017-12-11 09:22] #726 closed

[2017-12-11 20:52] sapegin opened #733 "Support ESM in config file via @std/esm"
Support ECMAScript modules — `import` and `export` via [@std/esm](https://github.com/standard-things/esm).

[An example](https://github.com/webpack/webpack/issues/6072#issuecomment-350846801):

[code]

[2017-12-12 22:42] danwoodbury opened #735 "Using with lerna"
Im using this in a lerna package, which works to a certain extent except from a couple of issues.

My file structure is:
[code]

I can get styleguidist to see that there is a component there and get it to load the readme but it always displays the component title as **'index'**, so every component in the styleguide is named **'index'**. I have tried setting a handler exactly as shown in the docs b

[2017-12-13 07:28] sapegin commented on #735
Most likey it registers the component as `index`.

How do you export your component? I guess it’s an issue with [react-docgen-typescript](https://github.com/styleguidist/react-docgen-typescript):

https://github.com/styleguidist/react-docgen-typescript/blob/cf90374b93821f8d41257b21ec372d4b7975bda7/src/parser.ts#L349-L358

[2017-12-13 10:28] danwoodbury commented on #735
the component is exported in a standard way:
`export default class Button extends React.Component<ButtonProps, {}> {`

[2017-12-13 11:32] sapegin commented on #735
You need to use named exports as described in their docs.

[2017-12-13 12:45] danwoodbury commented on #735
can you give me an example of how to do this?

[2017-12-13 12:46] sapegin commented on #735
Please follow instruction in the docs: https://github.com/styleguidist/react-docgen-typescript

[2017-12-13 13:18] danwoodbury commented on #735
Perfect, all working well now. Thanks for the pointer in the right direction

[2017-12-13 13:18] #735 closed

[2017-12-13 13:55] Andarist opened #736 "components not parsed by babel"
So my intention is to transpile svg with babel and from what I can see you try to parse components found with a pattern on your own and deduce from the output if the file exports a React Component. It would be great to load components files first with other webpack loaders and then decide if its exporting a React component.

* Your style guide config (`styleguide.config.js`).
[code]
* Webpack vers

[2017-12-13 14:09] sapegin commented on #736
What issues you have with the current approach? It’s handled by react-docgen and it only works with the source code.

[2017-12-13 14:14] Andarist commented on #736
Well, I can't do any pre-compilation on my source files - in example svg -> js conversion. Transformed files could be stringified and passed to the `react-docgen` just fine. While I've managed to work around (for now) my svg problem, I think it would be nice to support i.e. babel macros, codegens etc and that would require transpiling stuff before passing it to `react-docgen`

[2017-12-13 14:20] sapegin commented on #736
Have you tested that your transpiled code actually works with react-docgen?

Sure, it may be a good idea.

[2017-12-13 14:27] Andarist commented on #736
Yeah, I've worked around the issue with:
[code]
and it works fine, but would be better to include this in more standard build pipeline - directly in styleguidist/webpack/babel configs instead of making an additional ninja script ;)

[2017-12-13 14:30] sapegin commented on #736
We can add a config option like `transformSource(code) => transformedCode`, sou you could apply any transformations like Babel before we send code to react-docgen, but it shouldn’t be some magic that we’ll enable by default — it works as is in 99% cases.

[2017-12-15 13:28] sapegin commented on #719
Closing this for now. Feel free to reopen with more information.

[2017-12-15 13:28] #719 closed

[2017-12-15 13:28] sapegin commented on #711
Closing this for now. Feel free to reopen with more information.

[2017-12-15 13:28] #711 closed

[2017-12-15 13:28] sapegin commented on #705
Closing this for now. Feel free to reopen if you still have this issue.

[2017-12-15 13:28] #705 closed

[2017-12-15 13:29] #700 closed

[2017-12-15 13:29] sapegin commented on #668
@okonet What should we do with this issue?

[2017-12-17 14:42] piotrwitek commented on #736
@sapegin this would be really useful as I could use this transformer solution to handle a different use case:
- I'd like to use Examples that I have written in seperate files with TypeScript, so then I can use them in code blocks, currently I have to use require, which is not and acceptable solution for me.

I need this transform to strip types and transpile it to ES6 then I could load files with

[2017-12-17 17:30] sapegin commented on #736
@piotrwitek This issue is about transforming source code, not examples. I think you’re talking about #462.

[2017-12-17 17:41] piotrwitek commented on #736
@sapegin now I got it (after reading development section), thanks and sorry for the noise

[2017-12-17 19:24] Andarist commented on #736
That would certainly make a better integration point.

[2017-12-17 19:48] sapegin commented on #736
@Andarist A pull request would make it much sooner ;-)

[2017-12-17 20:47] Andarist commented on #736
Sure thing, I'm willing to do this - just having many open PRs/ideas right now, so if anyone wants to do that before I get to it (eventually) feel free to do so!

[2017-12-18 23:51] arackaf opened #737 "Escape hatch to just add <link> tag to load a css file"
I searched all over, but came up empty.

Is there an escape hatch to tell react-styleguidist to "just add <link> tags for some css files I specify?"  I've already once in my life attempted to get all of webpack's loaders just right so bootstrap would load, but wound up quitting, and opting for a plain and simple <link> tag in my html file.

Does such an option exist here?

[2017-12-19 00:45] corygibbons opened #738 "Global components unavailable in component specific routes"
Noticing an issue with the `v6.1.0` release where when visiting a component specific route eg. _(http://localhost:6060/#!/Placeholder)_ all components other than `Placeholder` are not available.

`ReferenceError: Button is not defined`

Which seems to go against:

Example repo here: https://github.com/corygibbons/styleguidist-example

Works when you navigate from the main index, but as soon as you

[2017-12-19 02:37] arackaf commented on #737
For the benefit of anyone else finding this issue, the solution is to just use the template option, and provide your own html file with whatever script or link tags you want.

It seems styleguidis expects there to be a div with an id of app, so be sure to include that.  ie

[code]

[2017-12-19 02:37] #737 closed

[2017-12-19 02:55] corygibbons opened #739 "Font color in examples being overwritten in Safari"
I'm noticing that since `v6.1.0` font colors inside of component examples are being overwritten by `theme.color.base`. From what I can tell it only seems to be an issue in Safari (tested in `11.0.2`)

Code editor is being overwritten as well.

https://github.com/corygibbons/styleguidist-example/tree/font-color

**Chrome** (working):
![chrome](http://files.corygibbons.com/Screen-Shot-2017-12-18-at-

[2017-12-19 07:27] sapegin commented on #737
Would be nice to add an example here: https://react-styleguidist.js.org/docs/cookbook.html ;-)

[2017-12-19 07:29] sapegin commented on #739
Thanks for bug reports! I’ll have a look. (Feel free to send a pull request if have time to do so ;–)

[2017-12-19 09:16] SaraVieira commented on #739
I can verify this even though I believe this is a safari bug

I had to do -webkit-text-fill to be able to override and put the actual colors

[2017-12-19 11:10] gazzwi86 opened #740 "Unneccassary <p> tag in props and methods description"
v6.1.0

I have noticed the alignment in the props and methods description is off, due to an additional paragraph tag.  Simple enough fix, just thought I would flag it.  Will add a PR if I get change today.

<img width="542" alt="screen shot 2017-12-19 at 11 10 12" src="https://user-images.githubusercontent.com/1395135/34154376-37230de0-e4ad-11e7-9644-4aeeef80b899.png">

[2017-12-19 11:34] sapegin commented on #740
Thanks, PR would be very nice ;-)

[2017-12-19 11:41] frontsideair opened #741 "Add examples regression, entities are escaped"
I upgraded from `6.0.33` to `6.1.0` and when I click `Add examples to this component` I see this instead of 🍕:
<img width="948" alt="screenshot 2017-12-19 14 37 57" src="https://user-images.githubusercontent.com/868283/34155497-92234dbe-e4ca-11e7-9918-f97e472dc6aa.png">

[2017-12-19 12:19] gazzwi86 commented on #740
@sapegin it looks like the issue is with the Markdown plugin.  Is that required in this instance, since its just grabbing text from a code comment?

[2017-12-19 12:39] sapegin commented on #740
Yes, it’s required — we support Markdown in comment. And most likely it’s an issue in our code.

How to reproduce it? I don’t see it in the example style guide.

[2017-12-19 12:42] sapegin commented on #741
Thanks for bug report! I’ll take a look, but feel free to send a pull request if you have time ;-)

[2017-12-19 12:43] gazzwi86 commented on #740
The Proptypes here are those shown in the picture:

[code]

[2017-12-19 12:53] frontsideair commented on #741
Sure, I hope I'll have time, I've always wanted to contribute.

[2017-12-19 13:30] #738 closed

[2017-12-19 13:56] robcaldecott opened #742 "Style guide will not load (browser hangs)"
I've just upgraded to 6.1.0 from 6.0.33 and our style guide seems to build but will not display in any browser I have tried (it hangs and you're eventually prompted to kill the tab.)

Both development and statically built style guides exhibit the same issue.

Running with --verbose shows nothing out of the ordinary: it picks up the correct list of components, etc. But I cannot reproduce it with th

[2017-12-19 14:01] sapegin commented on #742
I can only suggest to remove things one by one until it start working, and then we’ll have an idea what’s wrong and how can we fix that ;-|

[2017-12-19 14:43] arackaf commented on #737
I'll see what I can do :)

[2017-12-19 14:56] #648 closed

[2017-12-19 15:49] sapegin opened #744 "Is it time to drop Node 4 support yet?"
* [Current LTS](https://github.com/nodejs/Release#release-schedule) are 6 and 8, Node 4 is in maintenance.
* [Jest 22](http://facebook.github.io/jest/blog/#good-bye-node-4-welcome-jsdom-11) isn’t supporting Node 4.
* [Webpack 4](https://github.com/webpack/webpack/issues/6064) will not support it (in alpha now).

I guess other tools will follow, so maybe it’s time to drop Node 4 in Styleguidist. Th

[2017-12-19 17:09] jaredwilli opened #745 "Customised example is not working"
When I cloned this repo and tried to run the customised example without changing anything at all it gives the error `Cannot find babel-core`.

So then I npm installed babel-core. When I did that it said `Cannot find preset env relative to the path directory`. So naturally I npm installed babel-preset-env. I removed the beta versions. Which of course created a whole new problem that I'm not sure ho

[2017-12-19 17:16] sapegin commented on #745
Seems to work fine for me. What did you do?

[2017-12-19 17:18] sapegin commented on #745
The error looks like `babel-preset-react` isn’t installed. Try to remove `node_modules` folder.

[2017-12-20 06:43] vchoisk opened #747 "Styleguide md files on a separate folder"
Is it possible to maintain all md files on a folder, instead of keeping them in the same directory as my jsx component?

I created a styleguide folder to keep all md files in and attempted to only add components that have md files in that folder to the styleguide.

here is my config for components

[code]

Any pointer or help is appreciated!

[2017-12-20 07:22] sapegin commented on #747
You should be able to return an absolute path in [getExampleFilename](https://react-styleguidist.js.org/docs/configuration#getexamplefilename).

[2017-12-20 07:22] #747 closed

[2017-12-20 08:33] vysinsky commented on #742
Hello, I have same issue in 6.1.0. I've found out the problem (at least for me) is HTML in Markdown:

https://gist.github.com/vysinsky/7f40d4673e5e84004bdbe08561ab1557 (see Release checklist)

CPU is on 100 % and page is indefinitely loading. When I load some other page where there is no such HTML styleguide loads correctly. There are no errors in console so I am not sure, how to debug it and prov

[2017-12-20 08:37] sapegin commented on #742
I guess it’s because of #725. @probablyup Could you please take a look?

[2017-12-20 08:42] #742 closed

[2017-12-20 08:43] sapegin commented on #742
I think it was https://github.com/probablyup/markdown-to-jsx/issues/136

[2017-12-20 08:49] sapegin commented on #742
If you remove `node_modules` and the lock file, and reinstall packages, it should pick up the new version.

[2017-12-20 08:52] sapegin commented on #740
I can’t reproduce it in an example styleguide:

![image 2017-12-20 at 9 51 58 am](https://user-images.githubusercontent.com/70067/34198642-6f4fc406-e56b-11e7-8244-d44cf3646049.png)

Please make a demo project that we can debug based on this repo: https://github.com/styleguidist/example

[2017-12-20 08:53] sapegin commented on #739
@SaraVieira Have you tried to debug what’s the issue?

[2017-12-20 08:53] vysinsky commented on #742
Great! Thank you.

[2017-12-20 09:02] sapegin commented on #739
I thinks that’s the reason:

https://github.com/iamstarkov/initize/blob/7eb1fcf721645bbc02f4b3bcba45de3856859bd4/all.js#L40

[2017-12-20 09:16] sapegin commented on #739
We have a bigger issue: syntax highlighting in CodeMirror doesn’t work at all in Safari in Styleguidist 6.1.

[2017-12-20 09:31] sapegin commented on #739
And it happens only in JSS 9 (f16a8d3b6b26b47ee3322720ad52427b53b36274). @kof any ideas?

[2017-12-20 09:39] SaraVieira commented on #739
I try to debug it in collaboration with Fez and this were the findings :

https://twitter.com/NikkitaFTW/status/942754647009349632

https://github.com/yldio/joyent-portal/pull/943

[2017-12-20 09:42] sapegin commented on #739
Nope, we’re not going to add a giant hack like this ;-|

[2017-12-20 09:45] SaraVieira commented on #739
Duuude no, please don't! Even I was ashamed of that PR

This is just a link for historical porpuses and the reason I think this is a safari bug

[2017-12-20 09:45] kof commented on #739
Any online example that demonstrates the bug?

[2017-12-20 09:46] sapegin commented on #739
@kof The repo in the ticket description, any example in this repo. Reverting JSS and all plugins back to 8.x fixes the issue.

[2017-12-20 09:47] SaraVieira commented on #739
Old version of our styleguide before the fix
https://styleguide-wwgijwjrui.now.sh/

[2017-12-20 09:59] kof commented on #739
Yes, -webkit-text-fill-color causes this, now the question is why suddenly?  I don't think initize has changed in this between those versions.

[2017-12-20 10:05] kof commented on #739
actually what version of initize has been used before?

[2017-12-20 10:23] sapegin commented on #739
It wasn’t used: https://github.com/cssinjs/jss-isolate/commit/c918ac2c3c3a18a15ab5a61b5328fc38022fde8e

[2017-12-20 10:31] kof commented on #739
So it is the update to the latest jss-isolate!

1. What we can do now - overwrite those trouble making props during jss-isolate setup:

[code]

2. Create a separate, isolated issue regarding those props on jss-isolate. Ideally find all of the problematic props. I am still not sure why they behave differently on safari.

[2017-12-20 10:43] sapegin commented on #739
We actually don’t set `all` and have a custom list:

https://github.com/styleguidist/react-styleguidist/blob/2556b519a9b8be1540818b2ffad4f108bed69466/src/styles/setupjss.js#L19-L33

As I understand docs, it shouldn’t use the `all` list in this case.

[2017-12-20 10:48] kof commented on #739
Oh yes, in that case it extends inherited initials object with your object https://github.com/cssinjs/jss-isolate/blob/master/src/index.js#L29 and those problematic props are comming from the inherited list are https://github.com/iamstarkov/initize/blob/master/inherited.js

[2017-12-20 10:50] kof commented on #739
https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-fill-color is not standardized yet

[2017-12-20 10:51] kof commented on #739
Initize is generating those props from mdn database, I will have to check if we have flag for non-standard properties and remove them all in one go, otherwise will just have to blacklist them specifically.

[2017-12-20 10:52] sapegin commented on #739
It’s in both lists:

https://github.com/iamstarkov/initize/blob/7eb1fcf721645bbc02f4b3bcba45de3856859bd4/all.js#L40

https://github.com/iamstarkov/initize/blob/7eb1fcf721645bbc02f4b3bcba45de3856859bd4/inherited.js#L11

Is that intended?

[2017-12-20 10:52] kof commented on #739
yes, all means inherited properties and non-inherited in one list, you require the list you want.

[2017-12-20 15:07] jaredwilli commented on #745
I just tried again and still seeing the same issue.
It is happening when I do nothing except `npm install` in the customised example, even after a newly cloned. Maybe I am doing something wrong? Is there a specific version of node I should be on perhaps?

[2017-12-20 15:09] sapegin commented on #745
I guess it should work find with Node 6+. Try to run `npm ls` — do you have any warning here?

Would it work if you run `npm run start:customised` from the repo root?

[2017-12-20 15:43] #668 closed

[2017-12-20 20:21] wilcus opened #749 "Css modules error"
In react app i enable typescript and use css modules and get this error:

Module build failed: Error: Typescript emitted no output for ..../IconButton/IconButton.module.css.d.ts.

IconButton.md
[code]

IconButton.tsx
[code]

IconButton.module.css
[code]

styleguide.config.js
[code]

webpack.config.dev.js
[code]

tsconfig.json
[code]

[2017-12-20 20:26] sapegin commented on #749
Please make a demo project that we can debug based on this repo: https://github.com/styleguidist/example

[2017-12-20 21:30] wilcus commented on #749
@sapegin clone this repo https://github.com/wilcus/example

[2017-12-21 07:24] sapegin commented on #749
You need to ignore typings, add this to your style guide config:

[code]

[2017-12-21 07:24] #749 closed

[2017-12-21 07:47] sapegin opened #750 "Support TypeScript out of the box"
- [x] Upgrade react-docgen to 5.0.0 beta (#1354)
- [x] Tweak default `components` and `ignore` patterns to include `.ts` and `.tsx`.
- [x] Tweak [default extensions](https://github.com/styleguidist/react-styleguidist/blob/0ef7ff38a550b7b049bd0b82d87bd2ec97af3fce/src/scripts/make-webpack-config.js#L45) in webpack config to include `.ts` and `.tsx`.
- [x] Update docs maybe (search for `typescript` a

[2017-12-21 08:30] #710 closed

[2017-12-21 11:20] alexmngn commented on #675
@Gregor1971 I tried your branch but I get an error:

[code]

[2017-12-21 14:03] wilcus commented on #749
@sapegin thank you very much

[2017-12-21 15:16] AwK55 opened #751 "Invalid markdown table rendering"
Hi, thank you for your tool. Its really helpful!

But I've a truble with styled-component and md tables. Here [example](https://github.com/AwK55/example)

Styleguide is built but ms table from README.md  renders incorrect.  I've checked `markdown-to-jsx` lib which you use and compiler function return jsx with invalid childern: tbody's children have extra column besides first child. And thats why a

[2017-12-21 15:20] sapegin commented on #751
Please report this at markdown-to-jsx, I can reproduce the issue on their demo page: http://probablyup.github.io/markdown-to-jsx/

[2017-12-21 15:29] AwK55 opened #752 "Imported flow types support"
Hi. I just have a question.
Can styleguidist add to guideline an imported flow types as it can with types that's declared in component file? If not, how it can be realized?

thank you

[2017-12-21 15:34] AwK55 commented on #751
https://github.com/probablyup/markdown-to-jsx/issues/138

[2017-12-21 15:36] sapegin commented on #752
That’s a react-docgen limitation, there were several issues with this request I believe. But that’s not something easy to implement ;-|

[2017-12-21 16:07] friedrith opened #753 "How to change the id of the main container in the template"
Hi,

**Situation**
I have a react component named App.

**Issue**:
The anchor link to my component doesn't work in the left menu of the documentation.

**Reason**
There is alredy one div with the id "app" which is the main container of the default template. I tried to create my own template but of course styleguidist looks for a div with the id "app" and doesn't anything if it doesn't find it.
Is

[2017-12-21 17:23] sapegin commented on #753
We should just change it to something like `rsg-root`. Feel free to send a pull request ;-)

[2017-12-21 23:09] jaredwilli commented on #745
Yes, running it from the root worked.

[2017-12-22 01:55] #745 closed

[2017-12-22 04:16] romelperez opened #754 "Generate styleguide inside a React app"
Is there a way to render the style guide inside another react application instead of creating a server or building it? For example:

[code]

Of course the options wouldn't be the same, as many of them works from Node.js and webpack. But supposing you have processed those kind of options.

[2017-12-22 07:49] sapegin commented on #754
I guess you can try to do this now: https://github.com/styleguidist/react-styleguidist/blob/master/src/utils/renderStyleguide.js

But you’ll need to do something will all the data like the `styleguide` argument which is coming from a webpack loader: https://github.com/styleguidist/react-styleguidist/blob/master/src/index.js#L13

There are also several webpack aliases that you’ll need to add to you

[2017-12-22 08:19] friedrith commented on #753
I am ready to work on it. However, I propose a feature for retrocompatibility:
* if the id `app` is found in the template, it uses it.
* if the id `app` is not found, it tries to find the id `rsg-root`

Do you find this proposal acceptable ?

[2017-12-22 08:21] sapegin commented on #753
Sounds good! I’d show a deprecation warning if `app` is found. Which could only happen if the user has a custom template. That way we could remove the condition in the next major release.

[2017-12-22 08:34] friedrith commented on #753
Ok let's do it!

[2017-12-23 03:57] romelperez commented on #754
I reviewed the object `styleguide` passed to `renderStyleguide` and there is a lot of work done by the webpack loaders that I wouldn't like to implement in the app, since it is running using [next.js](https://github.com/zeit/next.js/).

To get the components docs I'll try with [react-docgen](https://github.com/reactjs/react-docgen), render the markdown with [marksy](https://github.com/storybooks/m

[2017-12-23 07:50] sapegin commented on #754
It would make sense to make this part more modular.

There are much more that just react-docgen ;-)

[2017-12-24 13:27] AwK55 commented on #751
Issue was fixed in 6.3.2

[2017-12-24 20:13] #752 closed

[2017-12-25 07:54] sapegin commented on #751
You can reinstall dependencies and it should pick up the new version.

[2017-12-25 07:54] #751 closed

[2017-12-25 19:04] sapegin opened #757 "Isolated mode doesn’t work in master"
Opening / closing of isolation mode leads to a JavaScript error:

[code]

[2017-12-25 19:12] #741 closed

[2017-12-27 01:40] kohearon opened #758 "Typescript Components Examples In Markdown"
Hey guys / gals,

I'm making use of the react-docgen-typescript to generate the information about the props for my typescript components which is great! However, I can't find a way to actually render any examples from within markdown.

I've done a bit of research and from what I gather react-styleguidest makes use of buble to convert the js and jsx in the markdown files to es5. Just wondering if t

[2017-12-27 07:24] sapegin commented on #758
It was discussed several times: #462, #621, #324. Feel free to send a PR to fix any of them.

[2017-12-27 07:24] #758 closed

[2017-12-27 10:50] sapegin commented on #753
I think it was in [deabsdeep](https://github.com/sapegin/deabsdeep) and should be fixed now.

[2017-12-27 13:18] kof commented on #739
Fixed css-initials package, removed all non-standard props.

[2017-12-27 13:18] kof commented on #739
released css-initials and jss-isolate

[2017-12-27 13:18] kof commented on #739
please update jss-isolate to 5.1.0 and I hope this can be closed

[2017-12-27 14:40] #739 closed

[2017-12-27 16:46] #757 closed

[2017-12-27 16:49] sapegin commented on #740
Closing this for now. Feel free to reopen with more information.

[2017-12-27 16:49] #740 closed

[2017-12-28 17:42] stephtr opened #761 "component example placeholder text encoding"
- webpack version: 3.10.0
- react-styleguidist version: 6.1.0

When viewing a component without a readme file, an _Add examples to this component_ link appears. Clicking on it reveals a readme sample, with html entities falsely encoded:
[code]

If necessary I could provide my files, even though it occurs with the default configuration.

![unbenannt](https://user-images.githubusercontent.com/576418

[2017-12-28 17:44] sapegin commented on #761
Duplicated of #741.

[2017-12-28 17:44] #761 closed

[2017-12-28 17:48] stephtr commented on #761
Sorry, I searched for the text and additionally the open issues but didn't find it.

[2017-12-29 12:26] konradk commented on #127
![React Chat UI Kit](https://static.livechatinc.com/1520/P11Q52CEZH/0219e9f5725826d29a18c64a74487bd1/Screen%20Shot%202017-12-29%20at%2012.49.42.png)

[LiveChat React Chat UI Kit](https://static.livechatinc.com/1520/P11Q52CEZH/0219e9f5725826d29a18c64a74487bd1/Screen%20Shot%202017-12-29%20at%2012.49.42.png)

[2017-12-29 15:30] Mikrovolnovka commented on #710
In the scope of anybody else will face this issue, I've got the fix to this.
I've met the same thing with HeaderRenderer and looked into `index.js` file:

[code]

So we should override not the `HeadingRenderer` but `Heading` component
The same thing is with `ComponentsListRenderer`: https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/ComponentsList/index.js

We should

[2017-12-29 16:56] SaraVieira commented on #127
We are also using it at Joyent: https://joyent-ui-toolkit.now.sh/

[2017-12-29 18:39] HipsterZipster commented on #710
When is 6.2.0 slated for release? Looking forward to this fix!

[2017-12-30 07:19] bochen2014 opened #762 "support on-the-fly css classes"
I have a component that takes in `className` as `props`. I want to be able to define a css classname within the markdown
[code]
Is it even possible?

Note: there are 2 walk arounds
1. use `styles`
2. define a css file in a file and do a `require` inside the markdown

[2017-12-30 07:45] sapegin commented on #762
I guess you can create a Style component that would attach styles to the page. I don’t think the style tag would work in React.

[2017-12-30 07:49] bochen2014 commented on #762
you are right.

`react` or `jsx` to be more specific doesn't understand what a `<style>` tag means, but `html` does.
I think the issue is that `styleguidist` only allow defines `JSX` inside markdown.
Is it possible that  inline css are supported as well?  we may need to look at the `markdown engine` part of the code

[2017-12-30 09:25] sapegin commented on #762
It actually works right now:

![image 2017-12-30 at 10 24 25 am](https://user-images.githubusercontent.com/70067/34453077-b5e9e846-ed4b-11e7-84ed-bdcdc223c812.png)

[2017-12-30 09:44] bochen2014 commented on #762
wonderful!!!

[2017-12-30 14:13] #762 closed

[2018-01-01 09:50] friedrith commented on #753
Thx it will try again.

[2018-01-01 16:39] rifler opened #763 "Typescript: stateless functional component doesn’t export a component"
repo with two similar components - `BadHeader` (stateless, doesn't work) and `GoodHeader` (es6 class, works)
https://github.com/rifler/styleguidist-ts-app

How to reproduce:
1) `git clone https://github.com/rifler/styleguidist-ts-app.git`
2) `npm i`
3) `npm run styleguide`
4) get warning `Warning: src/components/BadHeader/BadHeader.tsx matches a pattern defined in “components” or “sections” option

[2018-01-02 00:54] rluiten opened #764 "Update to v6.1.0 has caused IE11 to no longer work."
When something isn’t working, include:

* Your style guide config (`styleguide.config.js`).
[code]

* Webpack version.

[code]

* Operating system, browser and version if it’s a layout bug.

[code]

The totally unmodified styleguidist example https://github.com/styleguidist/example produces same problem in IE11 locally.

There error recieved in IE11 is.

[code]

A screen capture of what is at the

[2018-01-02 00:58] rluiten commented on #764
Just realised might be the fat arrow function!.

[2018-01-02 06:10] sapegin commented on #764
Yeah, most likely it’s an arrow function or a `const`. Do you know where this code is coming from?

[2018-01-02 07:14] rluiten commented on #764
Is there anything specific I can do ?
I can provide a compressed version of the bundle it is a bit over 450 KB compressed and about 2.6 MB uncompressed. I've snooped around in it to see if i can figure out what module it is it might be buble.

[2018-01-02 09:35] rluiten commented on #764
By the way the actual code i posted above is from the example app not from my application.

[2018-01-02 13:30] danrot opened #765 "main.bundle.js is not loading in watch mode"
I am experiencing some issues with the development server. When starting the server with `styleguidist server` I wait until the message ` Compiled successfully`  appears, and open `localhost:6060` in my browser as I am told to. But then the browser loads the `main.bundle.js` file forever, until it fails without further notice:

![screenshot from 2018-01-02 14-22-46](https://user-images.githubuserc

[2018-01-02 18:13] sapegin commented on #765
I can only suggest to simplify the config: try to load only the most simple component and see if it still failing.

[2018-01-02 18:19] sapegin commented on #764
It’s from [acorn5-object-spread](https://github.com/adrianheine/acorn5-object-spread) which is a dependency of [buble](https://github.com/Rich-Harris/buble). From our side we can only file and issue there and ask what browsers they support.

[2018-01-02 18:21] sapegin commented on #763
I think you should file this issue here: /acorn5-object-spread

[2018-01-03 13:41] kevinch commented on #72
If it helps others: developing locally with `npm link` and styleguidist won't work if your project runs with Webpack 1. You'll have to bump to [Webpack 2](https://webpack.js.org/guides/migrating/) at least. Just did it and works fine.

[2018-01-03 13:42] sapegin commented on #72
Styleguidist don't support webpack 1 in any case.

[2018-01-03 15:50] ryanpcmcquen opened #766 "Cannot stop server."
[code]

I am unable to stop the server. Even after running:
[code]

* Your style guide config (`styleguide.config.js`).
[code]
* Webpack version.
[code]

[2018-01-03 15:51] friedrith commented on #753
Sorry to disappoint you but the problem seems to persist because of snapshots.

[2018-01-03 15:57] sapegin commented on #766
The question is not related to Styleguidist. You have *something* running on that port. Not necessarily Styleguidist.

[2018-01-03 16:00] ryanpcmcquen commented on #766
@sapegin, it is _Styleguidist_, it was running and then I <kbd>Ctrl</kbd> + <kbd>C</kbd>'ed out of it. Now it will not let me run the server again.

[2018-01-03 16:18] sapegin commented on #766
I guess if you restart your computer it will work again.

[2018-01-03 16:18] #766 closed

[2018-01-03 17:10] ryanpcmcquen commented on #766
@sapegin, is the the only way to stop the server?

[2018-01-03 18:10] sapegin commented on #766
It works fine for other people. Feel free to send a pull request if you believe it’s a bug in Styleguidist.

[2018-01-04 04:06] n1313 commented on #324
@sapegin could you please explain this a bit? I read the release notes but I didn't see how it is related.

[2018-01-04 06:10] sapegin commented on #324
I guess I mean importing examples from files.

[2018-01-04 06:30] n1313 commented on #324
I think some time ago I have seen someone here pasting an example that used real React code, they wrote an entire component in markdown with class declaration, render method, all the good stuff. I can’t find it, but I think it was @okonet. I’ll try recreating that myself and will close this ticket if it works.

Sent from my iPhone

[2018-01-04 06:35] sapegin commented on #324
There’s one in my comment at the very beginning of this issue ;-)

[2018-01-04 06:38] n1313 commented on #324
I guess I misunderstood what that means back at the time.

Sent from my iPhone

[2018-01-04 18:16] danrot commented on #765
Hm, I hoped you might have an idea... However, while playing around with it, I am asking myself if it is possible that there is somehow a limit on how long reading the sections may take?

I am asking because if I make [this](https://github.com/sulu/sulu/blob/develop/styleguide.config.js#L49) and [this](https://github.com/sulu/sulu/blob/develop/styleguide.config.js#L66) line return less values (by

[2018-01-04 20:56] swese44 opened #767 "[Feature request] Remove all content styling"
Hello. We have migrated [YamUI](https://microsoft.github.io/YamUI/) from Storybook to Styleguidist. YamUI is a UI framework + component library, and provides all base styling for the app it's used in. Unfortunately Styleguidist styles its own render components, so the generated styleguide app doesn't really reflect our styling and typography. For our use case it would be ideal if there was an opti

[2018-01-04 21:12] #763 closed

[2018-01-05 06:16] sapegin commented on #767
I don’t really understand your use case. If you disable all Styleguidist UI styles, you'll have to write your own anyway, which you can do now.

[2018-01-05 07:26] swese44 commented on #767
hey thanks @sapegin. Our UI framework already includes a CSS reset + baseline styles for any consuming app. Arbitrary semantic markup will automatically be styled to look and feel like YamUI.

Styleguidist renders great semantic markup. But every section, header, heading, article, paragraph, etc. tag has classnames with more styles than we could manually reset, so I don't think [theme](https://rea

[2018-01-05 18:22] sapegin commented on #767
We [purposefully isolate](https://react-styleguidist.js.org/docs/development.html) Styleguidist UI from any user styles because it will break the UI. You can try to disable jss-isolate for Markdown styles:

[code]

[2018-01-08 15:12] Andarist commented on #764
@sapegin it's not only a dep of `buble` but a `buble` itself too, it doesnt transpile i.e. classes. I've filed an issue there to see what they target with the buble's codebase.

We could incorporate a test to see if the parts of the bundle generated by `react-styleguidist` are valid es5 - it's actually quite easy, because we'd have to check if the bundle can be minified using uglifyjs@2, which doe

[2018-01-08 19:35] sapegin commented on #764
That sounds great!

[2018-01-09 04:38] n1313 commented on #324
It works! Wow. Very nice. Is this documented anywhere?

[2018-01-09 08:35] sapegin commented on #324
I'm not sure, in any case worth documenting it more ;-)

[2018-01-09 10:17] Andarist commented on #764
Could you describe your test approach in a little bit detail? Im interested mostly in what is in `test` directory, cannot find how some of the files there are used - i.e. `run.build.js`.

[2018-01-09 20:10] sapegin commented on #764
These two files, `run.*.js` aren’t really test cases, more like examples of API usage.

* `jestsetup.js` to setup Jest (see `package.json`)
* `raf-polyfill.js`— `requestAnimationFrame` polyfill for Node.js. I think we should use `raf` module instead, it’s already in dependencies but not used.  
* `browser.js` is used to test bundles in Headless Chrome (see `test:browser:*` npm scripts)

Other file

[2018-01-10 03:18] n1313 commented on #324
Yes, it is documented. https://github.com/styleguidist/react-styleguidist/blob/master/docs/Documenting.md#writing-code-examples.

[2018-01-10 03:18] #324 closed

[2018-01-10 15:51] 4mgad opened #771 "editorConfig is not working on 6.1.0 release"
After upgrading to the latest release 6.1.0 and trying out "editorConfig" option, I received the following error:

Unknown config option editorConfig was found ...

[2018-01-10 16:22] sapegin commented on #771
It's planned for [6.2.0](https://github.com/styleguidist/react-styleguidist/milestone/9?closed=1).

[2018-01-10 16:22] #771 closed

[2018-01-10 16:24] 4mgad commented on #771
Yet it's mentioned in the Docs?

https://react-styleguidist.js.org/docs/configuration.html#editorConfig

[2018-01-10 16:25] sapegin commented on #771
Feel free to help us solve the issue of docs using master branch.

[2018-01-10 23:28] roblevintennis opened #772 "Floated elements are not contained"
We have some floated buttons. I noted there's no [block formatting context](https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Block_formatting_context) in the styleguideist wrapper divs e.g. `display: inline-block; width: 100%;` (probably preferable to overflow hidden which would also work). Essentially, this means no floated element can be displayed and contained successfully within the main

[2018-01-11 02:12] romelperez commented on #754
I wanted to use the components from the `/react-styleguidist/lib/rsg-components/` but they aren't completely converted with babel to ES5 so I couldn't and I didn't want to configure webpack. At the end I copied some components and re-made others. (Code: [`/site/components/Api.js`](https://github.com/romelperez/arwes/blob/master/site/components/Api.js) Result: [arwes.romelperez.com/api/words](https

[2018-01-11 05:47] sapegin commented on #754
Not sure I understand what you mean. If that was true nobody could use Styleguidist.

Would be nice to extract props parser to a separate module and make it work without webpack. Feel free to do that.

I don’t think there’s an easy way to do that.

[2018-01-11 05:49] sapegin commented on #772
Feel free to send a pull request to fix that.

[2018-01-11 14:43] romelperez commented on #754
The first question is about completely converting the components so they can be used outside without configuring webpack. For example, the `import` and `export` declarations are not transpiled/compiled and there is a shortcut in webpack which needs to be configured ([example](https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/Code/CodeRenderer.js#L3)).

For the trans

[2018-01-11 14:53] sapegin commented on #754
Webpack 2+ supports ESM natively.

It's required to make components configurable, I don't know an easy way to avoid it.

For example?

It *is working* already, I don't see any requirements except couple of aliases. Would be cool to avoid that but I don't see an easy way to do that now.

[2018-01-11 14:58] romelperez commented on #754
Let me review properly and I'll open a new issue to discuss those changes so I can make a PR. Thank you @sapegin !

[2018-01-11 14:58] #754 closed

[2018-01-11 17:39] roblevintennis commented on #772
@sapegin Sure thanks .. would you recommend I figure out how to just add it to the "base theme" and/or could you point me to which files best to touch? Guess I'll try that unless you have another recommendation.

[2018-01-11 17:46] sapegin commented on #772
I’d start here:

https://github.com/styleguidist/react-styleguidist/blob/ab903f751f9e337108d24dbda4410a98b80804a9/src/rsg-components/Playground/PlaygroundRenderer.js#L10-L14

[2018-01-11 18:04] roblevintennis commented on #772
Thank you very much for the 411 @sapegin .. I think my team's gonna give me some time today to do that ... I'll at mention on the PR!

[2018-01-11 23:58] blackout1208 commented on #586
@hueyhe can you explain me what was your workaround?

[2018-01-12 06:46] #772 closed

[2018-01-12 08:20] selbekk opened #774 "Providing an array of component locations in config"
Hi there! Great project! Thanks for putting in the time to make this awesome product, and then just give it away for free.

I have a question about the styleguide.config.js configuration, before I potentially provide a PR:

When you specify components for a given section, and you want several locations, you have to provide a function that returns an array instead of a simple array. Why can't you s

[2018-01-12 08:56] sapegin commented on #774
Simple reason: functions are more powerful and arrays are more like a shortcut. So that means I'll be happy to merge a PR that adds arrays too ;-)

[2018-01-12 16:15] vuongc opened #775 "Resolver to get interfaces as well as component"
I am searching for a resolver that will also be able to parse `Interface` as well as `Component`.

I only saw 3 resolvers from `react-docgen` modules named `findAllComponentDefinitions.js`, `findAllExportedComponentDefinitions.js` and `findExportedComponentDefinition.js`.

While running the styleguide i get the `Warning: components/code-editor/typescript/models/AceSession.ts matches a pattern defi

[2018-01-12 16:18] sapegin commented on #775
If you want to reuse Styleguidist to document interfaces you need to write your own resolver but I'm not sure it would work. Of use another tool to generate Markdown documentation, like documentation.js, and use these files in your style guide.

[2018-01-12 16:21] vuongc commented on #775
Thanks for the fast answer, I will take a look at documentation.js then.

[2018-01-12 20:58] swashcap commented on #739
Experiencing some _super strange_ Safari styling and found this issue. Could someone publish the package so this fix is available?

[2018-01-13 12:52] sapegin opened #776 "End-to-end tests with Cypress"
Right now we only have unit test and [very simple test](https://github.com/styleguidist/react-styleguidist/blob/master/test/browser.js) that check bundles for JS errors in headless Chrome. But we don’t know that Styleguidist is actually usable.

[Cypress](https://www.cypress.io/) seems like a good choice.

- [ ] Setup Cypress
- [ ] Write first test
- [ ] Write more tests

[2018-01-14 21:17] yurist38 commented on #764
Just solved this issue in my project. I set up `buble` to be transpiled by `babel-loader` which contains `es2015` preset. This is the part of my `styleguide.config.js` file:
[code]

[2018-01-15 15:26] vuongc opened #777 "Children props type strange format"
When generating my props, if I try to use the `children` props and define a type on it, I get a strange type format on it.

<img width="302" alt="screen shot 2018-01-15 at 4 14 36 pm" src="https://user-images.githubusercontent.com/6729188/34949511-929bca0e-fa10-11e7-8351-a4e49c6c2687.png">

Is there a way to fix that or is it just not permitted to use the children props as something seems to overw

[2018-01-15 17:32] sapegin commented on #777
Please make a demo project that we can debug based on this repo: https://github.com/styleguidist/example

[2018-01-15 19:16] diegohaz commented on #705
I'm getting the same behavior as @Didericis

[2018-01-15 21:38] jesstech commented on #705
It would be nice to get to the bottom of this.  This is what is preventing us from switching to Emotion.js with its use of recompose.

[2018-01-16 08:50] vuongc commented on #777
Here is my files

**styleguide.config.js**

[code]

**TreeNode**
[code]

**webpack.config.js**
[code]

I tried to change the type of the children props from TreeNode class to a string[], but it didn't solve the display as you can see from the screen above.

[2018-01-16 09:34] vuongc commented on #777
Seems like it's a Typescript behavior https://github.com/Microsoft/TypeScript/issues/6471.

I will close this issue as it don't belong here, thanks for taking time checking this issue.

[2018-01-16 09:34] #777 closed

[2018-01-16 18:52] sapegin commented on #753
Could you try to run tests on [deabsdeep](https://github.com/sapegin/deabsdeep). I was hoping to fix that ;-/

[2018-01-16 22:22] jrjacobs24 opened #779 "[Feature Request] Color Swatch Documentation"
First off, wanted to say that I love the library and have been working on getting it fully implemented within my company to create a usable living style-guide, so thank you 👍

Secondly, I was curious if there are any plans of implementing color swatches? You can see what I mean under the "Specimens" section here in the [Catalog](https://docs.catalog.style/writing-content) documentation. I don't re

[2018-01-17 02:59] rluiten commented on #779
I realise this is not exactly what you asked for but this may be of use to you.

If you grab the two attached files and remove the ".txt" from the end of the file name.
so they are named
* ColorSwatch.md.txt to ColorSwatch.md
* ColorSwatch.jsx.txt to ColorSwatch.jsx

Then put them in your components folder where styleguide is run and start styleguide.

Please note the Component `ColorSwatch` has 4

[2018-01-17 05:38] n1313 commented on #779
The simplest way to do this would be to create a Markdown file with colors and include it in RSG.

[2018-01-17 07:55] sapegin commented on #779
I think @rluiten solution is the best for now, but you should use `noeditor` modifier to render components without the editor.

[2018-01-17 15:37] jrjacobs24 commented on #779
@rluiten @sapegin This is perfect. I don't why I didn't think to just do this in the first place. It'd be cool to one day see this functionality built into the core react-styleguidist library `styleguideComponents`, but this accomplishes exactly what I needed it to so I'm not worried about it. Thanks for the tip!

[2018-01-17 16:01] friedrith commented on #753
I launched tests on deabsdeep on windows:

[code]

And I got the following 2 tests Suites failing, (4 Tests failed and 3 snapshots). The errors is always like that:

[code]

[2018-01-17 16:25] lgordey commented on #738
@sapegin Hi man!
When do you plan to release **6.2.0.**?

I really need this feature and some others from this scope :)

Btw, thanks for awesome project! 👍

[2018-01-17 16:44] sapegin commented on #738
@lgordey Will try to release this or next week.

[2018-01-17 22:00] austin94 commented on #739
Publishing a path for this would be very helpful. Currently viewing components in Safari is pretty unpredictable.

[2018-01-19 21:45] nanot1m opened #780 "Improve flowtype support"
react-docgen grabs a lot of information from flow types. Maybe we should improve prop-types rendering?

For example, we can make something like this
![image](https://user-images.githubusercontent.com/9278185/35172954-841111e6-fd8b-11e7-9613-14c71d6b1fc6.png)

[2018-01-20 08:27] nanot1m commented on #780
I’m ready to help (:

[2018-01-20 08:52] sapegin commented on #780
Yeah, feel free to send PR(s) — I don’t use Flow personally but will be happy to merge improvements.

[2018-01-20 11:14] nanot1m commented on #780
#781

[2018-01-21 08:22] TxHawks opened #782 "Failed to compile error on build"
When using the build command, I get a
[code]
This is obviously not an issue with styleguidist, but rather an UglifyJs issue, and everything works fine when I disable minification in Webpack, but the error message is not very helpful.

If anyone has any idea on how to get a more productive error message, I'd be very greatful

[2018-01-21 09:22] sapegin commented on #782
I guess we can do something with this `undefined`. Please make a demo project that we can debug based on this repo: https://github.com/styleguidist/example

[2018-01-21 11:35] TxHawks commented on #782
Problem is, I'm not really sure what's causing this, so hard to reproduce, but I'll try.

[2018-01-21 12:05] sapegin commented on #782
Most likely you can find more information about the error by adding some `console.log`s here:

https://github.com/styleguidist/react-styleguidist/blob/7ab1ebf4245896ccad42c0a133987dff8869c72f/bin/styleguidist.js#L89-L112

[2018-01-21 19:04] sapegin commented on #738
Out in [6.2.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.2.0)!

@lgordey

[2018-01-21 19:04] sapegin commented on #739
Out in [6.2.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.2.0)!

@swashcap @austin94

[2018-01-21 19:04] sapegin commented on #710
Out in [6.2.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.2.0)!

@HipsterZipster

[2018-01-21 19:05] sapegin commented on #772
Out in [6.2.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.2.0)!

[2018-01-21 19:05] sapegin commented on #741
Out in [6.2.0](https://github.com/styleguidist/react-styleguidist/releases/tag/v6.2.0)!

[2018-01-22 05:43] lgordey opened #783 "Build is broken: r is not defined"
Hi!
After updating to 6.2.0 most of components have an error:
![image](https://user-images.githubusercontent.com/5946242/35206767-07f7b76a-ff50-11e7-8a19-88116aa5dbba.png)
Demo - https://github.com/lgordey/example

It reproduced only on build task - **styleguide:build**
In development mode everything seems fine

[2018-01-22 05:55] lgordey commented on #783
I guess that the thing, that unite all crashed components - is they all have readme example with some text inside.
Cause examples with Placeholder or RandomButton don't have such error.

[2018-01-22 06:38] sapegin commented on #783
Two funny facts:

1. I don’t see it when I build the basic styleguide in the main repo.
2. When I build your repo, I see slightly different error: `ReferenceError: can't access lexical declaration `r' before initialization`.

It feels like some new version of UglifyJS to me.

[2018-01-22 06:47] lgordey commented on #783
of course 😂

[2018-01-22 06:51] lgordey commented on #783
![image](https://user-images.githubusercontent.com/5946242/35208463-a0aee268-ff59-11e7-995d-405b31e8ee9f.png)

I think they are not completely sure about `uglify-es` version 😄

[2018-01-22 18:52] roblevintennis commented on #772
oh cool! thanks for the heads up .. I can change my package.json pointer!

[2018-01-22 20:41] iamtyce commented on #764
Just checking in on this issue. Was `6.2.0` meant to resolve this? I'm still having errors in IE11.

[2018-01-22 20:45] sapegin commented on #764
@iamtyce Nope, it shouldn’t ;-(

[2018-01-22 20:47] iamtyce commented on #764
@sapegin Ah damn.. are there any plans to fix whatever caused this bug? Unfortunately we still need to test for IE11 and are currently blocked by this 😢

[2018-01-22 20:48] sapegin commented on #764
As soon as someone submit a pull request. We don’t support (means test) IE11 officially but happy to merge fixes.

[2018-01-23 03:48] DongShelton opened #785 "Module build failed: TypeError: Cannot read property 'methods' of undefined"
Thanks react-styleguidist, that help me lot.
But here is a problem when I using styleguidist, if I add README.md file, it will cause:
[code]
How could I solve this problem? And what cause this?

[2018-01-23 06:14] #785 closed

[2018-01-23 07:47] DongShelton opened #786 "Cannot resolve module"
See example: [Issue Example](https://github.com/DongShelton/example)
When it runs `npm start`, it will cause `Cannot resolve module`

[2018-01-23 08:10] sapegin commented on #786
It won't work with a glob pattern like this: `/lib/components/Common/**/index.tsx`, you should point to Styleguidist to your components, see examples in the docs: https://react-styleguidist.js.org/docs/components.html

[2018-01-23 08:33] sapegin commented on #783
As a temporary workaround I guess you can add an older version of `uglify-es` as a dependency of your project. I'm still not sure what would be the right fix for that and what exactly is broken.

[2018-01-23 09:49] bstream commented on #783
Ran in to the same error (I think, although for me it said `ReferenceError: n is not defined`. For me the error occurs with `uglify-es@3.3.8` but not with `uglify-es@3.3.7`. If you are using using `yarn@1.x` you can use the [resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) field for this, like so:

[code]

Also; maybe this is related? https://github.com/mishoo/UglifyJS

[2018-01-23 11:01] lgordey commented on #783
Updating to `uglifyjs-webpack-plugin@1.1.5` inside `react-styleguidist` also should fix the problem, cause they freeze `uglify-es` version here https://github.com/webpack-contrib/uglifyjs-webpack-plugin/pull/199/files

[2018-01-23 13:38] peterlenagh opened #787 "Namespaces"
I was wondering if there's any way of working with multiple components with the same name within a styleguide.

We have client domains/namespaces and base component domain/namespace (as sections) within the same codebase.

So i have lib/base/components/button.jsx (Button) and lib/client1/components/button.jsx (Button). lib/client2/components/button.jsx (Button).

They all come out as #!/Button.

[2018-01-23 13:40] peterlenagh commented on #787
i can hack in "namespaces" by changing the logic in getInfoFromHash and globalizeComponent but that feels a bit brittle.

[2018-01-23 14:14] sapegin commented on #787
Not now but if you have any ideas how to make it possible without making the codebase more complicated, feel free to send a pull request ;-)

[2018-01-23 23:52] wachunga commented on #634
This seems like a reasonable approach to me. I've encountered this problem as well.

[2018-01-24 03:18] n1313 commented on #787
@peterlenagh are these two buttons members of the same package?

[2018-01-24 12:30] peterlenagh commented on #787
@n1313 they're in the same npm package, but we don't export them from one index.js (so you don't import the world to `import { Button } from world;` - tree shaking wasn't working in webpack last time I checked). Rather we do `import { Button } from world/lib/client1/components/Button;`

I see what you're saying though; if they were they'd need to handle namespacing at the package/index.js level.

[2018-01-24 12:34] peterlenagh commented on #787
@sapegin - if uri structure reflected sections that would solve my issue nicely.

i.e. a component inside a section called client1 would have the uri #!/client1/component rather than #!/component.

There would still be issues with the global components though...

[2018-01-24 12:51] n1313 commented on #787
That's an interesting problem. I would argue that technically you have separate packages, and maybe you should have separate styleguidists to cover them, but I also see the benefit of having all of them on one page.

Consider this: your customers are importing your different buttons using names that you assign to them in your entry points, but Styleguidist doesn't care for that, it reads files. So

[2018-01-24 12:53] n1313 commented on #787
I think the problem here is not the routing but the name collision. Two components with the same name just cannot exist together in one context. They have to be named differently.

[2018-01-24 14:52] peterlenagh commented on #787
thanks for your commments @n1313.

For the time being I'm going to name the actual components differently and sort the naming out with directory names / exporting as default from component-level index.js.
[code]

[code]

[code]

Within the styleguide they will then appear as #!/BaseButton, #!/Client1Button, #!/Client2Button etc., and I'm already overriding ReactComponentRenderer so I can just rm t

[2018-01-24 14:52] #787 closed

[2018-01-24 17:10] bluetidepro opened #788 "New editorConfig option doesn't seem to work or maybe missing themes?"
In the new minor update release (`v6.2.0`) notes it mentions moving from `highlightTheme` to use the `editorConfig` option, but it doesn't seem to work. Or maybe themes were removed?

I used to have `highlightTheme: 'material',`, and then I switched it to:

[code]

It would look like http://bluetide.pro/FKiiDg when I used the `highlightTheme` option, but now when I use the `editorConfig` it looks

[2018-01-24 17:12] vuongc commented on #788
I've got the same error, it only work for the default theme which is `base16-light`.

[2018-01-24 17:13] bluetidepro commented on #788
It's worth noting that if I still use `highlightTheme: 'material',` it DOES work fine. Although it gives me this warning: `Warning: highlightTheme config option is deprecated. Use the theme property in the editorConfig option instead`. So maybe it DOES has to do with the new `editorConfig` option?

[2018-01-24 17:43] sapegin commented on #788
Yeah, the old options is still used in couple of places:

https://github.com/styleguidist/react-styleguidist/blob/11bbe2cafab723efb159833fe831ccfb1e5499ec/scripts/make-webpack-config.js#L34

https://github.com/styleguidist/react-styleguidist/blob/5a5a3762a78873120bd4bbc62272a7bd36e67681/loaders/styleguide-loader.js#L19

/cc @SaraVieira

[2018-01-24 19:55] bluetidepro commented on #783
Yeah, I'm having this same problem with my builds, so a patch for this would be great.

[2018-01-25 00:08] wachunga opened #791 "Inline code blocks in Markdown files cannot be styled?"
I have a markdown file like `Component.md` with contents:
[code]

I would like to customize the font-size of that inline code block, which is too large (the monospace font defaults to size `inherit`).

Overriding `CodeRenderer` via `styleguideComponents` doesn't work, because Markdown has its own [`Code`](https://github.com/styleguidist/react-styleguidist/blob/master/src/rsg-components/Markdown/Ma

[2018-01-25 01:00] milesj opened #792 "Inherit comments from spread prop types"
I haven't seen this anywhere in the documentation, and it definitely is not supported right now, but it would be great if the docs could inherit comments from objects who were spread into `propTypes`, like the following.

[code]

As it stands, styleguidist shows the `bar` prop, but without a comment.

[2018-01-25 05:08] n1313 commented on #792
I think this is something that react-docgen (which parses js files for info for react-styleguidist to consume) should do.

[2018-01-25 05:12] n1313 commented on #791
In configuration styles, try something like

[code]

[2018-01-25 07:31] sapegin commented on #791
It should be `code`, not `pre`, but that should work.

[2018-01-25 12:58] stereobooster commented on #752
This is what I see

![screen shot 2018-01-25 at 13 53 45](https://user-images.githubusercontent.com/179534/35389243-43c4e702-01d7-11e8-894f-fd6f8b947249.png)

From [react-docgen: flow-type-support](https://github.com/reactjs/react-docgen#flow-type-support).

[code]

I suppose we can show`function` instead of `signature` in this situation. Can do PR for it if you agree. Maybe you will direct me whe

[2018-01-25 13:40] sapegin commented on #752
@stereobooster That's would be awesome! I have no idea what signature means ;-|

[2018-01-25 14:26] stereobooster commented on #752
Note to myself:

https://github.com/styleguidist/react-styleguidist/blob/3df38d4e63831a725de522156d52e8e27746f0f9/src/rsg-components/Props/PropsRenderer.js#L18-L35

Stupid solution

[code]

instead of

[code]

[2018-01-25 16:22] wachunga commented on #791
Thanks. I was trying with Code before and it would not work, but this did:
[code]

[2018-01-25 16:22] #791 closed

[2018-01-25 18:31] milesj commented on #792
Thanks, I'll cross post it there too.

[2018-01-25 20:19] iamtyce commented on #783
I can confirm that @bstream's approach worked perfectly for us. Hoping to remove that when Uglify push a fix.

[2018-01-26 01:33] jeffkamo commented on #209
Any movement on this?

This still appears to be an issue for me. Installing my node packages from scratch is not working for me. I've tried both `npm` and `yarn`, and the results are the same.

Interesting to note that...

[code]

See it in action:

![maximum-stack-stack](https://user-images.githubusercontent.com/734535/35420518-c85d98f4-01f2-11e8-938e-c5c3c8591ca4.gif)

Actually I noticed there w

[2018-01-26 07:00] n1313 commented on #209
@jeffkamo I cannot reproduce this issue locally: both ways work. I suspect the problem might be in your babel setup. Can you make a minimal example repo that demonstrates the problem?

[2018-01-26 15:11] robcaldecott opened #793 "Plain links in documentation will generate console errors since 6.1.0"
Reproduced here:

https://github.com/robcaldecott/styleguidist-links

To reproduce just include a plain URL in any markdown or component comments. These will be stripped and the browser will display console errors.

This started happening with v6.1.0.

For example:

[code]

Errors look like this (Chrome/Windows 10):

[code]

[2018-01-26 23:26] jeffkamo commented on #209
Well, in setting up a pared down example for you, @n1313, I discovered what was causing this issue in my project.

It turns out our project was also depending on `react-docgen` and was using it into our `styleguidist.config.js`

[code]

Removing the `resolver` key from this `module.export` fixes the problem, and my components appear to work better.

Cheers, and thanks!

[2018-01-29 10:08] wangbourne commented on #620
storybook support react native, how about styleguidist?

[2018-01-29 11:05] nitinkh commented on #793
Hi @robcaldecott : I think it is not a bug, if we want to get our URL reflected, we need to use markdown's links syntax. So for your case we can use it like :
/**
 * The only true button.
 *
 * [Some Description](https://github.com/robcaldecott/styleguidist-links)
 *
 */

[2018-01-29 11:09] sapegin commented on #793
This is obviously a bug: nobody will ever write links like that in comments and I believe it was working before. In any case it shouldn't produce errors.

[2018-01-29 11:10] robcaldecott commented on #793
It was fine up to and including 6.0.33. Most MD engines seem to handle plain links.

[2018-01-29 11:18] sapegin commented on #793
Must be connected with new version of markdown-to-jsx, but your snipped [seems to work fine](https://probablyup.github.io/markdown-to-jsx/).

Feel free to send a pull request if you have time to investigate more and fix that.

[2018-01-29 12:59] danrot commented on #765
@sapegin Do you have any idea why this is happening?

[2018-01-29 13:03] sapegin commented on #765
Nope, you need to find a component that breaks and and then we could debug it to understand what's wrong.

[2018-01-29 15:51] diegohaz commented on #783
@bstream's workaround fixed it for me.

[2018-01-30 02:41] FezVrasta opened #796 "Add custom checkbox to the style guide UI?"
I have a set of components that are styled using CSS Custom Properties, these CSS variables are defined according to the closest `[data-theme]` attribute they find.

I'd need a way to add a checkbox to the examples box, or to the whole page, to toggle between `data-theme=light` and `data-theme=dark`

Is there any way to do this?

[2018-01-30 03:26] FezVrasta commented on #796
So, I thought I could use the `styleguideComponents` property to override `Preview`, but all I get is an error...

[code]

[code]

Why?

[2018-01-30 03:54] alanbsmith commented on #783
oh, man. I'm so glad other people were seeing this too. I thought I was crazy. Can also confirm it's UglifyJS and @bstream 's workaround resolves it.

[2018-01-30 07:38] sapegin commented on #796
You're trying to import the same file:

[code]

But why not override `Wrapper` component instead, it's made for that?

[2018-01-30 08:16] FezVrasta commented on #796
Oh I thought that import was to import the original component. Isn't there any way to simply extend an existing component so that I don't have to reimplement all its logic?

About Wrapper, I'll try thanks

[2018-01-30 08:21] sapegin commented on #796
Sure, there is:

[code]

Would be cool to update the docs with this example.

`styleguideComponents` creates a webpack alias like `rsg-components/Preview` -> your file, so all imports inside Styleguidist code would use your file.

[2018-01-30 16:32] #783 closed

[2018-01-30 16:36] FezVrasta commented on #796
Thanks it worked!

[2018-01-30 16:36] #796 closed

[2018-01-30 18:26] #786 closed

[2018-01-30 18:26] #779 closed

[2018-01-30 22:04] FezVrasta opened #798 "HTML entities not decoded?"
I can't understand why the HTML entities are not properly rendered:

![image](https://user-images.githubusercontent.com/5382443/35593938-645062ba-05c6-11e8-8b64-ac2531898a3d.png)

Repro:
https://github.com/FezVrasta/example

Specific file: https://github.com/FezVrasta/example/blob/master/lib/components/Button/Readme.md

[2018-01-30 23:23] jeffkamo opened #799 "Preserve Table of Contents in isolation view"
Is there a way to preserve the table of contents? I would like TOC to remain fully populated, even when in isolated view.

Using [better-react-spinkit](http://better-react-spinkit.benjamintatum.com/) as an example...

![toc](https://user-images.githubusercontent.com/734535/35596981-228036ac-05d1-11e8-88c8-3c53043aa7e4.gif)

In my project, I am basically trying to make the table of contents become

[2018-01-31 07:36] sapegin commented on #799
That's the point of *isolated* mode -- to remove distractions and allow you to work on a single component.

I guess what you need is this: https://github.com/styleguidist/react-styleguidist/pull/768

[2018-01-31 07:40] sapegin commented on #798
No idea ;-/ I guess it's a bug somewhere in Styleguidist, but it needs some debugging.

Feel free to debug and / or fix if you have time.

[2018-01-31 10:52] nitinkh commented on #798
I think this should work fine:

[code]

[2018-01-31 10:55] nitinkh commented on #798
If it works let me know will send a pull request

[2018-01-31 18:38] jeffkamo commented on #799
Ah, thanks for linking to that PR, I hadn't seen that one. But yes, that looks exactly like what my team needs!

Consider this question answered 👍

[2018-02-01 00:15] wachunga opened #800 "Include path in section props"
I would like to add "Edit this doc" links to each section. It's easy enough to do so with a custom `ReactComponentRenderer` (eg, getting the path via `pathLine`) but less so with markdown sections (via `SectionRenderer`).

Any objections to including filepath as a prop [in processSection](https://github.com/styleguidist/react-styleguidist/blob/master/loaders/utils/getSections.js#L58)?

[2018-02-01 07:28] sapegin commented on #800
Feel free to send a PR! ;-)

[2018-02-01 11:36] TxHawks commented on #782
Fixed by #797

[2018-02-01 11:36] #782 closed

[2018-02-01 12:17] lgordey commented on #798
@sapegin I guess I found failing part - https://github.com/styleguidist/react-styleguidist/pull/801

[2018-02-01 20:02] milesj opened #802 "Docblock @param fails when using arrays"
Trying to type a `@param` with an array of strings. All of these fail: `string[]`, `String[]`, `Array<string>`, `Array<String>`.

It throws this error:

[code]

And shows nothing in the DOM.

<img width="236" alt="screen shot 2018-02-01 at 12 01 39 pm" src="https://user-images.githubusercontent.com/143744/35700392-b1a161b8-0747-11e8-8660-b571728544d4.png">

[2018-02-02 11:07] sapegin commented on #802
Looks like something unexpected is coming from react-docgen. Feel free to send a pull request with a fix!

[2018-02-02 21:20] drewandrew commented on #277
@timurista @sapegin https://github.com/styleguidist/react-styleguidist/blob/master/docs/Cookbook.md#how-to-connect-redux-store no longer exists. Anywhere else you would direct me/us for an example? I'm specifically looking to dispatch actions from a styleguidist README.md example.

[2018-02-02 22:01] timurista commented on #277
@drewandrew https://github.com/styleguidist/react-styleguidist/blob/master/docs/Thirdparties.md#redux

[2018-02-03 17:04] dzdrazil opened #804 "Component file name conventions"
I believe that I have thoroughly read what documentation I could find, so this is either a feature request or I simply don't know where to look for the appropriate documentation.

I would prefer to name my component files `button.component.tsx` whereas styleguidist prefers `Button.tsx`. Unfortunately, because the file name (instead of the component display name or class name) is used to generate t

[2018-02-03 17:23] sapegin commented on #804
You should file an issue at react-docgen-typescript, Styleguidist uses displayName if it's available.

[2018-02-03 17:38] dzdrazil commented on #804
Thanks @sapegin !

For anyone else who is looking here, I discovered that the displayName property in objects returned by the config's `parse` function is used to generate the components. Short of a change or a fix over at react-docgen-typescript, you can do what I did, wrap the default parse function of choice, and perform some string manipulation on the display name there.

With that, I was able

[2018-02-03 17:38] #804 closed

[2018-02-04 23:27] abottega commented on #713
Does styleguidist support <fragment></fragment> in the markdown example files now? Or is this still being worked on?

[2018-02-05 03:05] joshribakoff opened #806 "Production build doesnt work"
Dev build is working great, but when I try to get a production build it tells me the JS is invalid:

![screen shot 2018-02-04 at 7 01 06 pm](https://user-images.githubusercontent.com/4021306/35786693-e2f760d0-09dd-11e8-96c8-7f090531a1a1.png)

![screen shot 2018-02-04 at 7 01 01 pm](https://user-images.githubusercontent.com/4021306/35786694-e30dee4a-09dd-11e8-913c-2b6dbe481853.png)

 I tried editin

[2018-02-05 07:49] #806 closed

[2018-02-05 10:10] jbovenschen commented on #764
Asked it in an existing PR, https://github.com/adrianheine/acorn5-object-spread/pull/1 They decided to close it because acorn already support it out of the box, so we should be able to fix it with just updating buble, but today I saw there was a PR merged for downgrading the buble version because of some html entity encoding issues, would it be ok, if I try to get it working with a newer version o

[2018-02-05 10:12] sapegin commented on #764
@jbachhardie Sure, if you can make sure that both issues are fixed.

[2018-02-05 14:58] adrianheine commented on #764
I just fixed #798 (I think) in bublé, so upgrading to master should work. I'd like to do a release soon, too.

[2018-02-05 18:20] joshribakoff commented on #806
FYI the problem was fixed when updating nginx to output `content-type:
application/javascript; charset=utf-8` instead of `content-type:
application/javascript`.

For some reason Chrome was ignoring the meta tag on the page that said utf8.

On Sun, Feb 4, 2018 at 11:49 PM, Artem Sapegin <notifications@github.com>
wrote:

[2018-02-06 02:33] diegohaz opened #807 "[v6.2.2] TypeError: Cannot read property 'line' of undefined"
Using object rest properties on js blocks causes that error:

[code]

[code]

It was introduced in v6.2.2. It works on v6.2.1. Probably related to #801.

cc/ @lgordey

[2018-02-06 13:03] danrot commented on #765
Hey, I couldn't figure a single component making problems, but we've updated recently to 6.2.2, and now I get the following error instead:

[code]

That the process is running out of memory might be an indicator that too many components are around, isn't it? Does this message help in anyway?

[2018-02-06 13:27] #800 closed

[2018-02-06 13:43] boxfoot opened #808 "Dynamically requiring components / require.context"
Is there a way to dynamically require a component in an example?

My use case is building a gallery of all of our icons, which are all SVG files transformed into React components at load time using `svg-loader`.   We have a lot of icons, so I'd like to avoid having to manually require them for the gallery - it's also an extra build step that's easily forgotten when adding icons to our styleguide.

[2018-02-06 19:04] wachunga commented on #800
Thanks for releasing this. 👍

[2018-02-07 07:39] sapegin commented on #808
Try to put this code in a file and require if from an example – `require` in examples isn't real `require`.

[2018-02-07 07:53] #799 closed

[2018-02-07 07:53] #775 closed

[2018-02-07 07:53] #767 closed

[2018-02-07 14:48] iamtyce commented on #764
@yurist38 We followed suit with what you did to regain testing in IE11 capability but found it drastically slowed our webpack builds. Do you have the same problem?

[2018-02-07 20:35] efusien commented on #744
Webpack 4 is now in Beta and will be released soon as a stable version.
React-styleguidist is not working with Webpack 4 beta.

[2018-02-08 09:53] yurist38 commented on #764
@iamtyce I didn't measure it but I do not remember any visible changes in a build process.

[2018-02-08 13:07] boxfoot commented on #808
@sapegin worked perfectly.  I just submitted a PR that adds a cookbook recipe for this to make it easier for others to find the solution.

[2018-02-08 13:07] #808 closed

[2018-02-08 16:01] dallonf opened #810 "Feature Request: Better support for extending styleguideComponents"
When configuring `styleguideComponents`, sometimes I don't want to completely _replace_ a component; sometimes I want to _add_ to it. An example where I add a link to the source code of the component to the `Pathline`: https://github.com/dallonf/example/blob/extending-styleguide-components/lib/__styleguide__/Pathline/Pathline.js

Notice I have to reach deep into internals of the library to access

[2018-02-09 11:13] sapegin commented on #810
This is the right way to do that:

[code]

I don't see how we can make it significantly simpler, and I don't think we really should.

[2018-02-09 11:35] jbachhardie commented on #810
A possibility would be to have a way to provide a higher-order component that styleguidist would call with the native styleguidist component. e.g.

[code]

and then in config

[code]

[2018-02-09 13:14] dallonf commented on #810
If importing from deep in `lib` is the preferred method, I could write up a docs PR. I'd feel better knowing that approach is officially supported.

[2018-02-09 13:30] sapegin commented on #810
@jbachhardie I don't think that feature is *that* important, and I think the way it works is simple enough.

@dallonf Would be cool! “officially supported” is probably not the right name, we can’t guarantee no braking changes, otherwise any changes in Styleguidist components would require a new major release, so it’s up to the user to update their code. But the way imports work would be supported.

[2018-02-11 12:02] lgordey commented on #807
May be it's cause of `buble` downgrade but now I can't up it https://github.com/Rich-Harris/buble/issues/107

[2018-02-11 12:08] lgordey commented on #807
But yea, support for rest properties was added in `v0.17.0` here https://github.com/Rich-Harris/buble/pull/30

[2018-02-12 05:10] davidjb commented on #788
@sapegin Fixed in PR #814 -- could you take a look?  The file `make-webpack-config.js` seems to be the only spot where `highlightTheme` was used over the `editorConfig` option.  The PR is backwards compatible; it uses `editorConfig.theme` if present, and falls back otherwise.

[2018-02-12 16:23] lgordey commented on #807
I suppose this will help https://github.com/styleguidist/react-styleguidist/pull/815

[2018-02-13 01:23] viraths opened #817 "The new state change won't be reflected in callback function."
[code]

Expected outcome `new state: 2`
Current outcome `new state: 5`

Please note that I use above code example inside markdown file. (myExample.md).

It works perfectly in react. Please refer to the following example.
[React code snippet](https://codesandbox.io/s/504xq43r6l)

Thanks.

[2018-02-13 08:13] sapegin commented on #817
Feel free to send a pull request to fix that if that’s possible.  There’s a bit of magic here and I’m not really sure there are many use cases where this would be important.

[2018-02-13 09:33] #807 closed

[2018-02-13 12:13] krishna63 opened #819 "Get override of Preview class"
Hi Team,

In my project we are creating a modal so we need to append them to the body tag directly, doing so the styles are not getting applied, as it is looking for the selector

[code]

So as of now i have to create one more wrapper `div` in my testComponent and give a class attribute and value as `preview-TobeRemoved`. Can i get over of this. If so please suggest.

[2018-02-13 14:32] #819 closed

[2018-02-13 17:44] seivan opened #820 "Support ES6 exports"
I see this issue was closed without any comments and also locked https://github.com/styleguidist/react-styleguidist/issues/633

Is there a reason only default exports are allowed and not named exports?
We're in a position to rely on ES6 exports to allow tree shaking and would rather not use default exports.

I was wondering if there is any wiggle room here or if you stand strong on this?

[2018-02-13 21:56] allybee commented on #767
I am having this same issue and I've tried setting `isolate: false` but it doesn't seem to be working. @swese44 did you find a solution?

[2018-02-14 05:37] kopax commented on #578
Hi, I am testing styleguidist for the first time and I am using styled components.

I have tried @boldfacedesign solution but it didn't work for me :

[code]
And:
[code]

[2018-02-14 10:51] marcdavi-es commented on #820
Yeah I thought the response to #633 was close-minded.

A lot of developers use only named exports for a bunch of reasons. `eslint-plugin-import` is in the process of adding [a rule to prohibit the use of defaults exports](https://github.com/benmosher/eslint-plugin-import/issues/889).

Without this I need to hack styleguidist to make it usable.

[2018-02-14 10:56] seivan commented on #820
@marcdavi-es Well if you're in a hurry, you can get around it with
[code]

But it's very error prone.

[2018-02-14 12:00] koertvankleef opened #822 "How to include a component in docs"
I'm using a section in styleguidist to list colors, with a visual representation.
I've created a component to do this. But of course if I include it, it gets interpreted as an example, instead of content.

How can I get it to render as content?

Example md file:
## Colors

[code]

[2018-02-14 16:12] #788 closed

[2018-02-14 17:32] marcdavi-es commented on #820
I had a dig around to try a more robust solution. I'm a bit puzzled by what I found.

Given this set up...

[code]

...I see in the console `{ SomeComponent: ...,  __esModule: true}`.

That suggests that the exports of `/component.js` are exposed as `SomeComponent`. That's kind of weird because `SomeComponent` is the name of one of the named exports, not the exports as a whole.

In this case, the

[2018-02-14 22:47] wachunga commented on #701
@sapegin is that `Renderer` removal documented somewhere? I've found it very confusing trying to apply styles.

[2018-02-15 05:34] kopax opened #823 "[Bug] Styleguide fatal error when the component name is equal to "Map""
I want to generate a styleguide for my lib.

This is my Map component:

[code]

## Expected

Generate a fully working styleguide

## Result

The search in the left menu has a javascript Error:

My chrome console output the following error **when I type in the search input**:

[code]

If I rename my component like this it work :

[code]

It seems there is a clash name with the `Map` and your code

[2018-02-15 07:14] davidjb opened #824 "Live editing HTML code blocks"
Styleguidist allows you to use JS/JSX code blocks as "playground langs" (eg you get the CodeMirror editor and can edit examples live) and this is great for helping people try something out.

In my case, it'd be ideal to allow live editing of HTML code blocks too to help demonstrate recommendations of markup, classes, layout structure etc that aren't specifically tied to React components.

Has this

[2018-02-15 18:24] aldeed opened #826 "How to change component display name in UI but not break example imports"
This may be partially a docgen issue, but I am trying to change the name used for the component heading and TOC. Something like this:

[code]

The use case is that we have multiple versions of a component maintained at one time, but we want those version groupings beneath the component name in the hierarchy. Example:

[code]

Where the folder structure is:

[code]

So I am doing "Button" as a sect

[2018-02-16 09:46] nobuti commented on #747
Maybe (probably) I'm missing something but I can't get it to work. I'd like to generate docs from `/docs` in my project. I have this config:

[code]
The files `/docs/components/(grid|jumbo).md` exist, and the project is compiled successfully but those files are not rendered in the styleguide. I tried with a relative path as well with the same result. If I avoid `skipComponentsWithoutExample`, the

[2018-02-16 16:41] sapegin commented on #701
It is: https://react-styleguidist.js.org/docs/cookbook.html#how-to-change-styles-of-a-style-guide

[2018-02-16 21:31] okonet commented on #327
One use case for updating all components in the example is theme or i18n settings: I think this should be allowed via the plugin system as well on the "root" level. Something to think about.

[2018-02-18 19:40] seivan opened #830 "Ignore doctag doesn't work with TypeScript"
[code]

using
[code]

Both appear in the generated Styleguide.

[2018-02-18 19:44] seivan commented on #820
@marcdavi-es I just tested your idea, and as you said, it worked.

[2018-02-18 21:54] sbmadhav commented on #715
@Memoyr - How did you get it to work? I keep getting `TypeError: Cannot read property 'children' of undefined`

[2018-02-19 02:56] kopax opened #831 "[RFC] Hability to generate markdown documentation without React"
Before everything, I just wanted to say thanks for this amazing tools you just shared here.

We would like to use styleguide for generating all our frontend documentation. The Ui is customizable and we do not want to maintain two documentation GUI.

We sometimes have module that doesn't have react and want to benefits from the `.md` documentation (see https://react-styleguidist.js.org/docs/configu

[2018-02-19 02:57] kopax commented on #820
any update on this?

[2018-02-19 07:55] seivan commented on #820
@kopax There's an attached PR https://github.com/styleguidist/react-styleguidist/pull/825

[2018-02-19 11:05] Baudin999 opened #832 "Manually rendering PropTypes"
I'm building my components documentation "by hand". I don't use the automatic generation features because I have multiple silly and simple components, thins like:

[code]

What I do now is that I've added a `styleguide.config.js`:

[code]

The problem I have is that I want to manually add PropTypes information to the rendering of a component. I want the pretty table in my result :)

My `layout.Pap

[2018-02-19 21:16] will-stone commented on #586
I just had this issue too, for anyone struggling...

- Create `/src/assets/` directory, and put your favicon.ico file inside.
- In your `styleguide.config.js` file (should be at root), add the assetsDir config:
[code]

[2018-02-19 21:35] catherinefromont commented on #195
Hi there, I would love to try and fix this issue, how did everyone else go about fixing it?

[2018-02-20 04:05] stereobooster commented on #750
I do not want to open an separate issue, because I'm not sure if this an issue of `styleguidist` or my setup. I bootstrapped project with https://github.com/wmonk/create-react-app-typescript

My config is:

[code]

I get the following error

[code]

[2018-02-20 18:25] bluetidepro opened #833 "Add anchor ids to md doc headings"
*I'll probably look at building it out myself, but wanted to make a record of the idea just in case someone beats me to it.*

Basically, the idea is that anytime in your component docs that you use a header (ex: `## Blah`) it would auto add anchor id's to it so you could ref it in the url. This is a similar concept to what GitHub auto does for `.md` files. For example, I can link to https://github

[2018-02-20 18:31] dylan-wu opened #834 "Get started result in Webpack 1 is not supported by Styleguidist the minimum version is 2"
Following [Getting started guide](https://react-styleguidist.js.org/docs/getting-started.html)
Step 4. Start your style guide result in error:

[code]
Steps to reproduce:

# 1. Create new app with create-react-app 1.52
[code]
# 2. Install react-styleguidist and added to package.json
[code]
# 3. Run styleguide
[code]
# 4. npm log file attached
[2018-02-20T18_15_33_288Z-debug.log](https://github.com

[2018-02-21 10:06] seivan commented on #834
I don't think `Webpack 1` will be supported. I think `create-react-app` runs on `Webpack 3`

Where do you find `create-react-app 1.52`? https://github.com/facebook/create-react-app/releases

[2018-02-21 11:28] seivan commented on #833
@bluetidepro You mean, keep the sidebar around when linking to  e.g `http://localhost:6060/#!/Button/1` ?

[2018-02-21 13:30] bluetidepro commented on #833
@seivan No, I mean like if you were to go to `https://react-styleguidist.js.org/examples/basic/#!/Button` first, then in the examples you had various headers in the markdown (making the page extremely long possibly), you would be able to add an anchor link to your url (`https://react-styleguidist.js.org/examples/basic/#!/Button#Headername` for example) to auto scroll to that section on the long co

[2018-02-21 13:32] seivan commented on #833
Oh ok, you want your markdown tags have anchor links generated for them?
Because there are links right now for each example of a component.
It just hides the side bar. Not sure if you knew or not.

[2018-02-21 13:38] bluetidepro commented on #833
@seivan Right, but that doesn't work in this use-case because sometimes you write markdown notes, headers, and comments above the examples, but the isolation mode for each example that you are referring to is just for the example part. So, if I wanted to link to a certain header of the component's page docs then I wouldn't be able to today. This is esp useful if you have long docs for a component,

[2018-02-21 13:38] seivan commented on #833
Understood! 👍

[2018-02-21 13:40] bluetidepro commented on #833
@seivan Sweet! Yeah, it should be fairly straight forward to build out, since it's just added an `id` in the markdown generator for the headers, but I will take a closer look this week to see if it's as easy as I think it should be! :) haha

[2018-02-21 14:12] sapegin commented on #195
@catherinefromont That’s awesome! But I’m not sure what exactly are you asking. Do you have question about specific task?

[2018-02-21 16:42] dylan-wu commented on #834
I just did:
[code]
I think it's coming from here: https://www.npmjs.com/package/create-react-app
![image](https://user-images.githubusercontent.com/6586811/36492875-d40b32fe-16f3-11e8-98c2-28db3f69b4e3.png)

[2018-02-21 16:53] dylan-wu commented on #834
Remove and reinstall result in the same 1.5.2 version for me:
[code]

[2018-02-21 17:44] sapegin commented on #744
@efusien It's not related to this issue in any way. Feel free to send a PR with a fix, or create a separate issue with a list of think we need to do to support webpack 4.

[2018-02-21 17:57] vgnshs2 commented on #832
You mean you want to draw a table kind of structure with some rows and columns, list down details of your PropTypes?

[2018-02-21 17:58] sapegin commented on #833
That’s a good idea! Feel free to send a PR for that ;-) You’ll probably need to prefix IDs to avoid clashes with already existing IDs that we generate on the backend. We already have `github-slugger` in dependencies to generate slugs.

[2018-02-21 17:59] sapegin commented on #832
I don’t understand what problem you’re trying to solve bu I doubt there will be an easy way to do that.

[2018-02-21 18:11] sapegin commented on #834
Looks like they moved webpack config again:

[code]

[2018-02-21 18:16] sapegin commented on #834
Nope, feels like some Yarn issue. Works for me after:

[code]

[2018-02-21 18:28] sapegin commented on #823
That’s because we’re exposing all component as global variables. It’s not ideal and possible to fix, but nobody has time to do that yet.

There’s an issue for that already: #325. Feel free to send a pull request, I think there’s already some proposed solution ;-)

[2018-02-21 18:31] sapegin commented on #831
You need both, `react-dom` and `react` — they are peer dependencies of Styleguidist. Other than that I don’t see why it shouldn’t work.

[2018-02-21 18:32] sapegin commented on #830
I’m not really sure where we should fix that: here or in react-docgen-typescript. Feel free to investigate or send a pull request with a fix ;-)

[2018-02-21 18:33] seivan commented on #830
@sapegin Depends, I guess.
What part in the code would you take a components prop and document it?
We could see if the attributes have been stripped out by then, or if they're still included.

[2018-02-21 18:51] sapegin commented on #826
I see two issues here:

1. Different component name, visible in the UI. This would be nice to have, it’s mentioned in #195.
2. Access to different components with the same name, because all will have the same name. So you'll need to require the right component in each example, or invent something else ;-)

[2018-02-21 18:52] #96 closed

[2018-02-21 18:56] sapegin commented on #824
I think it could be a cool feature if we can generalize it: to allow rendering any kind of markup, not just HTML, so Styleguidist could be set up to render Mustache templates or Vue or whatever they want. But I have no idea how to do that and how complex it could be. Would be super cool if you could investigate more! 🦄

[2018-02-21 19:00] dylan-wu commented on #834
Yes it's working! Thank you.

[2018-02-21 19:00] #834 closed

[2018-02-21 20:46] sapegin opened #836 "Recommend npx instead of npm scripts in docs"
- [ ] Replace all `npm run styleguide` with `npx styleguidist server`.
- [ ] Replace all `npm run styleguide:build` with `npx styleguidist build`.
- [ ] Remove 3rd them in [the getting started guide](https://github.com/styleguidist/react-styleguidist/blob/master/docs/GettingStarted.md).

[2018-02-22 09:30] eps1lon opened #837 "Handlers and resolver dependent on propsParser"
After some time spent trying to get `handlers` to work with `react-docgen-typescript` as a `propsParser` I realized that the `handlers` and `resolver` config options are only used by the `propsParser` option.

However I couldn't find a documentation for that behavior. The documentation should at least contain a warning that it is possible that those options are ignored by the `propsParser`.

In th

[2018-02-22 13:36] kohgpat commented on #744
I've made a PR. Please take a look. https://github.com/styleguidist/react-styleguidist/pull/839

[2018-02-22 16:23] farrahD commented on #836
@sapegin can I try this out, I'm new at this

[2018-02-22 16:24] sapegin commented on #836
@farrahD Sure, that would be awesome! There are no code changes, only docs.

[2018-02-22 16:25] farrahD commented on #836
Okay, thats fine. I still want to try just to get the hang of it. Thanks!

[2018-02-22 16:26] sapegin opened #840 "Wrap examples in React.Fragment"
This will allow to render multiple components without wrapping them in some `<div>`:

[code]

We should keep React 15 compatibility and check if `React.Fragment` is available. Keep the existing behavior in React 15.

[2018-02-22 16:33] sapegin opened #841 "Modifier to add whitespace between example components"
Rendering multiple variations of the same component (like a button) on a single line is a very common use case. Right now you have to add some custom styles to add whitespace between components, or use spaces — both solutions aren’t perfect.

Add a new modifier (like `static` or `noeditor`), `spaced` (?) that will add styles like:

[code]

[2018-02-22 16:47] farrahD commented on #836
I did a Commit but not sure if I was supposed to do a Pull Request?
I didn't see a 3rd them
"Remove 3rd them in the getting started guide."

[2018-02-22 17:25] aldeed commented on #826
Agree, that sums up my two questions. My preference for 2 would be that any example in the .md for a specific component would be able to assume it should import the component that's in the same folder. But in any other .md file example, it would need to be required from a specific version as you say.

[2018-02-23 08:17] selrond commented on #548
So there's no reasonable way around it?

[2018-02-23 17:50] sapegin commented on #836
@farrahD Yup, otherwise I wouldn't be able to review and merge the code.

“3. Add npm scripts for convenience”, see the link in the issue description.

[2018-02-23 18:28] tizmagik commented on #840
Ah great idea! For React 15, is there harm in transparently wrapping in a div anyway so users wouldn’t have to explicitly wrap? 🤔 Something like:

[code]

[2018-02-23 18:56] sapegin commented on #840
Maybe not, if we make a major release. It may break some custom styles because of new added DOM element.

[2018-02-26 06:25] davidjb commented on #824
@sapegin Yep, generalisation would be really good.  I'll take a look into this when I get time but in the meantime, anyone else can feel free to jump in with suggestions 😎

[2018-02-26 08:31] Baudin999 commented on #832
Thank you for commenting. I'll try to explain.

If you just have one component per module (file) you get the default behaviour of styleguidist, which is great. But I want to have multiple components in my files and I want my PropTypes to be defined in another module (I call it my `propDefinitions.js` file). (extra info: I also have my flow type definitions in another file this seems to keep the co

[2018-02-26 08:32] mnemanja opened #845 "StencilJs support with react renderer"
I'm building a micro frontends app utilizing react as a composition layer and StencilJs with React renderer as a parts that will be composed.

I find Styleguidist to be a perfect fit since I would need a way to test the component in isolation.

Any chance to have a support for this?
Thanks!

[2018-02-26 18:27] thaggie opened #846 "JSX examples without compilation"
We have a bunch of places in our documentation where our examples aren't compilable to keep them briefer and to the point.

Is there a way to mark sample code in a markdown file such that its code isn't compiled.

[code]

[2018-02-26 20:24] farrahD commented on #836
'3. Add npm scripts for convenience' has the user add scripts to their package.json. If you're replacing npm with npx does that mean I should be removing the lines containing #3 from the getting started file?

[2018-02-26 20:56] sapegin commented on #836
Remove the whole 3rd step, it's up to the user now whether they want to create npm scripts or not.

[2018-02-26 20:57] sapegin commented on #846
Use `static` modifier: https://react-styleguidist.js.org/docs/documenting#usage-examples-and-readme-files

[2018-02-26 20:57] #846 closed

[2018-02-26 20:59] sapegin commented on #845
I have no idea what StencilJs is and how valuable will be its support for other users. And, more important, how can we support it.

[2018-02-27 11:24] vuongc commented on #765
@danrot I've got the same error with 43 components to display.

[2018-02-28 03:04] #831 closed

[2018-02-28 04:37] #823 closed

[2018-02-28 04:38] kopax commented on #325
I am also having that issues, I'm not sure if I understand the fix, did anybody tried @sapegin solution?

[2018-02-28 06:01] nwinger commented on #750
Experiencing the same issue as @stereobooster running `create-react-app my-app --scripts-version=react-scripts-ts`.

My config looks like this:
[code]

[2018-02-28 06:02] nwinger commented on #750
Update:
Had a colleague look at this, and he suggested we looked into the webpack.config.dev.js from react-scripts-ts. Sure enough, I'd placed my "lib" folder where the docs suggested, but I had to move it inside of source as the loader is looking in that directory for ts and tsx files.

[2018-02-28 08:36] pke opened #847 "Replace webpack with Parcel-Bundler?"
Have you taken a look at [ParcelJS](https://parceljs.org/). It is much easier to setup than webpack, faster in compiling, produces smaller bundles and supports hot-reloading.
With the insight how webpack is used in styleguidist, do you think a switch of the bundler would be possible?

[2018-02-28 11:09] kopax opened #848 "Is it possible to not document some components"
Hi, I have 3 components

- `<ProgressBar />`
- `<Step />`
- `<StepProgress />`

We want to only document the `<StepProgress />`, but we still need to have import available of the other components. I haven't seen such option in the documentation, is that possible ?

[2018-02-28 14:28] vuongc commented on #765
I don't know if this will help you but I am using lerna to manage the components version, in order to fix this issue I used the `--hoist` option which is basically the same as `npm link`.

[2018-02-28 15:38] KnisterPeter commented on #847
I think it would be way better and easier to move to webpack 4.
Its fast as well, has zero config too and will need less transition.

[2018-02-28 16:20] danrot commented on #765
Well, I don't want to start implementing lerna here if there is no other additional value for me :confused:

[2018-02-28 16:47] danrot commented on #765
Also found out that I can extend the heap size using the following command:

[code]

However, if doing that it only takes longer until the heap is filled up :confused: